<!-- DECISION FIVE -->
<div id="decision_5"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top"> Back to Decisions List </a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC/I/Dec.5<br/>29 June 1992 </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
        <p align="center"><strong>DECISION FIVE <br/>TO THE TREATY ON OPEN SKIES <br/>RESPONSIBILITY FOR THE PROCESSING OF FILM USED DURING AN OBSERVATION FLIGHT</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-left">
      <p>The States Parties to the Treaty on Open Skies, pursuant to the provisions of Article IX, Section II, paragraph 2 of the Treaty on Open Skies, have agreed as follows: </P>
      <p>The observing Party shall have the right to determine whether the observing Party, or the observed Party providing the observation aircraft, shall process the film used during the observation flight. In the event that the observing Party exercises its right to process the film used during the observation flight on an observation aircraft provided by the observed Party, the observed Party shall bear no responsibility for the quality of the processing of that original film negative. If the quality of the processed film is inadequate and the States Parties involved are unable, after making every effort, to resolve a dispute over whether failure or inadequacy in the quality of the data collected during the observation flight was due to sensor operation, to processing, or to some other factor, the observing Party shall assume responsibility and the observation flight shall count against the quotas of both States Parties. </P>
      <p>This Decision shall enter into force simultaneously with the Treaty on Open Skies and shall have the same duration as the Treaty.</P>
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 29 June 1992, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic. </P>
    </div>
  </div>

<hr />
