<div id="decision_8_15"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/8/15
      <br>20 April 2015
      <br>OSCC+
      <br>Original:ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong> 1st Meeting of the 67th Session</strong> <br>OSCC(67) Journal No. 219, Agenda item 4(b)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 8/15 <br/>REVISION FOUR OF DECISION NUMBER SEVENTEEN TO THE TREATY ON OPEN SKIES <br>The format in which data is to be recorded and exchanged on recording media other than photographic film</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The Open Skies Consultative Commission (OSCC), recalling the adoption of Decision Number Seventeen pursuant to Article IX, Section I, paragraph 1, of the Treaty on Open Skies (the Treaty), and pursuant to Article X, paragraph 5 of the Treaty, has decided as follows:</p>
        <div class="col-sm-12">
          <p>SECTION I. DEFINITION OF TERMS</p>
            <div class="col-sm-12">
              <p>The following definitions shall apply to terms used in this decision.</p>
              <p>The term "encoding techniques" means special techniques for processing data intended for storage on recording media which would permit the extraction from such data of more information than could be extracted without use of such processing. Error-correcting techniques that are commercially available are not considered encoding techniques. Additionally, lossless compression techniques that are open, non-proprietary, international standards and are commercially available are not considered encoding techniques.</p>
              <p>The term "recording format" means the technical data specific to the recording process, which describes the way in which information is transferred to the recording media.</p>
              <p>The term "logical format" means the arrangement convention for data and data bits on a digital recording medium. "Logical format" is synonymous with the terms "digital data format" and "file format."</p>
              <p>The term "OSDDEF" (Open Skies Digital Data Exchange Format) means the agreed-upon logical format for the exchange of digital data.</p>
              <p>The term "direct access medium", or "random access medium", means a storage medium in which data locations are found by going directly to their physical locations on the medium. In this decision, a direct access medium will be referred to as a "disk", for brevity, though it should be understood that this term encompasses digital recording media such as portable hard drives, portable solid state memory devices, and digital versatile disks (DVD).</p>
              <p>The term "optical disk" means a commercially available ROM storage medium with a capacity of no less than 4.37 gigabytes, whose recording format is an extension of the ISO 9660 Standard, and for which there exist commercially available PC-compatible drivers. External readers and recorders must be compatible with at least one of the following interface standards: USB, IEEE 1394 ("Firewire"), or eSATA.</p>
              <p>The term "peripheral bus" means a scheme for connecting peripheral devices such as hard drives, optical disks, and various other storage devices to a central processing unit.</p>
              <p>The term "file system" means a scheme for naming, storing, and retrieving files on a direct-access storage medium.</p>
              <p>The term "standardized exchange medium" means a random-access medium with a USB, IEEE 1394 ("Firewire") or eSATA peripheral bus and FAT32 or NTFS file system.</p>
              <p>The term "removable storage media" means a storage device that is intended by the certifying State Party to be physically removed from the sensor or computing equipment for the purpose of enabling the process of erasure or destruction to be conducted on the media in isolation of other system components.</p>
              <p>The term "non-removable storage media" means media that require disassembly of the sensor or computing equipment to gain physical access to the storage media.</p>
              <p>The term "storage media subject to erasure or destruction" means all storage media, that are part of any system in which sensor, sensor processing, or sensor related intermediate data are, stored on a permanent or temporary basis when power has been disconnected.</p>
              <p>The term "primary signal data" means the signal data that is first recorded on the aircraft, whether digital or analogue.</p>
              <p>The term "ancillary data" means any data, in addition to the primary signal data, that is recorded at the same time as the primary signal data and used to correct, calibrate, combine, or annotate the primary signal data.</p>
              <p>The term "original data" means all the data included in the primary signal data and ancillary data.</p>
              <p>The term "intermediate data" means all data obtained in the process of conversion of the original data on the aircraft or at the ground-based data processing unit, and each subsequent intermediate recording before conversion to OSDDEF and recording on the standardized exchange medium.</p>
              <p>The term "digital imagery product" means the result of applying the ancillary data to digitize, correct, calibrate, combine, or annotate the primary signal data in order to prepare the data for conversion to OSDDEF. The digital imagery product shall be in the form of a processed image, requiring no additional processing for display.</p>
              <p>The term "Open Skies digital imagery product" means the result of converting the digital imagery product or products of a sensor into OSDDEF.</p>
              <p>The term "associated log file" means a non-image file containing information not entirely included in the Open Skies digital imagery product.</p>
              <p>The term "data to be exchanged" means the file or files that are exchanged on the standardized exchange media.</p>
              <p>The term "duplication" refers to the process chosen to provide two or more identical copies of the data to be exchanged on standardized exchange media. This may be achieved either by copying a master copy of the data to be exchanged onto separate standardized exchange media, or by producing identical copies of the data to be exchanged on standardized exchange media simultaneously.</p>
              <p>The term "provisional information" means the data included in the primary signal data, ancillary data, and intermediate data, and any data used to create associated log files, if applicable.</p>
              <p>The term "certification technical document" is a data package of technical information pertaining to an observation aircraft and its associated sensors.</p>
            </div>
          <p>SECTION II. LIMITATIONS AND REQUIREMENTS</p>
            <div class="col-sm-12">
              <p>1. Unsanctioned copying of information, either on the aircraft, during transportation of media, or during the processing of data is prohibited.</p>
              <p>2. Wireless access to or transfer of provisional information or the data to be exchanged is prohibited. The processing equipment shall not include any wireless devices.</p>
              <p>3. The original data collected by video cameras, infrared imaging devices or sideways looking synthetic aperture radars shall be recorded without the use of encoding techniques.</p>
              <p>4. Storage media subject to erasure or destruction shall be on removable storage media.</p>
              <p>5. The provisional information created during the operation of the sensor or the ground processing system shall be maintained on storage media subject to erasure or destruction. With the exception of software stored on programmable microchips, the software used for the operation of the sensors or the ground processing system shall also be contained on storage media subject to erasure or destruction.</p>
              <p>6. The certifying State Party shall configure the ground-based processing system in such a way to allow for uninhibited access to all cabling, hardware, and software, or combination thereof.</p>
              <p>7. The equipment responsible for the processing, duplication, erasure, or verification of the observation or demonstration flight data shall be a stand-alone system of one or more components. This system shall not be connected to any other networks or devices.</p>
              <p>8. The creation of digital imagery products from the original data is defined in the corresponding sensor decision and other applicable decisions.</p>
              <p>9. If there is ancillary data that is intended to apply corrections to the primary signal data for aircraft motion, geometric, radiometric, or the combination of sub-images to form the complete image (stitching) or any other calibration or correction, then these corrections shall be made before conversion to OSDDEF.</p>
              <p>10. 10. The Open Skies digital imagery product shall be used for the exchange and analysis of flight test data, data collected during the in-flight examination, during an observation flight, and during a demonstration flight.</p>
              <p>11. The process of creating the Open Skies digital imagery product from the sensor's digital imagery product shall not involve any changes to the image data values.</p>
              <p>12. The data to be exchanged shall include the Open Skies digital imagery product files, the media annotation files, any required OSDDEF Interface Control Documents, and, if applicable, any associated log files specified for the sensor configuration.</p>
              <p>13. Any associated log file that is not included as part of the data to be exchanged shall be erased or destroyed.</p>
              <p>14. No data in any associated log file shall provide information at a greater precision than is permitted in accordance with OSCC Decision No. 6/13; the decision on annotation of data collected during an observation period.</p>
              <p>15. No data in any associated log file shall provide information that would permit any additional processing of the Open Skies digital imagery product. The format of an associated log file is not required to be OSDDEF, but it must be in a non-proprietary format and capable of being read by any commercially available text editing software application, such as Notepad or WordPad.</p>
              <p>16. The capacity of the standardized exchange medium shall be the minimum of 1000 gigabytes or the storage required to hold all of the digital data for the entire observation, demonstration or certification flight. If the digital data for an entire observation, demonstration or certification flight for a single sensor configuration will fit within the capacity of no more than five optical disks the State Party providing the aircraft may use optical disks as the standardized exchange medium.</p>
              <p>17. The process for duplicating the standardized exchange medium shall be done in a manner that does not alter or destroy any part of data to be exchanged.</p>
              <p>18. If a State Party makes any changes to the software specified in the sensor configuration, hardware, equipment, or procedures applicable to the certified sensor or the associated equipment as demonstrated at the certification event, it shall notify all other States Parties of such changes and provide updated certification technical documents no later than 90 days prior to use of the sensor on an observation flight. Within 10 days of receiving such a notification, any State Party may request either a ground demonstration of the software, hardware, or combination thereof, or a demonstration flight in order to confirm the results obtained at the certification. The requested demonstration shall occur no later than 30 days prior to the first use.</p>
              <p>19. Erasure procedures for all storage media subject to erasure shall overwrite with the value of one or zero over the entire storage space of that drive. In the event any storage medium subject to erasure is a solid state storage medium containing a secure erase feature, then the secure erase function shall also be used.</p>
            </div>
          <p>SECTION III. DATA TO BE PROVIDED IN THE CERTIFICATION TECHNICAL DOCUMENT</p>
            <div class="col-sm-12">
              <p>1. Pursuant to Article IV, paragraph 10, and Annex B, Section I, paragraph 7, of the Treaty, States Parties shall provide technical information on their recording equipment, media and formats used for recording all original data.</p>
              <p>2. A State Party certifying a sensor configuration with Open Skies digital imagery products shall provide a general description of the following, and, if applicable, properly reference all international standards for each sensor configuration in the certification technical document:</p>
                <div class="col-sm-12">
                  <p>(A) Recording formats and media for all original data, including the manufacturer name, type, model, media interfaces and file systems; and</p>
                  <p>(B) All the files that are part of the data to be exchanged.</p>
                </div>
              <p>3. The certifying State Party shall provide technical information describing the methods preventing unauthorized copying of information when transporting removable storage media, and during its processing. This shall include the procedures used to ensure the physical and data integrity of all of the provisional information from the time the primary signal data is recorded on the aircraft until the erasure or destruction of the storage media subject to erasure or destruction.</p>
              <p>4. The State Party certifying a sensor configuration with Open Skies digital imagery products shall provide a description of the procedures and a description of the hardware, algorithms, software, or combination thereof used for:</p>
                <div class="col-sm-12">
                  <p>(A) The production of the data to be exchanged;</p>
                  <p>(B) Verification that the software used during observation flights is consistent with the software specified in the sensor configuration. The certifying State Party shall provide sufficient reference information to enable an observed State Party to validate that the software used during an observation mission is consistent with the certified software;</p>
                  <p>(C) The erasure of storage media, including the procedure for the verification of erasure;</p>
                  <p>(D) The duplication of the data to be exchanged, including the procedure for the verification of complete duplication;</p>
                  <p>(E) The reading and interpretation of any associated log files;</p>
                  <p>(F) The production of the mission report; and</p>
                  <p>(G) The destruction of storage media, including the procedure for the verification of destruction, if applicable. This information shall include the type and model of all hardware elements and version numbers of all software elements.</p>
                </div>
            </div>
          <p>SECTION IV. PROCEDURES PERFORMED FOR THE PURPOSE OF CERTIFICATION</p>
            <div class="col-sm-12">
              <p>1. During the certification of the observation aircraft and its sensors, the certifying State Party shall demonstrate:</p>
                <div class="col-sm-12">
                  <p>(A) The process used to verify the software is consistent with the software specified in the sensor configuration;</p>
                  <p>(B) The procedures for loading or installing the software specified in the sensor configuration on the storage media;</p>
                  <p>(C) The technical processes of preparing the data to be exchanged and the reading and interpretation of any associated log files included in the data to be exchanged;</p>
                  <p>(D) The duplication of the information on the standardized exchange medium and the procedures for verification of the complete duplication;</p>
                  <p>(E) The erasure procedures required by Section II, paragraph 19 of this decision for the devices or programmes used for conducting the erasure procedure of the storage media subject to erasure or destruction; and</p>
                  <p>(F) The procedures for the verification of erasure or destruction.</p>
                </div>
              <p>2. States Parties taking part in certification shall have the right to verify that the processes and procedures demonstrated under paragraph 1 of this section conform to the requirements of this decision.</p>
              <p>3. States Parties taking part in the certification shall also have the right to ascertain that the ground processing equipment is in accordance with Sections II and III of this decision.</p>
              <p>4. If the certifying State Party intends to perform all or part of the processing after an observation flight on the aircraft rather than at the location of the ground-based processing facility, any differences in equipment and procedures shall be demonstrated during certification.</p>
            </div>
          <p> SECTION V. PROCEDURES DURING AND AFTER AN OBSERVATION OR DEMONSTRATION FLIGHT</p>
            <div class="col-sm-12">
              <p>1. The procedures described in Section III, paragraph 3, of this decision for ensuring the integrity of the data shall be used during an observation flight, and, unless otherwise agreed, at a demonstration flight.</p>
              <p>2. In the event that the observing State Party provides the observation aircraft, the observing State Party shall process the recording media, unless otherwise agreed.</p>
              <p>3. In the event that the observed State Party provides the observation aircraft, the observing State Party shall have the right to determine whether the observing State Party or the observed State Party shall process the recording media.</p>
              <p>4. The procedures for producing the data to be exchanged, erasure or destruction of the storage media subject to erasure or destruction, and duplication of the standardized media shall be performed in the presence of at least two officials of the observed State Party and at least two officials of the observing State Party, unless the Parties agree on a different number of officials.</p>
              <p>5. = During pre-flight inspection or prior to ground processing, as applicable, the State Party providing the aircraft shall use the methods demonstrated at certification for confirming the software being used is consistent with the software specified in the sensor configuration. If the State Party that did not provide the aircraft is not satisfied that the software is consistent with the software specified in the sensor configuration it may request a demonstration flight.</p>
              <p>6. After the completion of the observation flight, the State Party operating the aircraft shall have the right to remove non-image data from the onboard system for the purpose of producing the mission report. Each State Party taking part in the observation flight shall have a right to review or obtain identical copies of the information being downloaded from the onboard system.</p>
              <p>7. During the pre-flight inspection, the observation mission, and subsequent media processing, the State Party not performing the processing shall have the right to identify and confirm the location of all storage media subject to erasure or destruction.</p>
              <p>8. The State Party performing the processing shall configure the processing system in such a way to allow for examination of all cabling and hardware. States Parties monitoring the processing shall be allowed to examine the processing system in a manner that neither degrades, damages, or prevents subsequent operation of the processing system nor alters the electrical or mechanical structure of the processing system.</p>
              <p>9. The State Party providing removable storage media or standardized exchange media shall ensure that the storage media are blank and free of viruses or malicious software. The State Party receiving the storage media shall have the right to confirm that the storage medium is blank and free of viruses or malicious software.</p>
              <p>10. Unless otherwise agreed, the observing State Party shall perform the duplication of the data to be exchanged, in accordance with the following requirements:</p>
                <div class="col-sm-12">
                  <p>(A) The duplicates shall be on standardized exchange media of identical type, capacity, peripheral bus, and file system;</p>
                  <p>(B) Both the observing and observed States Parties shall have the right to verify the accuracy of the duplication. The State Party providing the aircraft shall use the verification procedures demonstrated at certification or as changed pursuant to Section II, paragraph 18 of this decision;</p>
                  <p>(C) The process selected for verification of the duplication shall not alter any of the files included on either copy of the data to be exchanged;</p>
                  <p>(D) If the observed State Party and observing State Party are both satisfied that the data is unchanged and identical on each copy of the data to be exchanged, then the State Party monitoring the processing shall choose which copy it wishes to retain;</p>
                  <p>(E) If either the observed State Party or the observing State Party is not satisfied by the duplication and verification processes; the standardized exchange media shall be erased and new copies of the data to be exchanged shall be placed on them, and the process of verification repeated. If the process is still not satisfactory, the State Party monitoring the process shall, by mutual agreement, choose which copy it wishes to retain.</p>
                </div>
              <p>11. After the production of the data to be exchanged, its placement on standardized exchange media, duplication, and verification of the copy, the observed State Party shall select one of the following options:</p>
                <div class="col-sm-12">
                  <p>(A) The observing State Party shall erase or destroy all storage media using the methods demonstrated at certification.</p>
                    <div class="col-sm-12">
                      <p>(1) The observed State Party has the right to observe the erasure or destruction of the storage media.</p>
                      <p>(2) In the case that the observing State Party erases the storage media, the observed State Party shall have the right to purchase all or individual storage media. or;</p>
                    </div>
                  <p>(B) The observed State Party using procedures, software, or equipment in accordance with the decision on additional non-destructive testing equipment shall erase all the storage media using the erasure procedures specified in Section II, paragraph 19 of this decision.</p>
                    <div class="col-sm-12">
                      <p>(1) If the procedure chosen by the observed State Party results in the destruction or damage of any equipment owned by the observing State Party, the additional costs shall be borne by the observed State Party.</p>
                      <p>(2) The observing State Party has the right to observe the process of erasure.</p>
                    </div>
                </div>
              <p>12. The State Party monitoring the processing shall have the right to ascertain that the data to be exchanged is in conformance with the sensor configuration certified and complies with the Treaty and relevant OSCC decisions.</p>
              <p>13. Unless otherwise agreed, the processing, transfer, conversion, duplication, and erasure or destruction of storage media collected by video cameras, infrared imaging devices or sideways looking synthetic aperture radars shall be completed as quickly as possible and within the following timelines:</p>
                <div class="col-sm-12">
                  <p>(A) Within fifteen days after the departure of the observation aircraft from the territory of the observed State Party if the original recording medium is processed at a facility outside the territory of the observed State Party chosen by the observing State Party. In such cases, the observing State Party is responsible for the quality, entirety and completeness of processing, duplication and erasure or destruction.</p>
                  <p>(B) Within seven days after the beginning of processing if the original recording medium is processed at a facility within the territory of the observed State Party at the request of the observing State Party. In such cases, the observing State Party is responsible for the quality, entirety and completeness of processing, duplication and erasure or destruction.</p>
                  <p>(C) If the observation aircraft was provided by the observed State Party and the observing Party exercises its right to process the data, the observed State Party shall not be responsible for the quality of the processing of the original data. If the quality of the processed data to be exchanged is inadequate and the States Parties involved are unable, after making every effort, to resolve a dispute over whether failure or inadequacy in the quality of the data collected during the observation flight was due to sensor operation, to processing, or to some other factor, the observing State Party shall assume responsibility and the observation flight shall count against the quotas of both States Parties.</p>
                </div>
              <p>14. If, during or after an observation flight or after processing of the imagery, changes to a specified sensor configuration are detected the files from each observation period where this change occurred shall not be recorded on the standardized exchange media.</p>
              <p>15. If a demonstration flight is requested by any State Party in accordance with Article IV, paragraph 13 or Annex F, Section III, paragraph 1 or Annex F, Section III, paragraph 2 of the Treaty on Open Skies, the observed State Party has the responsibility for providing the calibration target and associated ground-based measurement equipment. The State Party supplying the aircraft has the responsibility of providing the hardware and software necessary for the processing of the primary signal data into OSDDEF.</p>
                <div class="col-sm-12">
                  <p>(A) For video cameras and infra-red devices, the observed State Party shall provide the hardware and software necessary for the determination of resolution by visual analysis.</p>
                  <p>(B) For synthetic aperture radars, the State Party supplying the aircraft shall provide the hardware and software necessary for the determination of resolution as specified under the applicable decision. 16. Pursuant to Article IX, Section IV, of the Treaty, each State Party shall have the right to request and receive from the observing State Party copies of data collected by sensors during an observation flight. Such copies shall be in the form of the Open Skies digital imagery product.</p>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p> This decision shall enter into force on the date of its adoption and shall have the same duration as the Treaty. In accordance with OSCC Decision No. 3/10, the OSCC may consider revisions to the decision at any time.</p>
      <p> Observation aircraft and sensors certified prior to 1 January 2015 shall remain certified.</p>
      <p> Prior to the certification of infrared (IR) or synthetic aperture radar (SAR) sensors, the Open Skies Consultative Commission shall convene to re-examine this decision on the basis of practical experience and to approve any amendments to this decision as necessary for these sensor categories.</p>
      <p> This decision shall not affect the exchange of data using the S-VHS PAL format for analogue video sensor configurations certified before 1 January 2006.</p>
      <p> Decided in Vienna, in the Open Skies Consultative Commission, on 20 April 2015, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
