<div id="decision_11_15"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/11/15
      <br>22 June 2015
      <br>OSCC+
      <br>Original:ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong> 3rd Meeting of the 67th Session</strong> <br>OSCC(67) Journal No. 221, Agenda item 3(b)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 11/15 <br/>OPEN SKIES FORMAT 41 ON TECHNICAL INFORMATION FOR REQUESTING ADDITIONAL CATEGORIES OF NON-DESTRUCTIVE INSPECTION EQUIPMENT</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The Open Skies Consultative Commission pursuant to the provisions of the Treaty on Open Skies and OSCC Decision No. 7/15, Section II, has decided to adopt the Open Skies Format 41 on technical information for requesting additional categories of non-destructive inspection equipment, as attached to this decision.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 22 June 2015, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 col-sm-offset-10">
      <p align="right">OSCC.DEC/11/15
      <br/>22 June 2015
      <br/>Annex</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>OS FORMAT 41
      <br>PRECEDENCE:
      <br>FROM:
      <br>TO: ALL STATES PARTIES
      <br>INFO:
      <br>SUBJECT: TECHNICAL INFORMATION FOR REQUESTING ADDITIONAL CATEGORIES OF
      <br>NON-DESTRUCTIVE INSPECTION EQUIPMENT</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>1. OS MESSAGE NUMBER:</p>
      <p>2. OS MESSAGE DATE AND TIME:</p>
      <p>3. TREATY REFERENCE: REVISION ONE TO DECISION TWO (OSCC.DEC/7/15), SECTION II</p>
      <p>4. MESSAGE REFERENCE:</p>
      <p>5.CONTENT</p>
        <div class="col-sm-12">
          <p>A. PROPOSED CATEGORY OF INSPECTION EQUIPMENT:</p>
            <div class="col-sm-12">
              <p>(1) PURPOSE OF INSPECTION EQUIPMENT FOR PROPOSED CATEGORY:</p>
              <p>(2) DESCRIPTION OF INSPECTION EQUIPMENT FOR PROPOSED CATEGORY:</p>
              <p>(3) EXAMPLE MODEL AND MANUFACTURER OF EXAMPLE INSPECTION EQUIPMENT:</p>
              <p>(4) TECHNICAL SPECIFICATIONS OF EXAMPLE INSPECTION EQUIPMENT (OR WEB LINK, IF APPLICABLE):</p>
              <p>(5) PLANNED PROCEDURES FOR INTENDED USE OF THE EXAMPLE INSPECTION EQUIPMENT:</p>
              <p>(6) INFORMATION TO OBTAIN OPERATORS MANUAL OR TECHNICAL DOCUMENTATION FOR THE EXAMPLE INSPECTION EQUIPMENT:</p>
            </div>
          <p>B. ETC. FOR EACH PROPOSED CATEGORY OF INSPECTION EQUIPMENT</p>
        </div>
      <p>6.REMARKS:</p>
      <p>7.END OF OS MESSAGE NUMBER:</p>
    </div>
  </div>

<hr>
