<div id="decision_6_15"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/6/15
      <br>27 March 2015
      <br>OSCC+
      <br>Original:ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong> 4th Meeting of the 66th Session</strong> <br>OSCC(66) Journal No. 218, Agenda item 4(f)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 6/15 <br/>THE CONTINUED IMPLEMENTATION OF REVISION THREE OF DECISION NUMBER SEVENTEEN TO THE TREATY ON OPEN SKIES: THE FORMAT IN WHICH DATA IS TO BE RECORDED AND EXCHANGED ON RECORDING MEDIA OTHER THAN PHOTOGRAPHIC FILM</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Understanding that OSCC Decision No. 9/13 is scheduled to expire on 27 March 2015,</p>
      <p>Reflecting the States Parties' desire to keep this decision in force for already certified aircrafts and their sensors,</p>
      <p>Underscoring that States Parties have committed to update the procedures performed for the purposes of certification, including the procedures in Section III of Decision No. 9/13, before another certification event of a digital sensor is scheduled,</p>
      <p>The Open Skies Consultative Commission (OSCC) decides as follows:</p>
        <div class="col-sm-12">
          <p>1. Revision three of OSCC Decision Number Seventeen to the Treaty on Open Skies: the format in which data is to be recorded and exchanged on recording media other than photographic film shall remain in effect for already certified aircrafts and sensors;</p>
          <p>2. No new certification events will be initiated under revision three of Decision Number Seventeen.</p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 27 March 2015, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
