<div id="decision_5_15"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/5/15
      <br>27 March 2015
      <br>OSCC+
      <br>Original:ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong> 4th Meeting of the 66th Session</strong> <br>OSCC(66) Journal No. 218, Agenda item 4(e)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 5/15 <br/>REVISION TWO TO DECISION NUMBER FOURTEEN TO THE TREATY ON OPEN SKIES <br>Methodology for calculating the minimum height above ground level at which each video camera with real time display installed on an observation aircraft may be operated during an observation flight</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The Open Skies Consultative Commission (OSCC), recalling the adoption of Decision Fourteen pursuant Appendix 1 to Annex D, Section III of the Treaty on Open Skies (the Treaty), and acting pursuant to Article X, paragraph 5 of the Treaty, has decided as follows:</p>
        <div class="col-sm-12">
          <p>SECTION I. DEFINITION OF TERMS</p>
            <div class="col-sm-12">
              <p>The following definitions shall apply to terms used in this Decision:</p>
              <p>The term "video camera" means a passive analogue or digital electro-optical sensor, operating in a framing mode, within the wavelength region between 0,3 and 1,1 micrometres.</p>
              <p>The term "nominal wavelength" refers to standard wavelength values for blue, green, and red spectral bands. The blue, green and red spectral bands have nominal wavelengths of 0,470, 0,547, and 0,635 micrometres respectively.</p>
              <p>The terms "spectral band" and "band" mean a continuous interval of electromagnetic wavelengths from a certain minimum value of the wavelength to a certain maximum value of the wavelength.</p>
              <p>The term "bandwidth" means the difference between the maximum and minimum wavelength of a band measured at the minus 3dB points (full width half maximum points).</p>
              <p>The term "central wavelength" of a spectral band means the arithmetic average of the minimum and maximum wavelengths measured at the minus 3dB points.</p>
              <p>The term "panchromatic capability" or "panchromatic band" means a band which is at least 0.2 microns in width (as measured by the difference of the upper and lower 3dB points) and encompasses the nominal green and red wavelengths (0,547 and 0,635 microns).</p>
              <p>The term "detector element" means the smallest definable element of the detector array of a video camera.</p>
              <p>The term "detector element value" means the numerical value associated with a single detector element.</p>
              <p>The term "ground element" means the area on the ground that is projected on a single detector element at the time of imaging.</p>
              <p>The term "ground-derived image element" means a digitally processed signal that is stored in the memory, the value of which is computed from one or more detector element values.</p>
              <p>The term "empty image element" means a data element included in the image array that is not computed from detector elements.</p>
              <p>The term "image array" means a rectangular array of data elements consisting of ground-derived image elements and empty image elements.</p>
              <p>The term "pixel" means a picture element, which is equivalent to an image element.</p>
              <p>The term "equivalent scheme of image generation" means a scheme showing the relationship between ground elements and the ground-derived image elements.</p>
              <p>The term "effective focal length" (f<sub>e</sub>) means the focal length of the lens of the equivalent scheme of image generation or the distance between the projection centre of that scheme and the image surface; Effective focal length (f<sub>e</sub> ) is expressed in pixels or in millimetres.</p>
              <p>The term "grey level" means the numerical value of an image element on an integer scale.</p>
              <p>The term "bit depth" is the number of bits used to represent the value of a single detector element.</p>
              <p>The term "bit depth per spectral band" is the number of bits per pixel for each spectral band in the Open Skies digital imagery product.</p>
              <p>The term "primary signal data" means the signal data that is first recorded on the aircraft, whether digital or analogue.</p>
              <p>The term "ancillary data" means any data, in addition to the primary signal data that is recorded at the same time as the primary signal data which is used to correct, calibrate, combine, or annotate the primary signal data.</p>
              <p>The term "original data" means all the data included in the primary signal data and ancillary data.</p>
              <p>The term "intermediate data" includes all data obtained in the process of conversion of the original data on the aircraft or at the ground-based data processing unit, and each subsequent intermediate recording before conversion to OSDDEF and recording on the standardized exchange medium.</p>
              <p>The term "provisional information" means the data included in the primary signal data, ancillary data, and intermediate data.</p>
              <p>The term "digital imagery product" means the result of applying the ancillary data to digitize, correct, calibrate, combine, or annotate the primary signal data in order to prepare the data for conversion to the Open Skies Digital Data Exchange Format (OSDDEF). These should include, if available and appropriate, geometric corrections, radiometric corrections or other corrections for aircraft motion, and the combination of sub-images to form the complete image. Corrections for sensor perspective are permitted, including geo-rectification.</p>
              <p>The term "Open Skies digital imagery product" means the result of converting the digital imagery product or products of a sensor into OSDDEF.</p>
              <p>The term "associated log file" means a non-image file containing information not entirely included in the Open Skies Digital Imagery Product.</p>
              <p>The term "data to be exchanged" means the file or files that are exchanged on the standardized exchange media.</p>
              <p>The term "OSCC atmosphere parameters" means the parameters required to define the atmosphere which will include at least the following measurements: air temperature (&#176;C), pressure (mb), relative humidity (%), and visibility (km), and altitudes (m) at which the above parameters are measured.</p>
              <p>The term "pixel replicated zoom" means the display of a digital image in which each original pixel value is repeated as a square array of pixels with a specified number of rows.</p>
              <p>The term "zoom by cubic convolution" means the display of a digital image in which each original pixel value is supplemented with new pixels whose values are determined by interpolation with a cubic function.</p>
              <p>The term "H<sub>min</sub>" means the value of the minimum height above ground level at which each sensor configuration may be operated during observation flights established by this Decision and published in the certification report.</p>
              <p>The term "H<sub>min-expected"</sub> means the H<sub>min</sub> estimate established from the flight test data provided before certification.</p>
              <p>The term "H<sub>min-at-certification"</sub> means the H<sub>min</sub> estimate established from the data gathered in the in-flight examination at the time of certification.</p>
              <p>The term "H<sub>min-demonstration"</sub> means the H<sub>min</sub> estimate established from the data gathered in a demonstration flight.</p>
              <p>The term "H<sub>min-calculated"</sub> means the H<sub>min</sub> estimate established from the flight test data, or at a certification, or at a demonstration flight using the procedures set forth in of this Decision.</p>
              <p>The term "Hmin-flight" means the value of the minimum height above ground at which each sensor configuration may be operated in the case of an observation flight following a demonstration flight.</p>
              <p>The term "flight test" means a flight conducted to collect data in order to establish ground resolution for one or more sensor configurations.</p>
              <p>The term "flight test data" means data collected during flight tests in order to establish ground resolution for one or more sensor configurations.</p>
              <p>The term "H<sub>i</sub>" denotes the height above ground of the aircraft corresponding to a specific image (i) of the calibration target used for visual analysis.</p>
              <p>The term "L<sub>i</sub>" denotes the ground resolution determined by visual analysis corresponding to a specific image (i).</p>
              <p>The term "relative reflectance" means the ratio of the radiant flux of a surface to the radiant flux from a second surface of known reflectance times the known reflectance of this second surface.</p>
              <p>The term "target modulation" means, when measured on the ground, the ratio of the difference of the relative reflectance of the light and dark areas of the brightness panels to the sum of these values; and when measured in the image, the ratio of the difference of the grey level values of the light and dark areas of the brightness panels to the sum of these values.</p>
              <p>The term "certification technical document" is a data package of technical information pertaining to an observation aircraft and its associated sensors.</p>
              <p>The term "pixel map" refers to a graphic illustration mapping the pixel layout for the overall image array including the location of the ground-derived image elements, empty image elements, and any potential deviations between the image elements.</p>
              <p>The term "pan-sharpening" means using data from a high resolution panchromatic band together with appropriate algorithms to increase the spatial resolution of low resolution spectral bands (normally: blue, green, red and NIR), recorded from the same scene.</p>
              <p>The term "colour image" means an image file, obtained by a video camera configuration, containing three, or a maximum of four spectral bands that are, or can be, associated with basic display colour information red, green and blue (RGB), so that a combination of any of these bands can be viewed in colour.</p>
              <p>The term "Bayer pattern or similar focal plane design" means a matrix detector with a two-dimensional array of colour filters on its surface.</p>
              <p>The term "video camera configuration" means a specified combination of the following:</p>
                <div class="col-sm-12">
                  <p>(a) Sensor type and model;</p>
                  <p>(b) Image designation;</p>
                  <p>(c) Spectral information; for each band, upper and lower limits of spectral bands at -3dB level;</p>
                  <p>(d) Filter name, if applicable for each spectral band;</p>
                  <p>(e) Type and model of data recording equipment;</p>
                  <p>(f) Sensor window designation;</p>
                  <p>(g) Sensor installation;</p>
                  <p>(h) For each lens, the field of view or scan angles measured relative to the normal of the camera body, the relative aperture, and focal length or the effective focal length, if applicable;</p>
                  <p>(i) Angles of deviation for video cameras not mounted vertically;</p>
                  <p>(j) Designation of the detector array or arrays, including manufacturer, type and model;</p>
                  <p>(k) The bit depth per spectral band;</p>
                  <p>(l) Hardware manufacture and model, and software version for processing the video signal and generation of primary signal data;</p>
                  <p>(m) Designation and version of software for image processing, if applicable;</p>
                  <p>(n) Type and model of the equipment for measuring aircraft motion data used for imaging; and</p>
                  <p>(o) For sensors that are certified after 1 January 2006, and that record initially in analogue format, the type and model of the equipment used to digitize the output, sampling rate and number of bits per pixel per spectral band that is to be certified.</p>
                </div>
            </div>
          <p>SECTION II. LIMITATIONS AND REQUIREMENTS</p>
            <div class="col-sm-12">
              <p>1. For video camera configurations equipped with lenses having a variable focal length, the H<sub>min</sub> shall be determined with the lens adjusted at its maximum focal length. The resulting value of H<sub>min</sub> (calculated at maximum focal length) becomes the H<sub>min</sub> for all focal lengths.</p>
              <p>2. For each video camera configuration, any variable video camera controls shall be set to achieve the best ground resolution for the conditions.</p>
              <p>3. For video camera configurations equipped with a variable angle of deviation from vertical, the H<sub>min</sub> shall be determined with the angle of deviation set at the minimum from vertical. The resulting value of H<sub>min</sub> shall be used for all other angles of deviation from vertical settings.</p>
              <p>4. Sensor systems considered acceptable within this decision shall not have more than 4 spectral bands in specified regions (blue, green, red, and near infrared). Sensor systems, which include panchromatic capabilities, either individually or in combination with up to four spectral bands are acceptable.</p>
              <p>5. This Decision is not applicable to video line-scanners. For the purpose of this paragraph, video line-scanners comprise:</p>
                <div class="col-sm-12">
                  <P>(A) Push-broom line-scanners which use one or more rows of detectors oriented with the rows perpendicular to the line of flight of the aircraft. The image is extended in the direction of flight by the motion of the aircraft; and</p>
                  <P>(B) Whisk-broom line-scanners which use between 1 and 128 rows of detectors oriented along the line-of-flight of the aircraft. The across-track image is formed by terrain scanning in the across-track direction by means of a scanning mirror, rotating prism, or similar means. The image is extended in the direction of flight by the motion of the aircraft.</p>
                </div>
              <p>6. Video cameras producing images in more than one and up to five spectral bands shall be considered acceptable if they fulfil the following requirements:</p>
                <div class="col-sm-12">
                  <P>(A) For each red, green, or blue spectral band, the bandwidth, D&lambda;, of that band shall be greater than 4 times the deviation of the central wavelength of that band, &lambda;band, from the nominal wavelength of that band, &lambda;<sub>nominal</sub> D&lambda;&#8805; (maximum of 4 |&lambda;<sub>band</sub> - &lambda;<sub>nominal</sub>| and 0,050 micrometres);</p>
                  <P>(B) For the near infrared band (if available), both the upper and lower minus 3dB points shall be within the limits of 0,690-1,100 microns;</p>
                  <P>(C) The bandwidths and central wavelengths of each spectral band shall be measured with the filters appropriate for the sensor configuration;</p>
                  <P>(D) Video cameras in which not all spectral bands fulfil the requirements listed under (A) and (B) may undergo certification provided it is physically impossible to collect and record information in the spectral band which does not fulfil the above-mentioned requirements. Examples of methods to ensure the physical impossibility of collecting and recording information are the use of lens covers, dismantling of appropriate sensor units or any other method (excluding software methods) to guarantee the inoperability of the band.</p>
                </div>
              <p>7. If a State Party chooses to certify a pan-sharpened sensor configuration, the underlying panchromatic image shall also be offered as a sensor configuration for certification. The H<sub>min</sub> value reported in the Open Skies Format 25 for the pan-sharpenedsensor configuration shall be the larger of the H<sub>min</sub> values computed for the panchromatic sensor configuration and the pan-sharpened sensor configuration.</p>
              <p>8. The sensor may achieve the specified ground resolution of 30 cm at varying altitudes only by physical changes that can be verified by visual inspection, such as installation of resolution degrading filters, lens covers, or lens changes. No other processing steps, either in hardware or software, designed to alter the value of the height of flight above ground at which the sensor is to be flown, are permitted.</p>
              <p>9. The value of an empty image element shall be set to zero.</p>
              <p>10. The bit depth of the image elements in the primary signal data shall be no less than 8 bits and no greater than 16 bits.</p>
              <p>11. The bit depth of the image elements of the Open Skies digital imagery product shall include no more than 16 information bits.</p>
                <div class="col-sm-12">
                  <P>(A) Unused bits shall be set to zero.</p>
                  <P>(B) The zeroed bits shall either be fully left justified or right justified as described in the currently operative Decision on the Open Skies Digital Data Exchange Format.</p>
                </div>
              <p>12.The digital imagery product shall be in the form of a processed image, requiring no additional processing for display.</p>
              <p>13. The Open Skies digital imagery product shall be used for the exchange and analysis of flight test data, data collected during the in-flight examination, during an observation flight, and during a demonstration flight.</p>
              <p>14. No data in any associated log file shall provide information at a greater precision than is permitted under the Decision on Annotation of Data Collected during an Observation Period.</p>
              <p>15. No data in any associated log file shall provide information that would permit any additional processing of the Open Skies digital imagery product. The format of an associated log file is not required to be OSDDEF.</p>
              <p>16. The data to be exchanged shall include the Open Skies digital imagery product files, the media annotation files, any required OSDDEF Interface Control Documents, and, if applicable, any associated log files specified for the sensor configuration. If any associated log file is to be erased or destroyed, it shall not be considered part of the data to be exchanged.</p>
              <p>17. The standardized exchange media shall include the data to be exchanged.</p>
              <p>18. If, as a part of a standard evolution of sensor systems, a software change or hardware change is incorporated in a previously certified video camera configuration, the Certifying State Party shall notify all States Parties of the change and declare and justify whether or not a new certification is required.</p>
              <p>19. A configuration certified under this Decision that has a higher H<sub>min</sub> than the planned height above ground for a given leg of an observation flight shall be disabled for the duration of that leg of the observation flight.</p>
              <p>20. Appropriate methods to ensure the physical impossibility of collecting and recording information of specified operating modes include the use of lens covers, dismantling of appropriate sensor units, electrical disabling of a specific configuration, removal of the storage media associated with the configuration, or any other method (excluding software methods) to guarantee the inoperability of the corresponding operating mode or modes. The type of disabling device or the method for a configuration to be disabled shall be described in the Open Skies Format 40.</p>
              <p>21. The software for visual analysis shall be able to perform the following operations on the displayed Open Skies digital imagery product:</p>
                <div class="col-sm-12">
                  <P>(A) Selection of sub-images of the Open Skies digital imagery product containing the calibration target, if applicable;</p>
                  <P>(B) The software must be capable of returning to the original Open Skies digital imagery product or the original sub-image at any stage of the visual analysis;</p>
                  <P>(C) Brightness and contrast adjustment:</p>
                    <div class="col-sm-12">
                      <P>(1) The numerical value of a display pixel, pdisplay is given in terms of the numerical value of a pixel within the Open Skies digital imagery product, p<sub>image</sub>, by: p<sub>display</sub> = minimum (p<sub>max</sub>, maximum (p<sub>min</sub>, O + G * p<sub>image</sub>)) where O and G are adjustable parameters, and p<sub>max</sub> and p<sub>min</sub> are the maximum and minimum values of the display pixels;</p>
                      <P>(2) Both the O and G parameters may be either positive or negative. Open Skies digital imagery product inversion corresponds to a negative value of the G term;</p>
                      <P>(3) The software shall provide a preliminary automatic selection of brightness and contrast, based on the sub-image selected for analysis;</p>
                      <P>(4) The software shall provide a manual control of brightness and contrast with continuously adjustable values and the ability to return to default brightness and contrast;</p>
                    </div>
                  <P>(D) Zoom. The software shall provide the capability of zooming by either pixel replication, cubic convolution or both. No other operations are permitted during visual analysis.</p>
                </div>
            </div>
          <p>SECTION III. SPECIFICATIONS FOR CALIBRATION TARGETS</p>
            <div class="col-sm-12">
              <p>1. Calibration targets used to determine the ground resolution of video cameras shall contain groups of bars made from light-grey and dark-grey materials. The calibration target shall contain brightness panels, the surface finish of which is the same as the groups of bars.</p>
              <p>2. The bar groups shall consist of light bars on a dark background. Bar groups shall consist of either tri-bar or bi-bar groups and the ratio of bar length to bar width shall not be less than 5:1. The width of light and dark bars in a group shall be identical. The ratio of bar widths for adjoining groups shall be <sup>6</sup>&#8730;2 to within a tolerance of &plusmn;5% of the ideal width of the bar width being measured as calculated assuming no errors. The range of bar widths shall be at least 0,15 to 0,378 metres. The width separating adjacent groups shall be at least two times the width of a single bar in the group with the smaller bars. The target shall contain two identical sets of bar groups, placed adjacent to each other. Bars in the first set shall be oriented "Along" the planned ground track of the observation aircraft, and those in the second set shall be oriented "Across", the planned ground track of the observation aircraft.</p>
              <p>3. The brightness panels shall be dark-grey and light-grey square areas of which the length of a side shall be no less than 120 centimetres.</p>
              <p>4. The following requirements for the calibration target must be satisfied for each band of the sensor to be certified. The modulation of the target as measured on the ground shall be between 0,66 and 0,82. The relative reflectance of the light-grey sections shall be no more than 83%, and the relative reflectance of the dark-grey sections shall be not less than 5%. The uniformity of the relative reflectance of the light and dark bars in the calibration target shall be accomplished with total permissible error of no more than 10% of the relative reflectance of the light bars. The targets shall be positioned on ground that has a relative reflectance that approximates the average relative reflectance of the dark and light sections of the target.</p>
              <p>5. Markers indicating the location of any bar group on the set of bar groups of the calibration target may be included at the discretion of the Certifying State Party.</p>
            </div>
          <p>SECTION IV. DATA TO BE SUPPLIED BEFORE CERTIFICATION</p>
            <div class="col-sm-12">
              <p>1. Shall provide a general system description, including a list and description of operating modes, in the certification technical document. The certification technical document shall include:</p>
                <div class="col-sm-12">
                  <P>(A) Calibration reports provided by the manufacturer;</p>
                  <P>(B) A description of the method to verify which mode is in operation during certification, demonstration, and an observation flight;</p>
                  <P>(C) A description of the size and layout of the detector elements on each focal plane array;</p>
                  <P>(D) A description of the equivalent scheme of image generation; and</p>
                  <P>(E) One or more examples of the Open Skies digital imagery product for each configuration to be certified. This information also applies to those operating modes, which meet the requirements of Section II of this Decision, but are not intended to be certified. The State Party shall include a description on how these modes will be verifiably disabled and unable to be recorded.</p>
                </div>
              <p>2. The equivalent scheme of image generation shall include:</p>
                <div class="col-sm-12">
                  <P>(A) The algorithms used for radiometric corrections, or other corrections for aircraft motion, and the combination of sub-images to form the complete image;</p>
                  <P>(B) The algorithm of colour component interpolation, if applicable;</p>
                  <P>(C) The algorithms used for geometric correction;</p>
                  <P>(D) The resulting size and shape of the images in the digital imagery product:</p>
                    <div class="col-sm-12">
                      <P>(1) If the algorithms are such that the size and shape may vary, an explanation of the range of image sizes to be expected should be provided;</p>
                      <P>(2) If the image array includes empty image elements, this description shall include an expected pixel map for each sensor configuration and a description of potential variation from the expected map.</p>
                    </div>
                </div>
              <p>3. The State Party offering the video camera configuration for certification shall provide documentation showing how each configuration certified under this Decision is to be disabled when its operation is prohibited under Section II, paragraph 20 of this Decision.</p>
              <p>4. For each video camera configuration to be certified, the Certifying State Party shall provide technical data or flight test data specifying the location on the image that provides the best ground resolution.</p>
              <p>5. The State Party offering the configuration for certification shall provide descriptions of the hardware and software necessary for conducting visual analysis.</p>
              <p>6. The State Party offering the configuration for certification shall provide the modulation transfer function of the camera system or components of a camera system.</p>
              <p>7. The State Party offering the configuration for certification shall define the Open Skies digital imagery products and provide flight test data, describing the performance of the video camera configuration. The Open Skies digital imagery products that were used for the establishment of H<sub>min-expected</sub> shall be provided with the flight test data.</p>
              <p>8. The State Party offering the video camera configuration for certification shall provide flight test data analysed in accordance with the following qualifications:</p>
                <div class="col-sm-12">
                  <P>(A) The flight test data shall include at least 10 values of H<sub>min-calculated</sub> as described in Section VI;</p>
                  <P>(B) The range of heights above ground used in the flight test data shall satisfy the following conditions:</p>
                    <div class="col-sm-12">
                      <P>(3) There shall be at least one value of the height of flight above ground that is at least 15% higher than H<sub>min-expected</sub>;</p>
                      <P>(4) There shall be at least one value of the height of flight above ground that is at least 15% lower than H<sub>min-expected</sub>;</p>
                      <P>(5) No values of the height of flight above ground shall be included that are greater than 150% of the value of H<sub>min-expected</sub>;</p>
                      <P>(6) No values of the height of flight above ground shall be included that are less than 70% of the value of H<sub>min-expected</sub>;</p>
                      <P>(7) At least 40% of the flight heights included shall lie between 80% and 120% of the value of H<sub>min-expected</sub>;</p>
                    </div>
                  <P>(C) These flights shall occur on more than one day and be performed under clear atmospheric daytime conditions.</p>
                </div>
              <p>9. In order to reduce the time required for collecting flight test data, the State Party may deploy two calibration targets simultaneously.</p>
            </div>
          <p>SECTION V. CONDUCT OF A FLIGHT TEST, CERTIFICATION EVENT OR DEMONSTRATION FLIGHT</p>
            <div class="col-sm-12">
              <p>1. Image acceptability shall be evaluated on the Open Skies digital imagery product. Image acceptability criteria are as follows:</p>
                <div class="col-sm-12">
                  <P>(A) The image of the calibration target shall be located within 20 degrees of the location of best ground resolution within the field of view of the final image of the Open Skies digital imagery product;</p>
                  <P>(B) The image of the calibration target shall be oriented within 15 degrees of the orientation of the flight track;</p>
                  <P>(C) An image shall not be used for visual analysis if a sensor malfunction or other technical defect, internal and/or external to the aircraft, sensor, or target, makes accurate determination of ground resolution impossible.</p>
                </div>
              <p>2. Horizontal targets shall be used when the location of best ground resolution within the field is less than or equal to sixty degrees from the vertical, and vertical targets shall be used for sensors whose location of best ground resolution is more than sixty degrees from the vertical.</p>
              <p>3. The OSCC atmosphere parameters shall be measured and recorded at intervals of one hour or less during certification, demonstration, and data gathering flights.</p>
              <p>4. During certification, demonstration, and data gathering flights, the following parameters shall be measured and recorded to confirm the target characteristics described in Section III:</p>
                <div class="col-sm-12">
                  <P>(A) <sub> Pi,light</sub> = The average relative reflectance of the light grey bars of the target;</p>
                  <P>(B) <sub>Pi,dark</sub> = The average relative reflectance of the dark grey bars of the target;</p>
                  <P>(C) <sub>Pbackground</sub> = The average relative reflectance of the background;</p>
                  <P>(D) The ground illumination, l<sub>i</sub>, in lux.</p>
                </div>
              <p>5. The flight heights above ground at which imagery is collected for certification flights must be as close as possible to the value of H<sub>min-expected</sub>.</p>
              <p>6.Unless otherwise agreed, the flight heights above ground at which imagery is collected for demonstration flights must be as close as possible to the certified H<sub>min</sub> value.</p>
              <p>7. To reduce the time required for certification, if a Certifying State Party can demonstrate via flight test data and analysis that one or more sensor configurations will provide essentially identical or worse ground resolution performance than one or more other sensor configurations and with the consensus of the participating States Parties, the Certifying State Party may request permission to perform the in-flight examination for the sensor configuration with the highest H<sub>min-expected</sub> and use the resulting H<sub>min</sub> value for the other sensor configurations.</p>
              <p>8.In the event the certifying State Party does not certify all intended operating modes or they are not certified during the certification event, any non-certified mode shall be verifiably disabled during an observation flight, following the procedures described in Section II, paragraph 20 of this Decision. The method shall guarantee that it is physically impossible to collect and record the data for the non-certified modes.</p>
              <p>9.The certifying State Party shall demonstrate the method to be used to disable each sensor configuration certified under this Decision when its operation is prohibited under Section II, paragraph 20 of this Decision.</p>
            </div>
          <p>SECTION VI. ANALYSIS OF DATA COLLECTED DURING A FLIGHT TEST, CERTIFICATION EVENT, OR DEMONSTRATION FLIGHTS</p>
            <div class="col-sm-12">
              <p>1. The ground resolution of a video camera configuration shall be determined by visual analysis. At least ten trained observers shall examine the Open Skies digital imagery products of the calibration target for flight test data, certification and demonstration flights. The State Party offering a sensor configuration for certification shall have the right to provide a minimum of two of the trained observers at certification.</p>
              <p>2. For flight test data, certification and demonstration flights, the value of H<sub>min-calculated</sub> shall be determined from analysis of at least five images of the same calibration target from five separate passes flown at approximately the same height above ground. For each image (i) a value of H<sub>min-i is calculated as described below.</p>
              <p>3. The visual analysis shall be performed on images of the calibration target having no less than 0.1 modulation as measured on the image of the brightness panels.</p>
                <div class="col-sm-12">
                  <P>(A) Specifications of procedures for performing analysis of digital imagery are given in Section II, paragraph 21, of this Decision.</p>
                  <P>(B) Images to be used for visual analysis shall be determined by the sensor configuration and are presented as an Open Skies digital imagery product.</p>
                    <div class="col-sm-12">
                      <P>(1) The State Party which is presenting a sensor configuration for certification shall analyse each band of the Open Skies digital imagery product.</p>
                      <P>(2) This analysis shall determine the best ground resolution for that sensor configuration.</p>
                      <P>(3) The results of the analysis by the Certifying State Party to determine the best ground resolution for the configuration will be provided in the flight test data.</p>
                      <P>(4) The State Parties participating in the certification shall analyse each band of the Open Skies digital imagery product following the in-flight examination.</p>
                      <P>(5) Unless otherwise agreed, each band of the Open Skies digital imagery product shall be analysed if a demonstration flight is requested by any State Party.</p>
                    </div>
                  <P>(C) For each image of the calibration target used for visual analysis and each observer, the resolution is determined by the narrowest bar group resolved. A bar group is resolved if:</p>
                    <div class="col-sm-12">
                      <P>(1) All the light bars of the bar group are distinguishable;</p>
                      <P>(2) There is a visual perception of the displayed grey level difference between each light bar and the adjacent dark bar or bars over a substantial portion of the entire length of the bar.</p>
                    </div>
                </div>
              <p>4. Define and record the value L<sub>m,k,i</sub></p>
                <div class="col-sm-12">
                  <p>where:</p>
                    <div class="col-sm-12">
                      <p>L is the bar width of the smallest resolved bar group for along or across track; and</p>
                      <p>m denotes the individual observer; and</p>
                      <p>k is the image type index, which refers to the available band of the Open Skies digital imagery product; and</p>
                      <p>i denotes the image acquired during the i<sup>th</sup> pass over the calibration target (i = 1,., n, where n is the total number of passes over the calibration target).</p>
                    </div>
                  <p>Then define L<sub>m,i</sub> = minimum L<sub>m,k,i</sub>:</p>
                    <div class="col-sm-12">
                      <P>(A) For each image of the calibration target to be analysed, the ground resolution, Li, shall be the average of the values of the widths of the narrowest resolved bar groups of the observers. If the number of observers is M, then:</p>
                      <p align="center">L<sub>i</sub> = (1/M)&#8721; L<sub>m,i</sub>;</p>
                      <P>(B) The value of H<sub>min-i</sub>, of each image (i) of the calibration target analysed is calculated by:</p>
                        <div class="col-sm-12 text-center text-center">
                          <img src="../img/dec_5_15_Hmin_i.gif" class="img-responsive" />
                        </div>
                        <div class="col-sm-12">
                          <p>Where:</p>
                            <div class="col-sm-12">
                              <p>H<sub>i</sub> = The height above the calibration target of the aircraft in metres, at the moment the calibration target was imaged for pass (i);</p>
                              <p>L<sub>a</sub> = The agreed ground resolution of 30 centimetres.</p>
                            </div>
                        </div>
                    </div>
                </div>
              <p>5. The value of H<sub>min-calculated</sub> shall be determined by:</p>
                <div class="col-sm-12">
                  <div class="col-sm-12 text-center">
                    <img src="../img/dec_5_15_Hmin_calculated.gif" class="img-responsive" />
                  </div>
                  <p>Where</p>
                    <div class="col-sm-12">
                      <p><i>n</i> is the total number of passes over the target analysed.</p>
                    </div>
                </div>
              <p>6. H<sub>min-expected</sub> shall be calculated by averaging the values of H<sub>min-calculated</sub> provided in the pre-certification flight test data.</p>
              <p>7. H<sub>min-at-certification</sub> shall be calculated by averaging the values of H<sub>min-calculated</sub> provided by the in-flight examination. For each configuration to be certified, the in-flight examination shall consist of at least three values of H<sub>min-calculated</sub>, unless prevented by <em>force majeure</em>, in which case it shall consist of at least one value of H<sub>min-calculated</sub>.</p>
              <p>8. H<sub>min-demonstration</sub> shall be calculated by averaging the values of H<sub>min-calculated</sub> provided in demonstration flight data. There shall be at least one value of H<sub>min-calculated</sub> accomplished at a demonstration flight, unless otherwise agreed.</p>
              <p>9. In order to reduce the time needed at certification or demonstration and increase the possible number of values of H<sub>min-calculated,</sub> the State Party may choose to use two calibration targets simultaneously.</p>
            </div>
          <p>SECTION VII METHODOLOGY FOR DETERMINING THE MINIMUM HEIGHT ABOVE GROUND LEVEL</p>
            <div class="col-sm-12">
              <p>1. The determination of the minimum height above ground level at a certification shall be accomplished in the following manner:</p>
                <div class="col-sm-12">
                  <P>(A) The State Party offering a sensor configuration for certification shall provide flight test data sufficient to establish a value of H<sub>min-expected</sub>.</p>
                  <P>(B) If |H<sub>min-expected</sub> - H<sub>min-at-certification</sub>|/H<sub>min-expected</sub> &#8804;0,2, then: H<sub>min</sub> = H min-expected.</p>
                  <P>(C) If |H<sub>min-expected</sub> - H<sub>min-at-certification</sub>|/H<sub>min-expected</sub> > 0,2, then the States Parties taking part in the certification shall either:</p>
                    <div class="col-sm-12">
                      <P>(1) By consensus, establish: H<sub>min</sub> = H<sub>min-expected</sub> or H<sub>min</sub> =H<sub>min- at-certification</sub>;</p>
                      <P>(2) If no consensus can be achieved, H<sub>min</sub> = the maximum of (H<sub>min-expected</sub> or H<sub>min-at-certification</sub>).</p>
                    </div>
                </div>
              <p>2. The following are procedures for confirming the minimum height above ground level following a demonstration flight.</p>
                <div class="col-sm-12">
                  <P>(A) In the event that the aircraft is provided by the observing Party, and the observed Party requests a demonstration flight:</p>
                    <div class="col-sm-12">
                      <P>(1) The observed Party shall verify and confirm that the data used to determine H<sub>min-demonstration</sub> were collected, processed, and analyzed in conformance with the requirements of the Treaty on Open Skies, and the Decisions appropriate for the sensor configuration subject to the demonstration flight;</p>
                      <P>(2) If a value of H<sub>min-demonstration</sub> has been established and |H<sub>min-demonstration</sub> - H<sub>min</sub>|/H<sub>min</sub> &#8804; 0,25, then the minimum height above ground for the observation flight will be H<sub>min-flight</sub> = H<sub>min</sub>;</p>
                      <P>(3) If no value of H<sub>min-demonstration</sub> has been established or |H min-demonstration - H<sub>min</sub>|/H<sub>min</sub> > 0,25, then the provisions of the Treaty on Open Skies, Annex F, Section III, paragraph 6 shall apply.</p>
                    </div>
                  <P>(B) In the event that the aircraft is provided by the observed Party, and the observing Party requests a demonstration flight:</p>
                    <div class="col-sm-12">
                      <P>(1) The observing Party shall verify and confirm that the data used to determine H<sub>min-demonstration</sub> were collected, processed, and analyzed in conformance with the requirements of the Treaty on Open Skies, and the Decisions appropriate for the sensor configuration subject to the demonstration flight;</p>
                      <P>(2) If a value of H<sub>min-demonstration</sub> has been established and, |H<sub>min-demonstration</sub> - H<sub>min</sub>|/H<sub>min</sub> &#8804; 0,25, then the minimum height above ground for the observation flight will be H<sub>min-flight</sub> = H<sub>min</sub>;</p>
                      <P>(3) If no value of H<sub>min-demonstration</sub> has been established or |H<sub>min-demonstration</sub> - H<sub>min</sub>|/H<sub>min</sub> > 0,25, then the provisions of the Treaty on Open Skies, Annex F, Section III, paragraph 7 shall apply.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>This Decision shall enter into force on the date of its adoption and shall have the same duration as the Treaty. In accordance with OSCC Decision No. 3/10, the OSCC may consider revisions to the Decision at any time.</p>
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 27 March 2015, in each of the languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
