<div id="decision_4_15"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/4/15
      <br>27 March 2015
      <br>OSCC+
      <br>Original:ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong> 4th Meeting of the 66th Session</strong> <br>OSCC(66) Journal No. 218, Agenda item 4(a)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 4/15 <br/>CERTIFICATION PROCESS FOR DIGITAL SENSORS</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The Open Skies Consultative Commission (OSCC),</p>
      <p>Understanding that requirements and notification timelines for certification of sensors are defined by Annex D of the Treaty on Open Skies (the Treaty) and the respective OSCC Decisions related to sensors,</p>
      <p>Recognizing that the expense and effort to purchase, install, and certify digital sensors on observation aircraft is significant, and that the review of digital recording media technical documentation requires more time and resources than documentation for photographic film, and</p>
      <p>Acting pursuant to Article X, paragraph 5 of the Treaty, in order to improve the viability and effectiveness of the Treaty and promote the certification of digital sensors in the future,</p>
      <p>Has decided as follows:</p>
        <div class="col-sm-12">
          <p>SECTION I. DEFINITION OF TERMS</p>
            <div class="col-sm-12">
              <p>The following definitions shall apply to terms used in this Decision:</p>
              <p>The term "certification technical document" is a data package of technical information pertaining to an observation aircraft and its associated sensors, as required by the relevant sensor decisions and organized in accordance with the recommended structure outlined in Annex A to this Decision.</p>
              <p>The term "flight test" means a flight conducted to collect data in order to establish ground resolution for one or more sensor configurations.</p>
              <p>The term "flight test data" means data collected during flight tests in order to establish ground resolution for one or more sensor configurations.</p>
              <p>The term "pre-certification event" is an international data gathering event hosted by a Certifying State Party to collect flight test data and demonstrate certification procedures, processes, and technical capabilities of a sensor configuration intended to be certified.</p>
              <p>The term "intermediate co-ordination meeting" is a meeting convened by the OSCC Informal Working Group on Certification to provide an opportunity for States Parties to discuss questions concerning the forthcoming certification event.</p>
            </div>
          <p><strong>SECTION II. CERTIFICATION PROCESS AND TIMELINE REQUIREMENTS</strong></p>
            <div class="col-sm-12 text-center">
              <img src="../img/dec_4_15_Certification_Timeline.gif" class="img-responsive" />
            </div>
            <div class="col-sm-12">
              <p>1. Notwithstanding paragraph 6 of Section I of Annex D to the Treaty, the Certifying State Party shall provide its certification technical document in English and Russian, if possible, to all States Parties not later than 120 days prior to the proposed certification event.</p>
              <p>2. The Certifying State Party shall conduct a pre-certification event not earlier than 30 days after delivery of the certification technical document not later than 60 days prior to the certification event. A pre-certification event is not necessary in the case of already certified aircraft and sensor combination. The Certifying State Party shall notify all States Parties of the location and dates of the event at least 30 days prior to the event.</p>
                <div class="col-sm-12">
                  <p>(A) Each State Party shall have the right to participate in the pre-certification event and to obtain the information produced from the event. The Certifying State Party shall permit the same number of participants as allowed for a certification event under Annex D, Section I, paragraph 4. Additional participants shall be allowed at the discretion of the Certifying State Party.</p>
                  <p>(B) Participants shall pay their own way to the pre-certification event, as they do for certification events. States Parties shall use Open Skies Notification Format 35 to convey information on participants and other travel arrangements.</p>
                  <p>(C) Unless otherwise agreed, the duration of the pre-certification event shall notexceed 7 days excluding travel dates.</p>
                  <p>(D) During the pre-certification event, the Certifying State Party shall demonstrate the following certification procedures: the conduct of at least one flight with five passes over the calibration target, media processing, duplication, duplication verification, erasure, erasure verification, Hmin analysis, and review of associated files contained on the storage media for exchange. The Certifying State Party shall provide for ground examination of the aircraft, sensor(s), and processing system(s) to be certified.</p>
                </div>
              <p>3. Not later than 60 days before the certification event, the Certifying State Party shall distribute to all States Parties flight test data for the sensor configuration(s) to be certified in accordance with the recommended structure outlined in Annex B to this Decision.</p>
              <p>4. At the request of any State Party, the chairman of the IWGC shall convene an intermediate co-ordination meeting:</p>
                <div class="col-sm-12">
                  <p>&mdash; After the pre-certification event takes place</p>
                  <p>&mdash; Not earlier than 14 days after delivery of FTD</p>
                  <p>&mdash; Not later than 30 days prior to the scheduled certification</p>
                </div>
              <p>The meeting will include the following topics:</p>
                <div class="col-sm-12">
                  <p>(A) The Certifying State Party shall address and clarify any questions pertaining to the certification technical document, pre-certification event, or flight test data.</p>
                  <p>(B) The Certifying State Party shall provide a schedule of timelines related to the planned certification event and relevant modalities. States Parties shall review the schedule for the certification event, have an opportunity to propose changes and address concerns, and make preliminary plans for participation and division of duties.</p>
                  <p>(C) States Parties may review the use of inspection equipment in accordance with Annex D, Section II, paragraph 5 to the Treaty.</p>
                </div>
              <p>5. The IWGC Chair shall inform the OSCC of the results of the intermediate co-ordination meeting.</p>
              <p>6. In accordance with Annex D, Section 1, Paragraph 3 to the Treaty, the Certifying State Party shall notify all States Parties of the certification event no less than 60 days in advance.</p>
              <p>7. If the Certifying State Party makes revisions to the certification technical document and flight test data based on F-35 responses, pre-certification event, or intermediate co-ordination meeting, the revisions shall be distributed to all States Parties as soon as possible but not later than 14 days prior to the certification event.</p>
              <p>8. The Certifying State Party shall distribute to all States Parties a final certification technical document and only data collected during the inflight examination portion of the certification event, within 30 days after signature of the Open Skies Notification Format 25 by States Parties participating in the certification event.</p>
            </div>
          <p>SECTION III: ADDITIONAL LIMITATIONS AND REQUIREMENTS</p>
            <div class="col-sm-12">
              <p>1. Prior to delivery of the CTD, a State Party may propose an alternate methodology for the duration and timing of the certification process in this Decision for review and approval by the IWGC. The IWGC Chair shall inform the OSCC about the result of the consideration of such proposals.</p>
              <p>2. The Certification Technical Document and Flight Test Data should be organized according to the recommended structure outlined in Annexes A and B, respectively, of this Decision.</p>
              <p>3. Upon receipt of the Certification Technical Document and Flight Test Data State Parties may submit requests for clarification to the Certifying State Party by means of an Open Skies Notification Format 35. All Format 35 requests shall be submitted not later than 30 days prior to the certification event.</p>
              <p>4. If the Certifying State Party provides notification of the certification event at least 90 days prior to the Certification event, all States Parties shall not conduct observation flights during the period of certification.</p>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>This Decision shall enter into force on the date of its adoption and shall have the same duration as the Treaty.</p>
      <p>In accordance within OSCC Decision No. 3/10, the OSCC may consider revisions to the Decision at any time.</p>
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 27 March 2015, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>
  <div class="col-sm-2 col-sm-offset-10">
      <p align="right">OSCC.DEC/4/15
      <br/>27 March 2015
      <br/>Annex A</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>RECOMMENDED FILE DIRECTORY STRUCTURE FOR THE CERTIFICATION TECHNICAL DOCUMENT (CTD)</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <strong>ROOT DIRECTORY</strong>
      <br><img src="../img/dec_4_15_Root_Directory.gif" class="img-responsive" />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <strong>AIRCRAFT INFORMATION</strong>
      <br><img src="../img/dec_4_15_Aircraft_Information.gif" class="img-responsive" />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <strong>SENSOR CONFIGURATION INFORMATION (1 OF 3)</strong>
      <br>(Showing video configuration file structure only)
      <br><img src="../img/dec_4_15_Sensor_Config_1.gif" class="img-responsive" />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <strong>SENSOR CONFIGURATION INFORMATION (2 OF 3)</strong>
      <br>(Showing video configuration file structure only)
      <br><img src="../img/dec_4_15_Sensor_Config_2.gif" class="img-responsive" />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <strong>SENSOR CONFIGURATION INFORMATION (3 OF 3)</strong>
      <br>(Showing video configuration file structure only)
      <br><img src="../img/dec_4_15_Sensor_Config_3.gif" class="img-responsive" />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <strong>TARGET INFORMATION</strong>
      <br><img src="../img/dec_4_15_Target_Information.gif" class="img-responsive" />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <strong>SENSOR SOFTWARE TO BE DISTRIBUTED (IF APPLICABLE)</strong>
      <br><img src="../img/dec_4_15_Sensor_Softwre_Dist.gif" class="img-responsive" />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <strong>COMMERCIAL AVAILABILITY AND CERTIFICATION EVENTS INFORMATION</strong>
      <br><img src="../img/dec_4_15_Commercial_Availability_Cert_Event_Information.gif" class="img-responsive" />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <strong>RECOMMENDED FILE DIRECTORY STRUCTURE FOR THE FLIGHT TEST DATA (FTD)</strong>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <strong>FLIGHT TEST DATA: Determining Hmin</strong>
      <br>(Showing video configuration file structure only)
      <br><img src="../img/dec_4_15_Flight_Test_Data.gif" class="img-responsive" />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <strong>FLIGHT TEST DATA: PRE-CERTIFICATION AND CERTIFICATION</strong>
      <br>(Showing video configurations file structure only)
      <br><img src="../img/dec_4_15_Flight_Test_Data_2.gif" class="img-responsive" />
    </div>
  </div>

<hr>
