<!-- DECISION 9/08 -->
<div id="decision_9_8"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/9/08
      <br>15 December 2008
      <br>OSCC++
      <br>Original:ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>4th Meeting of the  47th Session</strong> <br>OSCC(47) Journal No. 149, Agenda item 3</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 9/08 <br>ALTERNATE AIRFIELDS</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>For the purpose of fulfilling the obligations of the States Parties envisaged by  the provisions of Articles VII and VIII of the Treaty,</p>
      <p>Taking into account the importance of ensuring safe landings at alternate airfields,<br>
      Recognizing the need to regulate procedural  and financial matters in case of such landings of observation/transport  aircraft of the State Parties,</p>
      <p>Desiring to supplement the provisions of OSCC Decision Number One, the Open Skies  Consultative Commission decides as follows:</p>
        <div class="col-sm-12">
          <p>1. Each  State Party shall, if requested by another State Party, within 30 days  designate alternate airfield(s) for the points of entry/exit, Open Skies  airfields, refuelling airfields and transit airfields, and notify all other  States Parties by means of an OSF 26 notification in the remarks section. In  cases where no suitable alternate airfield exists on the territory of the  requested State Party, it will so inform the requesting State Party;</p>
          <p>2. Each  State Party shall have the right to change its designated alternate airfield(s)  notifying all other States Parties of such changes no later than 30 days before  such changes become effective;</p>
          <p>3. Alternate  airfields may coincide with the POE, Open Skies airfields, transit airfields  and refuelling airfields designated by a State Party. Designated alternate  airfields will be the primary alternate airfields to be used, but this does not  preclude the use of other airfields if necessary. Specifically, the ultimate  authority to designate an alternate airfield rests with the pilot in command,  in consultation with air traffic control authorities of the observed party,  during which the alternate airfield choice will be made based upon aircraft  performance and flight safety considerations;</p>
          <p>4. This  Decision does not preclude voluntary informal consultations between States Parties  that result in bilateral arrangements for alternate airfield procedures. In  fact, States Parties are encouraged to conclude bilateral arrangements that  facilitate the operation of the Treaty including, <em>inter alia</em>, advance notice in excess of that required by this  Decision, methods of payment and the prices of goods and services to be  provided at alternate airfields. Nothing in this Decision shall modify or alter  existing bilateral arrangements except by the agreement of the parties to such  arrangements;</p>
          <p>5. The  OSF 12 and OSF 16 notifications shall indicate the alternate airfields in the  remarks section, if applicable. When the observing Party presents the mission  plan for review, the use of alternate airfields should also be discussed at  this time;</p>
          <p>6. If  an observation aircraft lands at an alternate airfield during a observation  flight and if it is impossible for the observation aircraft to leave the  territory of the observed Party upon expiry of the period of time specified in  paragraph 20, Section I Article VI of the Treaty, the observed Party shall  extend the mission of the observing Party up to the time required for resolving  the cause of the landing. The observing Party shall depart from the alternate  airfield as soon as practicable;</p>
          <p>For the purpose of providing assistance to the observing Party in resolving the  cause of landing at an alternate airfield, the observed Party shall have the  right to designate an escort team. The observing Party shall be responsible for  the costs of accommodations and meals of not more than four members of the  escort team during the extended time period;</p>
          <p>In the event of delay at an alternate airfield the personnel designated by the  observing Party not taking part in resolving the cause(s) of landing at the  alternate airfield may leave the territory of the observed Party;</p>
          <p>If, in the event of landing at an alternate airfield during an observation flight,  the cause of landing is resolved within the 96-hour period specified in  paragraph 9, Section I Article VI, and it is still possible to complete the  remaining part of the agreed mission plan or any segregable portions of the  plan within the time remaining, the observed Party shall facilitate the completion  of the plan accordingly;</p>
          <p>7. If an observation aircraft lands at an alternate airfield during a transit flight,  a flight to the point of entry or a flight from the point of exit, the  transited or observed Party shall have the right to designate an escort team  for the purpose of providing assistance to the transiting Party during the  landing at an alternate airfield. The transiting or observing Party shall be  responsible for the costs of accommodation and meals of not more than four  members of the escort team;</p>
          <p>In  the event of delay at an alternate airfield the personnel designated by the  transiting Party not taking part in resolving the cause(s) of landing at the  alternate airfield may leave the territory of the transited Party;</p>
          <p>8. Where  States Parties have concluded bilateral arrangements on the methods of payment  and prices of goods and services, meals and accommodation provided, such  arrangements shall prevail. In cases where no bilateral agreement exists, the  observed or transited State Party shall determine:</p>
            <div class="col-sm-12">
              <p >(a) The method of  payment (by delayed payment, cash or credit card) which should be notified in  the remark section of the OSF26; and</p>
              <p >(b) The prices for goods  and services, meals, and accommodation, in accordance with the provisions of  OSCC Decision Number One or with commercial prices at the time when the goods  and services are provided;</p>
            </div>
          <p>9. The provisions of this Decision shall be re&#8209;examined on the basis of practical  experience, if so requested by a State Party, after one year from the time this  Decision enters into force;</p>
          <p>10. This Decision enters into force on the day of its adoption by the OSCC and shall  have the same duration as the Treaty.</p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Decided in Vienna, in  the Open Skies Consultative Commission on 15 December 2008, in each  of the six languages specified in Article XIX of the Treaty on Open Skies, all  texts being equally authentic.</p>
    </div>
  </div>

<hr>
