<!-- DECISION 5/08 -->
<div id="decision_5_8"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right"> OSCC.DEC/5/08
      <br> 14 July 2008
      <br> OSCC++
      <br>Original:ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u><br>
      <strong>4th  Meeting of the 46th Session</strong> <br>OSCC(46) Journal No. 145, Agenda item 4</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 5/08 <br>REVISION THREE TO DECISION No. 7/07 ON THE DISTRIBUTION <br/>OF ACTIVE QUOTAS FOR  OBSERVATION FLIGHTS <br/>IN THE YEAR 2008</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>In  accordance with Article III, Section I, paragraphs 5, 7 and 10; Annex A,  Section II, paragraph 2; and Annex L, Section II, of the Treaty on  Open Skies and OSCC Decision No. 12/04, the Open Skies Consultative  Commission has decided on the following distribution of active quotas for  observation flights for the year 2008:</p>
        <div class="col-sm-12">
          <p>&mdash;<strong>The Federal Republic of Germany</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>&mdash;Six (6) observation flights over the  territory of the Republic of Belarus and the Russian Federation group of States  Parties, of which one (1) shared  with the French Republic, one (1)  shared with the United States of America, one (1) shared with the Hellenic Republic and the Italian Republic,  and one (1) shared with the Republic of Finland,</p>
              <p>&mdash;One (1) observation flight over the territory of Ukraine,  shared with the French Republic,</p>
              <p>&mdash;One (1) observation flight over the territory of Georgia,  shared with the Republic   of Turkey,</p>
              <p>&mdash;One (1) observation flight over the  territory of Bosnia and Herzegovina, shared with the Italian Republic and the  Republic of Hungary, and</p>
              <p>&mdash;One (1) observation flight over the  territory of the Republic of Croatia, shared with the Republic  of Bulgaria and the French Republic;</p>
            </div>
          <p>&mdash;<strong>The United States of America</strong> shall  have the right to conduct:</p>
            <div class="col-sm-12">
              <p>&mdash;Fourteen (14) observation flights over the  territory of the Republic of Belarus and the Russian Federation group of States  Parties, of which one (1) shared  with the Federal Republic of Germany, one (1) shared with the French Republic, one (1) shared with the  Czech Republic, one (1) shared with the Republic of Bulgaria, one (1) shared  with the Italian Republic, one (1) shared with Georgia, one (1) shared with the  Republic of Turkey, one (1) shared with the United Kingdom of Great Britain and  Northern Ireland, one (1) shared with the Republic of Poland, and one (1) shared  with the Republic of Latvia,</p>
              <p>&mdash;One (1) observation flight over the territory  of Ukraine, shared with Canada;</p>
            </div>
          <p>&mdash;<strong>The  Republic of Belarus and the Russian Federation  group of States Parties </strong>shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>&mdash;Three (3) observation flights over the  territory of the Federal Republic of Germany,</p>
              <p>&mdash;Four (4) observation flights over the  territory of the United States of America, of which one (1) shared with the Kingdom of Sweden,</p>
              <p>&mdash;One (1) observation flight over the  territory of the Benelux group of States  Parties,</p>
              <p>&mdash;One (1) observation flight over the  territory of the Republic   of Bulgaria,</p>
              <p>&mdash;One (1) observation flight over the territory of Canada,</p>
              <p>&mdash;One (1) observation flight over the  territory of the Republic of Croatia, shared with the Italian Republic,</p>
              <p>&mdash;Two (2) observation flights over the territory of the Kingdom of Denmark,</p>
              <p>&mdash;Two (2) observation flights over the  territory of the Kingdom   of Spain,</p>
              <p>&mdash;One (1) observation flight over the territory of the Republic of Estonia,</p>
              <p>&mdash;One (1) observation flight over the  territory of the Republic   of Finland, of which one (1) shared with the French Republic,</p>
              <p>&mdash;Three (3) observation flights over the territory  of the French Republic,</p>
              <p>&mdash;One (1) observation flight over the territory of Georgia, shared with the  United Kingdom of Great Britain and Northern Ireland,</p>
              <p>&mdash;Three (3) observation flights over the  territory of the United Kingdom of Great Britain and Northern Ireland,</p>
              <p>&mdash;Two (2) observation flights over the territory of the Hellenic Republic,</p>
              <p>&mdash;One (1) observation flight over the territory of the Republic of Hungary,</p>
              <p>&mdash;Two (2) observation flights over the territory of the Italian Republic,</p>
              <p>&mdash;One (1) observation flight over the territory of the Republic of Latvia,</p>
              <p>&mdash;One (1) observation flight over the territory of the Republic of Lithuania,</p>
              <p>&mdash;Two (2) observation flights over the territory of the Kingdom of Norway,</p>
              <p>&mdash;One (1) observation flight over the territory of the Republic of Poland,</p>
              <p>&mdash;One (1) observation flight over the territory of the Portuguese Republic,</p>
              <p>&mdash;One (1) observation flight over the territory of Romania,</p>
              <p>&mdash;One (1) observation flight over the territory of the Slovak Republic,</p>
              <p>&mdash;One (1) observation flight over the  territory of the Republic   of Slovenia,</p>
              <p>&mdash;One (1) observation flight over the  territory of the Kingdom   of Sweden,</p>
              <p>&mdash;One (1) observation flight over the territory of the Czech Republic,  and</p>
              <p>&mdash;Two (2) observation flights over the territory of the Republic of Turkey;</p>
            </div>
          <p>&mdash;<strong>The  Kingdom of Belgium, the Grand Duchy of Luxembourg and the Kingdom of the  Netherlands, referred to as the Benelux group of States Parties</strong>, shall have  the right to conduct:</p>
            <div class="col-sm-12">
              <p>&mdash;One (1) observation flight over the  territory of the Republic of Belarus and the Russian Federation group of States  Parties,</p>
              <p>&mdash;One (1) observation flight over the territory of Bosnia and Herzegovina,</p>
              <p>&mdash;One (1) observation flight over the territory of Georgia,  shared with the Hellenic Republic and the Kingdom of Spain;</p>
            </div>
          <p>&mdash;<strong>The  Republic of Bulgaria</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>&mdash;One (1) observation flight over the territory of the Republic of Belarus  and the Russian Federation  group of States Parties, shared with the United States of America,</p>
              <p>&mdash;One (1) observation flight over the territory of Bosnia and   Herzegovina, shared with the Kingdom  of Spain and the Republic of Turkey,</p>
              <p>&mdash;One (1) observation flight over the  territory of the Republic of Croatia, shared with the Federal Republic of  Germany and the French Republic, and</p>
              <p>&mdash;One (1) observation flight over the territory of Ukraine,  shared with the Republic   of Croatia;</p>
            </div>
          <p>&mdash;<strong>Canada</strong>shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>&mdash;Three (3) observation flights over the  territory of the Republic of Belarus and the Russian Federation group of States  Parties, of which one (1) shared  with the Kingdom of Norway and the Kingdom of Spain,</p>
              <p>&mdash;One (1) observation flight over the  territory of the Republic of Croatia, shared with the Republic of Hungary,</p>
              <p>&mdash;One (1) observation flight over the territory of Ukraine,  shared with the United States    of America, and</p>
              <p>&mdash;One (1) observation flight over the territory of Georgia,  shared with the French Republic and the Italian Republic;</p>
            </div>
          <p>&mdash;<strong>The  Republic of Croatia</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>&mdash;One (1) observation flight over the territory of Bosnia and   Herzegovina, shared with the Kingdom of Sweden,  and</p>
              <p>&mdash;One (1) observation flight over the territory of Ukraine,  shared with the Republic of Bulgaria;</p>
            </div>
          <p>&mdash;<strong>The Kingdom of Spain</strong> shall  have the right to conduct:</p>
            <div class="col-sm-12">
              <p>&mdash;One (1) observation flight over the  territory of the Republic of Belarus and the Russian   Federation group of States Parties shared with the Kingdom of Norway  and Canada, </p>
              <p>&mdash;One (1) observation flight over the territory of Georgia,  shared with the Benelux group of States Parties and the Hellenic Republic,</p>
              <p>&mdash;One (1) observation flight over the territory of Ukraine,  shared with the Czech Republic, and</p>
              <p>&mdash;One (1) observation flight over the territory of Bosnia and   Herzegovina, shared with the Republic  of Bulgaria and the Republic of Turkey;</p>
            </div>
          <p>&mdash;<strong>The Republic of Finland</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>&mdash;Two (2) observation flights over the  territory of the Republic of Belarus and the Russian Federation group of States  Parties, of which one (1) shared with the Kingdom of Norway, and one (1) shared with the Federal Republic  of Germany;</p>
            </div>
          <p>&mdash;<strong>The  French Republic</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>&mdash;Four (4) observation flights over the  territory of the Republic of Belarus and the Russian Federation group of States  Parties, of which one (1) shared  with the Federal Republic of Germany, and one (1) shared with the United States of America,</p>
              <p>&mdash;Two (2) observation flights over the  territory of Ukraine, of which one (1) shared  with the Federal Republic of Germany, and one (1) shared with the Republic of Turkey and the Italian Republic,</p>
              <p>&mdash;One (1) observation flight over the  territory of the Republic of Croatia, shared with the Federal Republic of Germany  and the Republic   of Bulgaria,</p>
              <p>&mdash;One (1) observation flight over the territory of Georgia,  shared with the Italian Republic and Canada,</p>
              <p>&mdash;One (1) observation flight over the  territory of the Republic of Finland, shared with the Republic of Belarus and  the Russian Federation group of States Parties, and</p>
              <p>&mdash;One (1) observation flight over the  territory of the Kingdom   of Sweden;</p>
            </div>
          <p>&mdash;<strong>Georgia</strong><strong> </strong>shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>&mdash;One (1) observation flight over the  territory of the Republic of Belarus and the Russian   Federation group of States Parties shared with the United States of America;</p>
            </div>
          <p>&mdash;<strong>The  United Kingdom of Great Britain and Northern Ireland</strong> shall have the right  to conduct:</p>
            <div class="col-sm-12">
              <p>&mdash;Three (3) observation  flights over the territory of the Republic of Belarus and the Russian  Federation group of States Parties, of which one (1) shared with the Republic of Slovenia, and one (1) shared with  the United States of America,</p>
              <p>&mdash;One (1) observation flight over the  territory of Georgia, shared with the Republic of Belarus and the Russian  Federation group of States Parties, and</p>
              <p>&mdash;One (1) observation flight over the territory of Ukraine;</p>
            </div>
          <p>&mdash;<strong>The Hellenic Republic</strong> shall have  the right to conduct:</p>
            <div class="col-sm-12">
              <p>&mdash;One (1) observation flight over the  territory of the Republic of Belarus and the Russian Federation group of States  Parties, shared with the Federal Republic of Germany and the Italian Republic,  and</p>
              <p>&mdash;One (1) observation flight over the territory of Georgia,  shared with the Benelux group of States Parties and the Kingdom of Spain;</p>
            </div>
          <p>&mdash;<strong>The Republic of Hungary</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>&mdash;One (1) observation flight over the  territory of the Republic of Croatia, shared with Canada,</p>
              <p>&mdash;One (1) observation flight over the territory of Ukraine, and</p>
              <p>&mdash;One (1) observation flight over the territory of Bosnia and   Herzegovina, shared with the Federal Republic of Germany and  the Italian Republic;</p>
            </div>
          <p>&mdash;<strong>The  Italian Republic</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>&mdash;Three (3) observation flights over the  territory of the Republic of Belarus and the Russian Federation group of States  Parties, of which one (1) shared  with the Federal Republic of Germany and the Hellenic Republic, and one (1)  shared with the United States of America,</p>
              <p>&mdash;One (1) observation flight over the  territory of the Republic of Croatia, shared with the Republic  of Belarus and the Russian Federation  group of States Parties,</p>
              <p>&mdash;One (1) observation flight over the territory of Ukraine,  shared with the Republic of Turkey and the French Republic,</p>
              <p>&mdash;One (1) observation flight over the  territory of Bosnia and Herzegovina, shared with the Federal Republic of  Germany and the Republic of Hungary, and</p>
              <p>&mdash;One (1) observation flight over the territory of Georgia,  shared with Canada and the French Republic;</p>
            </div>
          <p>&mdash;<strong>The  Republic of Latvia</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>&mdash;One (1) observation flight over the territory of the Republic of Belarus  and the Russian Federation group of States Parties, shared with the  United States of America, and</p>
              <p>&mdash;One (1) observation flight over the territory of Ukraine,  shared with the Kingdom   of Sweden;</p>
            </div>
          <p>&mdash;<strong>The  Republic of Lithuania</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>&mdash;One (1) observation flight over the  territory of the Republic of Belarus and the Russian Federation group of States  Parties;</p>
            </div>
          <p>&mdash;<strong>The Kingdom of Norway</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>&mdash;Three (3) observation  flights over the territory of the Republic of Belarus and the Russian  Federation group of States Parties, of which one (1) shared with Canada and the Kingdom of Spain, and one (1)  shared with the Republic of Finland;</p>
            </div>
          <p>&mdash;<strong>The Republic of Poland</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>&mdash;Two (2) observation flights over the  territory of the Republic of Belarus and the Russian Federation group of States  Parties, of which one (1) is shared with the United States of America, and</p>
              <p>&mdash;One (1) observation flight over the territory of Ukraine;</p>
            </div>
          <p>&mdash;<strong>Romania</strong><strong> </strong>shall have the  right to conduct:</p>
            <div class="col-sm-12">
              <p>&mdash;One (1) observation flight over the  territory of the Republic of Belarus and the Russian Federation group of States  Parties, and</p>
              <p>&mdash;One (1) observation flight over the territory of Ukraine;</p>
            </div>
          <p>&mdash;<strong>The</strong> <strong>Slovak Republic</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>&mdash;One (1) observation flight over the territory of Ukraine;</p>
            </div>
          <p>&mdash;<strong>The Republic of Slovenia</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>&mdash;One (1) observation flight over the  territory of the Republic of Belarus and the Russian Federation group of States  Parties, shared with the United Kingdom of Great Britain and Northern Ireland;</p>
            </div>
          <p>&mdash;<strong>The Kingdom of Sweden</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>&mdash;One (1) observation flight over the  territory of the Republic of Belarus and the Russian Federation group of States  Parties,</p>
              <p>&mdash;One (1) observation flight over the territory of Ukraine,  shared with the Republic   of Latvia,</p>
              <p>&mdash;One (1) observation flight over the  territory of the United States of America, shared with the Republic of Belarus  and the Russian Federation group of States Parties, and</p>
              <p>&mdash;One (1) observation flight over the territory of Bosnia and   Herzegovina, shared with the Republic of Croatia;</p>
            </div>
          <p>&mdash;<strong>The Czech Republic</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>&mdash;One (1) observation flight over the territory of Ukraine,  shared with the Kingdom   of Spain, and</p>
              <p>&mdash;One (1) observation flight over the  territory of the Republic of Belarus and the Russian   Federation group of States Parties, shared with the United States of America;</p>
            </div>
          <p>&mdash;<strong>The Republic of Turkey</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>&mdash;Four (4) observation flights over the  territory of the Republic of Belarus and the Russian   Federation group of States Parties, of which one (1)  shared with the United States of America,</p>
              <p>&mdash;One (1) observation flight over the territory of Bosnia and   Herzegovina, shared with the Kingdom  of Spain and the Republic of Bulgaria,</p>
              <p>&mdash;One (1) observation flight over the territory of Georgia, shared with the Federal  Republic of Germany, and</p>
              <p>&mdash;Two (2) observation flights over the  territory of Ukraine,  of which one (1) shared with the  Italian Republic and the French Republic;</p>
            </div>
          <p>&mdash;<strong>Ukraine</strong> shall have the right to conduct:</p>
            <div claccesskey="col-sm-12">
              <p>&mdash;One (1) observation flight over the  territory of the Federal Republic of Germany,</p>
              <p>&mdash;Two (2) observation flights over the territory of the Republic of Bulgaria,</p>
              <p>&mdash;One (1) observation flight over the territory of the French Republic,</p>
              <p>&mdash;One (1) observation flight over the  territory of the United Kingdom of Great Britain and Northern Ireland,</p>
              <p>&mdash;One (1) observation flight over the territory of the Republic of Hungary,</p>
              <p>&mdash;One (1) observation flight over the territory of the Italian Republic,</p>
              <p>&mdash;One (1) observation flight over the territory of the Republic of Poland,</p>
              <p>&mdash;One (1) observation flight over the territory of Romania,</p>
              <p>&mdash;One (1) observation flight over the territory of the Slovak Republic,</p>
              <p>&mdash;One (1) observation flight over the territory of the Czech Republic,  and</p>
              <p>&mdash;One (1) observation flight over the territory of the Republic of Turkey.</p>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>This  decision takes effect on the date of its adoption and will be issued in each of  the six languages specified in Article XIX of the Treaty on Open Skies, all  texts being equally authentic.</p>
    </div>
  </div>

<hr>
