<div id="decision_12_15"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/12/15
      <br>22 June 2015
      <br>OSCC+
      <br>Original:ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong> 3rd Meeting of the 67th Session</strong> <br>OSCC(67) Journal No. 221, Agenda item 3(c)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 12/15 <br/>OPEN SKIES FORMAT 42 ON TECHNICAL INFORMATION ON NON-DESTRUCTIVE INSPECTION EQUIPMENT TO BE USED ON A PRE-FLIGHT INSPECTION, MEDIA PROCESSING, OR CERTIFICATION EVENTS</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The Open Skies Consultative Commission pursuant to the provisions of the Treaty on Open Skies and OSCC Decision No. 7/15, Section III, has decided to adopt Open Skies Format 42 on technical information on non-destructive inspection equipment to be used on a pre-flight inspection, media processing, or certification events, as attached to this decision.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 22 June 2015, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 col-sm-offset-10">
      <p align="right">OSCC.DEC/12/15
      <br/>22 June 2015
      <br/>Annex</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>OS FORMAT 42
      <br>PRECEDENCE:
      <br>FROM:
      <br>TO: ALL STATES PARTIES
      <br>INFO:</p>
      <p>SUBJECT: TECHNICAL INFORMATION ON NON-DESTRUCTIVE INSPECTION EQUIPMENT TO BE USED ON A PRE-FLIGHT INSPECTION, MEDIA PROCESSING, OR CERTIFICATION EVENTS</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>1. OS MESSAGE NUMBER:</p>
      <p>2. OS MESSAGE DATE AND TIME:</p>
      <p>3. TREATY REFERENCE: REVISION ONE TO DECISION TWO (OSCC.DEC/7/15), SECTION III</p>
      <p>4. MESSAGE REFERENCE:</p>
      <p>5. CONTENT</p>
        <div class="col-sm-12">
          <p>A. CATEGORY OF INSPECTION EQUIPMENT:</p>
            <div class="col-sm-12">
              <p>(1) MODEL AND MANUFACTURER OF INSPECTION EQUIPMENT:</p>
                <div class="col-sm-12">
                  <p>(a) TECHNICAL SPECIFICATIONS (OR WEB LINK, IF APPLICABLE):</p>
                  <p>(b) PLANNED PROCEDURES FOR INTENDED USE:</p>
                  <p>(c) INFORMATION TO OBTAIN OPERATORS MANUAL OR TECHNICAL DOCUMENTATION:</p>
                  <p>(d) EXCLUSIONS OR LIMITATIONS (IF APPLICABLE):</p>
                </div>
              <p>(2) ETC. FOR EACH MODEL AND MANUFACTURER OF INSPECTION EQUIPMENT:</p>
            </div>
          <p>B. ETC. FOR EACH CATEGORY OF INSPECTION EQUIPMENT</p>
        </div>
      <p>6. REMARKS:
      <p>7. END OF OS MESSAGE NUMBER:</p>
    </div>
  </div>

<hr>
