<!-- Decision 1/15-->
<div id="decision_1_15"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/1/15
      <br>19 January 2015
      <br>OSCC+
      <br>Original:ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong> 1st Meeting of the 66th Session</strong> <br>OSCC(66) Journal No. 215, Agenda item 4(a)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 1/15 <br/>EXTENDING DECISION No. 9/13 ON REVISION THREE OF DECISION NUMBER SEVENTEEN TO THE TREATY ON OPEN SKIES: THE FORMAT IN WHICH DATA IS TO BE RECORDED AND EXCHANGED ON RECORDING MEDIA OTHER THAN PHOTOGRAPHIC FILM</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Understanding that OSCC Decision No. 9/13 is scheduled to expire on 23 January 2015,</p>
      <p>Reflecting the States Parties' desire to keep this decision in force while a new decision on certification process is being prepared, and noting the ongoing work of the Informal Working Groups on Certification and Sensors (IWGC and IWGS) to develop this new decision,</p>
      <p>Underscoring that States Parties have committed to update the procedures performed for the purposes of certification, including the procedures in Section III of Decision No. 9/13, before another certification event of a digital sensor is scheduled,</p>
      <p>The Open Skies Consultative Commission (OSCC) decides as follows:</p>
        <div class="col-sm-12">
          <p>1. OSCC Decision No. 9/13 shall be extended until 5 March 2015;</p>
          <p>2. The States Parties shall, within the OSCC and during the period OSCC Decision No. 9/13 is in force, endeavour to conclude a follow-on decision on the format in which data is to be recorded and exchanged on recording media other than photographic film.</p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 19 January 2015, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
