<div id="decision_7_15"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/7/15
      <br>20 April 2015
      <br>OSCC+
      <br>Original:ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>1st Meeting of the 67th Session</strong> <br>OSCC(67) Journal No. 219, Agenda item 4(a)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 7/15 <br/>REVISION ONE TO DECISION TWO TO THE TREATY ON OPEN SKIES <br>Additional non-destructive testing equipment</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The Open Skies Consultative Commission (OSCC),</p>
      <p>Recalling adoption of Decision Number Two pursuant to Annex F, Section I, paragraph 7 of the Treaty on Open Skies (the Treaty),</p>
      <p>Taking into account that digital sensors and data handling procedures require additional tools and capabilities beyond those previously specified by the Treaty,</p>
      <p>Understanding for the purpose of this Decision, testing equipment and inspection equipment are used interchangeably,</p>
      <p>Pursuant to Article X, paragraph 5 of the Treaty and the provisions of Decision Number Two,</p>
      <p>Has decided as follows:</p>
        <div class="col-sm-12">
          <p>SECTION I. LIMITATIONS AND REQUIREMENTS</p>
            <div class="col-sm-12">
              <p>1. The non-destructive inspection equipment categories listed in Annex A to this Decision, unless otherwise noted, shall be considered authorized for use during pre-flight inspection, media processing, or certification events.</p>
              <p>2. The equipment categories listed in Annex A includes equipment categories identified in Annex D and Annex F to the Treaty.</p>
              <p>3. The equipment categories listed in Annex A to this Decision must be non-destructive to the observation aircraft or its sensors or the ground processing equipment or their software.</p>
              <p>4. The equipment categories listed in Annex A to this Decision may only be used to verify that:</p>
                <div class="col-sm-12">
                  <p>(A) No items of equipment are on board the observation aircraft other than those permitted by Article IV of the Treaty; and</p>
                  <p>(B) The sensors, observation aircraft, and media processing equipment correspond to what has been certified.</p>
                </div>
              <p>5. In addition to the equipment specified in Annex D, Section II, paragraph 5 of the Treaty on Open Skies, digital cameras may also be used during the in-flight examination.</p>
              <p>6. The inspection equipment identified as logic/data analyser in Annex F, Section I, paragraph 7(D) of the Treaty is no longer considered a category of inspection equipment.</p>
              <p>7. The inspection equipment identified as 35 millimetre camera in Annex F, Section I, paragraph 7(F) of the Treaty shall also mean hand-held digital framing or video camera for the purposes of this Decision.</p>
            </div>
          <p>SECTION II. PROCEDURES FOR REQUESTING NEW EQUIPMENT CATEGORIES</p>
            <div class="col-sm-12">
              <p>1. Any State Party shall have the right to request the inclusion of additional inspection equipment categories to Annex A of this Decision, notwithstanding the provisions of Annex D, Section II, paragraph 5 and Annex F, Section I, paragraph 7 to the Treaty on Open Skies.</p>
              <p>2. The State Party making a request for a new inspection equipment category shall submit to all States Parties an Open Skies Format 41 and include the following information in the request:</p>
                <div class="col-sm-12">
                  <p>(A) Proposed category of inspection equipment;</p>
                  <p>(B) Purpose and description of inspection equipment for proposed category;</p>
                  <p>(C) Example model and manufacturer of inspection equipment for proposed category;</p>
                  <p>(D) Technical specifications of example inspection equipment or web link, if applicable;</p>
                  <p>(E) Planned procedures for the intended use of the example inspection equipment;</p>
                  <p>(F) Web link for the operator manual or technical documentation for the example inspection equipment, if applicable. Hard copy documentation may be provided upon request.</p>
                </div>
              <p>3. Within 60 days after submitting the Open Skies Format 41, any State Party may request additional information on the proposed inspection equipment. In the event a demonstration is requested by any State Party, the State Party proposing a new inspection equipment category shall schedule a demonstration no sooner than 30 days after the request. States Parties, on the basis of information provided in this Section, shall determine whether the identified equipment is destructive or non-destructive.</p>
              <p>4. The Chairman of the Informal Working Group on Sensors (IWGS) shall include discussion of the proposal to add a new inspection equipment category on the agenda of the next scheduled IWGS meeting. Upon reaching consensus, the IWGS shall prepare a draft Revision to this Decision for review by the Open Skies Consultative Commission.</p>
              <p>5. Upon adoption of a revision to this decision as outlined in paragraph 4 of this section, the State Party making the request for a new inspection equipment category and who intends to use the example inspection equipment shall update their Open Skies Format 42.</p>
            </div>
          <p>SECTION III. PROCEDURES FOR NOTIFYING INSPECTION EQUIPMENT TO BE USED ON A PRE-FLIGHT INSPECTION, MEDIA PROCESSING, OR CERTIFICATION EVENTS</p>
            <div class="col-sm-12">
              <p>1. No later than 30 days prior to first intended use, a State Party planning to use any new inspection equipment provided for in Annex A of this Decision, shall submit to all State Parties an Open Skies Format 42 and include the following information:</p>
                <div class="col-sm-12">
                  <p>(A) Category of inspection equipment and inspection capability;</p>
                  <p>(B) Model and manufacturer of inspection equipment;</p>
                  <p>(C) Technical specifications or web link, if applicable;</p>
                  <p>(D) Planned procedures for intended use of the inspection equipment, and;</p>
                  <p>(E) Web link for the operator manual, or technical documentation for the inspection equipment, if applicable. Hard copy documentation may be provided upon request.</p>
                </div>
              <p>2. Any inspection equipment from a category in Annex A of this Decision that is marked with an asterisk (*) is exempt from the requirements outlined in paragraph 1 to this section. Specific models of X-ray and ultrasonic imaging equipment in use prior to the adoption of this decision shall also be exempt from this requirement.</p>
              <p>3. The inspection equipment shall be considered suitable for use 30 days after the notification provided in paragraph 1 of this section. If a State Party determines that the inspection equipment is destructive, it will notify all States Parties via Open Skies Format 35 and provide technical documentation describing the destructive nature of the equipment and the corresponding exclusions or limitations. The State Party introducing the inspection equipment shall update the Format 42 to incorporate the notified exclusions or limitations. A State Party, after presenting its Certification Technical Document or a change to an existing Certification Document, may update or modify any exclusions or limitations via Open Skies Format 35.</p>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>This Decision shall enter into force on the date of its adoption and shall have the same duration as the Treaty. This Decision supersedes OSCC Decision Number Two dated 29 June 1992.</p>
      <p>Prior to the certification of infrared (IR) or synthetic aperture radar (SAR) sensors, the Open Skies Consultative Commission shall convene to re-examine this decision on the basis of practical experience and to approve any amendments to this decision as necessary for these sensor categories.</p>
      <p>In accordance within OSCC Decision No. 3/10, the OSCC may consider revisions to the Decision at any time.</p>
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 20 April 2015, in each of the languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 col-sm-offset-10">
      <p align="right">OSCC.DEC/7/15
      <br/>20 April 2015
      <br/>Annex</p>
    </div>
  </div>
  <div class="col-sm-12 text-center">
      <strong>LIST OF APPROVED INSPECTION EQUIPMENT CATEGORIES</strong>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>1. The following table is the category list of inspection equipment categories, its purpose and description. This table also includes inspection equipment categories identified in Annex D and Annex F to the Treaty on Open Skies.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <strong>TABLE 1: Authorized Inspection Equipment Categories</strong>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <table class="table table-responsive table-striped">
        <tr>
          <th>Equipment Category</th>
          <th>Purpose</th>
          <th>Description</th>
        </tr>
        <tr>
          <td>(*)Video camera</td>
          <td>Used for collecting video and audio of aircraft and/or sensor equipment, cable runs, and/or sensor operations</td>
          <td>Digital, video camera that relies on reflective energy in the visible spectrum for imaging and records information in the audio spectrum</td>
        </tr>
        <tr>
          <td>(*)Digital camera</td>
          <td>Used for collecting images of aircraft and/or sensor equipment, cable runs, and/or sensor operations</td>
          <td>Digital, framing camera that relies on reflective energy in the visible spectrum for imaging</td>
        </tr>
        <tr>
          <td>(*)Hand-held audio recorder</td>
          <td>Used for collecting audible sound information</td>
          <td>Hand-held, digital device capable of recording audible sound information</td>
        </tr>
        <tr>
          <td>(*)Hand-held electronic computer such as a laptop computer, tablet or other portable electronic computer</td>
          <td>Used for facilitating inspections or examinations</td>
          <td>Laptop computer, tablet or other portable electronic computer</td>
        </tr>
        <tr>
          <td>(*)Borescope</td>
          <td>Used for imaging/performing visual inspections in tight/inaccessible places of the observation aircraft</td>
          <td>Non-destructive, video imaging device that is mounted on a rigid/flexible tube</td>
        </tr>
        <tr>
          <td>X-ray imaging equipment</td>
          <td>Used for imaging the internal structure of sensors, aircraft or media processing equipment</td>
          <td>Non-destructive equipment that relies on X-ray energy for imaging</td>
        </tr>
        <tr>
          <td>Ultrasonic imaging equipment</td>
          <td>Used for examining the depth of materials/structures</td>
          <td>Non-destructive equipment that relies on high-frequency sound for imaging</td>
        </tr>
        <tr>
          <td>(*)Passive IR sensor</td>
          <td>Used for examining sensors, aircraft, or media processing equipment during operations on the ground</td>
          <td>Non-destructive equipment that relies on thermal infrared emissions for imaging</td>
        </tr>
        <tr>
          <td>(*)Volt-ohm meter</td>
          <td>Used to conduct voltage level verifications and/or continuity checks</td>
          <td>Hand-held multi-meter</td>
        </tr>
      </table>
    </div>
  </div>
<br>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <table class="table table-responsive table-striped">
        <tr>
          <th>Equipment Category</th>
          <th>Purpose</th>
          <th>Description</th>
        </tr>
        <tr>
          <td>Oscilloscope</td>
          <td>Used for examining pulse repetition frequency or other variable voltage signals available for testing</td>
          <td>Non-destructive, passive instrument used to examine time dependent voltage signals</td>
        </tr>
        <tr>
          <td>Time Domain Reflectometer<br>(TDR)</td>
          <td>Used to electronically measure the length of a cable or detect anomalies within the span of a cable</td>
          <td>Non-destructive, hand-held inspection device capable of measuring cabling lengths/defects</td>
        </tr>
        <tr>
          <td>Collimator</td>
          <td>Used to examine the stability, jitter, focal length, and optical paths of airborne digital electro optical/infrared sensors from certification to observation mission</td>
          <td>Non-destructive, optical device used to project an image at a distance that is compatible for airborne electro optical/infrared sensor ground-based imaging examinations</td>
        </tr>
        <tr>
          <td>Radio Frequency Spectrum Analyser - Only to be used during Pre-Flight Inspection</td>
          <td>Used for examining the presence of wireless transmissions</td>
          <td>Non-destructive, passive instrument used to examine the magnitude and frequency of wireless signal transmissions</td>
        </tr>
        <tr>
          <td>Write Blocker</td>
          <td>Used for storage media duplication verification and confirming software consistency</td>
          <td>Non-destructive, hardware device that permits reading the contents of a storage device but prevents writing to that storage device</td>
        </tr>
        <tr>
          <td>Forensic Hardware/Software</td>
          <td>Hardware/software used for the execution and verification of storage media duplication, data erasure or confirming software consistency.</td>
          <td>Non-destructive hardware/software that provides the ability to perform and verify the data duplication, data erasure (overwriting and secure erase) and confirming software consistency</td>
        </tr>
        <tr>
          <td>Opto-technical characteristics diagnostic equipment</td>
          <td>Hardware used to test digital video cameras and infrared imaging devices</td>
          <td>Non-destructive, non-contact optical device used to measure actual resolution parameters and working spectral bands of digital video cameras and infrared imaging devices</td>
        </tr>
      </table>
    </div>
  </div>

<hr>
