<!-- DECISION 2/12 -->
<div id="decision_2_12"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/2/12
      <br>27 February 2012
      <br>OSCC+
      <br>Original:ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>1st Meeting of the 57th Session</strong> <br>OSCC(57) Journal No. 187, Agenda item 5(b) </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 2/12 <br/>NEW VERSION OF THE OPEN SKIES FORMAT 26 ON INFORMATION ON DESIGNATION OF SITES</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The Open Skies Consultative Commission, pursuant to the provisions of the Treaty on Open Skies, has decided to adopt the new version of the Open Skies Format 26, on information on designation of sites, as attached to this decision.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 27 February 2012, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>OS FORMAT 26
      <p>PRECEDENCE:</p>
      <p>FROM:</p>
      <p>TO: ALL STATES PARTIES</p>
      <p>INFO:</p>
      <p>SUBJECT: INFORMATION ON DESIGNATION OF SITES</p>
        <div class="col-sm-12">
          <p>1. OS MESSAGE NUMBER:</p>
          <p>2. OS MESSAGE DATE AND TIME:</p>
          <p>3. TREATY REFERENCE: ANNEX E, PARAGRAPH 4 AND OSCC.DEC/2/05, PARAGRAPH 6</p>
          <p>4. MESSAGE REFERENCE:</p>
          <p>5. CONTENT</p>
            <div class="col-sm-12">
              <p>A. SITE NAME:
                <div class="col-sm-12">
                  <p>(1) TYPE OF CHANGE: (ADD/CHANGE/DELETE/NO CHANGE)</p>
                  <p>(2) CO-ORDINATES:</p>
                  <p>(3) POINT OF ENTRY/EXIT?: (YES/NO)</p>
                  <p>(4) OPEN SKIES AIRFIELD?: (YES/NO)</p>
                  <p>(5) TRANSIT AIRFIELD?: (YES/NO)</p>
                  <p>(6) ENTRY/EXIT FIX?: (YES/NO)</p>
                  <p>(7) REFUELING AIRFIELD?: (YES/NO)</p>
                  <p>(8) CALIBRATION TARGET?: (YES/NO)</p>
                  <p>(9) SITE FOR INSPECTION OF AIRCRAFT/SENSORS?: (YES/NO)</p>
                  <p>(10) OVERNIGHT STOP?: (YES/NO)</p>
                  <p>(11) SITE ICAO IDENTIFIER:</p>
                  <p>(12) MAXIMUM OBSERVATION FLIGHT DISTANCE, IF APPLICABLE:</span<>
                </div>
              <p>B. ETC., FOR EACH SITE</p>
            </div>
          <p>6. REMARKS:</p>
          <p>7. END OF OS MESSAGE NUMBER:</p>
        </div>
    </div>
  </div>

<hr>
