<!-- DECISION 1/12 -->
<div id="decision_1_12"></div>

  <div class="row">
    <div class="col-sm-12">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/1/12
      <br>27 February 2012
      <br>OSCC+
      <br>Original:ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>1st Meeting of the 57th Session</strong> <br>OSCC(57) Journal No. 187, Agenda item 5(a) </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 1/12 <br/>NEW VERSION OF THE OPEN SKIES FORMAT 8 ON DESIGNATION/ADDITION OF AN OBSERVATION AIRCRAFT TYPE OR MODEL AND ITS INSTALLED SENSORS (ONE MESSAGE PER AIRCRAFT TYPE OR MODEL)</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The Open Skies Consultative Commission, pursuant to the provisions of the Treaty on Open Skies, has decided to adopt the new version of the Open Skies Format 8, on designation/addition of an observation aircraft type or model and its installed sensors (one message per aircraft type or model), as attached to this decision.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on27 February 2012, in each of the six languages specified in Article XIX of the Treaty onOpen Skies, all texts being equally authentic.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>OS FORMAT 8
      <br>PRECEDENCE:
      <br>FROM:
      <br>TO: ALL STATES PARTIES
      <br>INFO:
      <br>SUBJECT: DESIGNATION/ADDITION OF AN OBSERVATION AIRCRAFT TYPE OR MODEL AND ITS INSTALLED SENSORS (ONE MESSAGE PER AIRCRAFT TYPE OR MODEL)</p>
      <p>1. OS MESSAGE NUMBER:
      <br>2. OS MESSAGE DATE AND TIME:
      <br>3. TREATY REFERENCE: ARTICLE V, PARAGRAPH 2; ANNEX C
      <br>4. MESSAGE REFERENCE:
      <br>5. CONTENT</p>
        <div class="col-sm-12">
          <p>A. IS THIS AN INITIAL DESIGNATION OR A CHANGE TO A DESIGNATION?: (INITIAL OR CHANGE) (IF IT IS A CHANGE, EXPLAIN THE CHANGE BRIEFLY IN THE REMARKS SECTION)</p>
            <div class="col-sm-12">
              <p>(1) OS FORMATS 3, 4, 5, 6 AND 40, AS APPLICABLE, HAVE BEEN COMPLETED AND SENT: (YES/NO)</p>
            </div>
          <p>B. INFORMATION ON DESIGNATED/ADDITIONAL OBSERVATION AIRCRAFT</p>
              <div class="col-sm-12">
                <p>(1) AIRCRAFT TYPE AND MODEL:</p>
              </div>
          <p>C. MISSION PLAN DATA FOR EACH SENSOR CONFIGURATION</p>
            <div class="col-sm-12">
              <p>(1) FOR SENSORS WHOSE RESOLUTION IS DEPENDENT UPON ALTITUDE</p>
                <div class="col-sm-12">
                  <p>SENSOR CONFIGURATION NUMBER</p>
                  <p>HEIGHT ABOVE GROUND LEVEL IN METRES AT WHICH AGREED GROUND RESOLUTION IS ACHIEVED</p>
                  <p>OPTIMUM CRUISING SPEED (TRUE AIR SPEED THAT PROVIDES MAXIMUM FLYING RANGE) AT ALTITUDE SPECIFIED ABOVE, IN KILOMETRES PER HOUR</p>
                  <p>FUEL CONSUMPTION AT OPTIMUM CRUISING SPEED AT AT ALTITUDE SPECIFIED ABOVE, IN KILOGRAMS PER HOUR</p>
                </div>
              <p>(2) FOR SENSORS WHOSE RESOLUTION IS NOT DEPENDENT UPON ALTITUDE</p>
                <div class="col-sm-12">
                  <p>SENSOR CONFIGURATION NUMBER</p>
                  <p>ALTITUDE INMETRES WHICH	PROVIDES MAXIMUM AIRCRAFT FLYING RANGE</p>
                  <p>OPTIMUM CRUISING SPEED (TRUE AIR SPEED THAT PROVIDES MAXIMUM	FLYING RANGE) AT ALTITUDE SPECIFIED	ABOVE, IN KILOMETRES PER HOUR</p>
                  <p>FUEL CONSUMPTION AT OPTIMUM CRUISING SPEED AT ALTITUDE SPECIFIED ABOVE, IN KILOGRAMS PER HOUR</p>
                </div>
            </div>
          <p>D. NAVIGATION, COMMUNICATIONS, AND LANDING AIDS</p>
            <div class="col-sm-12">
              <p>(1) NAVIGATION EQUIPMENT INSTALLED, INCLUDING POSITIONAL ACCURACY</p>
                <div class="col-sm-12">
                  <p>(a) TYPE OF EQUIPMENT:</p>
                  <p>(i) POSITIONAL ACCURACY IN METRES/DEGREES:</p>
                  <p>(b) ETC., FOR EACH TYPE OF EQUIPMENT</p>
                </div>
              <p>(2) RADIO COMMUNICATIONS EQUIPMENT INSTALLED</p>
                <div class="col-sm-12">
                  <p>(a) TYPE OF EQUIPMENT:</p>
                  <p>(b) ETC., FOR EACH TYPE OF EQUIPMENT</p>
                </div>
              <p>(3) APPROACH AND LANDING EQUIPMENT INSTALLED</p>
                <div class="col-sm-12">
                  <p>(a) TYPE OF EQUIPMENT:</p>
                  <p>(b) ETC., FOR EACH TYPE OF EQUIPMENT</p>
                </div>
              <p>(4) EMERGENCY, WARNING, AND AUXILIARY EQUIPMENT INSTALLED</p>
                <div class="col-sm-12">
                  <p>(a) TYPE OF EQUIPMENT: (IF APPLICABLE)</p>
                  <p>(b) ETC., FOR EACH TYPE OF EQUIPMENT</p>
                </div>
            </div>
          <p class="OneTab">E. GROUND HANDLING
            <div class="col-sm-12">
              <p>(1) DIMENSIONS OF THE AIRCRAFT IN METRES OR FEET:</p>
                <div class="col-sm-12">
                  <p>(a) LENGTH:</p>
                  <p>(b) WINGSPAN:</p>
                  <p>(c) MAXIMUM HEIGHT:</p>
                  <p>(d) WHEEL BASE/TRACK WIDTH:</p>
                  <p>(e) TURNING RADIUS:</p>
                </div>
              <p>(2) WEIGHT OF THE AIRCRAFT IN KILOGRAMS, POUNDS, OR METRIC TONS:</p>
                <div class="col-sm-12">
                  <p>(a) MAXIMUM TAKE-OFF WEIGHT:</p>
                  <p>(b) MAXIMUM LANDING WEIGHT:</p>
                </div>
              <p>(3) AIRFIELD RUNWAY LENGTH AND PAVEMENT STRENGTH REQUIRED AT MAXIMUM TAKE-OFF AND LANDING WEIGHTS, INCLUDING ANY CAPABILITY FOR LANDING ON UNPAVED STRIPS</p>
                <div class="col-sm-12">
                  <p>(a) AIRFIELD RUNWAY LENGTH IN METRES OR FEET:</p>
                    <div class="col-sm-12">
                      <p>(i) REQUIRED AT MAXIMUM TAKE-OFF WEIGHT:</p>
                      <p>(ii) REQUIRED AT MAXIMUM LANDING WEIGHT:</p>
                    </div>
                  <p>(b) PAVEMENT STRENGTH</span>
                    <div class="col-sm-12">
                      <p>(i) UNITS OF MEASUREMENT:</p>
                      <p>(ii) REQUIRED AT MAXIMUM TAKE-OFF WEIGHT:</p>
                      <p>(iii) REQUIRED AT MAXIMUM LANDING WEIGHT:</p>
                    </div>
                  <p>(c) CAPABLE OF LANDING ON UNPAVED STRIPS: (YES/NO)</span>
                </div>
              <p>(4) CAPACITY AND TYPE OF</p>
                <div class="col-sm-12">
                  <p>(a) FUEL</p>
                    <div class="col-sm-12">
                      <p>(i) CAPACITY IN LITRES, IMPERIAL OR US GALLONS:</p>
                        <div class="col-sm-12">
                          <p>(aa) TYPE OF FUEL:</p>
                            <div class="col-sm-12">
                              <p>(aaa) DENSITY OF FUEL IN KILOGRAMS PER LITRE, OR POUNDS PER IMPERIAL OR US GALLON:</p>
                              <p>(bbb) ETC., FOR EACH TYPE OF FUEL</p>
                            </div>
                        </div>
                    </div>
                  <p>(b) OILS</p>
                    <div class="col-sm-12">
                      <p>(i) CAPACITY IN LITRES, IMPERIAL OR US GALLONS:</p>
                        <div class="col-sm-12">
                          <p>(aa) TYPE OF OIL:</p>
                          <p>(bb) ETC., FOR EACH TYPE OF OIL</p>
                        </div>
                    </div>
                  <p>(c) HYDRAULIC FLUIDS</p>
                    <div class="col-sm-12">
                      <p>(i) CAPACITY IN LITRES, IMPERIAL OR US GALLONS:</p>
                        <div class="col-sm-12">
                          <p>(aa) TYPE OF HYDRAULIC FLUID:</p>
                          <p>(bb) ETC., FOR EACH TYPE OF HYDRAULIC FLUID</p>
                        </div>
                    </div>
                  <p>(d) OXYGEN</p>
                    <div class="col-sm-12">
                      <p>(i) CAPACITY IN LITRES, IMPERIAL OR US GALLONS OR PRESSURE:</p>
                        <div class="col-sm-12">
                          <p>(aa) TYPE OF OXYGEN:</p>
                          <p>(bb) ETC., FOR EACH TYPE OF OXYGEN</p>
                        </div>
                    </div>
                </div>
              <p>(5) TYPES OF ELECTRICAL SERVICING AND STARTING UNITS</p>
                <div class="col-sm-12">
                  <p>(a) TYPE OF ELECTRICAL SERVICING AND STARTING UNIT:</p>
                  <p>(b) ETC., FOR EACH TYPE OF ELECTRICAL SERVICING AND STARTING UNIT</p>
                </div>
              <p>(6) ANY SPECIAL REQUIREMENTS:</p>
            </div>
          <p>F. ACCOMMODATION FACILITIES<p>
            <div class="col-sm-12">
              <p>(1) NUMBER OF FLIGHT CREW:</p>
              <p>(2) NUMBER OF SENSOR OPERATORS:</p>
              <p>(3) NUMBER OF FLIGHT REPRESENTATIVES, FLIGHT MONITORS, OR REPRESENTATIVES WHO COULD BE SEATED ON BOARD:</p>
              <p>(4) SLEEPING BERTHS:</p>
            </div>
        </div>
      <p>6. REMARKS:</p>
      <p>7. END OF OS MESSAGE NUMBER:</p>
    </div>
  </div>

<hr>
