<!-- DECISION 3/12 -->
<div id="decision_3_12"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/3/12
      <br>27 February 2012
      <br>OSCC+
      <br>Original:ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>1st Meeting of the 57th Session</strong> <br>OSCC(57) Journal No. 187, Agenda item 5(c)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 3/12 <br/> OSCC SCALE OF DISTRIBUTION FOR 2012</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The Open Skies Consultative Commission (OSCC),</p>
      <p>Pursuant to the provisions of paragraph 4 (D) of Article X and paragraph 9 of Section I of Annex L of the Treaty on Open Skies,</p>
      <p>In accordance with the provisions and Annexes of Decision Number Ten to the Treaty on Open Skies of 16 July 1993 (OSCC/III/Dec.10) contained in the Appendix to this decision,</p>
      <p>Pursuant to the provision of paragraph 1 of OSCC Decision No. 21/02 of
      9 September 2002 (OSCC.DEC/21/02) that "the scale of distribution of the Open Skies
      Consultative Commission shall be revised to reflect any revisions of the Standard Scale of
      Contributions" (replacing the OSCE's "Helsinki scale"),</p>
      <p>Recalling OSCC Decision No. 1/11 on the scale of distribution for 2011,</p>
      <p>Taking into account OSCE Permanent Council Decision No. 1027 of 22 December 2011 on the scales of contributions for 2012 (PC.DEC/1027), which adopted the OSCE scales of contributions for 2012,</p>
      <p>Taking into account that the special regime established by OSCC/III/Dec.10 continues to apply for the Russian Federation, Ukraine, Belarus and Georgia, and that respective ad hoc additional contributions of these States Parties in 2012 amount to 0.05, 0.02, 0.01 and 0.01 (in percentages),</p>
      <p>Decides to adopt the scale of distribution for the common expenses associated with the operation of the OSCC for 2012 as contained in the Annex to this decision.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>This decision will take effect on the date of its adoption and will be issued in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
      <p><strong>Provisions of OSCC/III/Dec.10:</strong></p>
      <p>"1.  The scale of distribution for the common expenses associated with the operation of the Open Skies Consultative Commission (hereafter referred to as the "scale of distribution of the Open Skies Consultative Commission") is based on the scale of distribution adopted in Helsinki on 10 July 1992, by the participating States to the CSCE (hereafter referred to as the "Helsinki scale"). The special regime established by this Decision takes into account present economic conditions and is limited in scope and in time. It does not constitute a precedent for any other CSCE or CSCE related body.</p>
      <p>2.  Taking into account the fact that not all participating States to the CSCE are Parties to the Treaty, States Parties have to make an additional contribution to their contribution to the "Helsinki scale", in order to cover the existing shortfall.</p>
        <div class="col-sm-12">
          <p>(A)  As a rule, this additional contribution will be proportional to the "Helsinki scale". Nevertheless, any State Party may provide a higher additional contribution.</p>
          <p>(B)  However, taking into account their present economic situation, those countries listed in Annex A to this Decision will be exempted from the proportional contribution mentioned in subparagraph (A) and will only make an ad hoc additional contribution, agreed by the States Parties.</p>
          <p>(C)  The special regime established in subparagraph (B) will last as long as the economic situation of the countries listed in Annex A to this Decision so requires. The special regime will thus be subject to review every year.</p>
        </div>
      <p>3.  As long as only participating States to the CSCE are Parties to the Treaty, and provided that there remains a shortfall to be covered, the financial contribution to the scale of distribution of the Open Skies Consultative Commission of any State Party will have to be superior to its contribution to the "Helsinki scale"."</p>
    </div>
  </div>

<hr>
<br/>

  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>Annex A to OSCC/III/Dec.10:</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>"List of countries to which the special regime established in paragraph 2, subparagraph (B) of the Decision on the scale of distribution of the Open Skies Consultative Commission may apply:</p>
        <div class="col-sm-11 col-sm-offset-1">
          <p>Armenia
          <br/>Azerbaijan
          <br/>Belarus
          <br/>Georgia
          <br/>Kazakhstan
          <br/>Kyrgyzstan
          <br/>Moldova
          <br/>Russian Federation
          <br/>Tajikistan
          <br/>Turkmenistan
          <br/>Ukraine
          <br/>Uzbekistan"</p>
        </div>
    </div>
  </div>

<hr>
<br/>

  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>Annex B to OSCC/III/Dec.10:</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>"1. The financial contribution to the scale of distribution of the OSCC of each State Party to the Treaty, except those which benefit from the special regime established in paragraph 2, subparagraph (B) of the above-mentioned Decision, those that provide higher additional contributions and those which are not participating States to the CSCE, is calculated as follows (in percentages):</p>
        <div class="col-sm-12">
          <p>OS<sub>i</sub> = K x H<sub>i</sub></p>
          <p>where:</p>
            <div class="col-sm-12">
              <p>i = State Party to which the present paragraph applies</span></p>
              <p>OS<sub>i</sub> = financial contribution of State Party i</p>
              <p>H<sub>i</sub> = contribution to the "Helsinki scale" of State Party i</p>
              <p>K = correction coefficient</p>
            </div>
        </div>
      <p>2. The financial contribution to the scale of distribution of the OSCC of a State Party that provides a higher additional contribution is calculated as follows (in percentages):</p>
        <div class="col-sm-12">
          <p >OS<sub>m</sub> = H<sub>m</sub> + E<sub>m</sub></p>
          <p>where:</p>
            <div class="col-sm-12">
              <p>m = State Party to which the present paragraph applies</span></p>
              <p>OS<sub>m</sub> = financial contribution of State Party m</p>
              <p>H<sub>m</sub> = contribution to the "Helsinki scale" of State Party m</p>
              <p>E<sub>m</sub> = additional contribution of State Party m</p>
            </div>
        </div>
      <p>3.  The financial contribution to the scale of distribution of the OSCC of a State Party to which the special regime established in paragraph 2, subparagraph (B) of the above-mentioned Decision applies is calculated as follows (in percentages):</p>
        <div class="col-sm-12">
          <p>OS<sub>j</sub> = H<sub>j</sub> + A<sub>j</sub></p>
          <p>where:</p>
            <div class="col-sm-12">
              <p>j = State Party to which the present paragraph applies</span></p>
              <p>OS<sub>j</sub> = financial contribution of State Party&nbsp;j</p>
              <p>H<sub>j</sub> = contribution to the "Helsinki scale" of State Party&nbsp;j</p>
              <p>A<sub>j</sub> = ad&nbsp;hoc additional contribution of State Party&nbsp;j</p>
            </div>
        </div>
      <p>4.  Coefficient K is determined from the formula:</p>
        <div class="col-sm-12">
          <p>(K x <span style='font-size:18.0pt;'>S</span>H<sub>i</sub> ) + <span style='font-size:18.0pt;'>S</span>OS<sub>m</sub>+ </span>
          <span style='font-size:18.0pt;'>S</span>OS<sub>j</sub> = 100%</p>
          <table>
          <tr>
          <td><i>or</i> K= </td>
          <td>
          <p>100%  - <span style='font-size:18.0pt;'>S</span>OS<sub>m</sub>  - <span style='font-size:18.0pt;'>S</span>OS<sub>j</p>
          <p><span style='font-size:6.0pt;'>_________________________________________________________________________</p>
          <p><span style='font-size:18.0pt;'>S</span>H<sub>i</sub></p>
          </td>
          </tr>
          </table>
          <p>where:</p>
            <div class="col-sm-12">
              <p>S</span>H<sub>i</sub> = sum of contributions to "Helsinki scale" of States Parties i - see paragraph 1 above.</p>
              <p><span style='font-size:18.0pt;'>S</span>OS<sub>m</sub> = sum of contributions to the scale of distribution of the OSCC of States Parties m - see paragraph 2 above.</p>
              <p><span style='font-size:18.0pt;'>S</span>OS<sub>j</sub> = sum of contributions to the scale of distribution of the OSCC of States Parties&nbsp;j - see paragraph&nbsp;3 above."</p>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>THE OSCC SCALE OF DISTRIBUTION</strong> <br>(Effective as of 1 January 2012)</p>
    </div>
  </div>
  <div class="row">
    <div class="col table-responsive">
      <table class="table table-striped">
        <tr>
          <td>United States of America</td>
          <td align="right">12.638</td>
        </tr>
        <tr>
          <td>Germany </td>
          <td align="right">10.275</td>
        </tr>
        <tr>
          <td>France </td>
          <td align="right">10.275</td>
        </tr>
        <tr>
          <td>United Kingdom </td>
          <td align="right">10.275</td>
        </tr>
        <tr>
          <td>Italy</td>
          <td align="right">10.275</td>
        </tr>
        <tr>
          <td>Canada</td>
          <td align="right"> 6.077</td>
        </tr>
        <tr>
          <td>Russian Federation</td>
          <td align="right">6.050</td>
        </tr>
        <tr>
          <td>Spain </td>
          <td align="right">5.033</td>
        </tr>
        <tr>
          <td>Netherlands</td>
          <td align="right">4.791</td>
        </tr>
        <tr>
          <td>Belgium </td>
          <td align="right">3.561</td>
        </tr>
        <tr>
          <td>Sweden</td>
          <td align="right">3.561</td>
        </tr>
        <tr>
          <td>Denmark</td>
          <td align="right">2.308</td>
        </tr>
        <tr>
          <td>Norway</td>
          <td align="right">2.253</td>
        </tr>
        <tr>
          <td>Finland </td>
          <td align="right">2.033</td>
        </tr>
        <tr>
          <td>Poland </td>
          <td align="right">1.484</td>
        </tr>
        <tr>
          <td>Turkey</td>
          <td align="right">1.110</td>
        </tr>
        <tr>
          <td>Greece </td>
          <td align="right">1.077</td>
        </tr>
        <tr>
          <td>Portugal</td>
          <td align="right">1.077</td>
        </tr>
        <tr>
          <td>Ukraine </td>
          <td align="right">0.700</td>
        </tr>
        <tr>
          <td>Hungary </td>
          <td align="right">0.659</td>
        </tr>
        <tr>
          <td>Romania </td>
          <td align="right">0.659</td>
        </tr>
        <tr>
          <td>Czech Republic</td>
          <td align="right">0.626</td>
        </tr>
        <tr>
          <td>Bulgaria </td>
          <td align="right">0.604</td>
        </tr>
        <tr>
          <td>Luxembourg</td>
          <td align="right">0.517</td>
        </tr>
        <tr>
          <td>Slovakia</td>
          <td align="right">0.308</td>
        </tr>
        <tr>
          <td>Belarus </td>
          <td align="right">0.290</td>
        </tr>
        <tr>
          <td>Slovenia </td>
          <td align="right">0.242</td>
        </tr>
        <tr>
          <td>Croatia</td>
          <td align="right">0.209</td>
        </tr>
        <tr>
          <td>Estonia</td>
          <td align="right">0.209</td>
        </tr>
        <tr>
          <td>Iceland </td>
          <td align="right">0.209</td>
        </tr>
        <tr>
          <td>Latvia </td>
          <td align="right">0.209</td>
        </tr>
        <tr>
          <td>Lithuania</td>
          <td align="right">0.209</td>
        </tr>
        <tr>
          <td>Bosnia and Herzegovina</td>
          <td align="right">0.137</td>
        </tr>
        <tr>
          <td>Georgia </td>
          <td align="right"><u>0.060</u></td>
        </tr>
        <tr>
          <td>Total </td>
          <td align="right">100.000</td>
        </tr>
      </table>
    </div>
  </div>

<hr>
