<!-- DECISION TWO -->
<div id="decision_2"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top"> Back to Decisions List </a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">  OSCC/I/Dec.2<br/>29 June 1992</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p align="center"><strong>DECISION TWO TO THE TREATY ON OPEN SKIES <br/><br/>ADDITIONAL NON-DESTRUCTIVE-TESTING EQUIPMENT </p></strong>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-left">
      <p>The States Parties to the Treaty on Open Skies, pursuant to the provisions of Annex F, Section I, paragraph 7 of the Treaty on Open Skies, have agreed as follows: </P>
      <p>In addition to the items of non-destructive-testing equipment which the observed Party shall have the right to take on board and use on the observation aircraft, the observed Party shall also have the right to take on board and use a volt-ohm meter. </P>
      <p>In addition to the item of equipment specified above, the Open Skies Consultative Commission may agree, after 30 June 1992, within the framework of consideration of technical measures, on additional items of non-destructive-testing equipment. </P>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p> * * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-left">
      <p>This Decision shall enter into force simultaneously with the Treaty on Open Skies and shall have the same duration as the Treaty.</P>
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 29 June 1992, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic. </P>
    </div>
  </div>

<hr />
