<!-- DECISION EIGHT -->
<div id="decision_8"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top"> Back to Decisions List </a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC/III/Dec.8<br/> 16 July 1993</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION EIGHT <br/>TO THE TREATY ON OPEN SKIES <br>INTERVALS AT WHICH DATA SHALL BE <br/>ANNOTATED WITH INFORMATION</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <P>The Open Skies Consultative Commission, pursuant to the provisions of Annex B, Section II, paragraph 2, subparagraphs (A)(1), (B) and (C)(1) of the Treaty on Open Skies, has decided as follows: </P>
      <P>The intervals at which data shall be annotated with information are: </P>
      <div class="col-sm-12">
        <P>1. In the case of optical cameras, on every frame. </P>
        <P>2. In the case of infra-red line-scanning devices recording data on photographic film, at intervals not greater than every thirty-one centimetres. </P>
        <P>3. In the case of video cameras using a frame-imaging device, once per frame. </P>
        <P>4. In the case of video cameras using a line-imaging device, infra-red line-scanning devices recording on magnetic tape, and sideways-looking synthetic aperture radars, at least every 512 lines. </P>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <P>This Decision shall enter into force simultaneously with the Treaty on Open Skies and shall have the same duration as the Treaty.</P>
      <P>Decided in Vienna, in the Open Skies Consultative Commission, on 16 July 1993, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic. </P>
    </div>
  </div>

<hr />
