<!-- DECISION 8/11 -->
<div id="decision_8_11"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/8/11
      <br>24 October 2011
      <br>OSCC+
      <br>Original:ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>2nd Meeting of the 56th Session</strong> <br>OSCC(56) Journal No. 184, Agenda item 6(b)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 8/11 <br/>REVIEW OF PER DIEM EXPENSES IN OSCC DECISION No. 2/09</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>In February and March 2011 the Informal Working Group on Rules and Procedures (IWGRP) reviewed the provisions of Section V, paragraph 2 of OSCC Decision No. 2/09 on the distribution of costs arising under the Treaty on Open Skies. Decision No. 2/09 requires that such a review take place every two years to review the maximum daily per person sum to be reimbursed by the observing Party for meals and accommodation provided to its personnel during certifications and observation flights.</p>
      <p>The IWGRP review confirmed that the current figure of EUR 150 will remain the cost rate for the next two years.</p>
      <p>Thus, the OSCC hereby decides that Decision No. 2/09 remains in effect and requires no changes. The OSCC notes that the cost rates in Decision No. 2/09 will be reviewed again in 2013.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 24 October 2011 in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
