<!-- DECISION 6/11 -->
<div id="decision_6_11"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/6/11
      <br>24 October 2011
      <br>OSCC+
      <br>Original:ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>2nd Meeting of the 56th Session</strong> <br>OSCC(56) Journal No. 184, Agenda item 4(e)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 6/11 <br/>NEW VERSION OF THE OPEN SKIES FORMAT 40 ON TECHNICAL INFORMATION ON DIGITAL VIDEO CAMERAS INSTALLED ON DESIGNATED AIRCRAFT</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The Open Skies Consultative Commission pursuant to the provisions of the Treaty on Open Skies, has decided to adopt the new version of the Open Skies Format 40 on technical information on digital video cameras installed on designated aircraft, as attached to this decision.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>

<hr>
<br/>
  <div class="row">
    <div class="col-sm-12">
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 24 October 2011, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>OS FORMAT 40
      <br>PRECEDENCE:
      <br>FROM:
      <br>TO:
      <br>ALL STATES PARTIES INFO:
      <br>SUBJECT:
      <br>TECHNICAL INFORMATION ON DIGITAL VIDEO CAMERAS INSTALLED ON DESIGNATED AIRCRAFT</p>
        <div class="col-sm-12">
          <p>1. OS MESSAGE NUMBER:
          <br>2. OS MESSAGE DATE AND TIME:
          <br>3. TREATY REFERENCE: ARTICLE IV, PARAGRAPH 10; ANNEX B, SECTION I
          <br>4. MESSAGE REFERENCE (OS FORMAT 8 MUST ACCOMPANY THIS FORMAT):
          <br>5. CONTENT</p>
            <div class="col-sm-12">
              <p>A. INFORMATION ON FRAMING AND LINE-IMAGING VIDEO CAMERAS</p>
                <div class="col-sm-12">
                  <p>(1) SENSOR TYPE (FRAMING, LINE IMAGING)/MANUFACTURER NAME/MODEL:</p>
                    <div class="col-sm-12">
                      <p>(a) INFORMATION ON DETECTOR ARRAYS</p>
                        <div class="col-sm-12">
                          <p>(i) TOTAL NUMBER OF DETECTOR ARRAYS IN SENSOR:</p>
                          <p>(ii) DETECTOR ARRAY DESIGNATION OR DESIGNATIONS:</p>
                            <div class="col-sm-12">
                              <p>(aa) SIZE OF INDIVIDUAL DETECTOR ELEMENTS (PIXELS), IN MICROMETRES</p>
                                <div class="col-sm-12">
                                  <p>(aaa) LENGTH:</p>
                                  <p>(bbb) WIDTH:</p>
                                </div>
                              <p>(bb) ARRANGEMENT OF DETECTOR ELEMENTS WITHIN THE DETECTOR ARRAY, IN PIXELS</p>
                                <div class="col-sm-12">
                                  <p>(aaa) ARRAY LENGTH:</p>
                                  <p>(bbb) ARRAY WIDTH:</p>
                                </div>
                              <p>(cc) DIMENSION OF DETECTOR ARRAY, IN MILLIMETRES</p>
                                <div class="col-sm-12">
                                  <p>(aaa) ARRAY LENGTH:</p>
                                  <p>(bbb) ARRAY WIDTH:</p>
                                </div>
                            </div>
                          <p>(iii) ETC., FOR EACH DETECTOR ARRAY DESIGNATION HAVING DIFFERENT CHARACTERISTICS</p>
                        </div>
                      <p>(b) SPECTRAL INFORMATION FOR EACH DETECTOR ARRAY DESIGNATION (DOES NOT APPLY TO BAYER SENSORS)</p>
                        <div class="col-sm-12">
                          <p>(i) DETECTOR ARRAY DESIGNATION OR DESIGNATIONS ASSOCIATED WITH SPECTRAL INFORMATION (IN ACCORDANCE WITH DOCUMENTATION PROVIDED BY THE MANUFACTURER):</p>
                            <div class="col-sm-12">
                              <p>(aa) COLOR DESIGNATION:</p>
                                <div class="col-sm-12">
                                  <p>(aaa) CENTRAL WAVELENGTH IN NANOMETRES:</p>
                                  <p>(bbb) MINIMUM WAVELENGTH MEASURED AT THE -3DB POWER POINT IN NANOMETRES:</p>
                                  <p>(ccc) MAXIMUM WAVELENGTH MEASURED ATTHE -3DB POWER POINT IN NANOMETRES:</p>
                                  <p>(ddd) FILTER DESIGNATION</p>
                                    <div class="col-sm-12">
                                      <p>1) FILTER NAME:</p>
                                      <p>2) INSTALLATION METHOD: (INTERNAL OR EXTERNAL)</p>
                                      <p>3) SPECTRAL CHARACTERISTICS OF EXTERNALLY INSTALLED FILTER (IF APPLICABLE)</p>
                                        <div class="col-sm-12">
                                          <p>A) WAVELENGTH OF THE CUTTING FILTER IN NANOMETRES: (IF APPLICABLE)</p>
                                          <p>B) WAVELENGTH OF ADJUSTING FILTER IN NANOMETRES (IF APPLICABLE)</p>
                                            <div class="col-sm-12">
                                              <p>i) MINIMUM TRANSMITTANCE WAVELENGTH MEASURED AT -3DB:</p>
                                              <p>ii) MAXIMUM TRANSMITTANCE WAVELENGTH MEASURED AT -3DB:</p>
                                              <p>iii) CENTRAL WAVELENGTH:</p>
                                            </div>
                                          <p>C) GRAY FILTER FACTOR: (IF APPLICABLE)</p>
                                        </div>
                                    </div>
                                  <p>(eee) ETC., FOR EACH FILTER</p>
                                </div>
                              <p>(bb) ETC., FOR EACH DIFFERENT COLOR DESIGNATION, AS APPLICABLE</p>
                            </div>
                          <p>(ii) ETC., FOR EACH DETECTOR ARRAY DESIGNATION</p>
                        </div>
                      <p>(c) INFORMATION ON VIDEO CAMERA LENS</p>
                        <div class="col-sm-12">
                          <p>(i) TOTAL NUMBER OF LENS DESIGNATIONS FOR SENSOR:</p>
                          <p>(ii) LENS DESIGNATION AND CHARACTERISTIC:</p>
                            <div class="col-sm-12">
                              <p>(aa) MANUFACTURER / MODEL:</p>
                              <p>(bb) FIELD OF VIEW OR SCAN ANGLE IN DEGREES:</p>
                              <p>(cc) RELATIVE APERTURE</p>
                                <div class="col-sm-12">
                                  <p>(aaa) MAXIMUM:</p>
                                  <p>(bbb) MINIMUM:</p>
                                  <p>(ccc) DISCRETE VALUE(S) (IF APPLICABLE)</p>
                                    <div class="col-sm-12">
                                      <p>1) VALUE:</p>
                                      <p>2) ETC., FOR EACH VALUE</p>
                                    </div>
                                </div>
                              <p>(dd) MAXIMUM FOCAL LENGTH IN MILLIMETRES:</p>
                              <p>(ee) SHUTTER SPEED (IF APPLICABLE)</p>
                                <div class="col-sm-12">
                                  <p>(aaa) MINIMUM SHUTTER SPEED (SEC):</p>
                                  <p>(bbb) MAXIMUM SHUTTER SPEED (SEC):</p>
                                </div>
                              <p>(ff) RESOLVING POWER AT A CONTRAST RATIO OF 1000 TO 1 OR THE EQUIVALENT MODULATION OF 1.0, AT THE MAXIMUM RELATIVE APERTURE, IN LINE PAIRS PER MILLIMETRE (IN ACCORDANCE WITH DOCUMENTATION PROVIDED BY THE MANUFACTURER):</span>
                              <p>(gg) DETECTOR ARRAY DESIGNATION ASSOCIATED WITH LENS:</p>
                                <div class="col-sm-12">
                                  <p>(aaa) NUMBER OF DETECTOR ARRAYS ASSOCIATED WITH LENS:</p>
                                  <p>(bbb) LOCATION OF CENTER OF DETECTOR ARRAY, MEASURED AS A TWO-DIMENSIONAL, 4 QUADRANT, POSITION RELATIVE TO LENS OPTICAL AXIS IN DEGREE BY DEGREE:</p>
                                  <p>(ccc) ETC. FOR EACH DETECTOR ARRAY HAVING DIFFERENT INSTALLATION</p>
                                </div>
                              <p>(hh) ETC., FOR EACH DIFFERENT DESIGNATION OF DETECTOR ARRAYS ASSOCIATED WITH THE LENS</p>
                            </div>
                          <p>(iii) ETC., FOR EACH DIFFERENT LENS DESIGNATION</span>
                        </div>
                      <p>(d) INFORMATION ON DIGITAL SAMPLING</p>
                        <div class="col-sm-12">
                          <p>(i) FOR LINE IMAGING SENSOR</p>
                            <div class="col-sm-12">
                              <p>(aa) MINIMUM DIGITAL SAMPLING RATE (TIME) IN MILLISECONDS:</p>
                              <p>(bb) MAXIMUM DIGITAL SAMPLING RATE (TIME) IN MILLISECONDS:</p>
                              <p>(cc) DEPTH IN BITS:</p>
                            </div>
                          <p>(ii) FOR FRAMING SENSOR</p>
                            <div class="col-sm-12">
                              <p>(aa) MINIMUM FRAME RATE IN FRAMES PER SECOND: (IF APPLICABLE)</p>
                              <p>(bb) MAXIMUM FRAME RATE IN FRAMES PER SECOND:</p>
                              <p>(cc) DEPTH IN BITS:</p>
                            </div>
                        </div>
                      <p>(e) OPEN SKIES DIGITAL IMAGERY PRODUCTS INTENDED TO BE CERTIFIED</p>
                        <div class="col-sm-12">
                          <p>(i) IMAGE DESIGNATION:</p>
                            <div class="col-sm-12">
                              <p>(aa) FIELD OF VIEW OR SCAN ANGLE</p>
                                <div class="col-sm-12">
                                  <p>(aaa) ACROSS THE FLIGHT PATH IN DEGREES:</p>
                                  <p>(bbb) ALONG THE FLIGHT PATH IN DEGREES: (IF APPLICABLE)</p>
                                </div>
                              <p>(bb) IMAGE LENS (ES)</p>
                                <div class="col-sm-12">
                                  <p>(aaa) LENS DESIGNATION:</p>
                                    <div class="col-sm-12">
                                      <p>1) NUMBER OF LENSES:</p>
                                      <p>2) OPTICAL AXIS POINTING VECTOR MEASURED AS A TWO-DIMENSIONAL, 4 QUADRANT, POSITION RELATIVE TO SENSORS CENTRAL OR NORMAL AXIS IN DEGREE BY DEGREE:</p>
                                      <p>3) ETC., FOR EACH LENS</p>
                                    </div>
                                  <p>(bbb) ETC., FOR EACH DIFFERENT LENS DESIGNATION</p>
                                </div>
                              <p>(cc) EFFECTIVE FOCAL LENGTH IN PIXELS OR MILLIMETRES:</p>
                              <p>(dd) IMAGE DIMENSIONS</p>
                                <div class="col-sm-12">
                                  <p>(aaa) NUMBER OF PIXELS ACROSS THE FLIGHT PATH:</p>
                                  <p>(bbb) NUMBER OF PIXELS ALONG THE FLIGHT PATH:</p>
                                </div>
                              <br><span class="FiveTab">(ee) DETECTOR ARRAY DESIGNATION OR DESIGNATIONS ASSOCIATED WITH IMAGE DESIGNATION:</span>
                              <p>(ff) NUMBER OF SPECTRAL BANDS:</p>
                              <p>(gg) NUMBER OF BITS PER PIXEL PER SPECTRAL BAND:</p>
                              <p>(hh) OSDDEF IMAGE FILE SIZE IN BYTES:</p>
                              <p>(ii) FOR PANSHARPENED OR COMPOSITE IMAGES</p>
                                <div class="col-sm-12">
                                  <p>(aaa) COLOR DESIGNATION:</p>
                                  <p>(bbb) ETC., FOR EACH COLOR DESIGNATION</p>
                                </div>
                            </div>
                          <p>(ii) ETC., FOR EACH DIFFERENT IMAGE DESIGNATION</p>
                        </div>
                      <p>(f) INFORMATION ON HARDWARE FOR PRE-PROCESSING THE VIDEO SIGNAL AND GENERATION OF PRIMARY SIGNAL DATA</p>
                        <div class="col-sm-12">
                          <p>(i) MANUFACTURER NAME / MODEL:</p>
                          <p>(ii) HARDWARE VERSION:</p>
                        </div>
                      <p>(g) INFORMATION ON SOFTWARE FOR PRE-PROCESSING OF THE VIDEO SIGNAL AND GENERATION OF PRIMARY SIGNAL DATA (IF APPLICABLE)</p>
                        <div class="col-sm-12">
                          <p>(i) SOFTWARE NAME / VERSION:</p>
                          <p>(ii) ETC., FOR EACH SOFTWARE PRODUCT</p>
                        </div>
                      <p>(h) INFORMATION ON SOFTWARE FOR PROCESSING OF THE ORIGINAL DATA AND GENERATION OF VIDEO DIGITAL IMAGERY PRODUCT (IF APPLICABLE)</p>
                        <div class="col-sm-12">
                          <p>(i) SOFTWARE NAME / VERSION:</p>
                          <p>(ii) ETC., FOR EACH SOFTWARE PRODUCT</p>
                        </div>
                      <p>(i) INFORMATION ON SOFTWARE FOR PROCESSING OF THE VIDEO DIGITAL IMAGERY PRODUCT AND GENERATION OF THE OPEN SKIES VIDEO DIGITAL IMAGERY PRODUCT, AND HARDWARE (IF APPLICABLE)</p>
                        <div class="col-sm-12">
                          <p>(i) SOFTWARE AND/OR HARDWARE NAME / VERSION:</p>
                          <p>(ii) ETC., FOR EACH SOFTWARE AND/OR HARDWARE PRODUCT</p>
                        </div>
                      <p>(j) INFORMATION ON RECORDING EQUIPMENT</p>
                        <div class="col-sm-12">
                          <p>(i) FOR RECORDINGS ON MAGNETIC TAPE</p>
                            <div class="col-sm-12">
                              <p>(aa) TYPE OF DATA RECORDING EQUIPMENT:</p>
                              <p>(bb) MAXIMUM DATA RECORDING RATE IN LINES PER SECOND FOR LINE-IMAGING SYSTEMS OR IN FRAMES PER SECOND FOR FRAMING SYSTEMS OR MEGABYTES PER SECOND FOR DIGITAL SYSTEMS:</p>
                              <p>(cc) VIDEO BANDWIDTH IN MEGAHERTZ:</p>
                            </div>
                          <p>(ii) FOR DIGITAL RECORDINGS ON OTHER THAN MAGNETIC TAPE</p>
                            <div class="col-sm-12">
                              <p>(aa) TYPE, USER INTERFACE, AND FILE SYSTEM FORMAT OF DATA RECORDING EQUIPMENT:</p>
                              <p>(bb) MAXIMUM DATA RECORDING RATE IN MEGABYTES PER SECOND:</p>
                            </div>
                        </div>
                      <p>(k) INFORMATION ON EQUIPMENT FOR MEASURING AIRCRAFT MOTION DATA USED FOR IMAGING (IF APPLICABLE)</p>
                        <div class="col-sm-12">
                          <p>(i) TYPE AND MODEL OF EQUIPMENT: (TYPE/MODEL)</p>
                            <div class="col-sm-12">
                              <p>(aa) FREQUENCY OF MEASUREMENT IN KILOHERTZ:</p>
                            </div>
                          <p>(ii) ETC., FOR EACH EQUIPMENT TYPE AS APPLICABLE</p>
                        </div>
                      <p>(l) INFORMATION ON SENSOR INSTALLATION</p>
                        <div class="col-sm-12">
                          <p>(i) SENSOR INSTALLATION:</p>
                            <div class="col-sm-12">
                              <p>(aa) SENSOR MOUNT DESIGNATION:</p>
                                <div class="col-sm-12">
                                  <p>(aaa) DESCRIPTION:</p>
                                </div>
                              <p>(bb) ANGLES OF DEVIATION OF THE SENSOR MOUNT, MEASURED LEFT OR RIGHT, RELATIVE THE AIRCRAFT VERTICAL AXIS IN DEGREES:</p>
                              <p>(cc) SENSOR WINDOW DESIGNATION FOR THE WINDOW ASSOCIATED WITH THE SENSOR MOUNT:</p>
                                <div class="col-sm-12">
                                  <p>(aaa) DESCRIPTION:</p>
                                </div>
                            </div>
                          <p>(ii) ETC. FOR EACH SENSOR INSTALLATION</p>
                        </div>
                    </div>
                  <br><span class="TwoTab">(2) ETC., FOR EACH FRAMING AND LINE-IMAGING VIDEO CAMERA</span></p>
                </div>
              <P>B. FOR SENSORS THAT ARE CERTIFIED AFTER 1 JANUARY, 2006, AND THAT RECORD INITIALLY IN ANALOGUE FORMAT</p>
                <div class="col-sm-12">
                  <p>(1) TYPE AND MODEL OF HARDWARE USED TO DIGITIZE ANALOGUE DATA: (TYPE / MODEL)</p>
                  <p>(2) NAME/VERSION OF SOFTWARE USED TO DIGITIZE ANALOGUE DATA:</p>
                    <div class="col-sm-12">
                      <p>(a) SAMPLING RATE OF ANALOGUE TO DIGITAL CONVERTER:</p>
                      <p>(b) NUMBER OF BITS PER PIXEL PER SPECTRAL BAND:</p>
                    </div>
                </div>
              <p>C. DESCRIPTION OF SENSOR CONFIGURATION
                <div class="col-sm-12">
                  <p>(1) CONFIGURATION NUMBER:</p>
                    <div class="col-sm-12">
                      <p>(a) SENSOR TYPE / MANUFACTURER NAME/MODEL:</p>
                      <p>(b) IMAGE DESIGNATION:</p>
                      <p>(c) HARDWARE FOR PRE-PROCESSING THE VIDEO SIGNAL AND GENERATION OF PRIMARY SIGNAL DATA MANUFACTURER NAME / MODEL / VERSION:</p>
                      <p>(d) SOFTWARE FOR PRE-PROCESSING OF THE VIDEO SIGNAL AND GENERATION OF PRIMARY SIGNAL DATA (IF APPLICABLE)</p>
                        <div class="col-sm-12">
                          <p>(i) NAME/VERSION:</p>
                          <p>(ii) ETC.</p>
                        </div>
                      <p>(e) SOFTWARE FOR PROCESSING OF THE ORIGINAL DATA AND GENERATION OF VIDEO DIGITAL IMAGERY PRODUCT (IF APPLICABLE)</p>
                        <div class="col-sm-12">
                          <p>(i) NAME/VERSION:</p>
                          <p>(ii) ETC.</p>
                        </div>
                      <p>(f) SOFTWARE FOR PROCESSING OF THE VIDEO DIGITAL IMAGERY PRODUCT AND GENERATION OF THE OPEN SKIES VIDEO DIGITAL IMAGERY PRODUCT, AND HARDWARE (IF APPLICABLE), NAME/VERSION:</p>
                      <p>(g) INFORMATION ON DIGITAL SAMPLING</p>
                        <div class="col-sm-12">
                          <p>(i) FOR LINE IMAGING SENSOR</p>
                            <div class="col-sm-12">
                              <p>(aa) MINIMUM DIGITAL SAMPLING RATE (TIME) IN MILLISECONDS:</p>
                              <p>(bb) MAXIMUM DIGITAL SAMPLING RATE (TIME) IN MILLISECONDS:</p>
                              <p>(cc) DEPTH IN BITS:</p>
                            </div>
                        </div>
                      <p>(h) INFORMATION ON EQUIPMENT FOR MEASURING AIRCRAFT MOTION DATA USED FOR IMAGING (IF APPLICABLE)</p>
                        <div class="col-sm-12">
                          <p>(i) TYPE AND MODEL OF EQUIPMENT: (TYPE/MODEL)</p>
                            <div class="col-sm-12">
                              <p>(aa) FREQUENCY OF MEASUREMENT IN KILOHERTZ:</p>
                            </div>
                          <p>(ii) ETC., FOR EACH EQUIPMENT TYPE AS APPLICABLE</p>
                        </div>
                      <p>(i) HARDWARE / SOFTWARE USED TO DIGITIZE ANALOGUE DATA:</p>
                      <p>(IF APPLICABLE)</p>
                      <p>(j) TYPE AND MODEL OF EQUIPMENT USED TO RECORD ANALOGUE DATA: (TYPE / MODEL) (IF APPLICABLE)</span>
                      <p>(k) SENSOR INSTALLATION:</p>
                    </div>
                  <p>2) ETC., FOR EACH CONFIGURATION NUMBER</p>
                </div>
            </div>
          <p>6. REMARKS:
          <p>7. END OF OS MESSAGE NUMBER:</p>
        </div>
    </div>
  </div>

<hr>
