<!-- DECISION 2/03 -->
<div id="decision_2_3"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a>
      <br/><a href="#2/03Annex">Annex</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/2/03
      <br/>24 February 2003</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>2nd Meeting of the 30th Session</strong>
      <br>OSCC(30) Journal No. 87, Agenda item 6(d)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>OSCC DECISION No. 2/03 <br>AMENDMENT 1 TO DECISION NUMBER SIX <br>TO THE TREATY ON OPEN SKIES </strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The Open Skies Consultative Commission,</p>
      <p>Taking into account the considerable changes affecting the implementation of the Treaty on Open Skies, especially its entry into force on 1 January 2002, and the experience gained since,</p>
      <p>Taking into account the information provided by the OSCE Secretariat annexed to this decision,</p>
      <p>In accordance with Article X and Annex L of the Treaty on Open Skies,</p>
      <p>Has decided to</p>
      <p>Request the OSCE Secretariat to provide the following tasks, beyond those that are listed in paragraph 3 of Section VI of Decision Number Six to the Treaty on Open Skies:</p>
        <div class="col-sm-12">
          <p>- Maintain a hardcopy archive of all OSCC documents, as well as an electronic version;</p>
          <p>- Ensure the filing of circulated national data;</p>
          <p>- Maintain a central archive of Open Skies notifications received from States Parties. Forward notifications to/from States Parties not connected to the OSCE network. Retransmit required notifications to States Parties. Notifications received through the OSCE Network will not be posted on the Website;</p>
          <p>- Maintain a point of contact list of Open Skies experts; </p>
          <p>- Participate in OSCC plenary meetings;</p>
          <p>- Handle issues related to the OSCE website: ensure the posting of all OSCC documents as requested by delegations on the "OSCE delegations website", as well as posting current reference information on the public website as provided by the OSCC.</p>
        </div>
      <p>In order to ensure the effective implementation of this Decision, all States Parties are strongly encouraged to provide the OSCE Secretariat a copy of their Open Skies notifications.</p>
      <p>The scale of distribution for the expenses associated with the fulfilment of the above tasks will be the same as other common expenses according to Decision No. 21/02.</p>
      <p>This Decision supersedes Decision Number Twenty-One to the Treaty on Open Skies.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>This Decision shall enter into force on the date of its adoption and shall have the same duration as the Treaty.</p>
      <p>Decided in Vienna, in the Open Skies Consultative Commission on 24 February 2003, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>

<!-- Annex-->
  <div class="row">
    <div class="col-sm-2">
        <p align="left"><a href="#2/03">Back to Decision 2/03</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/2/03
      <br/>24 February 2003</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><b>Annex</b>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>OSCC.DEC/2/03 requested the OSCE Secretariat to provide the following tasks. Pursuant to numerous meetings and internal co-ordination by the Secretariat, the following is a breakdown by function based on input from the OSCC. It is recommended that experience be gathered from the first phase of Open Skies Treaty implementation until the first review conference in 2005 to further ascertain exact support requirements.</p>
    </div>
  </div>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
      <table class="table table-responsive table-striped">
        <tr>
          <td><strong>Supporting agency</strong></td>
          <td><strong>Task</strong></td>
          <td><strong>Resources required</strong></td>
        </tr>
        <tr>
          <td>CPC</td>
          <td>Forward OS notifications received through the OSCE Communications Network to Conference Services for distribution to  non-networked States Parties</td>
          <td>No additional
          <br>Already established (according to existing procedure via pigeon-holes).</td>
        </tr>
        <tr>
          <td>CPC</td>
          <td>Retransmit required notifications to States Parties</td>
          <td>No additional.
          <br>Already established (existing procedure via pigeon-holes). Currently performed upon request only for notifications sent on the OSCE Communications Network</td>
        </tr>
        <tr>
          <td>DMF/Conference Services</td>
          <td>Maintain a hard and electronic copy archive of all OSCC documents</td>
          <td>Already established, hard copies are being filed and an electronic archive is available on the OSCE Restricted Website</td>
        </tr>
        <tr>
          <td>DMF/Conference Services</td>
          <td>File circulated national data</td>
          <td>Hard copies and an electronic archive of circulated OSCC documents are available (OSCE Restricted Website).</td>
        </tr>
        <tr>
          <td>DMF/Conference Services</td>
          <td>Maintain a central archive of all OS notifications; Notifications received through the OSCE Network will not be posted on the Website.</td>
          <td>To date CS files the hard copies. As of 1 January 2003 CS will keep an electronic archive of all notifications received from delegations and from CPC for non-network States Parties. States Parties must ensure the Secretariat is provided an information copy of notifications from 1 January 2003 .</td>
        </tr>
        <tr>
          <td>DMF/Conference Services</td>
          <td>Forward notifications to/from States Parties not connected to the OSCE Communications Network;</td>
          <td>Already established (existing procedure via pigeon-holes).</td>
        </tr>
        <tr>
          <td>DMF/Conference Services</td>
          <td>Maintain a Point of Contact list of OS experts</td>
          <td>A list could be maintained according to procedures to be discussed and established.</td>
        </tr>
        <tr>
          <td>DMF/Conference Services</td>
          <td>Participate in OSCC plenary meetings. L imited to administrative support by conference services; substantial representation by the Secretariat is not anticipated.</td>
          <td>CS/Meetings Assistance can participate in OSCC plenaries and provide only administrative support. If more substantive support is required, i.e. the development of analytical papers, reports as a basis for review processes, etc., a greater resource impact is anticipated and professional grade support would be required.</td>
        </tr>
        <tr>
          <td>DMF/Conference Services
          <br>PPIS</td>
          <td>Handle issues related to the OSCE website
          <br>- Ensure posting of all OSCC documents on the OSCE Delegates' Website.
          <br>- Post current reference information on the public website as provided by the OSCC, i.e. general information on States Parties, short Treaty description, and other selected announcements. No confidential information, only public material drafted and cleared by the OSCC (OS Treaty already available on the public website). Update 2-3 times a year.</td>
          <td>Restricted Website: already established.
          <br>Public Website: PPIS can provide requested limited support without additional cost. OSCC will provide information to be published and a point of contact.</td>
        </tr>
      </table>
    </div>
  </div>

<hr>
