<!-- DECISION 5/03 -->
<div id="decision_5_3"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/5/03
        <br/>24 February 2003</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>2nd Meeting of the 30th Session</strong>
      <br>OSCC(30) Journal No. 87, Agenda item 7(a)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>OSCC DECISION No. 5/03 <br/>TO THE TREATY ON OPEN SKIES <br>Accession of the Republic of Slovenia to the Treaty on Open Skies</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The Open Skies Consultative Commission,</p>
      <p>Having received from the Republic of Hungary, in its capacity as Depository, the application of the Republic of Slovenia for accession to the Treaty on Open Skies, deposited on 23 January 2003 in Budapest,</p>
      <p>Pursuant to the provisions of paragraph 5 of Article XVII of the Treaty on Open Skies,</p>
      <p>Has decided as follows:</p>
        <div class="col-sm-12">
          <p>That the application for accession of the Republic of Slovenia to the Treaty on Open Skies is accepted.</p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>In accordance with paragraph 6 of Article XVII, the Treaty shall enter into force for the Republic of Slovenia sixty days after the deposit of its instrument of accession with the Government of Canada or with the Government of the Republic of Hungary or both.</p>
      <p>Done at Vienna in the Open Skies Consultative Commission on 24 February 2003,</p>
      <p>in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
