<!-- DECISION 8/03 -->
<div id="decision_8_3"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 co-sm-offset-8">
      <p align="right">OSCC.DEC/8/03 <br/>7 April 2003</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
        <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </u><br>
        <strong>4th Meeting of the 30th Session</strong>
        <br>OSCC(30) Journal No. 89, Agenda item 7(c)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>OSCC DECISION No. 8/03 <br/>TO THE TREATY ON OPEN SKIES <br>Allocation of a passive quota to Georgia</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The Open Skies Consultative Commission (OSCC),</p>
      <p>In accordance with the provisions of the Treaty on Open Skies and, notably, Article III, Section I, paragraph 2, Article X, paragraph 4 (D), Article XVII, paragraph 4 and the contents of Annex A, Section I to the Treaty, with the procedures outlined in Section 3 of OSCC Decision No. 8/02/Corr. 1, with the Chairperson's Statement of 11 November 2002 on passive quotas,</p>
      <p>Decides:</p>
        <div class="col-sm-12">
          <p>- To allocate a passive quota of four to Georgia.</p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>This Decision shall take effect immediately.</p>
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 7 April 2003, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
