<!-- DECISION 6/03 -->
<div id="decision_6_3"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/6/03
      <br/>24 March 2003</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>3rd Meeting of the 30th Session</strong>
      <br>OSCC(30) Journal No. 88, Agenda item 7(e)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p align="center"><strong>OSCC DECISION No. 6/03 <br/>TO THE TREATY ON OPEN SKIES <br/>Scale of distribution for the common expenses associated with the <br/>operation of the Open Skies Consultative Commission</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The Open Skies Consultative Commission (OSCC), pursuant to the provision of Annex L, paragraph 9 of the Treaty on Open Skies, has decided as follows:</p>
        <div class="col-sm-12">
          <p>1. In accordance with paragraph 1 of Decision 21/02 dated 9 September 2002 and the Decision of the OSCE Permanent Council No. 468 on the Revised Standard Scale of Contributions dated 11 April 2002, adopts the scale of distribution of the OSCC as contained in paragraph 2 of this decision.</p>
          <p>2. As of 1 January 2003, the scale of distribution of the Open Skies Consultative Commission is agreed as follows (in percentages):</p>
            <div class="col-sm-11 col-sm-offset-1">
              <p>France 10.357</p>
              <p>Germany 10.357</p>
              <p>Italy 10.357</p>
              <p>United Kingdom 10.357</p>
              <p>United States of America 10.243</p>
              <p>Russian Federation 9.050</p>
              <p>Canada 6.203</p>
              <p>Spain 5.300</p>
              <p>Netherlands 4.325</p>
              <p>Belgium 4.040</p>
              <p>Sweden 4.040</p>
              <p>Norway 2.561</p>
              <p>Denmark 2.333</p>
              <p>Poland 1.593</p>
              <p>Turkey 1.138</p>
              <p>Ukraine 0.970</p>
              <p>Greece 0.967</p>
              <p>Portugal 0.967</p>
              <p>Hungary 0.797</p>
              <p>Romania 0.797</p>
              <p>Czech Republic 0.763</p>
              <p>Bulgaria 0.626</p>
              <p>Luxembourg 0.626</p>
              <p>Belarus 0.520</p>
              <p>Slovakia 0.376</p>
              <p>Iceland 0.216</p>
              <p>Georgia 0.120</p>
              <p>Total 100.000</p>
            </div>
        </div>
      <p>Decided in Vienna, in the Open Skies Consultative Commission on 24 March 2003, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr />
