<!-- DECISION 18/03 -->
<div id="decision_18_3"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List </a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/18/03 <br/>27 October 2003</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <strong>2nd Meeting of the 32nd Session</strong>
      <br>OSCC(32) Journal No. 94, Agenda item 7(b)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>OSCC DECISION No. 18/03 <br/>TO THE TREATY ON OPEN SKIES <br/>Redistribution of active quotas for observation flights 2004 </strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p> The Open Skies Consultative Commission has decided on the following distribution of active quotas for 2004:</p>
        <div class="col-sm-12">
          <p> &mdash; The Federal Republic of Germany shall have the right to conduct three observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one shared with the Republic of Hungary, one observation flight over the territory of Georgia, shared with the Republic of Turkey, and one observation flight over the territory of Ukraine, shared with the French Republic;</p>
          <p> &mdash; The United States of America shall have the right to conduct eight observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one shared with the Republic of Hungary and one shared with Slovakia, and one observation flight over the territory of Ukraine, shared with Canada;</p>
          <p> &mdash; The Republic of Belarus and the Russian Federation group of States Parties shall have the right to conduct two observation flights over the territory of the Federal Republic of Germany, two observation flights over the territory of the United States of America, one observation flight over the territory of Benelux, as referred to in Article XIV of the Treaty, one observation flight over the territory of the Republic of Bulgaria, one observation flight over the territory of Canada, one observation flight over the territory of the Kingdom of Denmark, one observation flight over the territory of the Kingdom of Spain, one observation flight over the territory of Finland, two observation flights over the territory of the French Republic, two observation flights over the territory of the United Kingdom of Great Britain and Northern Ireland, one observation flight over the territory of Georgia, shared with the United Kingdom of Great Britain and Northern Ireland, one observation flight over the territory of the Hellenic Republic, one observation flight over the territory of the Italian Republic, two observation flights over the territory of the Kingdom of Norway, one observation flight over the territory of the Republic of Poland, one observation flight over the territory of the Portuguese Republic, one observation flight over the territory of Romania, one observation flight over the territory of the Kingdom of Sweden, one observation flight over the territory of the Czech Republic, and two observation flights over the territory of the Republic of Turkey;</p>
          <p> &mdash; The Kingdom of Belgium, the Grand Duchy of Luxembourg and the Kingdom of the Netherlands, referred to as the Benelux, shall have the right to conduct one observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties, and one observation flight over the territory of Georgia, shared with the Hellenic Republic and the Kingdom of Spain;</p>
          <p> &mdash; Canada shall have the right to conduct two observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, and one observation flight over the territory of Ukraine, shared with the United States of America;</p>
          <p> &mdash; The Kingdom of Spain shall have the right to conduct one observation flight over the territory of Georgia, shared with the Benelux group of States Parties and the Hellenic Republic, and one observation flight over the territory of Ukraine, shared with the Czech Republic;</p>
          <p> &mdash; The Republic of Finland shall have the right to conduct one observation flight over the territory of the Federal Republic of Germany, one observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties, and one observation flight over the territory of the Kingdom of Sweden;</p>
          <p> &mdash; The French Republic shall have the right to conduct three observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one shared with the Portuguese Republic, and one observation flight over the territory of Ukraine, shared with the Federal Republic of Germany;</p>
          <p> &mdash; The United Kingdom of Great Britain and Northern Ireland shall have the right to conduct three observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, one observation flight over the territory of Georgia, shared with the Republic of Belarus and the Russian Federation group of States Parties, and one observation flight over the territory of Ukraine;</p>
          <p> &mdash; The Hellenic Republic shall have the right to conduct one observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties, one observation flight over the territory of Georgia, shared with the Benelux group of States Parties and the Kingdom of Spain, and one observation flight over the territory of Ukraine, shared with the Italian Republic;</p>
          <p> &mdash; The Republic of Hungary shall have the right to conduct two observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one shared with the Federal Republic of Germany and one shared with the United States of America, and one observation flight over the territory of Ukraine;</p>
          <p> &mdash; The Italian Republic shall have the right to conduct two observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, one observation flight over the territory of the Kingdom of Sweden, and one observation flight over the territory of Ukraine, shared with the Hellenic Republic;</p>
          <p> &mdash; The Kingdom of Norway shall have the right to conduct two observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties;</p>
          <p> &mdash; The Republic of Poland shall have the right to conduct two observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, and one observation flight over the territory of Finland;</p>
          <p> &mdash; The Portuguese Republic shall have the right to conduct one observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties, shared with the French Republic;</p>
          <p> &mdash; Romania shall have the right to conduct one observation flight over the territory of the Republic of Bulgaria, one observation flight over the territory of the Hellenic Republic, one observation flight over the territory of the Republic of Hungary, and one observation flight over the territory of Ukraine;</p>
          <p> &mdash; Slovakia shall have the right to conduct one observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties, shared with the United States of America;</p>
          <p> &mdash; The Kingdom of Sweden shall have the right to conduct one observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties, one observation flight over the territory of Finland, and one observation flight over the territory of the Republic of Poland;</p>
          <p> &mdash; The Czech Republic shall have the right to conduct one observation flight over the territory of Ukraine, shared with the Kingdom of Spain;</p>
          <p> &mdash; The Republic of Turkey shall have the right to conduct two observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, one observation flight over the territory of Georgia, shared with the Federal Republic of Germany, and two observation flights over the territory of Ukraine;</p>
          <p> &mdash; Ukraine shall have the right to conduct one observation flight over the territory of the Federal Republic of Germany, one observation flight over the territory of the Republic of Bulgaria, one observation flight over the territory of the Hellenic Republic, one observation flight over the territory of the Republic of Hungary, one observation flight over the territory of the Italian Republic, one observation flight over the territory of the Republic of Poland, one observation flight over the territory of Romania, one observation flight over the territory of Slovakia, and one observation flight over the territory of the Republic of Turkey.</p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p> * * * * * </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p> Decided in Vienna, in the Open Skies Consultative Commission on 27 October 2003, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
