<!-- DECISION 4/03 -->
<div id="decision_4_3"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/4/03
      <br/>24 February 2003</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>2nd Meeting of the 30th Session</strong>
      <br>OSCC(30) Journal No. 87, Agenda item 6(g)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>OSCC DECISION No. 4/03 <br/>TO THE TREATY ON OPEN SKIES <br>Correction to Annex G, Section I, Paragraph 7</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>In order to correct a typographical error in English, Spanish and Italian versions of Annex G, Section I, paragraph 7 and reflect wording similar to Annex G, Section I, paragraph 5, the OSCC decides under Article X, to change in those texts the wording of the preamble sentence in Annex G, Section I, paragraph 7 to:</p>
        <div class="col-sm-12">
          <p>"In addition to the rights specified in paragraph 4 of this Section, the chief flight representative shall have:"</p>
        </div>
    </div>
  </div>

<hr>

<!-- DECISION 4/03rev1 -->
  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="cols-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/4/03/Rev.1
        <br/>24 February 2003</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>2nd Meeting of the 30th Session</strong>
      <br>OSCC(30) Journal No. 87, Agenda item 6(g)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>OSCC DECISION No. 4/03/Revised reissue* <br/>TO THE TREATY ON OPEN SKIES <br>Correction to Annex G, Section I, Paragraph 7</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>In order to correct a typographical error in English, Spanish and Italian versions of Annex G, Section I, paragraph 7 and reflect wording similar to Annex G, Section I, paragraph 5, the OSCC decides under Article X, to change in those texts the wording of the preamble sentence in Annex G, Section I, paragraph 7 to:</p>
        <div class="col-sm-12">
          <p>"In addition to the rights specified in paragraph 4 of this Section, the chief flight representative shall have:"</p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>This decision shall enter into force on the date of its adoption and shall have the same duration as the Treaty.</p>
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 24 February 2003, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
      <p>*	Incorporates an amendment to the text.</p>
    </div>
  </div>

<hr>
