<!-- DECISION 14/03 -->
<div id="decision_14_3"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/14/03
      <br/>21 July 2003</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>3rd Meeting of the 31st Session</strong> <br>OSCC(31) Journal No. 31, Agenda item 7(d)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>OSCC DECISION No. 14/03 <br/>TO THE TREATY ON OPEN SKIES <br>Right of an observed party to provide its own <br/>observation aircraft for an observation flight</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>1. The process for the co-ordination of observation flights is provided in Article VI and Annex H.</p>
      <p>2. Not later than 1 November of each year, a State Party may notify all other States Parties of its plans to utilize all or part of its active quota during the following year. The notification (OSF 27) shall indicate the number of observation flights to be conducted by that State Party over other States Parties during each quarter of that year.</p>
      <p>3. The States Parties that have made this annual notification, shall, when necessary, have consultations on a quarterly basis to de-conflict their schedules, and publish the resulting sequence in OSF 28.</p>
      <p>4. Not later than seven days after receipt of notification on the sequence of the observation flights, each State Party shall notify all States Parties which intend to conduct observation flights over its territory during a given quarter, on each flight for which it intends to exercise its right to provide its observation aircraft (OSF 10).</p>
      <p><strong>Options of States Parties, actions after the exchange of OSF 28 and OSF 10 </strong></p>
      <p>5. If the observed Party does not state an intention to provide its own observation aircraft the observing Party shall provide its or another State Party's aircraft.</p>
      <p>6. If the observed Party states an intention to provide its observation aircraft, the observed Party shall make every effort to ensure that the aircraft is available to the observing Party in accordance with the statement contained in OSF 10.</p>
      <p><strong>Actions by the Parties in exceptional cases </strong></p>
      <p>7. If, due to exceptional circumstances, the observed Party cannot provide an observation aircraft as notified in OSF 10, then the observed Party shall immediately inform other States Parties (through an OSF-35 notification) of the exceptional situation and the period of time during which it is prevented from providing an observation aircraft. The observing Party shall have the right, unless otherwise agreed:</p>
        <div class="col-sm-12">
          <p>(a) To use its own aircraft or one provided by another State Party upon either notification of the non-availability of the observation aircraft of the observed Party or within 24 hours of arrival at the POE; or</p>
          <p>(b) To use its active quota to observe the same State Party within the next six months, including during the current quarter (without prejudice to information in OSF 28), during which use the observed Party agrees with respect to this quota:</p>
            <div class="col-sm-12">
              <p>(1) Not to exercise its right under Article VI, paragraph 1 to provide an observation aircraft; and</p>
              <p>(2) If requested by the observing Party, to provide the observation aircraft, if available.</p>
            </div>
        </div>
      <p>8. In case of a breakdown of the aircraft, notification shall be provided by the observed Party to include information on the estimated repair time. The observed Party shall also notify all other States Parties of any change in the estimated repair time.</p>
      <p>9. In addition, the observed Party shall notify all other States Parties as soon as the exceptional situation is over and it is ready to provide its observation aircraft.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Done in Vienna in the Open Skies Consultative Commission, on 21 July 2003 , in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

</div>

<hr>
