<!-- DECISION 20/03 -->
<div id="decision_20_3"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/20/03<br/>24 November 2003</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>3rd Meeting of the 32nd Session</strong> <br>OSCC(32) Journal No. 95, Agenda item 7(b)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>OSCC DECISION No. 20/03 <br/>TO THE TREATY ON OPEN SKIES <br>Revision of the OSCC scale of distribution <br/> due to the accession of Bosnia and Herzegovina</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The Open Skies Consultative Commission (OSCC),</p>
      <p>1. Pursuant to the provisions of Annex L, paragraph 9 of the Treaty on Open Skies, OSCC.DEC/8/02/Corr.1, dated 22 April 2002, and OSCC/III/Dec.10, dated 16 July 1993,</p>
      <p>2. Further to the deposit of Bosnia and Herzegovina's instrument of accession on 21 August 2003, which makes Bosnia and Herzegovina liable for OSCC costs sixty days after that date, effective at the beginning of the next OSCE budget quarter following OSCC agreement on the redistribution of costs,</p>
      <p> Decides to redistribute OSCC costs and agrees on the following scale of distribution for the common expenses associated with the operation of the OSCC, which shall be effective as of 1 January 2004 (in percentages):</p>
        <div class="col-sm-11 col-sm-offset-1">
          <p>France 10.128</p>
          <p>Germany 10.128</p>
          <p>Italy 10.128</p>
          <p>United Kingdom 10.128</p>
          <p>United States of America 10.017</p>
          <p>Russian Federation 9.050</p>
          <p>Canada 6.066</p>
          <p>Spain 4.452</p>
          <p>Netherlands 4.229</p>
          <p>Belgium 3.951</p>
          <p>Sweden 3.951</p>
          <p>Norway 2.504</p>
          <p>Denmark 2.282</p>
          <p>Finland 2.282</p>
          <p>Poland 1.558</p>
          <p>Turkey 1.113</p>
          <p>Ukraine 0.970</p>
          <p>Greece 0.946</p>
          <p>Portugal 0.946</p>
          <p>Hungary 0.779</p>
          <p>Romania 0.779</p>
          <p>Czech Republic 0.746</p>
          <p>Bulgaria 0.612</p>
          <p>Luxembourg 0.612</p>
          <p>Belarus 0.520</p>
          <p>Slovakia 0.367</p>
          <p>Bosnia and Herzegovina 0.211 </p>
          <p>Iceland 0.211</p>
          <p>Latvia 0.211</p>
          <p>Georgia 0.120</p>
          <p>Total 100.000</p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p> * * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 24 November 2003, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
