<!-- DECISION 11/03 -->
<div id="decision_11_3"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/11/03
      <br/>16 June 2003</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>2nd Meeting of the 31st Session</strong><br>
      OSCC(31) Journal No. 91, Agenda item 7(c)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>OSCC DECISION No. 11/03 <br/>TO THE TREATY ON OPEN SKIES <br>SUPPLEMENT 1 TO DECISION NUMBER ONE <br/>TO THE TREATY ON OPEN SKIES</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>In order to specify the procedure for reimbursing costs incurred by the observed Party on behalf of the observing Party to facilitate the conduct of the observation flight pursuant to Article VI of the Treaty the Open Skies Consultative Commission decides:</p>
        <div class="col-sm-12">
          <p>1. In the event that the observing Party requests the observed Party to change the time of arrival at the point of entry of the observed Party, and if the observed Party agrees to such a delay, and the observing Party does not arrive at the newly established time, it shall reimburse the observed Party for the following additional costs:</p>
            <div class="col-sm-12">
              <p>(a) Room reservations for the personnel of the observing Party: for two days, not exceeding 60 euros pro person per day;</p>
              <p>(b) Accommodation costs for up to 10 members of personnel of the observed Party, designated to support the observation flight of the observing Party: for two days, not exceeding 60 euros pro person per day.</p>
            </div>
          <p>2. Not later than 30 days after the scheduled time of arrival of the mission, the observed Party shall send to the observing Party an invoice with clear indication of costs incurred by the observing and the observed Parties in convertible currency.</p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Done at Vienna in the Open Skies Consultative Commission on 16 June 2003, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>


<hr>
