<!-- DECISION 17/03 -->
<div id="decision_17_3"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List </a></strong></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/17/03
      <br/>29 September 2003</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>1st Meeting of the 32nd Session</strong> <br>OSCC(32) Journal No. 93, Agenda item 7(b)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>OSCC DECISION No. 17/03 <br/>TO THE TREATY ON OPEN SKIES <br> REVISION 3 OF DECISION NUMBER ONE <br/> TO THE TREATY ON OPEN SKIES </strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p> Taking into account the considerable fluctuation of prices within the OSCE area for the goods and services related to the observation aircraft, the Open Skies Consultative Commission has decided to amend the Decision Number One to the Treaty on Open Skies of 10 December 1992, by wording Section V paragraph 6 of this Decision as follows:</p>
        <div class="col-sm-12">
          <p align="left">&ldquo;6. Unless otherwise agreed, the observed Party shall charge the observing Party for the goods and services defined in Section I, paragraph 1, and Section II, paragraph 1 and 2 of this Decision, using prices set at the lowest available commercial rate, not including taxes, at Cologne Airport in the Federal Republic of Germany, as of 1 January of the current year and to be reviewed every six months. A price list for such goods and services shall be distributed to all States Parties by the Federal Republic of Germany no later than 31 January and 31 July each year.&rdquo;</p>
        </div>
      <p> This decision shall enter into force on 1 January 2004.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p> Decided in Vienna, in the Open Skies Consultative Commission, on 29 September 2003, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
