<!-- DECISION THREE -->
<div id="decision_3"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top"> Back to Decisions List </a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">  OSCC/I/Dec.3<br/>29 June 1992  </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION THREE</p>
      <p>TO THE TREATY ON OPEN SKIES ON METHODOLOGY FOR CALCULATING THE MINIMUM HEIGHT ABOVE GROUND LEVEL AT WHICH EACH OPTICAL CAMERA INSTALLED ON AN OBSERVATION AIRCRAFT MAY BE OPERATED DURING AN OBSERVATION FLIGHT</p></strong>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-left">
      <p>The States Parties to the Treaty on Open Skies, pursuant to the provisions of Annex D, Appendix 1, Section III, paragraph 2 of the Treaty on Open Skies, have agreed as follows: </P>
      <p>The methodology for calculating the minimum height above ground level at which each optical camera installed on the observation aircraft may be operated during an observation flight, shall be as follows: </P>
      <div class="col-sm-11 col-sm-offset-1">
        <p>(A) determine the ground resolution of the optical camera (lens/filter/film combination) at the altitude from which the calibration target was photographed, from a visual analysis of the image of the calibration target (across track and along track) on the original film negative. The&nbsp;value of the ground resolution shall be equal to the width of a single bar in the smallest group of bars which can be distinguished as separate bars, in centimetres;
        <p>(B) produce a D logE curve for the film using a densitometer to measure the densities of a 21-step sensitometric strip exposed on the film by a sensitometer prior to the flight; </P>
        <p>(C) determine the effective modulation of the calibration target from an analysis of the image of the calibration target on the original film negative by electronic means or, if that is not possible, by comparison with a calibrated sensitometric strip on the film; </P>
        <p>(D) calculate the height above ground level at which the optical camera would achieve a ground resolution of 30&nbsp;centimetres against a target which has the agreed modulation of 0.4, or equivalent contrast ratio of 2.3 to 1, against its background; and </P>
        <p>(E) determine the mean value of the height above ground level obtained from paragraph (D) from at least five passes over the calibration target, as follows: </P>
        <div class="col-sm-11 col-sm-offset-1">
          <p>where: </P>
          <p>H<sub>min</sub> is the mean value of the minimum height above ground level, in metres;
          <br/>n is the total number of passes over the calibration target;
          <br/>H<sub>i</sub> is the height of the aircraft, in metres, at the moment the calibration target was photographed;
          <br/>L<sub>a</sub> is the agreed ground resolution of 30 centimetres;
          <br/>L<sub>2</sub> is the ground resolution, in centimetres, obtained from paragraph (A);
          <br/>K<sub>1</sub> is the agreed modulation of 0.4 at which ground resolution is defined;
          <br/>K<sub>2</sub> is the effective modulation obtained from paragraph (C) as follows:</P>
        </div>
        <div class="col-sm-11 col-sm-offset-1">
          <p>where:</p>
          <p>&#8710; logE is the difference in the logarithm of the exposures between the black and white bars on the calibration target;</p>
          <p>m is the agreed corrected exponent value of 0.45. </P>
        </div>
      </div>
    <p>This value shall represent the certified minimum height above ground level, in metres, at which the optical camera (lens/filter/film combination) may be operated during an observation flight. </P>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p> * * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-left">
      <p>This Decision shall enter into force simultaneously with the Treaty on Open Skies and shall have the same duration as the Treaty.</P>
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 29 June 1992, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic. </P>
    </div>
  </div>

<hr />
