<!-- DECISION SEVEN -->
<div id="decision_7"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top"> Back to Decisions List </a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC/II/Dec.7<br/>10 December 1992</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION SEVEN <br/>TO THE TREATY ON OPEN SKIES <br>METHODOLOGY FOR DETERMINING <br/>THE GROUND RESOLUTION OF A <br/>SYNTHETIC APERTURE RADAR (SAR)</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <P> The States Parties to the Treaty on Open Skies, pursuant to the provisions of Appendix 1 to Annex D, Section I, paragraph 4 and Annex D, Appendix 1, Section Ill, paragraph 5 of the Treaty on Open Skies, have agreed as follows:</P>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <P><strong>SECTION I. DEFINITION OF TERMS</strong></P>
        <div class="col-sm-12">
          <P> The following definitions shall apply to terms used in this Decision:</P>
            <div class="col-sm-12">
              <P>1. The term "azimuth" shall mean the direction parallel to the aircraft track.</P>
              <P>2. The term "slant range" shall mean a distance perpendicular to the aircraft track in the slant plane.</P>
              <P>3. The term "image" shall mean a two-dimensional (slant range and azimuth) array of processed radar amplitude samples.</P>
              <P>4. The term "initial phase data", also known as "complex raw data" or "radioholograms", shall mean the data recorded by the SAR on magnetic media before the data are processed to form an image.</P>
              <P>5. The "radar cross section" (RCS) of a corner reflector shall be calculated using the formula:</p>
                <div class="col-sm-11 col-sm-offset-1">
                  <P>where:</P>
                  <P> RCS is the radar cross section in square metres (m<SUP>2</SUP>);</P>
                  <P> a is the length of each inside edge of the corner reflector in metres; and</P>
                  <P> <FONT FACE="Symbol">&#108;</FONT>
                  is the operating wavelength of the SAR in metres;</P>
                  <P>RCS may be expressed in decibels (dB) using the following formula:</p>
                  <P>where:</P>
                  <P> 0 dB is referenced to 1  m<SUP>2</SUP>.</P>
                </div>
              <P>6. The term "impulse response" shall mean the response of a SAR to the radar signal reflected from a trihedral corner reflector.</P>
              <P>7. The term "amplitude" also known as "the value of the signal of the output of the SAR", shall mean the square root of the power or intensity of a radar sample.</P>
              <P>8. The term "spatial resolution" shall mean the widths in slant range and azimuth at 0.707 times the peak value of the two-dimensional Gaussian surface which is determined by five radar samples extracted from or close to the main lobe of an impulse response.</P>
              <P>9. The term "ground resolution" shall mean the spatial resolution in slant range and azimuth, stated in metres.</P>
              <P>10. The term "sensitivity level" shall mean the radar signal giving the same amplitude as the average amplitude of the output noise from the SAR.</P>
              <P>11. The term "saturation level" shall mean the largest radar signal whose amplitude is reduced to no less than 0.707 of the amplitude of the ideal linear response for a given RCS.</P>
              <P>12. The term "dynamic range" shall mean the ratio of the saturation level to the sensitivity level of the radar samples taking into account all SAR system and recording system limitations. The value may be specified in terms of decibels using the formula:</p>
                <div class="col-sm-11 col-sm-offset-1">
                  <P>Where:</P>
                  <P> A<SUB>max</SUB> is the amplitude of the saturation level;</P>
                  <P> A<SUB>min</SUB> is the amplitude of the sensitivity level.</P>
                </div>
              <P>13. The term "spatial scaling factor in azimuth" shall mean the distance in metres in azimuth on the ground between consecutive radar samples.</P>
              <P>14. The term "spatial scaling factor in slant range" shall mean the distance in metres in the slant plane between consecutive radar samples.</P>
              <P>15. The term "sidelobe" shall mean any value of the radar return found in an impulse response which lies at a distance greater than 1.4 times the spatial resolution from the position of the peak amplitude of the main lobe.</P>
              <P>16. The term "peak sidelobe" shall mean the largest sidelobe found in the impulse response.</P>
              <P>17. The term "integrated sidelobe power" shall mean the total power in all sidelobes of an impulse response out to the extent of the uncompressed radar pulse in both range and azimuth.</P>
              <P>18. The term "integrated sidelobe level" shall mean the square root of the ratio of the integrated sidelobe power of an impulse response to the power in the main lobe of that impulse response.</P>
              <P>19. The term "ambiguity level" shall mean the square root of the ratio of the peak power of the brightest false target found in a radar image to the peak power of the true image of the that target.</P>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>SECTION II. SPECIFICATIONS FOR CALIBRATION TARGET ARRAYS</strong></p>
        <div class="col-sm-12">
          <P> The following specifications for calibration target arrays for measuring the ground resolution of a SAR during certification or demonstration flights are established pursuant to Appendix 1 to Annex D, Section I, paragraph 4 to the Treaty on Open Skies.</P>
            <div class="col-sm-12">
              <P>1. Each corner reflector shall be made of radar reflecting material. The three inside surfaces of the trihedral shall be perpendicular to each other. Each corner reflector shall be constructed to an accuracy of two millimetres in the length of each inside edge, and the better of half a degree in angle between the inside surfaces or 0.1 times the operating wavelength of the SAR across any portion of the aperture. Each corner reflector shall be aligned within plus or minus three degrees of the perpendicular to the flight direction and the optimum elevation angle from the horizontal for the SAR whose resolution is being determined.</P>
              <P>2. Each calibration target array shall consist of a number of trihedral corner reflectors of various RCS arranged on a flat surface, for example, short grass, concrete and asphalt, which provides a mean background RCS of between -25 and -30 dB per square metre. Each corner reflector shall be positioned to reduce the effect of multipath propagation of radar signals on the RCS of the corner reflector to a reasonable level. Each corner reflector shall be adjustable in azimuth and elevation to enable the imaging aspect to be optimised. Each corner reflector shall be located with respect to other corner reflectors in the array so as to ensure that its radar shadow does not interfere with the radar return from other corner reflectors. Each array shall be located with respect to any other array so as to ensure that there is no interference with the radar returns from any other array. There shall be no obstructions or objects in the area surrounding the arrays which could interfere with the radar return from any corner reflector within an array.</P>
              <P>3. The calibration target array to measure the linearity of the amplitude response of a SAR to a series of corner reflectors whose RCS in dB increases in a linear fashion shall consist of at least 12 individual corner reflectors placed in a straight line.  The array shall be aligned at an angle of 45 degrees to the aircraft flight path.  The spacing between individual corner reflectors shall be equal and shall be between 30 and 50 metres.  The RCS of individual corner reflectors shall increase in equal increments of 5 dB from a minimum of no greater than -10 dB to a maximum of no less than 45 dB. The physical size of each corner reflector shall be optimised for SARs with operating wavelengths of between 0.03 and 0.05 metres.</P>
              <P>4. The calibration target array to measure the ground resolution of a SAR shall consist of 9 individual corner reflectors arranged in a square in three rows of three. One diagonal of the square shall be perpendicular to the aircraft flight path. The spacing between adjacent corner reflectors in the array shall be equal and shall be between 100 and 120 metres. The RCS of the corner reflectors in the array shall be equal and in the range of 15 to 30 dB and at least 40 dB above the effective background RCS. The physical size of the corner reflectors shall be optimised for SARs with operating wavelengths of between 0.03 and 0.05 metres.</P>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>SECTION III. ANALYSIS OF DATA COLLECTED DURING A CERTIFICATION OR DEMONSTRATION FLIGHT</strong></p>
        <div class="col-sm-12">
          <P> The following procedures for the analysis of data collected during a certification or demonstration flight are established pursuant to Annex D, Appendix 1, Section II, paragraph 5 to the Treaty on Open Skies.</P>
            <div class="col-sm-12">
              <P>1. The ground resolution of a SAR installed on an observation aircraft shall be determined in both azimuth and slant range using data collected from images of trihedral corner reflectors deployed in arrays in accordance with the specifications in Section II.</P>
              <P>2. The impulse response shall be approximated by a smoothing function in accordance with the following methodology:</P>
                <div class="col-sm-12">
                  <P> (A) The initial phase data shall be recorded on magnetic media. A singlelook amplitude image of each corner reflector shall be produced from the initial phase data using image-formation algorithms and shall be stored on magnetic media;
                  <P> (B) The highest amplitude value and two amplitude values either side of the highest value in both slant range and azimuth which may be used to represent the main lobe shall be extracted from the image of the corner reflector to form a 5 element cross which shall represent the impulse response of the SAR;</P>
                  <P> (C) A smoothed amplitude profile shall be constructed by determining the two-dimensional Gaussian function which passes through the 5 individual values obtained in paragraph 2(B);</P>
                  <P> (D) The smoothed amplitude profile obtained from paragraph 2(C) which lies on the lines which pass through the original radar samples closest to the peak amplitude and the individual values obtained in paragraph 2(B) shall be plotted on hardcopy and, optionally, on a video display.  The five radar samples either side of the central value in slant range and azimuth shall also be plotted on this graph.</P>
                </div>
              <P>3. During certification, the impulse response shall be interpolated by a Fourier transform in accordance with the following methodology,</P>
                <div class="col-sm-12">
                  <P> (A) A sixteen by sixteen square of amplitude values in slant range and azimuth centred on a corner reflector shall be entered into a two-dimensional array;</P>
                  <P> (B) A two-dimensional Fourier transform shall be performed on the array obtained from subparagraph 3(A);</P>
                  <P> (C) The number of elements in the Fourier-transformed array constructed in subparagraph 3(B) shall be expanded by sixteen times in each dimension by inserting zero values into the centre elements of this Fourier-transformed array;</P>
                  <P> (D) A two-dimensional inverse Fourier transform shall be performed on this 256 by 256 array;</P>
                  <P> (E) The values of amplitude in slant range and azimuth obtained in subparagraph 3(D) which lie on the lines which pass through the original radar samples closest to the peak amplitude shall be plotted on hardcopy with linear interpolation between the interpolated radar samples. The amplitudes of the original radar samples shall also be plotted on this hardcopy.</P>
                </div>
              <P>4. The amplitude linearity of a SAR shall be determined using data collected from an image of at least 12 corner reflectors deployed in a linear array in accordance with the specifications in paragraph 3 of Section II. The data shall be analysed in accordance with the following methodology:</P>
                <div class="col-sm-12">
                  <P> (A) A smoothed amplitude profile of each of the corner reflectors in the linear array that is detectable in the processed image shall be constructed according to the procedures specified in paragraph 2 above;</P>
                  <P> (B) The peak value of each impulse response shall be determined from the smoothed amplitude profiles obtained in subparagraph 4(A);</P>
                  <P> (C) The peak amplitudes determined in subparagraph 4(B) shall be plotted against the value of the square root of the RCS of the associated corner reflector;</P>
                  <P> (D) A straight line shall be fitted to the linear portion of the individual points plotted in subparagraph 4(C);</P>
                  <P> (E) The graph obtained in subparagraph 4(D) shall be used to calculate the sensitivity level and the saturation level of the SAR.</P>
                  <P> (F) The graph obtained in subparagraph 4(D) shall be used to apply a correction to the linearity of the amplitude response of the SAR between the calculated sensitivity and saturation levels.</P>
                </div>
              <P>5. The spatial resolution of the SAR shall be determined using data collected from an image of the 9 corner reflectors deployed in a square in accordance with the specifications in paragraph 4 of Section II. The data shall be analysed in accordance with the following methodology,</P>
                <div class="col-sm-12">
                  <P> (A) A smoothed amplitude profile shall be constructed for each of the 9 corner reflectors in the array, in accordance with the procedures specified in paragraph 2 above;</P>
                  <P> (B) The distance between the centres of the two corner reflectors at either end of the diagonals of the array on the ground, measured to an accuracy of no worse than one metre (for slant range with regard to incidence angle), shall be divided by the number of intervals between the corresponding number of radar samples in the image, to determine the spatial scaling factors in slant range and azimuth;</P>
                  <P> (C) The width of the curves in slant range and azimuth at the level which is 0.707 times the peak amplitude shall be measured in terms of the distance between radar samples for each smoothed amplitude profile obtained in subparagraph 5(A);</P>
                  <P> (D) The average of the nine azimuth values and the average of the nine slant range values obtained in subparagraph 5(C) shall be converted to distance in metres by multiplying by the spatial scaling factors determined in subparagraph 5(B).</P>
                </div>
              <P>6. The accuracy of the determination of the ground resolution using the Gaussian approximation in paragraph 5 and the value of the side lobes of the full impulse response shall be determined using data collected from the image of one of the 9 corner reflectors deployed in a square in accordance with the specifications in paragraph 4 of Section II. The data shall be analysed in accordance with the following methodology:</P>
                <div class="col-sm-12">
                  <P> (A) An interpolated amplitude profile shall be constructed for one of the 9 corner reflectors in the array, in accordance with the procedures specified in paragraph 3 above;</P>
                  <P> (B) The width of the curves in slant range and azimuth at the level which is 0.707 times the peak amplitude shall be measured in terms of distances between radar samples for the interpolated amplitude profile obtained in subparagraph 6(A);</P>
                  <P> (C) If the average width of the curves obtained in subparagraph 5(C) is within five percent of the value obtained in subparagraph 6(B), the Gaussian approximation is defined as being a sufficiently accurate approximation for the determination of spatial resolution.</P>
                  <P> (D) If the average width of the curves obtained in subparagraph 5(C) is not within five percent of the value obtained in subparagraph 6(B), the interpolated amplitude profile shall be obtained for each of the nine corner reflectors and used to calculate spatial resolution in accordance with the procedures specified in subparagraphs 5(B) to 5(D) above;</P>
                  <P> (E) The maximum value of the side lobes of the SAR shall be determined from the interpolated profile obtained in subparagraph 6(A) above;</P>
                  <P> (F) The integrated side lobe level shall be calculated from manufacturer's information provided by the State Party conducting the certification;</P>
                  <P> (G) The ambiguity level shall be calculated from manufacturer's information provided by the State Party conducting the certification.</P>
                </div>
              <P>7. The ground resolution of the SAR shall be the spatial resolution in metres in slant range and azimuth obtained from either subparagraph 5(D) or subparagraph 6(D).</P>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p> *******</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <P>This Decision shall enter into force simultaneously with the Treaty on Open Skies and shall have the same duration as the Treaty.</P>
      <P>Decided in Vienna, in the Open Skies Consultative Commission, on 10 December 1992, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</P>
    </div>
  </div>

<hr />
