<!--Creates a Responsive Navbar with a dropdown menu-->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">

      <!--Creates the mobile friendly navigation hamburger-->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">OST</a>

    </div>

    <!--Creates the actual navigation options-->
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="index.html">Home</a></li>
        <!--<li><a href="#">About</a></li>-->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Treaty Documents<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <!--<li class="dropdown-header">Admin and Dashboard</li>
            <li><a href="treaty_documents.html">Treaty Home</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Treaty Sections</li>-->
            <li><a href="articles.html">Articles</a></li>
            <li><a href="annexes.html">Annexes</a></li>
            <li><a href="decisions.html">Decisions</a></li>
            <li><a href="chairmans_statements.html">Chairman's Statements</a></li>
            <li><a href="#">Glossary</a></li>
          </ul>
        </li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
