<!-- DECISION FOURTEEN -->
<div id="decision_14"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List </a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC/VI/Dec.14<br/>12 October 1994</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION FOURTEEN<br/>TO THE TREATY ON OPEN SKIES <br/>METHODOLOGY FOR CALCULATING THE MINIMUM HEIGHT ABOVE <br/>GROUND LEVEL AT WHICH EACH VIDEO CAMERA WITH REAL TIME <br/>DISPLAY INSTALLED ON AN OBSERVATION AIRCRAFT MAY BE
      <br/>OPERATED DURING AN OBSERVATION FLIGHT</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <P> The Open Skies Consultative Commission, pursuant to the provisions of Appendix&nbsp;I to Annex D, Section III, paragraph 3 of the Treaty on Open Skies, has decided as follows:</P>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>SECTION I. DEFINITION OF TERMS</strong></p>
        <div class="col-sm-12">
          <P>The following definitions shall apply to terms used in this Decision:</P>
          <P>The term "line imaging device" means a device containing one line of detector elements for each wavelength band to be recorded. </P>
          <P>The term "frame imaging device" means a device containing either an electronic imaging tube or an array of detector elements for each wavelength band recorded which simultaneously form multiple lines of the image to be recorded.</P>
          <P>The term "video camera" means a passive black and white or colour, line or frame imaging device, including the conversion of the image into electrical signals operating at optical wavelengths between 0.3 and 1.1 micrometres.</P>
          <P>The term "black and white imaging device" means a video camera that is sensitive within a single wavelength band which is not less than 0.4 micrometres wide.</P>
          <P>The term "colour imaging device" means a video camera that is sensitive within no more than three separate wavelength bands, with adjacent bands overlapping, giving maximum spectral response at wavelength bands corresponding to colours blue, green, and red.</P>
          <P>The term "detector element" means the smallest definable element of the detector array of a video camera.</P>
          <P>The term "scene element" means, in the case of a black and white video camera, the area on the ground that is projected onto a single detector element, and in the case of a colour video camera, means the area on the ground projected on to the detector elements used to provide the different wavelength band data associated with that area on the ground.</P>
          <P>The term "image element" means the digitized signal representing the detected energy of a scene element within each wavelength band to which a video camera is sensitive which is stored in a frame store.</P>
          <P>The term "image" means an array of image elements corresponding to an equally numbered array of scene elements which cover a contiguous area on the ground.</P>
          <P>The term "image of the calibration target" means an image whose corresponding area on the ground covers, as a minimum, the entire along or across track set of bar groups of a calibration target.</P>
          <P>The term "encoding techniques" means the use of special techniques of processing data intended for storage on magnetic media which would permit the extraction from such data of more information than could be extracted without use of such processing. Commercially available error correcting techniques commonly used to record on to and extract digital data from magnetic media and techniques designed to allow the multiplexing of data from multiple sensors or multiple colour bands on to a single recorder are not considered encoding techniques. </P>
          <P>The term "video recorder" means a data recording device capable of storing data collected by a video camera on magnetic tape without the use of encoding techniques. For digital recorders, data must be recorded at eight bits per wavelength band to which a video camera is sensitive.</P>
          <P>The term "video display" means a monitor used for analysis of data pursuant to this Decision, including any associated image processing electronics that is capable of displaying an image.</P>
          <P>The term "frame store" means a digital memory that is capable of storing at least a complete image of a calibration target where each individual image element is stored at a separate memory cell.</P>
          <P>The term "grey level" means the numerical value of an image element on an eight bit scale between zero and 255.</P>
          <P>The term "relative reflectance" means the ratio of the radiant flux of a surface to the radiant flux from a second surface of known reflectance times the known reflectance of this second surface.</P>
          <P>The term "target modulation" means, when measured on the ground, the ratio of the difference of the relative reflectance of the light and dark areas of the brightness panels to the sum of these values; and when measured in the image, the ratio of the difference of the grey level values of the light and dark areas of the brightness panels to the sum of these values.</P>
          <P>The term "spatial frequency", designated by f, means a frequency measure, in cycles/radian, of a group of bars of bar width
          <FONT FACE="Symbol">D</FONT> measured on the ground observed in an image collected at a height above the calibration target H and is calculated by:</P>
            <div class="col-sm-12">
              <p>f = H/(2<FONT FACE="Symbol">D)</FONT>.</p>
            </div>
          <P>The term "bar group amplitude" means a measure of the grey level difference between the light and dark bars of a bar group.</P>
          <P>The term "image amplitude function", designated A<SUB>i</SUB>(f), means the relationship of the bar group amplitude to the spatial frequency corresponding to those bars for the image collected on the ith pass.</P>
          <P>The term "bar triad" means any combination of three bars within a bar group of a calibration target; two bars of the same relative reflectance, separated by one bar of a different relative reflectance.</P>
          <P>The term "video camera configuration" means each combination of camera, lens, filter, window, angle of deviation from vertical, airborne video recorder, magnetic tape type, and recording type and format which is to be certified. For video cameras equipped with variable focal length lens, but with intermediate fixed focal length settings, each intermediate setting shall be considered a new video camera configuration. For video cameras equipped with variable angles of deviation from vertical, but with intermediate fixed settings of the angle of deviation, each intermediate setting shall be considered a new video camera configuration.</P>
          <P>The term "phase correction" means a technique to reduce scan line misalignments in the image caused by correctable time base errors in the video recorder, correctable motion compensation errors, or other errors which are camera induced.</P>
          <P>The term "H<SUB>min</SUB>" means the minimum height above ground level at which a video camera configuration installed on an observation aircraft may be operated.</P>
          <P>The term "image processing equipment" means all ground-based equipment and software used to perform the visual or computer-assisted analysis of the images and determination of ground resolution and H<SUB>min</SUB>.</P>
          <P>The term "atmospheric model in the 0.3 to 1.1 micrometre band" means a method of calculating the atmospheric transmission in relation to altitude, accounting for given atmospheric conditions. </P>
          <P>The term "OSCC atmosphere parameters" means the parameters required to define the atmosphere which will include at least the following measurements: air temperature (<SUP>o</SUP>K), pressure (mb), relative humidity (%), and visibility (km), and altitudes (km) at which the above parameters are measured. </P>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>SECTION II. SPECIFICATIONS FOR CALIBRATION TARGETS</strong></p>
      <div class="col-sm-12">
        <P> 1. Calibration targets used to determine the resolution of video cameras shall contain groups of bars made from light-grey and dark-grey materials. The calibration target shall contain brightness panels, the surface finish of which is the same as the groups of bars. </P>
        <P> 2. The bar groups shall consist of either light bars on a dark background or dark bars on a light background. Bar groups shall consist of either tri-bar or bi-bar groups and the ratio of bar width to length shall not be less than 1:4. The width of light and dark bars in a group shall be identical. The ratio of bar widths for adjoining groups shall be <SUP>6</SUP><FONT FACE="Symbol">&Ouml;</FONT>2 to within a tolerance of &plusmn; 5% of the ideal width of the bar width being measured as calculated assuming no errors. The range of bar widths shall be at least 0.06 to 0.3 metres. The width separating adjacent groups shall be at least the width of a single bar in the group with the larger bars. The target shall contain two identical sets of bar groups, placed adjacent to each other. Bars in the first set shall be oriented along, those in the second set shall be oriented across, the planned ground track of the observation aircraft.</P>
        <P>3. The brightness panels shall be dark-grey and light-grey square areas of which the length of a side shall be no less than 120 centimetres. </P>
        <P> 4. The modulation of the target as measured on the ground shall be between 0.66 and 0.82 within the optical bandwidth of 0.3 to 1.1 micrometres. The relative reflectance of the light-grey sections shall be no more than 83%, and the relative reflectance of the dark-grey sections shall be not less than 5%. The uniformity of the relative reflectance of the light and dark bars in the calibration target shall be accomplished with total permissible error of no more than 10% of the relative reflectance of the light bars. The targets shall be positioned on ground that has a relative reflectance that approximates the average relative reflectance of the dark and light sections of the target.</P>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>SECTION III. CONDUCT OF A CERTIFICATION OR A DEMONSTRATION FLIGHT</strong></p>
        <div class="col-sm-12">
          <P>1. For certification flights, the H<SUB>min</SUB> shall be determined for each video camera configuration which is to be certified. For demonstration flights, the number of video camera configurations and number of passes per configuration may be agreed between the observed and observing Parties prior to the conduct of the demonstration flight.</P>
          <P> 2. For video cameras equipped with a variable focal length lens, the H<SUB>min </SUB>shall, as a minimum, be determined with the lens adjusted at its maximum focal length. When determining H<SUB>min</SUB> only for the maximum focal length the resulting value of H<SUB>min</SUB> is accepted as mandatory for all other focal length settings. </P>
          <P> 3. For each video camera configuration, any variable video camera controls shall be set to achieve the best ground resolution for the conditions encountered for certification or demonstration flights.</P>
          <P> 4. The flight path shall be flown such that, on the image of the calibration target, a line perpendicular to one axis of the calibration target shall be within plus or minus twenty degrees of a major axis of the display. </P>
          <P> 5. For vertically mounted video cameras, sufficient passes shall be made, and imagery collected, to ensure that an image of the calibration target is collected while the centre of the target is no more than plus or minus twenty five percent of the camera's field of view away from the centre of the camera's field of view in degrees. </P>
          <P> 6. For obliquely mounted video cameras, horizontal targets shall be used for sensors whose optical axis is less than or equal to sixty degrees from the vertical, and vertical targets shall be used for sensors whose optical axis is more than sixty degrees from the vertical. In order to determine the ground resolution of obliquely mounted video cameras the flight path shall be chosen to ensure that the target is imaged within twenty percent of the camera's field of view, in degrees, of the axis of the video camera where resolution is the best. The axis of best resolution shall be determined from data provided by the State Party conducting the certification which indicates the ground resolution as a function of angle of view. </P>
          <P> 7. For video cameras equipped with a variable angle of deviation from vertical, the H<SUB>min </SUB>shall, as a minimum, be determined with the angle of deviation set at the minimum from vertical. When determining H<SUB>min</SUB> only for the minimum angle from vertical the resulting value of H<SUB>min</SUB> is accepted as mandatory for all other angles of deviation from vertical settings. </P>
          <P> 8. The OSCC atmosphere parameters will be measured at intervals of one hour or less during the certification or demonstration flight. The measurements will be used as input to an atmospheric model.</P>
          <P> 9. The following parameters shall be measured during the certification flight:</P>
            <div class="col-sm-12">
              <P> l<SUB>i </SUB> = the ground illumination for each pass (i), in lux.</P>
              <P> <FONT FACE="Symbol">r</FONT><SUB>i,light</SUB> = the average relative reflectance of the light grey bars of the target for each pass.</P>
              <P> <FONT FACE="Symbol">r</FONT><SUB>i,dark</SUB> = the average relative reflectance of the dark grey bars of the target for each pass.</P>
              <P> <FONT FACE="Symbol">r</FONT><SUB>background,av</SUB> = the average relative reflectance of the background at intervals of one hour or less.</P>
            </div>
          <P> In the case of demonstration flights, measurement of the parameters <FONT FACE="Symbol">r</FONT><SUB><FONT FACE="CG Times,Times New Roman">i,light</SUB> <FONT FACE="CG Times,Times New Roman">i,light</SUB> and </FONT><FONT FACE="Symbol">r</FONT><SUB>i,dark</SUB> need to be performed only once during the demonstration flight.</P>
          <P> 10. The height above ground of certification or demonstration flights must be such that ground resolution can be determined on the calibration target.</P>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>SECTION IV. ANALYSIS OF DATA COLLECTED DURING A CERTIFICATION OR A DEMONSTRATION FLIGHT</strong></p>
        <div class="col-sm-12">
          <P>1. Prior to the analysis of data collected during a certification or demonstration flight, the performance of the image processing equipment and video recorders used to collect the original imagery shall be checked in accordance with the procedures specified in Decision Number 16 to the Treaty on Open Skies. </P>
          <P> 2. In the course of certification, the value of H<SUB>min</SUB> for each video camera configuration shall be determined as described in Section V of this Decision from analysis of at least five images from separate passes containing the calibration target described in Section II, paragraph 2 of this Decision.</P>
          <P> 3. The images of the calibration target shall be extracted from the original magnetic tape used on board the observation aircraft by the image processing equipment. In the case of video cameras that record data in analogue format, the analogue signal recorded on magnetic tape that contains the image of the calibration target shall be digitized at eight bits per sample per wavelength band to which the video camera is sensitive, and at a sampling rate which will produce an image obtained from the sampled data that represents the same aspect ratio of the target on the ground as viewed from an image of the original analogue tape, with a minimum loss of information from that available on the original video recording. In the case of video cameras that provide digital data, the data shall be recorded at eight bits per wavelength band to which the video camera is sensitive. Except as required in sub-paragraphs (D) and (E) of Section IV, paragraph 4 of this Decision, the analysis shall be performed on the unprocessed digital data. </P>
          <P> 4. The ground resolution of a video camera in both the along track and across track directions shall be determined by visual analysis. The visual analysis shall be performed on images of the calibration target having no less than 0.1 modulation as measured on the image of the ground target brightness panels. For images that conform to the specifications described in Section III of this Decision, the ground resolution shall be determined in accordance with the following procedures: </P>
            <div class="col-sm-12">
              <P> (A) The image of the calibration target shall be displayed on a video display, which can display at least 256 shades of grey and which has a screen size of at least 20 centimetres measured diagonally.</P>
              <P> (B) At least ten experienced observers, representing the States Parties taking part in the certification, shall examine the images of the calibration target. Unless otherwise agreed, at least ten experienced observers, representing the States Parties taking part in a demonstration flight, shall examine the images of the calibration target. </P>
              <P> (C) The brightness, contrast and magnification by pixel replication of the video display may be adjusted at the discretion of the observer.</P>
              <P> (D) Each image shall be phase corrected, if necessary.</P>
              <P> (E) The image of the calibration target from a camera with interlacing capability shall be analyzed from either the image of a single field replicated to form a complete frame, or from the interlaced image obtained by phase alignment of the two single fields, at the observer's discretion.</P>
              <P> (F) A bar group is resolved if, for at least one bar triad within the bar group, there is a visual perception of the displayed grey level difference between the middle bar and the outside bars over the entire length of the bar triad. </P>
              <P> (G) For each observer, starting with the widest group of bars, the last resolved bar group is that group of bars immediately preceding the first group of bars which are not resolved.</P>
              <P> (H) For each image, the last resolved bar group shall be the narrowest bar group which at least 80% of all observers resolve.</P>
              <P> (I) For each image, the ground resolution shall be the width of a bar on the ground, in centimetres from the group obtained from step (H).</P>
              <P> (J) In the case of colour video cameras the resolution shall be determined on an image of the calibration target selected as follows:</P>
                  <div class="col-sm-11 col-sm-offset-1 ">
                    <P> (1) Four images of the calibration target shall be available to the observer; one image from each of the three wavelength bands and a composite image made with each wavelength band having equal weight. </P>
                    <P> (2) The observer shall perform the visual analysis of each of the images identified in (1), and the image which contains the narrowest resolved bar group shall be used to determine the resolution of the video camera.</P>
                </div>
            </div>
          <P> 5. For each pass selected for analysis, data necessary to support a computer-assisted determination of resolution shall be collected and made available to all other States Parties. </P>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>SECTION V. PROCEDURE FOR CALCULATING THE MINIMUM HEIGHT ABOVE GROUND LEVEL AT WHICH A VIDEO CAMERA MAY BE OPERATED DURING AN OBSERVATION FLIGHT</strong></p>
      <div class="col-sm-12">
        <P>1. For each pass (i) selected for analysis in the certification or demonstration flight</P>
          <div class="col-sm-12">
            <P>(A) The resolutions along track, L<SUB>i,1</SUB>, and across track, L<SUB>i,2</SUB>, are determined by
              <div class="col-sm-11 col-sm-offset-1">
                <P>(1) in the case of certification flights, visual analysis as described in Section IV, paragraph 4 of this Decision, and</P>
                <P>(2) in the case of demonstration flights, the Observed and Observing Parties shall have the right to use a computer-assisted method, or visual analysis of their choice, except that for the purpose of invoking Annex F, Section III, paragraphs&nbsp;6 or&nbsp;7 of the Treaty on Open Skies, only the visual analysis as described in Section IV, paragraph 4 of this Decision shall be used. </P>
              </div>
            <P>(B) The image amplitude functions for the set of bar groups laid along, A<SUB>i,1</SUB>(f), and across the line of flight, A<SUB>i,2</SUB>(f), shall be computed.</P>
            <P>(C) While this Decision is in force, State Parties which use computer-assisted methods in accordance with paragraph&nbsp;1&nbsp;(A)&nbsp;(2) of this section, shall provide a written description of the theory, algorithms, and procedures used within the computer-assisted method, as well as procedures for its calibration to all other States Parties. This description shall meet the requirements set forth in Annex&nbsp;C to Decision&nbsp;16 of the OSCC and shall become an appendix to the aforementioned Annex&nbsp;C.</P>
          </div>
        <P>2. The value of H<SUB>min i,j </SUB>for certification and demonstration flights, from image (i) is calculated for along, j=1, and across, j=2, set of bar groups by :</P>
          <div class="col-sm-12">
            <p>(A) The value is determined by:</p>
              <div class="col-sm-12">
                <P>where:</p>
                    <div class="col-sm-12">
                        <p>L<SUB>i,j</SUB> = the ground resolution in centimetres obtained from analysis of the image of the calibration target and</P>
                          <div class="col-sm-12">
                            <P>j = 1 is for the along track set of bar groups, and</P>
                            <P>j = 2 is for the across track set of bar groups.</P>
                          </div>
                      <P>H<SUB>i</SUB> = the height above the calibration target of the aircraft in metres, at the moment the calibration target was imaged for pass (i).</P>
                      <P>L<SUB>a</SUB> = the agreed ground resolution of 30 centimetres.</P>
                    </div>
              </div>
            <P>(B) The data necessary to evaluate a solution to determine H<SUB>min i,j </SUB>based on the following equation, or an agreed alternative, will be collected and evaluated for the duration of this Decision. </P>
              <div class="col-sm-12">
                <P> where:</P>
                  <div class="col-sm-12">
                    <P>K<SUB>i</SUB> = the modulation of the target as measured on the brightness panels in the image.</P>
                    <P>K<SUB>a</SUB> = the agreed target modulation of 0.4 at which ground resolution is defined.</P>
                    <P>c = the threshold exponent appropriate for the sensor and target used.</P>
                  </div>
                <P>For the duration of this Decision, measurements shall be made of each of the parameters in the above equation and the images from certification and demonstration flights shall be made available to the OSCC for research to support a follow-on Decision.</P>
              </div>
          </div>
        <P>3. H<SUB>min</SUB> <SUB>i,j </SUB>are used to compute the average, H<SUB>min j</SUB> of the computed values.</P>
        <div class="col-sm-12">
          <P>where:</p>
            <div class="col-sm-12">
              <p>n is the total number of images of the calibration target used to determine H<SUB>min j</SUB>; and</P>
                <div class="col-sm-12">
                  <P>n&#8217; 5 for certification flights,</P>
                  <P>n&#8217; 1 for demonstration flights.</P>
                </div>
            </div>
        </div>
        <P>4. The value of H<SUB>min </SUB>is the greater of the minimum permissible height values H<SUB>min</SUB> <SUB>1 </SUB>and H<SUB>min</SUB> <SUB>2</SUB> obtained for sets of bar groups aligned along and across track.</P>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p> *************</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <P> This Decision shall enter into force simultaneously with the Treaty on Open Skies. </P>
      <P>It shall remain in force during the period from entry into force of the Treaty until 31 December of the third year following the year during which entry into force takes place. The States Parties shall, within the Open Skies Consultative Commission and during the period this Decision is in force, conclude a follow-on agreement on the determination of minimum height above ground at which a video camera with real time display may be operated, which shall enter into force upon the expiration of this Decision.</P>
      <P> Decided in Vienna, in the Open Skies Consultative Commission, on ... 1994, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</P>
    </div>
  </div>

<hr />
