<!-- DECISION 5/02 -->
<div id="decision_5_2"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top"> Back to Decisions List </a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC/XXVII/Dec/5/02<br/>18 February 2002</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>OSCC DECISION No. 5/02 <br/>TO THE TREATY ON OPEN SKIES <br>PROVISIONS FOR THE USE OF "PG" AS A UNIQUE IDENTIFIER <br/>FOR POD GROUP SENSOR CONFIGURATIONS</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The States Parties to the Treaty on Open Skies have decided as follows:</p>
      <p>SECTION I. PROVISIONS</p>
        <div class="col-sm-12">
          <p>1. The States Parties belonging to the "Pod Group" (at present Benelux, Canada, France, Greece, Italy, Norway, Portugal and Spain) may utilize the "PG" identifier in preparing OS Formats 3, 4, 5, 6, 8 and 25.</p>
          <p>2. One of the "Pod Group" States Parties (at present France), on behalf of all the "Pod Group" States Parties, shall issue OS Formats 3, 4, 5, 6 and 25.</p>
          <p>3. Each "Pod Group" State Party shall issue a separate OS Format 8.</p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>This decision shall enter into force on the day of its adoption and shall have the same duration as the Treaty.</p>
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 18 February 2002, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
