<!-- DECISION 8/02 -->
<div id="decision_8_2"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top"> Back to Decisions List </a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC/XXVIII/Dec/8/02<br/>22 April 2002</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>OSCC DECISION No. 8/02 <br/>TO THE TREATY ON OPEN SKIES <br>GUIDELINES FOR ACCESSION TO <br/>THE TREATY ON OPEN SKIES</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The Open Skies Consultative Commission, in accordance with Article X, paragraph 4 (D) of the Treaty on Open Skies, has decided as follows:</p>
      <p>SECTION 1. APPLICATION FOR ACCESSION: (OS reference: Article XVII)</p>
        <div class="col-sm-12">
          <p>- According to Article XVII, there are three tiers of acceding States to the Treaty on Open Skies:</p>
          <p>- Tier One : In accordance with paragraph 3 of Article XVII, Armenia, Azerbaijan, Kazakhstan, Moldova, Tajikistan, Turkmenistan and Uzbekistan, which did not sign the Treaty before it entered into force, may now accede to the Treaty at any time by depositing an instrument of accession with one of the Treaty Depositories.</p>
          <p>Note: Georgia is already a State Party to the Treaty.</p>
          <p>Kyrgyzstan has already signed the Treaty and will become a State Party following deposit of its instrument of ratification with one of the Depositories. All future references to accession will be taken to apply to ratification by Kyrgyzstan.</p>
          <p>- Tier Two : In accordance with paragraph 4 of Article XVII, any other OSCE States who are currently neither OS States Parties nor fall into the Tier One category, may apply to accede to the treaty by submitting a written request to one of the Depositories at any time during a six month period following entry into force of the treaty. The Depository receiving such a request shall circulate it promptly to all States Parties.</p>
          <p>- Tier Three : In accordance with paragraph 5 of Article XVII, six months after entry into force of the Treaty (1 July 2002), the OSCC may consider applications from any State which in the judgement of the OSCC is able and willing to contribute to the objectives of the Treaty on Open Skies. When considering applications from OSCE States, the OSCC shall take into account the Ministerial Declaration made in Helsinki on 24 March 1992. The Depository receiving such a request shall circulate it promptly to all States Parties.</p>
        </div>
      <p>SECTION 2: CONSIDERATION OF ACCESSION APPLICATIONS BY THE OSCC: (OS Reference: Article XVII)</p>
        <div class="col-sm-12">
          <p>- In accordance with paragraph 3, Article XVII, Tier One applications for accession do not require OSCC approval.</p>
          <p>- Following circulation of an application to accede to the Treaty by any Tier Two State, the application shall be considered at the next regular OSCC meeting and decided in due course.</p>
          <p>- In accordance with paragraph 5 of Article XVII, six months after entry into force of the Treaty (1 July 2002), the OSCC may consider applications from any State which in the judgement of the OSCC is able and willing to contribute to the objectives of the Treaty on Open Skies. When considering applications from OSCE States, the OSCC shall take into account the Ministerial Declaration made in Helsinki on 24 March 1992. The Treaty does not specify when applications may be considered or when a decision on such applications must be taken. The Depositories shall inform promptly all States Parties of the application for accession, the name of the requesting State and the result of the procedure.</p>
          <p>- There are no time limits between the OSCC accession approval and the deposit of the acceding State's instrument of accession. In accordance with paragraph 7(c) of Article XVII, the Treaty Depositories shall inform promptly all State Parties of the date of deposit and the date of entry into force of the Treaty for each State that subsequently accedes to it.</p>
          <p>- In accordance with Paragraph 6 of Article XVII, the acceding State shall gain State Party status 60 days after the deposit of its instrument of accession.</p>
        </div>
      <p>SECTION 3: THE ALLOCATION OF PASSIVE QUOTAS: (OS Reference: Article III, Article XVII, Annex A, Section I, paragraph 2)</p>
        <div class="col-sm-12">
          <p>- In accordance with Article III, Section 1, paragraph 2, a State shall be obliged to accept observation flights over its territory once it becomes a State Party.</p>
          <p>- States applying for accession may, if they wish, request an allocation of a passive quota and the level of this quota. They may do this at the same time they notify the Depositories of their intent to accede or later in the accession process. The OSCC will look into developing guidelines to help acceding States in determining the passive quota to request.</p>
          <p>- An allocation of passive quota to an acceding State shall be considered during the regular session of the OSCC following the date of the deposit of its instrument of accession. An OSCC decision shall then be adopted and take effect after entry into force of the Treaty for that acceding State.</p>
        </div>
      <p>SECTION 4: THE DISTRIBUTION OF ACTIVE QUOTAS (OS Reference: Article III, Annex A, Section II, paragraph 4)</p>
        <div class="col-sm-12">
          <p>- In accordance with Article III, Section 1, a State shall have the right to conduct observation flights once it becomes a State Party and following the allocation of its active quota. Its total active quota shall not exceed its total passive quota. Distribution of the active quota shall only be considered by the OSCC following the deposit of a State's instrument of accession and shall follow the decision on the allocation of passive quotas. The OSCC shall consider the distribution of active quotas during the regular session of the OSCC. The distribution of the active quotas shall become effective following OSCC approval and be subject to annual reviews in accordance with the provisions of the Treaty.</p>
        </div>
      <p>SECTION 5: CONTRIBUTION TO THE SCALE OF DISTRIBUTION FOR THE COMMON EXPENSES ASSOCIATED WITH THE OPERATION OF THE OSCC (OS Reference: OSCC Decision No. 10: 16 July 1993, Article X, Annex L, Section 1, paragraph 9)</p>
        <div class="col-sm-12">
          <p>- Following the deposit of an acceding State's instrument of accession, the OSCC shall consider the redistribution of OSCC costs at the next regular OSCC meeting and settle it as soon as possible. A State shall become liable for OSCC costs sixty days after deposit of its instrument of accession, effective at the beginning of the next OSCE budget quarter following OSCC agreement on the redistribution of costs.</p>
        </div>
      <p>SECTION 6: ALLOCATION OF OBSERVATION FLIGHT REFERENCE NUMBERS BY THE OSCC (OS Reference: Appendix 1 to Annex B of Annex E, paragraph 1 and OSCC Decision No. 6/02, 18 February 2002, OSF 12, 14 and 17)</p>
        <div class="col-sm-12">
          <p>- In accordance with OSCC Decision No. 6/02 of 18&nbsp;February 2002, and following OSCC agreement on the passive quota for an acceding State, the OSCC shall allocate to the acceding State observation flight reference numbers for use in conducting observation flights or training flight missions.</p>
          <p>- Observation flight reference numbers shall become effective 60 days after the deposit of the States' instrument of accession.</p>
        </div>
      <p>SECTION 7: ALLOCATION OF CALL-SIGN CODE (OS Reference: Decision No. 20, 12&nbsp;June 1995 and Annex of 14&nbsp;December 1998)</p>
        <div class="col-sm-12">
          <p>- Within sixty days of the deposit of the instrument of accession, the OSCC shall confirm the assignment of the next available Call-Sign code for each acceding State in accordance with OSCC Decision No. 20, including the annex of 14 December 1998, paragraph 3.</p>
          <p>- Call Sign Codes shall become effective sixty days after the deposit of the States instrument of accession.</p>
          <p>- The OSCC shall take the necessary steps in order to register the OS Call Sign Codes with ICAO.</p>
        </div>
      <p>SECTION 8: PROVISION OF OPEN SKIES NOTIFICATION SOFTWARE TO ACCEDING STATES</p>
        <div class="col-sm-12">
          <p>- The OSCC shall arrange for each acceding State to receive the required Open Skies notification software and training on how to use the software. The OSCC has agreed to use the OSCE Communications Network as a means for the exchange of Treaty notifications and States Parties are encouraged to do so, if possible. The OSCC shall inform the OSCE Communications Group of its approval of an application request from a State to accede to the Treaty submitted by a State or that of a Tier One State who has deposited its Instrument of Accession.</p>
          <p>- The OSCC shall distribute requisite software upgrades to enable them to participate in the exchange of notifications required between States Parties.</p>
          <p>- OS NOFES software changes shall be made in order to allow an acceding State to participate fully in exchange of Treaty notifications 60 days after the deposit of its instrument of accession. If it so wishes, an acceding State may use the software for the purpose of communicating to States Parties the information requested under Sections 9-13 of this document during the 60 day period following deposit.</p>
        </div>
      <p>SECTION 9: DESIGNATION OF PERSONNEL (OS Reference: Article XIII, OSF 18)</p>
        <div class="col-sm-12">
          <p>- Sixty days after the deposit of a State's instrument of accession, an acceding State shall submit to all other States Parties a list of designated personnel relating to the conduct of observation flights including those involved in monitoring and processing sensor output. The list should not exceed four hundred individuals. The list should include the name, gender, date of birth, place of birth, passport number and function of each individual. The original list and subsequent amendments are subject to approval by all other States Parties. Information on personnel should be submitted via OS Format 18, using the OSCE Communications Network, if possible. This information may be provided during the 60 day period following deposit of the instrument of accession at the discretion of the acceding State.</p>
        </div>
      <p>SECTION 10: DESIGNATION OF POINTS OF ENTRY AND EXIT, OPEN SKIES AIRFIELDS AND REFUELING AIRFIELDS (OS Reference: Annex E including Appendix 1 to Annex E)</p>
        <div class="col-sm-12">
          <p>- Sixty days after the deposit of its instrument of accession, the acceding State shall submit to all States Parties their designated points of entry/exit, open skies airfields, refueling airfields and calibration target sites (OSF26). This information may be provided during the 60 day period following deposit of the instrument of accession at the discretion of the acceding State.</p>
        </div>
      <p>SECTION 11: MAXIMUM FLIGHT DISTANCES (OS Reference: Annex A, Section 3 and Annex E, paragraphs 1-5)</p>
        <div class="col-sm-12">
          <p>- Sixty days after the deposit of a State's instrument of accession, the acceding State shall inform all States Parties of the maximum flight distances over its territory from/to the commencement and termination of observation flights (OSF26). This information may be provided during the 60 day period following deposit of the instrument of accession at the discretion of the acceding State.</p>
        </div>
      <p>SECTION 12: INFORMATION ON AIRSPACE AND FLIGHTS IN HAZARDOUS AIRSPACE (OS Reference: Annex I)</p>
        <div class="col-sm-12">
          <p>- Sixty days after deposit of its instrument of accession, an acceding State shall notify all other State Parties of the source of the information referred to in paragraph 1 of Annex I. This information may be provided during the 60 day period following deposit of the instrument of accession at the discretion of the acceding State.</p>
          <p>- According to paragraph 1 of Annex I, at the request of any other State Party (OSF 30) a State Party shall provide information on airspace structures, hazardous airspace and airfields within thirty days of receipt of such a request.</p>
        </div>
      <p>SECTION 13: DIPLOMATIC CLEARANCE NUMBERS AND LANGUAGES TO BE USED (OS Reference: Article VI, Section 1, paragraph 4(a), Article XVIII, Section 1, paragraph 1(a) and OSCC Chairman's Statement of 18 February 2002)</p>
        <div class="col-sm-12">
          <p>- In accordance with Article VI, Section 1, Paragraph 4(a) of the Treaty, sixty days after the deposit of its instrument of accession, an acceding State shall provide all States Parties with standing diplomatic clearance numbers for Open Skies observation flights and the language(s) its personnel shall use for all activities associated with the conduct of observation flights over its territory (OSF 11). This information may be provided during the sixty day period following deposit of the instrument of accession at the discretion of the acceding State.</p>
        </div>
      <p>SECTION 14: OBLIGATIONS OF EXISTING STATES PARTIES TO ACCEDING STATES</p>
        <div class="col-sm-12">
          <p>- Existing States Parties shall provide the information outlined in Sections 9-13 of this document to acceding States no later than sixty days after deposit of the acceding States' instrument of accession.</p>
        </div>
    </div>
  </div>

<hr />
