<!-- DECISION 21/02 -->
<div id="decision_21_2"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a>
      <br/><a href="#21/02AnnexA">Annex A</a>
      <br/><a href="#21/02AnnexB">Annex B</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC/XXIX/Dec/21/02<br/>9 September 2002 </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>OSCC DECISION No. 21/02 <br/>TO THE TREATY ON OPEN SKIES <br>SCALE OF DISTRIBUTION FOR THE COMMON EXPENSES ASSOCIATED WITH <br/>THE OPERATION OF THE OPEN SKIES CONSULTATIVE COMMISSION</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The Open Skies Consultative Commission, pursuant to the provision of Annex L, paragraph 9 of the Treaty on Open Skies, has decided as follows:</p>
        <div class="col-sm-12">
          <p>1. The scale of distribution for the common expenses associated with the operation of the Open Skies Consultative Commission (hereafter referred to as the "scale of distribution of the Open Skies Consultative Commission") shall be based on the revised scale of distribution adopted in PC.DEC/468, dated 11 April 2002, by the Permanent Council of the OSCE (hereafter referred to as the "Standard Scale of Contributions"). The scale of distribution of the Open Skies Consultative Commission shall be revised to reflect any revisions of the Standard Scale of Contributions.</p>
          <p>2. In accordance with OSCC.DEC/8/02/Corr.1, dated 22 April 2002, further to the deposit of Sweden's instrument of accession, the OSCC decides to redistribute OSCC costs in accordance with paragraph 4. Sweden shall become liable for OSCC costs sixty days after deposit of its instrument of accession, effective at the beginning of the next OSCE budget quarter following OSCC agreement on the redistribution of costs.</p>
          <p>3. Recalling OSCC/III/Dec.10 paragraph 2 (B), it revises the ad hoc additional contributions of OSCC States Parties to the special regime established for those countries exempted from proportional contribution in line with the revisions made to the Standard Scale of Contributions. Annex A paragraph 3 applies.</p>
          <p>4. Taking into account the fact that not all participating States to the OSCE are Parties to the Treaty, States Parties have to make an additional contribution to their contribution to the "Standard Scale", in order to cover the existing shortfall.</p>
            <div class="col-sm-12">
              <p>(A) As a rule, this additional contribution will be proportional to the "Standard Scale". Nevertheless, any State Party may provide a higher additional contribution.</p>
              <p>(B) However, taking into account their present economic situation, those countries listed in Annex A to this Decision will be exempted from the proportional contribution mentioned in subparagraph (A) and will only make an ad hoc additional contribution, agreed by the States Parties.</p>
              <p>(C) The special regime established in subparagraph (B) will last as long as the economic situation on the countries listed in Annex A to this Decision so requires. The special regime will be subject to review every year.</p>
            </div>
          <p>5. As long as only participating States to the OSCE are Parties to the Treaty, and provided that there remains a shortfall to be covered, the financial contribution to the scale of distribution of the Open Skies Consultative Commission of any State Party will have to be superior to its contribution to the "Standard Scale".</p>
          <p>6. In case of accession to the Treaty of participating States to the OSCE, their financial contributions to the scale of distribution of the Open Skies Consultative Commission will be calculated according to the principles established in paragraphs 1, 2, and 3. In that case, the financial contributions to the scale of distribution of the Open Skies Consultative Commission of the other States Parties will be reduced in due proportion. This provision does not apply to those countries listed in Annex A to this Decision, as long as the special regime established in paragraph 4, subparagraph (B) grants them the benefit of financial contributions to the scale of distribution of the Open Skies Consultative Commission lower than those of other States Parties which bear an identical contribution to the "Standard Scale".</p>
          <p>7. In case of accession to the Treaty of non-participating States to the OSCE, their financial contributions to the scale of distribution of the Open Skies Consultative Commission as well as the scale of distribution of the Open Skies Consultative Commission will be agreed on an ad hoc basis by the Open Skies Consultative Commission.</p>
          <p>8. As of 1 October 2002, the scale of distribution of the Open&nbsp;Skies Consultative Commission is agreed as follows (in percentages):</p>
            <div class="col-sm-12">
              <p>France 10.329</p>
              <p>Germany 10.329</p>
              <p>Italy 10.329</p>
              <p>United Kingdom 10.329</p>
              <p>United States of America 10.215</p>
              <p>Russian Federation 9.050</p>
              <p>Canada 6.185</p>
              <p>Spain 5.100 <a href="#_ftn1" name="_ftnref1">* </a></p>
              <p>Netherlands 4.313</p>
              <p>Belgium 4.029</p>
              <p>Sweden 4.029</p>
              <p>Denmark 2.327</p>
              <p>Norway 2.327</p>
              <p>Poland 1.589</p>
              <p>Ukraine 1.510</p>
              <p>Turkey 1.135</p>
              <p>Portugal 0.964</p>
              <p>Greece 0.794</p>
              <p>Hungary 0.794</p>
              <p>Romania 0.794</p>
              <p>Czech Republic 0.760</p>
              <p>Bulgaria 0.624</p>
              <p>Luxembourg 0.624</p>
              <p>Belarus 0.590</p>
              <p>Slovakia 0.375</p>
              <p>Iceland 0.216</p>
              <p>Georgia 0.180</p>
              <p>Kyrgyzstan 0.160</p>
              <p>Armenia 0.000</p>
              <p>Azerbaijan 0.000</p>
              <p>Kazakhstan 0.000</p>
              <p>Moldova 0.000</p>
              <p>Tajikistan 0.000</p>
              <p>Turkmenistan 0.000</p>
              <p>Uzbekistan 0.000</p>
              <p>Total 100.000</p>
            </div>
        </div>
    </div>
  </div>

<hr>

<!-- 21/02 Annex A -->
  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a name="21/02AnnexA" href="#21/02">Back to Decision 21/02</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">DECISION No. 21/02</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>Annex A <br/>List of countries to which the special regime established in paragraph 4, subparagraph (B) of the Decision on the scale of distribution of the Open Skies Consultative Commission may apply: </strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Armenia</p>
      <p>Azerbaijan</p>
      <p>Belarus</p>
      <p>Georgia</p>
      <p>Kazakhstan</p>
      <p>Kyrgyzstan</p>
      <p>Moldova</p>
      <p>Russian Federation</p>
      <p>Tajikistan</p>
      <p>Turkmenistan</p>
      <p>Ukraine</p>
      <p>Uzbekistan</p>
      <p>1. The financial contribution to the scale of distribution to the scale of distribution of the OSCC of each State Party to the Treaty, except those which benefit from the special regime established in paragraph 4, subparagraph (B) of the above-mentioned Decision, those that provide higher additional contributions and those which are not participating States to the OSCE, is calculated as follows (in percentages):</p>
        <div class="col-sm-12">
          <p>OS<sub>i</sub> = K x H<sub>i</sub></p>
            <div class="col-sm-12">
              <p>where:</p>
                <div class="col-sm-12">
                  <p>i = State Party to which the present paragraph applies</p>
                  <p>OS<sub>i</sub> = financial contribution of State Party i</p>
                  <p>H<sub>i</sub> = contribution to the "Standard Scale" of State Party i</p>
                  <p>K = correction coefficient</p>
                </div>
            </div>
          </div>
      <p>2. The financial contribution to the scale of distribution of the OSCC of a State Party that provides a higher additional contribution is calculated as follows (in percentages):</p>
        <div class="col-sm-12">
          <p>OS<sub>m</sub> = H<sub>m</sub> + E<sub>m</sub></p>
            <div class="col-sm-12">
              <p>where:</p>
                <div class="col-sm-12">
                  <p>m = State Party to which the present paragraph applies</p>
                  <p>OS m = financial contribution of State Party m [for 2002 = 5.100%]</p>
                  <p>H m = contribution to the "Standard Scale" of State Party m [for 2002 = 3.800%]</p>
                  <p>E m = additional contribution of State Party m [for 2002 = 1.300%]</p>
                </div>
            </div>
        </div>
      <p>3. The financial contribution to the scale of distribution of the OSCC of a State Party to which the special regime established in paragraph 4, subparagraph (B) of the above-mentioned Decision applies is calculated as follows (in percentages):</p>
        <div class="col-sm-12">
          <p>OS<sub>j</sub> = H<sub>j</sub> + A<sub>j</sub></p>
            <div class="col-sm-12">
              <p>where:</p>
                <div class="col-sm-12">
                  <p>j = State Party to which the present paragraph applies</p>
                  <p>OS<sub>j</sub> = financial contribution of State Party j</p>
                  <p>H<sub>j</sub> = contribution to the "Standard Scale" of State Party j</p>
                  <p>A<sub>j</sub> = ad hoc additional contribution of State Party j</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-sm-offset-1">
          <table class="table table-responsive table-striped">
          <tr>
          <td><strong>State Party</strong></td>
          <td><strong>Aj</strong></td>
          </tr>
          <tr>
          <td>Armenia</td>
          <td>-0.150%</td>
          </tr>
          <tr>
          <td>Azerbaijan</td>
          <td>-0.150%</td>
          </tr>
          <tr>
          <td>Belarus</td>
          <td>+0.010% <strong></strong></td>
          </tr>
          <tr>
          <td>Georgia</td>
          <td>+0.010% <strong></strong></td>
          </tr>
          <tr>
          <td>Kazakhstan</td>
          <td>-0.475%</td>
          </tr>
          <tr>
          <td>Kyrgyzstan</td>
          <td>+0.010%</td>
          </tr>
          <tr>
          <td>Moldova</td>
          <td>-0.170%</td>
          </tr>
          <tr>
          <td>Russian Federation</td>
          <td>+0.050%</td>
          </tr>
          <tr>
          <td>Tajikistan</td>
          <td>-0.150%</td>
          </tr>
          <tr>
          <td>Turkmenistan</td>
          <td>-0.150%</td>
          </tr>
          <tr>
          <td>Ukraine</td>
          <td>+0.020%</td>
          </tr>
          <tr>
          <td>Uzbekistan</td>
          <td><strong>- </strong>0.475%</td>
          </tr>
          <tr>
          <td><strong>Total </strong></td>
          <td><strong>-1.620% </strong></td>
          </tr>
          </table>
        </div>
      <p>4. Coefficient K is determined from the formula: </p>
        <div class="col-sm-12">
          <div class="col-sm-6 col-sm-offset-1">
            <table class="table table-responsive table-striped">
              <tr>
                <td>K =</td>
                <td><p>100% - &#8721;OS<sub>m</sub> - &#8721;OS<sub>j</sub> </p>
                <p><strong>______________________________________ </strong></p>
                <p>&#8721;H<sub>i</sub></td>
                <td>[for 2002 = 1.134984]</td>
              </tr>
            </table>
          </div>
          <div class="col-sm-12">
            <p>where:</p>
              <div class="col-sm-12">
                <p>&#8721; H<sub>i</sub> = sum of contribution to &quot;Standard Scale&quot; of States Parties i - </p>
                <p>see paragraph 1 above. [for 2002 = 73.490%] </p>
                <p>&#8721;OS<sub>m</sub> = sum of contributions to the scale of distribution of the OSCC of States Parties m - see paragraph 2 above. [for 2002 = 5.100%] </p>
                <p>&#8721;OS<sub>j</sub> = sum of contributions to the scale of distribution of the OSCC of States Parties j - see paragraph 3 above. [for 2002 = 11.490%] </p>
                <p><a href="#_ftnref1" name="_ftn1">* </a>This percentage reflects the agreement of Spain to provide a higher additional contribution. </p>
              </div>
          </div>
        </div>
    </div>
  </div>

<hr>
<!--Decision 21/2 Annex B-->
  <div class="row">
    <div class="col-sm-2">
        <p align="left"><a name="21/02AnnexB" href="#21/02">Back to Decision 21/02</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">DECISION No. 21/02 </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>Annex B <br/>OSCC SCALES OF ASSESSMENT FROM 1 OCTOBER 2002 </strong></p>
    </div>
  </div>
  </div class="row">
    <div class="col-sm-12 text-center">
      <p>(K = 1.134984) </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <table class="table table-responsive table-striped">
        <tr>
          <td>Participating State</td>
          <td>2002 Standard Scale <br>(per cent) <br><strong>Hi/Hm/Hj </strong></td>
          <td><strong>Tot Hi Hi </strong></td>
          <td><strong>OSm </strong></td>
          <td><strong>Em </strong></td>
          <td><strong>OSj </strong></td>
          <td><strong>Aj </strong></td>
          <td><strong>OSi </strong></td>
          <td><strong>OSCC Scale <br>2002 <br>OSi/OSm/OSj</strong></td>
        </tr>
        <tr>
          <td>France</td>
          <td>9.100</td>
          <td>9.100</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>10.328</td>
          <td><strong>10.3284 </strong></td>
        </tr>
        <tr>
          <td>Germany</td>
          <td>9.100</td>
          <td>9.100</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>10.328</td>
          <td><strong>10.3284 </strong></td>
        </tr>
        <tr>
          <td>Italy</td>
          <td>9.100</td>
          <td>9.100</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>10.328</td>
          <td><strong>10.3284 </strong></td>
        </tr>
        <tr>
          <td>United Kingdom</td>
          <td>9.100</td>
          <td>9.100</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>10.328</td>
          <td><strong>10.3284 </strong></td>
        </tr>
        <tr>
          <td>Russian Federation</td>
          <td>9.000</td>
          <td></td>
          <td></td>
          <td></td>
          <td>9.050</td>
          <td><p>0.050</td>
          <td></td>
          <td><strong>9.0500 </strong></td>
        </tr>
        <tr>
          <td>United States</td>
          <td>9.000</td>
          <td>9.000</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>10.215</td>
          <td><strong>10.2149 </strong></td>
        </tr>
        <tr>
          <td>Canada</td>
          <td>5.540</td>
          <td>5.540</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>6.186</td>
          <td><strong>6.1857 </strong></td>
        </tr>
        <tr>
          <td>Netherlands</td>
          <td>3.800</td>
          <td>3.800</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>4.313</td>
          <td><strong>4.3129 </strong></td>
        </tr>
        <tr>
          <td>Spain</td>
          <td>3.800</td>
          <td></td>
          <td>5.100</td>
          <td>1.300</td>
          <td></td>
          <td></td>
          <td>4.313</td>
          <td><strong>5.1000 </strong></td>
        </tr>
        <tr>
          <td>Belgium</td>
          <td>3.550</td>
          <td>3.550</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>4.029</td>
          <td><strong>4.0292 </strong></td>
        </tr>
        <tr>
          <td>Sweden</td>
          <td>3.550</td>
          <td>3.550</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>4.029</td>
          <td><strong>4.0292 </strong></td>
        </tr>
        <tr>
          <td>Denmark</td>
          <td>2.050</td>
          <td>2.050</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>2.327</td>
          <td><strong>2.3267 </strong></td>
        </tr>
        <tr>
          <td>Norway</td>
          <td>2.050</td>
          <td>2.050</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>2.327</td>
          <td><strong>2.3267 </strong></td>
        </tr>
        <tr>
          <td>Ukraine</td>
          <td>1.490</td>
          <td></td>
          <td></td>
          <td></td>
          <td>1.510</td>
          <td><p>0.020</td>
          <td></td>
          <td><strong>1.5100 </strong></td>
        </tr>
        <tr>
          <td>Poland</td>
          <td>1.400</td>
          <td>1.400</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>1.589</td>
          <td><strong>1.5890 </strong></td>
        </tr>
        <tr>
          <td>Turkey</td>
          <td>1.000</td>
          <td>1.000</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>1.135</td>
          <td><strong>1.1350 </strong></td>
        </tr>
        <tr>
          <td>Belarus</td>
          <td>0.580</td>
          <td></td>
          <td></td>
          <td></td>
          <td>0.590</td>
          <td><p>0.010</td>
          <td></td>
          <td><strong>0.5900 </strong></td>
        </tr>
        <tr>
          <td>Greece</td>
          <td>0.700</td>
          <td>0.700</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>0.794</td>
          <td><strong>0.7945 </strong></td>
        </tr>
        <tr>
          <td>Hungary</td>
          <td>0.700</td>
          <td>0.700</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>0.794</td>
          <td><strong>0.7945 </strong></td>
        </tr>
        <tr>
          <td>Romania</td>
          <td>0.700</td>
          <td>0.700</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>0.794</td>
          <td><strong>0.7945 </strong></td>
        </tr>
        <tr>
          <td>Czech Republic</td>
          <td>0.670</td>
          <td>0.670</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>0.760</td>
          <td><strong>0.7604 </strong></td>
        </tr>
        <tr>
          <td>Bulgaria</td>
          <td>0.550</td>
          <td>0.550</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>0.624</td>
          <td><strong>0.6242 </strong></td>
        </tr>
        <tr>
          <td>Kazakhstan</td>
          <td>0.475</td>
          <td></td>
          <td></td>
          <td></td>
          <td>0.000</td>
          <td><p>-0.475</td>
          <td></td>
          <td><strong>0.0000 </strong></td>
        </tr>
        <tr>
          <td>Luxembourg</td>
          <td>0.550</td>
          <td>0.550</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>0.624</td>
          <td><strong>0.6242 </strong></td>
        </tr>
        <tr>
          <td>Portugal</td>
          <td>0.850</td>
          <td>0.850</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>0.965</td>
          <td><strong>0.9647 </strong></td>
        </tr>
        <tr>
          <td>Uzbekistan</td>
          <td>0.475</td>
          <td></td>
          <td></td>
          <td></td>
          <td>0.000</td>
          <td><p>-0.475</td>
          <td></td>
          <td><strong>0.0000 </strong></td>
        </tr>
        <tr>
          <td>Slovakia</td>
          <td>0.330</td>
          <td>0.330</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>0.375</td>
          <td><strong>0.3745 </strong></td>
        </tr>
        <tr>
          <td>Iceland</td>
          <td>0.190</td>
          <td>0.190</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>0.216</td>
          <td><strong>0.2156 </strong></td>
        </tr>
        <tr>
          <td>Georgia</td>
          <td>0.170</td>
          <td></td>
          <td></td>
          <td></td>
          <td>0.180</td>
          <td><p>0.010</td>
          <td></td>
          <td><strong>0.1800 </strong></td>
        </tr>
        <tr>
          <td>Moldova</td>
          <td>0.170</td>
          <td></td>
          <td></td>
          <td></td>
          <td>0.000</td>
          <td><p>-0.170</td>
          <td></td>
          <td><strong>0.0000 </strong></td>
        </tr>
        <tr>
          <td>Armenia</td>
          <td>0.150</td>
          <td></td>
          <td></td>
          <td></td>
          <td>0.000</td>
          <td><p>-0.150</td>
          <td></td>
          <td><strong>0.0000 </strong></td>
        </tr>
        <tr>
          <td>Azerbaijan</td>
          <td>0.150</td>
          <td></td>
          <td></td>
          <td></td>
          <td>0.000</td>
          <td><p>-0.150</td>
          <td></td>
          <td><strong>0.0000 </strong></td>
        </tr>
        <tr>
          <td>Kyrgyzstan</td>
          <td>0.150</td>
          <td></td>
          <td></td>
          <td></td>
          <td>0.160</td>
          <td><p>0.010</td>
          <td></td>
          <td><strong>0.1600 </strong></td>
        </tr>
        <tr>
          <td>Tajikistan</td>
          <td>0.150</td>
          <td></td>
          <td></td>
          <td></td>
          <td>0.000</td>
          <td><p>-0.150</td>
          <td></td>
          <td><strong>0.0000 </strong></td>
        </tr>
        <tr>
          <td>Turkmenistan</td>
          <td>0.150</td>
          <td></td>
          <td></td>
          <td></td>
          <td>0.000</td>
          <td><p>-0.150</td>
          <td></td>
          <td><strong>0.0000 </strong></td>
        </tr>
      </table>
    </div>
  </div>

<hr>
