<!-- DECISION 7/02 -->
<div id="decision_7_2"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top"> Back to Decisions List </a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC/XXVII/Dec/7/02<br/>18 March 2002</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>OSCC DECISION No. 7/02 <br/>TO THE TREATY ON OPEN SKIES <br>REVISION 1 OF DECISION NUMBER ONE</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Due to a general rise of costs in the OSCE area since 1992, the Open Skies Consultative Commission, has decided to change Decision Number One to the Treaty on Open Skies of 10 December 1992, Section V, paragraph 2, subparagraph (A) to read as follows:</p>
        <div class="col-sm-12">
          <p>(A) Travel expenses for representatives of the States Parties at the certification process, as well as costs for their meals and accommodation up to the equivalent of EUR 120 per person per day, shall be met by the State Party which they represent.</p>
        </div>
      <p>This Revision is effective from the date of its adoption.</p>
    </div>
  </div>

<hr>
