<!-- DECISION 11/02 -->
<div id="decision_11_2"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC/XXVII/Dec/11/02<br/>10 June 2002</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>OSCC DECISION No. 11/02 <br/>TO THE TREATY ON OPEN SKIES <br>REVISION 2 OF DECISION NUMBER ONE</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Due to a general rise of costs in the OSCE area since 1992, the Open Skies Consultative Commission, has decided to change Decision Number One to the Treaty on Open Skies of 10 December 1992, Section V, paragraph 2, subparagraph (B) to read as follows:</p>
        <div class="col-sm-12">
          <p>"(B) Unless otherwise agreed, the observed Party shall not charge more than <em></em>the equivalent of EUR 120 in a convertible currency per person per day for meals and accommodation provided to the personnel of the observing Party. This figure will be subject to review on the request of a State Party."</p>
        </div>
      <p>This revision is effective from 1 January 2003.</p>
    </div>
  </div>

<hr />
