<!-- DECISION 9/02 -->
<div id="decision_9_2"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top"> Back to Decisions List </a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC/XXVIII/Dec/9/02<br/>13 May 2002</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>OSCC DECISION No. 9/02 <br/>TO THE TREATY ON OPEN SKIES <br>PROTECTION OF DATA COLLECTED DURING OBSERVATION FLIGHTS <br/>AND TRANSFER OF RECORDING MEDIA CONTAINING THIS DATA </strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The Open Skies Consultative Commission, taking into consideration the sensitive nature of the data collected during observation flights to the security interests of the States Parties and pursuant to Article IX, Section I, paragraph 4 of the Treaty, has decided as follows:</p>
        <div class="col-sm-12">
          <p>1. The States Parties shall ensure that data collected by sensors during observation flights shall be used exclusively for the attainment of the purposes of the Treaty. Data collected by sensors during observation flights shall be considered sensitive information and shall be made available to States Parties. Each State Party shall take necessary measures to protect the security of this data.</p>
          <p>2. Transfers of recording media containing the data collected by sensors during observation flights from one State Party to another State Party shall be documented in accordance with the Annex of this Decision.</p>
        </div>
      <p>This Decision shall enter into force on the date of its adoption and shall have the same duration as the Treaty on Open Skies.</p>
      <p>Decided in Vienna, in the Open Skies Consultative Commission on 13 May 2002, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>RECEIPT FOR THE RECORDING MEDIA <br>CONTAINING OBSERVATION FLIGHT DATA</p>
    </div>
  </div>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
      <table class="table table-responsive table-striped">
      <tr>
      <td><p>1.</p></td>
      <td><p>Observing Party:</p></td>
      </tr>
      <tr>
      <td><p>2.</p></td>
      <td><p>Observed Party:</p></td>
      </tr>
      <tr>
      <td><p>3.</p></td>
      <td><p>Requesting Party:</p></td>
      </tr>
      <tr>
      <td><p>4.</p></td>
      <td><p>Place of transfer:</p></td>
      </tr>
      <tr>
      <td><p>5.</p></td>
      <td><p>Date and time of transfer:</p></td>
      </tr>
      <tr>
      <td><p>6.</p></td>
      <td><p>Observation flight reference number:</p></td>
      </tr>
      <tr>
      <td><p>7.</p></td>
      <td><p>Reference to notification format (OSF 14 or OSF 17) containing transferred data description:</p></td>
      </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Total: aerial films _________ </p>
      <p>cassettes _________ </p>
      <p>diskettes _________ </p>
      <p>Handed over by </p>
      <p>(signature, name) </p>
      <p>Received by </p>
      <p>(signature, name) </p>
    </div>
  </div>

<hr />
