<!-- DECISION 22/02 -->
<div id="decision_22_2"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top"> Back to Decisions List </a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC/XXIX/Dec/22/02<br/>16 December 2002</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>OSCC DECISION No. 22/02 <br/>TO THE TREATY ON OPEN SKIES <br>PROCEDURES FOR TRANSIT NECESSARY DURING <br/>A SEGMENT OF AN OPEN SKIES OBSERVATION FLIGHT</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Article VII of the Treaty on Open Skies provides procedures for conducting transit flights, which include a provision that sensor operation on an observation aircraft during transit flights is prohibited. The Treaty is silent, however, on procedures for transit through the airspace of States Parties or non-States Parties necessary during a segment of an observation flight.</p>
      <p>The Open Skies Consultative Commission has decided that in order to safeguard the right of an observing Party to observe the entire territory of the observed Party and to provide measures to prevent observation of transited States during an observation flight, States Parties will use the following procedures:</p>
        <div class="col-sm-12">
          <p>1. States Parties shall accept transit legs during an observation flight that are essential to reach a part of the territory of the observed Party, subject to pre-co-ordination.</p>
          <p>2. The observing Party shall provide timely pre-co-ordination with any State whose airspace may be transited during a segment of an observation flight. The observing Party's pre-co-ordination shall include transit details which shall request, <em>inter alia </em>, the planned route, altitude, timing and, if required, diplomatic clearance number from the transited State.</p>
          <p>3. A State Party whose airspace is to be transited shall provide transit details to the observing Party within 72 hours of request. More time may be necessary for co-ordination with non-States Parties. In either case, pre-co-ordination should be completed prior to presentation of the Mission Plan in accordance with Article VI, Section II.</p>
          <p>4. The observing Party will include details for transit legs during an observation flight to the observed Party during presentation of the Mission Plan. Transit legs will be clearly identified within the Mission Plan and the Mission Report.</p>
          <p>5. The observed Party shall co-ordinate execution of the transit legs during an observation flight with the appropriate authorities of the transited State using all the information provided in accordance with paragraph 4 above. After the Mission Plan is agreed the observed Party will provide immediate notice to the transited state of the date and time of entry the airspace of the transited State.</p>
          <p>6. The operation of sensors on an observation aircraft during transit legs of an observation flight is prohibited. Control of sensors during transit legs shall rest on the observing Party.</p>
          <p>7. A representative of the State whose airspace is to be transited shall be invited as an observer to monitor the transit legs. The invitation will be forwarded along with the request for transit details. There is no obligation for the transited State to provide an observer. If the transited State intends to send an observer to the flight, relevant information regarding participation of such an observer shall be provided along with the transit details. States Parties shall chose their observer from the list of designated personnel for observation flights. The observer shall have the right to verify that the sensors are not in operation during the transit legs, and may assist in air traffic control issues related to the transit legs as necessary.</p>
          <p>8. For States Parties and unless otherwise agreed, travel expenses for the observer to the point of entry and from the point of exit of the observed State Party shall be borne by the transited State. For the purposes of other costs, as detailed in OSCC Decision Number One, the observer will be considered part of the observing Party.</p>
          <p>9. States Parties may use OS Format 35 to pre-co-ordinate transit necessary during a segment of an observation flight.</p>
        </div>
      <p>This Decision shall enter into force on the date of its adoption and shall have the same duration as the Treaty.</p>
      <p>Decided in Vienna, in the Open Skies Consultative Commission on 16 December 2002, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr />
