<!-- DECISION TWELVE -->
<div id="decision_12"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top"> Back to Decisions List </a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC/IV/Dec.12<br/>6 December 1993 </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION TWELVE <br/>TO THE TREATY ON OPEN SKIES <br/>INFORMATION TO BE PROVIDED TOGETHER WITH <br/>CALIBRATION TARGET DIAGRAMS</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <P>The Open Skies Consultative Commission, pursuant to the provisions of Appendix 1 to Annex D, Section I, paragraph 5 of the Treaty on Open Skies, has decided as follows: </P>
      <P>For each certification and demonstration flight, the following information shall be provided together with a diagram of the calibration targets. </P>
        <div class="col-sm-12">
          <P>1. For targets used with optical and video cameras: </P>
            <div class="col-sm-11 col-sm-offset-1">
              <P> (a) the number of bar groups;
              <P>(b) length and width of the bars within each bar group, in centimetres; </P>
              <P>(c) overall length and width of the outside edges of the background material, in centimetres; </P>
              <P>(d) location of its centre, by geographic co-ordinates to the nearest second; </P>
              <P>(e) altitude above sea level, in metres; </P>
              <P>(f) orientation of the bars with respect to true north, to the nearest degree; </P>
              <P>(g) relative reflectance level of the surface background, as a percentage; </P>
              <P>(h) relative reflectance of the dark and light bars of the calibration target expressed as the average and standard deviation for at least five measurements taken on any randomly selected bar group as a percentage for viewing angles of 0, 30, 45 and 60 degrees off vertical of the target's surface. With reference to the orientation of the bars, two sets of measurements shall be made. The first set shall be in a vertical plane whose azimuth is perpendicular to one side of a bar. The second shall be in a plane perpendicular to the first. For demonstration flights, the certification measurements can be validated using any bar pair at angles of only 0 and 45 degrees; </P>
              <P>(i) true track for data collection, in degrees; and </P>
              <P>(j) type of surface background. </P>
            </div>
          <P>2. For active and passive targets used with infra-red line-scanning devices: </P>
            <div class="col-sm-11 col-sm-offset-1">
              <P>(a) the number of bar groups;
              <P>(b) length and width of the bars within each bar group, in centimetres; </P>
              <P>(c) overall length and width of the outside edges of the target area, in centimetres; </P>
              <P>(d) location of its centre, by geographic co-ordinates to the nearest second; </P>
              <P>(e) altitude above sea level, in metres; </P>
              <P>(f) orientation of the bars with respect to true north, to the nearest degree; </P>
              <P>(g) emissivity of the hot and cold bars expressed as the average and the standard deviation for at least five measurements taken on any randomly selected bar group in the 3 to 5 and 8 to 14 micron wavelength bands; </P>
              <P>(h) the maximum and minimum radiant temperature differences which are achievable between the hot and cold bars, and the standard deviation of the temperature over the whole area of a single bar, in degrees; </P>
              <P>(i) operational limitations which are necessary to achieve the required performance, such as meteorological conditions, use of baffles or temperature controlling devices; </P>
              <P>(j) description of the surface background, including its emissivity; and </P>
              <P>(k) true track for data collection, in degrees. </P>
            </div>
          <P>3. For target arrays used with sideways-looking synthetic aperture radar: </P>
            <div class="col-sm-11 col-sm-offset-1">
              <P>(a) length of the inside edge of each individual corner reflector, in millimetres;
              <P>(b) angular accuracy of construction of each individual corner reflector, in degrees; </P>
              <P>(c) distances between the apex of each individual trihedral corner reflector in the impulse response and dynamic range arrays, in metres; </P>
              <P>(d) distance between the centre reflectors in each array, in metres; </P>
              <P>(e) distance between the apex of the most separated corner reflectors within each array, in metres; </P>
              <P>(f) location of the centre of each array, by geographic co-ordinates to the nearest second; </P>
              <P>(g) altitude above sea level, in metres; </P>
              <P>(h) orientation of each array with respect to true north, to the nearest degree; </P>
              <P>(i) description of the surface background and estimated background clutter level, in decibels per square metre; </P>
              <P>(j) true track for data collection, in degrees; </P>
              <P>(k) accuracy of alignment, in azimuth, of each corner reflector with respect to the recommended true track, in degrees;</P>
              <P>(l) angle and alignment accuracy in elevation with respect to the horizontal bottom surface of each corner reflector; </P>
              <P>(m) description of the technique used to reduce multipath signal reception from individual corner reflectors, and </P>
              <P>(n) description and diagram for attaching (mounting) the corner reflectors to the ground. </P>
            </div>
          <P>4. For demonstration flights it is not necessary to repeat measurements for invariant parameters specific to a target which has been used during certification. </P>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * * * * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <P>This Decision shall enter into force simultaneously with the Treaty on Open Skies and shall have the same duration as the Treaty.</P>
      <P>Decided in Vienna, in the Open Skies Consultative Commission, on 6 December 1993, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic. </P>
    </div>
  </div>

<hr />
