<!-- DECISION 1/07 -->
<div id="decision_1_7"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right"> OSCC.DEC/1/07
      <br>29 January 2007
      <br>OSCC++
      <br>Original:ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>1st Meeting of the 42nd Session</strong> <br>OSCC(42) Journal No. 128, Agenda item 3</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 1/07 <br>PROLONGING THE WORK OF THE INFORMAL <br>WORKING GROUP ON SENSORS INTO THE YEAR 2007</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p> Guided by Decision No. 1/05 of 31 January 2005 and Decision No. 14/05 of 12 December 2005, the Informal Working Group on Sensors (IWGS), on the instructions of the Open Skies Consultative Commission, has been working to revise Decision Number Fourteen and Decision Number Fifteen to the Treaty on Open Skies,</p>
      <p> The IWGS is currently working on four decisions. These are:</p>
        <div class="col-sm-12">
          <p>(1) Revision One to Decision Number Fifteen, the Infrared Decision;</p>
          <p>(2) Revision One to Decision Number Fourteen, the Video Decision;</p>
          <p>(3) The Certification Decision;</p>
          <p>(4) The new Digital Image Processing Decision.</p>
        </div>
      <p> The last two decisions, the Certification Decision and the Digital Image Processing Decision, are extracted from Decision Number Fourteen and Decision Number Fifteen. Because certain provisions are common to both Video and Infrared, specifically the Certification Protocols and certain Digital Image Processing Protocols, these protocols have been separated off into their own stand-alone decision.</p>
      <p> Taking into consideration that the work to revise Decision Number Fourteen and Decision Number Fifteen still requires additional time, and the fact that there now are four decisions being worked on, the Open Skies Consultative Commission agrees to prolong the work of the Informal Working Group on Sensors into the year 2007 with a view to conclude the work not later than 31 December 2007.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p> Decided in Vienna, in the Open Skies Consultative Commission, on 29 January 2007, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
