<!-- DECISION 6/07 -->
<div id="decision_6_7"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a>
      <a href="Dec6-07/Annex.pdf" target="_blank">Annex</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/6/07
      <br>17 September 2007
      <br>OSCC+
      <br>Original: ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <p><strong>1st Meeting of the 44th Session</strong> <br>OSCC(44) Journal No. 135, Agenda item 5</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 6/07 <br>REVISION FOUR OF DECISION NUMBER ONE <br>TO THE TREATY ON OPEN SKIES <br>Distribution of costs arising under the Treaty on Open Skies</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The Open Skies Consultative Commission agrees to revise OSCC Decision Number One on the Distribution of Costs Arising Under the Treaty on Open Skies, taking into consideration the practical experience of implementation of the Treaty on Open Skies, as well as recognizing the utility of consolidating all agreed cost-related provisions of previous OSCC documents. Thus, the Open Skies Consultative Commission has decided:</p>
      <p>The following provisions shall govern the distribution of costs arising under the Treaty on Open Skies, hereinafter referred to as the Treaty:</p>
      <p>SECTION I. DISTRIBUTION OF COSTS OF OBSERVATION FLIGHTS CONDUCTED ON AN OBSERVATION AIRCRAFT OF THE OBSERVING PARTY OR ON AN OBSERVATION AIRCRAFT DESIGNATED BY A THIRD PARTY</p>
        <div class="col-sm-12">
          <p>1. Unless otherwise specified in this Decision, or agreed between the States Parties involved, an observing Party using its own observation aircraft or an observation aircraft designated by a third Party shall reimburse the observed Party for the costs of only the following goods and services related to the observation aircraft:</p>
            <div class="col-sm-12">
              <p>(A) Fuel, oil, hydraulic fluid, oxygen, de-icing fluid and water requested in the course of the observation mission;</p>
              <p>(B) Ground technical and commercial servicing requested by the flight crew of the observing Party; and</p>
              <p>(C) Additional services provided by the observed Party pursuant to Article VI, Section I, paragraph 17(D) of the Treaty.</p>
            </div>
          <p>2. The costs for the goods specified in paragraph 1(A) of this Section and Section II, paragraph 4 of this Decision, and consumed during a demonstration flight requested by the observed Party pursuant to Annex F, Section III of the Treaty shall be met by the observed Party unless the demonstration flight results in the cancellation of the observation flight in accordance with the provisions of Article VIII and Annex F of the Treaty. In this case the observing Party shall meet such costs of the demonstration flight.</p>
          <p>3. In the event that the observing Party takes the original recording media on its own observation aircraft or transport aircraft to its processing location, it shall upon request of the observed Party, and provided the availability of seats, transport free of charge personnel of the observed Party verifying the recording media processing to its processing location. In such case the observing Party assumes no liability for transporting such passengers.</p>
          <p>4. Costs resulting from a deviation or curtailment of an observation flight in accordance with Article VIII, Section II, paragraph 5(C) of the Treaty, shall be met by the observed Party. All other costs connected with a deviation from the flight plan of the observation flight, as specified in Section I, paragraph 1(A) of this Decision, shall be paid by the observing Party.</p>
          <p>5. The costs of recording media, transportation of the media to the processing location, chemicals expended in processing, and duplication for the observed Party shall be borne by the observing Party.</p>
          <p>6. The scheduled observation flight is not counted against the quotas of either State Party in cases where the observation aircraft of the observing Party arrived in the territory of the observed Party, but the observation flight did not commence due to technical problems related to the observation aircraft or its sensors, the need to render emergency medical assistance to a member of the flight crew, or to a member of the mission of the observing Party, indispensable for the conduct of the observation flight.</p>
          <p>The observing Party, in accordance with the mechanism set forth in this Decision, shall reimburse the observed Party for:</p>
            <div class="col-sm-12">
              <p>(A) Costs related to materials and services as well as costs related to meals and accommodation of the personnel of the observing Party in accordance with this Decision;</p>
              <p>(B) Costs of the observed Party related to meals and accommodation of the personnel of the observed Party, not to exceed six in number, and in exceptional cases, upon agreement between the Parties involved, up to 10 persons, starting from the time of the first landing on the territory of the observed Party until take-off from the Point of Exit of the observed Party. The observed Party will provide a list of escort personnel upon the arrival of the mission of the observing Party.</p>
            </div>
          <p>7. In cases where the observation flight has not been conducted for the reasons set forth in paragraph 6 of this Section, the observing Party shall notify all other States Parties to the Treaty.</p>
          <p>8. In cases where the observing Party(s) does not reuse this unused quota in the course of a calendar year, the costs specified in paragraph 6(B) of this Section, regardless of the number of personnel from the observed Party, shall not be reimbursed. This provision shall apply once for the same unused quota.</p>
          <p>9. In case of shared flights, the costs specified in paragraph 6(B) of this Section shall be reimbursed by the Party or Parties that make use of the unused quota.</p>
        </div>
      <p>SECTION II. DISTRIBUTION OF COSTS OF OBSERVATION FLIGHTS CONDUCTED ON OBSERVATION AIRCRAFT PROVIDED BY THE OBSERVED PARTY PURSUANT TO ARTICLE VI, SECTION I, PARAGRAPH 1 OF THE TREATY</p>
        <div class="col-sm-12">
          <p>1. In the event that the observing Party uses its own transport aircraft as a means of transport, it shall pay for the goods and services specified in Section I, paragraph 1 of this Decision that the observing Party requests for its transport aircraft during the period of its presence on the territory of the observed Party.</p>
          <p>2. Unless otherwise specified in this Decision, or agreed between the States Parties involved, an observed Party exercising its right to provide an observation aircraft shall be reimbursed by the observing Party for the costs of only the following goods and services related to the observation aircraft: </p>
            <div class="col-sm-12">
              <p>(A) Fuel, oil, hydraulic fluid, oxygen, de-icing fluid and water consumed in the course of the observation mission; and</p>
              <p>(B) Additional services provided by the observed Party pursuant to Article VI, Section I, paragraph 17(D) of the Treaty.</p>
            </div>
          <p>3. The costs for the goods specified in paragraph 2(A) and paragraph 4 of this Section, and consumed during a demonstration flight requested by the observing Party pursuant to Annex F, Section III of the Treaty shall be met by the observing Party unless the demonstration flight results in the cancellation of the flight in accordance with the provisions of Article VIII and Annex F of the Treaty. In this event, the observed Party shall not charge the observing Party for the demonstration flight.</p>
          <p>4. The costs of recording media used in the observation flight and for producing duplicates for the observed Party as well as the costs of the chemicals expended in processing and duplication for the observed Party shall be borne by the observing Party.</p>
          <p>5. If the observing Party exercises its right to process the recording media, it shall pay the costs of transporting them to its processing facility. If the observing Party waives its right to process the recording media, and they are thus processed by the observed Party, the observed Party shall pay for their transportation to its processing facility and to the Point of Exit used by the observing Party.</p>
          <p>6. Costs connected with a deviation or curtailment of an observation flight in accordance with Article VIII, Section II, paragraphs 5(A), 5(B), or 5(C) of the Treaty shall be met by the observed Party. All other costs as specified in paragraph 2(A) of this Section, connected with a deviation from the flight plan of the observation flight, shall be paid by the observing Party.</p>
          <p>7. The observed Party shall cover the costs connected with the travel, if applicable, of flight representatives from the nearest Point of Entry to the Open Skies airfield where the observation flight begins and from the Open Skies airfield where the observation flight ends to the nearest Point of Exit, unless the transport aircraft of the observing Party is used for that purpose.</p>
        </div>
      <p>SECTION III.  REIMBURSEMENT OF COSTS FOR USE OF OBSERVATION AIRCRAFT DESIGNATED BY A THIRD STATE PARTY</p>
        <div class="col-sm-12">
          <p>Reimbursement for the use by an observing Party of an observation aircraft designated by a third State Party shall be fair and reasonable and be established in accordance with the arrangements of the States Parties concerned.</p>
        </div>
      <p>SECTION IV. COSTS ARISING FROM CERTIFICATION OF OBSERVATION AIRCRAFT AND SENSORS AND ADDITIONAL FLIGHTS</p>
        <div class="col-sm-12">
          <p>1. Except for the provisions of Section V, paragraph 2 of this Decision, the costs arising from the certification of an observation aircraft and sensors pursuant to the provisions of Annex D of the Treaty, including the costs of one valid in-flight examination, shall be met by the State Party or Group of States Parties designating the observation aircraft.</p>
          <p>2. If additional flights are agreed among the States Parties involved, the costs shall be met by those States Parties requesting such flights. These additional flights shall not interfere with the certification process and shall be without prejudice to the provisions of Annex D of the Treaty.</p>
        </div>
      <p>SECTION V. GENERAL RULES</p>
        <div class="col-sm-12">
          <p>1. Travel expenses of flight crew and flight representatives of the observing Party to the Point of Entry and from the Point of Exit shall be borne by the observing Party with the exception of travel expenses specified in Section II, paragraph 7 of this Decision.</p>
          <p>2. The arrangements agreed to in the following subparagraphs A and B regarding the payment by the observing Party for meals and accommodation shall not be a precedent for other existing or future arms control agreements.</p>
            <div class="col-sm-12">
              <p>(A) Travel expenses for representatives of the States Parties at the certification process, as well as costs for their meals and accommodation up to the equivalent of EUR 120 per person per day, shall be met by the State Party which they represent.</p>
              <p>(B) Unless otherwise agreed, the observed Party shall not charge more than the equivalent of EUR 120 per person per day for meals and accommodation provided to the personnel of the observing Party. This figure will be subject to review on the request of a State Party.</p>
            </div>
          <p>3. Costs of additional services provided by the observed Party pursuant to Article VI, Section I, paragraph 17(D) of the Treaty shall be met by the observing Party regardless of which State Party provides the observation aircraft.</p>
          <p>4. Fees shall not be charged either to a transiting State Party or to an observing State Party for the use of navigational aids and for air traffic control services, airport landing, takeoff, ground handling, parking and security for all Open Skies transit, transport, and observation flights.</p>
          <p>5. The observed Party shall cover the costs of its personnel participating in the preparation and conduct of an observation flight over its territory.</p>
          <p>6. Unless otherwise agreed, the observed Party shall charge the observing Party for the goods and services specified in Section I, paragraph 1, and Section II, paragraph 1 and 2 of this Decision, using prices set at the lowest available commercial rate, not including taxes, at Cologne Airport in the Federal Republic of Germany, as of 1 January of the current year and to be reviewed every six months. A price list for such goods and services shall be distributed to all States Parties by the Federal Republic of Germany no later than 31 January and 31 July each year.</p>
          <p>7. Unless otherwise agreed, an observed Party exercising its right to provide an observation aircraft shall charge the observing Party for goods specified in Section II, paragraph 4 of this Decision, a price not exceeding that for such goods at the lowest available commercial rate, not including taxes, existing in Canada, as of 1 January of each year, from any company whose products are used by a certified Canadian observation aircraft, or, if there be no such aircraft, by an observation aircraft certified by the United States. A price list for such goods shall be distributed to all States Parties by Canada no later than 31 January each year.</p>
          <p>8. States Parties shall cover the costs of emergency medical treatment on their territory provided to personnel of other States Parties performing activities in accordance with the provisions of the Treaty.</p>
          <p>9. No later than 30 days after completion of an observation flight the observed Party shall transmit an invoice to the observing Party clearly itemizing the costs incurred during that observation flight in a standard form set forth in the Annex to this Decision. All costs mentioned in this Section shall be charged in EUR or US dollars. For the purposes of this Section the personnel of a third State Party participating in the conduct of an observation flight shall be considered as personnel of the observing Party.</p>
          <p>10. Unless otherwise agreed, at the end of each calendar year the States Parties will exchange requests for payment in EUR or US dollars. Following this exchange, the total costs of goods and services provided by the States Parties shall be compared by the States Parties to determine if actual reimbursement is required. Following this review, any State Party that is in debt to any other State Party shall pay its debt in EUR or US dollars to that State Party no later than 1 March of the following year, unless the debt is still under discussion. This rule shall also apply to observing Parties using an observation aircraft of a third State Party.</p>
          <p>11. The costs of arranging and conducting transit flights, and the flights to the Point of Entry and from the Point of Exit of the observed Party shall be distributed between the States Parties of the Treaty in accordance with the mechanism set forth in the OSCC Decision No. 2/05 of 31 January 2005.</p>
          <p>12. When a representative of a transited State Party is invited as an observer pursuant to Decision No. 22/02 of 16 December 2002, travel expenses for the observer to the Point of Entry and from the Point of Exit of the observed State Party shall be borne by the transited State, unless otherwise agreed. For the purposes of other costs the observer will be considered part of the observing Party.</p>
          <p>13. In the event that the observing Party requests the observed Party to change the time of arrival at the Point of Entry of the observed Party, and if the observed Party agrees to such a delay, and the observing Party does not arrive at the newly established time, it shall reimburse the observed Party for the following additional costs:</p>
            <div class="col-sm-12">
              <p>(A) Room reservations for the personnel of the observing Party: for two days, not exceeding 50 percent of the amount indicated in subparagraph 2(B) of this Section per person per day;</p>
              <p>(B) Accommodation costs for up to 10 members of personnel of the observed Party, designated to support the observation flight of the observing Party: for two days, not exceeding 50 percent of the amount indicated in subparagraph 2(B) of this Section per person per day.</p>
            </div>
          <p>14. Not later than 30 days after the scheduled time of arrival of the mission, the observed Party shall send to the observing Party an invoice with clear indication of costs incurred by the observing and the observed Parties in convertible currency.</p>
        </div>
      <p>SECTION VI. COSTS ARISING FROM DATA SHARING</p>
        <div class="col-sm-12">
          <p>1. Duplicates of sensor output collected during an observation flight shall be provided by the observing Party at a fair and reasonable price, which will be determined on a bilateral basis or by multilateral agreement. (See also the Statement by the Delegation of Germany at the OSCC of July 22, 2002.)</p>
        </div>
      <p>SECTION VII. CONSOLIDATION OF PREVIOUS COST-RELATED PROVISIONS</p>
        <div class="col-sm-12">
          <p>1. This Decision supersedes the following OSCC Documents:</p>
            <div class="col-sm-12">
              <p>- OSCC Decision Number One, Revision of 10 December 1992 with Annex thereto of 15 March 1999;</p>
              <p>- Revision One of Decision Number One to the Treaty on Open Skies, OSCC.DEC/7/02 of 18 March 2002;</p>
              <p>- Revision Two of Decision Number One to the Treaty on Open Skies, OSCC.DEC/11/02 of 10 June 2002;</p>
              <p>- Supplement One to Decision Number One to the Treaty on Open Skies, OSCC.DEC/11/03 of 16 June 2003;</p>
              <p>- Revision Three of Decision Number One to the Treaty on Open Skies, OSCC.DEC/17/03 of 29 September 2003;</p>
              <p>- Procedures for counting quotas and the allocation of costs in cases where the observation aircraft is provided by the observing State Party and the observation flight does not commence, OSCC.DEC/2/06 of 25 September 2006;</p>
              <p>- Procedures for transit necessary during a segment of an Open Skies observation flight, Paragraph 8, of OSCC.DEC/22/02 of 16 December 2002 on Procedures;</p>
              <p>- and Annex 4, of the OSCC Chairman's Statement of 22 July 2002.</p>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>This Decision shall enter into force on the date of its adoption, and shall have the same duration as the Treaty.</p>
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 17 September 2007, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
<!-- DECISION 6/07Corr1 -->
<div id="decision_6_7_corr"></div>
<div class="row">
  <div class="col-sm-2">
      <p align="left"><a name="6/07Corr1" href="#to6/07Corr1">Back to Decisions List</a>
      <br/><a href="Dec6-07/AnnexCorr.pdf" target="_blank">Annex</strong></a></p>
    </div>
    <div class="col-sm-4 col-sm-offset-6">
      <p align="right">OSCC.DEC/6/07/Corr.*1
      <br>17 September 2007
      <br>OSCC+
      <br>Original: ENGLISH
      <br/>* Includes an additional reference number in Section VII</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>1st Meeting of the 44th Session</strong> <br>OSCC(44) Journal No. 135, Agenda item 5</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 6/07 <br>REVISION FOUR OF DECISION NUMBER ONE <br>TO THE TREATY ON OPEN SKIES <br>Distribution of costs arising under the Treaty on Open Skies</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The Open Skies Consultative Commission agrees to revise OSCC Decision Number One on the Distribution of Costs Arising Under the Treaty on Open Skies, taking into consideration the practical experience of implementation of the Treaty on Open Skies, as well as recognizing the utility of consolidating all agreed cost-related provisions of previous OSCC documents. Thus, the Open Skies Consultative Commission has decided:</p>
      <p>The following provisions shall govern the distribution of costs arising under the Treaty on Open Skies, hereinafter referred to as the Treaty:</p>
      <p>SECTION I. DISTRIBUTION OF COSTS OF OBSERVATION FLIGHTS CONDUCTED ON AN OBSERVATION AIRCRAFT OF THE OBSERVING PARTY OR ON AN OBSERVATION AIRCRAFT DESIGNATED BY A THIRD PARTY</p>
        <div class="col-sm-12">
          <p>1. Unless otherwise specified in this Decision, or agreed between the States Parties involved, an observing Party using its own observation aircraft or an observation aircraft designated by a third Party shall reimburse the observed Party for the costs of only the following goods and services related to the observation aircraft:</p>
            <div class="col-sm-12">
              <p>(A) Fuel, oil, hydraulic fluid, oxygen, de-icing fluid and water requested in the course of the observation mission;</p>
              <p>(B) Ground technical and commercial servicing requested by the flight crew of the observing Party; and</p>
              <p>(C) Additional services provided by the observed Party pursuant to Article VI, Section I, paragraph 17(D) of the Treaty.</p>
            </div>
          <p>2. The costs for the goods specified in paragraph 1(A) of this Section and Section II, paragraph 4 of this Decision, and consumed during a demonstration flight requested by the observed Party pursuant to Annex F, Section III of the Treaty shall be met by the observed Party unless the demonstration flight results in the cancellation of the observation flight in accordance with the provisions of Article VIII and Annex F of the Treaty. In this case the observing Party shall meet such costs of the demonstration flight.</p>
          <p>3. In the event that the observing Party takes the original recording media on its own observation aircraft or transport aircraft to its processing location, it shall upon request of the observed Party, and provided the availability of seats, transport free of charge personnel of the observed Party verifying the recording media processing to its processing location. In such case the observing Party assumes no liability for transporting such passengers.</p>
          <p>4 Costs resulting from a deviation or curtailment of an observation flight in accordance with Article VIII, Section II, paragraph 5(C) of the Treaty, shall be met by the observed Party. All other costs connected with a deviation from the flight plan of the observation flight, as specified in Section I, paragraph 1(A) of this Decision, shall be paid by the observing Party.</p>
          <p>5. The costs of recording media, transportation of the media to the processing location, chemicals expended in processing, and duplication for the observed Party shall be borne by the observing Party.</p>
          <p>6. The scheduled observation flight is not counted against the quotas of either State Party in cases where the observation aircraft of the observing Party arrived in the territory of the observed Party, but the observation flight did not commence due to technical problems related to the observation aircraft or its sensors, the need to render emergency medical assistance to a member of the flight crew, or to a member of the mission of the observing Party, indispensable for the conduct of the observation flight.</p>
          <p>The observing Party, in accordance with the mechanism set forth in this Decision, shall reimburse the observed Party for:</p>
            <div class="col-sm-12">
              <p>(A) Costs related to materials and services as well as costs related to meals and accommodation of the personnel of the observing Party in accordance with this Decision;</p>
              <p>(B) Costs of the observed Party related to meals and accommodation of the personnel of the observed Party, not to exceed six in number, and in exceptional cases, upon agreement between the Parties involved, up to 10 persons, starting from the time of the first landing on the territory of the observed Party until take-off from the Point of Exit of the observed Party. The observed Party will provide a list of escort personnel upon the arrival of the mission of the observing Party.</p>
            </div>
          <p>7. In cases where the observation flight has not been conducted for the reasons set forth in paragraph 6 of this Section, the observing Party shall notify all other States Parties to the Treaty.</p>
          <p>8. In cases where the observing Party(s) does not reuse this unused quota in the course of a calendar year, the costs specified in paragraph 6(B) of this Section, regardless of the number of personnel from the observed Party, shall not be reimbursed. This provision shall apply once for the same unused quota.</p>
          <p>9. In case of shared flights, the costs specified in paragraph 6(B) of this Section shall be reimbursed by the Party or Parties that make use of the unused quota.</p>
        </div>
      <p>SECTION II. DISTRIBUTION OF COSTS OF OBSERVATION FLIGHTS CONDUCTED ON OBSERVATION AIRCRAFT PROVIDED BY THE OBSERVED PARTY PURSUANT TO ARTICLE VI, SECTION I, PARAGRAPH 1 OF THE TREATY</p>
        <div class="col-sm-12">
          <p>1. In the event that the observing Party uses its own transport aircraft as a means of transport, it shall pay for the goods and services specified in Section I, paragraph 1 of this Decision that the observing Party requests for its transport aircraft during the period of its presence on the territory of the observed Party.</p>
          <p>2. Unless otherwise specified in this Decision, or agreed between the States Parties involved, an observed Party exercising its right to provide an observation aircraft shall be reimbursed by the observing Party for the costs of only the following goods and services related to the observation aircraft: </p>
            <div class="col-sm-12">
              <p>(A) Fuel, oil, hydraulic fluid, oxygen, de-icing fluid and water consumed in the course of the observation mission; and</p>
              <p>(B) Additional services provided by the observed Party pursuant to Article VI, Section I, paragraph 17(D) of the Treaty.</p>
            </div>
          <p>3. The costs for the goods specified in paragraph 2(A) and paragraph 4 of this Section, and consumed during a demonstration flight requested by the observing Party pursuant to Annex F, Section III of the Treaty shall be met by the observing Party unless the demonstration flight results in the cancellation of the flight in accordance with the provisions of Article VIII and Annex F of the Treaty. In this event, the observed Party shall not charge the observing Party for the demonstration flight.</p>
          <p>4. The costs of recording media used in the observation flight and for producing duplicates for the observed Party as well as the costs of the chemicals expended in processing and duplication for the observed Party shall be borne by the observing Party.</p>
          <p>5. If the observing Party exercises its right to process the recording media, it shall pay the costs of transporting them to its processing facility. If the observing Party waives its right to process the recording media, and they are thus processed by the observed Party, the observed Party shall pay for their transportation to its processing facility and to the Point of Exit used by the observing Party.</p>
          <p>6. Costs connected with a deviation or curtailment of an observation flight in accordance with Article VIII, Section II, paragraphs 5(A), 5(B), or 5(C) of the Treaty shall be met by the observed Party. All other costs as specified in paragraph 2(A) of this Section, connected with a deviation from the flight plan of the observation flight, shall be paid by the observing Party.</p>
          <p>7. The observed Party shall cover the costs connected with the travel, if applicable, of flight representatives from the nearest Point of Entry to the Open Skies airfield where the observation flight begins and from the Open Skies airfield where the observation flight ends to the nearest Point of Exit, unless the transport aircraft of the observing Party is used for that purpose.</p>
        </div>
      <p>SECTION III. REIMBURSEMENT OF COSTS FOR USE OF OBSERVATION AIRCRAFT DESIGNATED BY A THIRD STATE PARTY</p>
        <div class="col-sm-12">
          <p>Reimbursement for the use by an observing Party of an observation aircraft designated by a third State Party shall be fair and reasonable and be established in accordance with the arrangements of the States Parties concerned.</p>
        </div>
      <p>SECTION IV. COSTS ARISING FROM CERTIFICATION OF OBSERVATION AIRCRAFT AND SENSORS AND ADDITIONAL FLIGHTS</p>
        <div class="col-sm-12">
          <p>1. Except for the provisions of Section V, paragraph 2 of this Decision, the costs arising from the certification of an observation aircraft and sensors pursuant to the provisions of Annex D of the Treaty, including the costs of one valid in-flight examination, shall be met by the State Party or Group of States Parties designating the observation aircraft.</p>
          <p>2. If additional flights are agreed among the States Parties involved, the costs shall be met by those States Parties requesting such flights. These additional flights shall not interfere with the certification process and shall be without prejudice to the provisions of Annex D of the Treaty.</p>
        </div>
      <p>SECTION V. GENERAL RULES</p>
        <div class="col-sm-12">
          <p>1. Travel expenses of flight crew and flight representatives of the observing Party to the Point of Entry and from the Point of Exit shall be borne by the observing Party with the exception of travel expenses specified in Section II, paragraph 7 of this Decision.</p>
          <p>2. The arrangements agreed to in the following subparagraphs A and B regarding the payment by the observing Party for meals and accommodation shall not be a precedent for other existing or future arms control agreements.</p>
            <div class="col-sm-12">
              <p>(A) Travel expenses for representatives of the States Parties at the certification process, as well as costs for their meals and accommodation up to the equivalent of EUR 120 per person per day, shall be met by the State Party which they represent.</p>
              <p>(B) Unless otherwise agreed, the observed Party shall not charge more than the equivalent of EUR&nbsp;120 per person per day for meals and accommodation provided to the personnel of the observing Party. This figure will be subject to review on the request of a State Party.</p>
            </div>
          <p>3. Costs of additional services provided by the observed Party pursuant to Article&nbsp;VI, Section&nbsp;I, paragraph&nbsp;17(D) of the Treaty shall be met by the observing Party regardless of which State Party provides the observation aircraft.</p>
          <p>4. Fees shall not be charged either to a transiting State Party or to an observing State Party for the use of navigational aids and for air traffic control services, airport landing, takeoff, ground handling, parking and security for all Open&nbsp;Skies transit, transport, and observation flights.</p>
          <p>5. The observed Party shall cover the costs of its personnel participating in the preparation and conduct of an observation flight over its territory.</p>
          <p>6. Unless otherwise agreed, the observed Party shall charge the observing Party for the goods and services specified in Section I, paragraph 1, and Section II, paragraph&nbsp;1 and 2 of this Decision, using prices set at the lowest available commercial rate, not including taxes, at Cologne Airport in the Federal Republic of Germany, as of 1 January of the current year and to be reviewed every six months. A price list for such goods and services shall be distributed to all States Parties by the Federal Republic of Germany no later than 31 January and 31 July each year.</p>
          <p>7. Unless otherwise agreed, an observed Party exercising its right to provide an observation aircraft shall charge the observing Party for goods specified in Section II, paragraph 4 of this Decision, a price not exceeding that for such goods at the lowest available commercial rate, not including taxes, existing in Canada, as of 1 January of each year, from any company whose products are used by a certified Canadian observation aircraft, or, if there be no such aircraft, by an observation aircraft certified by the United States. A price list for such goods shall be distributed to all States Parties by Canada no later than 31 January each year.</p>
          <p>8. States Parties shall cover the costs of emergency medical treatment on their territory provided to personnel of other States Parties performing activities in accordance with the provisions of the Treaty.</p>
          <p>9. No later than 30 days after completion of an observation flight the observed Party shall transmit an invoice to the observing Party clearly itemizing the costs incurred during that observation flight in a standard form set forth in the Annex to this Decision. All costs mentioned in this Section shall be charged in EUR or US dollars. For the purposes of this Section the personnel of a third State Party participating in the conduct of an observation flight shall be considered as personnel of the observing Party.</p>
          <p>10. Unless otherwise agreed, at the end of each calendar year the States Parties will exchange requests for payment in EUR or US dollars. Following this exchange, the total costs of goods and services provided by the States Parties shall be compared by the States Parties to determine if actual reimbursement is required. Following this review, any State Party that is in debt to any other State Party shall pay its debt in EUR or US dollars to that State Party no later than 1 March of the following year, unless the debt is still under discussion. This rule shall also apply to observing Parties using an observation aircraft of a third State Party.</p>
          <p>11. The costs of arranging and conducting transit flights, and the flights to the Point of Entry and from the Point of Exit of the observed Party shall be distributed between the States Parties of the Treaty in accordance with the mechanism set forth in the OSCC Decision No. 2/05 of 31 January 2005.</p>
          <p>12. When a representative of a transited State Party is invited as an observer pursuant to Decision No. 22/02 of 16 December 2002, travel expenses for the observer to the Point of Entry and from the Point of Exit of the observed State Party shall be borne by the transited State, unless otherwise agreed. For the purposes of other costs the observer will be considered part of the observing Party.</p>
          <p>13. In the event that the observing Party requests the observed Party to change the time of arrival at the Point of Entry of the observed Party, and if the observed Party agrees to such a delay, and the observing Party does not arrive at the newly established time, it shall reimburse the observed Party for the following additional costs:</p>
            <div class="col-sm-12">
              <p>(A) Room reservations for the personnel of the observing Party: for two days, not exceeding 50 percent of the amount indicated in subparagraph 2(B) of this Section per person per day;</p>
              <p>(B) Accommodation costs for up to 10 members of personnel of the observed Party, designated to support the observation flight of the observing Party: for two days, not exceeding 50 percent of the amount indicated in subparagraph 2(B) of this Section per person per day.</p>
            </div>
          <p>14. Not later than 30 days after the scheduled time of arrival of the mission, the observed Party shall send to the observing Party an invoice with clear indication of costs incurred by the observing and the observed Parties in convertible currency. </p>
        </div>
      <p>SECTION VI. COSTS ARISING FROM DATA SHARING</p>
        <div class="col-sm-12">
          <p>1. Duplicates of sensor output collected during an observation flight shall be provided by the observing Party at a fair and reasonable price, which will be determined on a bilateral basis or by multilateral agreement. (See also the Statement by the Delegation of Germany at the OSCC of 22 July 2002.)</p>
        </div>
      <p>SECTION VII. CONSOLIDATION OF PREVIOUS COST-RELATED PROVISIONS</p>
        <div class="col-sm-12">
          <p>1. This Decision supersedes the following OSCC Documents:</p>
            <div class="col-sm-12">
              <p>- OSCC Decision Number One, Revision of 10 December 1992 with Annex thereto of 15 March 1999;</p>
              <p>- Revision One of Decision Number One to the Treaty on Open Skies, OSCC.DEC/7/02 of 18 March 2002;</p>
              <p>- Revision Two of Decision Number One to the Treaty on Open Skies, OSCC.DEC/11/02 of 10 June 2002;</p>
              <p>- Supplement One to Decision Number One to the Treaty on Open Skies, OSCC.DEC/11/03 of 16 June 2003;</p>
              <p>- Revision Three of Decision Number One to the Treaty on Open Skies, OSCC.DEC/17/03 of 29 September 2003;</p>
              <p>- Procedures for counting quotas and the allocation of costs in cases where the observation aircraft is provided by the observing State Party and the observation flight does not commence, OSCC.DEC/2/06 of 25 September 2006;</p>
              <p>- Procedures for transit necessary during a segment of an Open Skies observation flight, Paragraph 8, of OSCC.DEC/22/02 of 16 December 2002 on Procedures;</p>
              <p>- and Annex 4, the OSCC Chairman's Statement of 22 July 2002 (OSCC.XXVIII.JOUR/81/Corr.1)</p>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>This Decision shall enter into force on the date of its adoption, and shall have the same duration as the Treaty.</p>
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 17 September 2007, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
