<!-- DECISION 3/07 -->
<div id="decision_3_7"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#to3/07">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/3/07
      <br>21 May 2007
      <br>OSCC+
      <br>Original: ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>2nd Meeting of the 43rd Session</strong> <br>OSCC(43) Journal No. 132, Agenda item 3</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 3/07 <br>REVISION TWO OF DECISION No. 3/06 <br>TO THE TREATY ON OPEN SKIES <br>Distribution of active quotas for observation flights in the year 2007</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p> In accordance with Article III, Section I, paragraphs 5, 7 and 10; Annex A, Section II, paragraph 2; and Annex L, Section II, of the Treaty on Open Skies and OSCC Decision No. 12/04, the Open Skies Consultative Commission has decided on the following distribution of active quotas for observation flights for the year 2007:</p>
      <p>- <b>The Federal Republic of Germany</b> shall have the right to conduct:</p>
        <div class="col-sm-12">
          <p>- Five (5) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one (1) shared with the French Republic, one (1) shared with the United States of America, one (1) shared with the Republic of Latvia, one (1) shared with the Hellenic Republic and the Italian Republic, and one (1) shared with the Republic of Turkey,</p>
          <p>- One (1) observation flight over the territory of Ukraine, shared with the French Republic,</p>
          <p>- One (1) observation flight over the territory of Georgia, shared with the French Republic and the Republic of Turkey,</p>
          <p>- One (1) observation flight over the territory of Bosnia and Herzegovina, shared with the Italian Republic, and</p>
          <p>- One (1) observation flight over the territory of the Republic of Croatia, shared with the Republic of Bulgaria;</p>
        </div>
      <p>- <b>The United States of America</b> shall have the right to conduct:</p>
        <div class="col-sm-12">
          <p>- Eleven (11) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one (1) shared with the Republic of Bulgaria, one (1) shared with the French Republic, one (1) shared with the Federal Republic of Germany, one (1) shared with Kingdom of Norway, one (1) shared with the Republic of Lithuania, and one (1) shared with Italy,</p>
          <p>- One (1) observation flight over the territory of Ukraine, shared with Canada;</p>
        </div>
      <p>- <b>The Republic of Belarus and the Russian Federation group of States Parties</b> shall have the right to conduct:</p>
        <div class="col-sm-12">
          <p>- Three (3) observation flights over the territory of the Federal Republic of Germany,</p>
          <p>- One (1) observation flight over the territory of the Benelux group of States Parties,</p>
          <p>- Four (4) observation flights over the territory of the United States of America,</p>
          <p>- One (1) observation flight over the territory of Canada,</p>
          <p>- One (1) observation flight over the territory of the Republic of Bulgaria,</p>
          <p>- One (1) observation flight over the territory of the Republic of Croatia, shared with the Italian Republic,</p>
          <p>- One (1) observation flight over the territory of the Kingdom of Denmark,</p>
          <p>- One (1) observation flight over the territory of the Kingdom of Spain,</p>
          <p>- One (1) observation flight over the territory of the Republic of Estonia,</p>
          <p>- One (1) observation flight over the territory of the Republic of Finland,</p>
          <p>- Three (3) observation flights over the territory of the French Republic,</p>
          <p>- One (1) observation flight over the territory of Georgia, shared with the United Kingdom of Great Britain and Northern Ireland,</p>
          <p>- Three (3) observation flights over the territory of the United Kingdom of Great Britain and Northern Ireland,</p>
          <p>- Two (2) observation flights over the territory of the Hellenic Republic,</p>
          <p>- Two (2) observation flights over the territory of the Republic of Hungary,</p>
          <p>- Two (2) observation flights over the territory of the Italian Republic,</p>
          <p>- One (1) observation flight over the territory of the Republic of Latvia,</p>
          <p>- One (1) observation flight over the territory of the Republic of Lithuania,</p>
          <p>- One (1) observation flight over the territory of the Kingdom of Norway,</p>
          <p>- Two (2) observation flights over the territory of the Republic of Poland,</p>
          <p>- One (1) observation flight over the territory of the Portuguese Republic,</p>
          <p>- One (1) observation flight over the territory of Romania, shared with the Kingdom of Sweden,</p>
          <p>- One (1) observation flight over the territory of the Slovak Republic,</p>
          <p>- One (1) observation flight over the territory of the Republic of Slovenia,</p>
          <p>- Two (2) observation flights over the territory of the Kingdom of Sweden, of which one (1) shared with the French Republic,</p>
          <p>- One (1) observation flight over the territory of the Czech Republic, and</p>
          <p>- Two (2) observation flights over the territory of the Republic of Turkey;</p>
        </div>
      <p>- <b>The Kingdom of Belgium, the Grand Duchy of Luxembourg and the Kingdom of the Netherlands, referred to as the Benelux group of States Parties</b>, shall have the right to conduct:</p>
        <div class="col-sm-12">
          <p>- One (1) observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties,</p>
          <p>- One (1) observation flight over the territory of Bosnia and Herzegovina, and</p>
          <p>- One (1) observation flight over the territory of Georgia, shared with the Hellenic Republic and the Kingdom of Spain;</p>
        </div>
      <p>- <b>The Republic of Bulgaria</b> shall have the right to conduct:</p>
        <div class="col-sm-12">
          <p>- One (1) observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties, shared with the United States of America,</p>
          <p>- One (1) observation flight over the territory of Bosnia and Herzegovina, shared with the Kingdom of Spain,</p>
          <p>- One (1) observation flight over the territory of the Republic of Croatia, shared with the Federal Republic of Germany, and</p>
          <p>- One (1) observation flight over the territory of Ukraine;</p>
        </div>
      <p>- <b>Canada</b> shall have the right to conduct:</p>
        <div class="col-sm-12">
          <p>- Two (2) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one (1) shared with the Kingdom of Norway,</p>
          <p>- One (1) observation flight over the territory of the Republic of Croatia, shared with the Republic of Hungary,</p>
          <p>- One (1) observation flight over the territory of Ukraine, shared with the United States of America, and</p>
          <p>- One (1) observation flight over the territory of Georgia, shared with the Republic of Hungary and the Italian Republic;</p>
        </div>
      <p>- <b>The Kingdom of Spain</b> shall have the right to conduct:</p>
        <div class="col-sm-12">
          <p>- One (1) observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties, shared with the Czech Republic and the Portuguese Republic,</p>
          <p>- One (1) observation flight over the territory of Georgia, shared with the Benelux group of States Parties and the Hellenic Republic,</p>
          <p>- One (1) observation flight over the territory of Ukraine, shared with the Czech Republic, and</p>
          <p>- One (1) observation flight over the territory of Bosnia and Herzegovina, shared with the Republic of Bulgaria;</p>
        </div>
      <p>- <b>The Republic of Estonia</b> shall have the right to conduct:</p>
        <div class="col-sm-12">
          <p>- One (1) observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties, shared with the Republic of Finland;</p>
        </div>
      <p>- <b>The Republic of Finland</b> shall have the right to conduct:</p>
        <div class="col-sm-12">
          <p>- Two (2) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one (1) shared with the Republic of Estonia;</p>
        </div>
      <p>- <b>The French Republic</b> shall have the right to conduct:</p>
        <div class="col-sm-12">
          <p>- Four (4) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one (1) shared with the Federal Republic of Germany and one (1) shared with the United States of America,</p>
          <p>- One (1) observation flight over the territory of Ukraine, shared with the Federal Republic of Germany,</p>
          <p>- One (1) observation flight over the territory of the Republic of Croatia, shared with the Kingdom of Sweden,</p>
          <p>- One (1) observation flight over the territory of Georgia, shared with the Federal Republic of Germany and the Republic of Turkey,</p>
          <p>- One (1) observation flight over the territory of the Republic of Finland, and</p>
          <p>- One (1) observation flight over the territory of the Kingdom of Sweden, shared with the Republic of Belarus and the Russian Federation group of States Parties;</p>
        </div>
      <p>- <b>Georgia</b> shall have the right to conduct:</p>
        <div class="col-sm-12">
          <p>- One (1) observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties, shared with the Kingdom of Norway;</p>
        </div>
      <p>- <b>The United Kingdom of Great Britain and Northern Ireland</b> shall have the right to conduct:</p>
        <div class="col-sm-12">
          <p>- Three (3) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one (1) shared with the Republic of Slovenia, and one (1) shared with the Republic of Poland,</p>
          <p>- One (1) observation flight over the territory of Georgia, shared with the Republic of Belarus and the Russian Federation group of States Parties, and</p>
          <p>- One (1) observation flight over the territory of Ukraine;</p>
        </div>
      <p>- <b>The Hellenic Republic</b> shall have the right to conduct:</p>
        <div class="col-sm-12">
          <p>- One (1) observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties, shared with the Federal Republic of Germany and the Italian Republic, and</p>
          <p>- One (1) observation flight over the territory of Georgia, shared with the Benelux group of States Parties and the Kingdom of Spain;</p>
        </div>
      <p>- <b>The Republic of Hungary</b> shall have the right to conduct:</p>
        <div class="col-sm-12">
          <p>- One (1) observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties,</p>
          <p>- One (1) observation flight over the territory of the Republic of Croatia, shared with Canada,</p>
          <p>- One (1) observation flight over the territory of Ukraine, and</p>
          <p>- One (1) observation flight over the territory of Georgia, shared with Canada and the Italian Republic;</p>
        </div>
      <p>- <b>The Italian Republic</b> shall have the right to conduct:</p>
        <div class="col-sm-12">
          <p>- Three (3) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one (1) shared with the Federal Republic of Germany and the Hellenic Republic, one (1) shared with the Republic of Turkey, and one (1) with the United States of America,</p>
          <p>- One (1) observation flight over the territory of the Republic of Croatia, shared with the Republic of Belarus and the Russian Federation group of States Parties,</p>
          <p>- One (1) observation flight over the territory of Ukraine, shared with the Republic of Turkey,</p>
          <p>- One (1) observation flight over the territory of Bosnia and Herzegovina, shared with the Federal Republic of Germany, and</p>
          <p>- One (1) observation flight over the territory of Georgia, shared with Canada and the Republic of Hungary;</p>
        </div>
      <p>- <b>The Republic of Latvia</b> shall have the right to conduct:</p>
        <div class="col-sm-12">
          <p>- One (1) observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties, shared with the Federal Republic of Germany, and</p>
          <p>- One (1) observation flight over the territory of the Ukraine, shared with the Kingdom of Sweden;</p>
        </div>
      <p>- <b>The Republic of Lithuania</b> shall have the right to conduct:</p>
        <div class="col-sm-12">
          <p>- One (1) observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties, shared with the United States of America;</p>
        </div>
      <p>- <b>The Kingdom of Norway</b> shall have the right to conduct:</p>
        <div class="col-sm-12">
          <p>- Three (3) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one (1) shared with Canada, one (1) shared with Georgia, and one (1) shared with the United States of America;</p>
        </div>
      <p>- <b>The Republic of Poland</b> shall have the right to conduct:</p>
        <div class="col-sm-12">
          <p>- Two (2) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one (1) shared with the United Kingdom of Great Britain and Northern Ireland, and</p>
          <p>- One (1) observation flight over the territory of Ukraine;</p>
        </div>
      <p>- <b>The Portuguese Republic</b> shall have the right to conduct:</p>
        <div class="col-sm-12">
          <p>- One (1) observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties, shared with the Kingdom of Spain and the Czech Republic;</p>
        </div>
      <p>- <b>Romania</b> shall have the right to conduct:</p>
        <div class="col-sm-12">
          <p>- One (1) observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties, and</p>
          <p>- One (1) observation flight over the territory of Ukraine;</p>
        </div>
      <p>- <b>The Slovak Republic</b> shall have the right to conduct:</p>
        <div class="col-sm-12">
          <p>- One (1) observation flight over the territory of Ukraine;</p>
        </div>
      <p>- <b>The Republic of Slovenia</b> shall have the right to conduct:</p>
        <div class="col-sm-12">
          <p>- One (1) observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties, shared with the United Kingdom of Great Britain and Northern Ireland;</p>
        </div>
      <p>- <b>The Kingdom of Sweden</b> shall have the right to conduct:</p>
        <div class="col-sm-12">
          <p>- One (1) observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties,</p>
          <p>- One (1) observation flight over the territory of Ukraine, shared with the Republic of Latvia,</p>
          <p>- One (1) observation flight over the territory of the Republic of Croatia, shared with the French Republic, and</p>
          <p>- One (1) observation flight over the territory of Romania, shared with the Republic of Belarus and the Russian Federation group of States Parties;</p>
        </div>
      <p>- <b>The Czech Republic</b> shall have the right to conduct:</p>
        <div class="col-sm-12">
          <p>- One (1) observation flight over the territory of Ukraine, shared with the Kingdom of Spain, and</p>
          <p>- One (1) observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties, shared with the Kingdom of Spain and the Portuguese Republic;</p>
        </div>
      <p>- <b>The Republic of Turkey</b> shall have the right to conduct:</p>
        <div class="col-sm-12">
          <p>- Four (4) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one (1) shared with the Federal Republic of Germany, and one (1) shared with the Italian Republic,</p>
          <p>- One (1) observation flight over the territory of Bosnia and Herzegovina,</p>
          <p>- One (1) observation flight over the territory of Georgia, shared with the Federal Republic of Germany and the French Republic, and</p>
          <p>- Two (2) observation flights over the territory of Ukraine, of which one (1) shared with the Italian Republic;</p>
        </div>
      <p>- <b>Ukraine</b> shall have the right to conduct:</p>
        <div class="col-sm-12">
          <p>- Two (2) observation flights over the territory of the Republic of Bulgaria,</p>
          <p>- Two (2) observation flights over the territory of the Republic of Hungary,</p>
          <p>- Two (2) observation flights over the territory of the Republic of Poland,</p>
          <p>- Two (2) observation flights over the territory of Romania,</p>
          <p>- Two (2) observation flights over the territory of the Slovak Republic, and</p>
          <p>- Two (2) observation flights over the territory of the Republic of Turkey.</p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p> Decided in Vienna, in the Open Skies Consultative Commission, on 21 May 2007, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
