<!-- DECISION 5/07 -->
<div id="decision_5_7"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a name="5/07" href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/5/07
      <br>17 September 2007
      <br>OSCC++
      <br>Original:ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>1st Meeting of the 44th Session</strong> <br> OSCC(44) Journal No. 135, Agenda item 4 </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 5/07 <br> METHODOLOGY FOR DETERMINING THE MINIMUM <br> HEIGHT ABOVE GROUND LEVEL AT WHICH EACH SENSOR CONFIGURATION WHOSE RESOLUTION DEPENDS UPON HEIGHT ABOVE GROUND LEVEL MAY BE OPERATED DURING <br>AN OBSERVATION FLIGHT</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>SECTION I. DEFINITION OF TERMS</p>
        <div class="col-sm-12">
          <p>The term "flight test" means a flight conducted to collect data in order to establish ground resolution as a function of height above ground level for one or more sensor configurations.</p>
          <p>The term "flight test data" means data collected during flight tests prior to certification in order to establish ground resolution as a function of height above ground level for one or more sensor configurations.</p>
          <p>The term "preliminary flight test data" means that flight test data distributed at least 60 days prior to certification.</p>
          <p>The term "H<sub>min</sub>" means the value of the minimum height above ground level at which each sensor configuration may be operated during observation flights established by this Decision and published in the certification report.</p>
          <p>The term "H<sub>min-expected</sub>" means the H<sub>min</sub> estimate established from the flight test data provided before certification.</p>
          <p>The term "H<sub>min-at-certification</sub>" means the H<sub>min</sub> estimate established from the data gathered in the in-flight examination at the time of certification.</p>
          <p>The term "H<sub>min-demonstration</sub>" means the H<sub>min</sub> estimate established from the data gathered in a demonstration flight.</p>
          <p>The term "H<sub>min-flight</sub>" means the value of the minimum height above ground at which each sensor configuration may be operated in the case of an observation flight following a demonstration flight.</p>
        </div>
      <p>SECTION II. DETERMINATION OF THE MINIMUM HEIGHT ABOVE GROUND AT A CERTIFICATION</p>
        <div class="col-sm-12">
          <p>1. The State Party offering a sensor configuration for certification shall provide flight test data sufficient to establish a value of H<sub>min-expected</sub>.</p>
            <div class="col-sm-12">
              <p>(A) Each sensor Decision shall contain the details of the data required to be collected before certification and at certification.</p>
              <p>(B) A State Party offering a sensor configuration for certification shall establish H<sub>min-expected</sub> from flight test data of that sensor configuration.</p>
              <p>(C) A State Party offering a sensor configuration for certification shall provide its preliminary flight test data to all States Parties at least 60 days prior to certification. In conformance with Annex D, the database distributed shall show resolution as a function of height above ground. Within 30 days of receipt, reviewing States Parties may submit comments to the Certifying State Party by means of an Open Skies Format 35 with "ALL STATES PARTIES" designated on the info-line. Such comments shall pertain to the compliance of the flight test data with the Treaty and Decisions to the Treaty, and shall not pertain to the visual analysis results themselves. These comments may include suggestions/recommendations for needed adjustments or additions to the preliminary flight test data. If a State Party chooses not to provide comments, that State Party shall be deemed to have accepted the preliminary flight test data as being in compliance with the Treaty and the Decisions to the Treaty.</p>
            </div>
          <p>2. If | H<sub>min-expected</sub>- H<sub>min-at-certification</sub>|/H<sub>min-expected</sub> &pound; 0.2, then: H<sub>min</sub>H<sub>min</sub><sub>-expected</sub>.</p>
          <p>3. If | H<sub>min</sub><sub>-expected</sub> - H<sub>min</sub><sub>-at-certification</sub>|/H<sub>min</sub><sub>-expected</sub> &gt; 0.2, then the States Parties taking part in the certification shall either:</p>
            <div class="col-sm-12">
              <p>(A) By consensus, establish: H<sub>min</sub> = H<sub>min</sub><sub>-expected</sub> or H<sub>min</sub> = H<sub>min</sub><sub>- at-certification</sub>;</p>
              <p>(B) If no consensus can be achieved, H<sub>min</sub> = the maximum of (H<sub>min</sub><sub>-expected</sub> or H<sub>min&#8209;at&#8209;certification</sub>).</p>
            </div>
        </div>
      <p>SECTION III. CONFIRMATION OF THE MINIMUM HEIGHT ABOVE GROUND FOLLOWING A DEMONSTRATION FLIGHT</p>
        <div class="col-sm-12">
          <p>1. In the event that the aircraft is provided by the observing Party, and the observed Party requests a demonstration flight:</p>
            <div class="col-sm-12">
              <p>(A) The observed Party shall verify and confirm that the data used to determine H<sub>min-demonstration</sub> were collected, processed, and analyzed in conformance with the requirements of the Treaty on Open Skies, and the Decisions appropriate for the sensor configuration subject to the demonstration flight;</p>
              <p>(B) If a value of H<sub>min-demonstration </sub>has been established and |H<sub>min&#8209; demonstration</sub> &#8209; H<sub>min</sub>|/H<sub>min</sub> &pound; 0.25, then the minimum height above ground for the observation flight will be H<sub>min-flight</sub> = H<sub>min</sub>;</p>
              <p>(C) If no value of H<sub>min-demonstration</sub> has been established or |H<sub>min&#8209;demonstration</sub> &#8209; H<sub>min</sub>|/H<sub>min</sub> &gt; 0.25, then the provisions of the Treaty on Open Skies, Annex F, Section III, paragraph 6 shall apply.</p>
            </div>
          <p>2. In the event that the aircraft is provided by the observed Party, and the observing Party requests a demonstration flight:</p>
            <div class="col-sm-12">
              <p>(A) The observing Party shall verify and confirm that the data used to determine H<sub>min-demonstration</sub> were collected, processed, and analyzed in conformance with the requirements of the Treaty on Open Skies, and the Decisions appropriate for the sensor configuration subject to the demonstration flight;</p>
              <p>(B) If a value of H<sub>min-demonstration</sub> has been established and, |H<sub>min&#8209;demonstration</sub> &#8209; H<sub>min</sub>|/H<sub>min</sub> &pound; 0.25, then the minimum height above ground for the observation flight will be H<sub>min-flight</sub> = H<sub>min</sub>;</p>
              <p>(C) If no value of H<sub>min-demonstration</sub> has been established or |H<sub>min&#8209;demonstration</sub> &#8209; H<sub>min</sub>|/H<sub>min</sub>&gt; 0.25, then the provisions of the Treaty on Open Skies, Annex F, Section III, paragraph 7 shall apply.</p>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>This Decision shall not affect sensor configurations certified before 21 September 2007. This Decision shall enter into force on 21 October 2007 and shall remain in force until 31 December 2011. The States Parties shall, within the OSCC and during the period this Decision is in force, conclude a follow-on agreement on the methodology for establishing H<sub>min</sub> based on the experience of completed certifications and demonstration flights.</p>
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 17 September 2007, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
