<!-- DECISION TWENTY ONE -->
<div id="decision_21"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top"> Back to Decisions List </a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC/IX/Dec.21<br/>23 October 1995 </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION TWENTY-ONE<br/>TO THE TREATY ON OPEN SKIES <br/>ESTABLISHMENT OF AN OPEN SKIES CENTRAL DATA BANK </strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The Open Skies Consultative Commission,</p>
      <p>Taking note that Hungary has already made a broad and significant contribution to a future Open Skies Data Bank through development of the reference library with appropriate software and hardware for the management of all data exchange formats,</p>
      <p>Pursuant to the provisions of paragraphs 2, 3 and 6 of Article X of the Treaty on Open Skies,</p>
        <div class="col-sm-12">
          <p>Has decided as follows:</p>
            <div class="col-sm-12">
              <p>1. States Parties shall regard the existing reference library developed by Hungary in Budapest as the Central Data Bank of the Open Skies regime, hereinafter referred to as the Data Bank.</p>
              <p>2. Each State Party shall transmit to the Data Bank all its notifications in the agreed formats for storage. Notifications which are sent to Hungary as a State Party or a Depositary State need not be transmitted to Budapest twice. On all notifications transmitted pursuant to this Decision there shall be the address "Hungary". Notifications to the Data Bank may be sent through the OSCE Communications Network or through other official channels in one of the six working languages of the OSCC chosen by the transmitting State Party.</p>
              <p>3. Each State Party shall have the right to use the Data Bank. Requests to the Data Bank may be compiled in any form and transmitted through the OSCE Communications Network or through other official channels.</p>
              <p>4. Hungary shall be responsible for the proper storage of the data provided and shall report on a quarterly basis to all states Parties by means of a list of notifications received.</p>
              <p>5. Hungary shall undertake appropriate steps to prevent any unauthorized access to the Data Bank.</p>
              <p>6. The costs of transmitting a request to the Data Bank and the answer to such a request shall be borne by the requesting State Party. All payments shall be in accordance with the existing procedures for the OSCE Communications Network.</p>
              <p>7. The following shall be paid in accordance with the scale of distribution for the common expenses associated with the operation of the OSCC:</p>
                <div class="col-sm-11 col-sm-offset-1">
                  <p>- the transmission of requests to the Data Bank on behalf of the OSCC by the Chairman, when the OSCC so decides, and the transmission of the answers to those requests by Hungary;OSCC/IX/Dec.21</p>
                  <p>- the annual technical maintenance and operational expenses related to the Data Bank on the basis of a detailed bill for these expenses provided annually by Hungary.</p>
                </div>
              <p>8. States Parties will continue in an appropriate form discussions on the potential future development and extension of the Data Bank.</p>
              <p>9. The provisions of this Decision may be reviewed on the basis of practical experience, if so requested by a State Party after 31 December 1996.</p>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>This Decision shall enter into force on the date of its adoption and shall have the same duration as the Treaty on Open Skies.</p>
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 23 October 1995, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr />
