<!-- DECISION THIRTEEN -->
<div id="decision_13"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top"> Back to Decisions List </a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC/V/Dec.13<br/>18 April 1994 </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION THIRTEEN <br/>TO THE TREATY ON OPEN SKIES <br/>METHODOLOGY FOR CALCULATING THE MINIMUM PERMISSIBLE <br/>FLIGHT ALTITUDE WHEN USING OPTICAL AND VIDEO CAMERAS</p></strong>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <P> The Open Skies Consultative Commission, in accordance with Article X, paragraph 5, and pursuant to Article IV, paragraph 2 (A) and Article VI, Section I, paragraphs 14 and 15, and Section II, paragraphs 4, 5 and 6 of the Treaty on Open Skies, has decided as follows:</P>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>SECTION I. DEFINITION OF TERMS</strong></p>
        <div class="col-sm-12">
          <P> The following definitions shall apply to terms used in this Decision:</P>
            <div class="col-sm-12">
              <P>1. The term "altitude" means the vertical distance of a level, point or object considered as a point, measured from mean sea level (MSL).</P>
              <P>2. The term "flight level (FL)" means a surface of constant atmospheric pressure which is related to a specific pressure datum, 1013.2 hectopascals (hPa), and is separated from other such surfaces by specific pressure intervals. The datum 1013.2 hPa has the same value as 1013.2 mb, 29.92 inches Hg and 760 mm Hg.</P>
              <P>3. The term "height" means the vertical distance of a level, a point or an object considered as a point, measured from a specified datum. The datum used in this Decision is the ground level at the nadir point.</P>
              <P>4. The term "elevation" means the vertical distance of a point or level, on or affixed to the surface of the earth, measured from mean sea level.</P>
              <P>5. The term "leg" means a portion of the segment between two co-ordinates, navigation fixes or turning points designated in the mission plan.</P>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>SECTION II. FORMULAE</strong></p>
      <P>1. For conversion from metres to feet the factor 3.281, and from feet to metres the factor 0.305 will be used.</P>
      <P>2. The "minimum permissible altitude" A for the use of sensors for each leg of an observation flight is calculated according to the formula:</P>
      <div class="col-sm-12">
        <P> A = E + H<SUB>min</sub></P>
          <div class="col-sm-12">
            <P>where</P>
              <div class="col-sm-12">
                <p>E is the maximum ground elevation on a given leg;</p>
                <p>H<SUB>min</SUB> is the certified minimum height at which a sensor may be
                operated;</p>
                <p> Note: H<SUB>min</SUB> is normally stated in metres.</p>
              </div>
          </div>
      </div>
      <P>3. If the forecast temperature at altitude over the point of maximum ground elevation E for a given leg of an observation flight deviates from that of ICAO standard atmosphere (ISA), the barometric altitude A is adjusted according to the following formula:</P>
      <div class="col-sm-12">
        <P> A<SUB>t</SUB> = A - ( A x K<SUB>t </SUB>)</P>
          <div class="col-sm-12">
            <P>where</P>
              <div class="col-sm-12">
                <p>A<SUB>t</SUB> is the barometric altitude to be flown to achieve H<SUB>min</SUB>
                after adjustment for the outside forecast temperature;</p>
                <p>K<SUB>t </SUB> is the correction factor corresponding to the ISA deviation:</p>
                <img src="../img/dec_13_img_1.png" class="img-responsive"  />
                <P>dT is the forecast temperature in degrees centigrade minus the ISA temperature in degrees centigrade.</P>
              </div>
          </div>
      </div>
      <P>4. If required, the "minimum permissible flight altitude" A<SUB>f</SUB> for each leg of an observation flight is calculated according to the following formula:</P>
        <div class="col-sm-12">
          <P> A<SUB>f</SUB> = A<SUB>t</SUB> + (Standard pressure setting - local QNH) x Coefficient</P>
          <div class="col-sm-12">
            <P>where</P>
              <div class="col-sm-12">
                <P>A<SUB>f</SUB> is the barometric flight altitude after adjustment for standard atmospheric pressure;</P>
                <P>Standard pressure setting is a specific pressure datum as given in Section I, paragraph 2;</P>
                <P>local QNH is the forecast air pressure on the ground at the point of maximum ground elevation E of a leg of an observation flight extrapolated to sea level and the envisaged overflight time;</P>
                <P>Coefficient is a factor which adjusts the altitude for a given change in atmospheric pressure.</P>
              </div>
            </div>
        </div>
      <P>5. For standard combinations of pressure and altitude units, the formulae to be used are:</P>
        <div class="col-sm-11 col-sm-offset-1">
          <P>For pressures in inches Hg and distances in feet:
            <br/>A<SUB>f</SUB> = A<SUB>t</SUB> + (29.92 - local QNH) x 924.05;</P>
            <P> For pressures in hPa or mb and distances in feet:<br/>
            A<SUB>f</SUB> = A<SUB>t</SUB> + (1013.2 - local QNH) x 27.30;</P>
            <P> For pressures in mm Hg and distances in metres:<br/>
            A<SUB>f</SUB> = A<SUB>t</SUB> + (760 - local QNH) x 11.09.</P>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>SECTION III. CALCULATION OF THE MINIMUM PERMISSIBLE ALTITUDE AND SELECTION OF CRUISING ALTITUDE</strong></p>
      <div class="col-sm-12">
        <P> The minimum permissible altitude for the use of sensors, taking into consideration the ground resolution permitted for optical and video cameras, is calculated as follows:</P>
          <div class="col-sm-12">
            <P>1. The maximum ground elevation E for the calculation of the altitude A<SUB>t</SUB> to be flown is determined along the line of the nadir for each leg of the observation flight. If the observed State Party considers that, as a result of specific terrain features, the maximum sensor resolution permitted by the Treaty will be exceeded, they have the right to propose changes to the mission plan in accordance with Article VI, Section II, paragraph 6.</P>
            <P>2. In principle, the minimum permissible altitude A for the use of sensors is the altitude resulting from the sum of the maximum ground elevation E and the minimum permissible height above ground level H<SUB>min</SUB> for the respective sensor.</P>
            <P>3. Prior to submission of the mission plan, on the basis of the current weather forecast, the altitude calculated in accordance with paragraph 2 shall be adjusted, if necessary, by the correction factor for the deviation of the true temperature from ISA temperature. The formula used in this calculation shall be that given in Section II, paragraph 3.</P>
            <P>4. Should the use of cruising altitudes be prescribed by national air traffic control regulations, the barometric altitude A<SUB>t</SUB> calculated in paragraph 3 shall be converted to a cruising altitude in accordance with the following procedure, unless otherwise agreed: the cruising altitude shall be selected which is nearest to - either above or below - the barometric altitude A<SUB>t</SUB> and which does not result in a deviation from A<SUB>t</SUB> exceeding 500 feet or 150 metres.</P>
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>SECTION IV. CALCULATION OF THE MINIMUM PERMISSIBLE FLIGHT ALTITUDE AND SELECTION OF FLIGHT LEVEL</strong></p>
        <div class="col-sm-12">
          <P> The minimum permissible flight altitude for the use of sensors, taking into consideration the ground resolution permitted for optical and video cameras, is calculated as follows:</P>
          <div class="col-sm-12">
            <P>1. Prior to submission of the mission plan, on the basis of the current weather forecast, the barometric altitude calculated in accordance with Section III, paragraph 3 shall be adjusted by the correction factor for the difference between the specific pressure datum as given in Section I, paragraph 2 and local air pressure on each leg of the route. To make this calculation, the appropriate formula in Section II, paragraph 5 shall be used.</P>
            <P>2. Should the use of flight levels be prescribed by national air traffic control regulations, the barometric altitude A<SUB>f</SUB> calculated in paragraph 1 shall be converted to a flight level in accordance with the following procedure, unless otherwise agreed:</P>
            <P>the flight level shall be selected which is nearest to - either above or below - the barometric altitude A<SUB>f</SUB> and which does not result in a deviation from A<SUB>f</SUB> exceeding the following values:</P>
              <div class="col-sm-12">
                <P> 500 feet below flight level 290;</P>
                <P> 1,000 feet above flight level 290 or;</P>
                <P> 150 metres below 8,100 metres;</P>
                <P> 250 metres above 8,100 metres and below 12,100 metres;</P>
                <P> 500 metres above 12,100 metres.</P>
              </div>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
        <p><strong>SECTION V. DEVIATION IN GROUND RESOLUTION</strong></p>
          <div class="col-sm-12">
            <P> If in the case of an exception, when the application of the rules according to Section III, paragraph 4 or Section IV, paragraph 2 results in the use of a cruising altitude or a flight level, the deviation in ground resolution from the Treaty-specified 30 centimetres shall not exceed plus/minus 5 centimetres.</P>
          </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>SECTION VI. REVIEW CLAUSE</strong></p>
        <div class="col-sm-12">
          <P> The provisions of Section III, paragraphs 1 and 4, and Section IV, paragraph 2 shall be re-examined on the basis of practical experience if so requested by a State Party after 31 December of the year following the year during which the Treaty entered into force.</P>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <P> This Decision shall enter into force simultaneously with the Treaty on Open Skies and shall have the same duration as the Treaty.</P>
      <P> Decided in Vienna, in the Open Skies Consultative Commission, on 18 April 1994, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</P>
    </div>
  </div>

<hr />
