<!-- DECISION TWENTY TWO -->
<div id="decision_22"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top"> Back to Decisions List </a><br/>
        <a href="Treaty Docs/OS_PreFlightInspection.pdf" target="_blank"> Open Skies Pre-Flight Inspection Report</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC/X/Dec.22<br/>18 March 1996 </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION TWENTY-TWO<br/>TO THE TREATY ON OPEN SKIES <br/>PROVISIONS FOR THE USE OF A STANDARD <br/>"PRE-FLIGHT INSPECTION REPORT"</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The Open Skies Consultative Commission, in accordance with Article VI, Section I, paragraph 11, and pursuant to Annex F, Section I, paragraphs 10 and 11, and Section II, paragraph 10, of the Treaty on Open Skies, has decided as follows: </p>
      <p><strong>SECTION I. PROVISIONS</strong></p>
        <div class="col-sm-12">
          <p>1. Upon completion of the pre-flight inspection a "Pre-Flight Inspection Report" shall be prepared, regardless whether the observation aircraft is provided by the observed, the observing, or a third State Party. The "Pre-Flight Inspection Report" shall be in the format attached to this Decision.</p>
          <p>2. Comments shall be given by the State(s) Party(ies) inspecting the observation aircraft only if an item of paragraph 9(A) to 9(D) of the Report is answered with "NO".</p>
          <p>3. In paragraph 10 of the Report "OBSERVING" shall be deleted if the observation aircraft is provided by the observing State(s) Party(ies), "OBSERVED" shall be deleted if the observation aircraft is provided by the observed State(s) Party(ies).</p>
          <p>4. If the result of the statement in paragraph 10 of the Report is "NO" an explanation shall be given in OS Format No. 14 "Mission Report".</p>
          <p>5. The Report shall be signed by the representatives of the observed and observing State(s) Party(ies).</p>
        </div>
      <p><strong>SECTION II. REVIEW CLAUSE</strong></p>
        <div class="col-sm-12">
          <p>The provisions of this Decision shall be re-examined on the basis of practical experience if so requested by a State Party after 31 December of the year during which the Treaty entered into force.</p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>This Decision shall enter into force simultaneously with the Treaty on Open Skies and shall have the same duration as the Treaty.</p>
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 18 March 1996, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic</p>
    </div>
  </div>


<hr />
