<!-- DECISION EIGHTEEN -->
<div id="decision_18"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top"> Back to Decisions List </a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC/VII/Dec.18<br/>12 October 1994 </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION EIGHTEEN<br/>TO THE TREATY ON OPEN SKIES <br/>MANDATORY TIME PERIOD FOR STORING AND SHARING DATA <br/>RECORDED DURING AN OBSERVATION FLIGHT </strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The Open Skies Consultative Commission, pursuant to the provisions of Article IX, Section IV of the Treaty on Open Skies, has decided as follows:</p>
        <div class="col-sm-11 col-sm-offset-1">
          <p>1. The observing Party shall retain the original data collected during an observation flight for two years commencing on the date on which that observing Party transmits the mission report to the other States Parties to the Treaty.</p>
          <p>2. Upon expiration of the two-year period specified in paragraph 1 above, the observing Party may either continue to retain the original data collected during an observation flight or dispose of it in accordance with its own national practice.</p>
          <p>3. The observing Party shall provide copies of the original data from an observation flight in response to requests received before the expiration of the specified two-year period. It shall make every effort to provide the copies, no later than 45 days after receipt of a request, to States Parties which request them, unless otherwise agreed.</p>
          <p>4. Eighteen months after the Treaty enters into force, the Open Skies Consultative Commission shall, during its next regular session, review whether two years is the appropriate minimum period for storing and sharing data.</p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>This Decision shall enter into force simultaneously with the Treaty on Open Skies and shall have the same duration as the Treaty.</p>
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 12 October 1994, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr />
