<!-- DECISION ELEVEN -->
<div id="decision_11"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top"> Back to Decisions List </a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC/III/Dec.11<br/>16 July 1993</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION ELEVEN <br/>TO THE TREATY ON OPEN SKIES <br/>FINANCIAL AND ADMINISTRATIVE QUESTIONS, <br/>RELATING TO POINT VI OF DECISION OSCC/I/DEC.6 <br/>OF 29 JUNE 1992</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <P>The Open Skies Consultative Commission, pursuant to the provisions of Annex L, paragraph 9 of the Treaty on Open Skies, and to the provisions of Section VI of the Decision OSCC/I/Dec.6 of 29 June 1992, has decided as follows: </P>
      <P>1. Paragraphs 1, 2, 3, 4, 5 and 6 of the Decision of the Open Skies Consultative Commission on the scale of distribution for the common expenses associated with the operation of the Open Skies Consultative Commission, adopted on 16 July 1993, will replace the brackets in point VI, paragraph 1 of the Decision OSCC/I/Dec.6 of 29 June 1992, as paragraphs 1.1., 1.2., 1.3., 1.4., 1.5. and 1.6. of this point. </P>
      <P>2. Annexes A and B to the Decision of the Open Skies Consultative Commission on the scale of distribution for the common expenses associated with the operation of the Open Skies Consultative Commission, adopted on 16 July 1993, will be inserted as Annexes III and IV to the Decision OSCC/I/Dec.6 of 29 June 1992. These annexes and paragraphs 1.1. to 1.6. of point VI of the Decision OSCC/I/Dec.6 will be conformed accordingly. </P>
      <P>3. The following provision: </P>
      <P>"The practical arrangements for the payment of financial contributions by States Parties shall be the same as those agreed for other fora using the common services of the Joint Executive Secretariat." will replace the brackets in point VI, paragraph 2 of the Decision OSCC/I/Dec.6 of 29 June 1992. </P>
      <P>4. The following provision: </P>
      <P>"The modalities for the administrative organization of the Commission will be in accordance with arrangements already established in connection with the use of the common services of the Joint Executive Secretariat." will replace the brackets in point VI, paragraph 3 of the Decision OSCC/I/Dec.6 of 29 June 1992. </P>
    </div>
  </div>

<hr />
