<!-- DECISION FIFTEEN -->
<div id="decision_15"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top"> Back to Decisions List </a><br/>
      <a href="#tofifteenAnnex"> Annex </a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p  align="right">  OSCC/VI/Dec.15<br/>12 October 1994 </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION FIFTEEN <br/>TO THE TREATY ON OPEN SKIES <br/>METHODOLOGY FOR CALCULATING THE MINIMUM HEIGHT ABOVE <br/>GROUND LEVEL AT WHICH EACH INFRARED LINE-SCANNING <br/>DEVICE INSTALLED ON AN OBSERVATION AIRCRAFT MAY <br/>BE OPERATED DURING AN OBSERVATION FLIGHT</p></strong>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The Open Skies Consultative Commission, pursuant to the provisions of Appendix I to Annex D, Section III, paragraph 4 of the Treaty on Open Skies, has decided as follows:</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
        <p><strong>SECTION I. DEFINITION OF TERMS</strong></p>
          <div class="col-sm-12">
            <p>The following definitions shall apply to terms used in this Decision:</p>
            <p>The "resolution limit" per the Treaty on Open Skies in Article IV, paragraph 2 (C) for an infrared line-scanning device is defined as 50 cm at a radiant temperature difference of 3.0 degrees Celsius.</p>
            <p>The term "signal recorder" means an analogue or digital data recording device capable of storing data collected by an infrared line-scanning device on magnetic tape without the use of encoding techniques, or on photographic film.</p>
            <p>The term "infrared line-scanning device configuration" means each combination of infrared line-scanning device, filter, window, angle of deviation from vertical, signal recorder, type of photographic film or magnetic tape, and recording type and format which is to be certified. For infrared line-scanning devices with variable effective focal lengths, but with intermediate effective focal length settings, each intermediate setting shall be considered a new configuration. For infrared line-scanning devices with variable angles of deviation from the vertical, but with intermediate fixed settings of the angle of deviation, each intermediate setting shall be considered a new configuration.</p>
            <p>The term "encoding techniques" means the use of special techniques of processing data intended for storage on magnetic media which would permit the extraction from such data of more information than could be extracted without use of such processing. Commercially available error correcting techniques commonly used to record on to and extract digital data from magnetic media and techniques designed to allow the multiplexing of data from multiple sensors or multiple colour bands on to a single recorder are not considered encoding techniques.</p>
            <p>The term "detector element" means the smallest definable element of the detector array in an infrared line-scanning device.</p>
            <p>The term "scene element" means the area on the ground that is projected on to a single detector element.</p>
            <p>The term "image element" means the stored digitized signal representing a single scene element.</p>
            <p>The term "video display" means a monitor used for the analysis of data, including any associated image processing electronics, that is capable of displaying, from data in analogue or digital format, the data collected by an infrared line-scanning device.</p>
            <p> The term "frame store" means a digital memory that is capable of storing at least a complete image of a calibration target where each individual image element is stored at a separate memory cell.</p>
            <p>The term "grey level" means the numerical value of an image element on an eight-bit scale between zero and 255.</p>
            <p>The term "radiant temperature" means, for a given wavelength, the equivalent temperature of a black body radiating the same power per unit area as the given body being measured. A "passive calibration target" is understood to be a calibration target which does not use artificial heating to ensure the given radiant temperature difference between the cold and hot bars. An "active calibration target" is understood to be a calibration target which uses artificial heating to ensure the given radiant temperature difference between the cold and hot bars.</p>
            <p>The term "bar group" refers to a set of adjacent bars of the same width and length but with alternating radiant temperature.</p>
            <p>The term "bar triad" means any combination of three bars within a bar group, two bars of similar radiant temperature separated by one bar of a different radiant temperature.</p>
            <p>The term "phase correction" means a technique to reduce scan line misalignments in the image caused by correctable time base errors in the magnetic tape recorder, correctable motion compensation errors, or other errors which are induced by the infrared linescan device.</p>
            <p>The term "OSCC atmosphere parameters" means the parameters required to define the atmosphere which shall include at least the following measurements: air temperature (&deg;K), pressure (mb), relative humidity (&#37;) and visibility (km) and altitudes (km) at which the above parameters are measured.</p>
            <p>The term "agreed atmospheric model" means a method for calculating the atmospheric transmission s a function of altitude given the OSCC atmosphere parameters for a given wavelength band (for example, the LOWTRAN 7 model is one of the agreed methods).</p>
            <p>The term "OSCC standard atmosphere" means the input to the LOWTRAN 7 Mid-latitude Summer Model, as specified in the Annex to this Decision.</p>
            <p>The term "Hmin" means the minimum height above ground level at which an infrared line-scanning device configuration installed on an observation aircraft may be operated.</p>
          </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>SECTION II. SPECIFICATIONS FOR CALIBRATION TARGETS</strong></p>
        <div class="col-sm-12">
          <p>1. Calibration targets for use in measuring the ground resolution of an infrared line-scanning device configuration installed on an observation aircraft during certification or demonstration flights may be active or passive.</p>
          <p>2. The widths and lengths of bars within a bar group shall remain constant and the length to width ratio shall be no less than 5:1. For certification flights, the calibration target shall include bar groups with bars of widths of 40, 50 and 60 cm that shall be used for analysis. For demonstration flights, the calibration target shall include at least two bar groups of different bar widths selected from 40, 50 and 60 cm.</p>
          <p>3. Each group of bars shall consist of at least five bars alternating in radiant temperature.</p>
          <p>4. Target radiant temperature specifications:</p>
            <div class="col-sm-11 col-sm-offset-1">
              <p>(A) The radiant temperature standard deviation along and/or across any bar shall be no greater than 10 per cent of the radiant temperature difference between the hot and cold bars, or 0.5 degrees Celsius, whichever is greater.</p>
              <p>(B) The radiant temperature difference between any bars of the same nominal radiant temperature within a bar group shall be no greater than 10 per cent of the radiant temperature difference between the hot and cold bars, or 0.5 degrees Celsius, whichever is greater.</p>
              <p>(C) The radiant temperature of the hot bars shall be no greater than 10 degrees Celsius above the cold bars.</p>
              <p>(D) The set of bars with radiant temperatures closer to the background radiant temperature shall be no more than three degrees Celsius above or below the radiant temperature of the background on which the calibration target is deployed.</p>
            </div>
          <p>5. The calibration targets shall be deployed in a horizontal position against a background that has a minimal variation in radiant temperature.</p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>SECTION III. CONDUCT OF A CERTIFICATION OR A DEMONSTRATION FLIGHT</strong></p>
        <div class="col-sm-12">
          <p>1. The H<sub>min</sub> of an infrared line-scanning device shall be determined for each infrared line-scanning device configuration. Any variable controls shall be set to achieve the best ground resolution for the conditions encountered in certification and demonstration flights.</p>
          <p>2. For certification and demonstration flights using three bar groups for analysis, there shall be at least four passes over the calibration target for each selected radiant temperature difference. For demonstration flights using only two bar groups for analysis, there shall be at least three passes over the calibration target for each selected radiant temperature difference. The height above ground of each pass shall be bounded by the following conditions: (A) the first, or lowest height above ground pass, shall be the maximum height above ground at which all the bar groups to be analysed in the array are resolved, and (B) the last, or highest height above ground pass, shall be the minimum height above ground at which none of the bar groups to be analysed are resolved. The intermediate heights above ground shall be evenly spaced between the lowest and highest heights above ground. For demonstration flights, the Party supplying the aircraft may request that the lowest radiant temperature difference of the calibration target be set at not less than 3 degrees Celsius.</p>
          <p>3. The targets shall be aligned to measure the resolution in the in-scan-direction of the infrared line-scanning device with the long axis of the bars of the targets oriented within plus or minus 20 degrees of the perpendicular to the nominal scan direction.</p>
          <p>4. For vertically mounted infrared line-scanning devices, each image of the calibration target used in the analysis shall be collected while the centre of the bar groups is no more than plus or minus 25 per cent of the sensor's field of view away from the centre of the sensor's field of view. For obliquely mounted infrared line-scanning devices, the centre of the bar groups shall be within the third of the image closest to nadir.</p>
          <p>5. 5The OSCC atmosphere parameters shall be measured at least once an hour.</p>
          <p>6. At the time of each pass over the target array, the radiant temperature of each bar group shall be measured using a calibrated instrument or system and recorded for use in the determination of H<sub>min</sub>.</p>
            <div class="col-sm-11 col-sm-offset-1">
              <p>(A) Measurements shall be made above the target using a radiometer which views the target bars within plus or minus 20 degrees of the vertical.</p>
              <p>(B) During a certification flight, measurements of the radiant temperatures of all the bars shall be made for each bar group used, either by a portable radiometer, a mapping radiometer, or an imaging radiometer.</p>
              <p>(C) For each radiant temperature difference used, and for at least one pass, for each individual bar group, the measurements to verify the requirements given in Section II, paragraph 4, sub-paragraphs (A) - (D) of this Decision shall be provided by an imaging radiometer or a mapping radiometer which provides a minimum of 10 single point measurements on each bar measured.</p>
              <p>(D) For demonstration flights, provided that the bar groups to be used have been previously used in a certification, sub-paragraph (C) of this paragraph may be waived.</p>
            </div>
          <p>7. The maximum resolving height above ground, H<sub>i</sub>, the height above ground of the highest pass at which the bar group is resolved, shall be determined for each bar group of width L<sub>i</sub> and radiant temperature difference, &#916;T<sub>i</sub>.</p>
          <p>8. For the time of the pass at the maximum resolving height above ground H<sub>i</sub>, the radiant temperature difference at the aperture of the sensor (&#948;t<sub>i</sub>) shall be calculated for each bar group of width L<sub>i</sub> from the measured radiant temperature difference of the target, &#916;T<sub>i</sub><sub>,</sub>, and the transmission to the height above ground H<sub>i</sub>, <span class=GramE>&#964;(H<sub>i</sub>), as computed by the agreed atmospheric model using the measured OSCC atmosphere parameters by the formula:</p>
            <div class="col-sm-11 col-sm-offset-1">
              <p>&#948;t<sub>i</sub> = &#916;T<sub>i</sub> &#964;(H<sub>i</sub>).</p>
            </div>
          <p>9. For certification flights, the steps in paragraphs 2 through 8 of this section shall be repeated at each selected radiant temperature difference until at least two measurement triads for different width bar groups (H<sub>i</sub>, L<sub>i</sub>, <span class=GramE>&#948;t<sub>i</sub>) are obtained. The steps in paragraphs 2 through 8 of this section shall be repeated for three different selected radiant temperature differences in the interval of 2 to 10 degrees with a separation between radiant temperatures of approximately 3 degrees until at least six measurement triads (H<sub>i</sub>, L<sub>i</sub>, &#948;t<sub>i</sub>) are obtained. For demonstration flights, at least two different selected radiant temperature differences shall be used and at least one measurement triad (H<sub>i</sub>, L<sub>i</sub>, &#948;t<sub>i</sub>) shall be obtained at each selected radiant temperature difference.</p>
          <p>10. For infrared line&#8209;scanning devices equipped with a variable angle of deviation from vertical, the H<sub>min</sub> shall, as a minimum, be determined with the angle of deviation set at the minimum from vertical. When determining H<sub>min</sub> only for the minimum angle from vertical the resulting value of H<sub>min</sub> is accepted as mandatory for all other angles of deviation from vertical settings.</p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <P><strong>SECTION IV. ANALYSIS OF DATA COLLECTED DURING A CERTIFICATION OR DEMONSTRATION FLIGHT</strong></P>
        <div class="col-sm-12">
          <p>1. The ground resolution of an infrared line&#8209;scanning device shall be determined by visual analysis. A bar group is resolved if, for at least one bar triad within the bar group, there is a visual perception of a difference between the grey level on the video display or the density of the photographic film between the middle bar and the outside bars over the entire length of the bar triad.</p>
          <p>2. At least 10 experienced observers, representing the States Parties taking part in the certification, shall examine the images of the calibration target. Unless otherwise agreed, at least 10 experienced observers, representing the States Parties taking part in the demonstration flight, shall examine the images of the calibration target.</p>
          <p>3. The maximum height above ground at which a bar group is resolved is the maximum height above ground for which at least 80 per cent of all observers resolve the bar group.</p>
          <p>4. In the case of data collected on photographic film: (A) Prior to the analysis of data collected during a certification or demonstration flight, the film processing equipment shall be calibrated according to the procedures specified in Annex K, Section II to the Treaty on Open Skies. (B) The height above ground for each set of passes at which each bar group of the calibration target was resolved shall be determined from a visual analysis of the original film.</p>
          <p>5. 5 In the case of data collected on magnetic tape:</p>
            <div class="col-sm-11 col-sm-offset-1">
              <p>(A) Prior to the analysis of data collected during a certification or demonstration flight, the image processing system shall be calibrated in accordance with the procedures specified in Decision Number 16 to the Treaty on Open Skies.</p>
              <p>(B) The ground resolution of an infrared line&#8209;scanning device shall be determined by visual analysis of the digitized images of the calibration target recorded on magnetic tape. Except as required in sub-paragraph (3) of this sub&#8209;paragraph, the analysis shall be performed on the unprocessed digital data.</p>
                <div class="col-sm-11 col-sm-offset-1">
                  <p>(1) The image of the calibration target shall be displayed on a video display, which can display at least 256 shades of grey and which has a screen size of at least 20 centimetres measured diagonally.</p>
                  <p>(2) The brightness, contrast and magnification by pixel replication of the video display may be adjusted at the discretion of the observer.</p>
                  <p>(3) Each image shall be phase corrected, if necessary.</p>
                </div>
            </div>
          <p>6. Each image selected for analysis during certification or demonstration flights together with any supporting data available such as meteorological, target radiant temperature measurements, target information, etc. shall be made available to all other States Parties. As computer assisted methods are developed, the State Party proposing such a method shall provide a written description of the theory, algorithms, and procedures used within the computer&#8209;assisted method, as well as procedures for its calibration to all other States Parties. This description shall meet the requirements set forth in Annex C to Decision Number 16 to the Treaty on Open Skies and shall become an appendix to the aforementioned Annex C. States Parties carrying out certification or demonstration flights may choose to provide the additional information required by such proposed methods.</p>
        </div>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-12">
      <p><strong>SECTION V. PROCEDURE FOR CALCULATING THE MINIMUM HEIGHT ABOVE GROUND LEVEL AT WHICH AN INFRARED LINE&#8209;SCANNING DEVICE MAY BE OPERATED DURING AN OBSERVATION FLIGHT</strong></p>
        <div class="col-sm-12">
          <p>1.The certified minimum height above ground level at which an
          infrared line&#8209;scanning device may be operated
          during an observation flight shall be calculated using the formula:</p>
          <p>where</p>
            <div class="col-sm-11 col-sm-offset-1">
              <p>H<sub>min</sub> is the minimum height above ground level, in metres;</p>
              <p>n is the total number of measurement triads (H<sub>i</sub>,
              L<sub>i</sub>, &#948;t<sub>i</sub>);</p>
              <p>L<sub>i</sub> is the width of a single bar in the bar group of a particular measurement triad, as described in Section III, paragraph 9 of this Decision;</p>
              <p>H<sub>i</sub> is the maximum height above ground of the aircraft in metres, at which the bar group of width L<sub>i</sub> was resolved as described in Section III, paragraph 7 of this Decision;</p>
              <p>&#948;t<sub>i</sub> is the value of the radiant temperature difference between the hot and cold bars in the calibration target corrected for the atmospheric transmission as described in Section III, paragraph 8 of this Decision;</p>
              <p>L<sub>a</sub> is the agreed ground resolution of 50 centimetres;</p>
              <p>&#916;T<sub>a</sub> is the agreed value of radiant temperature difference to be used in the calculation of minimum height above ground, of 3.0 degrees Celsius;</p>
              <p>&#964;<sub>a</sub>(H) is the atmospheric transmission as a function of altitude using the agreed OSCC standard atmosphere;</p>
              <p>m is the exponent as defined in paragraph 2 of this section.</p>
            </div>
          <p>2. The value of m shall be in the interval from zero to one and shall be calculated from the measurement triads (H<sub>i</sub>, L<sub>i</sub>, &#948;t<sub>i</sub>) by performing a regression analysis based on a least squares approach.</p>
          <p>3. For infrared line&#8209;scanning devices that can record data on photographic film and magnetic tape simultaneously, a separate H<sub>min</sub> shall be determined for each method of recording, and the higher H<sub>min</sub> value shall be used during observation flights if simultaneous recording is employed.</p>
          <p>4. A value of 3 degrees Celsius for &#916;T<sub>a</sub> has been agreed for this Decision with an understanding that States Parties will evaluate data collected during the duration of this Decision for the determination of H<sub>min</sub> in a subsequent Decision which will select a value of &#916;T<sub>a</sub> within the range of 1 to 10 degrees Celsius.</p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>This Decision shall enter into force simultaneously with the Treaty on Open Skies.It shall remain in force during the period from entry into force of the Treaty until 31 December of the third year following the year during which entry into force takes place. The States Parties shall, within the Open Skies Consultative Commission and during the period this Decision is in force, conclude a follow-on agreement on the determination of minimum height above ground at which an infrared line&#8209;scanning device may be operated, which shall enter into force upon the expiration of this Decision.</p>
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 12 October 1994, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>

<!--Annex-->
  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a name="tofifteenAnnex" href="#fifteen">Back to Decision Fifteen</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8"
      <p align="right">OSCC/VI/Dec.15 <br/>12 October 1994</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>ANNEX <br/>TO DECISION NUMBER 15 <br/>TO THE TREATY ON OPEN SKIES</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The input to the Mid-latitude Summer Model for the LOWTRAN 7 computer program is provided in the following table.</p>
      <div class="col table-responsive">
        <table class="table table-striped">
            <tr>
              <td><p>LOWTRAN 7 input variable name</p></td>
              <td><p>Variable value</p></td>
            </tr>
            <tr>
              <td><p>MODEL</p></td>
              <td><p>2</p></td>
            </tr>
            <tr>
              <td><p>ITYPE</p></td>
              <td><p>2</p></td>
            </tr>
            <tr>
              <td><p>IEMSCT</p></td>
              <td><p>0</p></td>
            </tr>
            <tr>
              <td><p>IMULT</p></td>
              <td><p>0</p></td>
            </tr>
            <tr>
              <td><p>M1</p></td>
              <td><p>0</p></td>
            </tr>
            <tr>
              <td><p>M2</p></td>
              <td><p>0</p></td>
            </tr>
            <tr>
              <td><p>M3</p></td>
              <td><p>0</p></td>
            </tr>
            <tr>
              <td><p>M4</p></td>
              <td><p>0</p></td>
            </tr>
            <tr>
              <td><p>M5</p></td>
              <td><p>0</p></td>
            </tr>
            <tr>
              <td><p>M6</p></td>
              <td><p>0</p></td>
            </tr>
            <tr>
              <td><p>MDEF</p></td>
              <td><p>0</p></td>
            </tr>
            <tr>
              <td><p>IM</p></td>
              <td><p>0</p></td>
            </tr>
            <tr>
              <td><p>NOPRT</p></td>
              <td><p>user choice</p></td>
            </tr>
            <tr>
              <td><p>TBOUND</p></td>
              <td><p>0.0</p></td>
            </tr>
            <tr>
              <td><p>SALB</p></td>
              <td><p>1.0</p></td>
            </tr>
            <tr>
              <td><p>IHAZE</p></td>
              <td><p>1</p></td>
            </tr>
            <tr>
              <td><p>ISEASN</p></td>
              <td><p>1</p></td>
            </tr>
            <tr>
              <td><p>IVULCN</p></td>
              <td><p>2</p></td>
            </tr>
            <tr>
              <td><p>ICSTL</p></td>
              <td><p>0</p></td>
            </tr>
            <tr>
              <td><p>ICLD</p></td>
              <td><p>0</p></td>
            </tr>
            <tr>
              <td><p>IVSA</p></td>
              <td><p>0</p></td>
            </tr>
            <tr>
              <td><p>VIS</p></td>
              <td><p>8.0</p></td>
            </tr>
            <tr>
              <td><p>WSS</p></td>
              <td><p>0.0</p></td>
            </tr>
            <tr>
              <td><p>RAINRT</p></td>
              <td><p>0.0</p></td>
            </tr>
            <tr>
              <td><p>GRNALT</p></td>
              <td><p>Altitude of calibration target (in km)</p></td>
            </tr>
            <tr>
              <td><p>H1</p></td>
              <td><p>Altitude of sensor (in km)</p></td>
            </tr>
            <tr>
              <td><p>H2</p></td>
              <td><p>Altitude of calibration target (in km)</p></td>
            </tr>
            <tr>
              <td><p>ANGLE</p></td>
              <td><p>0.0 or 180.0</p></td>
            </tr>
            <tr>
              <td><p>RANGE</p></td>
              <td><p>H1-H2 (using variables above)</p></td>
            </tr>
            <tr>
              <td><p>BETA</p></td>
              <td><p>0.0</p></td>
            </tr>
            <tr>
              <td><p>RO</p></td>
              <td><p>0.0</p></td>
            </tr>
            <tr>
              <td><p>LEN</p></td>
              <td><p>0.0</p></td>
            </tr>
            <tr>
              <td><p>V1</p></td>
              <td><p>Initial frequency of sensor (see LOWTRAN)</p></td>
            </tr>
            <tr>
              <td><p>V2</p></td>
              <td><p>Final frequency of sensor (see LOWTRAN)</p></td>
            </tr>
            <tr>
              <td><p>DV</p></td>
              <td><p>10.0</p></td>
            </tr>
          </table>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong><u>TABLE: LOWTRAN 7 Input Values</u></strong></p>
    </div>
  </div>

<hr>
