<!-- DECISION TWENTY -->
<div id="decision_20"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top"> Back to Decisions List </a><br/>
      <a href="#20Annex">Annex</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC/VIII/Dec.20<br/>12 June 1995 </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION TWENTY <br/>TO THE TREATY ON OPEN SKIES <br/>PROVISIONS FOR A THREE-LETTER AND TELEPHONY DESIGNATOR <br/>FOR THE OPEN SKIES CONSULTATIVE COMMISSION <br/>AND AIRCRAFT IDENTIFICATION FOR OPEN SKIES FLIGHTS </strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The Open Skies Consultative Commission, in accordance with Article VI, Section I, paragraphs 14 and 15, and Section II, and pursuant to Article VII of the Treaty on Open Skies, has decided as follows:</p>
      <p><strong>SECTION I. DEFINITION OF TERMS</strong></p>
        <div class="col-sm-12">
          <p>The following definitions shall apply to terms used in this Decision: </p>
            <div class="col-sm-12">
              <p>1. The term "three-letter designator" means a code, intended for use on the international telecommunication service, which is selected in accordance with and published in the ICAO Document 8585 and reflects to the maximum extent practicable the name of the aircraft operating agency or aeronautical service for which it is requested. The three-letter designator may be used in the aircraft identification in the same way as in the flight plan and associated messages. </p>
              <p>2. The term "telephony designator" means a distinct shortened address, selected in accordance with and published in the ICAO Document 8585. The telephony designator may be used as part of the aircraft identification followed by the flight identification in radiotelephony communication. </p>
              <p>3. The term "aircraft identification" means a group of letters, figures or a combination thereof which is either identical to, or the coded equivalent of, the aircraft call sign to be used in air-ground communications, and which is used to identify the aircraft in ground-ground air traffic services communications. </p>
            </div>
        </div>
      <p><strong>SECTION II. THREE-LETTER DESIGNATOR</strong></p>
        <div class="col-sm-12">
          <p>1. For use in the international aeronautical telecommunication service, the Open Skies Consultative Commission shall adopt its own three-letter designator, consisting of the letters "OSY".</p>
          <p>2. This designator shall be registered by the International Civil Aviation Organization (ICAO) for the Open Skies Consultative Commission and published in ICAO Document 8585.</p>
        </div>
      <p><strong>SECTION III. TELEPHONY DESIGNATOR</strong></p>
        <div class="col-sm-12">
          <p>1. To ensure a quick and clear recognition of all flights being conducted in accordance with the Treaty, a common telephony designator is a basic requirement.</p>
          <p>2. The telephony designator "OPEN SKIES" shall be used as part of the aircraft identification in radiotelephony communication.OSCC/VIII/Dec.20</p>
          <p>3. This telephony designator shall be registered by the ICAO for the Open Skies Consultative Commission and published in ICAO Document 8585.</p>
        </div>
      <p><strong>SECTION IV. AIRCRAFT IDENTIFICATION</strong></p>
        <div class="col-sm-12">
          <p>1. For air traffic services message handling and for radiotelephony communication with air traffic service units, all flight operations conducted in accordance with the Treaty shall use aircraft identification which immediately identifies an Open Skies flight in order to ensure priority, support and safety, as guaranteed in the Treaty.</p>
          <p>2. The aircraft identification shall in addition specify the State Party or group of States Parties conducting the Open Skies flight and the type of the Open Skies flight.</p>
          <p>3. The aircraft identification of all Open Skies flights shall be composed in the following manner: For the purpose of air traffic services message handling the first part of the aircraft identification is the three-letter designator "OSY".</p>
            <div class="col-sm-12">
              <p>For the purpose of radiotelephony communication with air traffic service units the first part of the aircraft identification is the telephony designator "OPEN SKIES".</p>
              <p>In both cases the following two digits are two figures identifying the observing or transiting State Party or group of States Parties according to a list to be published in the journal of the Open Skies Consultative Commission.</p>
              <p>In both cases the last digit is a letter which indicates the type of the Open Skies flight. The letters to be used are "O" for an observation flight, "D" for a demonstration flight, and "T" for a transit flight.</p>
            </div>
          <p>4. When an observation or demonstration flight is conducted by an observation aircraft provided by the observed States Party aircraft identification for air traffic services message handling and for radiotelephony communication with air traffic service units may be used in accordance with national air traffic control rules of the State Party.</p>
        </div>
      <p><strong>SECTION V. REVIEW CLAUSE</strong></p>
        <div class="col-sm-12">
          <p>The provisions of this Decision shall be re-examined on the basis of practical experience if so requested by a State Party after 31 December of the year during which the Treaty entered into force.</p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>This Decision shall enter into force simultaneously with the Treaty on Open Skies and shall have the same duration as the Treaty.</p>
      <P>Decided in Vienna, in the Open Skies Consultative Commission, on 12 June 1995, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>

<!-- 20 Annex -->
  <div class="row">
    <div class="col-sm-2">
      <a name="20Annex" href="#twenty">Back to Decision Twenty</a>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p  align="right">OSCC/VIII/Dec.20<br/>12 June 1995<br/>Annex<br/>14 December 1998</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>ANNEX <br/>TO DECISION NUMBER TWENTY <br/>TO THE TREATY ON OPEN SKIES</p></strong>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>1. The Open Skies Consultative Commission, due to reasons of flight safety which have arisen from practical experience during provisional application of the Treaty, has decided to modify Decision 20, Section IV. Aircraft Identification, paragraph three, ultimate sentence, to read as follows:</p>
      <p>The letters to be used are &quot;F&quot; for an observation flight, &quot;D&quot; for a demonstration flight, and &quot;T&quot; for a transit flight.</p>
      <p>2. The Open Skies Consultative Commission, in accordance with Section IV, paragraph&nbsp;3, subparagraph three, has decided on the attached list of codes identifying the observing or transiting State Party or group of States Parties.</p>
      <p><u>Codes for the States Parties or groups of States Parties for the purpose of radiotelephony communication with air traffic service units</u></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-5">
      <p>11 Germany</p>
      <p>12 United States of America</p>
      <p>13 Belarus</p>
      <p>14 Benelux</p>
      <p>15 Bulgaria</p>
      <p>16 Canada</p>
      <p>17 Denmark</p>
      <p>18 Spain</p>
      <p>19 France</p>
      <p>21 Georgia</p>
      <p>22 United Kingdom</p>
      <p>23 Greece</p>
      <p>24 Hungary</p>
      <p>25 Iceland</p>
      <p>26 Italy</p>
      <p>27 Kyrgyzstan</p>
      <p>28 Norway</p>
      <p>29 Poland</p>
      <p>31 Portugal</p>
      <p>32 Romania</p>
      <p>33 Russian Federation</p>
      <p>34 Slovak Republic</p>
      <p>35 Czech Republic</p>
      <p>36 Turkey</p>
      <p>37 Ukraine</p>
      <p>91 Belarus and Russian Federation group of States Parties</p>
      <p>92 Western European Union group of States Parties</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>States Parties operating more than one aircraft at the same time should after the country code add a self-assigned figure between 1 and 9 to distinguish safely between their aircraft.</p>
      <p>The codes for the States Parties or groups of States Parties shall be listed as follows:</p>
        <div class="col-sm-11 col-sm-offset-1">
          <p>1. In alphabetical order to the French alphabet.</p>
          <p>2. Once a number has been allocated that number shall be retained by the respective State Party or group of States Parties.</p>
          <p>3. Additional States Parties or groups of States Parties acceding to the Treaty shall adopt the next available number at the end of the appropriate current list.</p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p align="center">* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>This Annex is an integral part of Decision 20, 12 June 1995; it shall enter into force simultaneously with the Treaty on Open Skies and shall have the same duration as the Treaty.</p>
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 14 December 1998, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr/>
