<div id="1992"></div>

<div class="row">
  <div class="col-sm-2">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">29 JUNE 1992</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>STATEMENT BY THE CHAIRMAN</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>With regard to the distribution of costs arising under the Treaty on Open Skies the Open Skies Consultative Commission, in fulfillment of its obligation pursuant to Annex L, Section I, paragraph 9, has elaborated the provisions set forth in Decision No. 1 to the Treaty on Open Skies, which the States Parties have endorsed today.</p>
    <p>With reference to Section V, paragraph 10 of this decision, it has not been possible, however, to reach agreement on the distribution of costs related to fees for navigational aids and for air traffic control services, airport landing and take-off, ground handling, parking and security for observation, transport and transit flights.</p>
    <p>On the basis of the extensive discussion which has taken place on this issue a significant majority of States Parties has agreed that the above- mentioned fees should not be charged to the Observing Party. They consider this to be a fair and reasonable as well as technically simple approach which by facilitating the implementation of the Treaty by all States Parties would thus enhance transparency, confidence- and security-building. Some States Parties, however, could not agree to this principle.</p>
    <p>Some States Parties reserved their positions with regard to the provisions of Section V, paragraph 5, pending a satisfactory solution of the problem of the above-mentioned fees.</p>
    <p>Taking careful note of the views which have been expressed on this issue, it is apparent to me as Chairman that the question will require further analysis and discussion. It is my hope that Parties will achieve a mutually agreeable and equitable solution before the end of the autumn session.</p>
    <p>It is understood by all States Parties that the need to reconsider this issue does not constitute a hindrance to those States Parties who wish to proceed to ratification of the Treaty on Open Skies.</p>
    <p>I hereby record that the States Parties to the Treaty on Open Skies Represented in the Open Skies Consultative Commission, on this date, have taken five decisions entitled:</p>
    <p>Decision Number One, Distribution of Costs Arising Under the Treaty On Open Skies;</p>
    <p>Decision Number Two, Additional Non-Destructive-Testing Equipment;</p>
    <p>Decision Number Three, Methodology For Calculating The Minimum Height Above Ground Level At Which Each Optical Camera Installed On An Observation Aircraft May Be Operated During An Observation Flight;</p>
    <p>Decision Number Four, Minimum Camera Specification For An Observation Aircraft Of An Observed Party Exercising Its Right To Provide An Observation Aircraft For An Observation Flight; and</p>
    <p>Decision Number Five, Responsibility For The Processing Of Film Used During An Observation Flight.</p>
      <div class="col-sm-12">
        <p>With regard to the five decisions taken today and referred to in this statement, we understand:</p>
        <p>that those decisions formally adopted shall be legally binding;</p>
        <p>that Article XV of the Treaty on Open Skies shall apply to those decisions; and</p>
        <p>that with reference to Article XVII of the Treaty on Open Skies, any State signing or acceding to the Treaty shall also be bound by those Decisions.</p>
      </div>
    <p>This Chairman's statement recording the above decisions of the OSCC and these understandings will be recorded in the Journal and transmitted to the Depositaries by the Chairman.</p>
    <p>This action of the Open Skies Consultative Commission satisfies the Obligation in the Treaty on Open Skies for decisions prior to June 30, 1992, as laid out in: Annex L, Section 1, Paragraph 9; Annex F, Section 1, Paragraph 7; and Appendix 1 to Annex D, Section III, Paragraph 2.</p>
    <p>The States Parties to the Treaty on Open Skies have agreed that the methodology for determining the operational capabilities of video cameras shall be placed on the agenda for the next session of the Open Skies Consultative Commission. That methodology shall include the definition of video cameras and the means of certifying those capabilities. The decision on the above-mentioned issues should be taken on its own merit, independently of the operating altitudes of other sensors. The States Parties have further agreed that, during an observation flight, video cameras may be used with real time displays. A video camera shall not record imagery on magnetic tape in the case where it is pointed forward of a plane perpendicular to the longitudinal axis of the observation aircraft. When not pointed forward of such a plane, a video camera shall be allowed to record data.</p>
    <p>With regard to the next, second session of the Open Skies Consultative Commission (OSCC) I would suggest:</p>
      <div class="col-sm-12">
        <p>that the next session of the OSCC commence during the first week of the CSCE Forum for Security Cooperation, established at the Helsinki Follow-Up Meeting, and that the first plenary be held on September 24, 1992 under the Chairmanship of Denmark;</p>
        <p>that the next session of the OSCE may avail itself of common conference services to be provided by the joint Executive Secretary to be established under decisions taken at the Helsinki Follow-Up Meeting and reflected in paragraph 12, Section XII of the Administrative Decisions of the Helsinki Decisions, on the understanding that this agreement is without prejudice to any future decisions of the OSCC regarding modalities for the provision of conference services and the relationship between the OSCC and the Executive Secretary;</p>
        <p>that, until a relevant decision is taken, the scale of distribution of the costs of the next session be the same as that agreed for the Open Skies Negotiations and for the initial session of the OSCC;</p>
        <p>that for the next session, the rules of procedure and working methods agreed here guide the work of the OSCC.</p>
        <p>I note that this statement meets with no objection.</p>
      </div>
  </div>
</div>

<hr>
<br/>

<div class="row">
  <div class="col-sm-2">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">1 December 1992</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>With regard to the decisions taken the chairman made the following statements:</p>
    <p>With regard to decision number 7, Methodology for Determining the Ground Resolution of a Synthetic Aperture Radar (SAR) it is recalled that a trial to establish the methods for measuring ground resolution was conducted in Hungary between 5 and 9 October 1992. Data was collected from SARs installed on Canadian, Danish and Russian aircraft and their ground resolution was determined using both the Object Separation and Impulse Response methods. Experts from 17 countries found that both methods were equally valid and therefore that either method could be used for certification and demonstration flights according to the Treaty. However, the experts agreed that the ground resolution of a SAR for the purposes of Article IV paragraph 9 of the Treaty established in accordance with this method shall be no greater than 3.6 meters. Taking note that the methodology for the certification of synthetic aperture radar using the Impulse Response Method is set out in Decision No. 7, is hereby recorded as the understanding of the Commission that the said Decision is to be read in conjunction with a guidance document to be produced in due course.</p>
    <p>With regard to the decision of the List of Notifications and Reports and the package of 35 formats it is recorded as the understanding of the Commission, that the notification formats may require review based on the operational experience of the States Parties.</p>
    <p>The chairman noted that these statements and understandings met with no Objections, and they would be recorded in the Journal of the meeting.</p>
  </div>
</div>

<hr>
<br/>

<div class="row">
  <div class="col-sm-2">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">17 DECEMBER 1992</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>The OSCC took note of the report on the "Results of an Anglo-Russian Trial Observation Flight and Recommendations for the Implementation of the Open Skies Tr4eaty" prepared by the United Kingdom and the Russian Federation which was distributed to all delegations. The chairman noted the understanding that the contents of the report, including its recommendations would be taken into account at the Commission's continued work in preparation for implementation.</p>
    <p>The chairman of the OSCC expressed the following common understanding of the OSCC with respect to discussions on ecological monitoring held during the second session of the Commission:</p>
    <p>"In the opinion of all participants the environmental seminar held on last December 3-4 within the framework of the OSCC was a success. It was very useful in that it made it possible to take a look at the available technological capabilities, at the place of the airborne component in the system of environmental monitoring and the potential role that the Open Skies regime could play in this area.</p>
    <p>The OSCC was of the opinion that discussions on the possible use of Open Skies aircraft and regime for ecological purposes could usefully be continued on the understanding that discussions should not lead to delays in entry into force of the Open Skies Treaty.</p>
    <p>The OSCC concluded in that context that contracts on this issue could continue in an informal and flexible way in 1993."</p>
  </div>
</div>

<hr>
<br/>
