<div id="2002"></div>

<div class="row">
  <div class="col-sm-2">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">18 February 2002</p>
  </div>
</div>
<div class="row" id="list">
  <div class="col-sm-12 text-center">
    <p><strong>CHAIRPERSON'S STATEMENT <br/>ON <br/>DISTRIBUTION OF NATIONAL DATA AFTER ENTRY INTO FORCE</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>In accordance with the Treaty on Open Skies and relevant decisions of the Open Skies Consultative Commission (OSCC),</p>
    <p>Taking into account the entry into force of the Treaty on Open Skies on 1 January 2002,</p>
    <p>Anticipating that each individual State Party wishes to have the latest pertinent national data of all other States Parties, and</p>
    <p>With the understanding that all States Parties wish to have to have a smooth and effective entry into force of the Treaty,</p>
    <p>During the period commencing no earlier than 1 December 2001 but prior to the dates indicated, if specified,</p>
      <div class="col-sm-12">
        <p>1. All States Parties to re-issue the following formatted messages:</p>
          <div class="col-sm-12">
            <p>(a) OSF 11 - Diplomatic Clearance Numbers and Language to Be Used, by 28 February 2002;</p>
            <p>(b) OSF 18 - Initial List of Designated Personnel, prior to 28 February 2002, as specified by Article XIII Section I paragraph 1. Updates would be allowed every six months after that date - end August and end February each year;</p>
            <p>(c) OSF 26 - Changes to Designation of Sites (and Maximum Flight Distances) by the end of February 2002. Information changes issued by that date would then be effective by the end of May 2002 and in time prior to the first Open Skies observation flight after EIF.</p>
          </div>
        <p>2. All States Parties certifying Sensor Configurations on Designated Observation Aircraft re-issue their latest Technical Information. This would include the following OSFs - 3,4,5,6 and 8, as required prior to the dates required for certification.</p>
        <p>3. All States Parties that have previously made agreements to transfer quotas</p>
      </div>
    <p>should issue the appropriate OSFs - 36, 37, 1 and 2, by the end of February 2002.</p>
  </div>
</div>

<hr>
<br/>
<div class="row">
  <div class="col-sm-2">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">18 March 2002</p>
  </div>
</div>
<div class="row" id="list">
  <div class="col-sm-12 text-center">
    <p><strong>CHAIRMAN'S STATEMENT <br/>POSTING OF OSCC DOCUMENTS ON THE <br/>OSCE DELEGATES' WEBSITE</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>With reference to Document OSCC.INF/3/02 regarding the posting of OSCC documents to the OSCE Delegates' Website, the Chairman, on behalf of the Open Skies Consultative Commission, would like to state the following:</p>
    <p>The OSCC takes note of the positive experience the Organization and delegations have made with the OSCE Delegates' Website since November 2000. It considers the Website as a powerful tool which can assist delegations in the decision-making process.</p>
    <p>The OSCC welcomes the new service offered by the Secretariat, namely to provide electronic access via a secure Website to unclassified and restricted documents distributed by the OSCE Documents Distribution Unit at the Hofburg.</p>
    <p>Recalling the sensitivity of certain of its documents, the OSCC notes that the documents on the Website would only be accessible to delegations, which are eligible to receive them.</p>
    <p>It takes further note that the current distribution policy (hardcopy distribution to pigeon-holes and e-mail transmission) will remained unchanged.</p>
    <p>Based on the above assessment, the OSCC agrees to make available for posting on the secure and restricted Website all its documents registered and distributed by the Chairmanship, the Secretariat, as well as by Delegations except those which the document's originators do not wish to be posted on the website. This will include documents starting from 1 January 2002.</p>
    <p>I request that this statement be attached to the Journal of the day.</p>
  </div>
</div>

<hr>
<br/>
<div class="row">
  <div class="col-sm-2">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">18 March 2002</p>
  </div>
</div>
<div class="row" id="list">
  <div class="col-sm-12 text-center">
    <p><strong>CHAIRMAN'S STATEMENT <br/>ON THE CO-ORDINATION OF OBSERVATION FLIGHTS FOR 2002</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Realizing that the 1 January 2002 entry into force of the Treaty precluded the declaration of each State Party's right to notify its plans to utilize all or part of its active quota for 2002 prior to 1 November 2001,</p>
    <p>Utilizing the procedures for co-ordination specified in Annex H of the Treaty,</p>
    <p>The OSCC States Parties declare their intention to adhere to the following principles for the co-ordination of observation flights for the calendar year 2002:</p>
      <div class="col-sm-12">
        <p>1. Each State Party, having the right to conduct observation flights as specified in Annex A, Section II, of the Treaty, may notify, and is encouraged to notify, using OSF 27, all other States Parties of its plan to utilize all or part of its active quota during the period 1 August 2002 to 31 December 2002, no later than 15 April 2002; and</p>
        <p>2. The States Parties involved shall notify the resulting sequence of observation flights, using OSF 28, to all States Parties in accordance with paragraph 3 of Annex H.</p>
      </diV>
  </div>
</div>

<hr>
<br/>
<div class="row">
  <div class="col-sm-2">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">13 MAY 2002 <br/>Annex 1</p>
  </div>
</div>
<div class="row" id="list">
  <div class="col-sm-12 text-center">
    <p><strong>CHAIRPERSONS STATEMENT <br/>ON <br/>PROCEDURE FOR ISSUING VISAS TO DESIGNATED PERSONNEL</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>On behalf of the Open Skies Consultative Commission, taking into account the provisions of Article XIII, Section 3, paragraph 3, the Chairperson reminds of the following:</p>
      <div class="col-sm-12">
        <p>1. Each State Party shall determine, on the basis of the Treaty provisions and its own national legislation, the procedure for issuing visas to designated personnel of other States Parties, which are subject to the provisions of Article XIII, Section I, paragraph 3.</p>
        <p>2. Each State Party should notify all States Parties of its procedures before 30 May 2002, via OSF-35.</p>
        <p>3. Subsequently, in case of changes in its procedure for issuing visas, a State Party should inform all States Parties about the new procedure for issuing visas via OSF-35, no less that 60 days before new procedures become effective.</p>
      </div>
  </div>
</div>

<hr>
<br/>
<div class="row">
  <div class="col-sm-2">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">22 July 2002 <br/>Annex 2</p>
  </div>
</div>
<div class="row" id="list">
  <div class="col-sm-12 text-center">
    <p><strong>CHAIRPERSON'S STATEMENT ON <br/>MINIMUM SAFE FLIGHT ALTITUDES</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>In accordance with Annex I, paragraph 1(A), of the Treaty on Open Skies and with a view to clarify the requirement to provide information on minimum safe flight altitudes, States Parties have reached the following understanding:</p>
    <p>The information required by Annex I, paragraph 1(A) shall also include information on nationally established regulations regarding minimum safe flight altitudes.</p>
  </div>
</div>

<hr>
<br/>
<div class="row">
  <div class="col-sm-2">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">22 July 2002 <br/>Annex 3</p>
  </div>
</div>
<div class="row" id="list">
  <div class="col-sm-12 text-center">
    <p><strong>CHAIRPERSON'S STATEMENT ON <br/>MISSION PLANNING OVER CONGESTED AREAS</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>While reaffirming the right of the observing Party to observe any point on the territory of the observed Party as set forth in the Treaty on Open Skies, and in an attempt to minimize risks during the conduct of observation flights, States Parties will take note of congested areas during mission planning.</p>
  </div>
</div>

<hr>
<br/>
<div class="row">
  <div class="col-sm-2">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">22 July 2002 <br/>Annex 4</p>
  </div>
</div>
<div class="row" id="list">
  <div class="col-sm-12 text-center">
    <p><strong>CHAIRPERSON'S STATEMENT ON <br/>STANDARD BILLING INVOICE</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>In accordance with Decision Number One, Section V, paragraph 9 to the Treaty on Open Skies, the observed Party shall transmit a bill no later than 30 days after completion of an observation flight, clearly itemizing the costs incurred during the observation flight.</p>
    <p>In order to standardize the billing process, all States Parties will submit their bill using the standard invoice of the Attachment to this Chairperson's Statement.</p>
  </div>
</div>
<div class="row">
  <div class="col table-responsive">
    <table class="table table-striped">
      <tr>
        <td colspan="2" align="center">STANDARD OPEN SKIES INVOICE</td>
      </tr>
      <tr>
        <td colspan="2">INVOICE NUMBER:</td>
       </tr>
      <tr>
        <td colspan="2">TO STATE PARTY:</td>
      </tr>
      <tr>
        <td colspan="2">FROM STATE PARTY:</td>
      </tr>
      <tr>
        <td colspan="2">DATE OF INVOICE:</td>
      </tr>
      <tr>
        <td colspan="2">OBSERVATION FLIGHT <br/>REFERENCE NUMBER:</tD>
      </tr>
      <tr>
        <td colspan="2">DATE/TIME OF ARRIVAL:</td>
      </tr>
      <tr>
        <td colspan="2">DATE/TIME OF DEPARTURE:</td>
      </tr>
      <tr>
        <td colspan="2">SUMMARY OF COSTS (EUROS)</td>
      </tr>
      <tr>
        <td colspan="2">MEALS AND ACCOMMODATIONS:</td>
      </tr>
      <tr>
        <td colspan="2">FUEL, OIL, HYDRAULIC FLUID, <br/>GREASE, OXYGEN,</td>
      </tr>
      <tr>
        <td colspan="2">WATER, DE-ICING FLUID, DE-ICING CHARGE:</td>
      </tr>
      <tr>
        <td colspan="2">GROUND TECHNICAL <br/>AND COMMERCIAL SERVICING:</td>
      </tr>
      <tr>
        <td colspan="2">MEDIA AND CHEMICALS:</td>
      </tr>
      <tr>
        <td colspan="2">ADDITIONAL SERVICES:</td>
      </tr>
      <tr>
        <td colspan="2">TOTAL INVOICED AMOUNT (EUROS):</td>
      </tr>
      <tr>
        <td colspan="2">OBSERVED PARTY AGREE <br/>AS CORRECT (ON SUBMISSION)</td>
      </tr>
      <tr>
        <td colspan="2">NAME:</td>
      </tr>
      <tr>
        <td colspan="2">SIGNATURE:</td>
      </tr>
      <tr>
        <td colspan="2">OBSERVING PARTY AGREE <br/>AS CORRECT (PRIOR TO PAYMENT)</td>
      </tr>
      <tr>
        <td colspan="2">NAME:</td>
      </tr>
      <tr>
        <td colspan="2">SIGNATURE:</td>
      </tr>
      <tr>
        <td colspan="2">INVOICE PAYABLE TO <br/>THE FOLLOWING BANK:</td>
      </tr>
      <tr>
        <td colspan="2">MEALS AND ACCOMMODATION COSTS</td>
      </tr>
      <tr>
        <td colspan="2">INVOICE NUMBER:</td>
      </tr>
      <tr>
        <td colspan="2">TO STATE PARTY:</td>
      </tr>
      <tr>
        <td colspan="2">FROM STATE PARTY:</td>
      </tr>
      <tr>
        <td colspan="2">DATE OF INVOICE:</td>
      </tr>
      <tr>
        <td colspan="2">MEALS/ACCOMMODATION COSTS</td>
      </tr>
      <tr>
        <td colspan="2">NUMBER OF PERSONNEL</td>
      </tr>
      <tr>
        <td colspan="2">DAILY COST PER PERSON (EUROS)</td>
      </tr>
      <tr>
        <td colspan="2">TOTAL DAILY COST (EUROS)</td>
      </tr>
      <tr>
        <td colspan="2">DAY 1</td>
      </tr>
      <tr>
        <td colspan="2">DAY 2</td>
      </tr>
      <tr>
        <td colspan="2">DAY 3</td>
      </tr>
      <tr>
        <td colspan="2">DAY 4</td>
      </tr>
      <tr>
        <td colspan="2">DAY 5</td>
      </tr>
      <tr>
        <td colspan="2">DAY 6</td>
      </tr>
      <tr>
        <td colspan="2">DAY 7</td>
      </tr>
      <tr>
        <td colspan="2">TOTAL</td>
      </tr>
      <tr>
        <td colspan="2">TOTAL MEALS AND <br/>ACCOMMODATION COST (EUROS)</td>
      </tr>
    </table>
  </div>
</div>
<div class="row"></div>
<div class="row">
  <div class="col table-responsive">
    <table class="table table-striped">
      <tr>
        <td colspan="12" align="center">FUEL, OIL, HYDRAULIC FLUID, GREASE, OXYGEN, WATER, DE-ICING COSTS</td>
      </tr>
      <tr>
        <td>INVOICE NUMBER:</td>
        <td colspan="3"></td>
        <td>FROM STATE PARTY:</td>
        <td colspan="7"></td>
      </tr>
      <tr>
        <td>TO STATE PARTY:</td>
        <td colspan="3"></td>
        <td>DATE OF INVOICE:</td>
        <td colspan="7"></td>
      </tr>
      <tr>
        <th>UPLOAD</th>
        <th>FUEL (litres)</th>
        <th>OIL (US quarts)</th>
        <th>HYDRAULIC FLUID (litres)</th>
        <th>GREASE (kg)</th>
        <th>OXYGEN (Filling)</th>
        <th>WATER (litres)</th>
        <th>DE-ICING FLUID <br/>(kg)</th>
        <th colspan="3">DE-ICING CHARGE BY AIRCRAFT TYPE</th>
      </tr>
      <tr>
        <td colspan="8"></td>
        <td>CAT 1</td>
        <td>CAT 2</td>
        <td>CAT 3</td>
        <td>CAT 4</td>
      </tr>
      <tr>
        <td colspan="12">1. ON ARRIVAL</td>
      </tr>
      <tr>
        <td colspan="12">2. DEMO FLIGHT</td>
      </tr>
      <tr>
        <td colspan="12">3. TRANSIT TO OPEN SKIES AIRFIELD</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="12">4. OBSERVATION <br/>FLIGHT - SEGMENT 1</td>
      </tr>
      <tr>
        <td colspan="12">5. OBSERVATION <br/>FLIGHT - SEGMENT 2</td>
      </tr>
      <tr>
        <td colspan="12">6. OBSERVATION FLIGHT - SEGMENT 3</td>
      </tr>
      <tr>
        <td colspan="12">7. OBSERVATION FLIGHT - SEGMENT 4</td>
      </tr>
      <tr>
        <td colspan="12">8. OBSERVATION FLIGHT - SEGMENT 5</td>
      </tr>
      <tr>
        <td colspan="12">9. TRANSIT TO POINT OF EXIT</td>
      </tr>
      <tr>
        <td colspan="12">10. DEPARTURE FROM POINT OF EXIT</td>
      </tr>
      <tr>
        <td colspan="12">TOTAL UPLOAD (NUMBER OF UNITS)</td>
      </tr>
      <tr>
        <td colspan="12">UNIT COST (EUROS) - KOLN FOR YEAR ____</td>
      </tr>
      <tr>
        <td colspan="12">TOTAL</td>
      </tr>
      <tr>
        <td colspan="12">TOTAL FUEL, OIL, HYDRAULIC FLUID, GREASE, OXYGEN, WATER, DE-ICING COST (EUROS)</td>
      </tr>
    </table>
  </div>
</div>
<div class="row"></div>
<div class="row">
  <div class="col table-responsive">
    <table class="table table-striped">
      <tr>
        <td colspan="4">GROUND TECHNICAL AND COMMERCIAL SERVICING COSTS</td>
      </tr>
        <td colspan="4">INVOICE NUMBER:</td>
      </tr>
      <tr>
        <td colspan="4">TO STATE PARTY:</td>
      </tr>
      <tr>
        <td colspan="4">FROM STATE PARTY:</td>
      </tr>
      <tr>
        <td colspan="4">DATE OF INVOICE:</td>
      </tr>
      <tr>
        <td colspan="4">EXCHANGE RATE/DATE</td>
      </tr>
      <tr>
        <td>OTHER GROUND TECHNICAL AND <br/>COMMERCIAL SERVICING REQUESTED</td>
        <td>TYPE</td>
        <td>COST (LOCAL CURRENCY)</td>
        <td>COST (EUROS)</td>
      </tr>
      <tr>
        <td colspan="4">1. ON ARRIVAL</td>
      </tr>
      <tr>
        <td colspan="4">2. DEMO FLIGHT</td>
      </tr>
      <tr>
        <td colspan="4">3. TRANSIT TO OPEN SKIES AIRFIELD</td>
      </tr>
      <tr>
        <td colspan="4">4. OBSERVATION FLIGHT - SEGMENT 1</td>
      </tr>
      <tr>
        <td colspan="4">5. OBSERVATION FLIGHT - SEGMENT 2</td>
      </tr>
      <tr>
        <td colspan="4">6. OBSERVATION FLIGHT - SEGMENT 3</td>
      </tr>
      <tr>
        <td colspan="4">7. OBSERVATION FLIGHT - SEGMENT 4</td>
      </tr>
      <tr>
        <td colspan="4">8. OBSERVATION FLIGHT - SEGMENT 5</td>
      </tr>
      <tr>
        <td colspan="4">9. TRANSIT TO POINT OF EXIT</td>
      </tr>
      <tr>
        <td colspan="4">10. DEPARTURE FROM POINT OF EXIT</td>
      </tr>
      <tr>
        <td colspan="4">TOTAL</td>
      </tr>
      <tr>
        <td colspan="4">TOTAL GROUND TECHNICAL AND COMMERCIAL SERVICING COST (EUROS)</td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col table-responsive">
    <table class="table table-striped">
      <tr>
        <td colspan="10" align="center">MEDIA AND CHEMICAL COSTS</td>
      </tr>
      <tr>
        <td colspan="2">INVOICE NUMBER</td>
        <td colspan="3"></td>
        <td colspan="2">FROM STATE PARTY:</td>
        <td colspan="3"></td>
      </tr>
      <tr>
        <td colspan="2">TO STATE PARTY:</td>
        <td colspan="3"></td>
        <td colspan="2">DATE OF INVOICE:</td>
        <td colspan="3"></td>
      </tr>
      <tr>
        <td colspan="2">EXCHANGE RATE/DATE</td>
        <td colspan="8"></td>
      </tr>
      <tr>
        <td colspan="2">Canadian Media Prices</td>
        <td colspan="2">as of Year ____</td>
        <td>FILMS TYPES USED</td>
        <td>Film Width</td>
        <td>Roll Length (metros)</td>
        <td># of Rolls</td>
        <td>Total Length (meters)</td>
        <td>Cost (Euros)</td>
      </tr>
      <td>
        <td></td>
        <td>FILMS</td>
        <td>Film Width</td>
        <td>Cost(CAD)/Meter</td>
        <td>Cost(€)/Meter</td>
        <td>specify</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2"></td>
        <td>Panchromatic, Fine <br/>Grain Negative Film</td>
        <td>70 mm</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>5 in/127 mm</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>9.5 in/240 mm</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2"></td>
        <td>Panchromatic, High Speed Negative Film</td>
        <td>70 mm</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>5 in/127 mm</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>9.5 in/240 mm</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2"></td>
        <td>Negative Duplicating Film - Neg to Pos</td>
        <td>70 mm</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>5 in/127 mm</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>9.5 in/240 mm</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2"></td>
        <td>Direct Duplicating Film - Neg to Neg</td>
        <td>70 mm</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>5 in/127 mm</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>9.5 in/240 mm</td>
        <td></td>
        <td>TOTAL FILM COSTS (EUROS)</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col table-responsive">
    <table class="table table-striped">
      <tr>
        <td></td>
        <td>PROCESSING CHEMICALS</td>
        <td>Film Width</td>
        <td>Cost (CAD)</td>
        <td>Cost (€)</td>
        <td>PHOTO CHEMISTRY USED</td>
        <td></td>
        <td>Quantity</td>
        <td>Cost (Euros)</td>
      </tr>
      <tr>
        <td>Replenishing Cost for 30 meters of film</td>
        <td>70 mm</td>
        <td></td>
        <td>specify</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>(includes Developer and Fixer)</td>
        <td>5 in /127 mm</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>9.5 in/240 mm</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>Developer Replenisher <br/>Kit for 60 litres</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>Fixer Replenisher Kit for 75 litres</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>Developer Starter Kit for 34 litres</td>
        <td></td>
        <td></td>
        <td></td>
        <td>TOTAL CHEMISTRY COST (EUROS)</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>MAGNETIC TAPES</td>
        <td>Length</td>
        <td>Cost (CAD)</td>
        <td>Cost (€)</td>
        <td>MAGNETIC TAPES USED</td>
        <td></td>
        <td># of Tapes</td>
        <td>Cost (Euros)</td>
      </tr>
      <tr>
        <td></td>
        <td>Video Cassette VHS</td>
        <td>120 minutes</td>
        <td></td>
        <td></td>
        <td>specify</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>Video Cassette S-VHS</td>
        <td>120 minutes</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>Video Cassette HI - 8mm</td>
        <td>60 minutes</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>Video Cassette HI - 8mm</td>
        <td>120 minutes</td>
        <td></td>
        <td></td>
        <td colspan="4">TOTAL TAPE COST (EUROS)</td>
      </tr>
      <tr>
        <td></td>
        <td colspan="7">TOTAL MEDIA AND CHEMICAL COST (EUROS)</td>
      </tr>
    </table>
  </div>
</div>

<br/>
<div class="row">
  <div class="col table-responsive">
    <table class="table table-striped">
      <tr>
        <td>ADDITIONAL SERVICES COSTS</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>INVOICE NUMBER:</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>TO STATE PARTY:</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>FROM STATE PARTY:</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>DATE OF INVOICE:</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>EXCHANGE RATE/DATE</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>ADDITIONAL SERVICES</td>
        <td>TYPE</td>
        <td>COST (LOCAL CURRENCY)</td>
        <td>COST (EUROS)</td>
      </tr>
      <tr>
        <td>1. ON ARRIVAL</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>2. DEMO FLIGHT</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>3. TRANSIT TO OPEN SKIES AIRFIELD</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>4. OBSERVATION FLIGHT - SEGMENT 1</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>5. OBSERVATION FLIGHT - SEGMENT 2</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>6. OBSERVATION FLIGHT - SEGMENT 3</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>7. OBSERVATION FLIGHT - SEGMENT 4</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>8. OBSERVATION FLIGHT - SEGMENT 5</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>9. TRANSIT TO POINT OF EXIT</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>10. DEPARTURE FROM POINT OF EXIT</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>TOTAL</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>TOTAL ADDITIONAL SERVICES COST (EUROS)</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
</div>

<hr>
<br/>
<div class="row">
  <div class="col-sm-2">
    <p align="left"><a href="#top">Back to the list</a></p>
    <p align="left">3rd Meeting of the 29th Session <br/>OSCC(29) Journal No. 84, Agenda item 6(b)</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">OSCC29.JOUR/84 <br/>11 November 2002</p>
    <p align="right">Annex 1 <br/>OSCC+ <br/>Original: ENGLISH <br/>Open Skies Consultative Commission</p>
  </div>
</div>
<div class="row" id="list">
  <div class="col-sm-12 text-center">
    <p><strong>CHAIRPERSON'S STATEMENT <br/>ON THE REQUEST FOR PASSIVE QUOTAS BY ACCEDING STATES</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>In accordance with Article III, Section I, paragraphs 2 and 4 and Article III, Section II and Article X, paragraph 4 (D) and Article XVII and Annex A, Section I of the Treaty on Open Skies and subsequent pertinent decisions, as well as OSCC.Dec/8/02/Corr.1, Section 3 on the Guidelines for accession to the Treaty,</p>
      <div class="col-sm-12">
        <p>1. The allocation of passive quotas is one of the mechanisms whereby the Treaty's aim of providing transparency, security and building confidence between the States Parties is achieved. A State may request an allocation of a passive quota and the level of this quota at the moment of application for accession to the Treaty or anytime thereafter until the date of the OSCC plenary meeting following the deposit of its instrument of accession. In the absence of a specific request made by a State, the OSCC shall, in co‑operation with that State, take the necessary steps to allocate a passive quota. In both cases the allocation of a passive quota shall be considered by the OSCC during the regular session of the OSCC following the date of the deposit of its instrument of accession. An OSCC decision shall then be adopted and take effect upon entry into force of the Treaty for that acceding State.</p>
        <p>2. The acceding State should consider an appropriate level of passive quotas to meet the Treaty' s goals of openness and transparency. The acceding State when requesting a level of passive quota, should take into account the existing allocation of passive quotas as set forth in Annex A and subsequent pertinent OSCC Decisions. Passive quotas allocated to existing States Parties and groups of States Parties have ranged from 2 to 42. In all but one case, four or more passive quotas were allocated.</p>
        <p>Other elements to be considered, inter alia, as appropriate by the State when making the request:</p>
          <div class="col-sm-12">
            <p>&mdash; Its geographical size and location;</p>
            <p>&mdash; Its military capabilities, to include infrastructure and armed forces.</p>
          </div>
        <p>3. Only States Parties holding passive quotas may form a group of States Parties. Quota provisions for groups of States Parties as stipulated by Article III, Section II are applicable. In the case of a group of States Parties established pursuant to Article III, Section II, paragraph 3 the OSCC, in co‑operation with the States Parties concerned, shall allocate a common total passive quota.</p>
      </div>
  </div>
</div>

<hr>
<br/>
