<div id="2004"></div>

<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p align="left">Norway Delegation to the Open Skies Consultative Commission 19 January 2004</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">OSCC.DEL/3/04 <br/>20 January 2004</p>
  </div>
</div>
<div class="row" id="list">
  <div class="col-sm-12 text-center">
    <p><strong>Statement by the Chairperson On the Occasion of the Assumption of the OSCC Chairmanship by Norway</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>My most sincere thanks to Latvia for the excellent way it handled the Chair during its tenure and for the progress that has been made on a number of important issues.</p>
    <p>I am looking forward to enjoying the same level of support and co-operation from Delegations during Norway's chairmanship.</p>
    <p>The aim of this introduction is to give an overview of main issues within the OSCC, including its Informal Working Groups (IWGs). Such an overview can be helpful, both to establish a common understanding of where we stand, and form a basis to prioritise our short and long term work. This Chair has no intention of unduly interfering in the Informal Working Groups work, but they function under the OSCC authority, and they constitute a very important, as well as integral part of the overall activity of the OSCC. The Chair intends to follow closely their work and keep in very close contact with their chairmen.</p>
    <p>The general picture is that overall, the Treaty on Open Skies is in good health, and implementation of the Treaty is generally going well. There has been a good, co-operative atmosphere, both during observation flights and in the OSCC fora. With a couple of notable exceptions the Open Skies activity has been successful.</p>
    <p>I would now like to examine some of the issues before us:</p>
      <div class="col-sm-12">
        <p><strong>OSA/MFD</strong></p>
          <div class="col-sm-12">
            <p>The most pressing issue to be concluded successfully is undoubtedly the question of changes to Annex A Section III information the so-called OSA/MFD issue, which has been on OSCC agendas for well over one year.</p>
            <p>On the positive side, it seems that most of the more technical aspects and the issues related to changes that were made before Entry into Force of the Treaty and even before ratification by all Signatories from 92, now have found solutions that are acceptable to all.</p>
            <p>Most of the work on this issue has taken place in the framework of the Informal Working Group on Rules and Procedures (IWGRP), but the issue has also been on the agenda for the OSCC since March of last year.</p>
            <p>Despite the progress made, it is of serious concern that the issue has not yet been finalized, given the approaching Spring and Summer flying season. Continued and revitalized efforts by the IWGRP are necessary, and expected, to find a solution in the near term, which meet both the language and spirit of the Treaty. If no solution is found to this pressing operational issue in the very near future, it may negatively impact also on the credibility and authority of the IWGRP, as well as that of the OSCC as such.</p>
            <p>In light of the significant progress that has been achieved, it should be fully possible to take the final steps in a very short time, given the necessary will to do so.</p>
          <p>This chair will follow closely the progress of this very important issue.</p>
        </div>
        <p><strong>Distribution of Active Quotas</strong></p>
          <div class="col-sm-12">
            <p>As has been stated in this forum before the distribution process last October was a success. It was possible to reach agreement in all cases where the desire to conduct observation flights the bids were higher than the numbers available. Agreement was possible due to outstanding work by the co-ordinators, combined with a very high level of flexibility shown by all the States Parties involved.</p>
            <p>We have, however, recognised views, also in this forum, calling for a review of this first ever distribution - to assess the need for improvements and potential revisions/updates of the procedures.</p>
            <p>As we know the work was already started at the end of our previous session, under Latvian Chairmanship, and this chair support the idea of review.</p>
            <p>Even though there is "plenty of time" until the distribution of quotas for 2005, we are in favour of starting as soon as possible. We have now had time to reflect on our experiences, and our memories are still fresh. This is the quiet part of the year, and we could finish before our Spring Break.</p>
            <p>Our intention is to first share Lessons Learned in an informal setting and thereby identify problem areas in real need of improvement. This will then form a basis for identifying possible solutions - within the letter and the spirit of the Treaty.</p>
          </div>
        <p><strong>Review Conference</strong></p>
          <div class="col-sm-12">
            <p>In accordance with Art XVI, the Depositaries shall convene a conference of the States Parties to review the implementation of the Treaty three years after Entry into Force, which is in 2005.</p>
            <p>We just started 2004, but still some aspects might need to be discussed, and even concluded, very soon.</p>
            <p>One such issue is to set the date and venue for the Review Conference, to ascertain that we can hold it at the time and place of our choice.</p>
            <p>But also other issues might benefit from an early review, like</p>
            <p>&mdash; the general framework and modalities of the RC</p>
            <p>&mdash; main themes or topics iaw what kind of RC are we looking for</p>
            <p>&mdash; modalities and schedule for preparation of the RC.</p>
            <p>It is the Chairs intention to have at least some preliminary and informal discussions, of a more brainstorming nature, during this session.</p>
          </div>
        <p><strong>Review of Dec 8/02</strong></p>
          <div class="col-sm-12">
            <p>Decision 8/02 has proven to be a very valuable tool for both the current States Parties and the States going through the accession process. However, in particular Sections 3, 10 and 11 regarding Quotas, OSA's and MFD's would benefit from being expanded. The review of in particular Sections 10 and 11 would benefit from a successful conclusion of the issue of MFD/OSA and changes to Annex A, Section III, and should therefore preferably await the outcome of that process.</p>
            <p>The Chair intends to undertake informal consultations to see how this issue can best be moved forward.</p>
          </div>
        <p><strong>Implementation assessment</strong></p>
          <div class="col-sm-12">
            <p>We have now completed the first full year of practical implementation of the Treaty  and with notable success. However, also in this forum, we have heard statements clearly indicating that there is both need, and room, for improvement. Some of the issues raised have been commented on by other Delegations, but not all issues have been brought to what we could call an OSCC conclusion. Even though unilateral statements do not change Treaty implementation influencing rights and obligations of other States Parties, it leaves room for some uncertainty and potential for future complications. By their nature most of the issues, if not all, fall under the agenda of the IWGRP. We therefore anticipate those issues to figure on the IWGRP agenda in the near future, and passed to the plenary as required soon thereafter.</p>
            <p>In addition, we may also consider getting the implementers together to exchange views and experiences on the implementation until now. This could be done in the context of an extended one-day Informal session of the OSCC with experts from capitals, as an extended one-day IWGRP, or as a separate event.</p>
            <p>Such an event could facilitate the preparation for the RC 05, or be a totally independent event.</p>
            <p>However, this idea would require further development before decision on whether or how to proceed.</p>
          </div>
        <p><strong>Review of Decision Number 1</strong></p>
          <div class="col-sm-12">
            <p>According to Dec 1, Section VI, after one year of practical implementation of the Treaty, the OSCC shall review the necessity for new provisions to calculate costs arising from data sharing.</p>
            <p>As a first step the chair intends to undertake informal consultations to find the best way forward on this issue.</p>
            <p>Other Issues</p>
            <p>There are also other important issues that the Chair of course will follow up.</p>
            <p>There is a long-standing application for accession before this forum that needs to be resolved in a timely manner. As well, the status of a Signatory State needs to be clarified and the previous Chair initiated this process. Finally, the issue of the passive Quota and MFD for a newly acceded State Party needs to be resolved.</p>
            <p>The chair intends to be actively involved in these issues, initially on an informal basis, with the objective of bringing them to a successful closing as soon as possible.</p>
          </div>
        <p><strong>Other long-standing issues on IWGRP agenda</strong></p>
          <div class="col-sm-12">
            <p>Draft Decision 23 on Transits and Draft Decision 24 on cost mechanisms still remain to be resolved and on the IWGRP agenda, although there has been substantial progress made on both these issues. The Chair anticipates that these issues will soon be passed to the Plenary for adoption.</p>
          </div>
        <p><strong>Informal Working Group on Sensors</strong></p>
          <div class="col-sm-12">
            <p>The urgent need to appoint a Chairperson for the Informal Working Group on Sensors "in order to ensure adequate preparation for the fact that as of 01/01/06, infrared sensors are allowed - has been brought to this forums attention." The Chair stands ready at any time to receive offers on candidates for that Chair, and will consult Delegations on the issue.</p>
            <p>In summary, much has been accomplished by the OSCC and its Working Groups in the previous sessions. "There are some challenges that still face us, but I am confident that these will be resolved with all States Parties acting to promote the best interests of the Treaty." Again, I again thank Latvia for their Chairmanship, and look forward to your support for another successful OSCC session.</p>
          </div>
      </div>
  </div>
</div>

<hr>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p align="left">Open Skies Consultative Commission <br/>3rd Meeting of the 33rd Session <br/>OSCC(33) Journal No. 99, Agenda item 6(a)</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">OSCC33.JOUR/99 <br/>29 March 2004 <br/>Annex 1 <br/>OSCC+ <br/>Original: ENGLISH</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>CHAIRPERSON'S STATEMENT ON CHANGES TO OPEN SKIES AIRFIELDS AND ASSOCIATED MAXIMUM FLIGHT DISTANCES</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Annex A, Section III provides a list of maximum flight distances (MFDs) for observation flights originating from each Open Skies Airfield (OSA) at the time of signature of the Treaty. Since that time, several States Parties have significantly changed their OSAs' and their associated MFDs. Consequently considerable consultation has been conducted by States Parties to address ambiguities and differences of interpretation of the Treaty with regard to the changes to the list of OSAs and associated MFDs.</p>
    <p>During these deliberations OSAs and their associated MFDs have been closely examined. Several States Parties have voiced concern regarding the upper limits of MFDs and their ability to actually conduct observation flights in excess of 6,500 km within the 96‑hour period, suggesting the possibility of extending the 96‑hour period per Article VI, Section I, paragraph 9. Other States Parties challenged such an interpretation and asserted that it was operationally possible to conduct observation flights up to 7200 km.</p>
    <p>In an effort to facilitate a common understanding of the changes made to OSAs and their associated MFDs, listed hereunder are the current OSAs and associated MFDs as notified by all States Parties.</p>
    <p>This list does not replace Annex A, Section III. It does, however, identify key elements that will serve as a reference for future changes to OSAs and associated MFDs pursuant to OSCC Decision No. 3 (OSCC.DEC/3/04) including:</p>
    <p>The minimum MFD for each State Party's OSA(s);</p>
    <p>The minimum number of OSAs for each State Party;</p>
    <p>The largest MFD for each State Party's OSA(s).</p>
    <p>The list of Open Skies airfields and associated maximum flight distances:</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <table class="table table-responsive table-striped">
      <tr>
        <td colspan="4"><strong>The Federal Republic of Germany</strong></td>
      </tr>
      <tr>
        <td>KOELN/BONN</td>
        <td>1,300 kilometres</td>
      </tr>
      <tr>
        <td>NORDHOLZ</td>
        <td>1,300 kilometres</td>
      </tr>
      <tr>
        <td>INGOLSTADT</td>
        <td>1,300 kilometres</td>
      </tr>
      <tr>
        <td colspan="4"><strong>The United States of America</strong></td>
      </tr>
      <tr>
        <td>WRIGHT PATTERSON AFB</td>
        <td>4,900 kilometres</td>
      </tr>
      <tr>
        <td>TRAVIS AFB</td>
        <td>4,250 kilometres</td>
      </tr>
      <tr>
        <td>ELMENDORF AFB</td>
        <td>3,750 kilometres</td>
      </tr>
      <tr>
        <td>McCONNELL AFB</td>
        <td>4,800 kilometres</td>
      </tr>
      <tr>
        <td colspan="4"><strong>The Republic of Belarus and the Russian <br/>Federation group of States Parties</strong></td>
      </tr>
      <tr>
        <td>KUBINKA</td>
        <td>5,500 kilometres</td>
      </tr>
      <tr>
        <td>NOVOSIBIRSK</td>
        <td>5,000 kilometres</td>
      </tr>
      <tr>
        <td>KHABAROVSK</td>
        <td>5,900 kilometres</td>
      </tr>
      <tr>
        <td>With COMMANDER ISLANDS</td>
        <td>6,500 kilometres</td>
      </tr>
      <tr>
        <td>TIKSI</td>
        <td>7,200 kilometres</td>
      </tr>
      <tr>
        <td colspan="4"><strong>Benelux</strong></td>
      </tr>
      <tr>
        <td>ZAVENTEM/MELSBROEK</td>
        <td>945 kilometres</td>
      </tr>
      <tr>
        <td>VOLKEL</td>
        <td>945 kilometres</td>
      </tr>
      <tr>
        <td colspan="4"><strong>The Republic of Bulgaria</strong></td>
      </tr>
      <tr>
        <td>SOFIA</td>
        <td>660 kilometres</td>
      </tr>
      <tr>
        <td>BURGAS</td>
        <td>660 kilometres</td>
      </tr>
      <tr>
        <td colspan="4"><strong>Canada</strong></td>
      </tr>
      <tr>
        <td>OTTAWA</td>
        <td>5,100 kilometres</td>
      </tr>
      <tr>
        <td>IQALUIT</td>
        <td>6,150 kilometres</td>
      </tr>
      <tr>
        <td>YELLOWKNIFE</td>
        <td>5,100 kilometres</td>
      </tr>
      <tr>
        <td colspan="4"><strong>The Kingdom of Denmark</strong></td>
      </tr>
      <tr>
        <td>AALBORG</td>
        <td>1,400 kilometres</td>
      </tr>
      <tr>
        <td>VAGAR</td>
        <td>250 kilometres</td>
      </tr>
      <tr>
        <td>SOENDRE STROEMFJORD INTL</td>
        <td>5,600 kilometres</td>
      </tr>
      <tr>
        <td colspan="4"><strong>The Kingdom of Spain</srrong></td>
      </tr>
      <tr>
        <td>GETAFE</td>
        <td>1,800 kilometres</td>
      </tr>
      <tr>
        <td>with BALEARIC ISLANDS</td>
        <td>2,000 kilometres</td>
      </tr>
      <tr>
        <td>GANDO</td>
        <td>750 kilometres</td>
      </tr>
      <tr>
        <td colspan="4"><strong>The French Republic</strong></td>
      </tr>
      <tr>
        <td>ORLEANS-BRICY</td>
        <td>2,078 kilometres</td>
      </tr>
      <tr>
        <td>with CORSICA</td>
        <td>2,715 kilometres</td>
      </tr>
      <tr>
        <td colspan="4"><strong>The United Kingdom of <br/>Great Britain and Northern Ireland</strong></p>
      </tr>
      <tr>
        <td>BRIZE NORTON</td>
        <td>1,500 kilometres</td>
      </tr>
      <tr>
        <td>LEUCHARS</td>
        <td>1,500 kilometres</td>
      </tr>
      <tr>
        <td colspan="4"><strong>The Hellenic Republic</strong></td>
      </tr>
      <tr>
        <td>THESSALONIKI</td>
        <td>1,010 kilometres</td>
      </tr>
      <tr>
        <td>LARISA</td>
        <td>1,010 kilometres</td>
      </tr>
      <tr>
        <td>IRAKLIN/NIKOS KAZANTAKIS</td>
        <td>910 kilometres</td>
      </tr>
      <tr>
        <td>with KASTELORIZON ISLAND</td>
        <td>1,170 kilometres</td>
      </tr>
      <tr>
        <td colspan="4"><strong>The Republic of Hungary</strong></td>
      </tr>
      <tr>
        <td>KECSKEMET</td>
        <td>860 kilometres</td>
      </tr>
      <tr>
        <td colspan="4"><strong>The Republic of Iceland</strong></td>
      </tr>
      <tr>
        <td>KEFLAVIK</td>
        <td>1,500 kilometres</td>
      </tr>
      <tr>
        <td colspan="4"><strong>The Italian Republic</strong></td>
      </tr>
      <tr>
        <td>CIAMPINO</td>
        <td>2,015 kilometres</td>
      </tr>
      <tr>
        <td colspan="4"><strong>The Kingdom of Norway</strong></td>
      </tr>
      <tr>
        <td>OSLO-GARDERMOEN</td>
        <td>1,700 kilometres</td>
      </tr>
      <tr>
        <td>BARDUFOSS</td>
        <td>1,700 kilometres</td>
      </tr>
      <tr>
        <td colspan="4"><strong>The Republic of Poland</strong></td>
      </tr>
      <tr>
        <td>WARSZAWA-OKECIE</td>
        <td>1,400 kilometres</td>
      </tr>
      <tr>
        <td colspan="4"><strong>The Portuguese Republic</strong></td>
      </tr>
      <tr>
        <td>LISBOA</td>
        <td>1,200 kilometres</td>
      </tr>
      <tr>
        <td>Sta. MARIA</td>
        <td>1,700 kilometres</td>
      </tr>
      <tr>
        <td>PORTO SANTO</td>
        <td>1,030 kilometres</td>
      </tr>
      <tr>
        <td colspan="4"><strong>Romania</strong></td>
      </tr>
      <tr>
        <td>BUCHAREST-OTOPENI</td>
        <td>900 kilometres</td>
      </tr>
      <tr>
        <td>TIMISOARA</td>
        <td>900 kilometres</td>
      </tr>
      <tr>
        <td>BACAU</td>
        <td>900 kilometres</td>
      </tr>
      <tr>
        <td colspan="4"><strong>The Czech Republic</strong></td>
      </tr>
      <tr>
        <td>PARDUBICE</td>
        <td>800 kilometres</td>
      </tr>
      <tr>
        <td colspan="4"><strong>The Slovak Republic</strong></td>
      </tr>
      <tr>
        <td>SLIAC</td>
        <td>750 kilometres</td>
      </tr>
      <tr>
        <td colspan="4"><strong>The Republic of Turkey</strong></td>
      </tr>
      <tr>
        <td>ESKISEHIR</td>
        <td>1,500 kilometres</td>
      </tr>
      <tr>
        <td>DIYARBAKIR</td>
        <td>1,500 kilometres</td>
      </tr>
      <tr>
        <td colspan="4"><strong>Ukraine</strong></td>
      </tr>
      <tr>
        <td>BORISPO</td>
        <td>2,100 kilometres</td>
      </tr>
      <tr>
        <td colspan="4"><strong>The Kingdom of Sweden</strong></td>
      </tr>
      <tr>
        <td>UPPSALA</td>
        <td>1,700 kilometres</td>
      </tr>
      <tr>
        <td>RONNEBY</td>
        </td>1,700 kilometres</td>
      </tr>
      <tr>
        <td>LULEA</td>
        <td>1,700 kilometres</td>
      </tr>
      <tr>
        <td>STOCKHOLM/ARLANDA</td>
        <td>1,700 kilometres</td>
      </tr>
      <tr>
        <td colspan="4"><strong>The Republic of Finland</strong></td>
      </tr>
      <tr>
        <td>HELSINKI-VANTAA</td>
        <td>1,400 kilometres</td>
      </tr>
      <tr>
        <td>ROVANIEMI</td>
        <td>1,400 kilometres</td>
      </tr>
      <tr>
        <td colspan="4"><strong>Georgia</strong></td>
      </tr>
      <tr>
        <td>TIBLISI-LOCHINO</td>
        <td>1,255 kilometres</td>
      </tr>
      <tr>
        <td colspan="4"><strong>The Republic of Latvia</strong></td>
      </tr>
      <tr>
        <td>RIGA INTL</td>
        <td>800 kilometres</td>
      </tr>
    </table>
  </div>
</div>
