<div id="2006"></div>

<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p align="left">Open Skies Consultative Commission <br/>Slovenian Chairmanship</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">OSCC.DEL/7/06/Rev.3 <br/>17 July 2006</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>STATEMENT BY THE CHAIRPERSON OF THE OPEN SKIES CONSULTATIVE COMMISSION</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Evolution of the procedure for the distribution of active quotas for the year 2007</p>
    <p>With reference to:</p>
      <div class="col-sm-12">
        <p>Article III, Section I, paragraph 7 of the Treaty on Open Skies,</p>
        <p>Annex L, Section II of the Treaty on Open Skies,</p>
        <p>Article X on the responsibilities of the OSCC,</p>
        <p>OSCC Decision No. 12/04,</p>
        <p>The Chairperson of the Open Skies Consultative Commission (OSCC):</p>
          <div class="col-sm-12">
            <p>Looking forward to the distribution of quotas for the year 2007, on the basis of the experience gained in recent years, and with a view to improving the distribution process,</p>
            <p>Taking into account the statement by the Chairperson of the First Review Conference on the Implementation of the Treaty on Open Skies made in paragraph 9 dealing with the mechanism of quota distribution, that the OSCC may further review this mechanism after January 2006,</p>
            <p>Has suggested the following practical actions to introduce a period of informal consultations in advance of formal quota distribution process set out the above references:</p>
              <div class="col-sm-12">
                <p>1. States Parties may begin the whole process of active quota distribution, in an informal way, earlier. States Parties may submit, informally, a draft list of those States Parties over which they wish to conduct observation flights and number of such flights during the next calendar year by 15 September 2006, either by OSF34, by e-mail or by fax to all States Parties. All requests will be incorporated into a matrix, as used in previous years;</p>
                <p>2. States Parties hold discussions on active quota distribution between experts on 5 and 6 October 2006.</p>
                  <div class="col-sm-12">
                    <p>The formal 3‑week negotiation period referenced in Article III, Section I, paragraph 7 of the Treaty on Open Skies commences, as usual, on 1 October and OSF34s should be submitted by this date. The mechanism and timetable for distribution of active quotas is set out in OSCC Decision No. 12/04.</p>
                    <p>These initiatives could serve as an experiment aimed at improving the quota distribution process, which is a very important phase of the implementation of the Open Skies Treaty. The OSCC could review the effectiveness of this Chairperson's Statement in advance of the distribution of active quotas for 2008.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<hr>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p align="left">Open Skies Consultative Commission <br/>Swedish Chairmanship</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">OSCC.DEL/13/06 <br/>25 September 2006</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>OPENING STATEMENT BY THE SWEDISH CHAIRMANSHIP IN THE OPEN SKIES CONSULTATIVE COMISSION 25 September 2006</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Dear Colleagues,</p>
      <div class="col-sm-11 col-sm-offset-1">
        <p>Allow me to make a short opening statement as Chair of the Open Skies Consultative Commission. It's an honour for Sweden to chair the OSCC during this fall session, and let me express my thanks and appreciation to Slovenia and Slovakia as previous Chair's during 2006 for a job very well done. We will do our best to follow your example.</p>
        <p>We will continue the work towards a full implementation of the Treaty and we are counting on continuing constructive work and support from State Parties.</p>
        <p>We encourage and welcome new members from the OSCE region to join the Treaty.</p>
        <p>The application of Cyprus will remain on the agenda of the Open Skies Consultative Commission also during the Swedish Chairmanship.</p>
        <p>One of this Chair's responsibilities is to prepare and present the OSCC report to the OSCE CiO and the OSCC contribution to the Ministerial Council in Brussels. The Chair intends to present draft report and contribution at the next OSCC in October, and we welcome interested delegations to approach the chair.</p>
        <p>The Chair appreciates the work done in the Informal Working Groups and thanks the Chairpersons of the IWGRP and IWGP on Sensors for their efforts. The Chair is looking forward to a completion of the work with the remaining decisions in the IWGP on Sensors, so that these decisions can be adopted at the last OSCC in December.</p>
        <p>We look forward to the expert meeting on active quota distribution for 2007 on the 5th and 6th of October. The aim of that meeting should be to agree on the quota distribution for 2007.</p>
        <p>Furthermore, in the framework of and outside the agenda, the meeting should enable possibilities for bilateral consultations on practical arrangements concerning the quota flights, as well as to exchange views on other issues connected to the Treaty. The chairmanship hopes for a positive outcome and evaluation of the meeting and that it can serve as a model for future negotiations.</p>
        <p>I thank you for your attention!</p>
      </div>
  </div>
</div>

<hr>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p align="left">Open Skies Consultative Commission <br/>Swedish Chairmanship</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">OSCC.DEL/18/06 <br/>11 December 2006</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>CLOSING REMARKS BY THE SWEDISH CHAIRMANSHIP IN THE OPEN SKIES CONSULTATIVE COMISSION 11 December 2006</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Dear Colleagues,</p>
      <div class="col-sm-11 col-sm-offset-1">
        <p>Allow me to make some closing remarks as Chair of the Open Skies Consultative Commission.</p>
        <p>On the 5th and 6th of October we conducted the expert meeting on active quota distribution for 2007. The outcome of that meeting was very positive and I have the feeling that there is a general agreement to continue along the same line also next year. I hand over to the incoming chairs to consider and propose how to conduct and when to prepare for the meeting, my only recommendation for the time being is to start the preparations early next year.</p>
        <p>Thanks to constructive comments, support and flexibility shown from delegations we managed to reach consensus on the OSCC contribution to the Ministerial Declaration in Brussels. Unfortunately it was not possible to reach final consensus on a political declaration in Brussels.</p>
        <p>In my opening statement I expressed the hope that the OSCC should be able to adopt the decisions on Certification and Infra-red at the meeting today. I regret that this was not possible and I therefore call on State Parties to strengthen their efforts in this matter, in order to reach final agreement early next year. This is of great importance for the continuing implementation of the Treaty.</p>
      </div>
    <p>Dear Colleagues,</p>
      <div class="col-sm-12 col-sm-offset-1">
        <p>It has been a great pleasure to chair the OSCC during this fall session, and let me express my thanks and appreciation to all State Parties, the previous chairs Slovakia and Slovenia, the Chairman of the IWGRP, Mr Alexander Kozlov, the chairman of the IWGS, Mr Scott Simmons and our Chef de file for Quota distribution, Col Ratzlaff, the secretariat and our interpreters for a job well done and for a excellent support.</p>
        <p>Finally I would like to welcome the Czech Republic as the incoming Chair of the OSCC. We wish you all the best and you can count on our support during your Chairmanship next year.</p>
        <p>I thank you for your attention.</p>
      </div>
  </div>
</diV>

<hr>
<br/>
