<div id="2008"></div>

<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p align="left">Open Skies Consultative Commission <br/>Chairmanship: Belarus</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">OSCC.DEL/19/08 <br/>15 December 2008 <br/>OSCC+ <br/>ENGLISH only</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>DRAFT OSCC CHAIRPERSON'S STATEMENT ON <br/>SPECIFICATIONS FOR ALLOWED VIDEO SENSORS</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>The term "video camera" means a passive analogue or digital electro optic sensor, operating in a line scanning or framing mode, within the wavelength region between 0.3 and 1.1 micrometres. Sensor systems considered acceptable within this decision shall not have more than 4 spectral bands in specified regions (blue, green, red, and near-infrared). Sensor systems which include panchromatic capabilities, either individually or in combination with up to four spectral bands, are acceptable. A video camera certified under this decision shall not be designed with the intention of providing resolution better than the resolution determined by the size of the detector element (subpixel resolution). An example of this would be a pushbroom scanner with multiple rows of detectors for a single band that are offset in the cross-scan direction. The blue, green and red spectral bands have nominal wavelengths of 0.470, 0.547, and 0.635 micrometres respectively.</p>
    <p>A video camera with a sensor or sensors based on the principle of the Bayer pattern is considered acceptable under this decision without restriction to wavelength or bandwidth of the spectral bands.</p>
    <p>Video cameras producing images in separate channels (e.g., line scanners, framing (array) systems) shall be considered acceptable if they fulfill the following requirements.</p>
      <div class="col-sm-12">
        <p>1. For each red, green, or blue spectral band, the bandwidth, Dl, of that band shall be greater than 4 times the deviation of the central wavelength of that band, lband, from the nominal wavelength of that band, lnominal, Dl ≥ 4 | lband - lnominal |.</p>
        <p>2. For the near infrared band (if available), both the upper and lower minus 3dB points shall be within the limits of 0.690,1.100 microns.</p>
        <p>3. The bandwidths and central wavelengths of each colour band shall be measured with the filters appropriate for the sensor configuration.</p>
      </div>
  </div>
</div>

<hr>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p align="left">Open Skies Consultative Commission <br/>Chairmanship: Belarus</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">OSCC.DEL/19/08/Rev.1 <br/>17 December 2008 <br/>OSCC+ <br/>ENGLISH only</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>DRAFT OSCC CHAIRPERSON'S STATEMENT ON <br/>SPECIFICATIONS FOR ALLOWED VIDEO SENSORS</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>The term "video camera" means a passive analogue or digital electro optic sensor, operating in a line scanning or framing mode, within the wavelength region between 0.3 and 1.1 micrometres. Sensor systems considered acceptable within the Treaty on Open Skies shall not have more than 4 spectral bands in specified regions (blue, green, red, and near-infrared). Sensor systems which include panchromatic capabilities, either individually or in combination with up to four spectral bands, are acceptable. A video camera certified under the Treaty on Open Skies shall not be designed with the intention of providing resolution better than the resolution determined by the size of the detector element (subpixel resolution). An example of this would be a pushbroom scanner with multiple rows of detectors for a single band that are offset in the cross-scan direction. The blue, green and red spectral bands have nominal wavelengths of 0.470, 0.547, and 0.635 micrometres respectively.</p>
    <p>A video camera with a sensor or sensors based on the principle of the Bayer pattern is considered acceptable under the Treaty on Open Skies without restriction to wavelength or bandwidth of the spectral bands.</p>
    <p>Video cameras producing images in separate channels (e.g., line scanners, framing (array) systems) shall be considered acceptable if they fulfill the following requirements.</p>
      <div class="col-sm-12">
        <p>1. For each red, green, or blue spectral band, the bandwidth, Dl, of that band shall be greater than 4 times the deviation of the central wavelength of that band, lband, from the nominal wavelength of that band, lnominal, Dl ≥ 4 | lband - lnominal |.</p>
        <p>2. For the near infrared band (if available), both the upper and lower minus 3dB points shall be within the limits of 0.690,1.100 microns.</p>
        <p>3. The bandwidths and central wavelengths of each colour band shall be measured with the filters appropriate for the sensor configuration.</p>
      </div>
  </div>
</div>

<hr>
<br/>
