<div id="2010"></div>

<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p align="left">Open Skies Consultative Commission <br/>Chairmanship: Canada</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">OSCC.INF/6/10 <br/>22 January 2010 <br/>OSCC+ <br/>ENGLISH only</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>To: All States Parties to the Open Skies Consultative Commission <br/>Subject: Draft letter to EUROCONTROL on charging fees for Air Navigation Services</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>The Delegation of Canada to the OSCE would like to circulate the attached draft letter that we intend to send to EUROCONTROL concerning their procedure for charging fees to Open Skies State Parties. The draft letter will be discussed under item 10 Any other business.</p>
  </div>
</div>

<hr>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p align="left">Open Skies Consultative Commission</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">OSCC.DEL/1/10/Rev.1 <br/>25 January 2010 <br/>OSCC+ <br/>ENGLISH only</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>STATEMENT BY THE DELEGATION OF CANADA <br/>TO THE OPEN SKIES CONSULTATIVE COMMISSION</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Ladies and gentlemen, distinguished delegates,</p>
      <div class="col-sm-12">
        <p>It is my distinct pleasure to welcome you to the 51st session of the Open Skies Consultative Commission. As this is our first meeting of 2010, allow me to first wish all delegations a very happy and productive New Year, underscored by the safe and effective implementation of the Treaty, highlight by our upcoming Second Review Conference. Second, I would like to take this opportunity to acknowledge and thank Bulgaria, as our preceding Chair, for its concerted efforts throughout the fall session, and add that we very much look forward to working with Croatia in preparation for the spring session.</p>
        <p>As we commence our work, I believe we can all take tremendous satisfaction and pride in the Treaty's proven record of success as one of the most wide-ranging international confidence and security building instruments ever established. Indeed, we believe that the Treaty's original concept of "mutual aerial observation" has far exceeded expectations in having provided all States Parties the means to significantly enhance openness and transparency by enabling unempeded observation flights over one another's territories.</p>
        <P>Canada's support remains unwavering and we remain committed to playing a central role in the Treaty on Open Skies. We are particularly proud to serve as Co-Depository with Hungary and look forward to the continued successful implementation and progression of Open Skies. We are very pleased to assume the Chairmanship of the Consultative Commission and wish to assure all State Parties that we will do our utmost to make this session a success.</p>
        <p>I would like to share with you our four principal objectives for this session:</p>
          <div class="col-sm-12">
            <p>1. Support and Facilitate the Preparation of the Review Conference. As you know, the Second Review Conference will be held in June. We will work closely with the United States in its capacity as Conference Chair, in order to facilitate preparations and otherwise provide support to ensure relevance and productivity.</p>
            <p>2. Support the Informal Working Groups and the Working Methods of the Consultative Commission. We will continue to support work of the Informal Working Groups and the Working Methods of the Consultative Commission.There are currently four IWGs (Sensors, Rules and Procedure, Certification and Preparation of the Review Conference) which are progressing critical Treaty issues.We may re-establish some new ones.Priority will be accorded to providing guidance and direction needs to enable the IWG to promulgate mutually agreed-to decisions that will ultimately enhance the effectiveness of the Treaty.We will be working in close cooperation with the Chairman of the IWGS, Mr Scott Simmons, both as OSCC Chair and in a national capacity in order to achieve consensus regarding the Decision on Sensors before the Review Conference.</p>
            <p>3. Align the OSCC Scale of Distribution with the OSCE Scale. The Permanent Council having now adopted the Scale of Distribution for the OSCE, we will, as stated in Decision 9/09, propose a new decision for our scale for 2010 as per the intent of DD 02/10.</p>
            <p>4. Promote the Open Skies Treaty to other Delegations within the OSCE. To that end, my ambassador intends, in the coming weeks to write to delegations of the OSCE who are not States Parties to the Treaty, with a view of promoting their favourable consideration of accession to what we believe to be one of the most successful and relevant security covenants of our generation.</p>
          </div>
        <p>We hope that these objectives will meet your expectations and we are looking forward to your ideas, participation, and co‑operation in the coming months.</p>
      </div>
  </div>
</div>

<hr>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p align="left">Open Skies Consultative Commission <br/>Chairmanship: Canada</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">OSCC.DEL/4/10 <br/>22 March 2010 <br/>OSCC+ <br/>ENGLISH only</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>CLOSING REMARKS <br/>by the Chair <br/>22 March 2010</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Ladies and gentlemen, distinguished delegates,</p>
      <div class="col-sm-12">
        <p>It has been an honor and pleasure for Canada to Chair the 51st session of the Open Skies Consultative Commission. As a Co-Depository of the Open Skies Treaty, Canada remains firmly committed to strengthening this valuable tool. In our view, Open Skies is the jewel in the OSCE crown when it comes to its record in building regional confidence, security and trust through enhanced transparency, verification and military-to-military contacts.</p>
        <p>I wish to express my thanks and appreciation to all States Party to the Treaty for making this session so constructive and productive. We made progress on some important issues to prepare the ground for the upcoming Opens Skies 2nd Review Conference in June. More specifically, we adopted 5 Decisions that:</p>
          <div class="col-sm-12">
            <p>Decision 1 &mdash; Prolonged the work of the Informal Working Group on Sensors into the year 2010. The Group's work on Revision 1 to Decision 14, on the Digital Image Processing Decision and on Revision 2 to Decision 17 is significant and must continue;</p>
            <p>Decision 2 &mdash; Aligned the OSCC Scale of Contribution for 2010 in line with the OSCE Scale, as adopted by the Permanent Council in Dec 2009;</p>
            <p>Decision 3 &mdash; Simplified the Rules of Procedure and Working Methods of the Commission and its Informal Working Groups by superseding many previous OSCC Decisions;</p>
            <p>Decision 4* &mdash; Adjusted the distribution of Active Quotas for Observation flights for 2010;</p>
            <p>Decision 5 * &mdash; Clarified the last 2 digits of the calendar year for which the individual active flight quotas will apply.</p>
            <p>(* Decisions 4 & 5 were adopted by 51st Session on 22 March 2010).</p>
          </div>
        <p>As well, in the spirit of the OSCE's Corfu talks on Euro-Atlantic and Eurasian security, we also used our role as Chair to encourage OSCC participants to "think outside the box" in identifying ways to make the Open Skies Treaty work even better in address 21st century challenges. The same applies to expanding the Treaty's membership, so that more can benefit.</p>
        <p>On behalf of OSCC participants, I wish to sincerely thank the staff and Chairpersons of the Informal Working Groups:
          <div class="col-sm-12">
            <p>&mdash; <strong>Mr. Scott Simmons</strong> and his team of experts in the Sensors WG for their regular reports to the Commission and for tireless efforts in reaching an agreement on Rev 1 to Decision 14. This was a significant accomplishment and we wish them good luck in their future work this year.</p>
            <p>&mdash; <strong>Mr. Alexander Kozlov</strong> and his team in the IWG on Rules and Procedure, also for their valuable contributions.</p>
            <p>&mdash; <strong>Ms. Diana Marvin</strong> and her team in the IWG on the Preparation of the Review Conference. I know their work is still ongoing and will take a lot of time, effort and creativity. And, to the United States we wish good luck in chairing the 2nd Review Conference in June and achieving its success.</p>
          </div>
        <p>Chairing the 51st Session has been an excellent experience for my Delegation and for me personally. We could not have delivered this role without the superb work of the interpreters, and the excellent assistance and advice provided by the OSCE Secretariat, in particular Ms. Sandra Sacchetti, Ms Andrea Sekhavat - our sincere thanks for a job well done and for your support.</p>
        <p>In closing, allow me now to welcome Croatia as the incoming Chair of the OSCC, and to wish the next Chair all our very best.</p>
        <p>I thank you for your attention, and thank all of you for your support, and now declare the 51st Session closed.</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2 col-sm-offset-10">
    <p>Fredericka Gregory</p>
    <p>Ambassador</p>
    <p>Permanent Representative of</p>
    <p>Canada to the OSCE</p>
  </div>
</div>

<hr>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p align="left">Open Skies Consultative Commission <br/>Chairmanship: Croatia</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">OSCC.DEL/6/10 <br/>23 April 2010 <br/>OSCC+ <br/>ENGLISH only</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>STATEMENT BY THE DELEGATION OF CROATIA <br/>TO THE OPEN SKIES CONSULTATIVE COMMISSION</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Ladies and Gentlemen, Distinguished Delegates,</p>
      <div class="col-sm-12">
        <p>It is my special pleasure to welcome you to the 52nd session of the Open Skies Consultative Commission, to the first out of four meetings which Croatia will be chairing. As the party to the Treaty since 1 January 2005 it is the first time that we chair the Consultative Commission. This is certainly an honor and challenge and I hope that all of you will help the Chair to make this four months period a productive one.</p>
        <p>Canada and Bulgaria, the preceding Chairs, have been very successful in consolidating the work and the functioning of the Open Skies Treaty which is genuinely regarded as the most wide-ranging international confidence and security building instrument ever established. We intend to carry on with this task, particularly in view of the June Review Conference to be held under the Chair of the United States. We are looking forward to a fruitful cooperation.</p>
        <p>Certainly, our priority will be to support and facilitate the preparation of the Review Conference. To this end we expect that the Informal Working Groups, with the participation of our capable experts, will be dealing with all critical Treaty issues. We expect their concrete proposals to be translated into agreed decisions.</p>
        <p>In this context, at today's meeting we may I hope approve some of the draft decisions which have been under consultation for some time. This refers to the elements of the Decision on Sensors while further work is needed to complete this task. I wish to acknowledge the results achieved during several previous Chairmanship.</p>
        <p>It is obvious that the successful treaty as one of the Open Skies can only confirm its validity by enlarging its membership. Within its programme Canada's Ambassador has undertaken some activities and we would appreciate hearing if there are new developments.</p>
        <p>Finally, I would like to reiterate that the Croatian delegation is at your disposal for any matter. Your cooperation will be essential for ensuring the good result of our Chairmanship, before turning it to our Danish friends.</p>
        <p>Thank you for your attention.</p>
      </div>
  </div>
</div>

<hr>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p align="left">Open Skies Consultative Commission <br/>Chairmanship: Croatia</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">OSCC.DEL/5/10/Rev.1 <br/>12 May 2010 <br/>OSCC+ <br/>ENGLISH only</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>Draft OSCC Chairman's Statement <br/>on Adoption of Revision One to OSCC Decision 14</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>In order to provide all States Parties to the Treaty on Open Skies an opportunity to begin selection of digital video cameras, the OSCC is adopting Revision One to Decision 14, which establishes the spectral characteristics of the digital video cameras as well as the methodology for calculating the minimum height at which they may be operated.</p>
    <p>At the same time we emphasize that equipping an observation aircraft with digital video cameras and completing a successful certification of such sensors is possible only after the adoption of two additional decisions: the Digital Image Processing Decision and Revision Two to Decision 17. These draft decisions establish limits on the types of exchange data medium, requirements for data communications channels, and procedures for recording and erasure which may substantially affect a State Party's choice of digital video camera.</p>
    <p>Therefore, we call on all States Parties to put forth a diligent effort towards completing as soon as possible the remaining work undertaken by the Informal Working Group on Sensors by completing Revision Two to Decision 17 and the Digital Image Processing Decision.</p>
  </div>
</div>

<hr>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p align="left">Open Skies Consultative Commission</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">OSCC.DEL/10/10  <br/>20 September 2010 <br/>OSCC+ <br/>ENGLISH only</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>DRAFT STATEMENT BY THE DELEGATION OF DENMARK <br/>TO THE OPEN SKIES CONSULTATIVE COMMISSION</strong></p>
  </diV>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Ladies and gentlemen, distinguished delegates,</p>
      <div class="col-sm-11 col-sm-offset-1">
        <p>It is with great pleasure I welcome you to the 53rd session of the Open Skies Consultative Commission which Denmark will be chairing. As this is the first meeting after the Summer Recess, allow me to welcome all delegations back to this forum in what hopefully will turn out to be a productive fall session. I would like to take this opportunity to acknowledge and thank Canada and Croatia, as our preceding Chairs, for their efforts throughout the first two sessions of the year, and add that we very much look forward to working with Spain in preparation for the next session.</p>
        <p>Before we commence our work, I would like to share with you our four main objectives for this session:</p>
          <div class="col-sm-12">
            <p>Prepare the necessary inputs in support of the Summit in Astana. As has been decided by the OSCE Permanent Council the Summit Review Conference 2010 will be held in Vienna in the period 18, 26 October. Although not part of the Summit Agenda this forum will consider an input for the Review Conference. Furthermore, we will consider an input for the Summit Political Declaration. We will be in close contact with the Kazakh Chairmanship on these issues in order to support their efforts on a successful Summit.</p>
            <p>Support the holding of the Quota Distribution Meeting 7, 8 October 2010. In coordination with the new coordinator on Quota Distribution, Colonel Johannes Risse, the chair will contribute to achieving a smooth and satisfactory distribution of quotas for 2011. The Chair would like to thank the Delegation of Germany for again providing the coordinator for this important task.</p>
            <p>Follow up on the Second Open Skies Review Conference held in the period 7 - 9 June 2010. As you will recall, the Review Conference contained many well prepared presentations and also sparked some interesting discussions on modernizing the Open Skies Regime. Some of the main topics were new platforms, digitalization and bringing down the cost of implementation. These topics do not necessarily go hand in hand and would therefore most likely be a challenge to deal with in this forum. We would welcome and support any initiative on these issues brought forward by State Parties.</p>
            <p>Support the Informal Working Groups. There are currently three active IWGs ("Sensors", "Rules and Procedure" and "Notifications and Formats"). The IWGs are critical for progressing critical Treaty issues and we will support them in their efforts on further developing the Open Skies Treaty. This involves a lot of hard work, especially for those who are chairing the IWGs. We would like thank the chairpersons, Ms. Diana Marvin, Mr. Scott Simmons and Mr. Alexander Kozlov for their dedication and the time they invest in this work.
            We hope that the objectives will meet your expectations and we are looking forward to your ideas, participation, and co-operation in the coming months. We are very pleased to assume the Chairmanship of the Consultative Commission and wish to assure all State Parties that we will do our utmost to make this session a success.</p>
          </div>
      </div>
  </div>
</div>

<hr>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p align="left">Open Skies Consultative Commission <br/>Chairmanship: Denmark</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">OSCC.DEL/11/10  <br/>28 September 2010 <br/>OSCC+ <br/>ENGLISH only</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>DRAFT LETTER FROM THE CHAIRPERSON OF THE <br/>OPEN SKIES CONSULTATIVE COMMISSION TO THE <br/>CHAIRPERSON OF THE 2010 SUMMIT REVIEW CONFERENCE</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Your Excellency,</p>
      <div class="col-sm-12">
        <p>In my capacity as Chairperson of the Open Skies Consultative Commission (OSCC), I have the honour, also on behalf of the chairmanships of Canada and Croatia, to inform you of the activities of the OSCC since the 1999 Istanbul OSCE Summit.</p>
        <p>The Treaty on Open Skies, which entered into force in January 2002, is an important legally binding agreement that provides an unprecedented level of transparency among its States Parties from Vancouver to Vladivostok. The Treaty serves as a key pillar of co-operation within the Euro-Atlantic security architecture as a whole. Furthermore, Open Skies, together with the CFE regime and Vienna Document 1999, forms the backbone of the European conventional arms control system and builds confidence and security in the Euro-Atlantic and Eurasian regions. States Parties are fulfilling the goals set forth in the Treaty's preamble, especially with respect to improving openness and transparency.</p>
        <p>Through successful implementation of the Treaty, States Parties maintain a network of events that provide significant confidence and security-building results. This is accomplished through the diligent efforts of our respective teams in the conduct of over 100 observation flights annually, and over 700 flights since the Treaty entered into force.</p>
        <p>The Treaty is also intended to facilitate the monitoring of compliance with existing and future arms control agreements. For this reason, the States Parties have expressed their commitment to the continued, successful implementation of the Treaty in the future.</p>
        <p>Full implementation of the Treaty significantly contributes toward achieving the goals and objectives of the Organisation for Security and Cooperation in Europe (OSCE), in particular the promotion of confidence, stability and security in Europe. The Treaty continues to fully support the OSCE Strategy to Address Threats to Security and Stability in the Twenty-First Century, agreed by Ministers in 2003.</p>
        <p>A stable European security environment remains of paramount interest for all the States Parties. New risks and challenges to security continue to emerge, including a number of transnational threats unforeseen at the time the Treaty was negotiated. Adaptive use of Open Skies assets may provide opportunities for States to address these emerging threats and challenges, including those mentioned in Ministerial Decision 2/09 on Further OSCE Efforts to Address Transnational Threats and Challenges to Security and Stability.</p>
        <p>It is noted with satisfaction that to date 34 OSCE participating States are Parties to the Treaty. Expanding the membership of the Treaty would enhance the effectiveness and would provide the opportunity to broaden the security benefits derived from Treaty implementation within the OSCE area of application. The Chairperson encourages and welcomes accession to the Treaty by more OSCE participating States. The application of Cyprus remains on the agenda of the Open Skies Consultative Commission.</p>
        <p>The States Parties have recognized that the Treaty might serve as a model for aerial monitoring regimes in other regions of the world in order to promote security and stability. They are prepared to enter into dialogue with interested parties in order to share experience, to exchange general information about the Treaty and its benefits and to provide advice on cooperative aerial observation.
        Eighteen years after its signature, the Treaty continues in a spirit of cooperation and trust that has grown over time, proving its enduring relevance and viability. In our dynamic security environment, the Treaty provides a valuable means to enhance openness and transparency among the Parties. The States Parties look forward to future contributions the Treaty will make toward the security of all Parties.</p>
        <p>Your Excellency, you may deem it useful to reflect this information in the relevant part ofthe 2010 Summit Review Conference.</p>
      </div>
  </div>
</div>

<hr>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p align="left">Open Skies Consultative Commission <br/>Chairmanship: Denmark</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">OSCC.DEL/12/10/Rev.2  <br/>16 November 2010 <br/>OSCC+ <br/>ENGLISH only</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>Sharing Open Skies Assets Informal "Brainstorming Session" <br/>22 November 2010 <br/>?Monday, 22 November 2010 <br/>at 11:00 a.m., in the Ratsaal</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p><strong>Background:</strong> 2nd Open Skies Review Conference Final Document:</p>
      <div class="col-sm-12">
        <p>"States Parties are encouraged to examine options for sensor replacement, on a national basis or jointly with others, in the immediate future. Also, some Open Skies aircraft are nearing service limits, and are costly to maintain. Replacement costs for introducing newer aircraft into the Open Skies fleet also will require significant investment. Hence, the long-term viability of the Treaty requires States Parties to engage in planning, separately and together, for these important capital investments."</p>
      </div>
    <p><strong>Purpose:</strong> To begin a dialog among the States Parties on how to address possible sharing of assets in the future. Sharing resources also supports CSBMs goals of the Treaty.</p>
    <p><strong>Presentations:</strong></p>
      <div class="col-sm-12">
        <p>Canada: "A proposal for the CN-235/C295 family of aircraft as a Common Operating Platform for the Open Skies Treaty" by Mr. Randy Price and Mr. Fernando Cir'a, AIRBUS MILITARY.</p>
        <p>Italy: "ATR solutions for Open Skies flights" by Mr. Stefano PORRECA, Project Engineer, ALENIA AERONAUTICA.</p>
        <p>Denmark: "Flex-jet solution for Open Skies" by Lt.Col. Niels Poul Petersen.</p>
      </div>
    <div class="col-sm-12 text-center">
      <p>2</p>
    </div>
    <p><strong>Outline for Discussion:</strong></p>
      <div class="col-sm-12">
        <p>1. Assets that might be shared:</p>
          <div class="col-sm-12">
            <p>a. Aircraft</p>
            <p>b. Sensors</p>
            <p>c. Certification targets</p>
            <p>d. Data Processing facilities</p>
            <p>e. Point of Entry facilities</p>
            <p>f. Other?</p>
          </div>
        <p>2. Joint operation of aircraft?</p>
          <div class="col-sm-12">
            <p>a. Ownership (national only; national on behalf of others; shared)</p>
            <p>b. Legal issues; contracting; sharing costs</p>
            <p>c. Type of aircraft: military, civilian government, commercial lease</p>
            <p>d. What might make joint ownership easier?</p>
            <p>e. How can this be designed to increase cooperation, ensure all parties can actively participate?</p>
            <p>f. Permanent/temporary base of joint assets</p>
            <p>g. Portable sensors?</p>
            <p>h. Should the Shared Assets be under control of military authorities or could it be possible to hire civilian aircraft, crew, companies etc.?</p>
          </div>
        <p>3. If there were enough interest in shared assets, how should it be organized in order to achieve:</p>
          <div class="col-sm-12">
            <p>a. Cheapest per flight hour/mission</p>
            <p>b. Most CSBM value</p>
          </div>
        <p>4. Should the fleet have two parts: long-range and short-range aircraft?</p>
        <p>5. What possible options exist already?</p>
          <div class="col-sm-12">
            <p>a. Build/buy an additional TU-214</p>
            <p>b. German A-310s</p>
            <p>c. Combine existing aircraft into a jointly operated fleet (Saab, Casa, AN-30s, etc)</p>
          </div>
        <p>6. Sharing sensors without sharing aircraft:</p>
          <div class="col-sm-12">
            <p>a. Pod group V2 with digital sensors?</p>
            <p>b. Pod configured for multiple aircraft (C-130, Saab, P-3, Casa, AN-30)?</p>
            <p>c. Because the sensors are digital, it might reduce difficulties associated with no direct access to sensors in flight.</p>
          </div>
        <p>7. Sharing a common target:</p>
          <div class="col-sm-12">
            <p>a. For pre-certification flight tests</p>
            <p>b. For certification events</p>
            <p>c. Central location in Europe / one in N. America</p>
          </div>
        <p>8. Data processing facilities:</p>
          <div class="col-sm-12">
            <p>a. As film use decreases, consolidate film processing resources</p>
            <p>b. Share scanners for digitizing film (pending digital sensors certifications)</p>
            <p>c. How to share tools for all digital data output?</p>
          </div>
        <p>9. Points of Entry:</p>
          <div class="col-sm-12">
            <p>a. Centralize several entry/exit points in Europe, location?</p>
            <p>b. Multinational staffing?</p>
            <p>c. Co-locate with data processing and targets?</p>
          </div>
        <p>10. Other issues:</p>
          <div class="col-sm-12">
            <p>a. How could the process for sharing assets be started?</p>
            <p>b. Notifications and should there be new ones/formats?</p>
            <p>c. Is a new database to be controlled by the OSCE Communication Network Team for Open Skies Assets Sharing required?</p>
          </div>
      </div>
  </div>
</div>

<hr>
<br/>
