<div id="2011"></div>

<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p align="left">Open Skies Consultative Commission <br/>Chairmanship: Spain</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">OSCC.DEL/1/11/Rev.1 <br/>17 January 2011 <br/>OSCC+ <br/>Original: ENGLISH</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>DRAFT STATEMENT BY THE DELEGATION OF SPAIN TO THE OPEN SKIES CONSULTATIVE COMMISSION</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Ladies and gentlemen, distinguished delegates,</p>
    <p>It is with great pleasure for me to welcome you to the opening of the 54th session of the Open Skies Consultative Commission which Spain will be chairing. As this is the first meeting after the Winter Recess, allow me to welcome all delegations back to this forum in what hopefully will turn out to be a productive Spring Session. I would like to take this opportunity to acknowledge and thank Canada, Croatia and Denmark, as our preceding Chairs in 2010, for their efforts throughout the three sessions of the last year, and add that we very much look forward to working with Estonia in preparation for the next session.</p>
    <p>We regret that, despite the efforts made by the Danish Chair, consultations on the Open Skies Consultative Commission contribution to the Declaration of the 2010 OSCE Summit, on the basis of the previous Chairmanship's proposal, did not lead to a successful conclusion on which further discussions in the OSCC can be based upon. We believe, however, that there is enough room for improving the implementation of the Open Skies Treaty, as discussed by participants at the Open Skies Sharing Assets Meeting, held in November 2010. We also consider a success the agreement reached on new versions of a number of Open Skies Formats at the meeting of the Informal Working Group on Notifications and Formats, held in December 2010.</p>
    <p>Having said that, and before we commence our work today, I would like to share with you our three main objectives for this session:</p>
      <div class="col-sm-12">
        <p>1. To continue the follow up of the Second Open Skies Review Conference held in the period 7 - 9 June 2010. As you will recall, the Review Conference contained many well prepared presentations and also sparked some interesting discussions on modernizing the Open Skies Regime.</p>
        <p>2. To support the currently active Informal Working Groups. Their work is critical for getting progress in the implementation of the Treaty. We would like to take this opportunity to thank once more the chairpersons: Mr. Scott Simmons (IGW on Sensors); Ms. Diana Marvin (IGW on Notifications and Formats); and Mr. Alexander Kozlov (IGW on Rules and Procedures) for their dedication and the time they invest in this endeavour. At the same time, this Chair would like to thank the Delegation of Germany, in particular Colonel Johannes Risse, for his work as coordinator on Quota Distribution.</p>
        <p>3. To follow up the discussions held at the Open Skies Sharing Assets Meeting in 2010, and meet once a month in the format of informal working group in order to discuss on concrete proposals made and introduced by the delegations of the State Parties.</p>
      </div>
    <p>We hope that the objectives will meet your expectations and we are looking forward to your ideas, participation, and co-operation in the coming months. We are very pleased to assume the Chairmanship of the Consultative Commission and wish to assure all State Parties that we will do our utmost to make this session a success.</p>
  <div>
</div>

<hr>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p align="left">Open Skies Consultative Commission <br/>Chairmanship: Spain</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">OSCC.DEL/22/10/Rev.1 <br/>18 January 2011 <br/>OSCC+ <br/>ENGLISH only</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>Chairman's notes on the Open Skies Sharing Assets Meeting &mdash; 22 November 2010</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p><strong>Rapporteur</strong></p>
      <div class="col-sm-12">
        <p>Natasha Adams, USA</p>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p><strong>Presentations</strong></p>
      <div class="col-sm-12">
        <p>The Open Skies Sharing Assets Brainstorming Meeting, held on November 22 in Vienna under Danish Chairmanship, opened with two industry presentations and one national presentation. Airbus (Fernando Cir'a), sponsored by Canada, presented its CN-295 Open Skies platform solution as the lowest cost and highest value option for the transition to digital sensors, and emphasized that it is currently in production and available for speedy delivery (OSCC.DEL/20/10). Airbus described its CN-295 as a standardized solution for Open Skies that would allow for multi-role capability. Several States Parties already possess and fly the CN-295 in non-Treaty missions and one State Party operates a smaller version, the CN-235, for Open Skies missions. The aircraft can deploy all Open Skies Treaty sensors, carry a nine-ton payload, and achieve ranges of 1,770 NM (7,000 feet) and 2,140 NM (17,000 feet).</p>
        <p>Alenia Aeronautica's (Stefano Porreca) presentation was based on a common fleet approach for a commercial aircraft whereby a small fleet of ATR-72 aircraft could benefit from a centralized operating base in Europe, which would keep operating costs low (OSCC.DEL/21/10). The ATR-72 has a 1,640 NM range on standard fuel and 2,140 NM with fuel tanks. An under-fuselage sensor bay can support a range of sensors, including digital panoramic, vertical, infrared Line Scanner, and synthetic aperture radar, along with a TV camera.</p>
        <p>Denmark shared lessons learned from the Danish Royal Air Force's use of the Gulfstream-III aircraft for multi-role capability to conduct regular and VIP transport, medical evacuation, maritime patrol, and sea pollution evaluation, which could serve as a model for future Open Skies solutions. The presentation highlighted the problem of a lack of small, long-range aircraft for Open Skies missions. Noting the advantages of digital sensors (lightweight, require less space, potentially lower operating costs when used for a variety of functions), Denmark concluded that new Open Skies aircraft should be more flexible, cost-effective, and able to perform short and long-range missions.</p>
        <p>The discussion following the presentations showed interest in Alenia Aeronautica's proposal for developing a small fleet of ATR72 aircraft among Open Skies States Parties, asking what number of aircraft would be required for it would be viable for the company, how the aircraft could maintain a schedule that demanded one flight every week of the year, and how many flight hours per year would be optimal from a cost perspective. Alenia Aeronautica explained that the company defines a small fleet as approximately two to three aircraft with maintenance based on schedule, rather than flight hours. He added that the current aircraft used for maritime patrol operations have had no difficulty performing missions daily, which has not posed a maintenance problem as the ATR72 is a close derivative of a commercial aircraft.</p>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p><strong>Leasing Options</strong></p>
      <div class="col-sm-12">
        <p>A number of States Parties considered possible rental or pay-by-hour options industry could offer, and expressed interest in possible cost estimates for comparison. Airbus cautioned that a pooled or one-owner solution would be more affordable, but offered to analyze whether it could justify a pay-by-hour option for the CN295 based on an agreed number of flight hours. An analysis of existing capacity and willingness for leasing aircraft was also raised as another option for leasing based on existing Open Skies aircraft.</p>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p><strong>Sharing Aircraft/Common Platforms</strong></p>
      <div class="col-sm-12">
        <p>The political value of a common or shared Open Skies fleet was raised during the deliberations. While it is important to consider the technical issues, some argued that a common or shared fleet would have substantial political impact and would demonstrate the political will to cooperate on implementing the Treaty.</p>
        <p>A new idea proposed by one State Party was based on a reciprocal "taxi option" to allow States Parties to fly missions, for example, over the U.S. in the U.S. aircraft, over Russia and Ukraine in the Russian aircraft, and over all other European missions flown using a European-based aircraft (in this scenario, most likely a shared aircraft), thereby limiting transit flights and increasing transparency. This future scenario of operations would be based on a transition to digital sensors, but provided an opportunity to think more broadly about options for sharing aircraft.</p>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p><strong>Digital Sensor Transition</strong></p>
      <div class="col-sm-12">
        <p>It was noted that States Parties are coming up against a technology challenge that will make continued implementation using wet film very difficult, which added weight to the discussion regarding a transition to digital sensors. The difficulties States Parties face in sharing digital sensors include the need for recurring engineering for a common pod for different platforms, testing flight-worthiness, and the buy-in of multiple States Parties. In order to remain cost-effective, it may be important to avoid changing the pod itself in a move toward shared digital sensors.</p>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p><strong>Forming Sub-Working Groups on Issues of Interest</strong></p>
      <div class="col-sm-12">
        <p>The formation of sub-working groups on particular issues was identified as a logical next step. Such informal working groups on issues like sharing existing assets or pursuing a long-term aircraft lease agreement could be formed as deemed necessary, and would allow interested States Parties the opportunity to join in advancing specific ideas. Based on the interest in more detailed cost estimates on new aircraft from the two industry reps, one idea was to establish a group to prepare an "operational requirement" statement to submit to industry, similar to a national acquisition process.</p>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p><strong>Next Steps</strong></p>
      <div class="col-sm-12">
        <p>&mdash; Assess specific issues of interest that would warrant formation of an informal sub-working group for interested participants to develop concrete ideas.</p>
        <p>&mdash; Develop a statement of requirements to present to industry reps to get a clear response in terms of aircraft options on offer. Many reps supported having a meeting to develop a statement of "operational requirements," that would be similar to what individual nations would prepare for companies in the national acquisition process</p>
        <p>&mdash; Consider the proposed new concept of operations based on new aircraft with digital sensors or current aircraft with digital sensors. Under the proposed concept, a European State, such as Spain, could conduct a flight over Russia in the Russian aircraft by giving Russia the option to conduct a flight over Spain using a European-based aircraft, which could reduce long transit flights and increase transparency.</p>
        <p>&mdash; Convene current operators of similar platforms to discuss the transition to digital sensors (e.g., the AN aircraft operators and the POD operators).</p>
      </div>
  </div>
</div>

<hr>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p align="left">Open Skies Consultative Commission <br/>Chairmanship: Spain</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">OSCC.INF/2/11 <br/>18 January 2011 <br/>OSCC+ <br/>Original: ENGLISH</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Spain, as Chair of the Open Skies Consultative Commission, would like to recall all OSCC delegations the invitation sent in December 2010 (OSCC.DEL/23/10, 14 December 2010) to make contributions with concept papers, food-for-thought papers, statements, etc. on the basis of the Chairman's notes on the Open Skies Sharing Assets Meeting, held on 22 November 2010, distributed now on 18 January under the reference OSCC.DEL/22/10/Rev.1 (18 January 2011), at an informal meeting following the 1st Plenary Meeting of the 54th Session of the OSCC scheduled on Monday 24 January 2011, in the Ratsaal.</p>
  </div>
</div>

<hr>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p align="left">Permanent Mission of Spain to the OSCE</p>
    <p>Argentinierstrasse 34, 1040 Vienna</p>
    <p>Tel. +43 (1) 505 86 00 <br/>Fax +43 (1) 505 86 00 388 <br/>E-mail: esp.osce@mae.es <br/>E-mail: esp.osce.polmil@mae.es</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">OSCC.DEL/3/11 <br/>21 January 2011 <br/>OSCC+ <br/>ENGLISH only</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>DRAFT SPEAKING NOTES FOR THE MEETING OF THE INFORMAL WORKING GROUP ON OPEN SKIES SHARING ASSETS <br/>24 January 2011</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>As you may recall, Spain, as Chair of the Open Skies Consultative Commission, invited all OSCC delegations in December 2010 (OSCC.DEL/23/10, 14 December 2010) to make contributions with concept papers, food-for-thought papers, statements, etc. on the basis of the Chairman's notes on the Open Skies Sharing Assets Meeting, held on 22 November 2010, hosted by the Delegation of Denmark.</p>
    <p>The last revision of the Chairman's notes, prepared by the Danish delegation, was distributed on 18 January under the reference OSCC.DEL/22/10/Rev.1 (18 January 2011).</p>
    <p>At the same time, as an input for the discussion on developing requirements for a shared Open Skies Aircraft a paper was distributed by the U.S. Delegation to the OSCC, under the reference OSCC.DEL/2/11, on 20 January 2011.</p>
    <p>If they wish so, other delegations or experts may proceed with oral statements or presentations today, and I would like to invite them to circulate their speaking notes or papers later for all the experts.</p>
    <p>I would like to propose you the following modalities:</p>
      <div class="col-sm-12">
        <p>1. I would like to invite our Danish colleague to introduce the revised version of the Chair's notes distributed on 18 January.</p>
        <p>2. Secondly, I would like to invite our colleague from the U.S. Delegation to introduce the paper distributed on 20 January.</p>
        <p>3. Later on, I would like to give the floor to all other delegations and experts wishing to make oral statements or presentations of their proposals.</p>
        <p>4. A new meeting will be called for discussing on concrete proposals based on the presentations made today on 21 February, following the meeting of the OSCC.</p>
      </div>
    <p>Thank you, very much.</p>
  </div>
</div>

<hr>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2 col-sm-offset-10">
    <p align="right">OSCC.DEL/12/11 <br/>18 February 2011</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Excellency,</p>
    <p>I thank you very much for your letters of 3, 14 and 16 February concerning the 1st Meeting of the 54th Session of the Open Skies Consultative Commission (OSCC). As requested, "your four letters have been distributed under the references OSCC.DEL/4/11, OSCC.DEL/7/11, " OSCC.DEL/8/11 and OSCC.DEL/9/11.</p>
    <p>I agree with you that, as stated in Article X (2), the Open Skies Treaty mandates the "OSCC to make decisions or recommendations by consensus. There is no distinction between substantive and procedural decisions; accordingly, the making of decisions on agendas is subject to consensus and Turkey is prima facie within its rights to object to the Commission's agenda."</p>
    <p>However, Article X (3) gives a right to any State Party to "have placed on its agenda any issue relating to this Treaty". This would include the right of each State Party to place on the agenda a request for accession to the Treaty that Canada and/or Hungary may have received in their capacity as Depositaries.</p>
    <p>This results in an apparent conflict "namely between one State's right to put an item on the agenda, and another State's to object to the agenda as a whole. The Vienna Convention on the Law of Treaties" provides in Art. 31 (1) that "A treaty shall be interpreted in good faith in accordance with the ordinary meaning to be given to the terms of the treaty in their context and in the light of its object and purpose". Clearly, the object and purpose of Art. X (3) of the Treaty is for States to be able to raise concerns and have these addressed in the OSCC; if it were possible for a State to simply block an item in which it has a particular interest from appearing on the agenda (e.g. its refusal to provide access), the raison d'tre of the above mentioned article would arguably be undermined.</p>
    <p>The accession of a State is a matter governed by Art. XVII (4) of the Treaty. Although there is no specific provision entitling the Depositaries to place before the OSCC an application for accession, in this Chair's view there is good argument to be made that Canada or Hungary "or any other State Party, for that matter- could place Cyprus's application for accession on the agenda as an 'issue relating to this Treaty'. This would permit such a State to insist on the item's placement on the agenda pursuant to Art. X (3). This is also confirmed by the language of section IV, paragraph 3, of the Decision No 6 of the OSCC (Rules of Procedure and Working Methods of the OSCC)."" Based on the information available, Cyprus' application for accession was submitted in accordance with the Treaty and there is accordingly no argument to be made that this application falls outside the Treaty.</p>
    <p>Moreover, Art. XVII (4) of the Treaty on open Skies further states that, in respect of an application for accession by an OSCE participating State, "the matter shall be considered at the next regular meeting in the Open Skies' Consultative Commission and decided in the due course." The interpretation in good faith of that sentence would be that there is an obligation for the OSCC to actually consider the request, and to come to a conclusion about it (whatever that conclusion may be). In this Chair's view, preventing the request from being considered by the OSCC, through the procedural expedient of not joining consensus on an agenda that contains Cyprus' application, would be inconsistent with Art. XVII (4).</p>
    <p>Therefore, in my capacity as Chairperson of the OSCC, I inform you that my intention is to proceed accordingly.</p>
    <p>Please accept, Excellency, the assurances of my highest consideration.</p>
      <div class="col-sm-12">
        <p>Marta Betanzos Roig</p>
        <p>H.E. Ambassador Naci Saribas</p>
        <p>Permanent Representative</p>
        <p>Permanent Mission of Turkey to the OSCE. Vienna.</p>
      </div>
  </div>
</div>

<hr>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p align="left">Open Skies Consultative Commission <br/>Chairmanship: Spain</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">OSCC.DEL/16/11/Corr.1 <br/>22 March 2011 <br/>OSCC+ <br/>ENGLISH only</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>PROPOSED MODALITIES FOR THE MEETING ON <br/>OPEN SKIES SHARING ASSETS <br/>28 March 2011 <br/>(after the Meeting of the Informal Working Group on Rules and Procedures (IWGRP) in the Ratsaal)</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Spain, proposes the following modalities for the meeting on Open Skies Sharing Assets on 28 March 2011:</p>
      <div class="col-sm-12">
        <p>1. Presentation of the food-for-thought paper on the reciprocal use of the "taxi option" in observation flights under the Treaty on Open Skies (OSCC.DEL/11/11/Corr.1) by the Spanish Delegation.</p>
        <p>2. Discussion among participants on the paper distributed by the U.S. Delegation on developing requirements for a shared Open Skies Aircraft (OSCC.DEL/2/11, 20 January 2011).</p>
        <p>3. Oral statements or presentations of other proposals by the participants.</p>
        <p>4. Proposed date for the next meeting: 11 April 2011.</p>
      </div>
  </div>
</div>

<hr>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p align="left">Open Skies Consultative Commission <br/>Chairmanship: Spain</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">OSCC.DEL/18/11 <br/>4 April 2011 <br/>OSCC+ <br/>ENGLISH only</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>PROPOSED MODALITIES FOR THE MEETING ON OPEN SKIES SHARING ASSETS <br/>11 April 2011 <br/>(after the Meeting of the Informal Working Group on Rules and Procedures (IWGRP) in the Ratsaal)</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Spain, proposes the following modalities for the meeting on Open Skies Sharing Assets on 11 April 2011:</p>
      <div class="col-sm-12">
        <p>1. Continued discussion among participants on the paper distributed by the Spanish Delegation on the reciprocal use of the "taxi option" in observation flights under the Treaty on Open Skies (OSCC.DEL/11/11/Corr.1).</p>
        <p>2. Continued discussion among participants on the paper distributed by the U.S. Delegation on developing requirements for a shared Open Skies Aircraft (OSCC.DEL/2/11, 20 January 2011).</p>
        <p>3. Oral statements or presentations of other proposals by the participants.</p>
        <p>4. Proposed date for the next meeting: 23 May 2011 (to be confirmed).</p>
      </div>
  </div>
</div>

<hr>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p align="left">Open Skies Consultative Commission <br/>Chairmanship: Estonia</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">OSCC.DEL/27/11 <br/>25 May 2011 <br/>OSCC+ <br/>ENGLISH only</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>OPENING STATEMENT BY THE CHAIRPERSON OF THE OPEN SKIES CONSULTATIVE COMMISSION</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Ladies and gentlemen, dear colleagues,</p>
      <div class="col-sm-12">
        <p>It is with great pleasure that I welcome you to the first plenary meeting of the 55th Session of the Open Skies Consultative Commission. It has been a while since we last met and I hope that we have all had the possibility both to enjoy the spring recess and also to contemplate on Open Skies issues. At this point I would like to take this opportunity to thank the holders of the previous Chairmanship, Spain, for their dedication and hard work in chairing the Commission during the last session; similarly, we look forward to working with the holders of the forthcoming Chairmanship, Finland.</p>
        <p>I would first of all like to share with you our main objectives for this session.</p>
        <p>The main aim of the Chairmanship as regards the 55th Session of the OSCC is to help the body to work effectively and efficiently. This aim may not seem a very ambitious one, but given the current circumstances, of which we are all aware, it is an aim that imposes upon us all a common challenge and a shared responsibility. In our view, we are facing nothing less than a questioning of the credibility of the OSCC, which was established in order to promote the objectives and facilitate the implementation of the Treaty. Therefore I am asking for your understanding, constructiveness and support in meeting this challenge. For my own part, I assure you that we will do our best to fulfil our task as holders of the Chairmanship in a neutral manner, that is to say, to serve all of you as best we can and to promote our common goal of keeping the Commission going.</p>
        <p>In a second I will explain the modalities of today's meeting and the way ahead that we propose. Before I do that, however, kindly allow me to say some words about our other priorities.</p>
          <div class="col-sm-12">
            <p>1. We would like to see continued follow-up to the Second Review Conference held in June 2010. We value the contributions already made by various States Parties on issues raised at the Review Conference, and we will encourage a further exchange of ideas during our Chairmanship.</p>
            <p>2. In our view the working groups are essential to the proper functioning and development of the Open Skies Treaty. Therefore the Chairmanship will continue to follow the work of the existing informal working groups and maintain close contacts with all the chairpersons. I would like to use this opportunity to thank Mr. Scott Simmons, the long-standing chairperson of the Informal Working Group on Sensors, and Mr. Dennis Grieshop, who took it over recently; and furthermore Ms. Diana Marvin, chairperson of the Informal Working Group on Notifications and Formats, and Mr. Alexander Kozlov, the chairperson of the Informal Working Group on Rules and Procedures.</p>
            <p>3. We will seek to establish the Informal Working Group on Sharing Assets, which we consider will be a valuable tool for facilitating discussions on this very important topic. A relevant draft decision has been prepared for your consideration and we hope that it will be adopted as soon as possible. I would like to thank Germany and other States Parties for their contributions concerning the topic of sharing assets, and I would especially like to commend Colonel Johannes Risse, military adviser of Germany, for his dedicated work in leading informal meetings on this subject.</p>
          </div>
        <p>These are our general objectives for the 55th Session of the OSCC. Now, before we commence our actual work, please allow me to explain the agenda and the arrangements for today's plenary meeting.</p>
        <p>During the 54th Session of the Open Skies Consultative Commission, States Parties experienced a difference of opinion on the procedure regarding adoption of the plenary agenda that has led to a situation in which it is difficult for the OSCC to conduct business effectively. We have come to the conclusion that the OSCC is currently no longer able to hold plenary meetings according to previous agenda practice. The Chairmanship, in an effort to preserve the continued smooth functioning of the Treaty, and after extensive consultations with the Treaty partners, proposes the following way ahead. You have received for today's meeting two documents:</p>
          <div class="col-sm-12">
            <p>1. Firstly, you have the provisional general agenda of the first plenary meeting of this session (circulated as document OSCC.INF/11/11). Article X, paragraph 2 of the Treaty states that the OSCC "shall take decisions or make recommendations by consensus." As it is our understanding that consensus rule is one of the main general principles of the work of the Commission, we propose to adopt this agenda by consensus.</p>
            <p>2. You also have a separate document (circulated as OSCC.INF/12/11) listing all the draft decisions that we have taken over from the previous Chairmanship and also the one presented to you during our Chairmanship (on establishing an Informal Working Group on Sharing Assets). This document/list is distributed for your information in order to facilitate our work. It is not subject to adoption or approval.</p>
          </div>
        <p>In our view, this general agenda covers all the issues that the Commission is required to consider according to Article X, paragraph 4 of the Treaty. On the basis of this article, we have added one additional item into the agenda. This is item 7, entitled "Information on compliance with the provisions of the Treaty".</p>
        <p>At the same time, we all know that Article X, paragraph 3 of the Treaty makes the following provision: "Each State Party shall have the right to raise before the OSCC, and have placed on its agenda, any issue relating to this Treaty."" I encourage you to use this right</p>
        <p>(it is not an obligation) in a constructive manner, and to address issues that you may wish to raise before the Commission under a suitable agenda item without asking for the issues to be explicitly reflected in the agenda.</p>
        <p>We understand that our proposal constitutes a considerable departure from the current practice, but we believe that it is a possible way of addressing the impasse and of enabling us to carry on our work in accordance with the existing rules and procedures. If we cannot agree on this agenda today, I believe that we may need to start looking for even more substantial changes, possibly even changes to our current rules. But as you all understand, this would require considerable time and good will on the part of all concerned.</p>
        <p>I hope that with this explanation I have managed to clarify the proposed modalities for this meeting. If they are acceptable, I hope that we can follow similar modalities in the future, unless otherwise decided.</p>
      </div>
  </div>
</div>

<hr>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p align="left">Permanent Mission of Spain to the OSCE</p>
    <p align="left">Argentinierstrasse 34, 1040 Vienna</p>
    <p align="left">Tel. +43 (1) 505 86 00 <br/>Fax +43 (1) 505 86 00 388 <br/>E-mail: esp.osce@mae.es <br/>E-mail: esp.osce.polmil@mae.es</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">OSCC.DEL/6/11 <br/>14 February 2011 <br/>OSCC+ <br/>ENGLISH only</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>PROPOSED MODALITIES FOR THE MEETING ON OPEN SKIES SHARING ASSETS <br/>21 February 2011 <br/>(after the meeting of the Informal Working Group on Rules and Procedures)</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Spain, proposes the following modalities for the meeting on Open Skies Sharing Assets on 21 February:</p>
      <div class="col-sm-12">
        <p>1. Discussion among participants on the paper distributed by the U.S. Delegation on developing requirements for a shared Open Skies Aircraft (OSCC.DEL/2/11, 20 January 2011).</p>
        <p>2. Oral statements or presentations of other proposals by the participants.</p>
        <p>3. Proposed date for the next meeting: 28 March 2011.</p>
      </div>
  </div>
</div>

<hr>
<br/>
