<div id="2015"></div>

<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p>Open Skies Consultative Commission</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">OSCC.INF/6/15/Rev.1 <br/>20 April 2015 <br/>OSCC+ <br/>ENGLISH only</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>Work Programme of the 67th Session of the Open Skies Consultative Commission (OSCC) <br/>Chairmanship: Norway <br/>(10 April 2015 – 29 August 2015)</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Items for the 67th Session of the Open Skies Consultative Commission</p>
      <div class="col-sm-12">
        <p>1. Issues Relating to the Treaty Paragraph 4 A of Article X (Compliance with the Provisions of the Treaty)</p>
        <p>2. Issues Relating to the Treaty Paragraph 4 B of Article X (Implementation of the Treaty)</p>
        <p>3. Issues Relating to the Treaty Paragraph 4 C and D of Article X and Paragraphs 3, 4, and 5 of Article XVII (Accession to the Treaty)</p>
        <p>4. Issues Relating to the Treaty Paragraph 5 of Article X (Proposals of Amendments to the Treaty and Decisions and Recommendations of Administrative or Technical Nature)</p>
        <p>5. Review of the progress by the Informal Working Groups</p>
        <p>6. Discussion on the modernization of the Treaty on Open Skies</p>
        <p>7. Discussion on the third Review Conference of the Open Skies Treaty (Article XVI, Paragraph 3)</p>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>Provisional Schedule of Meetings for the 67th Session of the Open Skies Consultative Commission <br/>(OSCC) with the proposed items to be discussed during the meetings <br/>Chairmanship: Norway <br/>(10 April 2015 – 29 August 2015)</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <table class="table table-responsive table-striped">
      <tr>
        <td>67.1. Meeting (20 April 2015)</td>
        <td>67.2. Meeting (11 May 2015)</td>
      </tr>
      <tr>
        <td>
          <p>Approval of the Work Programme for the 67th Session</p>
          <p>Current implementation issues</p>
          <p>Issues Relating to the Treaty Paragraph 4 A of Article X (Compliance with the Provisions of the Treaty)</p>
          <p>Issues Relating to the Treaty Paragraph 5 of Article X (Proposals of Amendments to the Treaty and Decisions and Recommendations of Administrative or Technical Nature)</p>
          <p>Review of the progress by the Informal Working Groups (as appropriate)</p>
        </td>
        <td>
          <p>Current implementation issues</p>
          <p>Issues Relating to the Treaty Paragraph 5 of Article X (Proposals of Amendments to the Treaty and Decisions and Recommendations of Administrative or Technical Nature)</p>
          <p>Review of the progress by the Informal Working Groups (as appropriate)</p>
          <p>Discussion on the third Review Conference of the Open Skies Treaty</p>
        </td>
      </tr>
      <tr>
        <td>67.3. Meeting (22 June 2015)</td>
        <td>67.4. Meeting (13 July 2015)</td>
      </tr>
      <tr>
        <td>
          <p>Current implementation issues</p>
          <p>Issues Relating to the Treaty Paragraph 4 C and D of Article X and Paragraphs 3, 4, and 5 of Article XVII (Accession to the Treaty)</p>
          <p>Review of the progress by the Informal Working Groups (as appropriate)</p>
          <p>Outcome of the third Review Conference of the Open Skies Treaty</p>
        </td>
        <td>
          <p>Current implementation issues</p>
          <p>Issues Relating to the Treaty Paragraph 4 B of Article X (Implementation of the Treaty)</p>
          <p>Discussion on the modernization of the Treaty on Open Skies</p>
          <p>Review of the progress by the Informal Working Groups (as appropriate)</p>
          <p>Proposal for the Work Programme for the 68th Session and the starting date of the 68th Session</p>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Terms of references:</p>
      <div class="col-sm-12">
        <p>Open Skies Consultative Commission (OSCC):</p>
          <div class="col-sm-12">
            <p>&mdash; to promote the objectives and facilitate the implementation of the provisions of this Treaty – Article X of the Treaty on Open Skies para 1.</p>
          </div>
        <p>Responsibilities of the Chairman:</p>
          <div class="col-sm-12">
            <p>a. to inform all States Parties of the date, time and location of meetings, as well as of proposals made by States Parties concerning the programme of the sessions;</p>
            <p>b. to chair the meetings;</p>
            <p>c. to keep a list of speakers and maintain a Journal, which shall be handed from Chairman to Chairman and which shall be available only to the States Parties;</p>
            <p>d. to distribute to all States Parties copies of the Journal and attached texts;</p>
            <p>e. to propose to the Commission the suspension or adjournment of the meeting, and the adjourning or closure of the debate on the item under discussion;</p>
            <p>f. to seek resolution of administrative questions relating to the organisation of the work of the Commission;</p>
            <p>g. to circulate to all States Parties a list of contact points of States Parties valid for the period between sessions; and</p>
            <p>h. to fulfil other duties, as agreed by the Commission.</p>
            <p>&mdash; Section I para 1. of Decision Number Six to the Treaty On Open Skies</p>
          </div>
        <p>Consensus:</p>
          <div class="col-sm-12">
            <p>The OSCC shall take decisions or make recommendations by consensus. Consensus shall be understood to mean the absence of any objection by any State Party to the taking of a decision or the making of a recommendation. – Article X of the Treaty on Open Skies para 2.</p>
          </div>
        <p>Right to raise any issue:</p>
          <div class="col-sm-12">
            <p>Each State Party shall have the right to raise before the Open Skies Consultative Commission, and have placed on its agenda, any issue relating to this Treaty, including any issue related to the case when the observed Party provides an observation aircraft. – Article X of the Treaty on Open Skies para 3.</p>
            <p>Each State Party shall have the right to include additional items in the work programme of any session. The State Party requesting such an inclusion should inform the Chairman of those items, where possible no later than 30 days before the beginning of a regular session or seven days before the beginning of an extraordinary session. – Section III para 3. of Decision Number Six to the Treaty On Open Skies</p>
            <p>The provisions of paragraphs 1 and 2 of this Section are without prejudice to the right of each State Party to raise before the Commission, and have placed on its agenda, any issue relating to the Treaty. – Section IV para 3. of Decision Number Six to the Treaty On Open Skies</p>
          </div>
        <p>Establish a work programme:</p>
          <div class="col-sm-12">
            <p>Before the end of each session, the Commission shall seek to establish a provisional work programme and the starting date for the next regular session. – Section III para 1. of Decision Number Six to the Treaty On Open Skies</p>
          </div>
        <p>Approval of the work programme and the agenda</p>
          <div class="col-sm-12">
            <p>The Commission shall, as the first item of the agenda of the first meeting of a session, consider and approve the work programme of that session and the agenda of that meeting. – Section IV para 1. of Decision Number Six to the Treaty On Open Skies</p>
          </div>
        <p>Provisional agenda for the next meeting:</p>
          <div class="col-sm-12">
            <p>Before the end of each meeting, the Chairman shall propose a provisional agenda for review by the Commission at the start of the next meeting of the session. – Section IV para 2. of Decision Number Six to the Treaty On Open Skies</p>
          </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p>Open Skies Consultative Commission</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">Annex 1</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Chairmanship: Norway</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>Draft Agenda for the 1st Plenary meeting of the 67th Session <br/>of the Open Skies Consultative Commission <br/>Monday, 20 April 2015 at 10 a.m. in the Ratsaal</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>1. Approval of</p>
      <div class="col-sm-12">
        <p>&mdash; the Work Programme of the 67th Session,</p>
        <p>&mdash; the Agenda of the 67.1. Meeting</p>
      </div>
    <p>2. Current implementation issues</p>
    <p>3. Issues Relating to the Treaty Paragraph 4A of Article X (Compliance with the Provisions of the Treaty)</p>
    <p>4. Issues Relating to the Treaty Paragraph 5 of Article X (Proposals of Amendments to the Treaty and Decisions and Recommendations of Administrative or Technical Nature):</p>
    <p>5. Review of the progress by the Informal Working Groups</p>
    <p>6. Provisional agenda for review by the Commission at the start of the next meeting of the session</p>
    <p>7. Any other business</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p>Open Skies Consultative Commission</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">Annex 2</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Chairmanship: Norway</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>Draft Agenda for the 2nd Plenary meeting of the 67th Session <br/>of the Open Skies Consultative Commission <br/>Monday, 11 May 2015 at 10 a.m. in the Ratsaal</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>1. Approval of the Agenda of the 67.2. Meeting</p>
    <p>2. Current implementation issues</p>
    <p>3. Issues Relating to the Treaty Paragraph 5 of Article X (Proposals of Amendments to the Treaty and Decisions and Recommendations of Administrative or Technical Nature)</p>
    <p>4. Review of the progress by the Informal Working Groups</p>
    <p>5. Discussion on the third Review Conference of the Open Skies Treaty</p>
    <p>6. Provisional agenda for review by the Commission at the start of the next meeting of the session</p>
    <p>7. Any other business</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p>Open Skies Consultative Commission</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">Annex 3</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Chairmanship: Norway</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>Draft Agenda for the 3rd Plenary meeting of the 67th Session <br/>of the Open Skies Consultative Commission <br/>Monday, 22 June 2015 at 10 a.m. in the Ratsaal</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>1. Approval of the Agenda of the 67.3. Meeting</p>
    <p>2. Current implementation issues</p>
    <p>3. Issues Relating to the Treaty Paragraph 4 C and D of Article X and Paragraphs 3, 4, and 5 of Article XVII (Accession to the Treaty)</p>
      <div class="col-sm-12">
        <p>&mdash; OSCC.DEL/31/02 of 6 June 2002 on written requests to accede to the Treaty</p>
      </div>
    <p>4. Discussion on the outcome of the third Review Conference of the Open Skies Treaty</p>
    <p>5. Review of the progress by the Informal Working Groups</p>
    <p>6. Provisional agenda for review by the Commission at the start of the next meeting of the session</p>
    <p>7. Any other business</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p>Open Skies Consultative Commission</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">Annex 4</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Chairmanship: Norway</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>Draft Agenda for the 4th Plenary meeting of the 67th Session <br/>of the Open Skies Consultative Commission <br/>Monday, 13 July 2015 at 10 a.m. in the Ratsaal</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>1. Approval of the Agenda of the 67.4. Meeting</p>
    <p>2. Current implementation issues</p>
    <p>3. Issues Relating to the Treaty Paragraph 4 B of Article X (Implementation of the Treaty)</p>
    <p>4. Review of the progress by the Informal Working Groups</p>
    <p>5. Discussion on the modernization of the Open Skies Treaty (OSCC.RC/39/10, 9 June 2010)</p>
    <p>6. Proposal for the Work Programme for the 68th Session and the starting date of the 68th Session</p>
    <p>7. Any other business</p>
  </div>
</div>

<hr>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p>Open Skies Consultative Commission</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">OSCC.INF/17/15 <br/>16 July 2015 <br/>OSCC+ <br/>ENGLISH only</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Chairmanship: Norway</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>To the attention of the States’ Parties to the Open Skies Treaty is attached the joint letter from the Chair of the Joint Consultative Group (JCG) and the Chair of the Open Skies Consultative Commission to the Secretary General of the OSCE, dated 13 July 2015. The letter contains the request to establish talks on a new financial regulation for the two bodies, as discussed during the fourth meeting of the 67th session of the OSCC (13th of July).</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2 col-sm-offset-10">
    <p align="right">OSCC.INF/17/15 <br/>16 July 2015 <br/>OSCC+ <br/>ENGLISH only</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Vienna 13 July 2015</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Excellency,</p>
      <div class="col-sm-12">
        <p>In our capacity of acting chairs of JCG and OSCC we would like to inform you that during the last months states parties were reviewing the modalities of payments for the use of the fifth floor of the Hofburg.</p>
        <p>In this context it became obvious that the existing regulation of payment with 50% JCG and 50% OSCC does not correspond to the actual use of the premises on the fifth floor.</p>
        <p>OSCE is using the fifth floor since several years at least five times more than JCG and OSCC together. JCG and OSCC are also participanting on a fixed base to the OSCE staff costs.</p>
        <p>Against this background we would like to ask you to establish talks on a new financial regulation which reflects better the actual situation.</p>
      </div>
    <p>Yours sincerely,</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <p>Rudrger Ludeking <br/>Ambassador of the <br/>Federal Republic of Germany to the OSCE <br/>Acting chair of the JCG</p>
  </div>
  <div class="col-sm-4 col-sm-offset-4">
    <p>Robert Kvile <br/>Ambassador of Norway to the OSCE <br/>Acting Chair of the OSCC</p>
  </div>
</div>

<hr>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p>Open Skies Consultative Commission</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">OSCC.INF/19/15 <br/>31 August 2015 <br/>OSCC+ <br/>ENGLISH only</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Chairmanship: Norway</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>To the attention of the States’ Parties to the Open Skies Treaty is attached the response from the Secretary General of the OSCE, dated 23 July 2015, to the joint letter from the Chair of the Joint Consultative Group (JCG) and the Chair of the Open Skies Consultative Commission (OSCC) to the Secretary General of the OSCE, dated 13 July 2015.</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p><strong>Organization for Security and Co-operation in Europe</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <p>The Secretary General</p>
  </div>
  <div class="col-sm-4 col-sm-offset-4">
    <p align="right">Vienna, 23 July 2015</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Your Excellencies,</p>
      <div class="col-sm-12">
        <p>Thank you for your letter as acting chairs of JCG and OSCC on reviewing the modalities of payments for the use of the fifth floor of the Hofburg dated 13 July 2015</p>
        <p>In response to your letter, I have called an informal group of stakeholders, including representatives of JCG and OSCC, to discuss the technical issues involved, covering the financial arrangements, legal implications and possible budgetary impact. The group has held its first meetingon Tuesday, 21 July 2015. I also have informed the participating States of the OSCE of those ongoing activities during my briefing on Friday, 24 July 2015.</p>
        <p>I understand that the informal group of stakeholders intends to meet again during September after the summer recess. I will keep you informed about the progress of this discussion.</p>
      </div>
    <p>Yours sincerely,</p>
      <div class="col-sm-12">
        <p>Lamberto Zannier</p>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <p>H.E. Rudiger Ludeking <br/>Permanent Mission of Germany to the <br/>OSCE <br/>Acting Chair of the JCG</p>
  </div>
  <div class="col-sm-4 col-sm-offset-4">
    <p>H.E. Robert Kvile <br/>Permanent Delegation of Norway to the <br/>OSCE <br/>Acting Chair of the OSCC</p>
  </div>
</div>

<hr>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p>Open Skies Consultative Commission</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">OSCC.INF/14/15/Rev.1/Corr.1 <br/>23 September 2015 <br/>OSCC+ <br/>ENGLISH only</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>Work Programme of the 68th Session of the Open Skies Consultative Commission (OSCC) <br/>Chairmanship: Netherlands <br/>(30 August 2015 – 11 January 2016) <br/>Items for the 68th Session of the Open Skies Consultative Commission</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>1. Issues Relating to the Treaty Paragraph 4 A of Article X (Compliance with the Provisions of the Treaty)</p>
    <p>2. Issues Relating to the Treaty Paragraph 4 B of Article X (Implementation of the Treaty)</p>
    <p>3. Issues Relating to the Treaty Paragraph 4 C and D of Article X and Paragraphs 3, 4, and 5 of Article XVII (Accession to the Treaty)</p>
    <p>4. Issues Relating to the Treaty Paragraph 5 of Article X (Proposals of Amendments to the Treaty and Decisions and Recommendations of Administrative or Technical Nature)</p>
    <p>5. Review of the progress by the Informal Working Groups</p>
    <p>6. Discussion on the modernization of the Treaty on Open Skies</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p><srong>Provisional Schedule of Meetings for the 68th Session of the Open Skies Consultative Commission <br/>(OSCC) with the proposed items to be discussed during the meetings <br/>Chairmanship: Netherlands <br/>(30 August 2015 – 11 January 2016)</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <table class="table table-responsive table-striped">
      <tr>
        <td>68.1. Meeting (21 September 2015)</td>
        <td>68.2. Meeting (27 October 2015)</td>
      </tr>
      <tr>
        <td>
          <p>Approval of the Work Programme for the 68th Session</p>
          <p>Current implementation issues</p>
          <p>Issues Relating to the Treaty Paragraph 4 A of Article X (Compliance with the Provisions of the Treaty)</p>
          <p>Issues Relating to the Treaty Paragraph 5 of Article X (Proposals of Amendments to the Treaty and Decisions and Recommendations of Administrative or Technical Nature)</p>
          <p>Review of the progress by the Informal Working Groups (as appropriate)</p>
        </td>
        <td>
          <p>Current implementation issues</p>
          <p>Issues Relating to the Treaty Paragraph 5 of Article X (Proposals of Amendments to the Treaty and Decisions and Recommendations of Administrative or Technical Nature)</p>
          <p>Draft Decision on the Distribution of Active Quotas For Observation Flights in the year 2016</p>
          <p>Review of the progress by the Informal Working Groups (as appropriate)</p>
        </td>
      </tr>
      <tr>
        <td>68.3. Meeting (16 November 2015)</td>
        <td>68.4. Meeting (14 December 2015)</td>
      </tr>
      <tr>
        <td>
          <p>Current implementation issues</p>
          <p>Issues Relating to the Treaty Paragraph 4 C and D of Article X and Paragraphs 3, 4, and 5 of Article XVII (Accession to the Treaty)</p>
          <p>Review of the progress by the Informal Working Groups (as appropriate)</p>
        </td>
        <td>
          <p>Current implementation issues</p>
          <p>Issues Relating to the Treaty Paragraph 4 B of Article X (Implementation of the Treaty)</p>
          <p>Discussion on the modernization of the Treaty on Open Skies</p>
          <p>Review of the progress by the Informal Working Groups (as appropriate)</p>
          <p>Proposal for the Work Programme for the 69th Session and the starting date of the 69th Session</p>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Terms of references:</p>
      <div class="col-sm-12">
        <p>Open Skies Consultative Commission (OSCC):</p>
          <div class="col-sm-12">
            <p>&mdash; to promote the objectives and facilitate the implementation of the provisions of this Treaty – Article X of the Treaty on Open Skies para 1.</p>
          </div>
        <p>Responsibilities of the Chairman:</p>
          <div class="col-sm-12">
            <p>a. to inform all States Parties of the date, time and location of meetings, as well as of proposals made by States Parties concerning the programme of the sessions;</p>
            <p>b. to chair the meetings;</p>
            <p>c. to keep a list of speakers and maintain a Journal, which shall be handed from Chairman to Chairman and which shall be available only to the States Parties;</p>
            <p>d. to distribute to all States Parties copies of the Journal and attached texts;</p>
            <p>e. to propose to the Commission the suspension or adjournment of the meeting, and the adjourning
            or closure of the debate on the item under discussion;</p>
            <p>f. to seek resolution of administrative questions relating to the organisation of the work of the Commission;</p>
            <p>g. to circulate to all States Parties a list of contact points of States Parties valid for the period between sessions; and</p>
            <p>h. to fulfil other duties, as agreed by the Commission.</p>
            <p>&mdash; Section I para 1. of Decision Number Six to the Treaty On Open Skies</p>
          </div>
      </div>
    <p>Consensus:</p>
      <div class="col-sm-12">
        <p>The OSCC shall take decisions or make recommendations by consensus. Consensus shall be understood to mean the absence of any objection by any State Party to the taking of a decision or the making of a recommendation. – Article X of the Treaty on Open Skies para 2.</p>
      </div>
    <p>Right to raise any issue:</p>
      <div class="col-sm-12">
        <p>Each State Party shall have the right to raise before the Open Skies Consultative Commission, and have placed on its agenda, any issue relating to this Treaty, including any issue related to the case when the observed Party provides an observation aircraft. – Article X of the Treaty on Open Skies para 3.</p>
        <p>Each State Party shall have the right to include additional items in the work programme of any session. The State Party requesting such an inclusion should inform the Chairman of those items, where possible no later than 30 days before the beginning of a regular session or seven days before the beginning of an extraordinary session. – Section III para 3. of Decision Number Six to the Treaty On Open Skies</p>
        <p>The provisions of paragraphs 1 and 2 of this Section are without prejudice to the right of each State Party to raise before the Commission, and have placed on its agenda, any issue relating to the Treaty. – Section IV para 3. of Decision Number Six to the Treaty On Open Skies</p>
      </div>
    <p>Establish a work programme:</p>
      <div class="col-sm-12">
        <p>Before the end of each session, the Commission shall seek to establish a provisional work programme and the starting date for the next regular session. – Section III para 1. of Decision Number Six to the Treaty On Open Skies</p>
      </div>
    <p>Approval of the work programme and the agenda</p>
      <div class="col-sm-12">
        <p>The Commission shall, as the first item of the agenda of the first meeting of a session, consider and approve the work programme of that session and the agenda of that meeting. – Section IV para 1. of Decision Number Six to the Treaty On Open Skies</p>
      </div>
    <p>Provisional agenda for the next meeting:</p>
      <div class="col-sm-12">
        <p>Before the end of each meeting, the Chairman shall propose a provisional agenda for review by the Commission at the start of the next meeting of the session. – Section IV para 2. of Decision Number Six to the Treaty On Open Skies</p>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p>Open Skies Consultative Commission</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">Annex 1</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Chairmanship: Netherlands</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>Draft Agenda for the 1st Plenary meeting of the 68th Session <br/>of the Open Skies Consultative Commission <br/>Monday, 21 September 2015 at 10 a.m. in the Ratsaal</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>1. Approval of</p>
      <div class="col-sm-12">
        <p>&mdash; the Work Programme of the 68th Session,</p>
        <p>&mdash; the Agenda of the 68.1. Meeting</p>
      </div>
    <p>2. Current implementation issues</p>
    <p>3. Issues Relating to the Treaty Paragraph 4A of Article X (Compliance with the Provisions of the Treaty)</p>
    <p>4. Issues Relating to the Treaty Paragraph 5 of Article X (Proposals of Amendments to the Treaty and Decisions and Recommendations of Administrative or Technical Nature):</p>
    <p>5. Review of the progress by the Informal Working Groups</p>
    <p>6. Provisional agenda for review by the Commission at the start of the next meeting of the session</p>
    <p>7. Any other business</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p>Open Skies Consultative Commission</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">Annex 2</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Chairmanship: Netherlands</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><Strong>Draft Agenda for the 2nd Plenary meeting of the 68th Session <br/>of the Open Skies Consultative Commission <br/>Tuesday, 27 October 2015 at 10 a.m. in the Ratsaal</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>1. Approval of the Agenda of the 68.2. Meeting</p>
    <p>2. Current implementation issues</p>
    <p>3. Issues Relating to the Treaty Paragraph 5 of Article X (Proposals of Amendments to the Treaty and Decisions and Recommendations of Administrative or Technical Nature)</p>
    <p>4. Draft Decision on the Distribution of Active Quotas for Observation Flights in the Year 2016</p>
    <p>5. Review of the progress by the Informal Working Groups</p>
    <p>6. Provisional agenda for review by the Commission at the start of the next meeting of the session</p>
    <p>7. Any other business</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p>Open Skies Consultative Commission</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">Annex 3</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Chairmanship: Netherlands</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>Draft Agenda for the 3rd Plenary meeting of the 68th Session <br/>of the Open Skies Consultative Commission <br/>Monday, 16 November 2015 at 10 a.m. in the Ratsaal</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>1. Approval of the Agenda of the 68.3. Meeting</p>
    <p>2. Current implementation issues</p>
    <p>3. Issues Relating to the Treaty Paragraph 4 C and D of Article X and Paragraphs 3, 4, and 5 of Article XVII (Accession to the Treaty)</p>
      <div class="col-sm-12">
        <p>&mdash; OSCC.DEL/31/02 of 6 June 2002 on written requests to accede to the Treaty</p>
      </div>
    <p>4. Review of the progress by the Informal Working Groups</p>
    <p>5. Provisional agenda for review by the Commission at the start of the next meeting of the session</p>
    <p>6. Any other business</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p>Open Skies Consultative Commission</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">Annex 4</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Chairmanship: Netherlands</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>Draft Agenda for the 4thPlenary meeting of the 68th Session <br/>of the Open Skies Consultative Commission <br/>Monday, 14 December 2015 at 10 a.m. in the Ratsaal</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>1. Approval of the Agenda of the 68.4. Meeting</p>
    <p>2. Current implementation issues</p>
    <p>3. Issues Relating to the Treaty Paragraph 4 B of Article X (Implementation of the Treaty)</p>
    <p>4. Review of the progress by the Informal Working Groups</p>
    <p>5. Discussion on the modernization of the Open Skies Treaty (OSRC(3).JOUR, 8 to 10 June 2015)</p>
    <p>6. Proposal for the Work Programme for the 69th Session and the starting date of the 69th Session</p>
    <p>7. Any other business</p>
  </div>
</div>

<hr>
<br/>
