<!-- DECISION 10/03 -->
<div id="decision_10_3"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/10/03
      <br/>5 May 2003</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>1st Meeting of the 31st Session</strong> <br>OSCC(31) Journal No. 90, Agenda item 8(b)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>OSCC DECISION No. 10/03 <br/>TO THE TREATY ON OPEN SKIES <br>Accession of the Republic of Estonia to the Treaty on Open Skies</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The Open Skies Consultative Commission,</p>
      <p>Having received from the Republic of Hungary, in its capacity as Depository, the application of the Republic of Estonia for accession to the Treaty on Open Skies, deposited on 7 April 2003 in Budapest,</p>
      <p>Pursuant to the provisions of paragraph 4 of Article XVII of the Treaty on Open Skies,</p>
      <p>Has decided as follows:</p>
        <div class="col-sm-11 col-sm-offset-1">
          <p>That the application for accession of the Republic of Estonia to the Treaty on Open Skies is accepted.</p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
        <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>In accordance with paragraph 6 of article XVII, the Treaty shall enter into force for the Republic of Estonia sixty days after the deposit of its instrument of accession with the Government of Canada or with the Government of the Republic of Hungary or both.</p>
      <p>Done at Vienna in the Open Skies Consultative Commission on 5 May 2003, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>


<hr>
