<!-- DECISION 23/03 -->
<div id="decision_23_3"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top"> Back to Decisions List </a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/23/03 <br/>12 December 2003</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong>
      <br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>4th Meeting of the 32nd Session</strong> <br/>OSCC(32) Journal No. 96, Agenda item 7(c)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>OSCC DECISION No. 23/03 <br/>TO THE TREATY ON OPEN SKIES <br>Redistribution of costs in 2002</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The Open Skies Consultative Commission (OSCC),</p>
      <p>Pursuant to the provision of Annex L, paragraph 9 of the Treaty on Open Skies, and</p>
      <p>Taking into account the fact that a non-State Party to the Treaty had been assessed for the common expenses associated with the operation of the OSCC for the period from 1 January 2002 to 31 December 2002,</p>
      <p> Has decided as follows:</p>
        <div class="col-sm-12">
          <p>1. The outstanding amount of EUR 2,567.60 accumulated during the aforementioned period shall be distributed among the States Parties to the Treaty which then had been liable for OSCC costs, with due account of the fact that one State had acceded to the Treaty within this period of time and became liable to OSCC costs as of 1 October 2002;</p>
          <p>2. The individual amounts payable by the States Parties shall be included into the bills for OSCC costs for the first quarter of 2004.</p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p> Done at Vienna in the Open Skies Consultative Commission on 12 December 2003, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
