<!-- DECISION 13/03 -->
<div id="decision_13_3"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/13/03 <br/>21 July 2003</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>3rd Meeting of the 31st Session</strong> <br>OSCC(31) Journal No. 92, Agenda item 7(c)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>OSCC DECISION No. 13/03 <br/>TO THE TREATY ON OPEN SKIES <br>Certification of Italian Observation Aircraft C-130 J</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>In accordance with the Treaty on Open Skies and relevant decisions of the Open Skies Consultative Commission (OSCC),</p>
      <p>Noting the wealth of experience gathered during the period during the initial certification period, especially during the unique certification hosted by the French Republic, 19 to 26 June 2002, at Orl&eacute;ans Br&eacute;cy AFB,</p>
      <p>Taking account of the Sensor Guidance Document (SGD), the Chairperson's statement on issues related to observation aircraft and sensors (17 December 2001) and other related agreements,</p>
      <p>Considering that it is in the interest of every State Party to make certification events as time- and cost-effective as possible,</p>
      <p>Considering that the POD System containing all sensors to be used onboard the C-130 J is external to the aircraft,</p>
      <p>Considering that the POD System has already been certified and accepted by all States Parties to the Treaty,</p>
      <p>Considering all provided information on the aircraft, stressing the differences between former C-130 H and the new C-130 J. This information includes photographs, especially of the cockpit, the navigation and communication equipment, and of the instrument panels, and a detailed description of the various components (CD-ROM - Note Verbale OSCC.REF/2/03, dated 22 May 2003/MSG OS/IT/03/008/F08/O, dated 14 May 2003),</p>
      <p>Considering that flight performances of the C-130 J have no influence on the performance of sensors of the certified POD system (CD-ROM - Note Verbale OSCC.REF/2/03, dated 22 May 2003),</p>
      <p>The OSCC has decided to adopt a special three-day period certification procedure which includes:</p>
        <div class="col-sm-12">
          <p>- Provision of complete information on the C-130 J observation aircraft;</p>
          <p>- Complete ground examination;</p>
          <p>- In-flight examination under a shortened procedure limited to one sensor configuration selected by the representatives of the States Parties participating to the certification activities.</p>
        </div>
      <p>This decision is effective 11 July 2003.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Done in Vienna, in the Open Skies Consultative Commission, on 21 July 2003, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
