<!-- DECISION 7/03 -->
<div id="decision_7_3"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a>
      <br/><a href="#7/03AnnexA">Annex A</a>
      <br/><a href="#7/03AnnexB">Annex B</a></strong></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/7/03
      <br/>24 March 2003</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>3rd Meeting of the 30th Session</strong>
      <br>OSCC(30) Journal No. 88, Agenda item 7(f)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>OSCC DECISION No. 7/03 <br>TO THE TREATY ON OPEN SKIES <br>Scale of distribution for the common expenses associated with the <br/>operation of the Open Skies Consultative Commission</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The Open Skies Consultative Commission (OSCC), pursuant to the provision of Annex L, paragraph 9 of the Treaty on Open Skies, has decided as follows:</p>
        <div class="col-sm-12">
          <p>1. The scale of distribution for the common expenses associated with the operation of the Open Skies Consultative Commission (hereafter referred to as the "scale of distribution of the OSCC") shall be based on the revised scale of distribution adopted in PC.DEC/468, dated 11 April 2002, by the Permanent Council of the OSCE (hereafter referred to as the "Standard Scale"). The scale of distribution of the Open Skies Consultative Commission shall be revised to reflect any revisions of the Standard Scale.</p>
          <p>2. In accordance with OSCC.DEC/8/02/Corr.1, dated 22 April 2002, further to the deposit of Finland and Latvia's instruments of accession, the OSCC decides to redistribute OSCC costs in accordance with paragraph 4 of Decision 10 to the Treaty on Open Skies dated 16 July 1993. Finland and Latvia become liable for OSCC costs sixty days after deposit of their instruments of accession, effective as of 1 April 2003.</p>
          <p>3. Taking into account the fact that not all participating States to the OSCE are Parties to the Treaty, States Parties have to make an additional contribution to their contribution to the Standard Scale, in order to cover the existing shortfall.</p>
            <div class="col-sm-12">
              <p>(A) As a rule, this additional contribution will be proportional to the Standard Scale. Nevertheless, any State Party may provide a higher additional contribution.</p>
              <p>(B) However, taking into account their present economic situation, those countries listed in Annex A to this Decision will be exempted from the proportional contribution mentioned in subparagraph (A) and will only make an ad hoc additional contribution, agreed by the States Parties.</p>
              <p>(C) The special regime established in subparagraph (B) will last as long as the economic situation in the countries listed in Annex A to this Decision so requires. The special regime will be subject to review every year.</p>
            </div>
          <p>4. As long as only participating States to the OSCE are Parties to the Treaty, and provided that there remains a shortfall to be covered, the financial contribution to the scale of distribution of the OSCC of any State Party will have to be superior to its contribution to the Standard Scale.</p>
          <p>5. In case of accession to the Treaty of participating States to the OSCE, their financial contributions to the scale of distribution of the OSCC will be calculated according to the principles established in paragraphs 1, 2, and 3. In that case, the financial contributions to the scale of distribution of the OSCC of the other States Parties will be reduced in due proportion. This provision does not apply to those countries listed in Annex A to this Decision, as long as the special regime established in paragraph 3, subparagraph (B) grants them the benefit of financial contributions to the scale of distribution of the OSCC lower than those of other States Parties which bear an identical contribution to the Standard Scale.</p>
          <p>6. In case of accession to the Treaty of non-participating States to the OSCE, their financial contributions to the scale of distribution of the OSCC as well as the scale of distribution of the OSCC will be agreed on an ad hoc basis by the Open Skies Consultative Commission.</p>
          <p>7. As of 1 April 2003, the scale of distribution of the Open&nbsp;Skies Consultative Commission is agreed as follows (in percentages):</p>
            <div class="col-sm-11 col-sm-offset-1">
              <p>France 10.152</p>
              <p>Germany 10.152</p>
              <p>Italy 10.152</p>
              <p>United Kingdom 10.152</p>
              <p>United States of America 10.041</p>
              <p>Russian Federation 9.050</p>
              <p>Canada 6.080</p>
              <p>Spain 4.463</p>
              <p>Netherlands 4.239</p>
              <p>Belgium 3.961</p>
              <p>Sweden 3.961</p>
              <p>Norway 2.510</p>
              <p>Denmark 2.287</p>
              <p>Finland 2.287</p>
              <p>Poland 1.562</p>
              <p>Turkey 1.116</p>
              <p>Ukraine 0.970</p>
              <p>Greece 0.948</p>
              <p>Portugal 0.948</p>
              <p>Hungary 0.781</p>
              <p>Romania 0.781</p>
              <p>Czech Republic 0.747</p>
              <p>Bulgaria 0.614</p>
              <p>Luxembourg 0.614</p>
              <p>Belarus 0.520</p>
              <p>Slovakia 0.368</p>
              <p>Iceland 0.212</p>
              <p>Latvia 0.212</p>
              <p>Georgia 0.120</p>
              <p>Total 100.000</p>
            </div>
        </div>
      <p>This decision shall enter into force on the date of its adoption.</p>
      <p>Decided in Vienna, in the Open Skies Consultative Commission on 24 March 2003, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
<!--Annex A-->
  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#7/03">Back to Decision 7/03</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/7/03
      <br/>24 March 2003</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>Annex A</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>List of countries to which the special regime established in paragraph 3, subparagraph (B) of this decision on the scale of distribution of the OSCC may apply:</p>
        <div class="col-sm-11 col-sm-offset-1">
          <p>Armenia</p>
          <p>Azerbaijan</p>
          <p>Belarus</p>
          <p>Georgia</p>
          <p>Kazakhstan</p>
          <p>Kyrgyzstan</p>
          <p>Moldova</p>
          <p>Russian Federation</p>
          <p>Tajikistan</p>
          <p>Turkmenistan</p>
          <p>Ukraine</p>
          <p>Uzbekistan</p>
        </div>
      <p>1. The financial contribution to the scale of distribution of the OSCC of each State Party to the Treaty, except those which benefit from the special regime established in paragraph 3, subparagraph (B) of this decision, those that provide higher additional contributions and those which are not participating States to the OSCE, is calculated as follows (in percentages):</p>
        <div class="col-sm-12">
          <p>OS<sub>i</sub> = K x H<sub>i</sub></p>
            <div class="col-sm-12">
              <p>where:</p>
                <div class="col-sm-12">
                  <p>i = State Party to which the present paragraph applies</p>
                  <p>OS<sub>i</sub> = financial contribution of State Party i</p>
                  <p>H<sub>i</sub> = contribution to the Standard Scale of State Party i</p>
                  <p>K = correction coefficient</p>
                </div>
            </div>
        </div>
      <p>2. The financial contribution to the scale of distribution of the OSCC of a State Party that provides a higher additional contribution is calculated as follows (in percentages):</p>
        <div class="col-sm-12">
          <p>OS<sub>m</sub> = H<sub>m</sub> + E<sub>m</sub></p>
            <div class="col-sm-12">
              <p>where:</p>
                <div class="col-sm-12">
                  <p>m = State Party to which the present paragraph applies</p>
                  <p>OS<sub>m</sub> = financial contribution of State Party m</p>
                  <p>H<sub>m</sub> = contribution to the Standard Scale of State Party m</p>
                  <p>E<sub>m</sub> = additional contribution of State Party m</p>
                </div>
            </div>
        </div>
      <p>3. The financial contribution to the scale of distribution of the OSCC of a State Party to which the special regime established in paragraph 3, subparagraph (B) of this Decision applies is calculated as follows (in percentages):</p>
        <div class="col-sm-12">
          <p>OS<sub>j</sub> = H<sub>j</sub> + A<sub>j</sub></p>
            <div class="col-sm-12">
              <p>where:</p>
                <div class="col-sm-12">
                  <p>j = State Party to which the present paragraph applies</p>
                  <p>OS<sub>j</sub> = financial contribution of State Party j</p>
                  <p>H<sub>j</sub> = contribution to the Standard Scale of State Party j</p>
                  <p>A<sub>j</sub> = ad hoc additional contribution of State Party j</p>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col table-responsive">
      <table class="table table-striped">
        <tr>
          <td><strong>State Party </strong></td>
          <td><strong>Aj</strong></td>
        </tr>
        <tr>
          <td>Belarus</td>
          <td>+0.01</td>
        </tr>
        <tr>
          <td>Georgia</td>
          <td>+0.01</td>
        </tr>
        <tr>
          <td>Russian Federation</td>
          <td>+0.05</td>
        </tr>
        <tr>
          <td>Ukraine</td>
          <td>+0.02</td>
        </tr>
        <tr>
          <td><strong>Total</strong></td>
          <td><strong>+0.09</strong></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>4. Coefficient K is determined from the formula:</p>
        <div class="col-sm-12">
          <p align="center"style="margin-bottom:6px;margin-top:6px">100% - &#8721;OS<sub>m</sub> - &#8721;OS<sub>j</sub></p>
          <p align="center" style="margin-bottom:6px;margin-top:6px">K = <strong>_________________________________</strong></p>
          <p align="center">&#8721;H<sub>i</sub> </p>&nbsp;&nbsp;[for 2003 = 1.115634]
            <div class="col-sm-12">
              <p>where:</p>
                <div class="col-sm-12">
                  <p>&#8721;H<sub>i</sub> = sum of contribution to Standard Scale of States Parties i -</p>
                  <p>see paragraph 1 above. [for 2003 =80.08%]</p>
                  <p>&#8721;OS<sub>m</sub> = sum of contributions to the scale of distribution of the OSCC of States Parties m - see paragraph 2 above.</p>
                  <p>[for 2003 = 0%]</p>
                  <p>&#8721;OS<sub>j</sub> = sum of contributions to the scale of distribution of the OSCC of States Parties j - see paragraph 3 above.</p>
                  <p>[for 2003 = 10.66%]</p>
                </div>
            </div>
        </div>
    </div>
  </div>

<hr>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#7/03">Back to Decision 7/03</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/7/03
      <br/>24 March 2003</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p align="center"><strong>Annex B <br/>OSCC SCALE OF DISTRIBUTION AS OF 1 APRIL 2003</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p align="center">(K = 1,115634)</p>
    </div>
  </div>
  <div class="row">
    <div class="col table-responsive">
      <table class="table table-striped">
        <tr>
          <td></td>
          <td>2003</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><strong>2003 </strong></td>
        </tr>
        <tr>
          <td></td>
          <td>Standard</td>
          <td><strong></strong></td>
          <td><strong></strong></td>
          <td><strong></strong></td>
          <td><strong></strong></td>
          <td><strong></strong></td>
          <td><strong></strong></td>
          <td><strong>OSCC </strong></td>
        </tr>
        <tr>
          <td></td>
          <td>Scale (%)</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><strong>Scale </strong></td>
        </tr>
        <tr>
          <td><p><strong>State Party </strong></td>
          <td><strong>Hi/Hm/Hj </strong></td>
          <td><strong>Hi </strong></td>
          <td><strong>OSi </strong></td>
          <td><strong>Em </strong></td>
          <td><strong>OSm </strong></td>
          <td><strong>Aj </strong></td>
          <td><strong>OSj </strong></td>
          <td><strong>OSi/OSm/ </strong></p>
        <p align="center"><strong>OSj </strong></td>
        </tr>
        <tr>
          <td><p><strong>France </strong></td>
          <td>9.100</td>
          <td>9.100</td>
          <td>10.152</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><strong>10.152 </strong></td>
        </tr>
        <tr>
          <td><p><strong>Germany </strong></td>
          <td>9.100</td>
          <td>9.100</td>
          <td>10.152</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><strong>10.152 </strong></td>
        </tr>
        <tr>
          <td><p><strong>Italy </strong></td>
          <td>9.100</td>
          <td>9.100</td>
          <td>10.152</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><strong>10.152 </strong></td>
        </tr>
        <tr>
          <td><p><strong>United Kingdom </strong></td>
          <td>9.100</td>
          <td>9.100</td>
          <td>10.152</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><strong>10.152 </strong></td>
        </tr>
        <tr>
          <td><p><strong>United States </strong></td>
          <td>9.000</td>
          <td>9.000</td>
          <td>10.041</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><strong>10.041 </strong></td>
        </tr>
        <tr>
          <td><p><strong>Russian Federation </strong></td>
          <td>9.000</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>0.050</td>
          <td>9.050</td>
          <td><strong>9.050 </strong></td>
        </tr>
        <tr>
          <td><p><strong>Canada </strong></td>
          <td>5.450</td>
          <td>5.450</td>
          <td>6.080</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><strong>6.080 </strong></td>
        </tr>
        <tr>
          <td><p><strong>Spain </strong></td>
          <td>4.000</td>
          <td>4.000</td>
          <td>4.463</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><strong>4.463 </strong></td>
        </tr>
        <tr>
          <td><p><strong>Netherlands </strong></td>
          <td>3.800</td>
          <td>3.800</td>
          <td>4.239</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><strong>4.239 </strong></td>
        </tr>
        <tr>
          <td><p><strong>Belgium </strong></td>
          <td>3.550</td>
          <td>3.550</td>
          <td>3.961</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><strong>3.961 </strong></td>
        </tr>
        <tr>
          <td><p><strong>Sweden </strong></td>
          <td>3.550</td>
          <td>3.550</td>
          <td>3.961</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><strong>3.961 </strong></td>
        </tr>
        <tr>
          <td><p><strong>Norway </strong></td>
          <td>2.250</td>
          <td>2.250</td>
          <td>2.510</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><strong>2.510 </strong></td>
        </tr>
        <tr>
          <td><p><strong>Denmark </strong></td>
          <td>2.050</td>
          <td>2.050</td>
          <td>2.287</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><strong>2.287 </strong></td>
        </tr>
        <tr>
          <td><p><strong>Finland </strong></td>
          <td>2.050</td>
          <td>2.050</td>
          <td>2.287</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><strong>2.287 </strong></td>
        </tr>
        <tr>
          <td><p><strong>Poland </strong></td>
          <td>1.400</td>
          <td>1.400</td>
          <td>1.562</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><strong>1.562 </strong></td>
        </tr>
        <tr>
          <td><p><strong>Turkey </strong></td>
          <td>1.000</td>
          <td>1.000</td>
          <td>1.116</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><strong>1.116 </strong></td>
        </tr>
        <tr>
          <td><p><strong>Ukraine </strong></td>
          <td>0.950</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>0.020</td>
          <td>0.970</td>
          <td><strong>0.970 </strong></td>
        </tr>
        <tr>
          <td><p><strong>Greece </strong></td>
          <td>0.850</td>
          <td>0.850</td>
          <td>0.948</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><strong>0.948 </strong></td>
        </tr>
        <tr>
          <td><p><strong>Portugal </strong></td>
          <td>0.850</td>
          <td>0.850</td>
          <td>0.948</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><strong>0.948 </strong></td>
        </tr>
        <tr>
          <td><p><strong>Hungary </strong></td>
          <td>0.700</td>
          <td>0.700</td>
          <td>0.781</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><strong>0.781 </strong></td>
        </tr>
        <tr>
          <td><p><strong>Romania </strong></td>
          <td>0.700</td>
          <td>0.700</td>
          <td>0.781</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><strong>0.781 </strong></td>
        </tr>
        <tr>
          <td><p><strong>Czech Republic </strong></td>
          <td>0.670</td>
          <td>0.670</td>
          <td>0.747</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><strong>0.747 </strong></td>
        </tr>
        <tr>
          <td><p><strong>Bulgaria </strong></td>
          <td>0.550</td>
          <td>0.550</td>
          <td>0.614</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><strong>0.614 </strong></td>
        </tr>
        <tr>
          <td><p><strong>Luxembourg </strong></td>
          <td>0.550</td>
          <td>0.550</td>
          <td>0.614</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><strong>0.614 </strong></td>
        </tr>
        <tr>
          <td><p><strong>Belarus </strong></td>
          <td>0.510</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>0.010</td>
          <td>0.520</td>
          <td><strong>0.520 </strong></td>
        </tr>
        <tr>
          <td><p><strong>Slovakia </strong></td>
          <td>0.330</td>
          <td>0.330</td>
          <td>0.368</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><strong>0.368 </strong></td>
        </tr>
        <tr>
          <td><p><strong>Iceland </strong></td>
          <td>0.190</td>
          <td>0.190</td>
          <td>0.212</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><strong>0.212 </strong></td>
        </tr>
        <tr>
          <td><p><strong>Latvia </strong></td>
          <td>0.190</td>
          <td>0.190</td>
          <td>0.212</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><strong>0.212 </strong></td>
        </tr>
        <tr>
          <td><p><strong>Georgia </strong></td>
          <td>0.110</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>0.010</td>
          <td>0.120</td>
          <td><strong>0.120 </strong></td>
        </tr>
        <tr>
          <td><p><strong>TOTAL </strong></td>
          <td>90.650</td>
          <td>80.080</td>
          <td>89.340</td>
          <td>0.000</td>
          <td>0.000</td>
          <td>0.090</td>
          <td>10.660</td>
          <td><strong>100.00 </strong></td>
        </tr>
      </table>
    </div>
  </div>

<hr>
