<!-- DECISION 18/02 -->
<div id="decision_18_2"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top"> Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC/XXVII/Dec/18/02<br/>22 July 2002</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>OSCC DECISION No. 18/02 <br/>TO THE TREATY ON OPEN SKIES <br>ACCESSION OF THE REPUBLIC OF CROATIA <br/>TO THE TREATY ON OPEN SKIES</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The Open Skies Consultative Commission,</p>
      <p>Having received from the Depositaries the application of the Republic of Croatia for accession to the Treaty on Open Skies, deposited on 28 June 2002, in Budapest,</p>
      <p>Pursuant to the provisions of paragraph 4 of Article XVII of the Treaty on Open Skies,</p>
      <p>Has decided as follows:</p>
        <div class="col-sm-12">
          <p>That the application for accession of the Republic of Croatia to the Treaty on Open Skies is accepted.</p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>In accordance with paragraph 6 of Article XVII, the Treaty shall enter into force for the Republic of Croatia 60 days after the deposit of its instrument of accession with the Government of Canada or with the Government of the Republic of Hungary or both.</p>
      <p>Done in Vienna, in the Open Skies Consultative Commission, on 22 July 2002, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
