<!-- DECISION 12/02 -->
<div id="decision_12_2"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top"> Back to Decisions List </a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC/XXVIII/Dec/12/02 <br/>22 July 2002</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>OSCC DECISION No. 12/02 <br/>TO THE TREATY ON OPEN SKIES <br>ALLOCATION OF A PASSIVE QUOTA TO SWEDEN</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The Open Skies Consultative Commission (OSCC),</p>
      <p>In accordance with the provisions of the Treaty on Open Skies and, notably, Article III, Section I, paragraph 2, Article X, paragraph 4 (D), Article XVII, paragraph 4 and the contents of Annex A, Section I to the Treaty, with the procedures outlined in Section 3 of OSCC Decision No. 8/02/Corr. 1,</p>
      <p>Decides:</p>
        <div class="col-sm-12">
          <p>- To allocate a passive quota of seven to Sweden. This decision shall take effect upon entry into force of the Treaty for Sweden.</p>
        </div>
    </div>
  </div>

<hr />
