<!-- DECISION 4/02 -->
<div id="decision_4_2"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top"> Back to Decisions List </a>
      <br/><a href="#4/02Annex">Annex</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC/XXVII/Dec/4/02<br/>18 February 2002</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>OSCC DECISION No. 4/02 <br/>TO THE TREATY ON OPEN SKIES <br>PROVISIONS FOR THE USE OF A STANDARD "SIGNATURE PAGE <br/>TO THE CERTIFICATION REPORT"</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The Open Skies Consultative Commission, in accordance with Annex D, Section I, paragraphs 7 and 9, and Section IV, of the Treaty on Open Skies, has decided as follows: </p>
      <p>SECTION I. PROVISIONS </p>
        <div class="col-sm-12">
          <p>1. Upon completion of a certification of observation aircraft and sensors, two original signature pages to the "Certification Report" (F25) shall be prepared. The "Signature Page to the Certification Report" shall be in the format attached to this decision.</p>
          <p>2. Upon agreement of the "Certification Report" (F25), the signature page shall be promptly signed by the senior representative of each State Party taking part in the certification.</p>
          <p>3. The contents of the "Certification Report" (F25), including the REMARKS section, are subject to agreement by the State Party conducting the certification and the States Parties taking part in the certification. The REMARKS section of the "Certification Report" (F25) may be used to document any comments or explanations, including cases in which the observation aircraft and/or specific sensor configuration(s) do not pass established certification criteria. Additionally, individual States Parties taking part in the certification have the right to document comments using the "Miscellaneous" format (F35).</p>
          <p>4. In the event that the "Certification Report" (F25) is not signed by the senior representative of one or more States Parties, an explanation by that (those) representative(s) shall be provided to all States Parties taking part in the certification no later than the end of the certification and documented using the "Miscellaneous" format (F35) within 14 days.</p>
          <p>5. The State Party conducting the certification of observation aircraft and sensors shall retain one original, signed "Signature Page to the Certification Report"  The second original signature page shall accompany the "Certification Report" (F25) sent to the OSCC. A copy shall be provided to the States Parties taking part in the certification.</p>
          <p>6. The "Certification Report" (F25), excluding the signature page, shall be transmitted over the OSCE communications network to all State Parties. </p>
        </div>
      <p>SECTION II. REVIEW CLAUSE </p>
        <div class="col-sm-12">
          <p>The provisions of this Decision shall be re-examined on the basis of practical experience if so requested by a State Party after 31 December 2002.</p>
          <p>This Decision shall enter into force on the day of its adoption and shall have the same duration as the Treaty on Open Skies.</p>
          <p>Decided in Vienna, in the Open Skies Consultative Commission, on 18 February 2002, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
        </div>
    </div>
  </div>

<hr>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a name="4/02Annex" href="#4/02">Back to Decision 4/02</a>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/4/02 <br>18 February 2002 </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>Annex <br/>SIGNATURE PAGE TO THE CERTIFICATION REPORT <br>Open Skies Format 25 <br/>Open Skies Message Number: OS/ / / /F25/O</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The following States Parties took part in the certification of observation aircraft and sensors of (State Party) for the period (dates of certification) and certify that the designated aircraft and sensors that are declared certified, are in compliance with the Articles and Decisions of the Treaty on Open Skies.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5 col-sm-offset-4">
      <p>STATE PARTY NAME OF THE SENIOR REPRESENTATIVE SIGNATURE</p>
      <p>_______________________________________________________
      <br><br>_______________________________________________________
      <br><br>_______________________________________________________
      <br><br>_______________________________________________________
      <br><br>_______________________________________________________
      <br><br>_______________________________________________________
      <br><br>_______________________________________________________
      <br><br>_______________________________________________________
      <br><br>_______________________________________________________
      <br><br>_______________________________________________________
      <br><br>_______________________________________________________
      <br><br>_______________________________________________________
      <br><br>_______________________________________________________
      <br><br>_______________________________________________________
      <br><br>_______________________________________________________
      <br><br>_______________________________________________________
      <br><br>_______________________________________________________
      <br><br>_______________________________________________________
      <br><br>_______________________________________________________
      <br><br>_______________________________________________________</p>
    </div>
  </div>

<hr />
