<!-- DECISION 16/02 -->
<div id="decision_16_2"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top"> Back to Decisions List </a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC/XXVII/Dec/16/02<br/>22 July 2002</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>OSCC DECISION No. 16/02 <br/>TO THE TREATY ON OPEN SKIES <br>MISSION PLAN SUBMISSION AND REVIEW</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The Open Skies Consultative Commission, in accordance with OSCC Decision Number Nineteen and on the basis of the experience of joint trial flights and in order to ensure common interpretation of the parameters of the mission plan during its preparation, has decided as follows:</p>
      <p>SECTION I. DEFINITION OF TERMS</p>
        <div class="col-sm-12">
          <p>The following definitions shall apply for the purposes of this decision:</p>
          <p>1. Turn Short - maneuver to change the flight path of the observation aircraft before the declared turn point of the route and directly intercepting the next leg of the selected course of the observation flight. The "turn short" technique is appropriate if the observing party does not intend to use authorized sensors close to the declared turn point of the route.</p>
          <p>2. Overflight turn - overflying the declared turn point of the route and maneuver to change the flight path of the observation aircraft in the shorter direction to intercept the next leg of the selected course. The "overflight turn" technique is appropriate if the observing party intends to use authorized sensors just prior to the turn point of the route, but does not intend to use authorized sensors in the first portion of the leg after the turn point of the route.</p>
          <p>3. Loop turn - maneuver to change the flight path of the observation aircraft after overflying the turn point of the route to overfly the turn point of the route on the selected course for the following leg. The "loop turn" technique is appropriate if the observing party intends to use authorized sensors just prior to and just after the turn point of the route.</p>
        </div>
      <p>SECTION II. MISSION PLAN</p>
        <div class="col-sm-12">
          <p>1. The mission plan shall include estimated mission timing for navigating between the turn points of the route by the observation aircraft throughout the mission. These calculations must take into account the time spent on the execution of any loop turns.</p>
          <p>2. The flight map attached to the mission plan shall indicate the turn points. Turn points that are intended to be flown as loop turns shall be annotated as such.</p>
          <p>3. If the observing party's mission plan envisages use of the "loop turn" type of maneuver after passing the turn point of the route, the observing party shall identify the turn point number where the loop turn will occur, in the field "Remarks". To simplify air traffic control coordination, use of loop turns should be kept to a minimum.</p>
          <p>4. To ensure the safe conduct of the observation flight, the agreed mission plan shall be reviewed jointly by the observed and observing parties with the participation of the necessary experts. This review may include anticipated procedures for all turning points.</p>
          <p>5. The points in this decision are to facilitate mission planning and coordination and do not, in any way, restrict flight crew flexibility in executing the actual mission.</p>
        </div>
      <p>This decision shall enter into force on the date of its adoption and shall have the same duration as the Treaty.</p>
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 22 July 2002, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
