<!-- DECISION 25/02 -->
<div id="decision_25_2"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top"> Back to Decisions List</a>
      <br/><a href="#25/02Annex">Annex</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC/XXIX/Dec/25/02<br/>16 December 2002</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>OSCC DECISION No. 25/02 <br/>TO THE TREATY ON OPEN SKIES <br>REVISION 1 OF OSCC DECISION No. 6/02
      <br/>TO THE TREATY ON OPEN SKIES</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>In accordance with Decision 6/02 of 18 February 2002, and in particular with paragraph 6 thereof, the Open Skies Consultative Commission has decided to revise and adopt the attached Annex to reflect the allocation of Observation Flight Reference numbers for Sweden and Finland.</p>
      <p>This Decision shall supercede OSCC Decision 13/02 of 22 July 2002.</p>
      <p>This Decision shall enter into force upon the entry into force of the Treaty for Finland on 10 February 2003 and shall have the same duration as the Treaty.</p>
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 16 December 2002, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>
<!--Annex-->
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>OPEN SKIES OBSERVATION FLIGHT REFERENCES NUMBERS</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col table-responsive">
      <table class="table table-striped">
        <tr>
          <td>STATE PARTY</td>
          <td>FULL PASSIVE QUOTA</td>
          <td>75 per cent PASSIVE QUOTA</td>
          <td>min 25 per cent BUT not &lt; 2</td>
          <td>OBSERVATION FLIGHT REFERENCE NUMBER</td>
          <td>TRAINING FLIGHT REFERENCE NUMBER</td>
        </tr>
        <tr>
          <td>Russian Federation (RU)/ <br>Belarus (BY) Group of</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>States Parties</td>
          <td>42</td>
          <td>31</td>
          <td>53</td>
          <td>001 - 053</td>
          <td>501 - 553</td>
        </tr>
        <tr>
          <td>Germany (DE)</td>
          <td>12</td>
          <td>9</td>
          <td>15</td>
          <td>054 - 068</td>
          <td>554 - 568</td>
        </tr>
        <tr>
          <td>United States of America (US)</td>
          <td>42</td>
          <td>31</td>
          <td>53</td>
          <td>069 - 121</td>
          <td>569 - 621</td>
        </tr>
        <tr>
          <td>Benelux (BX)</td>
          <td>6</td>
          <td>4</td>
          <td>8</td>
          <td>122 - 129</td>
          <td>622 - 629</td>
        </tr>
        <tr>
          <td>Bulgaria (BG)</td>
          <td>4</td>
          <td>3</td>
          <td>6</td>
          <td>130 - 135</td>
          <td>630 - 635</td>
        </tr>
        <tr>
          <td>Canada (CA)</td>
          <td>12</td>
          <td>9</td>
          <td>15</td>
          <td>136 - 150</td>
          <td>636 - 650</td>
        </tr>
        <tr>
          <td>Denmark (DK)</td>
          <td>6</td>
          <td>4</td>
          <td>8</td>
          <td>151 - 158</td>
          <td>651 - 658</td>
        </tr>
        <tr>
          <td>Spain (ES)</td>
          <td>4</td>
          <td>3</td>
          <td>6</td>
          <td>159 - 164</td>
          <td>659 - 664</td>
        </tr>
        <tr>
          <td>France (FR)</td>
          <td>12</td>
          <td>9</td>
          <td>15</td>
          <td>165 - 179</td>
          <td>665 - 679</td>
        </tr>
        <tr>
          <td>Georgia (GE)</td>
          <td>4 *</td>
          <td>-</td>
          <td>-</td>
          <td>180 - 185</td>
          <td>680 - 685</td>
        </tr>
        <tr>
          <td>United Kingdom (GB)</td>
          <td>12</td>
          <td>9</td>
          <td>15</td>
          <td>186 - 200</td>
          <td>686 - 700</td>
        </tr>
        <tr>
          <td>Greece (GR)</td>
          <td>4</td>
          <td>3</td>
          <td>6</td>
          <td>201 - 206</td>
          <td>701 - 706</td>
        </tr>
        <tr>
          <td>Hungary (HU)</td>
          <td>4</td>
          <td>3</td>
          <td>6</td>
          <td>207 - 212</td>
          <td>707 - 712</td>
        </tr>
        <tr>
          <td>Iceland (IS)</td>
          <td>4</td>
          <td>3</td>
          <td>6</td>
          <td>213 - 218</td>
          <td>713 - 718</td>
        </tr>
        <tr>
          <td>Italy (IT)</td>
          <td>12</td>
          <td>9</td>
          <td>15</td>
          <td>219 - 233</td>
          <td>719 - 733</td>
        </tr>
        <tr>
          <td>Kyrgyzstan (KG)</td>
          <td>4 **</td>
          <td>3</td>
          <td>6</td>
          <td>234 - 239</td>
          <td>734 - 739</td>
        </tr>
        <tr>
          <td>Norway (NO)</td>
          <td>7</td>
          <td>5</td>
          <td>9</td>
          <td>240 - 248</td>
          <td>740 - 748</td>
        </tr>
        <tr>
          <td>Poland (PL)</td>
          <td>6</td>
          <td>4</td>
          <td>8</td>
          <td>249 - 256</td>
          <td>749 - 756</td>
        </tr>
        <tr>
          <td>Portugal (PT)</td>
          <td>2</td>
          <td>1</td>
          <td>4</td>
          <td>257 - 260</td>
          <td>757 - 760</td>
        </tr>
        <tr>
          <td>Romania (RO)</td>
          <td>6</td>
          <td>4</td>
          <td>8</td>
          <td>261 - 268</td>
          <td>761 - 768</td>
        </tr>
        <tr>
          <td>Slovak Republic (SK)</td>
          <td>4</td>
          <td>3</td>
          <td>6</td>
          <td>269 - 274</td>
          <td>769 - 774</td>
        </tr>
        <tr>
          <td>Czech Republic (CZ)</td>
          <td>4</td>
          <td>3</td>
          <td>6</td>
          <td>275 - 280</td>
          <td>775 - 780</td>
        </tr>
        <tr>
          <td>Turkey (TR)</td>
          <td>12</td>
          <td>9</td>
          <td>15</td>
          <td>281 - 295</td>
          <td>781 - 795</td>
        </tr>
        <tr>
          <td>Ukraine (UA)</td>
          <td>12</td>
          <td>9</td>
          <td>15</td>
          <td>296 - 310</td>
          <td>796 - 810</td>
        </tr>
        <tr>
          <td>Sweden (SE)</td>
          <td>7</td>
          <td>5</td>
          <td>9</td>
          <td>311 - 319</td>
          <td>811 - 819</td>
        </tr>
        <tr>
          <td>Finland (FI)</td>
          <td>5</td>
          <td>3</td>
          <td>7</td>
          <td>320 - 326</td>
          <td>820 - 826</td>
        </tr>
        <tr>
          <td>Acceding State</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Acceding State</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Acceding State</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="6">* not yet allocated passive quotas to this State Party</td>
        </tr>
        <tr>
          <td colspan="6">** sample only - quota(s) not yet allocated</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Effective as of 10 February 2003</p>
      <p>(Effective date will be amended, as per paragraph 6, with each additional allocation.)</p>
    </div>
  </div>

<hr>
