<!-- DECISION 24/02 -->
<div id="decision_24_2"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top"> Back to Decisions List </a>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC/ XXIX/Dec/24/02<br/>16 December 2002</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>OSCC DECISION No. 24/02 <br/>TO THE TREATY ON OPEN SKIES <br>REVISION 2 OF DECISION NUMBER TWENTY <br/>TO THE TREATY ON OPEN SKIES </strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Due to the upcoming entry into force of the Treaty on Open Skies for Finland and in accordance with Decision Number Twenty of 12 June 1995 and in particular with paragraph 3 of the Annex attached to that Decision, the Open Skies Consultative Commission has decided to revise the Annex to Decision Number Twenty of 12 June 1995 and adopt the attached Annex.</p>
      <p>This decision shall enter into force upon the entry into force of the Treaty for Finland on 10 February 2003 and shall have the same duration as the Treaty.</p>
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 16 December 2002, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
        <div class="col-sm-12 text-center">
          <p><strong>CODES FOR THE STATES PARTIES OR GROUPS OF <br>STATES PARTIES FOR THE PURPOSE OF RADIOTELEPHONY COMMUNICATION WITH AIR TRAFFIC SERVICE UNITS</strong></p>
        </div>
        <div class="col-sm-2 col-sm-offset-5">
          <p>11 Germany </p>
          <p>12 United States of America </p>
          <p>13 Belarus </p>
          <p>14 Benelux </p>
          <p>15 Bulgaria </p>
          <p>16 Canada </p>
          <p>17 Denmark </p>
          <p>18 Spain </p>
          <p>19 France </p>
          <p>21 Georgia </p>
          <p>22 United Kingdom </p>
          <p>23 Greece </p>
          <p>24 Hungary </p>
          <p>25 Iceland </p>
          <p>26 Italy </p>
          <p>27 Kyrgyzstan <em></em></p>
          <p>28 Norway </p>
          <p>29 Poland </p>
          <p>31 Portugal </p>
          <p>32 Romania </p>
          <p>33 Russian Federation </p>
          <p>34 Slovakia </p>
          <p>35 Czech Republic </p>
          <p>36 Turkey </p>
          <p>37 Ukraine </p>
          <p>38 Sweden </p>
          <p>39 Finland </p>
          <p>91 Belarus and Russian Federation group of States Parties</p>
          <p>92 Western European Union group of States Parties</p>
        </div>
        <div class="col-sm-12">
          <p>States Parties operating more than one aircraft at the same time should after the country code add a self-assigned figure between one and nine to distinguish safely between their aircraft.</p>
          <p>The codes for the States Parties or groups of States Parties shall be listed as follows:</p>
            <div class="col-sm-12">
              <p>1. In alphabetical order to the French alphabet.</p>
              <p>2. Once a number has been allocated that number shall be retained by the respective State Party or group of States Parties.</p>
              <p>3. Additional States Parties or groups of States Parties acceding to the Treaty shall adopt the next available number at the end of the appropriate current list.</p>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p align="center">* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>This Annex is an integral part of Decision Number Twenty of 12 June 1995. It has entered into force simultaneously with the Treaty on Open Skies and shall have the same duration as the Treaty.</p>
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 16 December 2002, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>


<hr>
