<!-- DECISION 15/02 -->
<div id="decision_15_2"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top"> Back to Decisions List </a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC/XXVII/Dec/15/02<br/>22 July 2002</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>OSCC DECISION No. 15/02 <br/>TO THE TREATY ON OPEN SKIES <br>PROVISION ON CALIBRATION TARGETS</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Article VI, Section I, paragraph 17(A), provides that: "The observed Party shall provide a calibration target...to be overflown during the demonstration flight or the observation flight upon the request of either Party, for each sensor that is to be used during the observation flight."</p>
      <p>The Treaty on Open Skies does not address the implementation of calibration targets to be overflown during observation flights in a manner comparable to the detailed implementation guidelines provided in Annex F, Section III for calibration targets to be overflown during demonstration flights.</p>
      <p>In order to resolve ambiguities and differences of interpretation that may become apparent in implementation of the requirement to provide a calibration target during observation flights, in accordance with Article X, paragraph 4(B) of the Treaty on Open Skies, and recognizing the financial burden placed on many States Parties to supply calibration targets, the OSCC has decided that:</p>
        <div class="col-sm-12">
          <p>When the aircraft is provided by the observing Party, the observed Party shall not be obliged to provide a calibration target unless the observed Party requests a demonstration flight or overflight during the observation flight.</p>
          <p>When the aircraft is provided by the observed Party, the observed Party shall not be obliged to provide a calibration target unless the observing Party requests a demonstration or overflight during the observation flight.</p>
        </div>
      <p>This decision shall enter into force on the date of its adoption and shall have the same duration as the Treaty on Open Skies.</p>
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 22 July 2002, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
