<!-- DECISION 10/02 -->
<div id="decision_10_2"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a name="10/02" href="#to10/02"> Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC/XXVIII/Dec/10/02<br/>10 June 2002</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p align="center"><strong>OSCC DECISION No. 10/02 <br/>TO THE TREATY ON OPEN SKIES <br/>REVISION 1 OF DECISION NUMBER EIGHTEEN</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>In an attempt to provide for economic use of scarce resources the Open Skies Consultative Commission has decided to change Decision Number Eighteen to the Treaty on Open Skies of 12 October 1994, paragraph 3, to read as follows:</p>
        <div class="col-sm-12">
          <p>"3. The observing Party shall provide copies of the original data from an observation flight in response to requests received before the expiration of the specified two-year period. It shall make every effort to provide the copies, no later than 45 days after receipt of a request, to States Parties which request them, unless otherwise agreed. However, for requests sent within the first 30 days after transmission of the mission report this 45 day period starts 30 days after the mission report was transmitted."</p>
        </div>
      <p>This revision is effective from the date of its adoption.</p>
    </div>
  </div>

<hr />
