<!-- DECISION 3/02 -->
<div id="decision_3_2"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top"> Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC/XXVII/Dec/3/02<br/>21 January 2002 </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong> OSCC DECISION No. 3/02 <br/>TO THE TREATY ON OPEN SKIES  <br>ACCESSION OF THE KINGDOM OF SWEDEN TO THE TREATY ON OPEN SKIES</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The Open Skies Consultative Commission,</p>
      <p>Having received from the Depositories the application of the Kingdom of Sweden for accession to the Treaty on Open Skies, deposited on 4 January 2002, in Budapest and 7 January in Ottawa,</p>
      <p>Pursuant to the provisions of paragraph 4 of Article XVII of the Treaty on Open Skies,</p>
      <p>Has decided:</p>
        <div class="col-sm-11 col-sm-offset-1">
          <p>That the application for accession of the Kingdom of Sweden to the Treaty on Open Skies is accepted.</p>
          <p>In accordance with paragraph 6 of article XVII, the Treaty shall enter into force for the Kingdom of Sweden sixty days after the deposit of its instrument of accession with the Government of Canada or with the Government of the Republic of Hungary or both.</p>
          <p>Done at Vienna in the Open Skies Consultative Commission on 4 February 2002, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
        </div>
    </div>
  </div>

<hr>
