<!-- DECISION 1/02 -->
<div id="decision_1_2"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top"> Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC/XXVII/Dec/1/02 <br/>21 January 2002</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>OSCC DECISION No. 1/02 <br/>TO THE TREATY ON OPEN SKIES <br>STATEMENTS OF THE CZECH REPUBLIC AND SLOVAKIA AS DELIVERED ON <br>THE 4TH MEETING OF THE 3RD SESSION OF <br>THE OSCC ON 3 MAY 1993 AND ATTACHED TO THE JOURNAL</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The States Parties to the Treaty on Open Skies recalling the statements made by the Czech Republic and Slovakia as direct successor States of the former Czech and Slovak Federal Republic at the 4th Meeting of the 3rd Session of the OSCC on 3 May 1993,</p>
      <p>Have agreed as follows:</p>
      <p>The above mentioned statements annexed to this decision shall be deemed as a fulfilment of the requirements necessary in order for the Czech Republic and Slovakia fully to exercise the rights and fulfil the obligations as set forth in the Treaty.</p>
      <p>The States Parties to the Treaty note, that the technical information contained in paragraphs II, III, and IV of the above mentioned statements of the Czech Republic and Slovakia have been updated to reflect the actual situation since 3 May 1993 in compliance with the procedures set by the Treaty through relevant notifications.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>STATEMENTS OF THE CZECH REPUBLIC AND SLOVAKIA AS DELIVERED ON THE 4TH MEETING OF THE 3RD SESSION OF <br>THE OSCC ON 3 MAY 1993 AND ATTACHED TO THE JOURNAL</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>1. Statement of the Czech Republic </strong></p>
        <div class="col-sm-12">
          <p>The Czech Republic, as one of the direct successor States of the former Czech and Slovak Federal Republic, declares that it assumes all rights and obligations of the former Czech and Slovak Federal Republic under the Open Skies Treaty and makes the following requests and notifications to the Open Skies Consultative Commission.</p>
            <div class="col-sm-12">
              <p>I. Quotas :</p>
                <div class="col-sm-12">
                    <p>I. A Passive quotas :</p>
                    <p>For the purpose of Annex A, section I, paragraph 1, the passive quota of the Czech Republic should be 4 after entry into force of the Treaty.</p>
                    <p>It is suggested that for the purpose of accepting observation flights by the States Parties which have acquired rights to overfly the former CSFR and taking into account the provisions of Annex A, section II, paragraph 1, the allocation of passive quotas of the Czech Republic for the first distribution will be as follows:</p>
                      <div class="col-sm-12">
                        <p>- Canada: 1 overflight</p>
                        <p>- The Kingdom of Spain: 1 overflight</p>
                        <p>- Ukraine: 1 overflight</p>
                      </div>
                    <p>I. B Active quotas :</p>
                    <p>The active quota of the Czech Republic should be 4 observation flights after entry into force of the Treaty with due account of Article III, Section I, paragraph 5.</p>
                    <p>It is suggested that the active quotas of the Czech Republic will be distributed for the first distribution for the purpose of Annex A, section II, paragraph 1 as follows :</p>
                      <div class="col-sm-12">
                        <p>- 1 overflight over the territory of the Federal Republic of Germany</p>
                        <p>- not allocated</p>
                        <p>- not allocated</p>
                      </div>
                    <p>II. According to Annex A, section III and Annex E, paragraph 5 (A), the maximum flight distance of observation flights over the territory of the Czech Republic will be 960 km.</p>
                    <p>III. According to Annex E, Appendix I, section II, the Czech Republic has declared that PRAHA INTERNATIONAL will be the site to be used as point of entry, point of exit, Open Skies airfield, refuelling airfield, calibration target, and site for inspection of aircraft/sensors.</p>
                    <p>IV. The diplomatic clearance number (as set forth in article VI, section I, paragraph 4) and the list of designated personnel (as set forth in article XIII, section 1, paragraph 1) were communicated to other States parties on 22 March, 1993 by means of a note verbale No. 98/93 of the Czech Delegation.</p>
                  </div>
            </div>
        </div>
      <p><strong>2. Statement of Slovakia </strong></p>
      <p>Slovakia, as one of the direct successor States of the former Czech and Slovak Federal Republic, declares that it assumes all rights and obligations of the former Czech and Slovak Federal Republic under the Open Skies Treaty and makes the following requests and notifications to the Open Skies Consultative Commission.</p>
        <div class="col-sm-12">
          <p>I. Quotas :</p>
            <div class="col-sm-12">
              <p>I. A Passive quotas :</p>
              <p>For the purpose of Annex A, section I, paragraph 1, the passive quota of Slovakia should be 4 after entry into force of the Treaty.</p>
              <p>It is suggested that for the purpose of accepting observation flights by the States Parties which have acquired rights to overfly the former CSFR and taking into account the provisions of Annex A, section II, paragraph 1, the allocation of passive quotas of Slovakia for the first distribution will be as follows:</p>
                <div class="col-sm-12">
                  <p>- Canada: 1 overflight</p>
                  <p>- The Kingdom of Spain: 1 overflight</p>
                  <p>- Ukraine: 1 overflight</p>
                </div>
              <p>I. B Active quotas :</p>
              <p>The active quota of Slovakia should be 4 observation flights after entry into force of the Treaty with due account of Article III, Section I, paragraph 5.</p>
              <p>It is suggested that the active quotas of Slovakia will be distributed for the first distribution for the purpose of Annex A, section II, paragraph 1 as follows:</p>
                <div class="col-sm-12">
                  <p>- 1 overflight on Ukraine.</p>
                  <p>- not allocated</p>
                  <p>- not allocated</p>
                </div>
              <p>II. According to Annex A, section III and Annex E, paragraph 5 (A), the maximum flight distance of observation flights over the territory of Slovakia will be 1300 km.</p>
              <p>III. According to Annex E, Appendix I, section II, Slovakia has declared that BRATISLAVA will be the site to be used as point of entry, point of exit, Open Skies airfield, refuelling airfield, calibration target, and site for inspection of aircraft /sensors.</p>
              <p>IV. The diplomatic clearance number (as set forth in article VI, section I, paragraph 4) and the list of designated personnel (as set forth in article XIII, section 1, paragraph 1) were communicated to other States parties on 26 March, 1993 by means of a note verbale No. 207/93 of the Slovak Delegation.</p>
            </div>
        </div>
    </div>
  </div>

<hr />
