<!-- DECISION NINETEEN -->
<div id="decision_19"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top"> Back to Decisions List </a><br/>
      <a href="Treaty Docs/OpenSkiesMissionPlan.pdf" target="_blank">Open Skies Mission Plan</a><br/>
      <a href="Treaty Docs/AnnextoOSMissionPlan.pdf" target="_blank">Annex to Open Skies Mission Plan</a><br/>
      <a href="Treaty Docs/AppendixtoAnnexOSMissionPlan.pdf" target="_blank">Appendix to Annex to Open Skies Mission Plan</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC/VII/Dec.19<br/>23 January 1995</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION NINETEEN<br/>TO THE TREATY ON OPEN SKIES <br/>SUPPLEMENTARY PROVISIONS FOR THE COMPLETION OF THE <br/>MISSION PLAN AND FOR THE CONDUCT OF AN OBSERVATION FLIGHT </strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The Open Skies Consultative Commission, in accordance with Article VI, Section I, paragraphs 14 and 15, and Section II, and pursuant to Article VIII, Sections I and II of the Treaty on Open Skies, has decided as follows:</p>
      <p><strong>SECTION I. DEFINITION OF TERMS</strong></p>
        <div class="col-sm-12">
          <p>The following definitions shall apply to terms used in this Decision:</p>
            <div class="col-sm-12">
              <p>1.	The term "segment" means that portion of an observation flight from takeoff to planned landing.</p>
              <p>2.	The term "leg" means a portion of the segment between two co-ordinates, navigation fixes or turning points designated in the mission plan.</p>
              <p>3.	The term "TAS" means True Air Speed, the speed of the aircraft relative to undisturbed air.</p>
              <p>4.	The term "estimated mission time" means the time from the beginning of the first leg to the end of each leg, calculated using TAS.</p>
              <p>5.	The term "elevation (E)" means the vertical distance of a point or level, on or affixed to the surface of the earth, measured from mean sea level. The datum used in this Decision is the maximum ground elevation on a given leg.</p>
              <p>6.	The term "HMIN" means the certified minimum height at which a sensor may be operated. If there is concurrent use of different sensors on a given leg, for the purposes of this Decision, the highest certified minimum height shall apply.</p>
              <p>7. The term "altitude A" is the minimum permissible altitude for the use of sensors on a given leg. The datum used in this Decision is the sum of the maximum ground elevation E and the HMIN as defined in paragraph 6.</p>
              <p>8. The term "altitude A" is the barometric altitude to be flown to achieve HMIN for a given leg after adjustment of altitude A for the outside forecast temperature.</p>
              <p>9. The term "altitude A" is the barometric flight altitude after adjustment of altitude A for standard atmospheric pressure.</p>
              <p>10. The term "cruising altitude" means an altitude maintained during flight referenced to the QNH altimeter setting and separated from other cruising altitudes by specified intervals.</p>
              <p>11.	The term "flight level (FL)" means a surface of constant atmospheric pressure which is related to a specific pressure datum, 1013.2 hectopascals (hPa), and is separated from other such surfaces by specific pressure intervals. The datum 1013.2 hPa has the same value as 1013.2 mb, 29.92 inches Hg and 760 mm Hg.</p>
            </div>
        </div>
      <p><strong>SECTION II. MISSION PLAN</strong></p>
        <div class="col-sm-12">
          <p>1.	The Mission Plan format consists of a cover sheet, an annex for each segment and an appendix to each annex. The Mission Plan shall be in the format attached to this Decision.</p>
          <p>2.	When submitting the Mission Plan the observing Party shall complete the cover sheet, for which data is initially only required in paragraphs 1 to 3. Subsequent paragraphs shall be jointly completed, as required, and signed only after final acceptance and agreement of the Mission Plan by all participating States Parties.</p>
          <p>3.	An "Annex to Open Skies Mission Plan" shall be submitted for each segment; the section at the top of page 1 and columns 1 to 8 on page 1 and all following pages must be completed. If the observed Party exercises its right to provide an observation aircraft, columns 4 and 5 need not be completed. The field "Remarks" shall list all the supplementary information and requirements that may contribute to the safe conduct of the flight in accordance with the Treaty. This must include the ground services required at the landing field. In the tables only every second row should be completed. The blank rows are intended to enable the agreed changes to be clearly entered. Columns 9 and 10 should be completed after agreement on the routing and the respective altitudes, cruising altitudes or flight levels for all legs. The single value per leg used in column 9 is determined according to OSCC Decision No. 13. The codes to be entered in column 10:
          "Sensor/media combinations allowed" shall be established during certification of the relevant observation aircraft.</p>
          <p>4.	A flight map shall be attached to the Mission Plan, in which the relevant airfields and co-ordinates, navigation fixes or turning points required for determining the flight route are marked.</p>
          <p>5.	Submission of the "Appendix to Annex to Open Skies Mission Plan", which contains additional information and reflects the complete calculation of the altitudes, cruising altitudes or flight levels in accordance with OSCC Decision No. 13, is optional. Since this appendix may contribute to the enhancement of transparency and avoidance of errors in calculation, it is recommended, as a general principle, that it is submitted with the Mission Plan.</p>
        </div>
      <p><strong>SECTION III. TOTAL FLIGHT DISTANCE</strong></p>
        <div class="col-sm-12">
          <p>1.	The total flight distance is the sum of the flight distances of the individual segments. The flight distance of each segment is the sum of the flight distances of the individual legs determined from the co-ordinates of the published aerodrome reference point of the departure airfield through straight lines connecting the co-ordinates, navigation fixes or turning points of all legs in the proposed sequence to the co-ordinates of the published aerodrome reference point of the landing airfield.</p>
          <p>2.	Additional flight distances due to the use of published departure and approach procedures or to following the instructions of air traffic control authorities are not taken into account.</p>
          <p>3.	Inasmuch as the departure and/or landing airfields may themselves be objects of interest, or such objects of interest may be located in direct proximity to these airfields on the track of the first and/or last leg, the observed Party shall, at the request of the observing Party, through the authorization of suitable departure and/or approach procedures, ensure that these objects can be overflown at the agreed altitude, cruising altitude or flight level. The additional flight distance necessary shall likewise not be taken into account.</p>
          <p>4.	The additional flight distance required from leaving the agreed track until regaining the agreed track at the same point after refuelling or overnight stop shall not be taken into account.</p>
          <p>5.	The changes in the flight distance that result from the flight procedures employed when changing heading shall not be taken into account.</p>
        </div>
      <p><strong>SECTION IV. DEVIATIONS</strong></p>
        <div class="col-sm-12">
          <p>1.	The observing Party may indicate, in the "Remarks" section of the Annex to Open Skies Mission Plan, that it does not intend to operate sensors during deviations from track as described in Article VIII Section II. If the observing Party does not waive its right to operate sensors during deviations from track, the procedures outlined in paragraph 2 of this Section will be executed, unless otherwise agreed.</p>
          <p>2.	The observing Party, after acceptance of the Mission Plan, shall submit a document with separate listings of the maximum ground elevation to be found on the left and right of a particular leg, within 50 kilometres of either side of the planned track. Once agreed by all participating State parties, these additional maximum elevations will form the basis for OSCC Decision No. 13 altitude calculations.</p>
        </div>
      <p><strong>SECTION V. REVIEW CLAUSE</strong></p>
        <div class="col-sm-12">
          <p>The provisions of this Decision shall be re-examined on the basis of practical experience if so requested by a State Party after 31 December of the year during which the Treaty entered into force.</p>
          <p>This Decision shall enter into force simultaneously with the Treaty on Open Skies and shall have the same duration as the Treaty. Decided in Vienna, in the Open Skies Consultative Commission, 23 January 1995, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
        </div>
    </div>
  </div>

<hr />
