<!-- DECISION 4/13 -->
<div id="decision_4_13"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/4/13
      <br>16 September 2013
      <br> OSCC+
      <br>Original:ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>2nd Meeting of the 62nd Session</strong> <br> OSCC(62) Journal No. 200, Agenda item 3(d)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 4/13 <br/>COMMERCIAL AVAILABILITY OF SENSORS ACQUIRED FOR THE PURPOSE OF THE OPEN SKIES TREATY</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Understanding sensor resolution and performance limitations are defined by Article IV, paragraph 2 of the Treaty on Open Skies and the respective sensor decisions,</p>
      <p>Acknowledging that the expense and effort to purchase and install aerial sensors on observation aircraft and certifying aerial sensors are significant,</p>
      <p>Confirming that States Parties have equal rights to acquire on commercial terms sensors allowed by the Treaty on Open Skies for use on an Open Skies aircraft, and</p>
      <p>Pursuant to Article IV, paragraphs 2 and 3 and Article X, paragraph 5 of the Treaty on Open Skies, the Open Skies Consultative Commission has decided as follows:</p>
        <div class="col-sm-12">
          <p>1. Any State Party or group of States Parties (hereinafter, the notifying State Party) that intends to certify a sensor that has not been previously certified shall provide the following information not later than 150 days prior to a certification:</p>
            <div class="col-sm-12">
              <p>(A) Sensor type and model number;</p>
              <p>(B) Name of the manufacturer;</p>
              <p>(C) State Party point of contact for additional information.</p>
            </div>
          <p>This information shall be submitted using an Open Skies Format 35 addressed to all States Parties; not more than one sensor shall be notified in each Open Skies Format 35. The notifying State Party may include additional information.</p>
          <p>2. Any State Party or group of States Parties (hereinafter, the requesting State Party) may, within 30 days of the date of the notification described in paragraph 1 of this decision, request additional information or clarification of the commercial availability of the notified sensor from the notifying State Party.</p>
            <div class="col-sm-12">
              <p>(A) This request shall be in the form of an Open Skies Format 35 addressed to all other States Parties.</p>
              <p>(B) The notifying State Party must respond within 30 days to a request submitted pursuant to paragraph 2(A). The information shall be provided in an Open Skies Format 35 addressed to all States Parties, or, if the information exceeds the capacity of the Open Skies Format 35, it shall specify how the information can be retrieved by all States Parties.</p>
              <p>(C) If the requesting State Party is not satisfied with the information on commercial availability or, based on the analysis of the information received, considers that this sensor is not commercially available, then the requesting State Party may issue a challenge to the notifying State Party. This challenge shall be in the form of an Open Skies Format 35 addressed to all other States Parties and submitted within 30 days after receiving the response of the notifying State Party, or 30 days after its request if no response is received. The Open Skies Format 35 must include the specific reasons for the challenge.</p>
              <p>(D) In the event the notifying and requesting States Parties cannot resolve the challenge through good faith efforts, the sensor type and model identified in paragraph 1 of this decision shall not be certified. The notifying State Party shall produce and publish a delegate's document and the current chairperson of the OSCC in accordance with Article X, paragraph 4 of the Treaty on Open Skies shall place this matter onto the agenda at the next regularly scheduled OSCC plenary.</p>
              <p>(E) If no State Party issues a challenge pursuant to paragraph 2(C) of this decision within the time frames specified, or if all challenges issued within the specified time limits have been successfully resolved, the certification and use of the notified sensor may not be objected to by any State Party on the basis of commercial availability.</p>
            </div>
          <p>3. Any type and model of a sensor previously certified shall be deemed commercially available with respect to Article IV, paragraph 2 of the Treaty on Open Skies.</p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>This decision shall enter into force on the date of its adoption and shall have the same duration as the Treaty on Open Skies. For 150 days after entry into force of this decision, the determination of commercial availability shall be in accordance with Article IV, paragraph 2 of the Treaty on Open Skies; however, States Parties shall, to the extent possible, conform to the methodology of this decision.</p>
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 16 September 2013, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all text being equally authentic.</p>
    </div>
  </div>

<hr>
