<!-- DECISION 3/13 -->
<div id="decision_3_13"></div>

  <div class="row">
    <div class="col-sm-2">
        <p align="left"><a href="#top">Back to Decisions List</a></p>
      </div>
      <div class="col-sm-2 col-sm-offset-8">
        <p align="right">OSCC.DEC/3/13
        <br>16 September 2013
        <br> OSCC+
        <br>Original:ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong> 2nd Meeting of the 62nd Session </strong> <br> OSCC(62) Journal No. 200, Agenda item 3(c)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 3/13 <br/>ESTABLISHING AN INFORMAL WORKING GROUP ON SHARING ASSETS</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The Open Skies Consultative Commission (OSCC),</p>
      <p>Taking into account the successful initial discussions on sharing Open Skies assets, Recalling the chairman's notes on the Open Skies Sharing Assets Meeting held on 22 November 2010 (OSCC.DEL/22/10/Rev.1) and the discussions on this topic at the informal meeting held on 24 January 2011,</p>
      <p>Guided by the previous OSCC decisions on the Informal Working Groups,</p>
      <p>Decides to establish an Informal Working Group on Sharing Assets (IWGSA) in addition to the five Informal Working Groups mentioned in OSCC Decision No. 3/10 of 22 February 2010;</p>
      <p>Authorizes this IWGSA to work as follows:</p>
        <div class="col-sm-12">
          <p>(a) Chairperson: the current Chairperson of the OSCC;</p>
          <p>(b) Meet when convened by the Chairperson or as necessary upon request by a State Party;</p>
          <p>(c) The range of subjects covered includes the following points as regards Open Skies assets:</p>
            <div class="col-sm-12">
              <p>- Definition of the IWGSA working area;</p>
              <p>- Definition of the considered assets;</p>
              <p>- Analysis of the current inventory;</p>
              <p>- Identification of future needs;</p>
              <p>- Elaboration of requirements in order to establish specifications;</p>
              <p>- Sounding out of the possibilities to cover the relevant needs;</p>
              <p>- Possibilities for sharing assets.</p>
            </div>
        </div>
      <p>The same rules of procedure apply for the IWGSA as for the other Informal Working Groups in accordance with OSCC Decision No. 3/10 of 22 February 2010.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 16 September 2013 in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
