<!-- DECISION 2/13 -->
<div id="decision_2_13"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top"> Back to Decisions List </a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/2/13
      <br>16 September 2013
      <br>OSCC+
      <br>Original:ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-ms-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>2nd Meeting of the 62nd Session</strong> <br>OSCC(62) Journal No. 200, Agenda item 3(b)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 2/13 <br/>REVIEW OF PER DIEM EXPENSES IN OSCC DECISION No. 2/09 AND DECISION No. 8/11</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>In 2013 the Informal Working Group on Rules and Procedures (IWGRP) reviewed the provisions of Section V, paragraph 2, of OSCC Decision No. 2/09 on the distribution of costs arising under the Treaty on Open Skies.</p>
      <p>Under OSCC Decision No. 8/11, the OSCC agreed to maintain the maximum daily per person sum of EUR 150 to be reimbursed by the observing party for meals and accommodation provided to its personnel during certifications and observation flights until the end of 2013. Decision No. 8/11 tasked the OSCC to review the amount again in 2013.</p>
      <p>The IWGRP review confirmed the current figure of EUR 150 will be the cost rate for the next two years until the end of 2015.</p>
      <p>Thus the OSCC hereby decides that Decision No. 2/09 remains in effect and requires no changes. The OSCC notes that the cost rates in this decision will be reviewed again in 2015.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 16 September 2013 in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
