<!-- DECISION 5/13 -->
<div id="decision_5_13"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/5/13
      <br>16 September 2013
      <br>OSCC+
      <br>Original:ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>2nd Meeting of the 62nd Session  </strong> <br>OSCC(62) Journal No. 200, Agenda item 3(e)  </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 5/13 <br/>EXCHANGE OF IMAGERY COLLECTED BY SIDEWAYS-LOOKING SYNTHETIC APERTURE RADAR DURING AN OBSERVATION FLIGHT</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Considering that the data collected by the sideways-looking synthetic aperture radar during an observation flight in the form of initial phase information may be processed by various mathematical methods to acquire the radar image, and</p>
      <p>Considering that different systems may employ different levels of processing before the first recording of any data on the aircraft, and</p>
      <p>Agreeing that using various mathematical methods to process the initial phase information, different values of the ground resolution may be obtained, and</p>
      <p>Seeking to avoid the ambiguity of the ground resolution analysis results after conducting the certification and demonstration flights with sideways-looking synthetic aperture radar,</p>
      <p>The Open Skies Consultative Commission, the provisions of Article IX, Section III, paragraphs 4 and 5, notwithstanding and pursuant to the provisions of Article X, paragraph 5 has decided as follows:</p>
        <div class="col-sm-12">
          <p>1. The data collected during an observation flight shall be converted into a radar image. This radar image shall be recorded in the Open Skies Digital Data Exchange Format (OSDDEF), with the digital samples corresponding to samples in slant range and azimuth.</p>
          <p>2. After the radar image has been converted to the OSDDEF format, together with the appropriate annotation, other information recorded that pertains to the synthetic aperture radar image shall be verifiably erased. This shall include:</p>
            <div class="col-sm-12">
              <p>(A) The initially recorded data, or initial phase information;</p>
              <p>(B) The ancillary information used in the process of forming the radar image;</p>
              <p>(C) Any intermediate products, including any radar images formed prior to the final production of the OSDDEF file.</p>
            </div>
          <p>3. The radar image with corresponding annotation contained in the OSDDEF file shall be retained by the observing State Party and shall be provided for exchange to all States Parties. Any other non-image data contained on the standardized exchange media shall be consistent with the requirements of the Treaty and relevant decisions. The initial phase information shall not be retained or used for exchange.</p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>This decision shall enter into force on the day of its adoption and shall have the same duration as the Treaty.</p>
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 16 September 2013, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
