<!-- DECISION 3/10 -->
<div id="decision_3_10"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/3/10
      <br>22 February 2010
      <br>OSCC++
      <br>Original:ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>2nd Meeting of the 51st Session</strong> <br>OSCC(51) Journal No. 162, Agenda item 3 </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 3/10 <br/>RULES OF PROCEDURE AND WORKING METHODS OF THE <br/>OPEN SKIES CONSULTATIVE COMMISSION AND ITS <br/>INFORMAL WORKING GROUPS</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <P>The Open Skies Consultative Commission (OSCC),</P>
      <P>Taking into account the successful operation of the Open Skies Consultative Commission since the entry into force of the Treaty on Open Skies on 1 January 2002,</P>
      <P>Recalling the experience gathered during the period of the provisional implementation of the Treaty, including previous OSCC decisions on the creation of Informal Working Groups,</P>
      <P>Decides to continue OSCC operations based on the following rules of procedure and working methods, pursuant to Article X and Annex L of the Treaty on Open Skies and the OSCC Decision Number Six to the Treaty of 16 July 1993 (OSCC/I/Dec.6):</P>
        <div class="col-sm-12">
          <p>- The sessions of the OSCC shall last from the end of an OSCE recess to the end of the following recess (winter, spring and summer), which means a duration of about four months;</p>
          <p>- The chairmanship of the OSCC shall be assumed by States Parties in rotation, determined by alphabetical order in the French language. Each chairmanship shall serve from the opening of a session until the opening of the following session, unless otherwise agreed; </p>
          <p>- While in session, the OSCC shall meet formally once per month, or more frequently on request by a State Party, but no more than once per week. Informal meetings of the OSCC will be convened by the OSCC chairmanship when needed.</p>
          <p>- Decisions of the OSCC shall be recorded in the journal by the OSCC Chairperson. Each decision shall be attached to the journal; it shall also be published as a separate document with an OSCC decision number, starting on 1 January and finishing on 31 December of each calendar year;</p>
          <p>- Authorizes these Informal Working Groups (IWG) to continue working as follows:</p>
            <div class="col-sm-12">
              <p>(1) Informal Working Group on Sensors (IWGS)</p>
                <div class="col-sm-12">
                  <p>(a) Chairperson: United States of America</p>
                  <p>(b) Meet to prepare OSCC Decisions on procedures for use of Treaty sensors as specified in Article IV. Meet at least once per year to review/update relevant decisions, especially taking into account technological changes. (Reference: OSCC.DEC/1/09)</p>
                </div>
              <p>(2) Informal Working Group on Planning the Review Conference (IWGPRC)</p>
                <div class="col-sm-12">
                  <p>(a) Chairperson: Review Conference Chair</p>
                  <p>(b) Meet as necessary to prepare the OSCC for the Review Conference to be held every five years. (Reference: OSCC.DEC/6/09)</p>
                </div>
              <p>(3) Informal Working Group on Rules and Procedures (IWGRP)</p>
                <div class="col-sm-12">
                  <p>(a) Chairperson: Russian Federation</p>
                  <p>(b) Meet as necessary to prepare OSCC Decisions based on proposals received from States Parties on specific Treaty implementation issues.</p>
                </div>
              <p>(4) Informal Working Group on Notifications and Formats (IWGNF)</p>
                <div class="col-sm-12">
                  <p>(a) Chairperson: United States of America</p>
                  <p>(b) Meet when convened by the Chairperson to review/change Treaty agreed notifications and formats based on proposals received from States Parties on specific issues.</p>
                </div>
              <p>(5) Informal Working Group on Certification (IWGC)</p>
                <div class="col-sm-12">
                  <p>(a) Chairperson: Germany</p>
                  <p>(b) Meet as necessary upon request by a State Party wishing to organize a certification event or on specific issues related to certification.</p>
                </div>
            </div>
          <p>- States Parties are encouraged to introduce issues requiring OSCC action in a relevant IWG. States Parties are encouraged to provide a food for thought paper explaining the issue, including background as applicable, and a proposed recommendation, usually in the form of a Draft Decision or Chairperson's Statement;</p>
          <p>- The IWG Chairperson will forward the issue to the OSCC for action after it has achieved consensus in the relevant IWG.</p>
          <p>- The IWG Chairpersons will report on current and projected activity to the OSCC, as appropriate.</p>
          <P>This Decision supercedes the following previous OSCC decisions:</P>
          <p>- OSCC Decision of 25 June 2001 "OSCC Decision on the Working Modalities of the OSCC," OSCC.XXVI.JOUR/70, Annex 2;</p>
          <p>- OSCC Decision of 29 October 2001 "OSCC Decision on the Informal Working Groups of the OSCC," OSCC.XXVI.JOUR/72, Annex 2;</p>
          <p>- OSCC Decision of 17 December 2001 "Decision on Rules of Procedure and Working Methods of the OSCC," OSCC.XXVI.JOUR/74, Annex 3.</p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <P>* * * * *</P>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <P>This Decision enters into force on the date of its adoption. Decided in Vienna, in the Open Skies Consultative Commission on 22 February 2010, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</P>
    </div>
  </div>

<hr>
