<!-- DECISION 6/10 -->
<div id="decision_6_10"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-cm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/6/10
      <br>17 May 2010
      <br>OSCC++
      <br>Original:ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>2nd Meeting of the 52nd Session </strong> <br>OSCC(52) Journal No. 165, Agenda item 4  </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <P><strong>DECISION No. 6/10 <br/> REVISION ONE TO DECISION NUMBER FOURTEEN TO THE TREATY ON OPEN SKIES <br/>Methodology for calculating the minimum height above ground level at which each video camera with real time display installed on an observation aircraft may be operated during an observation flight</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <P>The Open Skies Consultative Commission, pursuant to the provisions of Appendix I to Annex D, Section III, paragraph 3 of the treaty on Open Skies, has decided as follows:</P>
        <div class="col-sm-12">
          <p>SECTION I. DEFINITION OF TERMS</P>
            <div class="col-sm-12">
              <P>The following definitions shall apply to terms used in this Decision:</P>
              <P>The term "video camera" means a passive analogue or digital electro optic sensor, operating in a line scanning or framing mode, within the wavelength region between 0.3 and 1.1 micrometres. Sensor systems considered acceptable within this decision shall not have more than 4 spectral bands in specified regions (blue, green, red, and near infrared). Sensor systems which include panchromatic capabilities, either individually or in combination with up to four spectral bands are acceptable. Push broom scanners designed with several rows of detector elements in one band offset in the cross-scan direction shall not be allowed. The blue, green and red spectral bands have nominal wavelengths of 0,470, 0,547, and 0,635 micrometres respectively.</P>
              <P>A video camera with a sensor or sensors based on the principle of the Bayer pattern is considered acceptable under this Decision without restriction to wavelength or bandwidth of the spectral bands.</P>
              <P>Video cameras producing images in separate spectral bands (e.g. line scanners, framing (array) systems) shall be considered acceptable if they fulfill the following requirements.</P>
                <div class="col-sm-12">
                  <p>(1) For each red, green, or blue spectral band, the bandwidth, D&#955;, of that band shall be greater than 4 times the deviation of the central wavelength of that band, &#955;<sub>band</sub>, from the nominal wavelength of that band,&#955;<sub>nominal</sub>, D&#955; =< 4 |&#955; <sub>band</sub></b> -&#955;<sub>nominal</sub>|. </p>
                  <p>(2) For the near infra-red band (if available), both the upper and lower minus 3dB points shall be within the limits of 0,690 &mdash; 1,100 microns,</p>
                  <p>(3) The bandwidths and central wavelengths of each spectral band shall be measured with the filters appropriate for the sensor configuration</p>
                  <p>(4) Video cameras in which not all spectral bands fulfill the requirements listed under (1) and (2) may undergo certification provided it is physically impossible to collect and record information in the spectral band which does not fulfill the above-mentioned requirements. Examples of methods to ensure the physical impossibility of collecting and recording information are the use of lens covers, dismantling of appropriate sensor units or any other method (excluding software methods) to guarantee the inoperability of the band.</p>
                </div>
              <P>The terms "spectral band" and "band" mean a continuous interval of electromagnetic wavelengths from a certain minimum value of the wavelength to a certain maximum value of the wavelength.</P>
              <P>The term "bandwidth" means the difference between the maximum and minimum wavelength of a band measured at the minus 3dB points (full width half maximum points).</P>
              <P>The term "central wavelength" of a spectral band means the arithmetic average of the minimum and maximum wavelengths measured at the minus 3dB points.</P>
              <P>The term "panchromatic capability" or "panchromatic band" means a band which is at least 0.2 microns in width (as measured by difference of the upper and lower 3dB points) and encompasses the nominal green and red wavelengths (0,547 and 0,635 microns).</P>
              <P>The term "detector element" means the smallest definable element of the detector array of a video camera.</P>
              <P>The term "ground element" means the maximal area on the ground that is projected on a single detector element.</P>
              <P>The term "image element" means a digitally processed signal that is stored in the memory and corresponds to one ground element.</P>
              <P>The term "pixel" means a picture element, which is equivalent to an image element.</P>
              <P>The term "equivalent scheme of image generation" means a scheme showing the relationship between ground elements and the location of the corresponding image elements.</P>
              <P>The term "effective focal length" (f<span style="font-size:7.9pt;">e</span>) means the focal length of the lens of the equivalent scheme of image generation or the distance between the projection centre of that scheme and the image surface; f<span style="font-size:7.9pt;">e</span> is expressed in pixels or in millimetres.</P>
              <P>The term "grey level" means the numerical value of an image element on an integer scale between zero and at least 255 but not more than 65535.</P>
              <P>The term "bit depth" is the number of bits used to represent the value of a single detector element.</P>
              <P>The term "bit depth per spectral band" is the number of bits per pixel for each spectral band in the Open Skies digital imagery product.</P>
              <P>The term "band image" means an image obtained in a band of wavelengths of the video camera configuration.</P>
              <P>The term "colour composite image" means the colour image (either true colour or false colour) which is created by a video camera using a Bayer pattern or similar focal plane design from the separate band images produced by the sensor.</P>
              <P>The term "colour pan-sharpened image" means the colour image (either true colour or false colour) which is created by combining a high resolution panchromatic image with lower resolution images of the same ground coverage obtained in spectral bands.</P>
              <P>The term "image of the calibration target used for visual analysis" for a system with more than one band consists of a set of images including the band images representing each band of the sensor and the colour composite image (if applicable).</P>
              <P>The term "primary signal data" means the signal data that is first recorded on the aircraft, whether digital or analogue.</P>
              <P>The term "ancillary data" means any data, in addition to the primary signal data that is recorded at the same time as the primary signal data which is used to correct, calibrate, combine, or annotate the primary signal data.</P>
              <P>The term "original data" means all the data included in the primary signal data and ancillary data.</P>
              <P>The term "video digital imagery product" means the result of applying the ancillary data to digitize, correct, calibrate, combine, or annotate the primary signal data in order to prepare the data for conversion to the OSDDEF. These should include, if available and appropriate, geometric corrections, radiometric corrections, phase corrections or other corrections for aircraft motion, and the combination of sub-images to form the complete image. The video digital imagery product shall be in the form of a processed image, requiring no additional processing for display.</P>
              <P>The term "Open Skies digital imagery product" means the result of converting the video digital imagery product of a sensor into OSDDEF. The Open Skies digital imagery product shall be used for flight test data, certification, and data exchange. Data in addition to that required for annotation may be included in the OSDDEF file; the purpose and format of any such supplementary data must be documented.</P>
              <P>The term "video camera configuration" means a specified combination of the following:</P>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <table class="table table-responsive table-striped">
        <tr>
          <td>(a)</td>
          <td>Sensor type and model;</td>
        </tr>
        <tr>
          <td>(b)</td>
          <td>Image designation;</td>
        </tr>
        <tr>
          <td>(c)</td>
          <td>Spectral information; for each band, upper and lower limits of spectral bands at -3dB level;</td>
        </tr>
        <tr>
          <td>(d)</td>
          <td>Filter name, if applicable for each spectral band;</td>
        </tr>
        <tr>
          <td>(e)</td>
          <td>For recording of the original data on magnetic tape, type and model of data recording equipment;</td>
        </tr>
        <tr>
          <td>(f)</td>
          <td>Sensor window designation;</td>
        </tr>
        <tr>
          <td>(g)</td>
          <td>Sensor installation;</td>
        </tr>
        <tr>
          <td>(h)</td>
          <td>For each lens, the field of view or scan angles measured relative to the normal of the camera body, the relative aperture, and focal length or the effective focal length, if applicable;</td>
        </tr>
        <tr>
          <td>(i)</td>
          <td>Angles of deviation for video cameras not mounted vertically;</td>
        </tr>
        <tr>
          <td>(j)</td>
          <td>Number of pixels for each image product intended to be certified;</td>
        </tr>
        <tr>
          <td>(k)</td>
          <td>Number, size, and arrangement of individual detector arrays; for each array, the number, size and arrangement of individual detector elements for each spectral band;</td>
        </tr>
        <tr>
          <td>(l)</td>
          <td>Digital sampling rate for each spectral band;</td>
        </tr>
        <tr>
          <td>(m)</td>
          <td>Number of bits per pixel per spectral band;</td>
        </tr>
        <tr>
          <td>(n)</td>
          <td>Hardware manufacture and model, and software version for processing the video signal and generation of primary signal data;</td>
        </tr>
        <tr>
          <td>(o)</td>
          <td>Designation and version of software for image processing, if applicable;</td>
        </tr>
        <tr>
          <td>(p)</td>
          <td>Type and model of the equipment for measuring aircraft motion data used for imaging; and</td>
        </tr>
        <tr>
          <td>(q)</td>
          <td>For sensors that are certified after 1 January 2006, and that record initially in analogue format, the type and model of the equipment used to digitize the output, sampling rate and number of bits per pixel per spectral band;</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-12">
        <div class="col-sm-12">
          <P>that is to be certified.</P>
          <P>The term "OSCC atmosphere parameters" means the parameters required to define the atmosphere which will include at least the following measurements: air temperature (<span style="font-size:7.9pt;"><Sup>o</Sup></span>C),</P>
          <P>pressure (mb), relative humidity (%), and visibility (km), and altitudes (m) at which the above parameters are measured.</P>
          <P>The term "Hmin" means the minimum height above ground level at which a video camera configuration installed on an observation aircraft may be operated during an observation flight, for which the ground resolution is no better than 30 centimetres.</P>
          <P>The term "H<span style="font-size:7.9pt;">min-expected</span>" means the H<span style="font-size:7.9pt;">min</span> estimate established from the flight test data provided before certification.</P>
          <P>The term "H<span style="font-size:7.9pt;">min-at-certification</span>" means the H<span style="font-size:7.9pt;">min</span> estimate established from the data gathered in the in-flight examination at the time of certification.</P>
          <P>The term "H<span style="font-size:7.9pt;">min-demonstration</span>" means the H<span style="font-size:7.9pt;">min</span> estimate established from the data gathered in a demonstration flight.</P>
          <P>The term "H<span style="font-size:7.9pt;">min-calculated</span>" means the H<span style="font-size:7.9pt;">min</span> estimate established from the flight test data, or at a certification, or at a demonstration flight using the procedures of this Decision.</P>
          <P>The term "flight test" means a flight conducted to collect data in order to establish ground resolution as a function of height above ground level for one or more sensor configurations.</P>
          <P>The term "flight test data" means data collected during flight tests prior to certification in order to establish ground resolution as a function of height above ground level for one or more sensor configurations.</P>
          <P>The term "H<span style="font-size:7.9pt;">i</span>" denotes the height above ground of the aircraft corresponding to a specific image (i) of the calibration target used for visual analysis.</P>
          <P>The term "L<span style="font-size:7.9pt;">i</span>" denotes the ground resolution determined by visual analysis corresponding to a specific image (i).</P>
          <P>The term "relative reflectance" means the ratio of the radiant flux of a surface to the radiant flux from a second surface of known reflectance times the known reflectance of this second surface.</P>
          <P>The term "target modulation" means, when measured on the ground, the ratio of the difference of the relative reflectance of the light and dark areas of the brightness panels to the sum of these values; and when measured in the image, the ratio of the difference of the grey level values of the light and dark areas of the brightness panels to the sum of these values.</P>
          <P>The term "phase correction" means a technique to reduce scan line misalignments in the image motion compensation errors, or other errors.</P>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-12">
        <P>SECTION II. SPECIFICATIONS FOR CALIBRATION TARGETS</P>
          <div class="col-sm-12">
            <p>1.  Calibration targets used to determine the resolution of video cameras shall contain groups of bars made from light-grey and dark-grey materials. The calibration target shall contain brightness panels, the surface finish of which is the same as the groups of bars.</P>
            <p>2. The bar groups shall consist of light bars on a dark background. Bar groups shall consist of either tri-bar or bi-bar groups and the ratio of bar length to bar width shall not be less than 5:1. The width of light and dark bars in a group shall be identical. The ratio of bar widths for adjoining groups shall be <span style="font-size:7.9pt;"><sup>6</sup></span> 2 to within a tolerance of &plusmn;5% of the ideal width of the bar width being measured as calculated assuming no errors. The range of bar widths shall be at least 0.15 to 0.378 metres. The width separating adjacent groups shall be at least two times the width of a single bar in the group with the smaller bars. The target shall contain two identical sets of bar groups, placed adjacent to each other. Bars in the first set shall be oriented "Along", those in the second set shall be oriented "Across", the planned ground track of the observation aircraft.</p>
            <p>3. The brightness panels shall be dark-grey and light-grey square areas of which the length of a side shall be no less than 120 centimetres.</p>
            <p>4. The following requirements for the calibration target must be satisfied for each band of the sensor to be certified. The modulation of the target as measured on the ground shall be between 0.66 and 0.82. The relative reflectance of the light-grey sections shall be no more than 83%, and the relative reflectance of the dark-grey sections shall be not less than 5%. The uniformity of the relative reflectance of the light and dark bars in the calibration target shall be accomplished with total permissible error of no more than 10% of the relative reflectance of the light bars. The targets shall be positioned on ground that has a relative reflectance that approximates the average relative reflectance of the dark and light sections of the target.</p>
            <p>5. In addition to the calibration target, additional elements shall be included in the vicinity of the calibration target to provide information about possible image distortion produced by the sensor configuration.</p>
          </div>
        <P>SECTION III. DATA TO BE SUPPLIED BEFORE CERTIFICATION</P>
          <div class="col-sm-12">
            <p>1. The State Party offering the video camera configuration for certification shall provide a general system description, including a list and description of operating modes. This shall include a description of the method to verify which mode is in operation during certification, demonstration, and an observation flight. In addition, this shall include a description of the equivalent scheme of image generation, and a description of the size and layout of the detector elements on each focal plane array. This information also applies to those operating modes, which meet the requirements of Section I, but are not intended to be certified. In addition, the State Party shall include a description on how these modes will be verifiably disabled and unable to be recorded.</p>
            <p>2. For each video camera configuration to be certified:</p>
              <div class="col-sm-12">
                <p>(A) The State Party offering the configuration for certification shall provide a general description of the algorithms, software and hardware used for converting the primary signal data into the video digital imagery product. The software used to produce the video digital imagery product from the primary signal data recorded on the aircraft shall not be designed with the intention of significantly altering the resolution inherent in the primary signal data produced by the sensor;</p>
                <p>(B) The State Party shall provide technical data or flight test data specifying the location on the image that provides the best resolution.</p>
              </div>
            <p>3. The State Party shall provide descriptions of the hardware and software necessary for the following tasks:</p>
              <div class="col-sm-12">
                <p>(A) To convert the data to OSDDEF form;</p>
                <p>(B) For conducting visual analysis;</p>
                <p>(C) Performing data erasure.</p>
              </div>
            <p>4. The State Party shall provide flight test data, describing the performance of the video camera configuration. The Open Skies digital imagery products that were used for the establishment of H<span style="font-size:7.9pt;">min-expected</span> shall be provided with the flight test data.</p>
            <p>5. The State Party offering the video camera configuration for certification shall provide flight test data analyzed in accordance with the following qualifications:</p>
              <div class="col-sm-12">
                <p>(A) The flight test data shall include at least 10 values of H<span style="font-size:7.9pt;">min-calculated</span> as described in Section V;</p>
                <p>(B) The range of heights above ground used in the flight test data shall satisfy the following conditions:</p>
                  <div class="col-sm-12">
                    <p>(1) There shall be at least one value of the height of flight above ground that is at least 15% higher than H<span style="font-size:7.9pt">min-expected</span>;</p>
                    <p>(2) There shall be at least one value of the height of flight above ground that is at least 15% lower than H<span style="font-size:7.9pt;">min-expected</span>;</p>
                    <p>(3) No values of the height of flight above ground shall be included that are greater than 150% of the value of H<span style="font-size:7.9pt;">min-expected</span>;</p>
                    <p>(4) No values of the height of flight above ground shall be included that are less than 70% of the value of H<span style="font-size:7.9pt;">min-expected</span>;</p>
                    <p>(5) At least 40% of the flight heights included shall lie between 80% and 120% of the value of H<span style="font-size:7.9pt;">min-expected</span>.</p>
                  </div>
                <p>(C) These flights shall occur on more than one day and be performed under clear atmospheric daytime conditions.</p>
              </div>
            <p>6. In order to reduce the time required for collecting flight test data, the State Party may deploy two calibration targets simultaneously.</p>
          </div>
        <P>SECTION IV. CONDUCT OF A FLIGHT TEST, CERTIFICATION OR DEMONStrATION FLIGHT</P>
          <div class="col-sm-12">
            <p>1. For video camera configurations equipped with lenses having a variable focal length, the H<span style="font-size:7.9pt;">min</span> shall be determined with the lens adjusted at its maximum focal length. The resulting value of H<span style="font-size:7.9pt;">min</span> (calculated at maximum focal length) becomes the H<span style="font-size:7.9pt;">min</span> for all focal lengths.</p>
            <p>2. For each video camera configuration, any variable video camera controls shall be set to achieve the best ground resolution for the conditions.</p>
            <p>3. Image acceptability criteria are as follows:</p>
              <div class="col-sm-12">
                <p>(A) The image of the calibration target shall be located within 20 degrees of the location of best ground resolution within the field of view of the final image of the Open Skies digital imagery product;</p>
                <p>(B) The image of the calibration target shall be oriented within 15 degrees of the orientation of the flight track;</p>
                <p>(C) An image shall not be used for visual analysis if a sensor malfunction or other technical defect, internal and/or external to the aircraft, sensor, or target, makes accurate determination of ground resolution impossible;</p>
                <p>(D) Geometrical distortion of less than 20 per cent will be deemed to have no effect on resolution. See table 1.</p>
              </div>
            <p>4. Horizontal targets shall be used when the location of best resolution within the field is less than or equal to sixty degrees from the vertical and vertical targets shall be used for sensors whose location of best resolution is more than sixty degrees from the vertical.</p>
            <p>5. For video camera configurations equipped with a variable angle of deviation from vertical, the H<span style="font-size:7.9pt;">min</span> shall be determined with the angle of deviation set at the minimum from vertical. The resulting value of H<span style="font-size:7.9pt;">min</span> shall be used for all other angles of deviation from vertical settings.</p>
            <p>6. The OSCC atmosphere parameters will be measured and recorded at intervals of one hour or less during certification, demonstration, and data gathering flights.</p>
            <p>7. During certification, demonstration, and data gathering flights, the following parameters shall be measured and recorded to confirm the target characteristics described in Section II:</p>
              <div class="col-sm-12">
                <p>(A)&nbsp;&nbsp;&nbsp;&#961;<span style="font-size:7.9pt;">i,light = The average relative reflectance of the light grey bars of the target;</p>
                <p>(B)&nbsp;&nbsp;&nbsp;&#961;<span style="font-size:7.9pt;">i,dark</span> = The average relative reflectance of the dark grey bars of the target;</p>
                <p>(C)&nbsp;&nbsp;&nbsp;&#961;<span style="font-size:7.9pt;">background</span> = The average relative reflectance of the background;</p>
                <p>(D)&nbsp;&nbsp;&nbsp;The ground illumination, l<span style="font-size:7.9pt;">i</span>, in lux.</p>
              </div>
            <p>8. The flight heights above ground at which imagery is collected for certification flights must be as close as possible to the value of H<span style="font-size:7.9pt;">min-expected</span>.</p>
            <p>9. Unless otherwise agreed, the flight heights above ground at which imagery is collected for demonstration flights must be as close as possible to the certified H<span style="font-size:7.9pt;">min</span> value.</p>
            <p>10. To reduce the time required for certification, if a certifying State Party can demonstrate via flight test data and analysis that one or more sensor configurations will provide essentially identical or worse resolution performance than one or more other sensor configurations and with the consensus of the participating States Parties, the certifying State Party may request permission to perform the in-flight examination for the sensor configuration with the highest H<span style="font-size:7.9pt;">min-expected</span> and use the resulting H<span style="font-size:7.9pt;">min</span> value for the other sensor configurations.</p>
            <p>11. In the event the certifying State Party does not certify all intended operating modes during the certification event, any non-certified modes not included in paragraph 10 shall be verifiably disabled during an observation flight. The method shall guarantee that it is physically impossible to collect and record the data for the non-certified modes. Examples of methods to ensure the physical impossibility of collecting and recording information are the use of lens covers, dismantling of appropriate sensor units or any other method (excluding software methods) to guarantee the inoperability of the non-certified operating modes.</p>
          </div>
        <P>SECTION V. ANALYSIS OF DATA COLLECTED DURING A FLIGHT TEST, CERTIFICATION OR DEMONStrATION FLIGHTS</P>
          <div class="col-sm-12">
            <p>1. The ground resolution of a video camera configuration shall be determined by visual analysis. At least 10 trained observers shall examine the Open Skies digital imagery products of the calibration target for flight test data, certification and demonstration flights. The State Party offering a sensor configuration for certification shall have the right to provide a minimum of 2 of the trained observers at certification.</p>
            <p>2. For flight test data, certification and demonstration flights, the value of H<span style="font-size:7.9pt;">min-calculated </span>shall be determined from analysis of at least five images of the same calibration target from five separate passes flown at approximately the same height above ground. For each image (i) a value of H<span style="font-size:7.9pt;">min-i</span> is calculated as described below.</p>
            <p>3. The visual analysis shall be performed on images of the calibration target having no less than 0.1 modulation as measured on the image of the brightness panels.</p>
              <div class="col-sm-12">
                <p>(A) Specifications of procedures for performing analysis of digital imagery shall be defined in the Digital Image Processing Decision;</p>
                <p>(B) The images to be used for visual analyses shall be determined by the sensor configuration;</p>
                  <div class="col-sm-12">
                    <p>(1) For panchromatic sensors, the single band image is analyzed displayed in grey scale;</p>
                    <p>(2) For a multi-band camera each spectral band shall be analyzed separately and displayed in grey scale;</p>
                    <p>(3) If a colour composite image forms part of the Open Skies digital imagery product, it will be included in the visual analysis and displayed on a colour monitor;</p>
                    <p>(4) If a colour pan-sharpened image forms part of the Open Skies digital imagery product, the high resolution panchromatic image will be included in the visual analysis and displayed in grey scale;</p>
                    <p>(5) For any sensor configuration that is not included by subparagraphs 1-4 above, the list of images to be analyzed shall be specified in the Format 4 for that configuration;</p>
                  </div>
                <p>(C) For each image of the calibration target used for visual analysis and each observer, the resolution is determined by the narrowest bar group resolved. A bar group is resolved if:</p>
                  <div class="col-sm-12">
                    <p>(1) All the light bars of the bar group are distinguishable;</p>
                    <p>(2) There is a visual perception of the displayed grey level difference between each light bar and the adjacent dark bar or bars over a substantial portion of the entire length of the bar.</p>
                  </div>
              </div>
            <p>4. Define for each observer m, image type n, and image i, the value L<span style="font-size:7.9pt;"><sub>m,n,i</sub></span> by:</p>
              <div class="col-sm-12">
                <P>L<span style="font-size:7.9pt;"><sub>m,n,i</sub></span> = the bar width of the smallest resolved bar group by observer m on image type n of image i (along or across track).</P>
                <P>The image type index, n, refers to the available band images and the colour composite image, if applicable.</P>
                <P>Then define L<span style="font-size:7.9pt;"><sub>m,i</sub></span> = minimum L<span style="font-size:7.9pt;"><sub>m,n,i</sub></span>:</P>
                <p>(A) For each image of the calibration target to be analyzed, the ground resolution, </p>
                <p>L <sub>i</sub>, shall be the average of the values of the widths of the narrowest resolved bar groups of the observers. If the number of observers is M, then: </p>
                <center><img src="../img/dec_6_10_Li.gif" class="img-responsive" /></center>
                <p>(B) The value of H <sub>min-i</sub>, of each image (i) of the calibration target analyzed is calculated by:
                <center><img src="../img/dec_6_10_Hmin-i.gif" class="img-responsive" /></center>
                <P>Where:</P>
                  <div class="col-sm-12">
                    <P>H</span><span style="font-size:7.9pt;">i</span> = The height above the calibration target of the aircraft in metres, at the moment</P>
                    <P>the calibration target was imaged for pass (i);</P>
                    <P>L<span style="font-size:7.9pt;">a</span> = The agreed ground resolution of 30 centimetres.</P>
                  </div>
              </div>
            <P>5. The value of H<span style="font-size:7.9pt;">min-calculated</span> shall be determined by:</P>
              <div class="col-sm-12">
                <center><img src="../img/dec_6_10_Hmin-calculated.gif" class="img-responsive" /></center>
                <P>Where n is the total number of passes over the target analyzed.</P>
              </div>
            <p>6. H<span style="font-size:7.9pt;"><sub>min-expected</sub></span> shall be calculated by averaging the values of H<span style="font-size:7.9pt;">min-calculated</span> provided in the pre-certification flight test data.</p>
            <p>7. H<span style="font-size:7.9pt;"><sub>min-at-certification</sub></span> shall be calculated by averaging the values of H<<span style="font-size:7.9pt;">min-calculated</span> provided by the in-flight examination. For each configuration to be certified, the in-flight examination shall consist of at least three values of H<span style="font-size:7.9pt;">min-calculated</span>, unless prevented by <span style="font-style:italic;">force majeure</span>, in which case it shall consist of at least one value of H<span style="font-size:7.9pt;">min-calculated</span>.</p>
            <p>8. H<span style="font-size:7.9pt;"><sub>min-demonstration</sub></span> shall be calculated by averaging the values of H<span style="font-size:7.9pt;">min-calculated</span> provided in demonstration flight data. There shall be at least one value of H<span style="font-size:7.9pt;"><sub>min-calculated</sub></span> accomplished at a demonstration flight, unless otherwise agreed.</p>
            <p>9. In order to reduce the time needed at certification or demonstration and increase the possible number of values of H<span style="font-size:7.9pt;">min-calculated</span>, the State Party may choose to use two calibration targets simultaneously.</p>
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <P>* * * * *</P>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <P>This Decision shall enter into force immediately.</P>
      <p>It shall remain in force for five years from the date of adoption. The States Parties shall, within the Open Skies Consultative Commission and during the period this Decision is in force, conclude a follow-on agreement on the determination of minimum height above ground at which a video sensor with a real time display may be operated, which shall enter into force upon the expiration of this Decision.</P>
      <p>The procedures of this Decision are applicable to video cameras whose resolution does not depend on ground speed in flight.</P>
      <p>If a State Party wishes to certify a pushbroom video camera whose resolution does not remain constant with ground speed, the State Party shall propose an annex to this Decision demonstrating that the methodology of this Decision is applicable, or provide an alternative methodology and any implementable restrictions on flight operations that are needed to provide the required ground resolution during an observation flight. This annex shall include supporting flight test data.</P>
      <p>If, as a part of a standard evolution of sensor systems, a software change or hardware change is incorporated in a previously certified video camera configuration, the certifying State Party shall act according to Article IV, paragraphs 13 and 14 to the treaty of Open Skies and shall notify all States Parties of the change and declare and justify whether or not a new certification is required.</P>
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 17 May 2010, in each of the languages specified in Article XIX of the treaty on Open Skies, all texts being equally authentic.</P>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <img src="../img/dec_6_10_Image_Acceptability_Pre_Checks.gif" class="img-responsive" />
    </div>
  </div>

<hr>
