<!-- DECISION 9/10 -->
<div id="decision_9_10"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/9/10
      <br>12 July 2010
      <br>OSCC++
      <br>Original:ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>4th Meeting of the 52nd Session</strong> <br>OSCC(52) Journal No. 167, Agenda item 4</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 9/10 <br/>DIGITAL IMAGERY pROCESSING</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>This decision applies to those sensors providing digital imagery products for sensors whose resolution depends on the height above ground. It therefore applies to video cameras with real-time display and infra-red line-scanning devices that have digital imagery products or have a non-digital output converted to OSDDEF for exchange. It does not apply to synthetic aperture radars (SAR).</p>
        <div class="col-sm-12">
          <p>SECTION I. DEFINITION OF TERMS</p>
            <div class="col-sm-12">
              <p>The term "primary signal data" means the signal data that is first recorded on the aircraft, whether digital or analogue.</p>
              <p>The term "ancillary data" means any data, in addition to the primary signal data that is recorded at the same time as the primary signal data which is used to correct, calibrate, combine, or annotate the primary signal data.</p>
              <p>The term "original data" means all the data included in the primary signal data and ancillary data.</p>
              <p>The term "intermediate data" includes all data obtained in the process of conversion of the original data on the aircraft or at the ground-based data processing unit, and each subsequent intermediate recording before conversion to OSDDEF and recording on the standardized exchange medium.</p>
              <p>The term "provisional information" means the data included in the primary signal data, ancillary data, and intermediate data.</p>
              <p>The term "digital imagery product" means the result of applying the ancillary data to digitize, correct, calibrate, combine, or annotate the primary signal data in order to prepare the data for conversion to the OSDDEF. The digital imagery product shall be in the form of a processed image, requiring no additional processing for display.</p>
              <p>The term "Open Skies digital imagery product" means the result of converting the digital imagery product of a sensor into OSDDEF. The Open Skies digital imagery product shall be used for flight test data, certification, and data exchange. Data in addition to that required for annotation may be included in the OSDDEF file; the purpose and format of any such supplementary data must be documented.</p>
              <p>The terms "spectral band" and "band" mean a continuous interval of electromagnetic wavelengths from a certain minimum value of the wavelength to a certain maximum value of the wavelength.</p>
              <p>The term "channel" means one of the bands comprising the image in an OSSDEF file.</p>
              <p>The term "pixel replicated zoom" means the display of a digital image in which each original pixel value is repeated as a square array of pixels with a specified number of rows.</p>
              <p>The term "zoom by cubic convolution" means the display of a digital image in which each original pixel value is supplemented with new pixels whose values are determined by interpolation with a cubic function.</p>
            </div>
          <p>SECTION II. SPECIFICATION OF DIGITAL IMAGERY pRODUCTS</p>
            <div class="col-sm-12">
              <p>1. The State party certifying a sensor configuration shall provide information on the original data format and storage medium used in the configuration including the description of media interface and its file system, and the description of methods preventing unauthorized copying of information when transporting removable hard disks, and during ground processing.</p>
              <p>2. The State party certifying a sensor configuration shall define the Open Skies digital imagery products associated with that configuration.</p>
                <div class="col-sm-12">
                  <p>(A) Certification of a sensor configuration shall be made from the Open Skies digital imagery products specified for the sensor configuration.</p>
                  <p>(B) preliminary flight test data and flight test data shall be in the form of the Open Skies digital imagery products specified for the sensor configuration.</p>
                  <p>(C) The State party providing the aircraft and all other States parties requesting copies of the imagery resulting from an observation flight shall receive only the Open Skies digital image product on a standardized exchange medium.</p>
                  <p>(D) Unless otherwise agreed, visual analysis following a demonstration flight shall be made from the Open Skies digital imagery products specified for the sensor configuration.</p>
                  <p>(E) The State party certifying a sensor configuration shall specify the procedure used to generate the Open Skies digital imagery products from the original data. This shall include a description of the ground-based processing unit, conversion and transfer of original data to OSDDEF and the recording on the standardized exchange medium, as well as a description of each device used for recording intermediate information. All software used for processing shall be available for purchase by all States parties, along with the corresponding documentation.</p>
                </div>
              <p>3. If there is ancillary data that is intended to apply corrections to the primary data for aircraft motion, geometric, radiometric, or the combination of sub-images to form the complete image (stitching) or any other calibration or correction, then these corrections shall be made before conversion to OSDDEF.</p>
              <p>4. The documentation for all software described in paragraphs 1, 2, and 3 shall be provided at the time of the distribution of the preliminary flight test data.</p>
              <p>5. During the ground examination, the State party conducting the certification shall demonstrate the processes of conversion and transfer of the original data at the ground-based data processing unit to the Open Skies digital imagery product, and recording on the standardized exchange medium.</p>
              <p>6. States parties participating in the certification shall have the right to verify the processes of conversion and transfer of the original data at the ground-based data processing unit to OSDDEF, recording on the standardized exchange medium, and the duplicating capability of the certifying State party.</p>
              <p>7. If the Open Skies digital imagery product for the specific sensor configuration being certified has a lower H<sub>min</sub> than some other potential Open Skies digital imagery product that the camera could produce (for example, if the camera permits a hardware binning of detector outputs which lowers resolution), then:</p>
                <div class="col-sm-12">
                  <p>(A) A transparent and verifiable means shall be provided so that inspectors can confirm that the camera is operating in the lower resolution model.</p>
                  <p>(B) Documentation describing how the lower resolution mode is selected shall be provided along with the preliminary flight test data.</p>
                  <p>(C) During the ground examination, the States parties attending the Certification shall determine the suitability of the procedures for verifying that the lower resolution mode is in use.</p>
                </div>
            </div>
          <p>SECTION III. ANALYSIS OF OpEN SKIES DIGITAL IMAGERY pRODUCTS</p>
            <div class="col-sm-12">
              <p>1. The value of H<sub>min</sub>shall be determined from the Open Skies digital imagery product specified for the configuration.</p>
              <p>2. Any software used for visual analysis, including that required to display the specified Open Skies digital imagery product for the sensor configuration shall be available for purchase by all States parties, along with corresponding documentation.</p>
              <p>3. Unless otherwise agreed, every channel of each Open Skies digital imagery product of the calibration target shall be subject to visual analysis. The resolution available from any single image or channel contained in the Open Skies digital imagery product for the sensor configuration shall be determined by the procedures established in the relevant sensor Decision.</p>
              <p>4. The visual analysis result for each pass over the calibration target shall be determined by the best resolution available from any of the images or channels contained in the Open Skies digital imagery product for the sensor configuration.</p>
              <p>5. Each Open Skies digital imagery product analyzed shall satisfy the image acceptability criteria contained in the relevant Decision.</p>
              <p>6. Manual phase correction of the Open Skies digital imagery products is permitted.</p>
              <p>7. The analysis software shall be able to perform the following operations on the displayed Open Skies digital imagery product:</p>
                <div class="col-sm-12">
                  <p>(A) Selection of sub-images of the Open Skies digital imagery product containing the calibration target.</p>
                  <p>(B) Brightness and contrast adjustment.</p>
                    <div class="col-sm-12">
                      <p>(i) The numerical value of a display pixel, p<sub>display</sub>is given in terms of the numerical value of a pixel within the Open Skies digital imagery product, p<sub>image</sub>, by:</p>
                      <p> p<sub>display</sub>= minimum (p<sub>max</sub>, maximum (p<sub>min</sub>, O + G * p<sub>image</sub>))</p>
                      <p> where O and G are adjustable parameters, and p<sub>max</sub>and p<sub>min</sub>are the maximum and minimum values of the display pixels.</p>
                      <p>(ii) Both the O and G parameters may be either positive or negative. Open Skies digital imagery product inversion corresponds to a negative value of the G term.</p>
                      <p>(iii) The software shall provide a preliminary automatic selection of brightness and contrast, based on the sub-image selected for analysis.</p>
                      <p>(iv) The software shall provide a manual control of brightness and contrast with continuously adjustable values and the ability to return to default brightness and contrast.</p>
                    </div>
                  <p>(C) Zoom. The software shall provide the capability of zooming by either pixel replication, cubic convolution or both.</p>
                  <p>(D) Manual phase correction by shifting individual lines of the Open Skies digital imagery product by an integer number of pixels, if required.</p>
                </div>
              <p>No other operations are permitted during visual analysis.</p>
              <p>8. The software must be capable of returning to the original Open Skies digital imagery product at any stage of the visual analysis.</p>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p> This decision shall enter into force immediately after its adoption.</p>
      <p> It shall remain in force for five years from the date of its adoption. This decision shall not affect sensor systems certified before 12 July 2010.</p>
      <p> Decided in Vienna, in the Open Skies Consultative Commission, on 12 July 2010, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
