<!-- DECISION 4/10 -->
<div id="decision_4_10"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/4/10
      <br>22 March 2010
      <br>OSCC++
      <br>Original:ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>3rd Meeting of the 51st Session</strong> <br>OSCC(51) Journal No. 163, Agenda item 4 </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 4/10 <br/>ALLOCATION OF OBSERVATION FLIGHT REFERENCE NUMBERS</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <P>In accordance with Article X, paragraph 5 of the Treaty on Open Skies, the Open Skies Consultative Commission has decided on the application of Annex B, Appendix 1, paragraph 1 of the Treaty on Open Skies as follows:</P>
        <div class="col-sm-12">
          <P>1. The reference number of the observation flight shall be indicated by a single group of seven alphanumeric characters in accordance with the following convention:</P>
            <div class="col-sm-12">
              <p>(A) The letters "OS";</p>
              <p>(B) The last two digits of the calendar year for which the individual active quota applies; and</p>
              <p>(C) A three-digit number to represent each individual observation flight comprising the active quota distributed during the annual review within the framework of the Open Skies Consultative Commission for a calendar year to a State Party over the territory of another State Party.</p>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <P>* * * * *</P>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <P>This Decision shall enter into force on 1 January 2012, and shall have the same duration as the Treaty.</P>
      <P>Decided in Vienna, in the Open Skies Consultative Commission, on 22 March 2010, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</P>
    </div>
  </div>

<hr>
