<!-- DECISION 2/10 -->
<div id="decision_2_10"></div>

  <div class="row">
    <div class="col-sm-12">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/2/10
      <br>25 January 2010
      <br>OSCC++
      <br>Original:ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>1st Meeting of the 51st Session</strong> <br>OSCC(51) Journal No. 161, Agenda item 4 </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 2/10 <br/>OSCC SCALE OF DISTRIBUTION FOR 2010</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <P>The Open Skies Consultative Commission (OSCC),</P>
      <P>Pursuant to the provisions of paragraph 4 (D) of Article X and paragraph 9 of Section I of Annex L of the Treaty on Open Skies,</P>
      <P>In accordance with the provisions and Annexes of Decision Number Ten to the Treaty on Open Skies of 16 July 1993 (OSCC/III/Dec.10) contained in the Appendix to this decision,</P>
      <P>Pursuant to the provision of paragraph 1 of OSCC Decision No. 21/02 of 9 September 2002 (OSCC.DEC/21/02) that "the scale of distribution of the Open Skies Consultative Commission shall be revised to reflect any revisions of the Standard Scale of Contributions" (replacing the OSCE's "Helsinki scale"),</P>
      <P>Recalling OSCC Decision No. 9/09 on continuing the application of the current OSCC Scales of Distribution,</P>
      <P>Taking into account OSCE Permanent Council Decision No. 924 of 22 December 2009 on the scales of contributions for 2010 (PC.DEC/924), which adopted the OSCE Scale of Contributions for 2010,</P>
      <P>Taking into account that the special regime established by OSCC/III/Dec.10 continues to apply for the Russian Federation, Ukraine, Belarus and Georgia, and that respective ad hoc additional contributions of these States Parties in 2010 amount to 0.05, 0.02, 0.01 and 0.01 (in percentages),</P>
      <P>Decides to adopt the scale of distribution for the common expenses associated with the operation of the OSCC for 2010 as contained in the Annex to this decision.</P>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <P>* * * * * </P>
    </div>
  </div>

<hr>
