<!-- Decision 5/14-->
<div id="decision_5_14"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/5/14
      <br>15 December 2014
      <br>OSCC+
      <br>Original:ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong>
      <br><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong> 4nd Meeting of the 65th Session</strong> <br>OSCC(65) Journal No. 214, Agenda item 2(b)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 5/14 <br/> REVISION ONE OF DECISION No. 5/07 ON THE METHODOLOGY FOR DETERMINING THE MINIMUM HEIGHT ABOVE GROUND LEVEL OPTICAL PANORAMIC AND FRAMING FILM CAMERAS MAY BE OPERATED DURING AN OBSERVATION FLIGHT</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The Open Skies Consultative Commission (OSCC),</p>
      <p>Acting pursuant to Article X, paragraph 5 of the Treaty on Open Skies (the Treaty), in order to improve the viability and effectiveness of the Treaty,</p>
      <p>Has decided as follows:</p>
        <div class="col-sm-12">
          <p>SECTION I. DEFINITION OF TERMS</p>
            <div class="col-sm-12">
              <p>The term "flight test" means a flight conducted to collect data in order to establish ground resolution for one or more sensor configurations.</p>
              <p>The term "flight test data" means data collected during flight tests order to establish ground resolution for one or more sensor configurations.</p>
              <p>The term "H<sub>min</sub>" means the value of the minimum height above ground level at which each sensor configuration may be operated during observation flights established by this Decision and published in the certification report.</p>
              <p>The term "H<sub>min-expected</sub>" means the H<sub>min</sub> estimate established from the flight test data provided before certification.</p>
              <p>The term "H<sub>min-at-certification</sub>" means the H<sub>min</sub> estimate established from the data gathered in the in-flight examination at the time of certification.</p>
              <p>The term "H<sub>min-demonstration</sub>" means the H<sub>min</sub> estimate established from the data gathered in a demonstration flight.</p>
              <p>The term "H<sub>min-flight</sub>" means the value of the minimum height above ground at which each sensor configuration may be operated in the case of an observation flight following a demonstration flight.</p>
            </div>
          <p>SECTION II. DETERMINATION OF THE MINIMUM HEIGHT ABOVE GROUND AT A CERTIFICATION</p>
            <div class="col-sm-12">
              <p>1. The State Party offering a sensor configuration for certification shall provide flight test data sufficient to establish a value of H<sub>min-expected</sub>.</p>
              <p>2. If |H<sub>min-expected</sub> - H<sub>min-at-certification</sub>|/H<sub>min-expected</sub> &#8804; 0.2, then: H<sub>min</sub> = H<sub>min-expected</sub>.</p>
              <p>3. If |H<sub>min-expected</sub> - H<sub>min-at-certification</sub>|/H<sub>min-expected</sub> > 0.2, then the States Parties taking part in the certification shall either:</p>
                <div class="col-sm-12">
                  <p>(A) By consensus, establish: H<sub>min</sub> = H<sub>min-expected</sub> or H<sub>min</sub> = H<sub>min-at-certification</sub>;</p>
                  <p>(B) If no consensus can be achieved, H<sub>min</sub> = the maximum of (H<sub>min-expected or Hmin-at-certification</sub>).</p>
                </div>
            </div>
          <p>SECTION III. CONFIRMATION OF THE MINIMUM HEIGHT ABOVE GROUND FOLLOWING A DEMONSTRATION FLIGHT</p>
            <div class="col-sm-12">
              <p>1. In the event that the aircraft is provided by the observing Party, and the observed Party requests a demonstration flight:</p>
                <div class="col-sm-12">
                  <p>(A) The observed Party shall verify and confirm that the data used to determine H<sub>min-demonstration</sub> were collected, processed, and analyzed in conformance with the requirements of the Treaty on Open Skies, and the Decisions appropriate for the sensor configuration subject to the demonstration flight;</p>
                  <p>(B) If a value of H<sub>min-demonstration</sub> has been established and |H<sub>min-demonstration</sub> - H<sub>min</sub>|/H<sub>min</sub> &#8804; 0.25, then the minimum height above ground for the observation flight will be H<sub>min-flight</sub> = H<sub>min</sub>;</p>
                  <p>(C) If no value of H<sub>min-demonstration</sub> has been established or |H<sub>min-demonstration</sub> - H<sub>min</sub>|/H<sub>min</sub> > 0.25, then the provisions of the Treaty on Open Skies, Annex F, Section III, paragraph 6 shall apply.</p>
                </div>
              <p>2. In the event that the aircraft is provided by the observed Party, and the observing Party requests a demonstration flight:</p>
                <div class="col-sm-12">
                  <p>(A) The observing Party shall verify and confirm that the data used to determine H<sub>min-demonstration</sub> were collected, processed, and analyzed in conformance with the requirements of the Treaty on Open Skies, and the Decisions appropriate for the sensor configuration subject to the demonstration flight;</p>
                  <p>(B) If a value of H<sub>min-demonstration</sub> has been established and, |H<sub>min-demonstration</sub> - H<sub>min</sub>|/H<sub>min</sub> &#8804;  0.25, then the minimum height above ground for the observation flight will be H<sub>min-flight</sub> = H<sub>min</sub>;</p>
                  <p>(C) If no value of H<sub>min-demonstration</sub> has been established or |H<sub>min-demonstration</sub> - H<sub>min</sub>|/H<sub>min</sub> > 0.25, then the provisions of the Treaty on Open Skies, Annex F, Section III, paragraph 7 shall apply.</p>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>This Decision shall enter into force on the date of its adoption and shall have the same duration as the Treaty.</p>
      <p>In accordance within OSCC.DEC/3/10, the OSCC may consider revisions to the Decision at any time.</p>
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 15 December 2014, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
