<!-- DECISION 6/09 -->
<div id="decision_6_9"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/6/09
      <br>14 September 2009
      <br>OSCC++
      <br>Original:ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>1st Meeting of the 50th Session </strong> <br>OSCC(50) Journal No. 157, Agenda item 4 </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>DECISION No. 6/09 <br/>INFORMAL WORKING GROUP ON PLANNING THE REVIEW <br/>CONFERENCE ON THE IMPLEMENTATION OF THE TREATY ON <br/>OPEN SKIES (IWGPRC)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <P>Recalling the OSCC decision that establishes the informal working groups (IWG) of the OSCC of 29 October 2001, OSCC.XXVI.JOUR/72, Annex 2,</P>
      <P>The Open Skies Consultative Commission agrees that it would be useful to have an IWG for the preparation and planning of the Second Review Conference on the Implementation of the Treaty on Open Skies to be held from 7 to 9 June 2010 (Review Conference).</P>
      <P>The States Parties to the Treaty on Open Skies have decided as follows:</P>
        <div class="col-sm-12">
          <p>1.To establish an informal Working Group on Planning the Review Conference (IWGPRC);</p>
          <p>2.The IWGPRC will be chaired by the same delegation as the agreed chair of the Review Conference;</p>
          <p>3.The IWGPRC will be responsible for, inter alia, the preparation of the Review Conference agenda and final document;</p>
          <p>4 The IWGPRC will be in session from September 2009 to June 2010. IWGPRC meetings may be held approximately on a monthly basis. The timing of future sessions will be determined by the dates of the 2015 and future review conferences.</p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</P>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <P>Done in Vienna in the Open Skies Consultative Commission on 14 September 2009, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</P>
    </div>
  </div>

<hr>
