<!-- DECISION 2/09 -->
<div id="decision_2_9"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2  col-sm-offset-8">
      <p align="right">OSCC.DEC/2/09
      <br>23 March 2009
      <br>OSCC++
      <br>Original:ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong>
      <br/>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>3rd Meeting of the 48th Session</strong> <br>OSCC(48) Journal No. 152, Agenda item 3</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 2/09 <br>REVISION FIVE OF DECISION NUMBER ONE <br>TO THE TREATY ON OPEN SKIES <br>Distribution of costs arising under the Treaty on Open Skies</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The Open Skies Consultative Commission agrees to revise OSCC Decision Number One on the Distribution of Costs Arising Under the Treaty on Open Skies, taking into consideration the practical experience of implementation of the Treaty on Open Skies, as well as recognizing the utility of consolidating all agreed cost-related provisions of previous OSCC documents. Thus, the Open Skies Consultative Commission has decided:</p>
      <p>The following provisions shall govern the distribution of costs arising under the Treaty on Open Skies, hereinafter referred to as the Treaty:</p>
        <div class="col-sm-12">
          <p>SECTION I. DISTRIBUTION OF COSTS OF OBSERVATION FLIGHTS CONDUCTED ON AN OBSERVATION AIRCRAFT OF THE OBSERVING PARTY OR ON AN OBSERVATION AIRCRAFT DESIGNATED BY A THIRD PARTY</p>
            <div class="col-sm-12">
              <p>1. Unless otherwise specified in this Decision, or agreed between the States Parties involved, an observing Party using its own observation aircraft or an observation aircraft designated by a third Party shall reimburse the observed Party for the costs of only the following goods and services related to the observation aircraft:</p>
                <div class="col-sm-12">
                  <p>(A) Fuel, oil, hydraulic fluid, oxygen, de-icing fluid and water requested in the course of the observation mission;</p>
                  <p>(B) Ground technical and commercial servicing requested by the flight crew of the observing Party; and</p>
                  <p>(C) Additional services provided by the observed Party pursuant to Article&nbsp;VI, Section I, paragraph 17(D) of the Treaty.</p>
                </div>
              <p>2. The costs for the goods specified in paragraph 1(A) of this Section and Section II, paragraph 4 of this Decision, and consumed during a demonstration flight requested by the observed Party pursuant to Annex F, Section III of the Treaty shall be met by the observed Party unless the demonstration flight results in the cancellation of the observation flight in accordance with the provisions of Article VIII and Annex F of the Treaty. In this case the observing Party shall meet such costs of the demonstration flight.</p>
              <p>3. In the event that the observing Party takes the original recording media on its own observation aircraft or transport aircraft to its processing location, it shall upon request of the observed Party, and provided the availability of seats, transport free of charge personnel of the observed Party verifying the recording media processing to its processing location. In such case the observing Party assumes no liability for transporting such passengers.</p>
              <p>4. Costs resulting from a deviation or curtailment of an observation flight in accordance with Article VIII, Section II, paragraph 5(C) of the Treaty, to include the use of an alternate airfield, shall be met by the observed Party. All other costs connected with a deviation from the flight plan of the observation flight, as specified in Section I, paragraph 1(A) of this Decision, shall be paid by the observing Party.</p>
              <p>5. The costs of recording media, transportation of the media to the processing location, chemicals expended in processing, and duplication for the observed Party shall be borne by the observing Party.</p>
              <p>6. The scheduled observation flight is not counted against the quotas of either State Party in cases where the observation aircraft of the observing Party arrived in the territory of the observed Party, but the observation flight did not commence due to technical problems related to the observation aircraft or its sensors, the need to render emergency medical assistance to a member of the flight crew, or to a member of the mission of the observing Party, indispensable for the conduct of the observation flight.</p>
              <p> The observing Party, in accordance with the mechanism set forth in this Decision, shall reimburse the observed Party for:</p>
                <div class="col-sm-12">
                  <p>(A) Costs related to materials and services as well as costs related to meals and accommodation of the personnel of the observing Party in accordance with this Decision;</p>
                  <p>(B) Costs of the observed Party related to meals and accommodation of the personnel of the observed Party, not to exceed six in number, and in exceptional cases, upon agreement between the Parties involved, up to 10 persons, starting from the time of the first landing on the territory of the observed Party until take-off from the Point of Exit of the observed Party. The observed Party will provide a list of escort personnel upon the arrival of the mission of the observing Party.</p>
                </div>
              <p>7. In cases where the observation flight has not been conducted for the reasons set forth in paragraph 6 of this Section, the observing Party shall notify all other States Parties to the Treaty.</p>
              <p>8. In cases where the observing Party(s) does not reuse this unused quota in the course of a calendar year, the costs specified in paragraph 6(B) of this Section, regardless of the number of personnel from the observed Party, shall not be reimbursed. This provision shall apply once for the same unused quota.</p>
              <p>9. In case of shared flights, the costs specified in paragraph 6(B) of this Section shall be reimbursed by the Party or Parties that make use of the unused quota.</p>
            </div>
          <p>SECTION II. DISTRIBUTION OF COSTS OF OBSERVATION FLIGHTS CONDUCTED ON OBSERVATION AIRCRAFT PROVIDED BY THE OBSERVED PARTY PURSUANT TO ARTICLE VI, SECTION I, PARAGRAPH 1 OF THE TREATY</p>
            <div class="col-sm-12">
              <p>1. In the event that the observing Party uses its own transport aircraft as a means of transport, it shall pay for the goods and services specified in Section I, paragraph 1 of this Decision that the observing Party requests for its transport aircraft during the period of its presence on the territory of the observed Party.</p>
              <p>2. Unless otherwise specified in this Decision, or agreed between the States Parties involved, an observed Party exercising its right to provide an observation aircraft shall be reimbursed by the observing Party for the costs of only the following goods and services related to the observation aircraft: </p>
                <div class="col-sm-12">
                  <p>(A) Fuel, oil, hydraulic fluid, oxygen, de-icing fluid and water consumed in the course of the observation mission; and</p>
                  <p>(B) Additional services provided by the observed Party pursuant to Article VI, Section I, paragraph 17(D) of the Treaty.</p>
                </div>
              <p>3. The costs for the goods specified in paragraph 2(A) and paragraph 4 of this Section, and consumed during a demonstration flight requested by the observing Party pursuant to Annex F, Section III of the Treaty shall be met by the observing Party unless the demonstration flight results in the cancellation of the flight in accordance with the provisions of Article VIII and Annex F of the Treaty. In this event, the observed Party shall not charge the observing Party for the demonstration flight.</p>
              <p>4. The costs of recording media used in the observation flight and for producing duplicates for the observed Party as well as the costs of the chemicals expended in processing and duplication for the observed Party shall be borne by the observing Party.</p>
              <p>5. If the observing Party exercises its right to process the recording media, it shall pay the costs of transporting them to its processing facility. If the observing Party waives its right to process the recording media, and they are thus processed by the observed Party, the observed Party shall pay for their transportation to its processing facility and to the Point of Exit used by the observing Party.</p>
              <p>6. Costs connected with a deviation or curtailment of an observation flight in accordance with Article VIII, Section II, paragraphs 5(A), 5(B), or 5(C) of the Treaty, to include the use of an alternate airfield, shall be met by the observed Party. All other costs as specified in paragraph 2(A) of this Section, connected with a deviation from the flight plan of the observation flight, shall be paid by the observing Party.</p>
              <p>7. The observed Party shall cover the costs connected with the travel, if applicable, of flight representatives from the nearest Point of Entry to the Open Skies airfield where the observation flight begins and from the Open Skies airfield where the observation flight ends to the nearest Point of Exit, unless the transport aircraft of the observing Party is used for that purpose.</p>
            </div>
          <p>SECTION III. REIMBURSEMENT OF COSTS FOR USE OF OBSERVATION AIRCRAFT DESIGNATED BY A THIRD STATE PARTY</p>
            <div class="col-sm-12">
              <p> Reimbursement for the use by an observing Party of an observation aircraft designated by a third State Party shall be fair and reasonable and be established in accordance with the arrangements of the States Parties concerned.</p>
            </div>
          <p>SECTION IV. COSTS ARISING FROM CERTIFICATION OF OBSERVATION AIRCRAFT AND SENSORS AND ADDITIONAL FLIGHTS</p>
            <div class="col-sm-12">
              <p>1. Except for the provisions of Section V, paragraph 2 of this Decision, the costs arising from the certification of an observation aircraft and sensors pursuant to the provisions of Annex D of the Treaty, including the costs of one valid in-flight examination, shall be met by the State Party or Group of States Parties designating the observation aircraft.</p>
              <p>2. If additional flights are agreed among the States Parties involved, the costs shall be met by those States Parties requesting such flights. These additional flights shall not interfere with the certification process and shall be without prejudice to the provisions of Annex D of the Treaty.</p>
            </div>
          <p>SECTION V. GENERAL RULES</p>
            <div class="col-sm-12">
              <p>1. Travel expenses of flight crew and flight representatives of the observing Party to the Point of Entry and from the Point of Exit shall be borne by the observing Party with the exception of travel expenses specified in Section II, paragraph 7 of this Decision.</p>
              <p>2. The arrangements agreed to in the following subparagraphs A and B regarding the payment by the observing Party for meals and accommodation provided to their representatives during certification and observation flights shall not be a precedent for other existing or future arms control agreements.</p>
                <div class="col-sm-12">
                  <p>(A) Travel expenses for representatives of the States Parties at the certification process, as well as costs for their meals and accommodation up to the equivalent of EUR 150 per person per day shall be met by the State Party, which they represent.</p>
                  <p>(B) Unless otherwise agreed, the observed Party shall charge costs of no more than the equivalent of EUR 150 in a convertible currency per person per day for meals and accommodation provided to the personnel of the observing Party. In the event multiple occupancy accommodations are provided, the rate shall be reduced to 80 per cent of this amount for those personnel provided such accommodations.</p>
                </div>
              <p> Accommodation referred to in 2 (A) and (B) above, should be based on a single occupancy room in a hotel or another facility regularly involved in providing such services. The level of service in the place of accommodation should be at least the equivalent of a 3 star hotel according to customary classification of that State and located no further than 60 km from the Open Skies airfield or entry/exit point being used by the observing Party. On the basis of normal traffic conditions, the transfer between the hotel and Open Skies airfield should normally not exceed one hour.</p>
              <p> The maximum daily per person sum, reimbursed by the observing Party for meals and accommodation provided to its personnel during certifications and observation flights, shall be reviewed every two years starting from December 2007.</p>
              <p> When reviewing the maximum daily per person sum, reimbursed for meals and accommodation provided to the observing Party&rsquo;s personnel, the States Parties will proceed from the understanding that the observed Party is obliged to meet the costs, relating to participation in preparing and conducting an observation flight over its territory, incurred by its own personnel.</p>
              <p>3. Costs of additional services provided by the observed Party pursuant to Article VI, Section I, paragraph 17(D) of the Treaty shall be met by the observing Party regardless of which State Party provides the observation aircraft.</p>
              <p>4. Fees shall not be charged either to a transiting State Party or to an observing State Party for the use of navigational aids and for air traffic control services, airport landing, takeoff, ground handling, parking and security for all Open Skies transit, transport, and observation flights.</p>
              <p>5. The observed Party shall cover the costs of its personnel participating in the preparation and conduct of an observation flight over its territory.</p>
              <p>6. Unless otherwise agreed, the observed Party shall charge the observing Party for the goods and services specified in Section I, paragraph 1, and Section II, paragraph 1 and 2 of this Decision, using prices set at the lowest available commercial rate, not including taxes, at Cologne Airport in the Federal Republic of Germany, as of 1 January of the current year and to be reviewed every six months. A price list for such goods and services shall be distributed to all States Parties by the Federal Republic of Germany no later than 31 January and 31 July each year.</p>
              <p>7. Unless otherwise agreed, an observed Party exercising its right to provide an observation aircraft shall charge the observing Party for goods specified in Section II, paragraph 4 of this Decision, a price not exceeding that for such goods at the lowest available commercial rate, not including taxes, existing in Canada, as of 1 January of each year, from any company whose products are used by a certified Canadian observation aircraft, or, if there be no such aircraft, by an observation aircraft certified by the United States. A price list for such goods shall be distributed to all States Parties by Canada no later than 31 January each year.</p>
              <p>8. States Parties shall cover the costs of emergency medical treatment on their territory provided to personnel of other States Parties performing activities in accordance with the provisions of the Treaty.</p>
              <p>9. No later than 30 days after completion of an observation flight the observed Party shall transmit an invoice to the observing Party clearly itemizing the costs incurred during that observation flight in a standard form set forth in the Annex to this Decision. All costs mentioned in this Section shall be charged in EUR or US dollars. For the purposes of this Section the personnel of a third State Party participating in the conduct of an observation flight shall be considered as personnel of the observing Party.</p>
              <p>10.rwise agreed, at the end of each calendar year the States Parties will exchange requests for payment in EUR or US dollars. Following this exchange, the total costs of goods and services provided by the States Parties shall be compared by the States Parties to determine if actual reimbursement is required. Following this review, any State Party that is in debt to any other State Party shall pay its debt in EUR or US dollars to that State Party no later than 1 March of the following year &mdash; unless the debt is still under discussion. This rule shall also apply to observing Parties using an observation aircraft of a third State Party.</p>
              <p>11.f arranging and conducting transit flights, and the flights to the Point of Entry and from the Point of Exit of the observed Party shall be distributed between the States Parties of the Treaty in accordance with the mechanism set forth in the OSCC Decision No. 2/05 of 31 January 2005.</p>
              <p>12. The costs that result from the landing of an observation aircraft at an alternate airfield during a transit or a flight to the point of entry or from the point of exit or an observation flight shall be distributed among the States Parties in accordance with the mechanism set forth in the OSCC Decision No.9/08 of 15 December 2008.</p>
              <p>13. In case of landing at an alternate airfield during a transit flight or a flight to the point of entry or an observation flight due to circumstances described in paragraph 1(A) or 1(B) of Section II, Article VIII of the Treaty where the observation aircraft has not been provided by the observed Party, or in case of a medical emergency of any person of the observing Party on board, then the observing or transiting Party shall reimburse the observed or transited Party for the additional costs of rooms booked at the originally planned airfield, as is set forth in paragraph 15(A) below, if the booking can not be cancelled.<u></u></p>
              <p>14. When a representative of a transited State Party is invited as an observer pursuant to Decision No. 22/02 of 16 December 2002, travel expenses for the observer to the Point of Entry and from the Point of Exit of the observed State Party shall be borne by the transited State, unless otherwise agreed. For the purposes of other costs the observer will be considered part of the observing Party.</p>
              <p>15. In the event that the observing Party requests the observed Party to change the time of arrival at the Point of Entry of the observed Party, and if the observed Party agrees to such a delay and the observing Party does not arrive at the newly established time, it shall reimburse the observed Party for the following additional costs:</p>
                <div class="col-sm-12">
                  <p>(A) Room reservations for the personnel of the observing Party: for two days, not exceeding 50 per cent of the amount indicated in subparagraph 2(B) of this Section per person per day;</p>
                  <p>(B) Accommodation costs for up to 10 members of personnel of the observed Party, designated to support the observation flight of the observing Party: for two days, not exceeding 50 per cent of the amount indicated in subparagraph 2(B) of this Section per person per day.</p>
                </div>
              <p>16. If a landing takes place at an alternate airfield during an observation flight resulting in an overnight stop due to circumstances described in paragraph 1(A) or 1(B) of Section II, Article VIII of the Treaty where the observation aircraft has not been provided by the observed Party, or in case of a medical emergency of any person of the observing Party on board, and the accommodations at the planned overnight airfield have already been occupied by the personnel of the observing Party then the observing Party will reimburse the observed Party for the costs of accommodation of its personnel at both airfields.</p>
              <p>17. Not later than 30 days after the scheduled time of arrival of the mission, the observed Party shall send to the observing Party an invoice with clear indication of costs incurred by the observing and the observed Parties in convertible currency.</p>
            </div>
          <p>SECTION VI. COSTS ARISING FROM DATA SHARING</p>
            <div class="col-sm-12">
              <p>1. Duplicates of sensor output collected during an observation flight shall be provided by the observing Party at a fair and reasonable price, which will be determined on a bilateral basis or by multilateral agreement. (See also the Statement by the Delegation of Germany at the OSCC of 22 July 2002.)</p>
            </div>
          <p>SECTION VII. CONSOLIDATION OF PREVIOUS COST-RELATED PROVISIONS</p>
            <div class="col-sm-12">
              <p>1. This Decision supersedes the following OSCC Documents:</p>
                <div class="col-sm-12">
                  <p> OSCC Decision Number One, Revision of 10 December 1992 with Annex thereto of 15 March 1999;</p>
                  <p> Revision One of Decision Number One to the Treaty on Open Skies, OSCC.DEC/7/02 of 18 March 2002;</p>
                  <p> Revision Two of Decision Number One to the Treaty on Open Skies, OSCC.DEC/11/02 of 10 June 2002;</p>
                  <p> Supplement One to Decision Number One to the Treaty on Open Skies, OSCC.DEC/11/03 of 16 June 2003;</p>
                  <p> Revision Three of Decision Number One to the Treaty on Open Skies, OSCC.DEC/17/03 of 29 September 2003;</p>
                  <p> Revision Four of Decision Number One to the Treaty on Open Skies, OSCC.DEC/6/07 of 17 September 2007;</p>
                  <p> Amendment One to Revision Four of Decision Number One to the Treaty on Open Skies: OSCC.DEC/9/07 of 10 December 2007;</p>
                </div>
              <p> Procedures for counting quotas and the allocation of costs in cases where the observation aircraft is provided by the observing State Party and the observation flight does not commence, OSCC.DEC/2/06 of 25 September 2006;</p>
              <p> Procedures for transit necessary during a segment of an Open Skies observation flight, Paragraph 8, of OSCC.DEC/22/02 of 16 December 2002 on Procedures; and Annex 4, the OSCC Chairman&rsquo;s Statement of 22 July 2002 (OSCC.XXVIII.JOUR/81/Corr.1)</p>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p> This Decision shall enter into force on the date of its adoption, and shall have the same duration as the Treaty.</p>
      <p> Decided in Vienna, in the Open Skies Consultative Commission, on 23 March 2009, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <table class="table table-responsive table-striped">
        <tr>
          <td colspan="2">STANDARD OPEN SKIES INVOICE (in USD and EUR)</td>
          </tr>
        <tr>
        <td colspan="2"></td>
        </tr>
        <tr>
          <td>INVOICE NUMBER:</td>
          <td width="150px"></td>
        </tr>
        <tr>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td>TO STATE PARTY:</td>
          <td width="150px"></td>
        </tr>
        <tr>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td>FROM STATE PARTY:</td>
          <td width="150px"></td>
        </tr>
        <tr>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td>DATE OF INVOICE:</td>
          <td width="150px"></td>
        </tr>
        <tr>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td>OBSERVATION FLIGHT REFERENCE  NUMBER:</td>
          <td width="150px"></td>
        </tr>
        <tr>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td>DATE/TIME OF ARRIVAL:</td>
          <td width="150px"></td>
        </tr>
        <tr>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td>DATE/TIME OF DEPARTURE:</td>
          <td width="150px"></td>
        </tr>
        <tr>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td>SUMMARY OF COSTS (EUROS)</td>
          <td width="150px"></td>
        </tr>
        <tr>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td>MEALS AND ACCOMMODATIONS:</td>
          <td width="150px"></td>
        </tr>
        <tr>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td>FUEL, OIL, HYDRAULIC FLUID,  GREASE, OXYGEN,</td>
          <td width="150px"></td>
        </tr>
        <tr>
          <td>WATER, DE-ICING FLUID,  DE-ICING CHARGE:</td>
          <td width="150px"></td>
        </tr>
        <tr>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td>GROUND TECHNICAL AND  COMMERCIAL SERVICING:</td>
          <td width="150px"></td>
        </tr>
        <tr>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td>MEDIA AND CHEMICALS:</td>
          <td width="150px"></td>
        </tr>
        <tr>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td>ADDITIONAL SERVICES:</td>
          <td width="150px"></td>
        </tr>
        <tr>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td>TOTAL INVOICED AMOUNT  (EUROS):</td>
          <td width="150px"></td>
        </tr>
        <tr>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td>OBSERVED PARTY AGREE AS  CORRECT (ON SUBMISSION)</td>
          <td width="150px"></td>
        </tr>
        <tr>
          <td> NAME:</td>
          <td width="150px"></td>
        </tr>
        <tr>
          <td> SIGNATURE:</td>
          <td width="150px"></td>
        </tr>
        <tr>
          <td colspan="2"></td>
          </tr>
        <tr>
          <td>OBSERVING PARTY AGREE AS  CORRECT (PRIOR TO PAYMENT)</td>
          <td width="150px"></td>
        </tr>
        <tr>
          <td> NAME:</td>
          <td width="150px"></td>
        </tr>
        <tr>
          <td> SIGNATURE:</td>
          <td width="150px"></td>
        </tr>
        <tr>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td>INVOICE PAYABLE TO THE  FOLLOWING BANK:</td>
          <td width="150px"></td>
        </tr>
      </table>
    </div>
  </div>
<br/>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <table class="table table-responsive table-striped">
        <tr>
        <td colspan="4">MEALS AND ACCOMMODATION  COSTS</td>
        </tr>
        <tr>
          <td>INVOICE NUMBER:</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>TO STATE PARTY:</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>FROM STATE PARTY:</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>DATE OF INVOICE:</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>MEALS/ACCOMMODATION COSTS</td>
          <td>NUMBER OF PERSONNEL</td>
          <td>DAILY COST PER PERSON (EUROS)</td>
          <td>TOTAL DAILY COST (EUROS)</td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>DAY 1</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>DAY 2</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>DAY 3</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>DAY 4</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>DAY 5</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>DAY 6</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>DAY 7</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>TOTAL</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>TOTAL MEALS AND  ACCOMMODATION COST (EUROS)</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
<br/>
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-responsive table-striped">
        <tr>
          <td colspan="12">FUEL,  OIL, HYDRAULIC FLUID, GREASE, OXYGEN, WATER, DE-ICING COSTS</td>
        </tr>
        <tr>
          <td colspan="12"> </td>
        </tr>
        <tr>
          <td colspan="2">INVOICE NUMBER:</td>
          <td colspan="4"></td>
          <td colspan="2">FROM STATE PARTY:</td>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td colspan="12"> </td>
        </tr>
        <tr>
          <td colspan="2">TO STATE PARTY:</td>
          <td colspan="4"></td>
          <td colspan="2">DATE OF INVOICE:</td>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td colspan="12"> </td>
        </tr>
        <tr>
          <td rowspan="2">UPLOAD </td>
          <td rowspan="2">FUEL (litres)</td>
          <td rowspan="2">OIL (US  quarts)</td>
          <td rowspan="2">HYDRAULIC  FLUID (litres)</td>
          <td rowspan="2">GREASE  (kg)</td>
          <td rowspan="2">OXYGEN  (Filling)</td>
          <td rowspan="2">WATER  (litres)</td>
          <td rowspan="2">DE-ICING  FLUID (kg)</td>
          <td colspan="4">DE-ICING  CHARGE BY AIRCRAFT TYPE</td>
        </tr>
        <tr>
          <td>CAT 1</td>
          <td>CAT 2</td>
          <td>CAT 3</td>
          <td>CAT 4</td>
        </tr>
        <tr>
          <td colspan="12"> </td>
        </tr>
        <tr>
          <td>1. ON ARRIVAL</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="12"> </td>
        </tr>
        <tr>
          <td>2. DEMO FLIGHT</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="12"> </td>
        </tr>
        <tr>
          <td>3. TRANSIT TO OPEN SKIES AIRFIELD</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="12"> </td>
        </tr>
        <tr>
          <td>4. OBSERVATION FLIGHT &mdash; SEGMENT 1</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="12"> </td>
        </tr>
        <tr>
          <td>5. OBSERVATION FLIGHT &mdash;  SEGMENT 2</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="12"> </td>
        </tr>
        <tr>
          <td>6. OBSERVATION FLIGHT &mdash;  SEGMENT 3</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="12"> </td>
        </tr>
        <tr>
          <td>7. OBSERVATION FLIGHT &mdash;  SEGMENT 4</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="12"> </td>
        </tr>
        <tr>
          <td>8. OBSERVATION FLIGHT &mdash;  SEGMENT 5</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="12"> </td>
        </tr>
        <tr>
          <td>9. TRANSIT TO POINT OF EXIT</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="12"> </td>
        </tr>
        <tr>
          <td>10. DEPARTURE FROM POINT OF EXIT</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="12"> </td>
        </tr>
        <tr>
          <td>TOTAL UPLOAD (NUMBER OF UNITS)</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="12"> </td>
        </tr>
        <tr>
          <td>UNIT COST (EUROS) - KOLN  FOR YEAR ____</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="12"> </td>
        </tr>
        <tr>
          <td>TOTAL</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="12"> </td>
        </tr>
        <tr>
          <td colspan="12">TOTAL FUEL, OIL, HYDRAULIC FLUID, GREASE,  OXYGEN, WATER, DE-ICING COST (EUROS)</td>
        </tr>
      </table>
    </div>
  </div>
<br/>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <table class="table table-responsive table-striped">
        <tr>
        <td colspan="4">GROUND   TECHNICAL AND COMMERCIAL SERVICING COSTS</td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>INVOICE NUMBER:</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>TO STATE PARTY:</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>FROM STATE PARTY:</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>DATE OF INVOICE:</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>EXCHANGE RATE/DATE</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>OTHER GROUND TECHNICAL AND COMMERCIAL  SERVICING REQUESTED</td>
          <td>TYPE</td>
          <td>COST (LOCAL CURRENCY)</td>
          <td>COST (EUROS)</td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>1. ON ARRIVAL</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>2. DEMO FLIGHT</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>3. TRANSIT TO OPEN SKIES AIRFIELD</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>4. OBSERVATION FLIGHT - SEGMENT 1</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>5. OBSERVATION FLIGHT - SEGMENT 2</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>6. OBSERVATION FLIGHT - SEGMENT 3</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>7. OBSERVATION FLIGHT - SEGMENT 4</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>8. OBSERVATION FLIGHT - SEGMENT 5</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>9. TRANSIT TO POINT OF EXIT</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>10. DEPARTURE FROM POINT OF EXIT</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>TOTAL</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
<br>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <table class="table table-responsive table-striped">
        <tr>
          <td colspan="12">MEDIA AND CHEMICAL COSTS</td>
        </tr>
        <tr>
          <td colspan="12"> </td>
        </tr>
        <tr>
          <td colspan="2">INVOICE NUMBER</td>
          <td colspan="4"></td>
          <td colspan="2">FROM STATE PARTY:</td>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td colspan="12"> </td>
        </tr>
        <tr>
          <td colspan="2">TO STATE PARTY:</td>
          <td colspan="4"></td>
          <td colspan="2">DATE OF INVOICE:</td>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td colspan="12"> </td>
        </tr>
        <tr>
          <td colspan="12">EXCHANGE RATE/DATE</td>
        </tr>
        <tr>
          <td colspan="12"> </td>
        </tr>
        <tr>
          <td colspan="2">Canadian Media Prices as of Year ____</td>
          <td></td>
          <td></td>
          <td></td>
          <td>FILMS TYPES USED</td>
          <td>Film Width</td>
          <td colspan="2">Roll Length (metres)</td>
          <td># of Rolls</td>
          <td>Total Length (metres)</td>
          <td>Cost (Euros)</td>
        </tr>
        <tr>
          <td>FILMS</td>
          <td>Film  Width</td>
          <td>Cost  (CAD)/Metre</td>
          <td>Cost <br>(&euro;)/Metre</td>
          <td></td>
          <td>specify</td>
          <td></td>
          <td colspan="2"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Panchromatic, Fine Grain Negative Film</td>
          <td>70 mm</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td colspan="2"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>5 in/127 mm</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td colspan="2"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>9.5 in/240 mm</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td colspan="2"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Panchromatic, High Speed Negative Film</td>
          <td>70 mm</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td colspan="2"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>5 in/127 mm</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td colspan="2"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>9.5 in/240 mm</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td colspan="2"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Negative Duplicating Film - Neg to Pos</td>
          <td>70 mm</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td colspan="2"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>5 in/127 mm</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td colspan="2"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>9.5 in/240 mm</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td colspan="2"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Direct Duplicating Film - Neg to Neg</td>
          <td>70 mm</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td colspan="2"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>5 in/127 mm</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td colspan="2"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>9.5 in/240 mm</td>
          <td></td>
          <td></td>
          <td></td>
          <td>TOTAL FILM COSTS (EUROS)</td>
          <td colspan="4"></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="12"> </td>
        </tr>
        <tr>
          <td>PROCESSING CHEMICALS</td>
          <td>Film  Width</td>
          <td>Cost  (CAD)</td>
          <td>Cost  (&euro;)</td>
          <td></td>
          <td>PHOTO CHEMISTRY USED</td>
          <td></td>
          <td colspan="2"></td>
          <td></td>
          <td>Quantity</td>
          <td>Cost  (Euros)</td>
        </tr>
        <tr>
          <td>Replenishing Cost for 30 metres of film</td>
          <td>70 mm</td>
          <td></td>
          <td></td>
          <td></td>
          <td>specify</td>
          <td></td>
          <td colspan="2"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>(includes Developer and Fixer)</td>
          <td> /127 mm</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td colspan="2"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>9.5 in/240 mm</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td colspan="2"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td colspan="2"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Developer Replenisher Kit for 60 litres</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td colspan="2"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td colspan="2"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Fixer Replenisher Kit for 75 litres</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td colspan="2"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td colspan="2"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Developer Starter Kit for 34 litres</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>TOTAL CHEMISTRY COST (EUROS)</td>
          <td colspan="4"></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="12"> </td>
        </tr>
        <tr>
          <td>MAGNETIC TAPES</td>
          <td>Length</td>
          <td> Cost  (CAD) </td>
          <td>Cost (&euro;)</td>
          <td></td>
          <td>MAGNETIC TAPES USED</td>
          <td></td>
          <td colspan="2"></td>
          <td># of Tapes</td>
          <td></td>
          <td>Cost (Euros)</td>
        </tr>
        <tr>
          <td>Video Cassette VHS</td>
          <td>120 minutes</td>
          <td></td>
          <td></td>
          <td></td>
          <td>specify</td>
          <td></td>
          <td colspan="2"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Video Cassette S-VHS</td>
          <td>120 minutes</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td colspan="2"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Video Cassette HI - 8mm</td>
          <td>60 minutes</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td colspan="2"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Video Cassette HI - 8mm</td>
          <td>120 minutes</td>
          <td></td>
          <td></td>
          <td></td>
          <td>TOTAL TAPE COST (EUROS)</td>
          <td colspan="4"></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="12"> </td>
        </tr>
        <tr>
          <td>TOTAL MEDIA AND CHEMICAL COST (EUROS)</td>
          <td colspan="11"> </td>
        </tr>
      </table>
    </div>
  </div>
<br>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <table class="table table-responsive table-striped">
        <tr>
          <td colspan="4">ADDITIONAL SERVICES COSTS</td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>INVOICE NUMBER:</td>
          <td colspan="3"> </td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>TO STATE PARTY:</td>
          <td colspan="3"> </td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>FROM STATE PARTY:</td>
          <td colspan="3"> </td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>DATE OF INVOICE:</td>
          <td colspan="3"> </td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>EXCHANGE RATE/DATE</td>
          <td colspan="3"> </td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>ADDITIONAL SERVICES</td>
          <td>TYPE</td>
          <td>COST (LOCAL CURRENCY)</td>
          <td>COST (EUROS)</td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>1. ON ARRIVAL</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>2. DEMO FLIGHT</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>3. TRANSIT TO OPEN SKIES AIRFIELD</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>4. OBSERVATION FLIGHT - SEGMENT 1</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>5. OBSERVATION FLIGHT - SEGMENT 2</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>6. OBSERVATION FLIGHT - SEGMENT 3</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>7. OBSERVATION FLIGHT - SEGMENT 4</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>8. OBSERVATION FLIGHT - SEGMENT 5</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>9. TRANSIT TO POINT OF EXIT</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>10. DEPARTURE FROM POINT OF EXIT</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>TOTAL ADDITIONAL SERVICES COST (EUROS)</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>

<hr>
