<!-- DECISION 4/09 -->
<div id="decision_4_9"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/4/09
      <br>13 July 2009
      <br>OSCC++
      <br>Original:ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>4th Meeting of the 49th Session</strong> <br>OSCC(49) Journal No. 156, Agenda item 3</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 4/09 <br/>SECOND REVIEW CONFERENCE ON THE <br/>IMPLEMENTATION OF THE TREATY ON OPEN SKIES</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <P>The Open Skies Consultative Commission (OSCC), takes note of the statement made by the Treaty Depositaries Canada and Hungary on 23 March 2009 (OSCC48.JOUR/152, Annex 2), concerning their intention to convene the second review conference in accordance with Article XVI, paragraph 3.</p>
      <P>The OSCC decides:</p>
        <div class="col-sm-12">
          <P>- That the Second Review Conference on the Implementation of the Treaty on Open Skies shall be convened between 7 to 9 June 2010 in Vienna;</p>
          <P>- That the United States of America will chair the Review Conference and also play a leading role in the preparations of it;</p>
          <P>- That rules and procedures for the Review Conference will be developed in due course.</p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 13 July 2009, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
