<!-- DECISION SIX -->
<div id="decision_6"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top"> Back to Decisions List </a>
      <ul class="list-unstyled">
        <li><a href="#Annex6I">Annex I</a></li>
        <li><a href="#Annex6II">Annex II</a></li>
        <li><a href="#Annex6III">Aneex III</a></li>
        <li><a href="#Annex6IV">Annex IV</a></li>
      </ul>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">  OSCC/I/Dec.6<br/> 16 July 1993  </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION SIX <br/>TO THE TREATY ON OPEN SKIES <br/>RULES OF PROCEDURE AND WORKING METHODS OF THE OPEN SKIES CONSULTATIVE COMMISSION</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-left">
      <p>The following rules of procedure and working methods, including Annexes, have been worked out in accordance with Article X and Annex L of the Treaty on Open Skies.</P>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-left">
      <p><strong>I. CHAIRMANSHIP</strong></P>
        <div class="col-sm-12">
          <p>1. States Parties shall assume in rotation, determined by alphabetical order in the French language, the chairmanship of the Commission. Each Chairman shall serve from the opening of a session until the opening of the following session, unless otherwise agreed.</P>
          <p>2. The responsibilities of the Chairman shall include the following:</P>
            <div class="col-sm-12">
              <p>(a) to inform all States Parties of the date, time and location of meetings, as well as of proposals made by States Parties concerning the programme of the sessions;</p>
              <p>(b) to chair the meetings;</p>
              <p>(c) to keep a list of speakers and maintain a Journal, which shall be handed from Chairman to Chairman and which shall be available only to the States Parties; </p>
              <p>(d) to distribute to all States Parties copies of the Journal and attached texts;</p>
              <p>(e) to propose to the Commission the suspension or adjournment of the meeting, and the adjourning or closure of the debate on the item under discussion;</p>
              <p>(f) to seek resolution of administrative questions relating to the organisation of the work of the Commission;</p>
              <p>(g) to circulate to all States Parties a list of contact points of States Parties valid for the period between sessions; and</p>
              <p>(h) to fulfil other duties, as agreed by the Commission.</p>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-left">
      <p><B>II. MEETINGS</B></P>
        <div class="col-s,-12">
          <p>1. While in session, meetings shall be held at least once a week unless the Commission decides otherwise.</P>
          <p>2. Statements in any of the six working languages referred to in Annex L, Section I, paragraph 7 of the Treaty shall be interpreted into the other working languages.</P>
          <p>3. The Chairman may declare the list of speakers closed with the consent of the Commission. The Chairman shall, however, accord the right of reply to any representative if, following closure of the list, so requested.</P>
          <p>4. If any representative raises a point of order in the course of a meeting, the Chairman shall give that representative the floor immediately.</P>
            <div class="col-sm-12">
              <p>A representative raising a point of order shall not speak on the substance of the matter under discussion.</P>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-left">
      <p><B>III. WORK PROGRAMME FOR THE SESSIONS</B></P>
        <div class="col-sm-12">
          <p>1. Before the end of each session, the Commission shall seek to establish a provisional work programme and the starting date for the next regular session.</P>
          <p>2. If a State Party requests an extraordinary session, the Chairman shall promptly inform all other States Parties of that request and of any questions raised by that State Party. </P>
          <p>This question or questions shall be included as the first item in the work programme of the extraordinary session.</P>
          <p>3. Each State Party shall have the right to include additional items in the work programme of any session. The State Party requesting such an inclusion should inform the Chairman of those items, where possible no later than 30 days before the beginning of a regular session or seven days before the beginning of an extraordinary session.</P>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-left">
      <p><B>IV. AGENDA OF THE MEETINGS</B></P>
        <div class="col-sm-12">
          <p>1. The Commission shall, as the first item of the agenda of the first meeting of a session, consider and approve the work programme of that session and the agenda of that meeting.</P>
          <p>2. Before the end of each meeting, the Chairman shall propose a provisional agenda for review by the Commission at the start of the next meeting of the session.</P>
          <p>3. The provisions of paragraphs 1 and 2 of this Section are without prejudice to the right of each State Party to raise before the Commission, and have placed on its agenda, any issue relating to the Treaty.</P>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-left">
      <p><B>V. JOURNAL</B></P>
        <div class="col-sm-12">
          <p>1. The Journal, in the format specified in Annex II to this Document, shall record the sequential number, the date, the time of opening and the time of closing and the location of each meeting; the State Party in the chair; the agenda of the meeting; the States Parties whose representatives took the floor; and the date, time and location of the next meeting.</P>
          <p>2. Decisions and recommendations shall also be recorded in the Journal by the Chair-man. Any text of such decisions and recommendations shall be attached to the Journal.</P>
          <p>3. Interpretative statements, formal proposals and related documents on matters of substance shall be recorded in the Journal and their texts attached to it at the request of the originator when submitted in writing to the Chairman. The Chairman shall arrange, upon the request by any representative, for the translation of such texts into all other working languages and for their distribution with the Journal.</P>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-left">
      <p><B>VI. FINANCIAL AND ADMINISTRATIVE ISSUES</B></P>
        <div class="col-sm-12">
          <p>1.1 The scale of distribution for the common expenses associated with the operation of the Open Skies Consultative Commission (hereafter referred to as the "scale of distribution of the Open Skies Consultative Commission") is based on the scale of distribution adopted in Helsinki on 10 July 1992, by the participating States to the CSCE (hereafter referred to as the "Helsinki scale"). The special regime established by this Decision takes into account present economic conditions and is limited in scope and in time. It does not constitute a precedent for any other CSCE or CSCE related body.</P>
          <p>1.2 Taking into account the fact that not all participating States to the CSCE are Parties to the Treaty, States Parties have to make an additional contribution to their contribution to the "Helsinki scale", in order to cover the existing shortfall.</P>
            <div class="col-sm-11 col-sm-offset-1">
              <p>(A) As a rule, this additional contribution will be proportional to the "Helsinki scale". Nevertheless, any State Party may provide a higher additional contribution.</P>
              <p>(B) However, taking into account their present economic situation, those countries listed in Annex A to this Decision will be exempted from the proportional contribution mentioned in subparagraph (A) and will only make an ad hoc additional contribution, agreed by the States Parties.</P>
              <p>(C) The special regime established in subparagraph (B) will last as long as the economic situation of the countries listed in Annex A to this Decision so requires. The special regime will thus be subject to review every year.</P>
            </div>
          <p>1.3 As long as only participating States to the CSCE are Parties to the Treaty, and provided that there remains a shortfall to be covered, the financial contribution to the scale of distribution of the Open Skies Consultative Commission of any State Party will have to be superior to its contribution to the "Helsinki scale".</P>
          <p>1.4 In case of accession to the Treaty of participating States to the CSCE, their financial contributions to the scale of distribution of the Open Skies Consultative Commission will be calculated according to the principles established in paragraphs 1 and 2. In that case, the financial contributions to the scale of distribution of the Open Skies Consultative Commission of the other States Parties will be reduced in due proportion. This provision does not apply to those countries listed in Annex A to this Decision, as long as the special regime established in paragraph 2, subparagraph (B) grants them the benefit of financial contributions to the scale of distribution of the Open Skies Consultative Commission lower than those of other States Parties which bear an identical contribution to the "Helsinki scale".</P>
          <p>1.5 In case of accession to the Treaty of non-participating States to the CSCE, their financial contributions to the scale of distribution of the Open Skies Consultative Commission as well as the scale of distribution of the Open Skies Consultative Commission will be agreed on an ad hoc basis by the Open Skies Consultative Commission.</P>
          <p>1.6 As of 1 January 1993, the scale of distribution of the Open Skies Consultative Commission is agreed as follows (in percentages):</P>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-11 col-sm-offset-1">
      <ul class="list-unstyled">
        <li>France 10.82</li>
        <li>Germany 10.82</li>
        <li>Italy 10.82</li>
        <li>United Kingdom 10.82</li>
        <li>United States of America 10.82</li>
        <li>Russian Federation 9.05</li>
        <li>Canada 6.55</li>
        <li>Spain 5.10 (*)</li>
        <li>Belgium 4.27</li>
        <li>Netherlands 4.27</li>
        <li>Denmark 2.465</li>
        <li>Norway 2.465</li>
        <li>Ukraine 1.77</li>
        <li>Poland 1.685</li>
        <li>Turkey 1.20</li>
        <li>Greece 0.84</li>
        <li>Hungary 0.84</li>
        <li>Romania 0.84</li>
        <li>Czech Republic 0.805</li>
        <li>Belarus 0.71</li>
        <li>Bulgaria 0.66</li>
        <li>Luxembourg 0.66</li>
        <li>Portugal 0.66</li>
        <li>Slovak Republic 0.40</li>
        <li>Iceland 0.24</li>
        <li>Georgia 0.21</li>
        <li>Kyrgyzstan 0.21</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-left">
      <p>(*) This percentage reflects the agreement of Spain to provide a higher additional contribution.</P>
      <p>2. The practical arrangements for the payment of financial contributions by States Parties shall be the same as those agreed for other fora using the common services of the Joint Executive Secretariat.</P>
      <p>3. The modalities for the administrative organization of the Commission will be in accordance with arrangements already established in connection with the use of the common services of the Joint Executive Secretariat.</P>
      <p>Accordingly, the tasks of a secretariat to the Commission shall include the following services:
        <div class="col-sm-12">
          <P>(a) arrangement of accreditation;</P>
          <P>(b) management of facilities and equipment;</P>
          <P>(c) security of, and control of access to, facilities and meetings;</P>
          <P>(d) employment and management of appropriate technical staff;</P>
          <P>(e) availability of appropriate technical equipment;</P>
          <P>(f) availability of interpretation and translation services in all working languages; and</P>
          <P>(g) administration of financial matters.</P>
          <p>In fulfilling these tasks special attention shall be given to the principle of cost-effectiveness.</P>
        </div>
    </div>
  </div>
<hr>
  <div class="row">
    <div class="col-sm-2">
      <p><a name="Annex6I" href="#six"> Back to Decision Six </a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>ANNEX I <br>STATES ENJOYING OBSERVER STATUS</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Building upon the CSCE Declaration on the Treaty on Open Skies, given in Helsinki, on 24 March 1992, States participating in the Conference on Security and Cooperation in Europe, but not signatories to the Treaty on Open Skies, shall be entitled to enjoy observer status in the Commission, in accordance with the following provisions, until they sign or accede to the Treaty.</P>
        <div class="col-sm-12">
          <p>1. Bearing in mind the technical objectives of the Commission, States enjoying observer status shall be entitled to:</P>
            <div class="col-sm-12">
              <p>(a) attend all meetings of the Commission and its informal contact groups;</P>
              <p>(b) speak at such meetings;</P>
              <p>(c) receive all official documents and working papers of the Commission;</P>
              <p>(d) receive, through established financial arrangements, duplicates of sensor output with the written consent of the observed Party and with due respect to the sensitive nature of the information;</P>
              <p>(e) present papers;</P>
              <p>(f) receive copies of the Journal and attached texts; and</P>
              <p>(g) receive lists of contact points of the States Parties.</P>
            </div>
          <p>2. States enjoying observer status shall not have the right to participate in the taking of decisions or in the adoption of recommendations.</P>
        </div>
    </div>
  </div>
<hr>
  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a name="Annex6II" href="#six"> Back to Decision Six</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <P ALIGN="CENTER"><B>ANNEX II</b></P>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4 text-center">
      <p>Beratungskommission "Offener Himmel"</p>
      <p>Journal</p>
      <p>Open Skies Consultative Commission</p>
      <p>Journal</p>
      <p>Comisi&oacute;n Consultiva Cielos Abiertos</p>
      <p>Journal</p>
      <p>Commission consultative pour le r&eacute;mime "Ciel ouvert"</p>
      <p>Journal</p>
      <p>Commissione Consultiva Cieli Aperti</p>
      <p>Giornale</p>
      <p>&#1050;&#1086;&#1085;&#1089;&#1091;&#1083;&#1100;&#1090;&#1072;&#1090;&#1080;&#1074;&#1085;&#1072;&#1103; &#1082;&#1086;&#1084;&#1080;&#1089;&#1089;&#1080;&#1103; &#1087;&#1086; &#1086;&#1090;&#1082;&#1088;&#1099;&#1090;&#1086;&#1084;&#1091; &#1095;&#1077;&#1073;&#1091;</p>
      <p>&#1078;&#1091;&#1088;&#1085;&#1072;&#1083;</p>
      <p>Sitzung, Meeting, Reuni&oacute;n, R&eacute;union, Riunione, &#1047;&#1072;&#1089;&#1077;&#1076;&#1080;&#1077;&#1083;</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>1. Datum, Date, Fecha, Date, Data, &#1044;&#1072;&#1090;&#1072;
      <br>Beginn, Opened, Apertura, Ouverture, Inizio, &#1053;&#1072;&#1095;&#1072;&#1083;&#1086;
      <br>Schluss, Closed, Clausura, Cl&ocirc;ture, Chiusura, &#1047;&#1072;&#1082;&#1088;&#1099;&#1090;&#1080;&#1077;:
      <br>Ort, Location, Lugar, Lieu, Luogo, &#1052;&#1077;&#1089;&#1090;&#1086;:</p>
      <p>2. Vorsitz, Chairman, Presidencia, Pr&eacute;sidence, Presidenza, &#1055;&#1088;&#1077;&#1076;&#1089;&#1077;&#1076;&#1072;&#1090;&#1077;&#1083;&#1100;:</p>
      <p>3. Tagesordnung, Agenda, Orden del d&iacute;a, Ordre du jour, Ordine del giorno, &#1055;&#1086;&#1074;&#1077;&#1089;&#1090;&#1072; &#1076;&#1085;&#1103;:</p>
      <p>4. Wortmeldungen, Interventions, Intervenciones, Interventions, Interventi, &#1042;&#1099;&#1089;&#1090;&#1091;&#1087;&#1083;&#1077;&#1085;&#1080;&#1103;:</p>
      <p>5. Besh&uuml;sse und Emphehlungen, Decisions and Recommendations, Decisiones y Recomendaciones, D&eacute;cisions et Recommandations, Decisioni e Raccomandazioni, &#1056;&#1077;&#1096;&#1077;&#1085;&#1080;&#1103; &#1080; &#1088;&#1077;&#1082;&#1086;&#1084;&#1077;&#1085;&#1076;&#1072;&#1094;&#1080;&#1080;:</p>
      <p>6. Interpretative Erkl&auml;rungen, Interpretative Statements, Declarationes interpretativas, D&eacute;clarations interp&eacute;tatives, Dichiarazioni interpretative, &#1048;&#1085;&#1090;&#1077;&#1088;&#1087;&#1088;&#1077;&#1090;&#1080;&#1087;&#1091;&#1102;&#1097;&#1080;&#1077; &#1079;&#1072;&#1103;&#1074;&#1083;&#1077;&#1085;&#1080;&#1103;:</p>
      <p>7. Formelle Vorsch&auml;ge, Formal proposals, Propuestas formales, Propositions formelles, Proposte formali, &#1054;&#1092;&#1080;&#1094;&#1080;&#1083;&#1100;&#1085;&#1099;&#1077; &#1087;&#1088;&#1077;&#1076;&#1083;&#1086;&#1078;&#1077;&#1085;&#1080;&#1103;:</p>
      <p>8. N&auml;chste Sitzung</p>
        <div class="col-sm-11 col-sm-offset-1">
          <ul class="list-unstyled">
            <li>Datum:</li>
            <li>Zeit:</li>
            <li>Ort:</li>
            <li>Next meeting date:</li>
            <li>time:</li>
            <li>location:</li>
            <li>Pr&oacute;xima reuni&oacute;n fecha:</li>
            <li>hora:</li>
            <li>lugar:</li>
            <li>Prochaine r&eacute;union date:</li>
            <li>heure:</li>
            <li>lieu:</li>
            <li>Prossima riunione data:</li>
            <li>ora:</li>
            <li>luogo:</li>
            <li>&#1057;&#1083;&#1077;&#1076;&#1091;&#1102;&#1097;&#1077;&#1077; &#1079;&#1077;&#1089;&#1077;&#1076;&#1072;&#1085;&#1080;&#1077; &#1076;&#1072;&#1090;&#1072;:</li>
            <li>&#1074;&#1088;&#1077;&#1084;&#1103;:</li>
            <li>&#1084;&#1077;&#1089;&#1090;&#1086;:</li>
          </ul>
        </div>
    </div>
  </div>
<hr>
  <div class="row">
    <div class="col-sm-12">
      <p><a name="Annex6III" href="#six"> Back to Decision Six </a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>ANNEX III</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-left">
      <p>List of countries to which the special regime established in paragraph 2, subparagraph (B) of the Decision on the scale of distribution of the Open Skies Consultative Commission may apply:</P>
      <div class="col-sm-11 col-sm-offset-1">
        <ul class="list-unstyled">
          <li>Armenia</li>
          <li>Azerbaijan</li>
          <li>Belarus</li>
          <li>Georgia</li>
          <li>Kazakhstan</li>
          <li>Kyrgyzstan</li>
          <li>Moldova</li>
          <li>Russian Federation</li>
          <li>Tajikistan</li>
          <li>Turkmenistan</li>
          <li>Ukraine</li>
          <li>Uzbekistan</li>
        </ul>
      </div>
    </div>
  </div>
<hr>
  <div class="row">
    <div class="col-sm-12">
      <p><a name="Annex6IV" href="#six"> Back to Decision Six </a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>ANNEX IV <br>OPEN SKIES CONSULTATIVE COMMISSION CHAIRMAN'S STATEMENT ON THE DECISION ON THE SCALE OF DISTRIBUTION FOR THE COMMON EXPENSES ASSOCIATED WITH THE OPERATION OF THE OPEN SKIES CONSULTATIVE COMMISSION.</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>1. The financial contribution to the scale of distribution of the OSCC of each State Party to the Treaty, except those which benefit from the special regime established in paragraph 2, subparagraph (B) of the above-mentioned Decision, those that provide higher additional contributions and those which are not participating States to the CSCE, is calculated as follows (in percentages):</P>
        <div class="col-sm-12">
          <p>OS<SUB>i</SUB> = K x H<SUB>i</sub></P>
            <div class="col-sm-12">
              <p>where: i = State Party to which the present paragraph applies</P>
                <div class="col-sm-12">
                  <p> OS<SUB>i</SUB> = financial contribution of State Party i</P>
                  <p> H<SUB>i</SUB> = contribution to the "Helsinki scale" of State Party i</P>
                  <p> K = correction coefficient</P>
                </div>
            </div>
        </div>
      <p>2. The financial contribution to the scale of distribution of the OSCC of a State Party that provides a higher additional contribution is calculated as follows (in percentages):</P>
        <div class="col-sm-12">
          <p> OS<SUB>m</SUB> = H<SUB>m</SUB> + E<SUB>m</sub></P>
            <div class="col-sm-12">
              <p>where: m = State Party to which the present paragraph applies</P>
                <div class="col-sm-12">
                  <p> OS<SUB>m</SUB> = financial contribution of State Party m</P>
                  <p> H<SUB>m</SUB> = contribution to the "Helsinki scale" of State Party m</P>
                  <p> E<SUB>m</SUB> = additional contribution of State Party m</P>
                </div>
            </div>
        </div>
      <p>3. The financial contribution to the scale of distribution of the OSCC of a State Party to which the special regime established in paragraph 2, subparagraph (B) of the above-mentioned Decision applies is calculated as follows (in percentages):</P>
        <div class="col-sm-12">
          <p> OS<SUB>j</SUB> = H<SUB>j</SUB> + A<SUB>j</sub></P>
            <div class="col-sm-12">
              <p>where: j = State Party to which the present paragraph applies</P>
                <div class="col-sm-12">
                  <p> OS<SUB>j</SUB> = financial contribution of State Party j</P>
                  <p> H<SUB>j</SUB> = contribution to the "Helsinki scale" of State Party j</P>
                  <p> A<SUB>j</SUB> = ad hoc additional contribution of State Party j</P>
                </div>
            </div>
        </div>
      <p>4. Coefficient K is determined from the formula:</P>
        <div class="col-sm-12">
          <p>where:&#8721;H<SUB>i</SUB> = sum of contributions to "Helsinki scale" of States Parties i - see paragraph 1 above.</p>
            <div class="col-sm-12">
              <p>&#8721;OS<SUB>m</SUB> = sum of contributions to the scale of distribution of the OSCC of States Parties m - see paragraph 2 above.</P>
              <p>&#8721;OS<SUB>j</SUB> = sum of contributions to the scale of distribution of the OSCC of States Parties&nbsp;j - see paragraph&nbsp;3 above.</P>
            </div>
        </div>
    </div>
  </div>

<hr />
