<!-- DECISION 13/04 -->
<div id="decision_13_4"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/13/04
      <br>22 October 2004
      <br>OSCC+
      <br>Original: ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 13/04 <br>PRELIMINARY AGENDA OF THE FIRST REVIEW CONFERENCE ON THE IMPLEMENTATION OF THE TREATY ON OPEN SKIES</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p> The Open Skies Consultative Commission (OSCC),</p>
      <p> In accordance with its Decision 7/04 of 21 June 2004, decides to forward the preliminary agenda of the first Review Conference (RC), as contained in document OSCC.RC/1/04/Rev.2 of 7 October 2004, for the adoption by the Review Conference.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p> Decided in Vienna, in the Open Skies Consultative Commission, on 22 October 2004, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
