<!-- DECISION 12/04 -->
<div id="decision_12_4"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#to12/04">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/12/04
      <br>20 September 2004</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 12/04 <br>REVISION 1 TO OSCC DECISION No. 12/03 <br>TO THE TREATY ON OPEN SKIES <br>Mechanism and a timetable of the distribution of active quotas</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p> Following Article III, Section I, paragraphs 6 and 7, Article III, Section II, paragraph 7, Annex A, Section II, Annex H, paragraphs 1 and 3, and Annex L, Section II of the Treaty on Open Skies, a new distribution of active quotas started on 1 January 2004. For the purpose of preparation of the OSCC decisions on the distribution of active quotas for the following calendar years the OSCC decides on the following procedure and time lines:</p>
        <div class="col-sm-12">
          <p> 1. All States Parties/Group of States Parties (SP/GSP), wishing to modify all or part of the past year's distribution with respect to their active quota by 1 October each year shall notify (OSF 34) all other SP/GSP and inform the OSCC of SP/GSP over which they wish to conduct their observation flights during the next calendar year, highlighting the changes requested. Notifications submitted later than 1 October will not be considered except in cases where result of new agreements is reached between SP/GSP on distribution of active quotas. SP/GSP, which have no intention to introduce any changes, are encouraged to submit OSF 34 format, in order to facilitate a distribution process;</p>
          <p> 2. The three-week period referenced in Article III, Section I, paragraph 7 shall start on 1 October;</p>
          <p> 3. The SP/GSP first in alphabetical order currently holding active quota over one or more SP/GSP will act as co-ordinator for the distribution process of all quotas over this/these SP/GSP. For SP/GSP over which so far no active quota was distributed, the next SP/GSP in alphabetical order after the SP/GSP mentioned, having requested such quota(s), will act as co-ordinator;</p>
          <p> 4. In cases where bids exceed the available passive quota the co-ordinator shall immediately organize consultations between the other interested SP/GSP with the aim of reaching agreement on distribution within the three-week period. SP/GSP may consider sharing quota under the leadership of one SP/GSP;</p>
          <p> 5. In the event the number of bids for flights over the territory does not exceed its total passive quota number a co-ordinator informs the OSCC chair about the results of bidding as stated in paragraph 6 of this decision regardless of whether changes have occurred;</p>
          <p> 6. Each co-ordinator will inform the OSCC chair no later than 22 October of the results. On the basis of this information the OSCC chairperson prepares the draft decision for the distribution of active quotas for the forthcoming year; </p>
          <p> 7. Proposed modifications to the distribution of active quotas shall be considered according to the rules set out in Annex L, Section II (general rule), Annex A, Section II, paragraph 4 (for acceding SP/GSP), and Article III, Section II, paragraph 7 (for changes inside a GSP) of the Treaty on Open Skies; </p>
          <p> 8. The draft decision shall be presented to the OSCC plenary for decision no later than three days before 1 November. </p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * * </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p> Done in Vienna in the Open Skies Consultative Commission on 20 September 2004 , in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
