<!-- DECISION 15/04 -->
<div id="decision_15_4"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/15/04
      <br>22 October 2004
      <br>OSCC+
      <br>Original: ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 15/04 <br>OSCC DECISION ON CERTIFICATION OF NEW MODELS OF C-130 AIRCRAFT, SUBJECT TO A SILENCE PROCEDURE EXPIRING ON WEDNESDAY, 27 OCTOBER 2004, AT 12 NOON</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Paragraph 2 of Article V of the Open Skies Treaty provides that each State Party has the "right to designate types or models of aircraft as observation aircraft or add new types or models of aircraft to those already designated by it&hellip;."</p>
      <p>Benelux, Canada, France, Greece, Italy, Norway, Portugal, and Spain (commonly referred to as the POD Group) developed a single sensor system contained in a specially designed pod that is independent of the aircraft and can be utilized with any C-130 aircraft certified as an Open Skies observation aircraft. The C-130 Open Skies Pod System (COPS) is shared among members of the POD Group;</p>
      <p>Considering that the certification of the C-130 H/Pod System was a unique certification event which required special arrangements, and that an In-Flight Examination for only one C-130H aircraft was sufficient to fulfil the obligations of the C-130 H/Pod System certification for all States Parties of the Pod Group;</p>
      <p>Noting that the Treaty on Open Skies does not clearly address the requirements for the certification of additional aircraft and associated sensors when the sensors intended for the new aircraft have previously been certified along with an aircraft of the same type but different model (this is the case when a State Party wishes to certify an aircraft from the C-130 type of aircraft, other than a C-130H or 130J model, with the C-130 Open Skies Pod System (COPS) that was previously certified with a C-130H and C-130J aircraft);</p>
      <p>The certification of the Pod System has been recognized by the OSCC as unique in which special procedures were established in 2001 for the certification of the C-130H in a Chairperson's Statement dated 17 December 2001( OSCC.XXVI.JOUR/74/Attachment 3 to Annex 1) and again in 2003 for the certification of the C-130J in OSCC Decision dated 21 July 2003 (OSCC.DEC/13/03);</p>
      <p>For purposes of resolving any ambiguities and differences of interpretation relating to the certification of any model of the C-130 type of aircraft using the previously certified Pod sensor suite and to lessen the financial burden of States Parties, the Open Skies Consultative Commission (OSCC) has decided pursuant to paragraph 4(B) of Article X as follows: </p>
        <div class="col-sm-12">
          <p>1. A State Party desiring to certify any model of C-130 aircraft as an observation aircraft that will use the previously certified Pod sensor suite shall be:</p>
            <div class="col-sm-12">
              <p>(a) Permitted to submit flight test data collected on the previously certified sensors, where the configurations of sensors are unchanged, as part of the Technical Data Package. This data shall be deemed sufficient to satisfy the obligations to provide a Flight Test Data package required by the Annex D;</p>
              <p>(b) Successful completion of the ground examination shall be deemed to have satisfied the requirements of Annex D for the certification of that type of C-130 aircraft.</p>
            </div>
          <p>2. States Parties wishing to verify that the Hmin values for the new C-130 model fitted with the previously certified COPS comply with the previously certified Hmnin values shall do so by requesting a Corroboration Flight in the OSF-25 of the State Party conducting the Certification.</p>
          <p>3. The new C-130 model shall be considered certified upon signature of the OSF-25 notwithstanding any request for a Corroboration Flight made in accordance with paragraph 2 of this Decision.</p>
          <p>4. The Corroboration Flight shall be conducted as follows:</p>
            <div class="col-sm-12">
              <p>(a) The State Party conducting the certification shall conduct a Corroboration Flight on the occasion when the newly certified C-130 model is used for the first time to conduct an observation flight over the territory of one of the requesting States Parties. The State Party conducting the certification shall be required to conduct only one Corroboration Flight;</p>
              <p>(b) The State Party conducting the certification shall be responsible for the expenses incurred to conduct a Corroboration Flight;</p>
              <p>(c) The Corroboration Flight shall be conducted in accordance with the provisions of Section III of Annex F (Demonstration Flights);</p>
              <p>(d) The State Party conducting the certification shall also issue not later than 15 days prior to the conduct of the Corroboration Flight, a separate notification to the States Parties that requested a Corroboration Flight in the OSF 25 of the date and location of the Corroboration Flight;</p>
              <p>(e) The State Party on whose territory the Corroboration Flight will take place, shall permit personnel of other States Parties that requested a Corroboration Flight entry to participate in the Corroboration Flight. The State Parties intending to participate in the Corroboration Flight will co-ordinate logistics with the State Party on whose territory the Corroboration Flight will take place;</p>
              <p>(f) The State Party, on whose territory the Corroboration Flight will take place, shall notify all States Parties by OSF 35 of the results of the Corroboration Flight;</p>
              <p>(g) The procedures specified in paragraphs 6 and 8 of Section III of Treaty Annex F for Demonstration Flights shall be applied to Corroboration Flights in the event that the observed Party questions whether the capability of an installed sensor is in accordance with Article IV, paragraph 8 of the Treaty.</p>
            </div>
          <p>5. For the purposes of this Decision only, the term Corroboration Flight means a flight that is conducted to confirm that the change of the aircraft model does not affect the qualitative performances of the sensor configurations previously certified and provided in accordance with paragraph 1.</p>
          <p>6. This Decision shall enter into force on the date of its adoption and shall have the same duration as the Treaty on Open Skies.</p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p> Decided in Vienna, in the Open Skies Consultative Commission, on 22 October 2004, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
