<!-- DECISION 19/04 -->
<div id="decision_19_4"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/19/04
      <br>13 December 2004</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>4th Meeting of the 35th Session</strong> <br>OSCC(35) Journal No. 107, Agenda item 3</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 19/04 <br>REVISION OF THE OSCC SCALE OF DISTRIBUTION <br>DUE TO THE ACCESSION OF CROATIA</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The Open Skies Consultative Commission (OSCC),</p>
      <p>1. Pursuant to the provisions of Article X paragraph 4 (B), Annex L Section I paragraph 9 of the Treaty on Open Skies, OSCC/III/Dec.10 of 16 July 1993 and OSCC.DEC/8/02/Rev.1 of 22 April 2002 Section 5,</p>
      <p>2. Further to the deposit of Croatia's instrument of accession on 2 November 2004, which makes Croatia liable for OSCC costs sixty days after that date, effective at the beginning of the next OSCE budget quarter following OSCC agreement on the redistribution of costs,</p>
      <p>Decides to redistribute OSCC costs and agrees on the following scale of distribution for the common expenses associated with the operation of the OSCC, which shall be effective as of 1 January 2005 (in percentages):</p>
    </div>
  </div>
  <div class="row">
    <div class="col table-responsive">
      <table class="table table-striped">
        <tr>
          <td>France</td>
          <td>10.081</td>
        </tr>
        <tr>
          <td>Germany</td>
          <td>10.081</td>
        </tr>
        <tr>
          <td>Italy</td>
          <td>10.081</td>
        </tr>
        <tr>
          <td>United Kingdom</td>
          <td>10.081</td>
        </tr>
        <tr>
          <td>United States of America</td>
          <td>9.970</td>
        </tr>
        <tr>
          <td>Russian Federation</td>
          <td>9.050</td>
        </tr>
        <tr>
          <td>Canada</td>
          <td>6.037</td>
        </tr>
        <tr>
          <td>Spain</td>
          <td>4.431</td>
        </tr>
        <tr>
          <td>Netherlands</td>
          <td>4.209</td>
        </tr>
        <tr>
          <td>Belgium</td>
          <td>3.933</td>
        </tr>
        <tr>
          <td>Sweden</td>
          <td>3.933</td>
        </tr>
        <tr>
          <td>Norway</td>
          <td>2.492</td>
        </tr>
        <tr>
          <td>Denmark</td>
          <td>2.271</td>
        </tr>
        <tr>
          <td>Finland</td>
          <td>2.271</td>
        </tr>
        <tr>
          <td>Poland</td>
          <td>1.551</td>
        </tr>
        <tr>
          <td>Turkey</td>
          <td>1.108</td>
        </tr>
        <tr>
          <td>Ukraine</td>
          <td>0.970</td>
        </tr>
        <tr>
          <td>Greece</td>
          <td>0.942</td>
        </tr>
        <tr>
          <td>Portugal</td>
          <td>0.942</td>
        </tr>
        <tr>
          <td>Hungary</td>
          <td>0.775</td>
        </tr>
        <tr>
          <td>Romania</td>
          <td>0.775</td>
        </tr>
        <tr>
          <td>Czech Republic</td>
          <td>0.742</td>
        </tr>
        <tr>
          <td>Bulgaria</td>
          <td>0.609</td>
        </tr>
        <tr>
          <td>Luxembourg</td>
          <td>0.609</td>
        </tr>
        <tr>
          <td>Belarus</td>
          <td>0.520</td>
        </tr>
        <tr>
          <td>Slovakia</td>
          <td>0.366</td>
        </tr>
        <tr>
          <td>Bosnia and Herzegovina</td>
          <td>0.210</td>
        </tr>
        <tr>
          <td>Croatia</td>
          <td>0.210</td>
        </tr>
        <tr>
          <td>Iceland</td>
          <td>0.210</td>
        </tr>
        <tr>
          <td>Latvia</td>
          <td>0.210</td>
        </tr>
        <tr>
          <td>Slovenia</td>
          <td>0.210</td>
        </tr>
        <tr>
          <td>Georgia</td>
          <td><u>0.120</u></td>
        </tr>
        <tr>
          <td>Total</td>
          <td>100.000</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 13 December 2004, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
