<!-- DECISION 1/04 -->
<div id="decision_1_4"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right"> OSCC.DEC/1/04
      <br/>16 February 2004
      <br/>OSCC++
      <br/>Original:ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>2nd Meeting of the 33rd Session</strong> <br>OSCC(33) Journal No. 98, Agenda item 7(a)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 1/04 <br>THE ALLOCATION OF A PASSIVE QUOTA TO <br>BOSNIA AND HERZEGOVINA </strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The Open Skies Consultative Commission (OSCC),</p>
      <p>In accordance with the provisions of the Treaty on Open Skies and, notably, Article III, Section I, paragraph 2, Article X, paragraph 4 (D), Article XVII, paragraph 4 and the contents of Annex A, Section I to the Treaty, with the procedures outlined in Section 3 of OSCC Decision No. 8/02/Rev.1,</p>
      <p>Decides:</p>
        <div class="col-sm-12">
          <p>&mdash; To allocate a passive quota of four to Bosnia and Herzegovina. This decision shall take effect immediately.</p>
        </div>
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 16 February 2004, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
