<!-- DECISION 1/09 -->
<div id="decision_1_9"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/1/09
      <br>23 February 2009
      <br>OSCC++
      <br>Original:ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong>
      <br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>2nd  Meeting of the 48th Session</strong> <br>OSCC(48) Journal No. 151, Agenda item 4</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 1/09 <br>PROLONGING THE WORK OF THE INFORMAL WORKING GROUP ON SENSORS INTO THE YEAR 2009</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Guided  by the previous OSCC Decisions on the Informal Working Groups of the Open Skies  Consultative Commission (OSCC.XXVI.JOUR/72, Annex 2 of  29 October 2001), Decision No. 1/05 of 31 January 2005, Decision No.  14/05 of 12 December 2005, Decision No. 1/07 of 29 January 2007, and  Decision No. 1/08 of 21 January 2008,</p>
      <p>The  Open Skies Consultative Commission agrees to prolong the work of the Informal  Working Group on Sensors (IWGS) in 2009, and requests that it work  expeditiously on the following issues:</p>
        <div class="col-sm-12">
          <p>&mdash; Revision One to Decision Number  Fourteen: the current draft is being written to integrate modern commercial  off-the-shelf (COTS) digital aerial cameras into the Treaty on Open Skies. The  OSCC Chairman's statement on the "specifications for allowed video sensors" was  drawn from this draft and will be incorporated into the final Decision  (OSCC.DEL/19/08/Rev.1);</p>
          <p>&mdash; Revision  Two to Decision Number Seventeen; and</p>
          <p>&mdash; the  draft Decision for Digital Image Processing.</p>
        </div>
      <p>The  OSCC undertakes to keep progress in the IWGS under review and welcomes  continued reporting by the Chair of the IWGS regarding operations of the Group.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Decided  in Vienna, in  the Open Skies Consultative Commission, on 23 February 2009, in each  of the six languages specified in Article XIX of the Treaty on Open Skies, all  texts being equally authentic.</p>
    </div>
  </div>

<hr>
