<!-- DECISION 9/09 -->
<div id="decision_9_9"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a>
      <br/><a href="#9/09app">Appendix</a>
      <br/><a href="#Annex9-09A">Annex A</a>
      <br/><a href="#Annex9-09B">Annex B</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/9/09
      <br/>14 December 2009
      <br/>OSCC++
      <br/>Original:ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>4th Meeting of the 50th Session</strong> <br>OSCC(50) Journal No. 160, Agenda item 3 </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 9/09 <br/>CONTINUING THE APPLICATION OF THE CURRENT OSCC SCALE <br/>OF DISTRIBUTION</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The Open Skies Consultative Commission (OSCC),</p>
      <p>Pursuant to the provisions of Article X, paragraph 4 (D), and of Annex L, Section I, paragraph 9, of the Treaty on Open Skies,</p>
      <p>In accordance with the provisions of, and Annexes to, Decision Number Ten to the Treaty on Open Skies of 16 July 1993 (OSCC/III/Dec.10), contained in the Appendix to this decision,</p>
      <p>Pursuant to the provision contained in paragraph 1 of OSCC Decision No. 21/02 of 9 September 2002 (OSCC.DEC/21/02) that "the scale of distribution of the Open Skies Consultative Commission shall be revised to reflect any revisions of the Standard Scale of Contributions" (replacing the OSCE's "Helsinki scale"),</p>
      <p>Recalling OSCE Permanent Council Decision No. 850 of 15 May 2008 on the scales of contributions for 2008 and 2009 (PC.DEC/850),</p>
      <p>Mindful of the discussion currently taking place on the OSCE scales of contributions for 2010-2012,</p>
        <div class="col-sm-12">
          <p>1. Decides to continue to distribute OSCC costs in accordance with the OSCC scale of distribution, as contained in OSCC.DEC/4/08;</p>
          <p>2. Agrees to postpone its deliberations on the OSCC scale of distribution for 2010-2012 until the OSCE Permanent Council adopts its decision on the OSCE scales of contributions for 2010-2012.</p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 14 December 2009 in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
<br/>
<!--9/09 Appendix-->

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a name="9/09app" href="#to9/09"> Back to Decisions List </a></p>
      <p align="left"><a href="#9/09"> Back to Decision 9/09 </a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/9/09
      <br/>14 December 2009
      <br/> Appendix</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>Provisions of OSCC/III/Dec.10:</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>"1. The scale of distribution for the common expenses associated with the operation of the Open Skies Consultative Commission (hereafter referred to as the "scale of distribution of the Open Skies Consultative Commission") is based on the scale of distribution adopted in Helsinki on 10 July 1992, by the participating States to the CSCE (hereafter referred to as the "Helsinki scale"). The special regime established by this Decision takes into account present economic conditions and is limited in scope and in time. It does not constitute a precedent for any other CSCE or CSCE related body.</p>
      <p>2. Taking into account the fact that not all participating States to the CSCE are Parties to the Treaty, States Parties have to make an additional contribution to their contribution to the "Helsinki scale", in order to cover the existing shortfall.</p>
        <div class="col-sm-12">
          <p>(A) As a rule, this additional contribution will be proportional to the "Helsinki scale". Nevertheless, any State Party may provide a higher additional contribution.</p>
          <p>(B) However, taking into account their present economic situation, those countries listed in Annex A to this Decision will be exempted from the proportional contribution mentioned in subparagraph (A) and will only make an ad hoc additional contribution, agreed by the States Parties.</p>
          <p>(C) The special regime established in subparagraph (B) will last as long as the economic situation of the countries listed in Annex A to this Decision so requires. The special regime will thus be subject to review every year.</p>
        </div>
      <p>3. As long as only participating States to the CSCE are Parties to the Treaty, and provided that there remains a shortfall to be covered, the financial contribution to the scale of distribution of the Open Skies Consultative Commission of any State Party will have to be superior to its contribution to the "Helsinki scale"."</p>
    </div>
  </div>

<hr>
<br/>
<!--9/09 Annex A -->

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a name="Annex9-09A" href="#9/09"> Back to Decision 9/09 </a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>Annex A to OSCC/III/Dec.10:</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>"List of countries to which the special regime established in paragraph 2, subparagraph (B) of the Decision on the scale of distribution of the Open Skies Consultative Commission may apply:</p>
        <div class="col-sm-11 col-sm-offset-1">
          <p>Armenia</p>
          <p>Azerbaijan</p>
          <p>Belarus</p>
          <p>Georgia</p>
          <p>Kazakhstan</p>
          <p>Kyrgyzstan</p>
          <p>Moldova</p>
          <p>Russian Federation</p>
          <p>Tajikistan</p>
          <p>Turkmenistan</p>
          <p>Ukraine</p>
          <p>Uzbekistan"</p>
        </div>
    </div>
  </div>

<hr>
<br/>
<!--9/09 Annex B -->

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a name="Annex9-09B" href="#9/09">Back to Decision 9/09</a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>Annex B to OSCC/III/Dec.10:</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>"1. The financial contribution to the scale of distribution of the OSCC of each State Party to the Treaty, except those which benefit from the special regime established in paragraph 2, subparagraph (B) of the above-mentioned Decision, those that provide higher additional contributions and those which are not participating States to the CSCE, is calculated as follows (in percentages):</p>
        <div class="col-sm-12">
          <p>OS<sub>i</sub> = K x H<sub>i</sub></p>
          <p style="clear:both;">where:</p>
            <div class="col-sm-12">
              <p>i = State Party to which the present paragraph applies</p>
              <p>OS<sub>i</sub> = financial contribution of State Party i</p>
              <p>H<sub>i</sub> = contribution to the "Helsinki scale" of State Party i</p>
              <p>K = correction coefficient</p>
            </div>
        </div>
      <p>2. The financial contribution to the scale of distribution of the OSCC of a State Party that provides a higher additional contribution is calculated as follows (in percentages):</p>
        <div class="col-sm-12">
          <p>OS<sub>m</sub> = H<sub>m</sub> + E<sub>m</sub></p>
          <p>where:</p>
            <div class="col-sm-12">
              <p>m = State Party to which the present paragraph applies</p>
              <p>OS<sub>m</sub> = financial contribution of State Party m</p>
              <p>H<sub>m</sub> = contribution to the "Helsinki scale" of State Party m</p>
              <p>E<sub>m</sub> = additional contribution of State Party m</p>
            </div>
        </div>
      <p>3. The financial contribution to the scale of distribution of the OSCC of a State Party to which the special regime established in paragraph 2, subparagraph (B) of the above-mentioned Decision applies is calculated as follows (in percentages):</p>
        <div class="col-sm-12">
          <p>OS<sub>j</sub> = H<sub>j</sub> + A<sub>j</sub></p>
          <p>where:</p>
            <div class="col-sm-12">
              <p>j = State Party to which the present paragraph applies</p>
              <p>OS<sub>j</sub> = financial contribution of State Party j</p>
              <p>H<sub>j</sub> = contribution to the "Helsinki scale" of State Party j</p>
              <p>A<sub>j</sub> = ad hoc additional contribution of State Party j</p>
            </div>
        </div>
      <p>4. Coefficient K is determined from the formula:</p>
        <div class="col-sm-12">
          <p>(K x <span style='font-size:18.0pt;'>S</span> H<sub>i</sub> ) + <span style='font-size:18.0pt;'>S</span> OS<sub>m</sub> + <span style='font-size:18.0pt;'>S</span> OS<sub>j</sub> = 100%</p>
          <table>
          <tr>
          <td width=76 valign=top style='width:56.7pt;padding:0in 5.4pt 0in 5.4pt;height:27.5pt'>
          <p><i>or</i>: K =</p>
          </td>
          <td width=180 valign=top style='width:134.65pt;padding:0in 5.4pt 0in 5.4pt;height:27.5pt'>
          <p>100% <span style='font-size:18.0pt;'>S</span>OS<sub>m</sub>  - <span style='font-size:18.0pt;'>S</span>OS<sub>j</p>
          <p><b><span style='font-size:6.0pt;mso-bidi-font-size:10.0pt'>_______________________________________________</span></b></p>
          <p align=center><span style='font-size:18.0pt;'>S</span>H<sub>i</sub></p>
          </td>
          </tr>
          </table>
          <p>where:</p>
            <div class="col-sm-12">
              <p>S</span>H<sub>i</sub> = sum of contributions to "Helsinki scale" of States Parties i - see paragraph 1 above.</p>
              <p><span style='font-size:18.0pt;'>S</span>OS<sub>m</sub> = sum of contributions to the scale of distribution of the OSCC of States Parties m - see paragraph 2 above.</p>
              <p><span style='font-size:18.0pt;'>S</span>OS<sub>j</sub> = sum of contributions to the scale of distribution of the OSCC of States Parties j - see paragraph 3 above."</p>
            </div>
        </div>
    </div>
  </div>

<hr>
