<!-- DECISION FOUR -->
<div id="decision_4"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top"> Back to Decisions List </a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC/I/Dec.4<br/>29 June 1992 </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p align="center"><strong>DECISION FOUR <br/>TO THE TREATY ON OPEN SKIES <br/>MINIMUM CAMERA SPECIFICATION FOR AN OBSERVATION AIRCRAFT OF<br/> AN OBSERVED PARTY EXERCISING ITS RIGHT TO PROVIDE AN<br/> OBSERVATION AIRCRAFT FOR AN OBSERVATION FLIGHT</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-left">
      <p>The States Parties to the Treaty on Open Skies have agreed as follows: </P>
      <p>Unless otherwise agreed, in the event that an observed Party exercises its right to provide the observation aircraft for an observation flight, with respect to optical cameras, the observed Party shall provide for such an observation flight an observation aircraft with the following specifications: </P>
        <div class="col-sm-11 col-sm-offset-1">
          <p>(A) The observation aircraft shall be equipped with a panoramic camera certified in accordance with the methodology set out in Decision Number Three as capable of achieving a ground resolution of 30 centimetres at a minimum height above ground level of no less than 8,000 metres and with a field of view of no less than 93 degrees; and</p>
          <p>(B) The observation aircraft shall be equipped with a suite of three framing cameras certified in accordance with the methodology set out in Decision Number Three as capable of achieving a ground resolution of 30 centimetres in the range of 1,000 to 2,600 metres height above ground level and with an aggregate field of view of no less than 70 degrees. </P>
        </div>
      <p>Observed Parties exercising their right to provide an observation aircraft for an observation flight shall provide observation aircraft meeting the above requirements no later than 1 January of the fourth year following the year in which the Treaty enters into force. </P>
      <p>States Parties shall have the right to agree in the future on changes to this Decision. </P>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p> * * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-left">
      <p>This Decision shall enter into force simultaneously with the Treaty on Open Skies and shall have the same duration as the Treaty.</P>
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 29 June 1992, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic. </P>
    </div>
  </div>


<hr />
