<!-- DECISION 5/11 -->
<div id="decision_5_11"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/5/11
      <br>24 October 2011
      <br>OSCC+
      <br>Original:ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>2nd Meeting of the 56th Session</strong> <br>OSCC(56) Journal No. 184, Agenda item 4(d)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 5/11 <br/>NEW VERSION OF THE OPEN SKIES FORMAT 38 ON INSPECTION OF SENSOR APERTURE COVERS/INHIBITING DEVICES</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <P>The Open Skies Consultative Commission pursuant to the provisions of the Treaty on Open Skies, has decided to adopt the new version of the Open Skies Format 38 on inspection of sensor aperture covers/inhibiting devices, as attached to this decision.</P>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>

<hr>
<br/>

  <div class="row">
    <div class="col-sm-12">
      <P>Decided in Vienna, in the Open Skies Consultative Commission, on 24 October 2011, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>OS FORMAT 38</p>
      <p>PRECEDENCE: ROUTINE</p>
      <p>FROM: (INSPECTING STATE PARTY)</p>
      <p>TO:
      <p>ALL STATES PARTIES INFO:</p>
      <p>SUBJECT: INSPECTION OF SENSOR APERTURE COVERS/INHIBITING DEVICES</p>
        <div class="col-sm-12">
          <p>1. OS MESSAGE NUMBER:</p>
          <p>2. OS MESSAGE DATE AND TIME:</p>
          <p>3. TREATY REFERENCE: ARTICLE VII, PARAGRAPH 3</p>
          <p>4. MESSAGE REFERENCE: (APPROPRIATE OS FORMATS 12 AND 16)</p>
          <p>5. CONTENT: (OBSERVATION AIRCRAFT TEAM TO PROVIDE COPY OF THIS MESSAGE AND OBTAIN A SIGNATURE(S) OF THE PERSON(S) CONDUCTING THE INSPECTION)</p>
            <div class="col-sm-12">
              <P>A. OBSERVATION FLIGHT REFERENCE NUMBER:</p>
              <p>B. MISSION CALL-SIGN:</p>
              <p>C. AIRCRAFT TYPE AND MODEL:</p>
              <p>D. AIRCRAFT REGISTRATION NUMBER:</p>
              <p>E. PLACE OF INSPECTION:</p>
              <p>F. INSPECTION ON ARRIVAL</p>
                <div class="col-sm-12">
                  <p>(1) DATE AND TIME OF ARRIVAL:</p>
                  <p>(2) DATE AND TIME OF INSPECTION ON ARRIVAL:</p>
                  <p>(3) INSPECTION RESULTS</p>
                    <div class="col-sm-12">
                      <p>(a) APERTURE COVERS FOR OBSERVATION EQUIPMENT OR OTHER DEVICES THAT INHIBIT THE OPERATION OF OBSERVATION EQUIPMENT WERE PROPERLY INSTALLED: (YES/NO)</p>
                      <p>(b) REMARKS:</p>
                      <p>(c) NAME OF PERSON(S) CONDUCTING INSPECTION:</p>
                    </div>
                </div>
              <p>G. INSPECTION ON DEPARTURE</p>
                <div class="col-sm-12">
                  <p>(1) DATE AND TIME OF INSPECTION PRIOR TO DEPARTURE:</p>
                  <p>(2) DATE AND TIME OF DEPARTURE:</p>
                  <p>(3) INSPECTION RESULTS</p>
                    <div class="col-sm-12">
                      <p>(a) APERTURE COVERS FOR OBSERVATION EQUIPMENT OR OTHER DEVICES THAT INHIBIT THE OPERATION OF OBSERVATION EQUIPMENT WERE PROPERLY INSTALLED: (YES/NO)</p>
                      <p>(b) REMARKS:</p>
                      <p>(c) NAME OF PERSON(S) CONDUCTING INSPECTION:</p>
                    </div>
                </div>
            </div>
          <p>6. REMARKS:</p>
          <p>7. END OF OS MESSAGE NUMBER:</p>
        </div>
    </div>
  </div>

<hr>
