<!-- DECISION 4/11 -->
<div id="decision_4_11"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/4/11
      <br>24 October 2011
      <br>OSCC+
      <br>Original:ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>2nd Meeting of the 56th Session</strong> <br>OSCC(56) Journal No. 184, Agenda item 4(c)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 4/11 <br/>NEW VERSION OF THE OPEN SKIES FORMAT 17 ON REQUEST FOR COPIES (DUPLICATES) OF DATA COLLECTED BY SENSORS DURING AN OBSERVATION FLIGHT</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The Open Skies Consultative Commission pursuant to the provisions of the Treaty on Open Skies, has decided to adopt the new version of the Open Skies Format 17 on request for copies (duplicates) of data collected by sensors during an observation flight, as attached to this decision.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>

<hr>
<br/>

  <div class="row">
    <div class="col-sm-12">
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 24 October 2011, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <P>OS FORMAT 17</p>
      <p>PRECEDENCE:</p>
      <p>FROM:</p>
      <p>TO: (IF FLIGHT WAS A JOINT FLIGHT BE SURE TO REQUEST FROM THAT STATE PARTY RESPONSIBLE FOR DUPLICATING THE SENSOR OUTPUT)</p>
      <p>INFO:</p>
      <p>SUBJECT: REQUEST FOR COPIES (DUPLICATES) OF DATA COLLECTED BY SENSORS DURING AN OBSERVATION FLIGHT</p>
      <p>1. OS MESSAGE NUMBER:</p>
      <p>2. OS MESSAGE DATE AND TIME:</p>
      <p>3. TREATY REFERENCE: ARTICLE IX, SECTION IV</p>
      <p>4. MESSAGE REFERENCE:</p>
      <p>5. CONTENT</p>
        <div class="col-sm-12">
          <p>A. OBSERVING PARTY INFORMATION</p>
            <div class="col-sm-12">
              <p>(1) OBSERVING PARTY / OBSERVATION FLIGHT REFERENCE NUMBER:</p>
              <p>(2) ETC., FOR EACH OBSERVING PARTY</p>
            </div>
          <p>B. OBSERVED PARTY:</p>
          <p>C. DATE OF OBSERVATION FLIGHT:</p>
          <p>D. THE FOLLOWING DATA IS REQUESTED:</p>
            <div class="col-sm-12">
              <p>(1) SENSOR USED: (SENSOR CONFIGURATION NUMBER)</p>
                <div class="col-sm-12">
                  <p>(a) TYPE AND FORMAT OF DUPLICATE FILM OR RECORDING MEDIA: (SPECIFY SEGMENT NUMBER, LEG AND OBSERVATION PERIOD AS DEFINED IN OS FORMAT 14)</p>
                  <p>START/END</p>
                  <p>START/END</p>
                  <p>SEG</p>
                  <p>LEG</p>
                  <p>OP CO-ORDINATES</p>
                  <p>DATE/TIME</p>
                </div>
              <p>(2) ETC., FOR EACH SENSOR USED</p>
            </div>
        </div>
      <p>6. REMARKS:</p>
      <p>7. END OF OS MESSAGE NUMBER:</p>
    </div>
  </div>

<hr>
