<!-- DECISION 3/11 -->
<div id="decision_3_11"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/3/11
      <br>24 October 2011
      <br> OSCC+
      <br>Original:ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>2nd Meeting of the 56th Session</strong> <br>OSCC(56) Journal No. 184, Agenda item 4(b)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 3/11 <br/>PROLONGING THE METHODOLOGY FOR DETERMINING THE MINIMUM HEIGHT ABOVE GROUND LEVEL <br>AT WHICH EACH SENSOR CONFIGURATION WHOSE RESOLUTION DEPENDS UPON HEIGHT ABOVE GROUND LEVEL MAY BE OPERATED DURING AN OBSERVATION FLIGHT</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Understanding that OSCC Decision No. 5/07 has worked well with sensor categories containing the optical panoramic and framing cameras and that this Decision is scheduled to expire in December 2011,</p>
      <p>The Open Skies Consultative Commission (OSCC) decides to prolong the applicability of OSCC Decision No. 5/07, for a period of 3 years, with a new expiration date of 31 December 2014.</p>
      <p>The States Parties shall, within the OSCC and during the period OSCC Decision No. 5/07 is in force, conclude a follow-on agreement on the methodology for establishing Hmin based on the experience of completed certifications and demonstration flights.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 24 October 2011 in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
