<!-- DECISION 7/11 -->
<div id="decision_7_11"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/7/11
      <br>24 October 2011
      <br>OSCC+
      <br>Original:ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>2nd Meeting of the 56th Session</strong><br> OSCC(56) Journal No. 184, Agenda item 6(a) </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 7/11 <br/> DISTRIBUTION OF ACTIVE QUOTAS FOR OBSERVATION FLIGHTS IN THE YEAR 2012</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <P>In accordance with Article III, Section I, paragraphs 5, 7 and 10; Annex A, Section II, paragraph 2; and Annex L, Section II, of the Treaty on Open Skies and OSCC Decision No. 12/04, the Open Skies Consultative Commission has decided on the following distribution of active quotas for observation flights for the year 2012:</p>
        <div class="col-sm-12">
          <P>- <strong>The Federal Republic of Germany</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>- Six (6) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one (1) shared with the French Republic, one (1) shared with the United States of America, one (1) shared with the Hellenic Republic and the Italian Republic, one (1) shared with Romania, and one (1) shared with the Republic of Latvia,</p>
              <p>- Two (2) observation flights over the territory of Ukraine, of which one (1) shared with the French Republic, and one (1) shared with Romania,</p>
              <p>- One (1) observation flight over the territory of Georgia, shared with the Republic of Turkey, and</p>
              <p>- One (1) observation flight over the territory of Bosnia and Herzegovina, shared with the Republic of Hungary, the French Republic and the Republic of Croatia;</p>
            </div>
          <p>- <strong>The United States of America</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>- Sixteen (16) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one (1) shared with the Czech Republic, one (1) shared with the Federal Republic of Germany, one (1) shared with the Italian Republic, one (1) shared with Romania, one (1) shared with the United Kingdom of Great Britain and Northern Ireland, one (1) shared with the Republic of Turkey, one (1) shared with the French Republic, one (1) shared with the Kingdom of Norway, and one (1) shared with the Kingdom of Sweden,</p>
              <p>- One (1) observation flight over the territory of Ukraine, shared with Canada, and</p>
              <p>- One (1) observation flight over the territory of Georgia;</p>
            </div>
          <p>- <strong>The Republic of Belarus and the Russian Federation group of States Parties</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>- Eight (8) observation flights over the territory of the United States of America,</p>
              <p>- Three (3) observation flights over the territory of the United Kingdom of Great Britain and Northern Ireland,</p>
              <p>- Two (2) observation flights over the territory of the Kingdom of Denmark,</p>
              <p>- Two (2) observation flights over the territory of the French Republic,</p>
              <p>- Two (2) observation flights over the territory of the Federal Republic of Germany,</p>
              <p>- Two (2) observation flights over the territory of the Italian Republic,</p>
              <p>- Two (2) observation flights over the territory of the Republic of Poland,</p>
              <p>- Two (2) observation flights over the Republic of Turkey,</p>
              <p>- One (1) observation flight over the territory of the Benelux group of States Parties,</p>
              <p>- One (1) observation flight over the territory of the Republic of Bulgaria,</p>
              <p>- One (1) observation flight over the territory of Canada,</p>
              <p>- One (1) observation flight over the territory of the Republic of Croatia,</p>
              <p>- One (1) observation flight over the territory of the Kingdom of Spain,</p>
              <p>- One (1) observation flight over the territory of the Republic of Estonia,</p>
              <p>- One (1) observation flight over the territory of the Republic of Finland,</p>
              <p>- One (1) observation flight over the territory of Georgia, shared with the United Kingdom of Great Britain and Northern Ireland,</p>
              <p>- One (1) observation flight over the territory of the Hellenic Republic,</p>
              <p>- One (1) observation flight over the territory of the Republic of Hungary,</p>
              <p>- One (1) observation flight over the territory of the Republic of Latvia,</p>
              <p>- One (1) observation flight over the territory of the Republic of Lithuania,</p>
              <p>- One (1) observation flight over the territory of the Kingdom of Norway,</p>
              <p>- One (1) observation flight over the territory of the Portuguese Republic,</p>
              <p>- One (1) observation flight over the territory of Romania,</p>
              <p>- One (1) observation flight over the territory of the Slovak Republic,</p>
              <p>- One (1) observation flight over the territory of the Republic of Slovenia,</p>
              <p>- One (1) observation flight over the territory of the Kingdom of Sweden, and</p>
              <p>- One (1) observation flight over the territory of the Czech Republic;</p>
            </div>
          <p>- <strong>The Kingdom of Belgium, the Grand Duchy of Luxembourg and the Kingdom of the Netherlands, referred to as Benelux group of States Parties</strong>, shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>- One (1) observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties;</p>
            </div>
          <p>- <strong>Bosnia and Herzegovina</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>- One (1) observation flight over the territory of Ukraine, shared with the Republic of Turkey;</p>
            </div>
          <p>- <strong>The Republic of Bulgaria</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>- One (1) observation flight over the territory of Ukraine;
            </div>
          <p>- <strong>Canada</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>- Four (4) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one (1) shared with the Republic of Hungary,</p>
              <p>- One (1) observation flight over the territory of Bosnia and Herzegovina, shared with the Republic of Turkey,</p>
              <p>- One (1) observation flight over the territory of Georgia, shared with the French Republic and the Italian Republic, and</p>
              <p>- One (1) observation flight over the territory of Ukraine, shared with the United States of America;</p>
            </div>
          <p>- <strong>The Republic of Croatia</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>- One (1) observation flight over the territory of Bosnia and Herzegovina, shared with the Republic of Hungary, the French Republic and the Federal Republic of Germany, and</p>
              <p>- One (1) observation flight over the territory of Ukraine, shared with Romania;</p>
            </div>
          <p>- <strong>The Kingdom of Denmark</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>- One (1) observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties;</p>
            </div>
          <p>- <strong>The Kingdom of Spain</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>- One (1) observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties, and</p>
              <p>- One (1) observation flight over the territory of Ukraine, shared with the Czech Republic;</p>
            </div>
          <p>- <strong>The Republic of Finland</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>- Two (2) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one (1) shared with the Kingdom of Norway, and one (1) shared with the Kingdom of Sweden;</p>
            </div>
          <p>- <strong>The French Republic</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>- Three (3) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one (1) shared with the Federal Republic of Germany, and one (1) shared with the United States of America,</p>
              <p>- Two (2) observation flights over the territory of Ukraine, of which one (1) shared with the Federal Republic of Germany,</p>
              <p>- One (1) observation flight over the territory of Bosnia and Herzegovina, shared with the Republic of Hungary, the Republic of Croatia and the Federal Republic of Germany, and</p>
              <p>- One (1) observation flight over the territory of Georgia, shared with the Italian Republic and Canada;</p>
              <p>- The United Kingdom of Great Britain and Northern Ireland shall have the right to conduct:</p>
              <p>- Four (4) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one (1) shared with the United States of America, and one (1) shared with Romania, and</p>
              <p>- One (1) observation flight over the territory of Georgia, shared with the Republic of Belarus and the Russian Federation group of States Parties;</p>
            </div>
          <p>- <strong>The Hellenic Republic</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>- One (1) observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties, shared with the Federal Republic of Germany and the Italian Republic;</p>
            </div>
          <p>- <strong>The Republic of Hungary</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>- One (1) observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties, shared with Canada,</p>
              <p>- One (1) observation flight over the territory of Bosnia and Herzegovina, shared with the Federal Republic of Germany, the Republic of Croatia and the French Republic, and</p>
              <p>- One (1) observation flight over the territory of Ukraine;</p>
            </div>
          <p>- <strong>The Italian Republic</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>- Three (3) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one (1) shared with the United States of America, and one (1) shared with the Federal Republic of Germany and the Hellenic Republic,</p>
              <p>- One (1) observation flight over the territory of Bosnia and Herzegovina, and<br>
              <p>- One (1) observation flight the territory of Georgia, shared with Canada and the French Republic;</p>
            </div>
          <p>- <strong>The Republic of Latvia</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>- One (1) observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties, shared with the Federal Republic of Germany;</p>
            </div>
          <p>- <strong>The Kingdom of Norway</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>- Four (4) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one (1) shared with the United States of America, one (1) shared with the Republic of Finland, and one (1) shared with the Republic of Turkey;</p>
            </div>
          <p>- <strong>The Republic of Poland</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>- Two (2) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, and</p>
              <p>- One (1) observation flight over the territory of Ukraine, shared with the Slovak Republic;</p>
            </div>
          <p>- <strong>Romania</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>- Three (3) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one (1) shared with the United States of America, one (1) shared with the Federal Republic of Germany, and one (1) shared with the United Kingdom of Great Britain and Northern Ireland, and</p>
              <p>- Two (2) observation flight over the territory of Ukraine, of which one (1) shared with the Federal Republic of Germany, and one (1) shared with the Republic of Croatia;</p>
            </div>
          <p>- <strong>The Slovak Republic</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>- One (1) observation flight over the territory of Ukraine, shared with the Republic of Poland;</p>
            </div>
          <p>- <strong>The Kingdom of Sweden</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>- Two (2) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one (1) shared with the United States of America, and one (1) shared with the Republic of Finland,</p>
              <p>- One (1) observation flight over the territory of the Hellenic Republic,</p>
              <p>- One (1) observation flight over the territory of the United Kingdom of Great Britain and Northern Ireland, and</p>
              <p>- One (1) observation flight over the territory of Ukraine;</p>
            </div>
          <p>- <strong>The Czech Republic</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>- One (1) observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties, shared with the United States of America, and</p>
              <p>- One (1) observation flight over the territory of Ukraine, shared with the Kingdom of Spain;</p>
            </div>
          <p>- <strong>The Republic of Turkey</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>- Four (4) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one (1) shared with the United States of America, and one (1) shared with the Kingdom of Norway,
              <p>- Two (2) observation flights over the territory of Ukraine, of which one (1) shared with Bosnia and Herzegovina,
              <p>- One (1) observation flight over the territory of Bosnia and Herzegovina, shared with Canada, and
              <p>- One (1) observation flight over the territory of Georgia, shared with the Federal Republic of Germany;
            </div>
          <p>- <strong>Ukraine</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>- One (1) observation flight over the territory of Bosnia and Herzegovina,</p>
              <p>- One (1) observation flight over the territory of the Republic of Bulgaria,</p>
              <p>- One (1) observation flight over the territory of the Republic of Croatia,</p>
              <p>- One (1) observation flight over the territory of the Kingdom of Denmark,</p>
              <p>- One (1) observation flight over the territory of the Federal Republic of Germany,</p>
              <p>- One (1) observation flight over the territory of the Republic of Hungary,</p>
              <p>- One (1) observation flight over the territory of the Republic of Poland,</p>
              <p>- One (1) observation flight over the territory of the Portuguese Republic,</p>
              <p>- One (1) observation flight over the territory of Romania,</p>
              <p>- One (1) observation flight over the territory of the Slovak Republic,</p>
              <p>- One (1) observation flight over the territory of the Kingdom of Sweden, and</p>
              <p>- One (1) observation flight over the territory of the Republic Turkey.</p>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <P>This decision takes effect on the date of its adoption and will be issued in each of the six languages specified in the Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
<br/>

  <div class="row">
    <div class="col-sm-2 col-sm-offset-10">
      <p align="right">
      OSCC.DEC/7/11<br/>
      24 October 2011<br/>
      Attachment<br/>
      OSCC+<br/>
      Original: ENGLISH<br/></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>INTERPRETATIVE STATEMENT UNDER PARAGRAPH 3, SECTION V, <br/>OF THE RULES OF PROCEDURE AND WORKING METHODS OF THE OPEN SKIES CONSULTATIVE COMMISSION</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <P>By the delegation of Georgia:</p>
        <div class="col-sm-11 col-sm-offset-1">
          <P>"Georgia wishes to reaffirm its commitment to the Open Skies Treaty and is joining consensus on the Decision pertaining to the annual distribution of active quotas so that the States Parties can continue implementation of the Treaty in 2012.</p>
          <P>With respect to the distribution of active quotas, Georgia has decided not to request an observation flight over the territory of the Russian Federation in 2012 on account of ongoing concerns with the compliance issue raised by Romania and the United States in May 2010 in connection with their flight near the internationally recognized border of Georgia with the Russian Federation.</p>
          <P>Georgia does not accept Russia's interpretation of the Treaty 'with respect to flights within 10 kilometres of a non-State Party' as applied to the Abkhaz segment of the Georgian-Russian State border during that observation mission. Russia's disregard to the obligations deriving from the Treaty cannot continue indefinitely. Georgia reserves the right to take all necessary legitimate measures in the future, to adequately respond to Russia's behaviour.</p>
          <P>Georgia urges all States Parties to the Treaty that future observation flights be conducted in accordance with the Treaty and with respect for Georgia's territorial integrity within its internationally recognized borders.</p>
          <P>Georgia wishes to reserve the right to propose revisions to the said Decision in the future, with the approval of the Commission, if circumstances warrant.</p>
        </div>
      <P>Thank you."</p>
    </div>
  </div>

<hr>
