<!-- DECISION SIXTEEN -->
<div id="decision_16"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top"> Back to Decisions List </a><br/>
      <a href="#Annex16A">Annex A</a><br/>
      <a href="#Annex16B">Annex B</a><br/>
      <a href="#Annex16C">Annex C</a><br/>
      <a href="#16Appendix">Appendix</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC/VI/Dec.16<br/>12 October 1994 </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION SIXTEEN <br/>TO THE TREATY ON OPEN SKIES <br/>CALIBRATION OF GROUND PROCESSING EQUIPMENT, USED FOR THE <br/>DETERMINATION OF H<SUB>MIN</SUB> FROM VIDEO CAMERAS OR INFRARED LINE- <br/>SCANNING DEVICES AND FOR CALIBRATING GROUND-BASED TAPE<BR>REPRODUCERS USED TO REPLAY DATA FROM SAR SENSORS</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The Open Skies Consultative Commission pursuant to the provisions of Decision&nbsp;14 and Decision 15 to the Treaty on Open Skies (hereinafter referred to as Decision 14 and Decision 15) has decided as follows:</P>
      <p>This calibration procedure shall be followed to calibrate the ground equipment used to process and analyse data collected as a part of certification or demonstration flights.  The calibration shall be done prior to these analyses.</P>
      <p>Annex A of this Decision provides a description of the Test Patterns to be used in calibration.  Annex B of this Decision provides a description of the tests to be performed when an analogue framing video camera is to be certified using a ground video reproducer that is a different model from the airborne video recorder.  Annex&nbsp;C of this Decision provides a description of computer-assisted techniques which may be used pursuant to Decisions&nbsp;14 and&nbsp;15.  These Annexes constitute an integral part of this Decision.</P>
      <p><strong>SECTION I. DEFINITION OF TERMS</strong></p>
        <div class="col-sm-12">
          <p>The following definitions shall apply to terms used in this Decision.</P>
          <p>The term "line imaging device" means a device containing one line of detector elements for each wavelength band to be recorded.   </P>
          <p>The term "frame imaging device" means a device containing either an electronic imaging tube or an array of detector elements for each wavelength band recorded which simultaneously form multiple lines of the image to be recorded.</P>
          <p>The term "video camera" means a passive black and white or colour, line or frame imaging device, including the conversion of the image into electrical signals operating at optical wavelengths between 0.3 and 1.1 micrometres.</P>
          <p>The term "image element" means the digitized signal representing the detected energy of a scene element within each wavelength band to which a video camera is sensitive which is stored in a frame store.</P>
          <p>The term "scene element" means, in the case of a black and white video camera, the area on the ground that is projected on to a single detector element, and in the case of a colour video camera, means the area on the ground projected on to the detector elements used to provide the different wavelength band data associated with that area on the ground.</P>
          <p>The term "image" means an array of image elements corresponding to an equally numbered array of scene elements which cover a contiguous area on the ground.</P>
          <p>The term "grey level" means the numerical value of an image element on an eight bit scale between zero and 255.</P>
          <p>The term "video densitometer" means a device or technique which is able to extract the numerical value of the grey level of individual image elements from a frame store.</P>
          <p>The term "video display" means a monitor used for analysis of data pursuant to this Decision, including any associated image processing electronics, that is capable of displaying an image.</P>
          <p>The term "image processing system" means all ground-based equipment and software used to perform the visual or computer-assisted analysis of the images and determination of ground resolution and H<SUB>min</SUB>.</P>
          <p>The term "frame store" means a digital memory that is capable of storing at least a complete image of a calibration target where each individual image element is stored at a separate memory cell.</P>
          <p>The term "scan converter" means a device which has the capability to selectively extract a frame or sub-frame of imagery from data produced by an infrared line scan device or a line-imaging device.</P>
          <p>The term "scan line" means a row of image or scene elements that are displayed or imaged sequentially.</P>
          <p>The term "line scan formatter" means a device which has the capability to transfer a two-dimensional digital matrix that is stored in the computer into a series of scan lines that corresponds to the output of an infrared line scan device or a line imaging device or synthetic aperture radar, for the purpose of recording such data in line scan format.</P>
          <p>The term "frame grabber" means a device which has the capability to  convert the output of an analogue video frame imaging device or analogue scan converter into an eight bit digital image for transfer into the computer and image processing system memory.  </P>
          <p>The term "frame formatter" means a device which has the capability to output data contained in a  frame store to an analogue video recorder, in a format that simulates the output of a frame imaging device.</P>
          <p>The term "video recorder" means a data recording device capable of storing data collected by a video camera on magnetic tape without the use of encoding techniques.  For digital recorders, data must be recorded at eight bits per wavelength band to which a video camera is sensitive.</P>
          <p>The term "video tape reproducer" means a device that plays back the information recorded on a video tape.</P>
          <p>The term "grey level difference function" means a software-based procedure that  computes, summarizes and displays the differences in grey level that occur for each  corresponding pair of image elements in two identically-sized images. </P>
          <p>The term "linearity of amplitude characteristics" means the measure of the ability of a video tape reproducer to reproduce grey scale values in Test Patterns.  </P>
          <p>The term "overshoot/undershoot characteristics" means the measure of the errors produced by a video tape reproducer while reproducing signals with large changes in grey scale values between adjacent image elements in Test Patterns. </P>
          <p>The term "bar" means, in the case of a digital Test Pattern, a rectangular array of image elements, all of the same grey scale value.  </P>
          <p>The term "bar width" or "width" means, in the case of a digital Test Pattern, the number of image elements across the bar in the horizontal direction (number of columns in the bar). </P>
          <p>The term "bar height" or "height" means, in the case of a digital Test Pattern, the number of image elements along the bar in the vertical direction (number of rows in the bar).  </P>
          <p>The term "bar pair" means an adjoining pair of bars of the same width and height, but with different  grey scale values.</P>
          <p>The term "light bar" means the bar in a bar pair with the larger grey scale value.</P>
          <p>The term "dark bar" means the bar in a bar pair with the smaller grey scale value.</P>
          <p>The term "bar group" means a sequence of adjoining bars of the same width and height whose grey scale values alternate between a single light value and a single dark value.  A bar group may begin with either a light bar or a dark bar.</P>
          <p>The term "spatial frequency", designated by f, means a frequency measure of a group of bars of bar width D and is calculated by:</P>
            <div class="col-sm-11 col-sm-offset-1">
              <p>f = 1/(2D).
            </div>
          <p>The term "bar group amplitude" means a measure of the grey level difference between the light and dark bars of a bar group.</P>
          <p>The term "image amplitude function", designated A(f), means the relationship of the bar group amplitude to the spatial frequency corresponding to those bars.</P>
          <p>The term "phase correction" means a technique to reduce scan line misalignments in the image caused by correctable time base errors in the video recorder, correctable motion compensation errors, or other errors which are camera induced.</P>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>SECTION II. CALIBRATION PROCEDURE FOR VALIDATING THE  SOFTWARE AND COMPUTER SYSTEM</strong></P>
        <div class="col-sm-12">
          <p>The following procedure shall be performed in order to verify that the software and basic image processing computer system are acceptable for performing the tasks required in Section III and for use in analysing data from certification and demonstration flights.</P>
            <div class="col-sm-11 col-sm-offset-1">
              <p>1. Tests of Image Processing System and Image Quality Acceptability Functions</P>
                <div class="col-sm-11 col-sm-offset-1">
                  <p>(A) Frame Store and Cursor Function/Video Densitometer Capability</P>
                  <p>The six Test Patterns described in Annex A of this Decision and illustrated in Figure 1 of Annex A shall be transferred into the ground processing computer system and presented for viewing.  The video display and associated frame store shall be capable of displaying all Test Patterns simultaneously in a single image.</P>
                    <div class="col-sm-11 col-sm-offset-1">
                      <p>(1) A visual analysis of the displayed Test Patterns shall be performed to ensure conformance with the visual characteristics shown in Figure 1 of Annex A of this Decision.  The video display shall be viewed to determine that no readily apparent distortion appears in the image and that all patterns can be simultaneously observed.  </P>
                      <p>(2) The cursor shall be positioned over the four corners of the video display containing the Test Patterns and the image co-ordinates and grey scale value at each location shall be recorded.  The cursor locations and grey scale values of the four corners, relative to a co-ordinate system which defines the upper left corner of Test Pattern 1 as (0,0), shall be (0,0) and 20 for the upper left corner; (511,0) and 230 for the upper right corner; (0,479) and 127 for the lower left corner; and (511,479) and 127 for the lower right corner. The cursor shall also be positioned at (25,0).  The grey scale value shall be 20. The zoom function of the image processing system may be employed to assist in this task, but shall  not change the image co-ordinates or grey level values.</P>
                    </div>
                  <p>(B) Protractor Function</P>
                  <p>The image processing software shall be capable of correctly calculating the angle between the rotated rectangle in Test Pattern 5 and any scan line in the image.  The angle calculated shall be 5 degrees +/- 1.0 degree. </P>
                  <p>(C) Aspect Ratio</P>
                  <p>The aspect ratio shall be determined for the rotated rectangle in Test&nbsp;Pattern&nbsp;5 by measuring its longer dimension and its shorter dimension in units of pixels.  The result of dividing the longer dimension by the shorter dimension shall be 17.7  +/- 10%. </P>
                </div>
              <p>2. Tests of Software Used to Determine the Suitability of Digital Tape Reproducers</P>
              <p>The ability of the image processing software to correctly determine the differences between two separate images shall be verified by first loading the entire Test Pattern image into the image processing software and then storing this image into a separate image file outside of the frame store used by the image processing system.  This new image file shall then be loaded back into the image processing system and, using the software's grey level difference function, compared to the originally loaded image.  Both a video display of the difference and the ability to quantify the magnitude of any grey level changes shall be provided.  A grey level difference of zero for each  image element shall be verified.</P>
              <p>3. Tests of Computer-Assisted Processing Techniques</P>
              <p>Any computer-assisted techniques used pursuant to Decisions 14 and 15 shall be described in appendices attached to Annec C to this Decision.  These appendices shall be provided by the State Party which sponsors the computer-assisted technique and shall include detailed procedures for validating, in accordance with the procedures of this paragraph, the computer-assisted calculations.  Annex C describes the computer-assisted techniques which may be used and is included as part of this Decision.</P>
                <div class="col-sm-11 col-sm-offset-1">
                  <p>(A) Validation of Image Amplitude Functions calculations</P>
                    <p>Test Pattern 4 shall be used to confirm the ability of the software to calculate the Image Amplitude Function A(f). The A(f) shall be calculated by determining the amplitude of each of the bar groups in Test Pattern 4, as follows:</P>
                      <div class="col-sm-11 col-sm-offset-1">
                        <p>(1) The amplitude a(i) shall be calculated for each of the i = 1, ..., 36 bar pairs of Test Pattern 4 according to the formula:</P>
                        <p> a(i) = 0.5 (Amax<SUB>4</SUB>(i) - Amin<SUB>4</SUB>(i))  where </P>
                        <p>Amax<SUB>4</SUB>(i) is the maximum calculated grey scale value and Amin<SUB>4</SUB>(i) is the minimum calculated grey scale value of the ith bar pair of Test Pattern 4.</P>
                        <p>(2) The image amplitude function A(f<SUB>j</SUB>) shall be defined for each of the j&nbsp;= 1, ..., 12 bar groups of Test Pattern 4 as the average of the amplitudes of the three bar pairs belonging to the jth bar group.</P>
                        <p>(3) The calculated values of these functions shall lie within 1 % of the correct values, provided in Table 2 of Annex A, for every bar group.</P>
                      </div>
                  <p>(B) Last Resolved Bar Group Validation </P>
                  <p>The ability of the algorithm and software to correctly identify the last resolved bar group shall be validated.  </P>
                  <p>(C) H<SUB>min</SUB> Calculation Validation</P>
                  <p>The ability of the software to correctly apply the formulas for H<SUB>min</SUB> for video cameras and infrared line-scanning devices, as specified in the Decisions&nbsp;14 and 15, shall be validated.</P>
                  <p>(D) Phase Correction Validation</P>
                  <p>The ability of the phase correction algorithm and software to correct the known phase error in Test Pattern 6 of Annex A to this Decision shall be verified.  This shall be done by first applying this algorithm on Test Pattern 6.  The corrected pattern shall then be analysed by generating an Image Amplitude Function A(f) plot of the corrected pattern, as described in Section II, paragraph&nbsp;3&nbsp;(A) of this Decision.  The A(f) plot values at bar group numbers 3 and 13 shall be within 10% of the amplitude values stated in Annex A of this Decision for Test Pattern 6 for the pattern before the phase errors were introduced.</P>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>SECTION III. CALIBRATION PROCEDURES FOR SYSTEMS WHICH EMPLOY  GROUND-BASED VIDEO TAPE REPRODUCERS</strong></P>
        <div class="col-sm-11 col-sm-offset-1">
          <p>The specific procedure to be used shall depend on the type of output from the airborne video or infrared sensor system.  Figures 1 through 3 of this Decision provide the functional test diagrams for the four generic types of sensor systems:  digital framing, digital line-imaging/scanning, analogue framing, and analogue line-imaging/scanning converted to digital.  Paragraphs 1 through 3 of this section provide the details for calibrating the ground-based equipment associated with transferring the data from these four types of systems.  Procedures for testing tape reproducers used to replay SAR data are also covered in the section on digital line-imaging.  Only the tests directly related to validating the performance of the tape reproducer need to be performed for the SAR.  These three paragraphs cover the testing of the tape reproducers and associated input/output equipment used  to transfer the image from the tape reproducer into the image processing system used for determining the last resolved bar group and calculating H<SUB>min</SUB>.  Paragraphs&nbsp;1 and 2 detail the procedures for digital framing and digital line-imaging/scanning systems respectively, while paragraph 3 deals with analogue framing systems.  Data from analogue line-imaging/scanning devices shall be converted to digital and, therefore, the procedures of paragraph 2 shall apply.  For sensors that produce output in more than one spectral band (such as a colour imaging device), the appropriate procedure shall be separately applied to the output of each spectral band of the sensor.  Any cables or special interface equipment to be used during certification or demonstration flights  shall be the same as those used during this calibration procedure.  In all of the tests of this section, the data shall be recorded on to magnetic tape of the same type to be used in the certification or demonstration flight, and at the maximum packing density to be used in an observation flight.  If multiple tape types are to be used, each shall be tested separately.  Prior to proceeding with the tests described in paragraphs 1 through 3 of this section, the State Party  responsible for performing the tests shall, by pre-testing, equipment selection, and/or care in maintaining configuration control be responsible for ensuring that:</P>
            <div class="col-sm-11 col-sm-offset-1">
              <p>(A) The output of the computer shall be capable of simulating the sensor output that is input to the airborne video recorder, to the degree necessary to ensure that all functions used to analyse data from a certification or demonstration flight are present in the equipment and software to be calibrated.  This may be done either directly or indirectly, via a device or technique such as a frame grabber, line scan formatter or frame formatter.  The output of the computer need not simulate the maximum output data rate of the sensor.</P>
              <p>(B) In the case where an analogue ground-based video tape reproducer is to be used to replay information collected and recorded on an analogue airborne video recorder, the ground-based video tape reproducer shall not introduce appreciable degradation of the data recorded by the airborne video recorder.  This shall be done by ensuring that the manufacturer's specifications for the quality of replay of such data are consistent with the airborne video recorder's recording capabilities.  Further, they shall ensure that the ground-based video tape reproducer is properly adjusted such that the manufacturer's specifications for replay quality are achieved.</P>
                <div class="col-sm-11 col-sm-offset-1">
                  <p>1. Calibration Procedure for Systems which use Digital Video Tape Reproducers for Playback from Digital Framing Type Sensors - See Figure 1.</P>
                    <div class="col-sm-11 col-sm-offset-1">
                      <p>(A) The Test Patterns described in Annex A of this Decision shall be loaded into the computer system, transferred into the ground digital video recorder/reproducer and recorded on the video tape.  If the ground-based digital video tape reproducer does not have a record capability, this procedure shall be performed on a video recorder of the same type used on the observation aircraft.</P>
                      <p>(B) The image of the Test Patterns as generated on the tape in Step A of this paragraph shall then be replayed from the ground-based digital video tape reproducer back into the computer.  The grey level difference function shall be used to compare this image to the original.  The video recorder/reproducer and associated input/output equipment shall be deemed acceptable if no more than three non-zero differences/errors occur between the two images.</P>
                    </div>
                  <p>2. Calibration Procedure for Systems which use Digital Tape Reproducers for Playback from Digital Line-Imaging/Scanning or Analogue Line-Imaging/Scanning Converted to Digital Type Sensors - See Figure 2.  These types include video line imaging devices, Infrared Line Scanning Devices and Synthetic Aperture Radar Sensors.</P>
                    <div class="col-sm-11 col-sm-offset-1">
                      <p>(A) The same procedure as described in Section III, paragraph&nbsp;1&nbsp;(A) of this Decision shall be used to transfer the Test Patterns to the ground digital video tape reproducer.  The line scan formatter shall be capable of positioning the Test Pattern lines (480 lines of 512 image elements each) at any location within the total number of lines and image elements per line of the format used by the line-imaging, line-scanning or SAR sensor.  This shall be verified by using the line-scan formatter to position the Test Patterns at three different locations and then demonstrating the ability to extract the complete Test Patterns for display in the image processing system by means of the system's scan converter.</P>
                      <p>(B) Using one of the images of the Test Patterns extracted via the scan converter as described in Section III, paragraph&nbsp;2&nbsp;(A) of this Decision, the same procedure as described in Section III, Paragraph&nbsp;1&nbsp;(B) of this Decision shall be performed.  It shall be verified that no more than three non-zero differences occur between the two images.  In the case that obvious equipment malfunctions prevent meeting this criterion, the State Party owning the equipment shall be allowed to repeat this test after adjustment of the equipment and until the criterion is satisfied.</P>
                    </div>
                  <p>3. Calibration Procedure for Systems Which Use Analogue Video Tape Reproducers for Playback from Analogue Framing Type Sensors - See Figure 3.</P>
                    <div class="col-sm-11 col-sm-offset-1">
                      <p>(A) Image Acquisition</P>
                        <div class="col-sm-11 col-sm-offset-1">
                          <p>(1) Transfer the Calibration Test Patterns shown in Figure 1, Annex A of this Decision via the frame formatter into the airborne video recorder and record on to the magnetic media for at least 10 seconds.  </P>
                          <p>(2) Playback the recorded image of the Calibration Test Patterns from the airborne video recorder used in step (1) of this subparagraph.</P>
                          <p>(3) With the frame grabber, acquire images of the recorded Calibration Test Patterns from the airborne video recorder, and save them in files for later processing.</P>
                            <div class="col-sm-11 col-sm-offset-1">
                              <p>(a) If the ground video tape reproducer is of the same model as the airborne video recorder, one image shall be acquired.  </P>
                              <p>(b) If the ground video tape reproducer is of a different model from the airborne video recorder, two images shall be acquired.</P>
                            </div>
                          <p>(4) If the ground video tape reproducer is of a different model from the airborne video recorder:</P>
                            <div class="col-sm-11 col-sm-offset-1">
                              <p>(a) Replace the airborne video recorder with the ground video tape reproducer, keeping all other components the same.</P>
                              <p>(b) Move the magnetic media created in step (1) of this subparagraph from the airborne video recorder to the ground video tape reproducer and play back the recorded image of the Calibration Test Patterns using the ground video tape reproducer.</P>
                              <p>(c) With the same frame grabber used in step (3) of this subparagraph, acquire two images of the recorded Calibration Test Patterns from the ground video tape reproducer, and save them in files for later processing. </P>
                            </div>
                        </div>
                      <p>(B) Sampling Tests</P>
                      <p>Using any one of the images acquired in subparagraph&nbsp;(A) of this paragraph, the sampling capability of the frame grabber shall be checked to ensure that sampling of the played-back Test Pattern image occurs at an acceptable rate.  The sampling rate for the played-back image of the test pattern  shall be deemed to be acceptable provided that there are at least as many image elements across the displayed sensor frame as there are in each row of the Test Pattern.  If sampling produces more image elements per row than exist in each row of the Test Pattern then, prior to performing tests in subparagraph&nbsp;(C) of this paragraph, if required, the images obtained in subparagraphs&nbsp;(A) (3) or (A)&nbsp;(4) of this paragraph shall be resampled to result in new stored images of the Test Pattern with each line having exactly one image element per Test Pattern column (512 total per line).</P>
                      <p>(C) Ground Video Tape Reproducer Tests</P>
                      <p>If the ground video tape reproducer to be used is of a different model from the airborne video recorder, the ground video tape reproducer shall pass all tests specified in Annex B to this Decision before it may be used in the certification or demonstration flight data analysis.  The original tape containing the imagery collected from these tests shall, upon request, be made available to other States Parties for further testing and verification following the certification or demonstration flight.  This shall not delay the signing of the certification report or delay an observation flight. </P>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>This Decision shall enter into force simultaneously with the Treaty on Open Skies and shall have the same duration as the Treaty.</P>
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 12 October&nbsp;1994, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</P>
        <div class="col-sm-12 text-center">
          <p><img SRC="../img/dec_16_1.png" class="img-responsive" WIDTH=562 HEIGHT=317></P>
          <p><img SRC="../img/dec_16_2.png" class="img-responsive" WIDTH=651 HEIGHT=328></P>
          <p><img SRC="../img/dec_16_3.png" class="img-responsive" WIDTH=562 HEIGHT=399></P>
        </div>
    </div>
  </div>

<hr/>

<!-- Annex16A -->
  <div class="row">
    <div class="col-sm-2">
        <p align="left"><a name="Annex16A" href="#sixteen"> Back to Decision Sixteen </a></p>
      </div>
      <div class="col-sm-2 col-sm-offset-8">
        <p align="right">12 October 1994</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>ANNEX A <br/>TO DECISION NUMBER 16 <br/>TO THE TREATY ON OPEN SKIES <br/>TEST PATTERNS USED IN CALIBRATION</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The test patterns shall be obtained by the States Parties on removable magnetic disc from the OSCC, or shall be created based on the descriptions below.</P>
      <p>Figure 1 of this Annex illustrates the six test patterns that shall be used in the calibration process. The overall image size shall be 480 image elements high by 512 image elements wide. Test Patterns 1, 2, 3, 5 and 6 shall have as a lower border a rectangular region 5 image elements high and 512 image elements wide with grey scale value 127. Test Pattern 4 shall have, as its lower border, a rectangular region 6 image elements high and 512 image elements wide with grey scale value 127. Each test pattern shall be referred to by its own coordinate system, beginning at x = 0, y = 0 in the upper left corner.</P>
      <div class="col-sm-12">
        <p>1. Pattern 1</P>
        <p>Pattern 1 shall be a rectangular region 75 image elements high by 512 image elements wide, consisting of 15 adjoining bar groups. Each bar group shall consist of two bar pairs. All of the light bars shall have grey scale value 230 and all of the dark bars shall have grey scale value 20. All bars in the pattern shall have the same height as the region. The width of the bars in each successive bar group, from first to fifteen shall be: 21, 16, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2 and 1. The first bar shall be a dark bar whose uppermost left corner shall be designated as reference position at x = 0, y = 0.</P>
          <div class="col-sm-12 text-center">
            <p><img SRC="../img/dec_16_4.gif" class="img-responsive" WIDTH=574 HEIGHT=538></P>
            <p><strong>FIGURE 1 <br/>DIGITAL TEST PATTTERNS USED IN CALIBRATION</strong></P>
          </div>
        <p>2. Pattern 2</P>
        <p>Pattern 2 shall consist of 512 adjoining bars, all of height 75 image elements, and all of width 1 image element. The grey scale values of the first 256 bars shall begin with 0 for the first bar and shall increase sequentially by 1 to 255 for the 256th bar. The grey scale values of the remaining 256 bars shall begin with 255 for the 257th bar and shall decrease sequentially by 1 to 0 for the 512th bar.</P>
        <p>3. Pattern 3</P>
        <p>Pattern 3 shall consist of 16 adjoining bar pairs of height 75 image elements and width 16 image elements per bar. Table 1 specifies the dark and light bar grey scale values for each bar pair, beginning with a dark bar at x = 0, y = 0.</P>
          <div class="col table-responsive">
            <table class="table table-striped">
            <tr>
              <td><p>Bar Group Number</p></td>
              <td><p>Dark Bar Grey Scale Value</p></td>
              <td><p>Light Bar Grey Scale Value</p></td>
            </tr>
            <tr>
              <td><p>1</p></td>
              <td><p>0</p></td>
              <td><p>255</p></td>
            </tr>
            <tr>
              <td><p>2</p></td>
              <td><p>2</p></td>
              <td><p>253</p></td>
            </tr>
            <tr>
              <td><p>3</p></td>
              <td><p>4</p></td>
              <td><p>251</p></td>
            </tr>
            <tr>
              <td><p>4</p></td>
              <td><p>6</p></td>
              <td><p>249</p></td>
            </tr>
            <tr>
              <td><p>5</p></td>
              <td><p>8</p></td>
              <td><p>247</p></td>
            </tr>
            <tr>
              <td><p>6</p></td>
              <td><p>10</p></td>
              <td><p>245</p></td>
            </tr>
            <tr>
              <td><p>7</p></td>
              <td><p>12</p></td>
              <td><p>243</p></td>
            </tr>
            <tr>
              <td><p>8</p></td>
              <td><p>14</p></td>
              <td><p>241</p></td>
            </tr>
            <tr>
              <td><p>9</p></td>
              <td><p>18</p></td>
              <td><p>237</p></td>
            </tr>
            <tr>
              <td><p>10</p></td>
              <td><p>22</p></td>
              <td><p>233</p></td>
            </tr>
            <tr>
              <td><p>11</p></td>
              <td><p>26</p></td>
              <td><p>229</p></td>
            </tr>
            <tr>
              <td><p>12</p></td>
              <td><p>30</p></td>
              <td><p>225</p></td>
            </tr>
            <tr>
              <td><p>13</p></td>
              <td><p>34</p></td>
              <td><p>221</p></td>
            </tr>
            <tr>
              <td><p>14</p></td>
              <td><p>38</p></td>
              <td><p>217</p></td>
            </tr>
            <tr>
              <td><p>15</p></td>
              <td><p>42</p></td>
              <td><p>213</p></td>
            </tr>
            <tr>
              <td><p>16</p></td>
              <td><p>46</p></td>
              <td><p>209</p></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>TABLE 1</P>
      <p>BAR GREY SCALE VALUES FOR TEST PATTERN 3</P>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-12">
      <p>4. Pattern 4</P>
      <p>Pattern 4 shall be a rectangular region 65 image elements high and 512 image elements wide and shall have two components. The first component shall consist of a row of 12 adjoining bar groups, with all bar groups having the same starting (smallest) y = 2 coordinate. Each bar group shall consist of three bar pairs. All bars shall have a 5:1 aspect (height to width) ratio. Starting with a dark bar, the bars in a bar group shall alternate from dark to light. The first bar group shall begin at x = 5, and shall have width 12. Table 2 specifies the width, height and dark and light bar grey scale values for each bar group. The bar group amplitude values are derived from the grey scale values of the light and dark bars in each group and are provided in Table 2.</P>
      <p>The second component of Pattern 4 shall be a noise region, that is a rectangular region 50 image elements high and 100 image elements wide whose upper left corner shall be at x = 399, y = 34. The image element grey scale values in the noise region shall be randomly distributed. The distribution shall be gaussian, with mean 64, variance 1.2 and two-dimensional correlation radius of 2.5.</P>
      <p>All image elements in Pattern 4 not otherwise assigned an grey scale value shall be assigned a background grey scale value of 200.</P>
      <p>5. Pattern 5</P>
      <p>Pattern 5 shall be a rectangular region 64 image elements high and 512 image elements wide with one component, which shall be an area of dark image elements ( grey scale value 120 ) that had been a rectangle prior to being rotated. The area shall be contained within and superimposed on a background of light image elements ( grey scale value 240 ). The location of the area shall be defined by the corner coordinates, beginning with the upper left and proceeding counterclockwise:</P>
        <div class="col-sm-12 text-center">
          <p>x1 = 103 , y1 = 31 ; x2 = 104 , y2 = 46 ; x3 = 403 , y3 = 23 ; and x4 = 402 , y4 = 7.</P>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col table-responsive">
      <table class="table table-striped">
        <tr>
          <td><p>Bar <br/>Group Number</p></td>
          <td><P>Bar Width</p></td>
          <td><P>Bar Height</p></td>
          <td><P>Dark Bar Grey Scale Value</p></td>
          <td><P>Light Bar Grey Scale Value</p></td>
          <td><P>Bar Group Amplitude</p></td></tr>
        <tr>
          <td><p>1</p></td>
          <td><p>12</p></td>
          <td><p>60</p></td>
          <td><p>60</p></td>
          <td><p>200</p></td>
          <td><p>70.0</p></td>
        </tr>
        <tr>
          <td><p>2</p></td>
          <td><p>11</p></td>
          <td><p>55</p></td>
          <td><p>67</p></td>
          <td><p>200</p></td>
          <td><p>66.5</p></td>
        </tr>
        <tr>
          <td><p>3</p></td>
          <td><p>10</p></td>
          <td><p>50</p></td>
          <td><p>74</p></td>
          <td><p>200</p></td>
          <td><p>63.0</p></td>
        </tr>
        <tr>
          <td><p>4</p></td>
          <td><p>8</p></td>
          <td><p>40</p></td>
          <td><p>82</p></td>
          <td><p>200</p></td>
          <td><p>59.0</p></td>
        </tr>
        <tr>
          <td><p>5</p></td>
          <td><p>8</p></td>
          <td><p>40</p></td>
          <td><p>91</p></td>
          <td><p>200</p></td>
          <td><p>54.5</p></td>
        </tr>
        <tr>
          <td><p>6</p></td>
          <td><p>7</p></td>
          <td><p>35</p></td>
          <td><p>101</p></td>
          <td><p>200</p></td>
          <td><p>49.5</p></td>
        </tr>
        <tr>
          <td><p>7</p></td>
          <td><p>6</p></td>
          <td><p>30</p></td>
          <td><p>112</p></td>
          <td><p>200</p></td>
          <td><p>44.0</p></td>
        </tr>
        <tr>
          <td><p>8</p></td>
          <td><p>5</p></td>
          <td><p>25</p></td>
          <td><p>125</p></td>
          <td><p>200</p></td>
          <td><p>37.5</p></td>
        </tr>
        <tr>
          <td><p>9</p></td>
          <td><p>5</p></td>
          <td><p>25</p></td>
          <td><p>138</p></td>
          <td><p>200</p></td>
          <td><p>31.0</p></td>
        </tr>
        <tr>
          <td><p>10</p></td>
          <td><p>4</p></td>
          <td><p>20</p></td>
          <td><p>153</p></td>
          <td><p>200</p></td>
          <td><p>23.5</p></td>
        </tr>
        <tr>
          <td><p>11</p></td>
          <td><p>4</p></td>
          <td><p>20</p></td>
          <td><p>170</p></td>
          <td><p>200</p></td>
          <td><p>15.0</p></td>
        </tr>
        <tr>
          <td><p>12</p></td>
          <td><p>3</p></td>
          <td><p>15</p></td>
          <td><p>189</p></td>
          <td><p>200</p></td>
          <td><p>5.5</p></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>TABLE 2 <br/>BAR CHARACTERISTICS FOR TEST PATTERN 4</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-12">
        <P>6. Pattern 6</P>
        <P>Pattern 6 shall be a rectangular region 95 image elements high by 512 image elements wide. Within the region shall be 15 adjoining bar groups, each consisting of two bar pairs, starting with a dark bar. Characteristics of the bar groups, prior to bar group rotation and pattern shifting, shall be as specified below and listed in Table 3.</P>
        <P>The width of the bars in successive bar groups shall decrease, in decrements of one image element, beginning with 15 image elements for the first (largest) bar group to one image element for the narrowest bar group. The height of the bar groups shall decrease, in three line decrements, from 60 horizontal lines for the largest group to 18 horizontal lines for the smallest. The first bar shall be a dark bar with upper left coordinates at x = 32, y = 24. All bar groups shall have their lower edge at y = 83, prior to rotation of the bar groups. The grey scale values for the dark bars in successive bar groups shall increase, in increments of five, from 130 for the first group to 200 for the fifteenth group. The light bars in all groups shall be at a constant grey scale value of 240.</P>
        <P>The entire test pattern shall be rotated five degrees counterclockwise using x = 32, y = 83 as the center of rotation. All image elements in Pattern 6 not otherwise assigned a grey scale value shall be assigned a grey scale value of 240.</P>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col table-responsive">
      <table class="table table-striped">
        <tr>
          <td><p>Bar Group <br/>Number</p></td>
          <td><p>Bar Width</p></td>
          <td><p>Bar Group Height</p></td>
          <td><p>Dark Bar Grey Scale Value</p></td>
          <td><p>Light Bar Grey Scale Value</p></td>
          <td><p>Bar Group <br/>Amplitudes</p></td>
        </tr>
        <tr>
          <td><p>1</p></td>
          <td><p>15</p></td>
          <td><p>60</p></td>
          <td><p>130</p></td>
          <td><p>240</p></td>
          <td><p>55</p></td>
        </tr>
        <tr>
          <td><p>2</p></td>
          <td><p>14</p></td>
          <td><p>57</p></td>
          <td><p>135</p></td>
          <td><p>240</p></td>
          <td><p>52.5</p></td>
        </tr>
        <tr>
          <td><p>3</p></td>
          <td><p>13</p></td>
          <td><p>54</p></td>
          <td><p>140</p></td>
          <td><p>240</p></td>
          <td><p>50</p></td>
        </tr>
        <tr>
          <td><p>4</p></td>
          <td><p>12</p></td>
          <td><p>51</p></td>
          <td><p>145</p></td>
          <td><p>240</p></td>
          <td><p>47.5</p></td>
        </tr>
        <tr>
          <td><p>5</p></td>
          <td><p>11</p></td>
          <td><p>48</p></td>
          <td><p>150</p></td>
          <td><p>240</p></td>
          <td><p>45</p></td>
        </tr>
        <tr>
          <td><p>6</p></td>
          <td><p>10</p></td>
          <td><p>45</p></td>
          <td><p>155</p></td>
          <td><p>240</p></td>
          <td><p>42.5</p></td>
        </tr>
        <tr>
          <td><p>7</p></td>
          <td><p>9</p></td>
          <td><p>42</p></td>
          <td><p>160</p></td>
          <td><p>240</p></td>
          <td><p>40</p></td>
        </tr>
        <tr>
          <td><p>8</p></td>
          <td><p>8</p></td>
          <td><p>39</p></td>
          <td><p>165</p></td>
          <td><p>240</p></td>
          <td><p>37.5</p></td>
        </tr>
        <tr>
          <td><p>9</p></td>
          <td><p>7</p></td>
          <td><p>36</p></td>
          <td><p>170</p></td>
          <td><p>240</p></td>
          <td><p>35</p></td>
        </tr>
        <tr>
          <td><p>10</p></td>
          <td><p>6</p></td>
          <td><p>33</p></td>
          <td><p>175</p></td>
          <td><p>240</p></td>
          <td><p>32.5</p></td>
        </tr>
        <tr>
          <td><p>11</p></td>
          <td><p>5</p></td>
          <td><p>30</p></td>
          <td><p>180</p></td>
          <td><p>240</p></td>
          <td><p>30</p></td>
        </tr>
        <tr>
          <td><p>12</p></td>
          <td><p>4</p></td>
          <td><p>27</p></td>
          <td><p>185</p></td>
          <td><p>240</p></td>
          <td><p>27.5</p></td>
        </tr>
        <tr>
          <td><p>13</p></td>
          <td><p>3</p></td>
          <td><p>24</p></td>
          <td><p>190</p></td>
          <td><p>240</p></td>
          <td><p>25</p></td>
        </tr>
        <tr>
          <td><p>14</p></td>
          <td><p>2</p></td>
          <td><p>21</p></td>
          <td><p>195</p></td>
          <td><p>240</p></td>
          <td><p>22.5</p></td>
        </tr>
        <tr>
          <td><p>15</p></td>
          <td><p>1</p></td>
          <td><p>18</p></td>
          <td><p>200</p></td>
          <td><p>240</p></td>
          <td><p>20</p></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>TABLE 3
      <br/>BAR CHARACTERISTICS FOR TEST PATTERN 6</strong></P>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>After rotation, test pattern 6 shall be adjusted to simulate phase errors as follows. Rows 1, 5, 9, 13, ...4k+1..etc. shall remain unshifted. Rows 2, 6, 10, 14, ...4k+2..etc. shall be shifted one image element to the right. Rows 3, 7, 11, 15, ...4k+3..etc. shall be shifted two image elements to the right, and rows 4, 8, 12, 16, ...4k..etc. shall be shifted three image elements to the right. All image elements in Pattern 6 not assigned an grey scale value by this process shall be assigned a grey scale value of 240.</P>
    </div>
  </div>

<hr />

<!-- Annex 16B-->
  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a name="Annex16B" href="#sixteen"> Back to Decision Sixteen </a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>ANNEX B <br/> TO DECISION NUMBER 16 <br/>TO THE TREATY ON OPENSKIES <br/>PROCEDURES FOR CALIBRATING GROUND-BASED TAPE REPRODUCERS <br/>WHICH ARE USED TO REPLAY DATA FROM ANALOG VIDEO <br/>FRAMING CAMERA AND ARE OF A DIFFERENT MODEL <br/>FROM THE AIRBORNE RECORDER USED WITH THE CAMERA</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <P>1. Analysis of Spatial Frequency Characteristics</P>
      <P>The purpose of this test is to measure the frequency content of the image that results from playing the recording made on the airborne recorder on the ground video tape reproducer and to compare the results to those achieved by playing this same tape on the airborne recorder. The image amplitude function, A(f), of Test Pattern 1 in the captured video image shall be produced and the frequencies at which the amplitude falls below 50% (3 dB) and 10% (10dB) of their peak values shall be recorded. In obtaining these results, the following six steps shall be completed.</P>
        <div class="col-sm-12">
          <P>(A) Using the video densitometer, no less than 5 adjacent profile cuts across Test Pattern 1 shall be made for each of the 2 images obtained in Section III, paragraph 3, subparagraph (A) (3) of Decision 16 to the Treaty on Open Skies (hereinafter referred to as Decision 16). These profiles shall be obtained from near the center of each pattern and shall be along the scan lines. Each series of profiles shall be stored in a separate file for later use. The file names used for each series of profile cuts shall be recorded together with names of the image files from which the profiles were made.</P>
          <P>(B) The average maximum value <sub>&#8212;</sub>max(i) and the average minimum value <sub>&#8212;</sub>min(i) shall be calculated for each of the i = 1...30 bar pairs of Test Pattern 1 as follows: <sub>&#8212;</sub>max(i) is the average (arithmetic mean) of the maximum grey scale values in the ith bar pair and <sub>&#8212;</sub>min(i) is the average of the minimum grey scale values in the ith bar pair, where the average is taken over all of the profiles obtained in subparagraph (A) above.</P>
          <P>(C) The amplitude <I>a(i) </I>shall be calculated for each of the i = 1, ..., 30 </P>
          <P>bar pairs of Test Pattern 1 according to the formula:</P>
            <div class="col-sm-12">
              <P>where <sub>&#8212;</sub>max(i) and <sub>&#8212;</sub>min(i) are defined in subparagraph (B) above. </P>
            </div>
          <P>The image amplitude function A(f<SUB>j</SUB>) shall be defined for each of the j = 1, ..., 15 bar groups of Test Pattern 1 as the average of the amplitudes of the two bar pairs belonging to the jth bar group.</P>
          <P>(D) The steps in subparagraphs (A) through (C) above shall be repeated using the 2 images obtained in Section III, paragraph 3, sub-paragraph (A) (4) of Decision 16.</P>
          <P>(E) Graphs shall be plotted for the airborne recorder's image amplitude function. The bar groups where the airborne recorder's image amplitude function first falls below 50% (-3 dB) and 10% (-10 dB) of their peak values shall be recorded.</P>
          <P>(F) Graphs shall then be plotted for the ground reproducer's image amplitude function. The bar groups where the ground reproducer's image amplitude function first falls below 50% (-3 dB) and 10% (-10 dB) of their peak values shall be recorded. For the ground reproducer to be deemed acceptable, the bar groups at which the 50% and 10% amplitudes occur shall be of the same width or narrower width (better frequency response) than the corresponding bar groups recorded as the baseline in subparagraph (E) above. </P>
        </div>

      <P>(2 ) Analysis of Linearity of Amplitude Characteristics</P>
        <div class="col-sm-12">
          <P>Linearity characteristics shall be quantified by the mean square deviation and maximum absolute deviation obtained from the differences between the reproduced Test Pattern and the input test pattern, using Test Pattern 2 from Annex A of Decision 16 as the input. In obtaining these results, the following five steps shall be completed.</P>
          <P>(A) Using the video densitometer, no less than 5 adjacent profile cuts across Test Pattern 2 of Annex A to Decision 16 shall be made for each of the 2 images obtained in Section III, paragraph 3, sub-paragraph (A) (3) of Decision 16. These profiles shall be obtained from near the center of each pattern. Each series of profiles shall be stored in a separate file for later use. The file names used for each series of profiles shall be recorded together with names of the image files from which the profiles were made.</P>
          <P>(B) The average airborne recorder value <sub>&#8212;</sub>2(i) shall be calculated for each of the i = 1...512 bars of Test Pattern 2 of Annex A to Decision 16 as the average of the grey scale values in the ith bar, where the average is taken over all of the profiles obtained in subparagraph (A) of this paragraph.</P>
          <P>(C) The procedure given in subparagraph (A) of this paragraph shall be repeated using the 2 images obtained in Section III, paragraph 3, sub-paragraph (A) (4) of Decision 16.</P>
          <P>(D) The average ground reproducer value <sup>G</sup> 52(i) shall be calculated for each of the i = 1...512 bars of Test Pattern 2 of Annex A to Decision 16 as the average of the grey scale values in the ith bar, where the average is taken over all of the profiles obtained in subparagraph (C) of this paragraph.</P>
          <P>(E) Using the ideal values (<I>I</I>) for Test Pattern 2 of Annex A to Decision 16, (<i>I</i><sub>2</sub>(n) = n-1, for n = 1...256, and <i>I</i><sub>2</sub>(n) = 512-n, for n = 257...512), the mean square deviations <i>S</i><sub>2</sub>(<i>I</i><i>G</i>) and <i>S</i><sub>2</sub>(<i>I</i><i>A</i>) and the absolute maximum deviations <i>M</i><sub>2</sub>(<i>I</i><i>G</i>) and <i>M</i><sub>2</sub>(<i>I</i><i>A</i>), of the data obtained in subparagraphs (B) and (D) of this paragraph from the ideal shall be obtained as follows:</P>
            <div class="col-sm-12">
              <p>where <i>I</i><sub>2</sub>(<i>n</i>) = 0, for n < 1, and <i>I</i><sub>2</sub>(<i>n</i>) = 255, for n > 512. (The process of minimizing over a set of offsets "d" in the above equations arises from observation of phase misalignments between the ideal and reproduced patterns. The effect of phase misalignment is reduced by using the measures that arise from the best fit between the observed and reproduced patterns.)</p>
            </div>
          <p>The ground tape reproducer shall be deemed acceptable in this test, if the mean square deviation of the ground tape reproducer is no more than 10% greater than the mean square deviation of the airborne recorder (i.e., <i>S</i><sub>2</sub>(<i>I</i>,<i>G</i>) < 1.1*<i>S</i><sub>2</sub>(<i>I</i>,<i>A</i>)) and the absolute maximum deviation of the ground tape reproducer is no more than 5% greater than the absolute maximum deviation of the airborne recorder (i.e., <i>M</i><sub>2</sub>(<i>I</i>,<i>G</i>) < 1.05*<i>M</i><sub>2</sub>(<i>I</i>,<i>A</i>)).</p>
        </div>
      <p>(3) Analysis of Overshoot/Undershoot Characteristics</p>
      <P> Overshoot/undershoot characteristics shall be quantified by the mean square deviations and maximum absolute deviations obtained from the differences between the reproduced Test Pattern and the input Test Pattern, using Test Pattern 3 of Annex A to Decision 16 as the input. In obtaining these results, the following four steps shall be completed.</P>
        <div class="col-sm-12">
          <P>(A) Using the video densitometer, no less than 5 adjacent profile cuts across Test Pattern 3 of Annex A to Decision 16 shall be made for each of the 2 images obtained in Section III, paragraph 3, sub-paragraph (A) (3) of Decision 16. These profiles shall be obtained from near the center of each pattern. Each series of profiles shall be stored in a separate file for later use. The file names used for each series of profiles shall be recorded together with names of the image files from which the profiles were made.</P>
          <P>(B) The average airborne recorder values, <sub>&#8212;</sub>3L(n) and <sub>&#8212;</sub>3D(n), shall be calculated for each of the n = 1...16 bar groups of Test Pattern 3 of Annex A to Decision 16 as follows. <sub>&#8212;</sub>3L(n) is the average of the grey scale values in the peak areas and <sub>&#8212;</sub>3D(n) is the average of the grey scale values in the trough areas of the nth bar group, where the average is taken over all of the profiles obtained in subparagraph (A) of this paragraph.</P>
          <P>(C) The steps of subparagraphs (A) and (B) of this paragraph shall be repeated using the 2 images obtained in Section III, paragraph 3, sub-paragraph (A) (4) of Decision 16 to obtain the values <sub>&#8212;</sub>3L(n) and <sub>&#8212;</sub>3D(n) for each of the n = 1...16 bar groups of Test Pattern 3 of Annex A to Decision 16.</P>
          <P>(D) Using the ideal values for the n = 1...16 bar groups in Test Pattern 3 of Annex A to Decision 16, (<i>I</i><sub>3L</sub>(n) = 255 - 2n, <i>I</i><sub>3D</sub>(n) = 2n-2 for n = 1,...8, and <i>I</i><sub>3L</sub>(n) = 273 - 4n, <i>I</i><sub>3D</sub>(n) = 4n-18, for n = 9,...16), the mean square deviations, <i>S</i><sub>3L</sub>(<i>I</i>,<i>A</i>), <i>S</i><sub>3L</sub>(<i>I</i>,<i>G</i>), <i>S</i><sub>3D</sub>(<i>I</i>,<i>A</i>), and <i>S</i><sub>3D</sub>(<i>I</i>,<i>G</i>), and the absolute maximum deviations, <i>M</i><sub>3L</sub>(<i>I</i>,<i>A</i>), <i>M</i><sub>3L</sub>(<i>I</i>,<i>G</i>), <i>M</i><sub>3D</sub>(<i>I</i>,<i>A</i>) and <i>M</i><sub>3D</sub>(<i>I</i>,<i>G</i>), of the data obtained in subparagraphs (B) and (C) of this paragraph from the ideal shall be obtained as follows:</P>
        </div>
      <P>The ground reproducer shall be deemed acceptable in this test, if the mean square deviations of the ground reproducer are no more than 10% greater than the mean square deviations of the airborne recorder (i.e., <i>S</i><sub>3L</sub>(<i>I</i>,<i>G</i>) < 1.1*<i>S</i><sub>3L</sub>(<i>I</i>,<i>A</i>) and <i>S</i><sub>3D</sub>(<i>I</i>,<i>G</i>) < 1.1*<i>S</i><sub>3D</sub>(<i>I</i>,<i>A</i>) ) and the absolute maximum deviations of the ground reproducer are no more than 5% greater than the absolute maximum deviations of the airborne recorder (i.e., <i>M</i><sub>3L</sub>(<i>I</i>,<i>G</i>) < 1.05*<i>M</i><sub>3L</sub>(<i>I</i>,<i>A</i>) and <i>M</i><sub>3D</sub>(<i>I</i>,<i>G</i>) < 1.05*<i>M</i><sub>3D</sub>(<i>I</i>,<i>A</i>)).</P>
    </div>
  </div>

<hr />

<!-- Annex 16C-->
  <div class="row">
    <div class="col-sm-12">
      <p align="left"><a name="Annex16C" href="#sixteen"> Back to Decision Sixteen </a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>ANNEX C <br/>TO DECISION NUMBER 16 <br/>TO THE TREATY ON OPEN SKIES</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <P>Any computer-assisted techniques used pursuant to Decisions 14 and 15 to the Treaty on Open Skies (hereinafter referred to as Decisions 14 and 15) and Section II, paragraph 3 of Decision 16 to the Treaty on Open Skies (hereinafter referred to as Decision 16) shall be described in appendices to this Annex. These appendices shall be provided by the State Party which sponsors the computer-assisted technique and shall include a description of the computer-assisted technique as well as detailed procedures for validating the computer-assisted calculations. Appendix 1 to this Annex is the first computer-assisted technique agreed by the OSCC. It provides an example of the details to be provided in any future appendix to this Annex. Additional appendices shall be included as a part of this Annex upon agreement by the OSCC. All computer-assisted techniques described in appendices to this annex shall be considered equally valid.</P>
      <p>In the case of demonstration flights, in accordance with Decision 14, Section V, paragraph 1 (A) (2) and Decision 15, Section IV, paragraph 6, the observing and observed Parties shall each be free to use a computer-assisted technique of its choice.  If more than one technique is used, and the results do not agree, and the observing and observed Parties cannot resolve the differences between the results, the visual technique shall be used.</p>
      <p>In the case of demonstration flights, in accordance with Decision 14, Section V, paragraph 1 (A) (2) and Decision 15, Section IV, paragraph 6, an observed or observing Party which uses a computer-assisted technique:</p>
        <div class="col-sm-12">
          <p>(1) shall provide the other Party with the following data pertaining to the computer-assisted technique used:  the name, size, date and time of all of the executable and data files used, which are unique to the application, as obtained from a computer directory listing, and</p>
          <p>(2) shall make available to the other Party a copy on disk of all of the executable and data files, including macros, which are unique to the application.</p>
        </div>
    </div>
  </div>

<hr>

  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>APPENDIX I <br/>TO ANNEX C TO DECISION NUMBER SIXTEEN <br/>TO THE TREATY ON OPEN SKIES</p>
      <p>AMPLITUDE FREQUENCY FUNCTION (AFF) COMPUTER-ASSISTED TECHNIQUE <br/>FOR CALCULATING THE MINIMUM HEIGHT ABOVE <br/>GROUND LEVEL AT WHICH EACH VIDEO CAMERA INSTALLED <br/>ON AN OBSERVATION AIRCRAFT MAY BE OPERATED DURING <br/>AN OBSERVATION FLIGHT AND PROCEDURES FOR <br/>VALIDATING THE AFF COMPUTER-ASSISTED <br/>TECHNIQUES</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Pursuant to Decision 14, Section V, Paragraph 1 (A) (2) and Annex C to Decision 16, the following computer-assisted technique may be used.</p>
      <p><strong>SECTION I.	PROCEDURES USED FOR THE DETERMINATION OF RESOLUTION OF THE VIDEO CAMERAS</strong></p>
        <div class="row">
          <p>After completion of paragraph 4, Section IV, Decision Number 14, the ground resolution for any configuration of video camera for the ith pass over the target is determined using a computer-assisted method in the following order:</p>
            <div class="col-sm-11 col-sm-offset-1">
              <p>1.	From the test target image for each bar group a value of amplitude frequency function (AFF), designated by Ai(f, Hi, Ki, τi) shall be calculated, which represents the relationship of the first harmonic amplitude in the target image from the spatial frequency f=1/(2Δ), where Δ is the width of the bar on the ground, or group number at a given contrast on the target Ki, aircraft flight altitude Hi and the atmosphere characterized by transmission τi.  To implement the procedure for the evaluation of the first harmonic amplitude an image or a mask of a given target should be used.</p>
              <p>2.	From separate readouts obtained in paragraph 1 above a smoothed AFF curve Ai(f, Hi, Ki, τi) is created.</p>
              <p>3.	A threshold function (TF), designated by M(f, Perror), shall be calculated, which represents the relationship of the minimum value of the first harmonic amplitude, under which every target group will be resolved with a probability of error Perror, from a spatial frequency f.  The TF is calculated on the basis of the evaluation of the correlation noise function of the video camera on the brightness fields of the target image, and its form depends on the target shape.</p>
              <p>4.	The resolution is determined from the spatial frequency given by the intersection of the AFF and TF curves.</p>
            </div>
        </div>
      <p><strong>SECTION II.  PROCEDURE USED FOR CALCULATION OF H<sub>min</sub></strong></p>
        <div class="col-sm-12">
          <p>1.	The AFF A<sub>i</sub>(f, H<sub>i</sub>, K<sub>i</sub>, τ<sub>i</sub>) obtained for the ith pass above the target is recalculated to an agreed contrast K<sub>a</sub>= 0.4.  As a result of this step a new AFF A<sub>i</sub>(f, H<sub>i</sub>, K<sub>i</sub>, τ<sub>i</sub>) will be determined which corresponds to the aircraft flight altitude in the ith pass and for the agreed contrast.</p>
          <p>2. On a basis of AFF calculated for the agreed contrast a family of AFF {A<sub>ik</sub>(f, H<sub>ik</sub>, K<sub>a</sub>, τ<sub>ak</sub>)} is calculated, k = 1, 2, 3, ..., at the agreed atmospheric conditions which are characterized by transmission τ<sub>ak</sub> for every altitude H<sub>ik</sub>.  The set of altitudes H<sub>ik</sub>, for which the AFF is being recalculated, is selected in such a way as to include the intersection of AFF and TF at agreed resolution &Delta;<sub>agreed</sub> = 30 cm.</p>
          <p>3.	From the intersection points of the set of AFF, A<sub>ik</sub>(f, H<sub>ik</sub>, K<sub>a</sub>, τ<sub>ak,</sub>), and TF, M(f, P<sub>error</sub>), a curve of aircraft flight altitude under agreed contrast and atmospheric parameters as a function of ground resolution H(&Delta;) of the video camera is prepared, which incorporates the value of the agreed resolution, &Delta;<sub>agreed</sub> = 30 cm.  From this curve a minimum altitude for a given pass shall be determined as:</p>
            <div class="col-sm-12 text-center">
              <p>H<sub>min i</sub> = H(&Delta;<sub>agreed</sub>)</p>
            </div>
          <p>4.	The procedures described in paragraphs 1-3 of Section II of this Appendix shall be repeated for n passes when analysing the image of a test target;  n &ge; 5 in case of certification and n &ge; 1 in case of demonstration flights.  As a result, a set of minimum altitudes {H<sub>min ij</sub>} will be obtained, where i is the number of a pass above the target and j = 1 for a target set across the aircraft track, and j = 2 for a target set along the aircraft track.</p>
          <p>5.	H<sub>min ij</sub> value is used to calculate average values H<sub>min j</sub> from the resolution evaluation across and along the aircraft track:</p>
          <p>6.	The minimum permissible altitude H<sub>min</sub> for a given configuration of video camera is the largest of the values of minimum permissible altitudes H<sub>min1</sub> and H<sub>min2</sub>, obtained for a set of targets located along and across the aircraft track.</p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>SECTION III.	PROCEDURE FOR VALIDATION OF A COMPUTER-ASSISTED CALCULATION OF H<sub>min</sub></strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>1.	Software validation is conducted in two stages using Test Pattern 4 from Annex A of Decision Number 16.  During the first stage, calculation of the resolution is evaluated; during the second stage, the accuracy of the H<sub>min</sub> calculation is evaluated.  The calibration input data given in Table 1 are entered for that purpose into the H<sub>min</sub> calculation software.</p>
      <p>2.	Calculation of the resolution is validated as follows:</p>
        <div class="col-sm-12">
          <P>(a) In accordance with paragraph 1, Section I of this Annex, an amplitude frequency function  is plotted from the test pattern 4 image; </P>
          <P>(b) Noise characteristics of the equipment are measured along the noise field of test pattern 4, which should match the values provided in Table 2.</P>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col table-responsive">
      <table class="table table-striped">
        <tr>
          <td><P>No.</p></td>
          <td><P>Parameter</p></td>
          <td><P>Calibration value</p></td>
        </tr>
        <tr>
          <td><P>1</p></td>
          <td><P>Width of a single bar in the first bar group</p></td>
          <td><P>0.6 m</p></td>
        </tr>
        <tr>
          <td><P>2</p></td>
          <td><P>Length of bars in the first bar group</p></td>
          <td><P>3 m</p></td>
        </tr>
        <tr>
          <td><P>3</p></td>
          <td><P>Bar widths reduction coefficient</p></td>
          <td><P>0.890899</p></td>
        </tr>
        <tr>
          <td><P>4</p></td>
          <td><P>Meteorological visibility (MV)</p></td>
          <td><P>10,000 m</p></td>
        </tr>
        <tr>
          <td><P>5</p></td>
          <td><P>Average reflectance of a dark bar</p></td>
          <td><P>0.4</p></td>
        </tr>
        <tr>
          <td><P>6</p></td>
          <td><P>Average reflectance of a light bar</p></td>
          <td><P>0.5</p></td>
        </tr>
        <tr>
          <td><P>7</p></td>
          <td><P>Ground illumination</p></td>
          <td><P>80,000 Lx</p></td>
        </tr>
        <tr>
          <td><P>8</p></td>
          <td><P>Equipment focal lengths</p></td>
          <td><P>30 cm</p></td>
        </tr>
        <tr>
          <td><P>9</p></td>
          <td><P>Linear dimensions of radiation detector</p></td>
          <td><P>12 &mu;m</p></td>
        </tr>
        <tr>
          <td><P>10</p></td>
          <td><P>Aircraft flight altitude</p></td>
          <td><P>400 m</p></td>
        </tr>
        <tr>
          <td><P>11</p></td>
          <td><P>Agreed value of MV</p></td>
          <td><P>10,000 m</p></td>
        </tr>
        <tr>
          <td><P>12</p></td>
          <td><P>Agreed value of reflectance of a dark bar</p></td>
          <td><P>0.2</p></td>
        </tr>
        <tr>
          <td><P>13</p></td>
          <td><P>Agreed value of reflectance of a light bar</p></td>
          <td><P>0.6</p></td>
        </tr>
        <tr>
          <td><P>14</p></td>
          <td><P>Agreed value of resolution</p></td>
          <td><P>0.3 m</p></td>
        </tr>
        <tr>
          <td><P>15</p></td>
          <td><P>Probability of error</p></td>
          <td><P>0.2</p></td>
        </tr>
      </table>
      <br/>
      <table class="table table-striped">
        <tr>
          <td><P>No.</p></td>
          <td><P>Parameter</p></td>
          <td><P>Calibration value</p></td>
        </tr>
        <tr>
          <td><P>1</p></td>
          <td><P>Average value of equipment noise</p></td>
          <td><P>62 ... 65</p></td>
        </tr>
        <tr>
          <td><P>2</p></td>
          <td><P>Standard deviation value of equipment noise</p></td>
          <td><P>1.0 ...1.5</p></td>
        </tr>
        <tr>
          <td><P>3</p></td>
          <td><P>Correlation radius of equipment noise values</p></td>
          <td><P>2 ... 3</p></td>
        </tr>
      </table>
    </div>
  </div>

<hr>
<!-- Decision 16 Appendix -->
  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a name="16Appendix" href="#sixteen">Back to Decision Sixteen</a><br/>
      <a onclick="toggleMenu1(&#39;menu1&#39;)" onclick="toggleMenu1(&#39;menu1&#39;)" href="#tosixteen">Back to Decision List</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>APPENDIX 1 <br/>TO ANNEX C TO DECISION NUMBER SIXTEEN TO THE TREATY ON OPEN SKIES <br/>AMPLITUDE FREQUENCY FUNCTION (AFF) COMPUTER-ASSISTED TECHNIQUE FOR <br/>CALCULATING THE MINIMUM HEIGHT ABOVE GROUND LEVEL AT WHICH EACH <br/>VIDEO CAMERA INSTALLED ON AN OBSERVATION AIRCRAFT MAY BE OPERATED <br/>DURING AN OBSERVATION FLIGHT AND PROCEDURES FOR VALIDATING THE AFF <br/>COMPUTER-ASSISTED TECHNIQUES</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Pursuant to Decision 14, Section V, Paragraph 1 (A) (2) and Annex C to Decision&nbsp;16, the following computer-assisted technique may be used.</p>
      <p><strong>SECTION I. PROCEDURES USED FOR THE DETERMINATION OF RESOLUTION OF THE VIDEO CAMERAS</strong></p>
        <div class="col-sm-12">
          <p>After completion of paragraph 4, Section IV, Decision Number 14, the ground resolution for any configuration of video camera for the ith pass over the target is determined using a computer-assisted method in the following order:</p>
            <div class="col-sm-12">
              <p>1. From the test target image for each bar group a value of amplitude frequency function (AFF), designated by A<sub>i</sub>(f, H<sub>i</sub>, K<sub>i</sub>, &#964;<sub>i</sub>) shall be calculated, which represents the relationship of the first harmonic amplitude in the target image from the spatial frequency f=1/(2&#916;), where &#916; is the width of the bar on the ground, or group number at a given contrast on the target K<sub>i</sub>, aircraft flight altitude H<sub>i</sub> and the atmosphere characterized by transmission &#964;<sub>i</sub>. To implement the procedure for the evaluation of the first harmonic amplitude an image or a mask of a given target should be used.</p>
              <p>2. From separate readouts obtained in paragraph 1 above a smoothed AFF curve A<sub>i</sub>(f,&nbsp;H<sub>i</sub>,&nbsp;K<sub>i</sub>,&nbsp;&#964;<sub>i</sub>) is created.</p>
              <p>3. A threshold function (TF), designated by M(f, P<sub>error</sub>), shall be calculated, which represents the relationship of the minimum value of the first harmonic amplitude, under which every target group will be resolved with a probability of error P<sub>error</sub>, from a spatial frequency f. The TF is calculated on the basis of the evaluation of the correlation noise function of the video camera on the brightness fields of the target image, and its form depends on the target shape.</p>
              <p>4. The resolution is determined from the spatial frequency given by the intersection of the AFF and TF curves</p>
            </div>
        </div>
      <p>SECTION II. PROCEDURE USED FOR CALCULATION OF H<sub>min</sub></p>
        <div class="col-sm-12">
          <p>1.  The AFF A<sub>i</sub>(f, H<sub>i</sub>, K<sub>i</sub>, &#964;<sub>i</sub>) obtained for the ith pass above the target is recalculated to an agreed contrast K<sub>a</sub>= 0.4. As a result of this step a new AFF A<sub>i</sub>(f, H<sub>i</sub>, K<sub>i</sub>, &#964;<sub>i</sub>) will be determined which corresponds to the aircraft flight altitude in the ith pass and for the agreed contrast.</p>
          <p>2. On a basis of AFF calculated for the agreed contrast a family of AFF {A<sub>ik</sub>(f,&nbsp;H<sub>ik</sub>,&nbsp;K<sub>a</sub>,&nbsp;&#964;<sub>ak</sub>)} is calculated, k = 1, 2, 3, ..., at the agreed atmospheric conditions which are characterized by transmission &#964;<sub>ak</sub> for every altitude H<sub>ik</sub>.The set of altitudes H<sub>ik</sub>, for which the AFF is being recalculated, is selected in such a way as to include the intersection of AFF and TF at agreed resolution &#916;<sub>agreed</sub> = 30 cm.</p>
          <p>3. From the intersection points of the set of AFF, A<sub>ik</sub>(f, H<sub>ik</sub>, K<sub>a</sub>, &#964;<sub>ak</sub>), and TF, M(f,&nbsp;P<sub>error</sub>), a curve of aircraft flight altitude under agreed contrast and atmospheric parameters as a function of ground resolution H(&#916;) of the video camera is prepared, which incorporates the value of the agreed resolution, &#916;<sub>agreed</sub> = 30 cm. From this curve a minimum altitude for a given pass shall be determined as:</p>
            <div class="col-sm-8 col-sm-offset-4">
              <p>H<sub>min</sub><sub> i</span></sub> = H(&#916;<sub>agreed</sub>)</p>
            </div>
          <p>4. The procedures described in paragraphs 1-3 of Section&nbsp;II of this Appendix shall be repeated for n passes when analysing the image of a test target; n&nbsp;</span> <sup>3</sup> &nbsp;5 in case of certification and n&nbsp; <sup>3</sup>&nbsp;1 in case of demonstration flights.As a result, a set of minimum altitudes {H<sub>min</sub> <sub>ij</sub>} will be obtained, where i is the number of a pass above the target and j&nbsp;=&nbsp;1 for a target set across the aircraft track, and j = 2 for a target set along the aircraft track.</p>
          <p>5. H<sub>min</sub><sub> ij</sub> value is used to calculate average values H<sub>min</sub><sub> j</sub> from the resolution evaluation across and along the aircraft track:</p>
          <p>6. The minimum permissible altitude H<sub>min</sub> for a given configuration of video camera is the largest of the values of minimum permissible altitudes H<sub>min1</sub> and H<sub>min2</sub>, obtained for a set of targets located along and across the aircraft track.</p>
        </div>
      <p>SECTION III. PROCEDURE FOR VALIDATION OF A COMPUTER-ASSISTED CALCULATION OF H<sub>min</sub></p>
        <div class="col-sm-12">
          <p>1. Software validation is conducted in two stages using Test Pattern&nbsp;4 from Annex&nbsp;A of Decision Number&nbsp;16. During the first stage, calculation of the resolution is evaluated; during the second stage, the accuracy of the H<sub>min</sub> calculation is evaluated. The calibration input data given in Table&nbsp;1 are entered for that purpose into the H<sub>min</sub> calculation software.</p>
          <p>2. Calculation of the resolution is validated as follows:</p>
            <div class="col-sm-11 col-sm-offset-1">
              <p>(a) In accordance with paragraph&nbsp;1, Section&nbsp;I of this Annex, an amplitude frequency function A<sub>i</sub>(f, H<sub>i</sub>, K<sub>i</sub>, &#964;<sub>i</sub>) is plotted from the Test Pattern&nbsp;4 image;</p>
              <p>(b) Noise characteristics of the equipment are measured along the noise field of Test Pattern&nbsp;4, which should match the values provided in Table&nbsp;2.</p>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>TABLE 1</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col table-responsive">
      <table class="table table-striped">
        <tr>
          <td><p>No.</p></td>
          <td><p>Parameter</p></td>
          <td><p>tab-stops:-1.0in -.5in 0in 47.05pt 79.35pt 1.5in'>Calibration value</p></td>
        </tr>
        <tr>
          <td><p>1</p></td>
          <td><p>Width of a single bar in the first bar group</p></td>
          <td><p>0.6m</p></td>
        </tr>
        <tr>
          <td><p>2</p></td>
          <td><p>Length of bars in the first bar group</p></td>
          <td><p>3m</p></td>
        </tr>
        <tr>
          <td><p>3</p></td>
          <td><p>Bar widths reduction coefficient</p></td>
          <td><p>0.890899</p></td>
        </tr>
        <tr>
          <td><p>4</p></td>
          <td><p>Meteorological visibility (MV)</p></td>
          <td><p>10,000m</p></td>
        </tr>
        <tr>
          <td><p>5</p></td>
          <td><p>Average reflectance of a dark bar</p></td>
          <td><p>0.4</p></td>
        </tr>
        <tr>
          <td><p>6</p></td>
          <td><p>Average reflectance of a light bar</p></td>
          <td><p>0.5</p></td>
        </tr>
        <tr>
          <td><p>7</p></td>
          <td><p>Ground illumination</p></td>
          <td><p>80,000Lx</p></td>
        </tr>
        <tr>
          <td><p>8</p></td>
          <td><p>Equipment focal lengths</p></td>
          <td><p>30cm</p></td>
        </tr>
        <tr>
          <td><p>9</span></p></td>
          <td><p>Linear dimensions of radiation detector</p></td>
          <td><p>12&micro;m</p></td>
        </tr>
        <tr>
          <td><p>10</p></td>
          <td><p>Aircraft flight altitude</p></td>
          <td><p>400m</p></td>
        </tr>
        <tr>
          <td><p>11</p></td>
          <td><p>Agreed value of MV</p></td>
          <td><p>10,000m</p></td>
        </tr>
        <tr>
          <td><p>12</p></td>
          <td><p>Agreed value of reflectance of a dark bar</p></td>
          <td><p>0.2</p></td>
        </tr>
        <tr>
          <td><p>13</p></td>
          <td><p>Agreed value of reflectance of a light bar</p></td>
          <td><p>0.6</p></td>
        </tr>
        <tr>
          <td><p>14</p></td>
          <td><p>Agreed value of resolution</p></td>
          <td><p>0.3m</p></td>
        </tr>
        <tr>
          <td><p>15</p></td>
          <td><p>Probability of error</p></td>
          <td><p>0.2</p></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>TABLE 2</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col table-responsive">
      <table class="table table-striped">
        <tr>
        <td><p>No.</p></td>
        <td><p>Parameter</p></td>
        <td><p>Calibration value</p></td>
        </tr>
        <tr>
        <td><p>1</p></td>
        <td><p>Average value of equipment noise</p></td>
        <td><p>62 ... 65</p></td>
        </tr>
        <tr>
        <td><p>2</p></td>
        <td><p>Standard deviation value of equipment noise</p></td>
        <td><p>1.0 ... 1.5</p></td>
        </tr>
        <tr>
        <td><p>3</p></td>
        <td><p>Correlation radius of equipment noise values</p></td>
        <td><p>2 ... 3</p></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>3. In accordance with paragraph 2, Section&nbsp;I of this Appendix, the threshold function M(f, P<sub>error</sub>) is plotted.The intersection of M(f, P<sub>error</sub>) with the amplitude frequency function determines the resolved bar group, which must correspond to 11 for the AFF computer-assisted technique to be validated.</p>
      <p>4. The accuracy of the H<sub>min</sub> calculation is determined from the software output, which for the input data provided and the resulting H<sub>min</sub> must be in the range of 830 to 870&nbsp;metres for the AFF computer-assisted technique to be validated.</p>
    </div>
  </div>

<hr/>
