<!--Decision 2/06 -->
<div id="decisin_2_6"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/2/06
      <br>25 September 2006
      <br>OSCC+
      <br>Original: ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>1st Meeting of the 41st Session</strong> <br>OSCC(41) Journal No. 124, Agenda item 3</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 2/06 <br>PROCEDURES FOR COUNTING QUOTAS AND THE ALLOCATION OF COSTS <br>IN CASES WHERE THE OBSERVATION AIRCRAFT IS PROVIDED BY THE OBSERVING STATE PARTY AND <br>THE OBSERVATION FLIGHT DOES NOT COMMENCE</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Seeking to reach a common interpretation of the procedures for distribution of costs when the observation aircraft is provided by the observing Party in cases not covered by the provisions of the Treaty on Open Skies, the Open Skies Consultative Commission has agreed as follows:</p>
        <div class="col-sm-12">
          <p>1. The scheduled observation flight is not counted against the quotas of either State Party in cases where the observation aircraft of the observing Party arrived in the territory of the observed Party, but the observation flight did not commence due to technical problems related to the observation aircraft or its sensors, the need to render emergency medical assistance to a member of the flight crew, or to a member of the mission of the observing Party, indispensable for the conduct of the observation flight.</p>
          <p>The observing Party, in accordance with the mechanism set forth in Decision Number One to the Treaty on Open Skies, shall reimburse the observed Party for:</p>
            <div class="col-sm-12">
              <p>(a) Costs related to materials and services as well as costs related to meals and accommodation of the personnel of the observing Party in accordance with Decision Number One;</p>
              <p>(b) Costs of the observed Party related to meal and accommodation of the personnel of the observed Party, not to exceed six in number, and in exceptional cases, upon agreement between the Parties involved, up to 10 persons, starting from the time of the first landing on the territory of the observed Party until take-off from the point of exit of the observed Party. The observed Party will provide a list of escort personnel upon the arrival of the mission of the observing Party.</p>
            </div>
          <p>2. In cases where the observation flight has not been conducted for the reasons set forth in paragraph 1 of this decision, the observing Party shall notify all other States Parties to the Treaty.</p>
          <p>3. In cases where the observing Party(s) does not reuse this unused quota in the course of a calendar year, the costs mentioned in paragraph 1(b) of this decision, regardless of the number of personnel from the observed Party, shall not be reimbursed. This provision shall apply once for the same unused quota.</p>
          <p>4. In case of shared flights, the costs mentioned in paragraph 1(b) of this decision shall be reimbursed by the Party or Parties that make use of the unused quota.</p>
          <p>This decision shall enter into force on the date of its adoption and shall have the same duration as the Treaty on Open Skies.</p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 25 September 2006, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
