<!-- Decision 1/06 -->
<div id="decision_1_6"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a>
      <br><a href="#to1/06.1">Annex 1</a>
      <br><a href="#to1/06.2">Annex 2</a>
      <br><a href="#to1/06.3">Annex 3</a>
      <br><a href="#to1/06.4">Annex 4</a>
      <br><a href="#to1/06.5">Annex 5</a>
      <br><a href="#to1/06.app">Appendix</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/1/06
      <br>27 March 2006
      <br>OSCC+
      <br>Original: ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>3rd Meeting of the 39th Session</strong> <br>OSCC(39) Journal No. 120, Agenda item 3</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 1/06 <br>REVISION OF THE OSCC SCALES OF DISTRIBUTION <br>FOR 2005-2007 DUE TO THE REVISION OF THE OSCE <br>STANDARD SCALE OF CONTRIBUTIONSFOR 2005-2007</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p> The Open Skies Consultative Commission (OSCC),</p>
        <div class="col-sm-12">
          <p>1. Pursuant to the provisions of paragraph 4 (D) of Article X and paragraph 9 of Section I of Annex L of the Treaty on Open Skies,</p>
          <p>2. In accordance with the provisions and Annexes of Decision Number Ten to the Treaty on Open Skies of 16 July 1993 (OSCC/III/Dec.10) contained in the Appendix to this decision,</p>
          <p>3. Pursuant to the provision of paragraph 1 of OSCC Decision No. 21/02 of 9 September 2002 (OSCC.DEC/21/02) that &quot;the scale of distribution of the Open Skies Consultative Commission shall be revised to reflect any revisions of the Standard Scale of Contributions&quot; (replacing the OSCE's &quot;Helsinki scale&quot;),</p>
          <p>4. Taking into account OSCE Permanent Council Decision No. 704 of 24 November 2005 on the scales of contributions for 2005-2007 (PC.DEC/704), which revised the OSCE Standard Scale of Contributions for 2005, 2006 and 2007,</p>
          <p>5. Taking into account that the special regime established by OSCC/III/Dec.10 continues to apply for the Russian Federation, Ukraine, Belarus and Georgia, and that respective ad hoc additional contributions of these States Parties in 2005, 2006 and 2007 amount to 0.05, 0.02, 0.01 and 0.01 (in percentages),</p>
        </div>
      <p>Decides to redistribute OSCC costs and agrees on the following revised scales of distribution for the common expenses associated with the operation of the OSCC:</p>
        <div class="col-sm-12">
          <p>1. The OSCC scale of distribution contained in Annex 1 shall be retroactively applied for the redistribution of OSCC costs for the period between 1 January 2005 and 30 June 2005;</p>
          <p>2. The OSCC scale of distribution contained in Annex 2 shall be retroactively applied for the redistribution of OSCC costs for the period between 1 July 2005 and 30 September 2005;</p>
          <p>3. The OSCC scale of distribution contained in Annex 3 shall be applied for the distribution of OSCC costs for the period between 1 October 2005 and 31 December 2005;</p>
          <p>4. The OSCC scale of distribution contained in Annex 4 shall be applied for the distribution of OSCC costs as of 1 January 2006.</p>
          <p>5. The OSCC scale of distribution contained in Annex 5 shall be applied for the distribution of OSCC costs as of 1 January 2007.</p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 27 March 2006, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a name="to1/06.1" href="#1/06"> Back to Decision 1/06</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/1/06
      <br/>2 March 2006
      <br/>Annex 1</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>THE OSCC SCALE OF DISTRIBUTION <br>FOR THE PERIOD FROM 1 JANUARY 2005 TO 30 JUNE 2005</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col table-responsive">
      <table class="table table-striped">
        <tr>
          <td>United States of America</td>
          <td>12.045</td>
        </tr>
        <tr>
          <td>Germany</td>
          <td>10.2385</td>
        </tr>
        <tr>
          <td>France</td>
          <td>10.2385</td>
        </tr>
        <tr>
          <td>United Kingdom</td>
          <td>10.2385</td>
        </tr>
        <tr>
          <td>Italy</td>
          <td>10.2385</td>
        </tr>
        <tr>
          <td>Russian Federation</td>
          <td>6.670</td>
        </tr>
        <tr>
          <td>Canada</td>
          <td>5.968</td>
        </tr>
        <tr>
          <td>Spain</td>
          <td>4.903</td>
        </tr>
        <tr>
          <td>Netherlands</td>
          <td>4.325</td>
        </tr>
        <tr>
          <td>Sweden</td>
          <td>4.325</td>
        </tr>
        <tr>
          <td>Belgium</td>
          <td>3.808</td>
        </tr>
        <tr>
          <td>Norway</td>
          <td>2.4145</td>
        </tr>
        <tr>
          <td>Denmark</td>
          <td>2.250</td>
        </tr>
        <tr>
          <td>Finland</td>
          <td>2.162</td>
        </tr>
        <tr>
          <td>Poland</td>
          <td>1.5255</td>
        </tr>
        <tr>
          <td>Turkey</td>
          <td>1.108</td>
        </tr>
        <tr>
          <td>Greece</td>
          <td>1.043</td>
        </tr>
        <tr>
          <td>Portugal</td>
          <td>1.010</td>
        </tr>
        <tr>
          <td>Ukraine</td>
          <td>0.840</td>
        </tr>
        <tr>
          <td>Hungary</td>
          <td>0.713</td>
        </tr>
        <tr>
          <td>Czech Republic</td>
          <td>0.713</td>
        </tr>
        <tr>
          <td>Romania</td>
          <td>0.680</td>
        </tr>
        <tr>
          <td>Bulgaria</td>
          <td>0.604</td>
        </tr>
        <tr>
          <td>Luxembourg</td>
          <td>0.549</td>
        </tr>
        <tr>
          <td>Belarus</td>
          <td>0.360</td>
        </tr>
        <tr>
          <td>Slovakia</td>
          <td>0.335</td>
        </tr>
        <tr>
          <td>Slovenia</td>
          <td>0.2195</td>
        </tr>
        <tr>
          <td>Croatia</td>
          <td>0.2085</td>
        </tr>
        <tr>
          <td>Iceland</td>
          <td>0.2085</td>
        </tr>
        <tr>
          <td>Latvia</td>
          <td>0.2085</td>
        </tr>
        <tr>
          <td>Bosnia and Herzegovina</td>
          <td>0.137</td>
        </tr>
        <tr>
          <td>Georgia</td>
          <td>0.060</td>
        </tr>
        <tr>
          <td>Total</td>
          <td>100.0000</td>
        </tr>
      </table>
    </div>
  </div>

<hr>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a name="to1/06.2" href="#1/06">Back to Decision 1/06</a><p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/1/06
      <br/>27 March 2006
      <br/>Annex 2</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>THE OSCC SCALE OF DISTRIBUTION <br/>FOR THE PERIOD FROM 1 JULY 2005 TO 30 SEPTEMBER 2005</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col table-responsive">
      <table class="table table-striped">
        <tr>
          <td>United States of America</td>
          <td>12.045</td>
        </tr>
        <tr>
          <td>Germany</td>
          <td>10.2385</td>
        </tr>
        <tr>
          <td>France</td>
          <td>10.2385</td>
        </tr>
        <tr>
          <td>United Kingdom</td>
          <td>10.2385</td>
        </tr>
        <tr>
          <td>Italy</td>
          <td>10.2385</td>
        </tr>
        <tr>
          <td>Russian Federation</td>
          <td>6.670</td>
        </tr>
        <tr>
          <td>Canada</td>
          <td>5.968</td>
        </tr>
        <tr>
          <td>Spain</td>
          <td>4.906</td>
        </tr>
        <tr>
          <td>Netherlands</td>
          <td>4.325</td>
        </tr>
        <tr>
          <td>Sweden</td>
          <td>3.811</td>
        </tr>
        <tr>
          <td>Belgium</td>
          <td>3.800</td>
        </tr>
        <tr>
          <td>Norway</td>
          <td>2.409</td>
        </tr>
        <tr>
          <td>Denmark</td>
          <td>2.245</td>
        </tr>
        <tr>
          <td>Finland</td>
          <td>2.157</td>
        </tr>
        <tr>
          <td>Poland</td>
          <td>1.522</td>
        </tr>
        <tr>
          <td>Turkey</td>
          <td>1.106</td>
        </tr>
        <tr>
          <td>Greece</td>
          <td>1.040</td>
        </tr>
        <tr>
          <td>Portugal</td>
          <td>1.007</td>
        </tr>
        <tr>
          <td>Ukraine</td>
          <td>0.840</td>
        </tr>
        <tr>
          <td>Hungary</td>
          <td>0.712</td>
        </tr>
        <tr>
          <td>Czech Republic</td>
          <td>0.712</td>
        </tr>
        <tr>
          <td>Romania</td>
          <td>0.679</td>
        </tr>
        <tr>
          <td>Bulgaria</td>
          <td>0.602</td>
        </tr>
        <tr>
          <td>Luxembourg</td>
          <td>0.548</td>
        </tr>
        <tr>
          <td>Belarus</td>
          <td>0.360</td>
        </tr>
        <tr>
          <td>Slovakia</td>
          <td>0.334</td>
        </tr>
        <tr>
          <td>Slovenia</td>
          <td>0.219</td>
        </tr>
        <tr>
          <td>Croatia</td>
          <td>0.208</td>
        </tr>
        <tr>
          <td>Estonia</td>
          <td>0.208</td>
        </tr>
        <tr>
          <td>Iceland</td>
          <td>0.208</td>
        </tr>
        <tr>
          <td>Latvia</td>
          <td>0.208</td>
        </tr>
        <tr>
          <td>Bosnia and Herzegovina</td>
          <td>0.137</td>
        </tr>
        <tr>
          <td>Georgia</td>
          <td>0.060</td>
        </tr>
        <tr>
          <td>Total</td>
          <td>100.0000</td>
        </tr>
      </table>
    </div>
  </div>

<hr>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a name="to1/06.3" href="#1/06">Back to Decision 1/06</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/1/06
      <br/>27 March 2006
      <br/>Annex 3</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>THE OSCC SCALE OF DISTRIBUTION <br/>FOR THE PERIOD FROM 1 OCTOBER 2005 TO 31 DECEMBER 2005</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col table-responsive">
      <table class="table table-striped">
        <tr>
          <td>United States of America</td>
          <td>12.018</td>
        </tr>
        <tr>
          <td>Germany</td>
          <td>10.215</td>
        </tr>
        <tr>
          <td>France</td>
          <td>10.215</td>
        </tr>
        <tr>
          <td>United Kingdom</td>
          <td>10.215</td>
        </tr>
        <tr>
          <td>Italy</td>
          <td>10.215</td>
        </tr>
        <tr>
          <td>Russian Federation</td>
          <td>6.670</td>
        </tr>
        <tr>
          <td>Canada</td>
          <td>5.954</td>
        </tr>
        <tr>
          <td>Spain</td>
          <td>4.895</td>
        </tr>
        <tr>
          <td>Netherlands</td>
          <td>4.316</td>
        </tr>
        <tr>
          <td>Sweden</td>
          <td>3.802</td>
        </tr>
        <tr>
          <td>Belgium</td>
          <td>3.791</td>
        </tr>
        <tr>
          <td>Norway</td>
          <td>2.404</td>
        </tr>
        <tr>
          <td>Denmark</td>
          <td>2.240</td>
        </tr>
        <tr>
          <td>Finland</td>
          <td>2.152</td>
        </tr>
        <tr>
          <td>Poland</td>
          <td>1.519</td>
        </tr>
        <tr>
          <td>Turkey</td>
          <td>1.103</td>
        </tr>
        <tr>
          <td>Greece</td>
          <td>1.038</td>
        </tr>
        <tr>
          <td>Portugal</td>
          <td>1.005</td>
        </tr>
        <tr>
          <td>Ukraine</td>
          <td>0.840</td>
        </tr>
        <tr>
          <td>Hungary</td>
          <td>0.710</td>
        </tr>
        <tr>
          <td>Czech Republic</td>
          <td>0.710</td>
        </tr>
        <tr>
          <td>Romania</td>
          <td>0.677</td>
        </tr>
        <tr>
          <td>Bulgaria</td>
          <td>0.601</td>
        </tr>
        <tr>
          <td>Luxembourg</td>
          <td>0.546</td>
        </tr>
        <tr>
          <td>Belarus</td>
          <td>0.360</td>
        </tr>
        <tr>
          <td>Slovakia</td>
          <td>0.333</td>
        </tr>
        <tr>
          <td>Slovenia</td>
          <td>0.219</td>
        </tr>
        <tr>
          <td>Croatia</td>
          <td>0.208</td>
        </tr>
        <tr>
          <td>Estonia</td>
          <td>0.208</td>
        </tr>
        <tr>
          <td>Iceland</td>
          <td>0.208</td>
        </tr>
        <tr>
          <td>Latvia</td>
          <td>0.208</td>
        </tr>
        <tr>
          <td>Lithuania</td>
          <td>0.208</td>
        </tr>
        <tr>
          <td>Bosnia and Herzegovina</td>
          <td>0.137</td>
        </tr>
        <tr>
          <td>Georgia</td>
          <td>0.060</td>
        </tr>
        <tr>
          <td>Total</td>
          <td>100.0000</td>
        </tr>
      </table>
    </div>
  </div>

<hr>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a name="to1/06.4" href="#1/06">Back to Decision 1/06</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/1/06
      <br/>27 March 2006
      <br/>Annex 4</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>THE OSCC SCALE OF DISTRIBUTION <br/>EFFECTIVE AS OF 1 JANUARY 2006</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col table-responsive">
      <table class="table table-striped">
        <tr>
          <td>United States of America</td>
          <td>12.070</td>
        </tr>
        <tr>
          <td>Germany</td>
          <td>10.259</td>
        </tr>
        <tr>
          <td>France</td>
          <td>10.259</td>
        </tr>
        <tr>
          <td>United Kingdom</td>
          <td>10.259</td>
        </tr>
        <tr>
          <td>Italy</td>
          <td>10.259</td>
        </tr>
        <tr>
          <td>Russian Federation</td>
          <td>6.550</td>
        </tr>
        <tr>
          <td>Canada</td>
          <td>6.068</td>
        </tr>
        <tr>
          <td>Spain</td>
          <td>5.025</td>
        </tr>
        <tr>
          <td>Netherlands</td>
          <td>4.565</td>
        </tr>
        <tr>
          <td>Sweden</td>
          <td>3.698</td>
        </tr>
        <tr>
          <td>Belgium</td>
          <td>3.665</td>
        </tr>
        <tr>
          <td>Norway</td>
          <td>2.359</td>
        </tr>
        <tr>
          <td>Denmark</td>
          <td>2.217</td>
        </tr>
        <tr>
          <td>Finland</td>
          <td>2.107</td>
        </tr>
        <tr>
          <td>Poland</td>
          <td>1.470</td>
        </tr>
        <tr>
          <td>Turkey</td>
          <td>1.108</td>
        </tr>
        <tr>
          <td>Greece</td>
          <td>1.075</td>
        </tr>
        <tr>
          <td>Portugal</td>
          <td>1.075</td>
        </tr>
        <tr>
          <td>Ukraine</td>
          <td>0.730</td>
        </tr>
        <tr>
          <td>Hungary</td>
          <td>0.658</td>
        </tr>
        <tr>
          <td>Romania</td>
          <td>0.658</td>
        </tr>
        <tr>
          <td>Czech Republic</td>
          <td>0.658</td>
        </tr>
        <tr>
          <td>Bulgaria</td>
          <td>0.604</td>
        </tr>
        <tr>
          <td>Luxembourg</td>
          <td>0.516</td>
        </tr>
        <tr>
          <td>Belarus</td>
          <td>0.320</td>
        </tr>
        <tr>
          <td>Slovakia</td>
          <td>0.307</td>
        </tr>
        <tr>
          <td>Slovenia</td>
          <td>0.219</td>
        </tr>
        <tr>
          <td>Croatia</td>
          <td>0.209</td>
        </tr>
        <tr>
          <td>Estonia</td>
          <td>0.209</td>
        </tr>
        <tr>
          <td>Iceland</td>
          <td>0.209</td>
        </tr>
        <tr>
          <td>Latvia</td>
          <td>0.209</td>
        </tr>
        <tr>
          <td>Lithuania</td>
          <td>0.209</td>
        </tr>
        <tr>
          <td>Bosnia and Herzegovina</td>
          <td>0.137</td>
        </tr>
        <tr>
          <td>Georgia</td>
          <td>0.060</td>
        </tr>
        <tr>
          <td>Total</td>
          <td>100.0000</td>
        </tr>
      </table>
    </div>
  </div>

<hr>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a name="to1/06.5" href="#1/06">Back to Decision 1/06</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/1/06
      <br/>27 March 2006
      <br/>Annex 5</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>THE OSCC SCALE OF DISTRIBUTION <br/>EFFECTIVE AS OF 1 JANUARY 2007</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col table-responsive">
      <table class="table table-striped">
        <tr>
          <td>United States of America</td>
          <td>12.638</td>
        </tr>
        <tr>
          <td>Germany</td>
          <td>10.275</td>
        </tr>
        <tr>
          <td>France</td>
          <td>10.275</td>
        </tr>
        <tr>
          <td>United Kingdom</td>
          <td>10.275</td>
        </tr>
        <tr>
          <td>Italy</td>
          <td>10.275</td>
        </tr>
        <tr>
          <td>Canada</td>
          <td>6.077</td>
        </tr>
        <tr>
          <td>Russian Federation</td>
          <td>6.050</td>
        </tr>
        <tr>
          <td>Spain</td>
          <td>5.033</td>
        </tr>
        <tr>
          <td>Netherlands</td>
          <td>4.791</td>
        </tr>
        <tr>
          <td>Belgium</td>
          <td>3.561</td>
        </tr>
        <tr>
          <td>Sweden</td>
          <td>3.561</td>
        </tr>
        <tr>
          <td>Denmark</td>
          <td>2.308</td>
        </tr>
        <tr>
          <td>Norway</td>
          <td>2.253</td>
        </tr>
        <tr>
          <td>Finland</td>
          <td>2.033</td>
        </tr>
        <tr>
          <td>Poland</td>
          <td>1.484</td>
        </tr>
        <tr>
          <td>Turkey</td>
          <td>1.110</td>
        </tr>
        <tr>
          <td>Greece</td>
          <td>1.077</td>
        </tr>
        <tr>
          <td>Portugal</td>
          <td>1.077</td>
        </tr>
        <tr>
          <td>Ukraine</td>
          <td>0.700</td>
        </tr>
        <tr>
          <td>Hungary</td>
          <td>0.659</td>
        </tr>
        <tr>
          <td>Romania</td>
          <td>0.659</td>
        </tr>
        <tr>
          <td>Czech Republic</td>
          <td>0.626</td>
        </tr>
        <tr>
          <td>Bulgaria</td>
          <td>0.604</td>
        </tr>
        <tr>
          <td>Luxembourg</td>
          <td>0.517</td>
        </tr>
        <tr>
          <td>Slovakia</td>
          <td>0.308</td>
        </tr>
        <tr>
          <td>Belarus</td>
          <td>0.290</td>
        </tr>
        <tr>
          <td>Slovenia</td>
          <td>0.242</td>
        </tr>
        <tr>
          <td>Croatia</td>
          <td>0.209</td>
        </tr>
        <tr>
          <td>Estonia</td>
          <td>0.209</td>
        </tr>
        <tr>
          <td>Iceland</td>
          <td>0.209</td>
        </tr>
        <tr>
          <td>Latvia</td>
          <td>0.209</td>
        </tr>
        <tr>
          <td>Lithuania</td>
          <td>0.209</td>
        </tr>
        <tr>
          <td>Bosnia and Herzegovina</td>
          <td>0.137</td>
        </tr>
        <tr>
          <td>Georgia</td>
          <td>0.060</td>
        </tr>
        <tr>
          <td>Total</td>
          <td>100.0000</td>
        </tr>
      </table>
    </div>
  </div>

<hr>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List </a></p>
      <p align="left"><a href="#1/06"> Back to Decision 1/06</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/1/06
      <br/>27 March 2006
      <br/>Appendix</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>Provisions of OSCC/III/Dec.10:</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>1. The scale of distribution for the common expenses associated with the operation of the Open Skies Consultative Commission &#40;hereafter referred to as the &quot;scale of distribution of the Open Skies Consultative Commission&#41; is based on the scale of distribution adopted in Helsinki on 10 July 1992, by the participating States to the CSCE &#40;hereafter referred to as the &quot;Helsinki scale&quot;&#41;. The special regime established by this Decision takes into account present economic conditions and is limited in scope and in time. It does not constitute a precedent for any other CSCE or CSCE related body.</p>
      <p>2. Taking into account the fact that not all participating States to the CSCE are Parties to the Treaty, States Parties have to make an additional contribution to their contribution to the &quot;Helsinki scale&quot;, in order to cover the existing shortfall.</p>
        <div class="col-sm-11 col-sm-offset-1">
          <p>(A) As a rule, this additional contribution will be proportional to the &quot;Helsinki scale&quot; Nevertheless, any State Party may provide a higher additional contribution.</p>
          <p>(B) However, taking into account their present economic situation, those countries listed in Annex A to this Decision will be exempted from the proportional contribution mentioned in subparagraph (A) and will only make an ad hoc additional contribution, agreed by the States Parties.</p>
          <p>(C) The	special regime established in subparagraph (B) will last as long as the	economic situation of the countries listed in Annex A to this Decision so requires. The special regime will thus be subject to review every year.</p>
        </div>
      <p>3. As long as only participating States to the CSCE are Parties to the Treaty, and provided that there remains a shortfall to be covered, the financial contribution to the scale of distribution of the Open Skies Consultative Commission of any State Party will have to be superior to its contribution to the &quot;Helsinki scale&quot;.&quot;</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>Annex A to OSCC/III/Dec.10:</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>&quot;List of countries to which the special regime established in paragraph 2, subparagraph&nbsp;(B) of the Decision on the scale of distribution of the Open Skies Consultative Commission may apply:</p>
        <div class="col-sm-11 col-sm-offset-1">
          <p>Armenia</p>
          <p>Azerbaijan</p>
          <p>Belarus</p>
          <p>Georgia</p>
          <p>Kazakhstan</p>
          <p>Kyrgyzstan</p>
          <p>Moldova</p>
          <p>Russian Federation</p>
          <p>Tajikistan</p>
          <p>Turkmenistan</p>
          <p>Ukraine</p>
          <p>Uzbekistan&quot;</p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>Annex B to OSCC/III/Dec.10:</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>1. The financial contribution to the scale of distribution of the OSCC of each State Party to the Treaty, except those which benefit from the special regime established in paragraph 2, subparagraph (B) of the above-mentioned Decision, those that provide higher additional contributions and those which are not participating States to the CSCE, is calculated as follows (in percentages):</p>
        <div class="col-sm-12">
          <p >OS<sub>i</sub>= K x H<sub>i</sub></p>
          <p>where:</p>
            <div class="col-sm-11 col-sm-offset-1">
              <p>i = State Party to which the present paragraph applies</p>
              <p>OS<sub>i</sub> = financial contribution of State Party i</p>
              <p>H<sub>i</sub> = contribution to the &quot;Helsinki scale&quot; of State Party i</p>
              <p>K = correction coefficient</p>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>2. The financial contribution to the scale of distribution of the OSCC of a State Party that provides a higher additional contribution is calculated as follows &#40;in percentages&#41;:</p>
        <div class="col-sm-12">
          <p>OS<sub>m</sub> = H<sub>m</sub> + E<sub>m</sub></p>
          <p>where:</p>
            <div class="col-sm-11 col-sm-offset-1">
              <p>m = State Party to which the present paragraph applies</p>
              <p>OS<sub>m</sub> = financial contribution of State Party m</p>
              <p>H<sub>m</sub> = contribution to the &quot;Helsinki scale&quot; of State Party m</p>
              <p>E<sub>m</sub> = additional contribution of State Party m</p>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>3. The financial contribution to the scale of distribution of the OSCC of a State Party to which the special regime established in paragraph 2, subparagraph (B) of the above-mentioned Decision applies is calculated as follows (in percentages):</p>
        <div class="col-sm-12">
          <p>OS<sub>j</sub> = H<sub>j</sub> + A<sub>j</sub></p>
          <p>where:</p>
            <div class="col-sm-11 col-sm-offset-1">
              <p>j = State Party to which the present paragraph applies</p>
              <p>OS<sub>j</sub> = financial contribution of State Party j</p>
              <p>H<sub>j</sub> = contribution to the &quot;Helsinki scale&quot; of State Party&nbsp;j</p>
              <p>A<sub>j</sub> = ad hoc additional contribution of State Party&nbsp;j</p>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>4. Coefficient K is determined from the formula:</p>
        <div class="col-sm-12">
          <p>(K x &sum;<sub>H<sub>i</sub></sub>) + &sum;<sub>OS<sub>m</sub></sub> + &sum;<sub>OS<sub>j</sub></sub> = 100%</p>
          </br>
          <table>
          <tr>
          <td><i>or</i>:&nbsp;&nbsp;K = </td>
          <td>
          <p>100% &#8211; &sum;<sub>OS<sub>m</sub></sub> &#8211; &sum;<sub>OS<sub>j</sub></sub>
          <br/><b>______________________________________</b></p>
          <p align="center">&sum;<sub>H<sub>i</sub></sub></p>
          </td>
          </tr>
          </table>

          <p>where:</p>
            <div class="col-sm-11 col-sm-offset-1">
              <p>&sum;H<sub>i</sub> = sum of contributions to &quot;Helsinki scale&quot; of States Parties i &#8212; see paragraph 1 above.</p>
              <p>&sum;OS<sub>m</sub> = sum of contributions to the scale of distribution of the OSCC of States Parties m &#8212; see paragraph 2 above.</p>
              <p>&sum;OS<sub>j</sub> = sum of contributions to the scale of distribution of the OSCC of States Parties&nbsp;j &#8212; see paragraph&nbsp;3 above.&quot;</p>
            </div>
        </div>
    </div>
  </div>

<hr>
