<!-- DECISION 11/05.Rev1 -->
<div id="decision_11_5_r1"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/11/05 Rev.1
      <br>17 July 2006
      <br>OSCC+
      <br>Original: ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>3rd Meeting of the 40th Session</strong> <br>OSCC(40) Journal No. 123, Agenda item 4</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 11/05/Rev.1 <br/>TO THE TREATY ON OPEN SKIES <br/>Distribution of active quotas for observation flights in the year 2006</p></strong>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>In accordance with Article III, Section I, paragraphs 5, 7 and 10; Annex A, Section II, paragraph 2; and Annex L, Section II, of the Treaty on Open Skies and OSCC Decision No. 12/04, the Open Skies Consultative Commission has decided on the following distribution of active quotas for observation flights for the year 2006:</p>
        <div class="col-sm-12">
          <p> &#8212; <strong>The Federal Republic of Germany</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p> &#8212; Four (4) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one (1) shared with the French Republic, one (1) shared with the Kingdom of Sweden, one (1) shared with the Republic of Latvia and the United States of America, and one (1) shared with the Hellenic Republic and the Italian Republic,</p>
              <p> &#8212; One (1) observation flight over the territory of Ukraine, shared with the French Republic,</p>
              <p> &#8212; One (1) observation flight over the territory of Georgia, shared with the French Republic and the Republic of Turkey,</p>
              <p> &#8212; One (1) observation flight over the territory of Bosnia and Herzegovina, shared with the Italian Republic and the Republic of Hungary, and</p>
              <p> &#8212; One (1) observation flight over the territory of the Republic of Croatia, shared with the Republic of Bulgaria;</p>
            </div>
          <p> &#8212; <strong>The United States of America</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p> &#8212; Eleven (11) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one (1) shared with the Republic of Bulgaria, one (1) shared with the French Republic, one (1) shared with the Republic of Turkey, and one (1) shared with the Federal Republic of Germany and the Republic of Latvia, and</p>
              <p> &#8212; One (1) observation flight over the territory of Ukraine, shared with Canada;</p>
            </div>
          <p> &#8212; <strong>The Republic of Belarus and the Russian Federation group of States Parties</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p> &#8212; Three (3) observation flights over the territory of the Federal Republic of Germany,</p>
              <p> &#8212; One (1) observation flight over the territory of the Benelux group of States Parties,</p>
              <p> &#8212; Four (4) observation flights over the territory of the United States of America,</p>
              <p> &#8212; One (1) observation flight over the territory of Canada,</p>
              <p> &#8212; One (1) observation flight over the territory of the Republic of Bulgaria,</p>
              <p> &#8212; One (1) observation flight over the territory of the Republic of Croatia, shared with the Italian Republic,</p>
              <p> &#8212; One (1) observation flight over the territory of the Kingdom of Denmark,</p>
              <p> &#8212; Two (2) observation flights over the territory of the Kingdom of Spain,</p>
              <p> &#8212; One (1) observation flight over the territory of the Republic of Estonia,</p>
              <p> &#8212; Two (2) observation flights over the territory of the Republic of Finland,</p>
              <p> &#8212; Three (3) observation flights over the territory of the French Republic, of which one (1) shared with the Kingdom of Sweden,</p>
              <p> &#8212; One (1) observation flight over the territory of Georgia, shared with the United Kingdom of Great Britain and Northern Ireland,</p>
              <p> &#8212; Two (2) observation flights over the territory of the United Kingdom of Great Britain and Northern Ireland,</p>
              <p> &#8212; Two (2) observation flights over the territory of the Hellenic Republic,</p>
              <p> &#8212; One (1) observation flight over the territory of the Republic of Hungary,</p>
              <p> &#8212; Two (2) observation flights over the territory of the Italian Republic,</p>
              <p> &#8212; One (1) observation flight over the territory of the Republic of Latvia,</p>
              <p> &#8212; One (1) observation flight over the territory of the Republic of Lithuania,</p>
              <p> &#8212; Two (2) observation flights over the territory of the Kingdom of Norway,</p>
              <p> &#8212; Two (2) observation flights over the territory of the Republic of Poland,</p>
              <p> &#8212; One (1) observation flight over the territory of the Portuguese Republic,</p>
              <p> &#8212; One (1) observation flight over the territory of Romania,</p>
              <p> &#8212; One (1) observation flight over the territory of the Slovakia,</p>
              <p> &#8212; Two (2) observation flights over the territory of the Kingdom of Sweden,</p>
              <p> &#8212; One (1) observation flight over the territory of the Czech Republic, and</p>
              <p> &#8212; Two (2) observation flights over the territory of the Republic of Turkey;</p>
            </div>
          <p> &#8212; <strong>The Kingdom of Belgium, the Grand Duchy of Luxembourg and the Kingdom of the Netherlands, referred to as the Benelux group of States Parties,</strong>shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p> &#8212; One (1) observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties,</p>
              <p> &#8212; One (1) observation flight over the territory of Bosnia and Herzegovina, and</p>
              <p> &#8212; One (1) observation flight over the territory of Georgia, shared with the Hellenic Republic and the Kingdom of Spain;</p>
            </div>
          <p> &#8212; <strong>The Republic of Bulgaria</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p> &#8212; One (1) observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties, shared with the United States of America,</p>
              <p> &#8212; One (1) observation flight over the territory of Bosnia and Herzegovina, shared with the Kingdom of Spain and the Czech Republic,</p>
              <p> &#8212; One (1) observation flight over the territory of the Republic of Croatia, shared with the Federal Republic of Germany, and</p>
              <p> &#8212; One (1) observation flight over the territory of Ukraine;</p>
            </div>
          <p> &#8212; <strong>Canada</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p> &#8212; Two (2) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one (1) shared with the Kingdom of Norway,</p>
              <p> &#8212; One (1) observation flight over the territory of the Republic of Croatia, shared with the Republic of Hungary,</p>
              <p> &#8212; One (1) observation flight over the territory of Ukraine, shared with the United States of America, and</p>
              <p> &#8212; One (1) observation flight over the territory of Georgia, shared with the Kingdom of Sweden and the Italian Republic;</p>
            </div>
          <p> &#8212; <strong>The Republic of Croatia</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p> &#8212; One (1) observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties, shared with the United Kingdom of Great Britain and Northern Ireland;</p>
            </div>
          <p> &#8212; <strong>The Kingdom of Spain</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p> &#8212; One (1) observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties, shared with the Portuguese Republic,</p>
              <p> &#8212; One (1) observation flight over the territory of Georgia, shared with the Benelux group of States Parties and the Hellenic Republic,</p>
              <p> &#8212; One (1) observation flight over the territory of Ukraine, shared with the Czech Republic, and</p>
              <p> &#8212; One (1) observation flight over the territory of Bosnia and Herzegovina, shared with the Republic of Bulgaria and the Czech Republic;</p>
            </div>
          <p> &#8212; <strong>The Republic of Finland</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p> &#8212; One (1) observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties, and</p>
              <p> &#8212; One (1) observation flight over the territory of Ukraine, shared with the Kingdom of Sweden;</p>
            </div>
          <p> &#8212; <strong>The French Republic</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p> &#8212; Four (4) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one (1) shared with the Federal Republic of Germany and one (1) shared with the United States of America,</p>
              <p> &#8212; One (1) observation flight over the territory of Ukraine, shared with the Federal Republic of Germany,</p>
              <p> &#8212; One (1) observation flight over the territory of Bosnia and Herzegovina, shared with the Republic of Turkey,</p>
              <p> &#8212; One (1) observation flight over the territory of the Republic of Croatia, and</p>
              <p> &#8212; One (1) observation flight over the territory of Georgia, shared with the Federal Republic of Germany and the Republic of Turkey;</p>
            </div>
          <p> &#8212; <strong>Georgia</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p> &#8212; One (1) observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties, shared with the United Kingdom of Great Britain and Northern Ireland;</p>
            </div>
          <p> &#8212; <strong>The United Kingdom of Great Britain and Northern Ireland</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p> &#8212; Three (3) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one (1) shared with the Republic of Croatia and one (1) shared with Georgia,</p>
              <p> &#8212; One (1) observation flight over the territory of Georgia, shared with the Republic of Belarus and the Russian Federation group of States Parties, and</p>
              <p> &#8212; One (1) observation flight over the territory of Ukraine;</p>
            </div>
          <p> &#8212; <strong>The Hellenic Republic</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p> &#8212; One (1) observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties, shared with the Federal Republic of Germany and the Italian Republic, and</p>
              <p> &#8212; One (1) observation flight over the territory of Georgia, shared with the Benelux group of States Parties and the Kingdom of Spain;</p>
            </div>
          <p> &#8212; <strong>The Republic of Hungary</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p> &#8212; One (1) observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties,</p>
              <p> &#8212; One (1) observation flight over the territory of the Republic of Croatia, shared with Canada,</p>
              <p> &#8212; One (1) observation flight over the territory of Ukraine, and</p>
              <p> &#8212; One (1) observation flight over the territory of Bosnia and Herzegovina, shared with the Federal Republic of Germany and the Italian Republic;</p>
            </div>
          <p> &#8212; <strong>The Italian Republic</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p> &#8212; Two (2) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one (1) shared with the Federal Republic of Germany and the Hellenic Republic,</p>
              <p> &#8212; One (1) observation flight over the territory of the Republic of Croatia, shared with the Republic of Belarus and the Russian Federation group of States Parties,</p>
              <p> &#8212; One (1) observation flight over the territory of Ukraine, shared with the Republic of Turkey,</p>
              <p> &#8212; One (1) observation flight over the territory of Bosnia and Herzegovina, shared with the Federal Republic of Germany and the Republic of Hungary,</p>
              <p> &#8212; One (1) observation flight over the territory of the Republic of Finland, and</p>
              <p> &#8212; One (1) observation flight over the territory of Georgia, shared with Canada and the Kingdom of Sweden;</p>
            </div>
          <p> &#8212; <strong>The Republic of Latvia</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p> &#8212; One (1) observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties, shared with the Federal Republic of Germany and the United States of America, and</p>
              <p> &#8212; One (1) observation flight over the territory of the Republic of Finland;</p>
            </div>
          <p> &#8212; <strong>The Republic of Lithuania</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p> &#8212; One (1) observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties;</p>
            </div>
          <p> &#8212; <strong>The Kingdom of Norway</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p> &#8212; Three (3) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one (1) shared with Canada;</p>
            </div>
          <p> &#8212; <strong>The Republic of Poland</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p> &#8212; Two (2) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, and</p>
              <p> &#8212; One (1) observation flight over the territory of Ukraine;</p>
            </div>
          <p> &#8212; <strong>The Portuguese Republic</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p> &#8212; One (1) observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties, shared with the Kingdom of Spain;</p>
            </div>
          <p> &#8212; <strong>Romania</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p> &#8212; One (1) observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties, and</p>
              <p> &#8212; One (1) observation flight over the territory of Ukraine;</p>
            </div>
          <p> &#8212; <strong>Slovakia</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p> &#8212; One (1) observation flight over the territory of Ukraine;</p>
            </div>
          <p> &#8212; <strong>The Kingdom of Sweden</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p> &#8212; One (1) observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties, shared with the Federal Republic of Germany,</p>
              <p> &#8212; One (1) observation flight over the territory of Ukraine, shared with the Republic of Finland,</p>
              <p> &#8212; One (1) observation flight over the territory of the French Republic, shared with the Republic of Belarus and the Russian Federation group of States Parties, and</p>
              <p> &#8212; One (1) observation flight over the territory of Georgia, shared with Canada and the Italian Republic;</p>
            </div>
          <p> &#8212; <strong>The Czech Republic</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p> &#8212; One (1) observation flight over the territory of Ukraine, shared with the Kingdom of Spain, and</p>
              <p> &#8212; One (1) observation flight over the territory of Bosnia and Herzegovina, shared with the Republic of Bulgaria and the Kingdom of Spain;</p>
            </div>
          <p> &#8212; <strong>The Republic of Turkey</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p> &#8212; Four (4) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one (1) shared with the United States of America, and</p>
              <p> &#8212; One (1) observation flight over the territory of Bosnia and Herzegovina, shared with the French Republic,</p>
              <p> &#8212; One (1) observation flight over the territory of Georgia, shared with the Federal Republic of Germany and the French Republic, and</p>
              <p> &#8212; Two (2) observation flights over the territory of Ukraine, of which one (1) shared with the Italian Republic;</p>
            </div>
          <p> &#8212; <strong>Ukraine</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p> &#8212; One (1) observation flight over the territory of the Benelux group of States Parties,</p>
              <p> &#8212; One (1) observation flight over the territory of the Federal Republic of Germany,</p>
              <p> &#8212; One (1) observation flight over the territory of the Republic of Bulgaria,</p>
              <p> &#8212; One (1) observation flight over the territory of the French Republic,</p>
              <p> &#8212; One (1) observation flight over the territory of the United Kingdom of Great Britain and Northern Ireland,</p>
              <p> &#8212; One (1) observation flight over the territory of the Hellenic Republic,</p>
              <p> &#8212; One (1) observation flight over the territory of the Republic of Hungary,</p>
              <p> &#8212; One (1) observation flight over the territory of the Italian Republic,</p>
              <p> &#8212; One (1) observation flight over the territory of the Republic of Poland,</p>
              <p> &#8212; One (1) observation flight over the territory of Romania,</p>
              <p> &#8212; One (1) observation flight over the territory of Slovakia, and</p>
              <p> &#8212; One (1) observation flight over the territory of the Republic of Turkey.</p>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p> * * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 17 July 2006, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
