<!--DECISION 17-->
<div id="decision_17"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top"> Back to Decisions List </a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC/VI/Dec.17<br/>12 October 1994</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION SEVENTEEN <br/>TO THE TREATY ON OPEN SKIES <br/>THE FORMAT IN WHICH DATA IS TO BE RECORDED AND EXCHANGED <br/>ON RECORDING MEDIA OTHER THAN PHOTOGRAPHIC FILM</p></strong>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The Open Skies Consultative Commission, pursuant to the provisions of Article IX, Section I, paragraph 1 of the Treaty on Open Skies, has decided as follows:</p>
      <p>SECTION I. DEFINITION OF TERMS </P>
        <div class="col-sm-12">
          <p>The following definitions shall apply to terms used in this Decision:</p>
          <p>The term "encoding techniques" means the use of special techniques of processing data intended for storage on magnetic media which would permit the extraction from such data of more information than could be extracted without use of such processing. Commercially available error correcting techniques commonly used to record on to and extract digital data from magnetic media and techniques designed to allow the multiplexing of data from multiple sensors or multiple colour bands on to a single recorder are not considered encoding techniques.</p>
          <p>The term "cartridge format" means a list of parameters specifying the physical size, shape, and mechanical characteristics of the tape cassette or open reel and its associated transport mechanism. These characteristics are specified in Section II, paragraph 6 (A) (1) of this Decision.</p>
          <p>The term "recording format" means the technical details specific to the recording process, which describe the way in which information is transferred to the recording media.  These characteristics are specified in Section II, paragraph 6 (A) (2) of this Decision.</p>
          <p>The term "signal format" means the technical details of the analogue signals recorded on magnetic tape.  These characteristics are specified in Section II, paragraph 6 (A) (3) of this Decision.</p>
          <p>The term "digital data format" means the structure of digital data for the recording on magnetic tape. These characteristics are specified in Section II, paragraph 6 (B) (1) of this Decision.</p>
          <p>The term "data annotation format" means the structure of the annotation data on the magnetic tape. These characteristics are specified in Section II, paragraph 7 (E) of this Decision.</p>
          <p>The term "slant range" means a distance perpendicular to the aircraft track in the slant plane.</p>
          <p>The term "azimuth" means the direction parallel to the aircraft track.</p>
          <p>The term "radar image" means a two-dimensional (slant range and azimuth) array of processed radar amplitude samples, generated from initial phase information.</p>
          <p>The term "standardized format(s)" means an entire commercially available combination of formats consisting of one each of a recording format, a cartridge format, and either a digital data format or signal format adopted and specified in Section II, paragraph 6 of this Decision.</p>
          <p>The term "detector element" means the smallest definable element of the detector array of a video camera.</p>
          <p>The term "image element" means the digitized signal representing the detected energy of a scene element within each wavelength band to which a video camera is sensitive which is stored in a frame store.</p>
          <p>The term "line imaging device" means a device containing one line of detector elements for each wavelength band to be recorded.</p>
          <p>The term "frame imagining device" means a device containing either an electronic imaging tube or an array of detector elements for each wavelength band recorded which simultaneously record multiple lines of the image to be recorded.</p>
          <p>The term "video camera" means a passive black and white or colour, line or frame imaging device, including the conversion of the image into electrical signals operating at optical wavelengths between 0.3 and 1.1 micrometres.</p>
          <p>The term "image" means an array of image elements corresponding to an equally numbered array of scene elements which cover a contiguous area on the ground.</P>
        </div>
      <p>SECTION II. FORMATS FOR RECORDING AND EXCHANGING DATA</P>
        <div class="col-sm-12">
          <p>1. The original data collected by video cameras, infra-red line-scanning devices, or sideways-looking synthetic aperture radar shall be recorded without the use of encoding techniques.</p>
          <p>2. In the case of any data recorded on recording media other than photographic film:</p>
            <div class="col-sm-12">
              <p>(A) In the case of video frame imaging devices which record in an analogue format, the original analogue data shall be recorded in the signal format specified in Section II, paragraph 6 (A) (1) of this Decision and exchanged on magnetic tape in the standardized format specified in Section II, paragraph 6 (A) of this Decision, and as specified in Section II, paragraph 5 of this Decision.</p>
              <p>(B) In the case of video line imaging or infra-red line-scanning devices which record in an analogue format, the original data shall be recorded on magnetic tape in any signal, recording, or cartridge format.  Immediately following the observation, certification or demonstration flight the analogue data shall be converted to the standardized digital format specified in Section II, paragraph 6 (B) of this Decision. Following conversion from analogue to digital format, the original analogue tape shall be destroyed or erased and the resulting digital tape shall be considered an original.  First generation duplicates shall be exchanged on magnetic tape in the standardized digital format specified in Section II, paragraph 6 (B) of this Decision.</p>
              <p>(C) In the case of video line-imaging or infra-red line-scanning devices which record in digital formats, the original data shall be recorded on magnetic tape in any format selected by the State Party which provides the aircraft.  The data shall be exchanged in the standardized format specified in Section II, paragraph 6 (B) of this Decision.</p>
              <p>(D) In the case of sideways-looking synthetic aperture radar, pursuant to Article IX, Section III, paragraphs 4 and 5 of the Treaty, data shall be exchanged as either initial phase information or as a radar image.  The data shall be exchanged in digital form.</p>
                <div class="col-sm-12">
                  <p>1. The initial phase information shall be digitally recorded on magnetic tape in any format selected by the Party providing the aircraft. The initial phase information shall be exchanged as digital data with eight bits for the in-phase, and eight bits for the quadrature, component of the phase information, in the standardized format specified in Section II, paragraph 6 (B) of this Decision.</p>
                  <p>2. Radar image data shall be exchanged in the standardized digital format specified in Section II, paragraph 6 (B) of this Decision.  The data shall be exchanged as a digital image having eight bits per image element.  Each image element must correspond with the actual range and azimuth properties of the radar. Techniques for combining range elements or azimuth elements, such as incoherent integration, shall not be employed. </p>
                  <p>3. In the event the observing Party did not provide the observation aircraft and does not possess the initial phase information, pursuant to Article IX, Section IV of the Treaty, it shall not be required to provide the initial phase data to other States Parties.  In this case, data shall be exchanged in the form of digital radar images in the standardized format specified in Section II, paragraph 6 (B) of this Decision.</p>
                </div>
            </div>
          <p>3. In the event that only one original set of data is made: </p>
            <div class="col-sm-12">
              <p>(A) If the observation aircraft is provided by the observing Party, the observing Party shall have the right to retain the original set.</p>
                <div class="col-sm-12">
                  <p>(1) If the data is recorded in a standardized format, the observed Party shall have the right to receive a first generation duplicate copy in the same standardized format in which the data was originally collected.</p>
                  <p>(2) If the data is recorded in a non-standardized format, the observed Party shall have the right to receive both a first generation duplicate copy in the same non-standardized format in which the data was originally collected and a first generation duplicate copy in the standardized format, consistent with paragraph 2 of this Section.</p>
                </div>
              <p>(B) If the observation aircraft is provided by the observed Party, the observed Party shall have the right to receive a first generation duplicate copy in the format in which the data was originally recorded:</p>
                <div class="col-sm-12">
                  <p>(1) In the event the data is recorded in a standardized format, the observing Party shall have the right to receive the original set.</p>
                  <p>(2) In the event the data is recorded in a non-standardized format, the observing Party shall have the right to receive both the original set in the non-standardized format and a first generation duplicate copy in the standardized format consistent with paragraph 2 of this Section.</p>
                </div>
            </div>
          <P>4. In the event that two original sets of data are made: </P>
            <div class="col-sm-12">
              <p>(A) If the observation aircraft is provided by the observing Party, then:</p>
                <div class="col-sm-12">
                  <p>(1) If the data is recorded in a standardized format, the observed Party shall have the right to select either of the two sets of recording media, and the set not selected by the observed Party shall be retained by the observing Party.</p>
                  <p>(2) If the data is recorded in a non-standardized format, the observed Party shall have the right to select either of the two sets of recording media in the non-standardized format and also receive a first generation duplicate copy in the standardized format consistent with paragraph 2 of this Section.  Of the two non-standardized original sets of data, the set that is not selected by the observed Party shall be retained by the observing Party.</p>
                </div>
              <p>(B) If the observation aircraft is provided by the observed Party, then:</p>
                <div class="col-sm-12">
                  <p>(1) If the data is recorded in a standardized format, the observing Party shall have the right to select either of the two sets of recording media, and the set not selected shall be retained by the observed Party.</p>
                  <p>(2) If the data is recorded in a non-standardized format, the observing Party shall have the right to receive both the data recorded in the non-standardized format and an additional first generation duplicate copy in the standardized format consistent with paragraph 2 of this Section.  Of the two non-standardized original sets of data, the set that is not selected by the observing Party shall be retained by the observed Party.</p>
                </div>
            </div>
          <p>5. Pursuant to Article IX, Section IV of the Treaty, each State Party shall have the right to request and receive from the observing Party copies of data collected by sensors during an observation flight.</p>
            <div class="col-sm-12">
              <p>(A) In the event the data was originally recorded in a standardized format, such copies shall be in the form of first generation duplicates produced from the original data collected by the sensor during the observation flight, in that same standardized format.</p>
              <p>(B) In the event the data was originally recorded in a non-standardized format, such copies shall be provided in one of the forms described in sub-paragraphs (1) and (2) of paragraph 5 (B) of this Decision.</p>
                <div class="col-sm-12">
                  <p>(1) If the observation aircraft was provided by the observing Party, the requesting country shall have the right to receive a first generation duplicate in either the non-standardized format in which it was originally recorded or in the standardized format, consistent with paragraph 2 of this Section.</p>
                  <p>(2) If the observation aircraft was provided by the observed Party, the requesting Party shall have the right to receive a first generation duplicate of the data in the standardized format, consistent with paragraph 2 of this Section.  For the purposes of this paragraph, a first generation duplicate of the data received by the observing Party from the observed Party shall be considered as satisfying the requirement to provide a duplicate of the original data collected by the sensor, as set forth in by Article IX, Section IV of the Treaty.</p>
                </div>
            </div>
          <p>6. The agreed standardized formats, consisting of a combination of an agreed recording format, cartridge format, and either a signal or digital data format, are specified in paragraphs</p>
            <div class="col-sm-12">
              <p><strong>(A) and (B) below.</strong></p>
                <div class="col-sm-12">
                  <p>(A) For analogue recordings of data collected by video frame imaging devices:</p>
                    <div class="col-sm-12">
                      <p>(1) The signal format for recording and exchange shall be PAL or CCIR-625 as described by the International Telecommunications Union - Radiocommunications (formerly &quot; Comit&eacute; Consultatif International des Radiocommunications&quot;)</p>
                      <p>(2) The recording format for exchange shall be S-VHS. </p>
                      <p>(3) The cartridge format for exchange shall be S-VHS.</p>
                    </div>
                  <p>(B) For digital recordings and analogue line scan converted to digital:</p>
                    <div class="col-sm-12">
                      <p>(1) The digital data format for exchange shall be DCRsi*.</p>
                      <p>(2) The recording format for exchange shall be DCRsi*.</p>
                      <p>(3) The cartridge format for exchange shall be Ampex 702, 731, 733, or equivalents.</p>
                    </div>
                  <p>(C) Without prejudice to the formats defined in paragraphs (A) and (B) above, or to any potential new format, the Open Skies Consultative Commission will review the list of agreed formats prior to 31 December of the third year following the year during which entry into force of the Treaty on Open Skies takes place and make additions and/or deletions to the list of agreed formats, as agreed by the Open Skies Consultative Commission.</p>
                </div>
            </div>
          <p>7. Pursuant to Article IV, paragraph 10 and Annex B, Section I, paragraph 7 of the Treaty, States Parties shall provide technical information on their recording equipment, media and formats used for recording both the imagery and annotation data.  The Party which provides the aircraft shall provide all other States Parties with a complete description of the cartridge format, recording format, signal or digital data formats, and annotation format in sufficient detail to allow the other States Parties to extract from the output signal all of the data originally recorded.  Portions of this information which are readily available as international standards and provide the required data in sufficient detail may be omitted as long as it is properly referenced.  This information shall include, but not be limited to, the following:</p>
            <div class="col-sm-12">
              <p>(A) The description of the cartridge format shall include descriptions of the type of cassette or open reel type (such as 8 mm;  D-1; T-120, 10 inch reel), the tape formulations (such as ferric oxide, cobalt, metal tape), the tape width and length, recording media maximum density and magnetic/recording properties.</p>
              <p>(B) The description of the recording format (such as S-VHS, DCRsi*) shall define such items as the track configuration, pitch angle of the helical scan tracks, recording speeds, the technique for recording auxiliary data, and how colour image information is recorded (if applicable).  Techniques such as data interleaving and error detection and correction shall be addressed to the degree the details are available from the manufacturer.  In the event systems employing proprietary techniques are used, they shall not be altered from the manufacturer's design. The calibration procedures described in Decision Number 16 to the Treaty on Open Skies shall be employed to ensure that no additional data is recorded on the tape</p>
              <p>(C) The description of the signal format shall, where applicable, include such details of the signal output as:  voltage levels, synchronization pulse timing, timing and voltage levels associated with the image data, electronic interface description, vertical and horizontal retrace timing, field and frame rates, the technique for recording auxiliary data, and any other data required to completely describe the signal output of the recorder.</p>
              <p>(D) The description of the digital format shall fully define digitally recorded data including data structure, bit/byte and word patterns, the structure of data on tape, the technique for recording auxiliary data, and any other items necessary to completely describe the data format and which will allow the data to be fully processed in an expeditious manner.</p>
              <p>(E) The description of the data annotation format shall be in sufficient detail to allow the other States Parties to extract the annotation data associated with the collected imagery. It shall include such items as the order, accuracy, units, location of the data on the tape (e.g. on the sound track, in the vertical retrace period, etc.), data format (e.g. ASCII), and any other data needed to locate and read the annotation information.</p>
            </div>
          <p>8. If, through the introduction of additional categories or improvements to capabilities of existing categories of sensors provided for in Article IV of the Treaty on Open Skies, data is recorded on any media other than photographic film or magnetic tape, the format in which the data is to be recorded and exchanged shall be agreed by the Open Skies Consultative Commission.</P>
        </div>
      <p>* DCRsi is a trademark of the Ampex Data Systems Corporation.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * * </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>This Decision shall enter into force simultaneously with the Treaty on Open Skies and shall have the same duration as the Treaty, with due regard for the provisions of Section II, paragraph 6 (C) of this Decision.</p>
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 12 October 1994, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr />
