.navbar-text > a{
  color: inherit;
  text-decoration: none;
}

body{
  padding-top: 120px;
  padding-bottom: 100px;
}

#search{
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  top: 50px;
  padding-top: 0px;
}

/*Buttons*/
.btn-toolbar a{
  display: inline;;
  margin-top: 12px;
}
/*Add Drop shadow to buttons*/
.btn-default,.btn-primary,.btn-success,.btn-info,.btn-warning,.btn-danger, .btn-normal {
    -webkit-box-shadow: 2px 3px 5px rgba(4, 4, 4, 0.3);
    -moz-box-shadow:    2px 3px 5px rgba(4, 4, 4, 0.3);
    box-shadow:         2px 3px 5px rgba(4, 4, 4, 0.3);
    border-radius:8px;
}

.btn{
white-space:normal !important;
}

.btn-normal{
  background-color: #E8EAED;
  border-color: #CACCCF;
}

/*Info Button Edits*/
.btn-info{

  background-color: #465AA4;
  border-color: #8492B3;
}
.btn-info:focus,
.btn-info.focus {
  color: #fff;
  background-color: #3C56A4;
  border-color: #7886B3;
}
.btn-info:hover {
  color: #fff;
    background-color: #3554a4;
    border-color: #7083B3;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #3C56A4;
  border-color: #4D6DB3;
}
.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus {
  color: #fff;
  background-color: #4D6DB3;
  border-color: #3a59ab;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus {
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info .badge {
  color: #5bc0de;
  background-color: #fff;
}
/*END INFO BTN*/
/*End Buttons*/

.bottom-column
{
    float: none;
    display: table-cell;
    vertical-align: bottom;
}

/*Search highlighting*/
mark {
  background: yellow;
  text-decoration: underline;
  font-weight: bold;
  color: inherit;
  padding: 0;
}

mark.current {
  background: orange;
  text-decoration: underline;
  font-weight: bold;
  color: inherit;
  padding: 0;
}
