.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width:1200px;
}

li{
  text-decoration: none;
}

a{
  z-index: 1000;
}
#title{
  font-size: 20pt;
  text-align: center;
}

.sectionWrapper{
  font-size: 18pt;
}

#innerWrap{
  display: none;
}
.decisionSection{
  font-size: 12pt;
}
.dateSection{
  font-size: 12pt;
}
.sectionWrapper a{

}
blockquote{
  display: none;
  font-size: 12pt;
}
.strongTxt{
  font-size: 15pt;
}
