body{
  font-family: 'Sorts Mill Goudy', serif;
}

a{
  text-decoration: none;
}
a:link{
  color: #2C2A2A;
}
a:hover{
  color: #blue;
}
a:visited{
  color: #2C2A2A;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width:1200px;
}

#Header{
  width: 100%;
  height: 118px;
  background-color: #2C2A2A;
  color: #fff;
  padding-top: 25px;
  font-size: 18pt;
}
#Header a:visited{
  color: #fff;
}
.solidLine{
  width: 100%;
  height: 10px;
  margin-top:10px;
  background-color:#2C2A2A;
}

.left{
width: 45%;
float: left;
}
div.left img{
  width: 100%;
  margin-top: 25%;
}

.center{
  width: 10px;
  height: 500px;
  margin:0 10px 0 55px;
  float: left;
  background-color:#2C2A2A;
}

.right{
  width: 45%;
  float: left;
}
div.right img{
  width: 50%;
  margin-top: 15%;
  margin-left: 30%;
}
