#row1{

}
#row2{
  margin: 0 0 0 300px;
}
.square{
  width: 525px;
  height: 317px;
  float: left;
  margin: 50px 50px 0 50px;
  background-color: #2C2A2A;
  text-align: center;
}
.square p{
  font-size: 20pt;
  margin-top: 30%;
  color: #fff;
}
