<!-- DECISION NINE -->
<div id="decision_9"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top"> Back to Decisions List </a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC/III/Dec.9<br/>16 July 1993 </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION NINE <br/>TO THE TREATY ON OPEN SKIES <br>CODES OTHER THAN ALPHANUMERIC VALUES TO BE USED FOR THE ANNOTATION OF DATA</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-left">
      <P>The Open Skies Consultative Commission, pursuant to the provisions of Annex B, Section II, paragraph 4 of the Treaty on Open Skies, has decided as follows: </P>
      <P>1. No codes other than alphanumeric values shall be used to annotate data collected during an observation flight. Items of information required to be annotated pursuant to Annex B, Section II shall be annotated using the alphanumeric codes set forth in Appendix 1 to Annex B. </P>
      <P>2. States Parties shall have the right to annotate other items of information in addition to those required by Annex B, Section II. In the event that a State Party chooses to annotate additional information, it shall use alphanumeric codes and shall inform all other States Parties of the meaning of such codes before using them to annotate data collected during an observation flight. </P>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <P>************</P>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <P>This Decision shall enter into force simultaneously with the Treaty on Open Skies and shall have the same duration as the Treaty.</P>
      <P>Decided in Vienna, in the Open Skies Consultative Commission, on 16 July 1993, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic. </P>
    </div>
  </div>

<hr />
