<div id="1994"></div>

<div class="row">
  <div class="col-sm-2">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">17 JANUARY 1994</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>The Open Skies Consultative Commission agreed to the following Chairman's statement:</p>
    <p>In accordance with Article XI of the Treaty on Open Skies the Open Skies Consultative Commission (OSCC) states its intention to make use of the CSCE Communications Network for transmission of notifications and reports of the Open Skies regime as well as data from a possible future Open Skies data base.</p>
    <p>For that purpose the OSCC agrees to request the permanent committee of the CSCE and the Special Committee of the FSC to give their agreement in principle to the use of the CSCE Communications Network for the above-mentioned purposes.</p>
    <p>If the PC/CSCE and the SC/FSC agree, then the OSCC tasks its Working Group on Information Exchange (Formats and data base) to elaborate the appropriate procedures and related aspects and to report to the OSCC. The Working Group is advised to work in close co-operation with the Ad Hoc Working Group on Communications of the CSCE.</p>
  </div>
</div>

<hr>
<br/>

<div class="row">
  <div class="col-sm-2">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">16 May 1994</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Pursuant to the suggestion of the Working Group on Procedures, the Open Skies Consultative Commission has taken note of the intention of the Working Group on Procedures to hold an open-ended informal brainstorming meeting of experts on the possible use of the Open Skies regime in the field of environmental monitoring. The open-ended meeting will be held in the second week of July this year, with the possibility of the active participation of experts from capitals, as well as of representatives from international organizations active in the field of environmental monitoring and protection.</p>
    <p>Modalities and timetable will be finalized by the OSCC Working Group on Procedures.</p>
  </div>
</div>

<hr>
<br/>

<div class="row">
  <div class="col-sm-2">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">9 November 1994</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>CHAIRMAN'S STATEMENT ON <br/>PURPOSE AND USE OF SENSOR GUIDANCE DOCUMENTS</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>The OSCC has adopted Decisions 3,7,14,15 and 16 in accordance with the Treaty requirement to specify procedures for the four Treaty sensor methodologies. These legally binding Decisions are limited in scope to describing "what" is to be accomplished during the sensor certification and demonstration flights. The Decisions are silent on the details of "how" to implement the respective methodologies.</p>
    <p>In an effort to facilitate the implementation of these Decisions, the Informal Working Group on Sensors (IWGS) will develop Guidance Documents representing the common view worked on at the experts' meetings. These Guidance Documents will be brought to the attention of the Open Skies Consultative Commission and will be applied from then on.</p>
    <p>The Guidance Document will not be legally binding. However, they will be approved as IWGS documents and will serve to translate the negotiators' intent into field implementers' detailed instructions.</p>
    <p>A State Party which follows the procedures laid out in the Guidance Documents may expect agreement by those international experts who attend the certification or demonstration flight. However, if a State Party chooses a different procedure for the certification or demonstration flight, it will be requested to explain its approach to those experts who attend the certification or demonstration flight. A different technical approach than those specified in the IWGS Guidance Documents will require detailed and persuasive explanations to obtain agreement by the experts for its use in certification. If the experts are not convinced of the merits of the alternative approach, this issue may provide a basis for not agreeing to the certification and not signing the certification report. This approach would serve as motivation for a State Party to follow an already agreed procedure.</p>
    <p>The IWGS has agreed to the above-stated purpose of Guidance Documents and, upon endorsement by the OSCC, this statement will be recorded in the Journal of the day.</p>
  </div>
</div>

<hr>
<br/>
