<div id="1997"></div>

<div class="row">
  <div class="col-sm-2">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">17 February 97 <br/>Annex 1</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>CHAIRMAN'S STATEMENT  <br/>ON OBSERVATION FLIGHTS DURING THE INITIAL CERTIFICATION PERIOD</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
<p>As agreed by the Flight Rules and Procedures Working Group(FRPWG), for a fixed period following entry into force (EIF) of the Treaty, scheduled by the FRPWG at a meeting to be held following the deposit of the instrument of the last key ratification, observation flights would only occur by bilateral agreement. During deliberations, the FRPWG recognized the interests of States Parties as follows:</p>
<p>Acknowledge that, following EIF, States Parties may undertake observation flights once their aircraft is certified;</p>
<p>A desire that observation flights do not interfere with a State Party's initial certification process;</p>
<p>A desire by some States Parties to ensure that their own aircraft certification is finished before accepting any observation flights over their territory during the initial certification period;</p>
<p>A desire for smooth certification scheduling and sequencing;</p>
<p>A desire to relieve any perceived pressure to certify first;</p>
<p>A concern that States Parties with limited numbers of experts could be overburdened during the period of certification immediately following EIF;</p>
<p>A concern that normal observation flights are not constrained indefinitely by States Parties that do not certify for whatever reason;</p>
<p>A desire that observation flights are only conducted on an agreed bilateral basis during the period of initial certifications immediately following EIF.</p>
<p>As agreed by the OSCC (1), the Chairman of the GRPWG will call a meeting to which all States Parties are invited in order to discuss and agree on a schedule of certification by those States Parties which are ready to conduct a certification. This meeting will publish an initial certification schedule. This initial certification schedule will be for a fixed period of time following EIF, and include all States Parties that have an aircraft ready for certification. During this initial certification schedule, beginning and ending on agreed specific calendar dates, observation flights should be conducted in accordance with the Treaty and will be conducted only on an agreed bilateral basis.</p>
<p>_____________________</p>
<p>(1) OSCC Chairman's States dated 23 September 1996</p>

<hr>
<br/>

<div class="row">
  <div class="col-sm-2">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">17 February 97 <br/>Annex 2</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>CHAIRMAN'S STATEMENT <br/>ON ADDITIONAL AIRCRAFT INFORMATION TO BE PRESENTED</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>In accordance with Article V, paragraph 2, and Annex C of the Treaty, certain mission planning information shall be provided when a State Party designates an observation aircraft. The Flight Rules and Procedures Working Group recommends that, in order to facilitate the mission planning process for a taxi option, the following additional information should be provided:</p>
      <div class="col-sm-12">
        <p>Total usable fuel (typical) as configured for Open Skies operations.</p>
        <p>Ground operation fuel required (standard planning factors for taxi/pre-takeoff).</p>
        <p>Take-off fuel required (fuel used from brake release to flaps up configuration).</p>
        <p>Climb time, distance and fuel used to the altitudes cited in Annex C.</p>
        <p>Normal en route cruise (depiction/performance curve representing a range of aircraft gross weights, altitudes and fuel used).</p>
        <p>Normal bank angle (if different from standard or half standard rate turns).</p>
        <p>En route climbs (depiction/performance curve representing a range of aircraft gross weights, fuel used, distance traveled, and time required).</p>
        <p>En route descents (curve representing range, time and fuel used for en route descents).</p>
        <p>Descent/landing time and fuel (standard planning factors for approach and landing from an Initial Approach Point).</p>
        <p>Fuel reserve required at landing/at an alternate site.</p>
        <p>Typical aircraft turn-around time during en route stops.</p>
        <p>Crew duty day limitations.</p>
      </div>
    <p>This information may be provided in text, graph or table format (as appropriate). It may be provided at the time of the Annex C data exchange, aircraft certification or, in the case of a subsequent decision to provide the taxi option, in a timely manner.</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">17 February 97 <br/>Annex 3</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>CHAIRMAN'S STATEMENT <br/>ON <br/>OBSERVATION FLIGHTS DURING ANY CERTIFICATION  <br/>FOLLOWING THE INITIAL CERTIFICATION PERIOD</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>As agreed by the Flight Rules and Procedures Working Group (FRPWG), the OSCC</p>
    <p>states its intention that, during any certification period beyond the initial certification period, observation flights over certifying States Parties would be undertaken after careful consideration.</p>
    <p>The FRPWG recognizes that observation flights could interfere with a State Party's certification process. It is understood that the following certifications may take place after the initial certification period:</p>
      <div class="col-sm-12">
        <p>A new certification by any State Party;</p>
        <p>The addition of new sensors/sensor configurations to a previously certified aircraft;</p>
        <p>The continuation of a previous certification.</p>
      </div>
  </div>
</div>

<hr>
<br/>

<div class="row">
  <div class="col-sm-2">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">26 May 1997 <br/>Annex 1</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>CHAIRMAN'S STATEMENT <br/>REGARDING THE RECOGNITION OF THE "GUIDANCE FOR CERTIFICATION OF SENSORS INSTALLED ON OBSERVATION AIRCRAFT AND THEIR ASSOCIATED PROCESSING, DUPLICATING AND ANALYSIS EQUIPMENT AND THE CONDUCT OF DEMONSTRATION FLIGHTS"</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>The OSCC takes note of the "Guidance for Certification of Sensors Installed on Observation Aircraft and their Associated Processing, Duplicating and Analysis Equipment and the Conduct of Demonstration Flights" in accordance with the provisions of the earlier adopted Chairman's Statement of 9 November 1994.</p>
  </div>
</div>

<hr>
<br/>

<div class="row">
  <div class="col-sm-2">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">18 July 1997 <br/>Annex 1</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>CHAIRMAN'S STATEMENT <br/>ON THE UKRAINIAN PROPOSAL CONCERNING</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="col-sm-12 text-center">
      <p>"PRINCIPLES OF PLANNING MISSIONS IN PROXIMITY TO ADJACENT STATES' BORDERS"</p>
    </div>
    <p>The Open Skies Consultative Commission takes note of the Ukrainian proposal of 9 December 1996 on "Principles of Planning Missions in Proximity to Adjacent States' Borders" and expresses its readiness to consider this issue, which is related to the borders of adjacent non-States parties, after the Open Skies Treaty has entered into force.</p>
  </div>
</div>

<hr>
<br/>
