<div id="1998"></div>

<div class="row">
  <div class="col-sm-2">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">14 December 1998 <br/>Annex 1</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>STATEMENT BY THE CHAIRMAN <br/>OF THE OPEN SKIES CONSULTATIVE COMMISSION</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>The Open Skies Consultative Commission, in response to concerns regarding flight safety, agrees to the attached Annex to OSCC Decision 20, 12 June 1995. This Annex replaces the letter "O" and "F" in order to avoid confusion between the letter "O" for Observation Flights and the number "0" (zero) in Section IV, paragraph 3, subparagraph four. The Annex also fulfills the requirement in Decision 20, Section IV, paragraph 3, subparagraph three, for the OSCC to agree the list of codes for the observing or transiting State Party.</p>
    <p>Decision 20, with the Annex, will be circulated to all States Parties. In accordance with Decision 20, Section IV, paragraph 3, subparagraph three, this Chairman's Statement and Annex will also be published in the journal of the 14 December OSCC Plenary.</p>
  </div>
</div>

<hr>
<br/>
