<div id="1999"></div>

<div class="row">
  <div class="col-sm-2">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">15 March 1999 <br/>Annex 1</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>STATEMENT BY THE CHAIRMAN  <br/>OF THE OPEN SKIES CONSULTATIVE COMMISSION</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>I. The attached Annex to Decision Number One to the Treaty on Open Skies of</p>
      <div class="col-sm-12">
        <p>10 December 1992, replaces the currency unit denomination "ECUs" by "euro" in Section V, paragraph 2, subparagraphs (A) and (B).</p>
        <p>According to Council Regulation (EC) No. 1103/97 of 17 June 1997, on certain provisions relating to the introduction of the euro¹ and Council Regulation (EC) No. 2866/98 of 31 December 1998, on the conversion rates between the euro and the currencies of the Member States adopting the euro², the European currency unit (ECU) ceased to be defined as a basket of component currencies on 1 January 1999. Pursuant to Article 2, paragraph 1, of Council Regulation (EC) No. 1103/97, every reference in a legal instrument to the ECU shall be replaced by a reference to the euro at a rate of one euro to one ECU . As this provision is binding upon the Member States of the European Communities only, the Open Skies Consultative Commission should decide expressly to substitute, in Section V, paragraph 2, subparagraphs (A) and (B), of Decision Number One to the Treaty on Open Skies, the currency unit denomination: "euro" for the currency unit denomination "ECU". The replacement reference rate being 1 euro to 1 ECU, there is no need to amend the numerical amount of 75.</p>
        <p>Decision Number One to the Treaty on Open Skies of 10 December 1992, with the suggested annex, if so taken, will be circulated to all States and published in the journal of the OSCC Plenary of 15 March 1999.</p>
      </div>
    <p>II. Further, it is understood that the prices in the price list referred to in Section V, paragraph 6 of Decision Number One to the Treaty on Open Skies of 10 December 1992, will additionally be denominated in "euro" as from the next issue.</p>
      <div class="col-sm-12">
        <p>Official Journal of the European Communities 1997 L 162, page 1</p>
        <p>2</p>
        <p>Official Journal of the European Communities 1998 L 359, page 1</p>
      </div>
  </div>
</div>

<hr>
<br/>

<div class="row">
  <div class="col-sm-2">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">7 June 1999 <br/>Annex 2</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>STATEMENT BY THE CHAIRMAN <br/>OF THE OPEN SKIES CONSULTATIVE COMMISSION</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>The Open Skies Consultative Commission (OSCC) recognizes that many States Parties have participated in bilateral and multilateral Open Skies trial flights during the period of provisional application of the Treaty. It is the OSCC's view that bilateral and multilateral Open Skies trial flights are consistent with the stated goals of the Treaty and are beneficial to all participants. The OSCC recalls Annex L, Section III, paragraph 3 of the Treaty, and considers trial flights to be in the spirit of the provision. The OSCC does not believe, however, that trial flights are a substitute for the regime of observation flights as set forth in the Treaty itself. The OSCC strongly encourages States Parties to continue bilateral and multilateral Open Skies trial flights during the period of provisional application.</p>
    <p>The OSCC agrees that trial flights have proven essential in achieving the following:</p>
      <div class="col-sm-12">
        <p>1. The validity and viability of Open Skies</p>
          <div class="col-sm-12">
            <p>It is the OSCC's judgement that trial flights have in fact promoted greater openness and transparency among participating States Parties &mdash; the key objective of the Treaty. The OSCC agrees that bilateral and multilateral trial flights have proven, and will continue to prove, the Treaty's validity and viability.</p>
          </div>
        <p>2. Preparation of States Parties for post-EIF operations</p>
          <div class="col-sm-12">
            <p>Trial flights enable States Parties to develop and refine Treaty procedures, processes, and programs to accommodate the conglomeration of activities that are required after entry into force (EIF). Examples of these activities include media processing, aircraft designation and inspection procedures, optical target date acquisition, active and passive mission procedures, as well as taxi and third-party aircraft options.</p>
          </div>
        <p>3. Political support for additional ratification</p>
          <div class="col-sm-12">
            <p>There have been a significant number of bilateral and multilateral efforts, including trial flights, aimed at encouraging signatory States to ratify the Treaty. These efforts have contributed most recently to the ratification of the Treaty by Georgia in 1998.</p>
          </div>
        <p>4. Demonstration of the concept of Open Skies to future States Parties</p>
          <div class="col-sm-12">
            <p>Trial flights are an important means of demonstrating the benefits of the Treaty to Observer and other interested States. Flights have been conducted with Finland and Sweden and are planned for Estonia, Lithuania and Latvia in the near future.</p>
            <p>Communicating the concept of aerial observation as a tool for conflict</p>
            <p>prevention and crisis monitoring</p>
            <p>Trial flights have been the key to communicating and demonstrating the relevance of aerial observation to conflict-prevention and crisis-monitoring applications. Several Open Skies trial flights with Dayton Article II parties have demonstrated the confidence- and security-building benefits derived from aerial observation , thus furthering the Treaty's preambular intentions for "the potential contribution which an aerial observation regime of this type could make to security and stability in other regions."</p>
            <p>It is hoped that the tangible benefits deriving from the trial flights experience will have a positive impact on the entry into force of the Treaty as soon as possible.</p>
          </div>
      </div>
  </div>
</div>

<hr>
<br/>
