<div id="2001"></div>

<div class="row">
  <div class="col-sm-2">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">17 December 2001 <br/>Annex 1</p>
  </div>
</div>
<div class="row" id="list">
  <div class="col-sm-12">
<p><a href="#Attachment1">Attachment 1: "Use a Standard CD-ROM Format for Distribution of Certification Documentation"</a></p>
<p><a href="#Attachment2">Attachment 2: "OSCC Determination of the Number of Individuals Participating in a Certification"</a></p>
<p><a href="#Attachment3">Attachment 3: "Principles for the Conduct of the C-130 H/POD-System Certification"</a></p>
<p><a href="#Attachment4">Attachment 4: "Principles for Joint Certifications"</a></p>
<p><a href="#Attachment5">Attachment 5: "Determination of H min-Cert"</a></p>
<p><a href="#Attachment6">Attachment 6: "Use of One Calibration Target for Certification"</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>CHAIRPERSON'S STATEMENT <br/>ON ISSUES RELATED TO CERTIFICATION OF OBSERVATION AIRCRAFT AND SENSORS</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>In accordance with the Treaty on Open Skies and relevant decisions of the Open Skies Consultative Commission (OSCC),</p>
    <p>Noting the wealth of experience gathered during the period of provisional application,</p>
    <p>Taking account of the Sensor Guidance Document (SGD) and other related agreements * ,</p>
    <p>Anticipating that each individual participant in any certification will have the same opportunities to participate in individual certification events, irrespective of the type of certification (single, unique or joint),</p>
    <p>The informal Working Group on Certification has agreed to the following arrangements for the certification of observation aircraft and sensors, which constitute the attachments to this Chairperson's statement.</p>
      <div class="col-sm-12">
        <p>1. Use of a standard CD-ROM format for distribution of certification documentation (Attachment 1).</p>
        <p>2. OSCC determination of the number of individuals participating in a certification</p>
          <div class="col-sm-12">
            <p>(Attachment 2).</p>
          </div>
        <p>3. Principles for the conduct of the C-130 H/POD-system certification (Attachment 3).</p>
        <p>4. Principles for joint certifications (Attachment 4).</p>
        <p>5. Determination of H MIN-CERT (Attachment 5).</p>
        <p>6. Use of one calibration target for certification (Attachment 6).</p>
      </div>
    <p>In particular the OSCC Chairman's statement on principles for scheduling certifications as of 23 September 1996.</p>
  </div>
</div>

<hr>
<br/>

<div class="row" id="Attachment1">
  <div class="col-sm-2">
    <p align="left"><a href="#list">Back to the 17 December 2001 Attachment List</a></p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">17 December 2001 <br/>Attachment 1 to Annex 1</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>USE OF A STANDARD CD-ROM FORMAT FOR DISTRIBUTION <br/>OF CERTIFICATION DOCUMENTATION</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>As agreed by the informal Working Group on Certification, the use of CD-ROMs is acceptable and the desired medium for distribution of data relevant to observation aircraft and sensor certification. In order to increase efficiency, CD-ROMs containing this data should be created in accordance with the following standards:</p>
      <div class="col-sm-12">
        <p>- Microsoft Office 97 is to be used for the Word documents and Excel programs.</p>
        <p>- Photographs will be provided in the JPEG file format and saved as separate files.</p>
        <p>- Photographs of sensors, required in accordance with the Treaty, Annex D, Section 1, paragraph 6 (B), should be scanned at a minimum of 150 dots per inch (DPI) and using at least 16-bit true color.</p>
        <p>- Additional imagery (digital or otherwise) may be included to complement the Treaty-compliant imagery, should the certifying State wish to do so.</p>
      </div>
    <p>Original photographs, used to create the scanned images on the CD-ROM and required by Annex D, Section 1, paragraph 6 (B), of the Treaty, will be made available at the time of certification.</p>
    <p>The certifying States Parties will distribute the CD-ROM to all participating States Parties through their OSCC delegations in Vienna 30 days prior to the beginning of individual certifications. At the same time, additional copies may be provided directly to appropriate verification organizations.</p>
    <p>Copies of the distributed CD-ROM will be provided to all other States Parties along with the certification report.</p>
    <p>Additionally, one closed copy of the distributed CD-ROM will be made available for filing at the Open Skies Consultative Commission.</p>
  </div>
</div>

<hr>
<br/>
<div class="row" id="Attachment2">
  <div class="col-sm-2">
    <p align="left"><a href="#list">Back to the 17 December 2001 Attachment List</a></p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">17 December 2001 <br/>Attachment 2 to Annex 1</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>OSCC DETERMINATION OF THE NUMBER <br/>OF INDIVIDUALS PARTICIPATING IN A CERTIFICATION</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>As agreed by the Informal Working Group on Certification, following the notification of a certification period by a State Party, the OSCC will meet to decide the number of individuals from among those States Parties that have notified their intent to participate in the certification at its next formal meeting, but not later than 45 days prior to the scheduled certification.</p>
    <p>The Treaty on Open Skies, Annex D, Section I, paragraph 4, states:</p>
        <div class="col-sm-12">
          <p>"The number of individuals that shall participate in the certification from amongst those States Parties that notified their intention to participate shall be decided upon within the Open Skies Consultative Commission. Unless otherwise agreed, the number of individuals shall total no more than 40 and include no more than four from any one State Party."</p>
          <p>When the number of individuals participating in the certification is limited to 40, the OSCC will use the following methodology to decide on the number of individuals for each State Party that will participate in the certification:</p>
            <div class="col-sm-12">
              <p>- Each State Party that has notified its intent to participate in certification (through OSF 23) will be represented by at least one notified participant.</p>
              <p>- Each State Party will be represented by a second, third and fourth notified participant if all States Parties can be accommodated within the limit of 40.</p>
              <p>- In the event that the second through the fourth rounds cannot be completely accommodated, the priority will go to those notifying States Parties for which the certifying State Party has an active quota.</p>
              <p>- If conflicts remain for available slots, notifying States Parties may consult amongst themselves and seek agreement. If not, the final participation list will be resolved by drawing lots.</p>
            </div>
          <p>If the State Party hosting the certification is willing to accept participation of all notified participants, it will inform the OSCC that there is no need for a meeting on this subject.</p>
        </div>
  </div>
</div>

<hr>
<br/>
<div class="row" id="Attachment3">
  <div class="col-sm-2">
    <p align="left"><a href="#list">Back to the 17 December 2001 Attachment List</a></p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">17 December 2001 <br/>Attachment 3 to Annex 1</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>PRINCIPLES FOR THE CONDUCT OF THE <br/>C-130 H/POD-SYSTEM CERTIFICATION</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>As agreed by the informal Working Group on Certification, the OSCC recognises that the certification of the C-130 H/Pod system is a unique certification event, and as such will require special arrangements.</p>
    <p>Considering that it is in the interest of every State Party to make this unique certification event as time- and cost-effective as possible, the Benelux, Canada, France, Greece, Italy, Norway, Portugal and Spain, hereinafter referred to as the "Pod Users", propose to offer one C-130 H and its unique sensor system for a seven-day certification period, valid for all Pod Users, provided that the conduct of the preparation phase as outlined below is found satisfactory by the interested States Parties.</p>
    <p>The Pod Users support the principle of openness and transparency and strongly wish to accomplish their certification in that spirit.</p>
    <p>To achieve these goals, the Pod Users intend to organise the preparation phase for their certification in the following manner:</p>
      <div class="col-sm-12">
        <p>1. Provide information on the Pod system itself, in addition to that already released. This information will include photographs and descriptions of the various components of the system.</p>
        <p>2. Provide information on the aircraft, stressing the differences between the national C-130 H. This information will include photographs, especially of the cockpit, the navigation and communication equipment, and of the instrument panels, and a detailed description of the various components.</p>
        <p>3. In order to collect data prior to certification, all Pod Users will fly their own aircraft equipped with the Pod system, using various sensor configurations in accordance with agreed procedures.</p>
        <p>4. The same calibration target will be used throughout the whole data-collection campaign and for the certification.</p>
        <p>5. All sensor data collected will be processed in accordance with agreed guidelines and film manufacturers' specifications, and will be presented as a consolidated package.</p>
        <p>6. In view of increasing openness and transparency and of making the C-130 H/Pod system certification a successful event, the Pod Users will be ready to consider any further request from interested States Parties.</p>
      </div>
  </div>
</div>

<hr>
<br/>
<div class="row" id="Attachment4">
  <div class="col-sm-2">
    <p align="left"><a href="#list">Back to the 17 December 2001 Attachment List</a></p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">17 December 2001 <br/>Attachment 4 to Annex 1</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>PRINCIPLES FOR JOINT CERTIFICATIONS</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>As agreed by the informal Working Group on Certification, States Parties intend to use the following principles for joint certification.</p>
    <p>Joint certification is when one observation aircraft and its sensors from more than one State Party, or more than one observation aircraft type and its sensors from one or more States Parties are presented for certification in the same location at the same time.</p>
    <p>The aim of a joint certification is to realize benefits to States Parties by:</p>
      <div class="col-sm-12">
        <p>- Reducing the time of the total certification period;</p>
        <p>- Reducing travel requirements;</p>
        <p>- Eliminating gaps between single certifications;</p>
        <p>- Reducing the total time period necessary for unpredictable events.</p>
      </div>
    <p>It is the responsibility of the States Parties wishing to conduct a joint certification to devise a comprehensive framework to ensure all the individual national responsibilities are fulfilled, and to present a plan to the OSCC for scheduling purposes.</p>
    <p>While a single certification event is limited to seven days, a joint certification would be limited to a maximum of seven days times the number of observation aircraft being certified. It is anticipated that the actual joint certification plan would be some number of days less than the maximum allowed.</p>
    <p>The number of individuals participating in a joint certification shall be in accordance with Annex D, Section I, paragraph 4, which states: "Unless otherwise agreed, the number of individuals shall total no more that 40 and include no more than four from any one State Party." Additional consideration should be given to the total number and distribution of individual participants.</p>
  </div>
</div>

<hr>
<br/>
<div class="row" id="Attachment5">
  <div class="col-sm-2">
    <p align="left"><a href="#list">Back to the 17 December 2001 Attachment List</a></p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">17 December 2001 <br/>Attachment 5 to Annex 1</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>DETERMINATION OF H MIN-CERT</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>As agreed by the informal Working Group on Certification (IWGC), all States Parties agree that a consistent methodology of technical interpretation for certification is desirable to ensure acceptable results.</p>
    <p>The Treaty on Open Skies, Annex D, Section III, paragraph 1 and (B), states:</p>
      <div class="col-sm-12">
        <p>"In addition to conducting a ground examination of the observation aircraft and its sensors, the State Party conducting the certification shall conduct one in-flight examination of its sensors which shall be sufficient to:"</p>
          <div class="col-sm-12">
            <p>(B) in the event that the ground resolution of a sensor is dependent upon height above ground level, establish the minimum height above ground level from which each such sensor installed on an observation aircraft of that type and model shall be operated for any observation flight, in accordance with the limitation on ground resolution specified in Article IV, paragraph 2 of the Treaty;</p>
            <p>Therefore, States Parties have indicated that they are prepared to use the following methodology during certification to determine the H min-cert for certifications of optical and video cameras.</p>
            <p>H min-cert will be based upon a methodology of validating H min-exp, which is derived from a substantial quantity of data previously collected. H min-exp becomes H min-cert, if H min- calculated during the certification flight is within + 20 per cent of H min-exp . In accordance with the Sensor Guidance Document (SGD), higher variations should not be considered surprising and are subject to discussion.</p>
          </div>
      </div>
  </div>
</div>

<hr>
<br/>
<div class="row" id="Attachment6">
  <div class="col-sm-2">
    <p align="left"><a href="#list">Back to the 17 December 2001 Attachment List</a></p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">17 December 2001 <br/>Attachment 6 to Annex 1</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>USE OF ONE CALIBRATION TARGET FOR CERTIFICATION</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>As agreed by the informal Working Group on Certification, States Parties state their intention to adhere to the following principle with regard to calibration targets for the certification of optical and video sensor configurations.</p>
    <p>During the briefing prior to the commencement of the in-flight examination of the sensors, each certifying State Party will identify the calibration target it will use during the certification.</p>
  </div>
</div>

<hr>
<br/>
