<div id="2003"></div>

<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p align="left">Open Skies Consultative Commission <br/><strong>2nd Meeting of the 30th Session</strong> <br/>OSCC(30) Journal No. 87, Agenda Item 6(f)</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">OSCC30.JOUR/87 <br/>24 February 2003 <br/>Annex 3 <br/>OSCC+ <br/>Original: ENGLISH</p>
  </div>
</div>
<div class="row" id="list">
  <div class="col-sm-12 text-center">
    <p><strong>STATEMENT BY THE CHAIRPERSON OF THE OPEN SKIES CONSULTATIVE COMMISSION</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>1. The purpose of OSF 26 messages is to publish changes, additions and deletions to information. There is currently no simple method for a State Party or group of States Parties to publish an OSF 26 message which contains a summary of all the current relevant information in one consolidated list.</p>
    <p>2. Therefore, in order to provide a complete current list of all relevant material, it is agreed that States Parties or groups of States Parties will publish an OSF 26 by 15 March 2003, which lists all current information relating to Annex A, Section III, and Annex E -Appendix 1, Section II, for their State Party or group of States Parties. Paragraphs 5.A.(1), 5.B.(1), 5.(C).(1), etc., of the OSF 26 will be left blank. The remarks section will read: This OSF 26 is not intended to introduce changes/additions/deletions, but is a summary of all current information.</p>
    <p>3. States Parties or groups of States Parties will continue to use an OSF 26, as required during the year, to indicate the changes/additions/deletions to relevant information. However, a consolidated OSF 26 is optional each time an OSF 26 is published. This consolidated OSF 26 shall list all of the information relating to Annex A, Section III, and Annex E Appendix 1, Section II, that is currently valid for their State Party or group of States Parties. Paragraphs 5.A.(1), 5.B.(1), 5.(C).(1), etc., of the OSF 26 can be left blank for information that has not been modified, and the indication, Addition, Change, or Deletion, entered for information that has been modified. The remarks section may also be used to summarize the portion of the information that has been modified.</p>
    <p>4. If there have been changes during the year, the State Party or group of States Parties shall publish an annual consolidated OSF 26, by 31 December of that year, which lists all of the information relating to Annex A, Section III, and Annex E Appendix 1, Section II, that is currently valid for that State Party or group of States Parties. Paragraphs 5.A.(1), 5.B.(1), 5.(C).(1), etc., of the OSF 26 will be left blank. The remarks section will read: "This OSF 26 is not intended to introduce changes/additions/deletions, but is a summary of all current information."</p>
    <p>5. If there have been no changes to the relevant information during the year, there is no</p>
  </div>
</div>

<hr>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p align="left">Open Skies Consultative Commission <br/><strong>4th Meeting of the 30th Session</strong> <br/>OSCC(30) Journal No. 89, Agenda item 7(a)</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">OSCC30.JOUR/89 <br/>7 April 2003 <br/>Annex 2 <br/>OSCC+ <br/>Original: ENGLISH</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>CHAIRPERSON'S STATEMENT ON INFORMATION BY ACCEDING STATES</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>The Open Skies Treaty Articles III (Quotas), XVII (Accession) and Annex A provide for the allocation of passive quotas to States Parties. In addition, OSCC Decision No. 8/02/Corr.1 of 22 April 2002 (Guidelines for accession to the Treaty on Open Skies) and the Chairperson's Statement of 11 November 2002 detail modalities and elements to be taken into consideration.</p>
    <p>In order to further facilitate the accession process and ensure that the Open Skies Treaty achieves the broadest possible membership, States wishing to accede are encouraged to provide, ideally upon declaring their intention, every useful information which may include the level of a passive quota, the designation of point(s) of entry/exit, Open Skies airfields and their associated maximum flight distances as well as any intention that may exist to form a group with any other State Party.</p>
    <p>Even though it is not explicitly required by the Open Skies Treaty, such an early and, wherever applicable, co-ordinated provision of relevant information would contribute to the Commission reaching a more comprehensive assessment of requests for accession, enable early participation of acceding States in the practical implementation of the Treaty and enhance openness, transparency and confidence-building.</p>
  </div>
</div>

<hr>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p align="left">Open Skies Consultative Commission <br/>4th Meeting of the 30th Session <br/>OSCC(30) Journal No. 89, Agenda item 7(b)</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">OSCC30.JOUR/89 <br/>7 April 2003 <br/>Annex 3</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>CHAIRPERSON'S STATEMENT ON MODIFICATIONS TO ANNEX A AND ANNEX E TO THE TREATY ON OPEN SKIES</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>The States Parties take note of the questions regarding implementation of the provisions of Annex A and Annex E to the Treaty on Open Skies and the concerns raised about changes introduced by some States Parties to their national networks of Open Skies airfields and to the maximum flight distances from them.</p>
    <p>Willing to proceed in accordance with Article ?, paragraphs 4 (A) and (B) and paragraph 5, the States Parties have reached the following understanding:</p>
      <div class="col-sm-12">
        <p>1. Acting in the spirit of good will, mutual understanding and cooperation characteristic of the Open Skies Consultative Commission's work, the States Parties will concentrate on their mutual concerns related to the national changes previously introduced to Annex A and Annex E to the Treaty on Open Skies, seeking to address these concerns before the summer recess;</p>
        <p>2. While seeking to resolve these concerns, the OSCC tasks the Informal Working Group on Rules and Procedures to work on a draft decision which would contain relevant recommendations concerning the introduction of changes to Annex A and Annex E to the Treaty on Open Skies and to submit them for approval at the Commission's Plenary. Such changes should not affect Treaty operation and implementation, or the rights of States Parties, while maintaining flexibility;</p>
        <p>3. While this issue is before the Open Skies Consultative Commission, every effort will be made to facilitate the continuing implementation of the Treaty.</p>
      </div>
  </div>
</div>

<hr>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p align="left">Open Skies Consultative Commission <br/>4th Meeting of the 30th Session <br/>OSCC(30) Journal No. 89, Agenda item 7(f)</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">OSCC30.JOUR/89 <br/>7 April 2003 <br/>Annex 4 <br/>OSCC+ <br/>Original: ENGLISH</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>CHAIRPERSON'S STATEMENT ON ANNUAL EXCHANGE OF LIST OF DESIGNATED PERSONNEL</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>In accordance with the Treaty on Open Skies, Articles XI and XIII, and the Chairman's Statement of 18 February 2002, States Parties have exchanged notifications on the initial list of designated personnel (Format OSF 18).</p>
    <p>In order to ensure all States Parties are able to maintain current lists of designated personnel, the Chair recommends the following procedures:</p>
      <div class="col-sm-12">
        <p>1. States Parties may provide updates to the list of designated personnel using Format OSF 19 every six months, publishing the OSF 19 prior to 1 March and 1 September each year.</p>
        <p>2. Annually no later than 15 May, States Parties will publish, using Format OSF 18, an original consolidated list of designated personnel. This list will include all changes that have been notified and accepted since the submission of the previous consolidated list. As an exception, States Parties will publish an original consolidated list (OSF 18) for 2003 not later than 31 May 2003.</p>
        <p>3. As is current OSCE Communications Network practice, States Parties may issue a corrected notification should information on the original OSF 18 or OSF 19 need to be updated or clarified (new passport number or minor typographical errors). As these notifications tend to be lengthy, it is recommended to identify the correction references in the remarks section. If the correction pertains to an individual(s) who will be participating in an upcoming Treaty mission, the correction should also be highlighted on the Format OSF 12 with an explanation of the correction in the remarks section. Use of a Format OSF 35 for correcting these minor errors is not recommended, as it has proven difficult to track such corrections.</p>
        <p>4. States Parties may provide their consolidated list of designated personnel (OSF 18) through the OSCE Communications Network and/or through diplomatic channels in Vienna, including CD-ROM. For practical reasons, States Parties are encouraged to exchange their</p>
      </div>
  </div>
</div>

<hr>
<br/>
