<div id="2007"></div>

<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p align="left">Open Skies Consultative Commission <br/>Ukrainian Chairmanship</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">MC.GAL/2/07 <br/>29 October 2007 <br/>OSCC+ <br/>ENGLISH only</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>LETTER FROM THE CHAIRPERSON OF THE OPEN SKIES CONSULTATIVE COMMISSION TO THE <br/>MINISTER FOR FOREIGN AFFAIRS AND COOPERATION OF <br/>SPAIN, CHAIRPERSON OF THE FIFTEENTH MEETING OF THE OSCE MINISTERIAL COUNCIL</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Your Excellency,</p>
      <div class="col-sm-11 col-sm-offset-1">
        <p>In my capacity as Chairperson of the Open Skies Consultative Commission (OSCC), I have the honour, on behalf of the chairmanships of the Czech Republic, Turkey and Ukraine, to inform you of the activities of the OSCC in 2007.</p>
        <p>During the reporting period, following the Ministerial Council meeting in Brussels, the OSCC focused on current issues essential to the effective implementation of the Treaty on Open Skies, in the framework of the continuing implementation of the Treaty during the second phase of its implementation, which started on 1 January 2006.</p>
        <p>The overall number of States Parties to the Treaty has remained at 34. In 2007, no new applications for accession to the Treaty have as yet been registered. The Chairperson encourages and welcomes accession to the Treaty by more OSCE participating States. The application of Cyprus remains pending on the agenda of the OSCC.</p>
        <p>Since the previous reporting period, the States Parties have conducted about 119 observation flights that by and large have been judged successful and have been conducted in an atmosphere of mutual co operation between the observing and the observed parties. In the course of these observation flights, the States Parties made wide use of such forms of co operation as shared observation flights, in which two or more observing parties participated in an observation mission over the observed party. Furthermore, the States Parties continued the practice of conducting training observation flights on a bilateral basis.</p>
        <p>The OSCC continues to address the issues arising in relation to the day to day implementation of the Treaty through the Informal Working Group on Rules and Procedures (IWGRP). In this context, the OSCC adopted a decision on Revision Four of Decision Number One to the Treaty on Open Skies the major OSCC financial document which governs the distribution of costs arising under the Treaty on Open Skies. At the present time, the IWGRP is also continuing to discuss some other financial aspects of implementation of the Treaty, as well as the influence of hazardous airspace on observation flights.</p>
        <p>The Informal Working Group on Sensors (IWGS) completed two very significant decisions which were adopted this year: (1) a new Infrared Decision and (2) a Certification Decision. The Infrared Decision incorporated several new cost-effective protocols which were developed and proven over a period of several years, including through several international flight test events. The Certification Decision coalesces and codifies certification procedures. Both decisions make the Treaty function more efficiently and at lower costs.</p>
        <p>The IWGS is currently working on new procedures for modern digital camera systems. As shown at the Digital Sensor Seminar in Berlin in May 2007, commercial aerial imagery systems have evolved away from film cameras and into digital technology. Current efforts are focused on revising Decision Number Fourteen to establish cost-effective procedures for certifying and operating commercial digital aerial camera systems for the Open Skies Treaty.</p>
        <p>The OSCC agreed on a Chairperson's statement on the procedure for the distribution of active quotas for the year 2008. At the quota distribution meeting held on 4 and 5 October, agreement was reached on the distribution of quotas for 2008. The meeting and the procedure were regarded as very successful and in accordance with the spirit of the Treaty. The Chairperson is hopeful that this vital instrument of co operation will continue to function effectively. The OSCC adopted a decision on distribution of active quotas for observation flights in the year 2008.</p>
        <p>The Open Skies Treaty continues to enhance openness and transparency among the States Parties and contributes to maintaining a climate of co operation in their territories, from Vancouver to Vladivostok. Moreover, the Treaty is making a substantial contribution to achieving the goals and objectives of the OSCE, in particular to that of promoting confidence, stability and security in Europe.</p>
        <p>Your Excellency, you may deem it useful to reflect this information in the relevant documents of the Ministerial Council meeting.</p>
      </div>
  </div>
</div>

<hr>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p align="left">Open Skies Consultative Commission <br/>Chairmanship of Turkey</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">OSCC.DEL/5/07/Rev.1 <br/>06 July 2007 <br/>OSCC+ <br/>ENGLISH only</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>DRAFT STATEMENT BY THE CHAIRPERSON OF THE OPEN SKIES CONSULTATIVE COMMISSION <br/>The procedure for the distribution of active quotas for the year 2008</strong></p>
  </diV>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>With reference to:</p>
      <div class="col-sm-12">
        <p>Article III, Section I, paragraph 7 of the Treaty on Open Skies,</p>
        <p>Annex L, Section II of the Treaty on Open Skies,</p>
        <p>Article X on the responsibilities of the OSCC,</p>
        <p>OSCC Decision No. 12/04,</p>
        <p>The Chairperson of the Open Skies Consultative Commission (OSCC),</p>
        <p>Taking into account the distribution process of quotas for the year 2007,</p>
        <p>Suggests the following practical method in order to introduce a period of informal consultations in advance of the formal quota distribution process set out in the above references:</p>
          <div class="col-sm-12">
            <p>1. States Parties may begin the process of active quota distribution, in an informal format, earlier. States Parties may submit, informally, a draft list of those States Parties over which they wish to conduct observation flights and the number of such flights during the next calendar year by 14 September 2007, either by OSF34, by e-mail or by fax to all States Parties. All such requests will be incorporated into a matrix, as in previous years;</p>
            <p>2. States Parties will then hold discussions on active quota distribution on 4 and 5 October 2007.</p>
              <div class="col-sm-12">
                <p>The formal 3 week negotiation period referred to Article III, Section I, paragraph 7 of the Treaty on Open Skies will commence, as usual, on 1 October and OSF 34s must be submitted by this date. The mechanism and timetable for distribution of active quotas will proceed in accordance with OSCC Decision No. 12/04.</p>
                <p>The OSCC may review the effectiveness of this Chairperson's Statement in advance of the distribution of active quotas for 2009.</p>
              </div>
          </div>
      </div>
  </div>
</div>

<hr>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p align="left">Open Skies Consultative Commission <br/>Chairmanship of Turkey</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">OSCC.DEL/7/07 <br/>16 July 2007 <br/>OSCC+ <br/>ENGLISH only</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>STATEMENT BY THE CHAIRPERSON OF THE OPEN SKIES CONSULTATIVE COMMISSION</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>The procedure for the distribution of active quotas for the year 2008</p>
    <p>With reference to:</p>
      <div class="col-sm-12">
        <p>&mdash;Article III, Section I, paragraph 7 of the Treaty on Open Skies,</p>
        <p>&mdash;Annex L, Section II of the Treaty on Open Skies,</p>
        <p>&mdash;Article X on the responsibilities of the OSCC,</p>
        <p>&mdash;OSCC Decision No. 12/04,</p>
      </div>
    <p>The Chairperson of the Open Skies Consultative Commission (OSCC),</p>
    <p>Taking into account the distribution process of quotas for the year 2007,</p>
    <p>Suggests the following practical method in order to introduce a period of informal consultations in advance of the formal quota distribution process set out in the above references:</p>
      <div class="col-sm-12">
        <p>1. States Parties may begin the process of active quota distribution, in an informal format, earlier. States Parties may submit, informally, a draft list of those States Parties over which they wish to conduct observation flights and the number of such flights during the next calendar year by 14 September 2007, either by OSF34, by e-mail or by fax to all States Parties. All such requests will be incorporated into a matrix, as in previous years;</p>
        <p>2. States Parties will then hold discussions on active quota distribution on 4 and 5 October 2007.</p>
        <p>The formal 3 week negotiation period referred to Article III, Section I, paragraph 7 of the Treaty on Open Skies will commence, as usual, on 1 October and OSF 34s must be submitted by this date. The mechanism and timetable for distribution of active quotas will proceed in accordance with OSCC Decision No. 12/04.</p>
      </div>
    <p>The OSCC may review the effectiveness of this Chairperson's Statement in advance of the distribution of active quotas for 2009.</p>
  </div>
</div>

<hr>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p align="left">Open Skies Consultative Commission <br/>Ukrainian Chairmanship</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">OSCC.DEL/14/07 <br/>10 December 2007 <br/>OSCC+ <br/>ENGLISH only</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>CLOSING REMARKS 10 December 2007</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Dear colleagues,</p>
      <div class="col-sm-11 col-sm-offset-1">
        <p>Allow me to make a few closing remarks as Chair of the current session of the Open Skies Consultative Commission.</p>
        <p>This session has been quite eventful and marked by a number of important decisions adopted by the Commission. Let me briefly go through all of them.</p>
        <p>On 4 and 5 of October, we conducted the quota distribution meeting for 2008. The meeting and the procedure we followed were regarded as rather successful and being in line with the spirit of the Treaty. We started our quota consultations in advance and adopted the decision at a proper time. I hope that next year the Commission will continue to build upon this positive experience.</p>
        <p>I would like to express my particular gratitude to all delegations for their constructive approach, support and flexibility that allowed us to reach consensus on the OSCC contribution to the Ministerial Declaration in Madrid. Let me also thank you all for your support in preparing the Letter from the Chairperson of the OSCC to the Chairperson of the Fifteenth meeting of the OSCE Ministerial Council.</p>
        <p>During this fall session, the OSCC adopted the decision on Revision Four of Decision Number One to the Treaty on Open Skies the major OSCC financial document which governs the distribution of costs arising under the Treaty. Today, we have managed to finalize and adopt the Decision on Amendment One to Revision Four of Decision Number One to the Treaty on Open Skies. Thus, we have turned a very important page in the activities of the Commission, thereby allowing continuation of a smooth and effective implementation of the Treaty.</p>
        <p>The new Infrared Decision and the Certification Decision, too, were adopted at the current session. The Chairmanship considers this a great success for all of us. Both decisions will make the Treaty function more efficiently and at lower costs.
        The current work on new procedures for modern digital camera systems is continuing in the framework of the IWG on Sensors (we have just heard a report of the Group on that matter) and I wish to express my firm hope that these efforts will soon be crowned with success.</p>
      </div>
    <p>Dear colleagues,</p>
      <div class="col-ms-11 col-sm-offset-1">
        <p>It has been a great pleasure to chair the OSCC during this fall session. This work was challenging, at times filled with unorthodox situations (as someone put it during one of our previous meetings), but still very gratifying and enriching. It's been an excellent experience for our delegation and for me personally. Let me express my thanks and appreciation to all State Parties, the previous chairs the Czech Republic and Turkey, and also to our colleague from Sweden, who chaired the Commission in autumn 2006 and who assisted us every step of the way in organizing our work this fall. I also wish to thank the Chairman of the IWGRP Mr. Alexander Kozlov, the Chairman of the IWGS Mr. Scott Simmons and our Chef de file for quota distribution Col. Ratzlaff. My most heartfelt gratitude also goes to the Secretariat, in particular Ms. Heather Cantin, and our interpreters for a job well done and for their excellent support.</p>
        <p>Finally, I would like to welcome Germany as the incoming Chair of the OSCC. We wish you all the best and you can count on our support during your Chairmanship next year.</p>
        <p>I thank you for your attention.</p>
      </div>
  </div>
</div>

<hr>
<br/>
