<div id="2009"></div>

<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p align="left">Open Skies Consultative Commission <br/>Bulgarian Chairmanship</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">OSCC.DEL/7/09 <br/>15 December 2009 <br/>OSCC+ <br/>ENGLISH only</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>CLOSING REMARKS <br/>14 December 2009</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Dear colleagues,</p>
      <div class="col-sm-12">
        <p>Allow me to make a few closing remarks as Chair of the current session of the Open Skies Consultative Commission.</p>
        <p>This session has been quite eventful and marked by a number of important decisions adopted by the Commission. Let me briefly go through all of them.</p>
        <p>On 9 of October, we conducted the quota distribution meeting for 2010. The meeting and the procedure we followed was regarded as one of the most short and successful and being in line with the spirit of the Treaty. We started our quota consultations in advance and adopted the decision at a proper time. I hope that next year the Commission will continue to build upon this positive experience.</p>
        <p>I would like to express my particular gratitude to all delegations for their constructive approach, support and flexibility that allowed us to reach consensus on the OSCC contribution to the Ministerial Declaration in Athens. Let me also thank you all for your support in preparing the Letter from the Chairperson of the OSCC to the Chairperson of the Seventeenth meeting of the OSCE Ministerial Council.</p>
        <p>During this fall session, the OSCC adopted the decision on Rules of Procedure and Working Methods for the 2010 Review Conference of the States Parties under Article XVI of the Treaty on Open Skies.</p>
        <p>The Open Skies Consultative Commission agreed that it would be useful to have an IWG for the preparation and planning of the Second Review Conference on the Implementation of the Treaty on Open Skies to be held from 7 to 9 June 2010 (Review Conference) and adopted the decision on creation of the Informal Working Group on Planning the Review Conference on the Implementation of the Treaty on Open Skies (IWGPRC).</p>
        <p>Today, we have managed adopt the Decision on Continuing the Application of the current OSCC Scales of Contribution and discuss several other draft decisions.</p>
        <p>The current work on new procedures for modern digital camera systems is continuing in the framework of the IWG on Sensors and I wish to express my firm hope that these efforts will soon be crowned with success.</p>
      </div>
    <p>Dear colleagues,</p>
      <div class="col-sm-12">
        <p>It has been a great pleasure to chair the OSCC during this fall session. It's been an excellent experience for our delegation and for me personally. Let me express my thanks and appreciation to all State Parties, the previous chairs the Bosnia and Herzegovina and the Kingdom of Belgium, and also to our colleagues from Germany, UK and US. I also wish to thank the Chairman of the IWGRP Mr. Alexander Kozlov, the Chairman of the IWGS Mr. Scott Simmons and our Chef de file for quota distribution Col. Hans-Joachim Horst Ratzlaff. My most heartfelt gratitude also goes to the Secretariat, in particular Ms. Sandra Sacchetti, Ms Andrea Sekhavat, and our interpreters for a job well done and for their excellent support.</p>
        <p>Finally, I would like to welcome Canada as the incoming Chair of the OSCC. We wish you all the best and you can count on our support during your Chairmanship next year.</p>
        <p>I thank you for your attention.</p>
      </div>
  </div>
</div>

<hr>
<br/>
