<div id="2012"></div>

<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2 col-sm-offset-10">
    <p align="right">OSCC.DEL/1/12 <br/>27 January 2012 <br/>OSCC+ <br/>Original: FRENCH</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>REPRESENTATION PERMANENTE DE LA FRANCE aupr's de l O. S. C. E <br/>NON OFFICIAL TRANSLATION</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Excellencies,</p>
      <div class="col-sm-12">
        <p>In the framework of the French presidency of the 57th session of the Open Skies Consultative Commission (OSCC), I have started consultations with several delegations in order to overcome the difficulties which affected the work of the Commission in 2011.</p>
        <p>I welcome the common intention expressed to cooperate in order to find a lasting solution to these difficulties and allow the Commission to resume its activities. We are all convinced that this resumption is necessary to adapt the Treaty to the new technologies and to the new context.</p>
        <p>The resumption of the work of the Commission in satisfactory conditions requires the adoption of agendas, in full respect of the Rules of procedures and the Treaty. The consultations I have started show that this adoption will not be possible on the 30th of January, date of the first scheduled formal meeting.</p>
        <p>Thus, unless I receive any objections before Friday the 27th of January at 4.00pm, this formal meeting will be cancelled and replaced by an informal one on the 30 th of January, to give to all delegations an opportunity to address any issue they would like to deal with in the current session.</p>
        <p>I plan to continue my consultations in order to create the conditions which would allow for the organisation of a formal meeting of the Commission in February.</p>
      </div>
    <p>Best regards.</p>
      <div class="col-sm-12">
        <p>Franc'ois ALABRUNE</p>
      </div>
    <p>To :</p>
      <div class="col-sm-12">
        <p>Permanent Representatives of States Parties to the Open Sky Treaty</p>
      </div>
    <p>For information:</p>
      <div class="col-sm-12">
        <p>Observer States</p>
      </div>
  </div>
</div>

<hr>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2 col-sm-offset-10">
    <p align="right">OSCC.DEL/4/12 <br/>2 February 2012 <br/>OSCC+ <br/>ENGLISH <br/>Original: FRENCH</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>STATEMENT BY AMBASSADOR FRANC'OIS ALABRUNE, PERMANENT REPRESENTATIVE OF FRANCE TO THE OSCE AND CHAIRPERSON OF THE OPEN SKIES CONSULTATIVE COMMISSION (OSCC), AT THE FIRST INFORMAL MEETING OF THE 57th SESSION OF THE OSCC</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Ladies and gentlemen,</p>
    <p>Dear colleagues,</p>
      <div class="col-sm-12">
        <p>It is an honour and a great responsibility for my delegation to assume the chairmanship of the Open Skies Consultative Commission (OSCC). I should like first of all to thank all the delegations for agreeing to hold an informal meeting today to enable us to outline the objectives of the present session.</p>
        <p>This year will mark the twentieth anniversary of the signing of the Treaty and the tenth anniversary of its entry into force. We can only welcome the implementation of this Treaty, which was originally conceived as an arms control instrument and has over time become a confidence- and security-building measure contributing to transparency among the States Parties.</p>
        <p>We are grateful to Spain, Estonia and Finland for their commitment in chairing the Consultative Commission last year.</p>
        <p>Thanks to their efforts, the Commission was able to adopt seven decisions last year and a revision of the decision on the quotas for 2011. What is more, these decisions would not have been possible without the personal commitment of the experts in the various working groups, led by their chairpersons. I should therefore like to congratulate Mr. Dennis Grieshop of the United States delegation, chairperson of the informal group on sensors, Ms. Diana Marvin, also of the United States delegation and chairperson of the informal working group on notifications and formats, and Mr. Kozlov of the Russian delegation, chairperson of the working group on rules and procedures. I should like to assure them of the chairmanship's full support as they carry out their work. I should also congratulate Colonel Johannes Risse of the German delegation, who contributed to the preparation of the decision on the distribution of quotas, which is indispensable for the Treaty's implementation in 2012.</p>
        <p>We know that for a year now the OSCC has been facing a number of difficulties, which are limiting its ability to work. Despite the efforts of the previous chairmanships, it has not been possible to find a lasting solution to these difficulties. I have been engaged in consultations to find a lasting solution so as to enable the Commission to resume its work under favourable conditions and enable the Treaty to be implemented by our verification centres in a satisfactory manner. I am pleased at the willingness to co-operate expressed by the delegations that I have been able to meet.</p>
        <p>The chairmanship will continue its consultations in the hope of finding a solution that will allow us to resolve the aforementioned difficulties. While being realistic in terms of what it can do, the chairmanship will endeavour to propose methods that will enable these difficulties to be resolved, with the collaboration of all the States Parties, in strict compliance with the rules and procedures and with the Treaty, and taking into account the positions of each party.</p>
        <p>During this session the working groups will continue their work of preparing documents for the Commission.</p>
        <p>In the period immediately ahead we must endeavour to adopt a decision on the budgetary distribution formula necessary for financing the work of the Commission in 2012.</p>
        <p>As regards the implementation of the Treaty itself, the work of the informal working groups means that we can reasonably expect the adoption of decisions soon. I might mention that several documents proposed by the delegations were turned into draft decisions once the experts agreed on their content. I urge the delegations to refer matters to their authorities so that the final adjustments can be taken into consideration during the forthcoming plenary meetings in order to encourage the adoption of decisions. The reports issued by the chairpersons of these informal groups, such as the documents OSCC.SEN/11/11 or OSCC.NF/2/11, provide a list of the drafts studied and a great deal of information making it possible to assess their progress.</p>
        <p>I encourage the delegations to intensify their efforts so that the Commission can adopt documents promoting adaptation to the new technologies and to the new situation, as we have committed ourselves to doing in the final declaration of the Second Review Conference. In this regard, one of our main concerns if we want to control the already considerable costs involved in the missions must be the replacement of sensors using film-based technology, which are in short supply, with digital sensors.</p>
        <p>As for cost control, the work undertaken by Germany, which has resulted in a draft decision by the chairmanship regarding the creation of a working group on the possible sharing of Open Skies resources, should be continued.</p>
        <p>Lastly, I should like to thank in advance the delegations that upon encountering obstacles in implementation during missions are not content with simply raising these problems before the Commission but submit food-for-thought papers to the informal working groups so that these obstacles can be overcome, taking into account the safety of the flight crews and assessment teams, the effectiveness of the Treaty and the constraints on each of the States Parties.</p>
        <p>I have no doubts as to the commitment of the States Parties to the Treaty. At the same time, its viability presupposes the commitment on the part of all concerned to ensuring that the Commission operates properly. This is the only possible way for the Treaty on Open Skies to continue to fulfil its role and contribute to greater confidence and transparency among the States Parties and within the OSCE area.</p>
      </div>
  </div>
</div>

<hr>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2 col-sm-offset-10">
    <p align="right">OSCC.DEL/21/12 <br/>24 April 2012 <br/>OSCC+ <br/>ENGLISH only</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>Distributed at the Request of the Permanent Mission of Georgia</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Ladies and Gentlemen,</p>
    <p>Dear Colleagues,</p>
      <div class="col-sm-12">
        <p>It is my privilege and honour to welcome you today at the informal meeting of the 58th session of the Open Skies Treaty Consultative Commission, the chairmanship of which Georgia has recently assumed. I hope we will use this opportunity to exchange our views and outline our vision on the work ahead of us in a constructive and cooperative way.</p>
        <p>Let me thank my predecessor, France for chairing the Commission in the first quarter of 2012. I am pleased to state that three important decisions had been adopted on the new versions of the Open Skies Formats 8 and 26 and on the OSCC Scale of Distribution for 2012, during the previous session, which is, of course, our joint success as well.</p>
        <p>The Informal working groups and the work done in the groups has indeed proved to be instrumental for getting progress in the implementation of the Treaty. I would like to use this opportunity and once again express our sincere gratitude and appreciation to respective chairpersons of the working groups: Mr. Dennis Grieshop ‐IWG on sensors, Ms. Diana Marvin ‐IWG on Notifications and Formats and Mr. Alexander Kozlov ‐IWG on Rules and Procedures.</p>
        <p>Just a month ago, we celebrated the 20thanniversary of the signature and the 10thanniversary of the entry into force of the Open Skies Treaty. Tremendous work done during these two decades and an impressive number of inspections conducted in the scope of the treaty clearly demonstrate that the Open Skies Treaty is undoubtedly a significant pillar of the post Cold War European security architecture.</p>
        <p>However, there have been certain developments which have limited the Commission’s ability to function smoothly as well as hindered the full implementation of the Treaty. Let’s agree that we all have to do our utmost in order to ensure the smooth functioning of the Commission as well as full implementation of the Treaty.</p>
        <p>I would like to express our sincere gratitude to all previous chairmanships for their continued efforts aimed at finding a solution to the difficulties which have been hampering the effective work of the Commission for more than a year now. Despite these efforts, it has not been possible so far to find a lasting solution to the particular challenges we all are facing.</p>
        <p>In my capacity as a current chair of the Commission I will spare no efforts to find a lasting solution so as to ensure that the Commission can resume its work in a business as usual way. I have already been engaged in consultations to this end. Since assuming its current functions, this Chairmanship has been acting and will continue to do so in strict compliance with the rules of procedure and the Treaty provisions.</p>
        <p>We will continue our consultations in the hope of finding a solution that will allow the Commission to function properly by taking into account the positions of all States Parties. Let me be very clear that we will listen to each State Party and not only to one interpretation on how to overcome the difficulties we all are facing.</p>
      </div>
    <p>Dear Delegates,</p>
      <div class="col-sm-12">
        <p>Finally, I would like to express my sincere hope that we would be able to exercise enough political will and move forward only through cooperation and collaboration between all States Parties. It could indeed be the best safeguard for the effective functioning of the Commission as well as the integrity of the Treaty.</p>
        <p>Thank you.</p>
      </div>
  </div>
</div>

<hr>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2 col-sm-offset-10">
    <p align="right">OSCC.DEL/25/12 <br/>18 May 2012 <br/>OSCC+ <br/>ENGLISH only</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>PERMANENT MISSION OF GEORGIA <br/>TO THE OSCE AND OTHER INTERNATIONAL ORGANISATIONS IN VIENNA</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Dear Colleagues,</p>
      <div class="col-sm-12">
        <p>In my capacity as the Chairman of the 58th session of the Open Skies Consultative Commission I would like to inform you that I continue intensive consultations with all interested delegations in order to overcome existing difficulties. At this stage I have decided to postpone the OSCC meeting scheduled for Monday, 21 May, 2012.</p>
        <p>I want to express my sincere gratitude to all those who have shown their strong support to the Chairmanship's activities aimed at resuming regular and successful functioning of the Commission.</p>
        <p>All delegations will be duly informed about further developments and the next steps of the Chairmanship on the matter.</p>
        <p>Sincerely,</p>
        <p>Paata Gaprindashvili <br/>Chairman of the Open <br/>Skies Consultative Commission</p>
      </div>
    <p>To: Permanent Representatives of States Parties to the Open Skies Treaty</p>
      <div class="col-sm-12">
        <p>For information: Observer States</p>
      </div>
  </div>
</div>

<hr>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2 col-sm-offset-10">
    <p align="right">OSCC.DEL/27/12 <br/>15 June 2012 <br/>OSCC+ <br/>ENGLISH only</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>PERMANENT MISSION OF GEORGIA <br/>TO THE OSCE AND OTHER INTERNATIONAL ORGANISATIONS IN VIENNA</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Dear Colleagues,</p>
      <div class="col-sm-12">
        <p>In my cunent capacity as the chairman of the open skies consultative Commission, I would like to inform you that I continue conducting consultations with all interested States Parties in order to overcome existing difficulties related to the resumption of the regular functioning of the OSCC.</p>
        <p>Against this background I would like to postpone the OSCC meeting scheduled for 18 June.</p>
        <p>The Georgian Chairmanship will inform all States Parties about new developmentisn due course.</p>
        <p>Sincerely,</p>
        <p>Paata Gaprindashvili <br/>Chairman of the Open <br/>Skies Consultative Commission</p>
      </div>
    <p>To: Permanent Representatives of States Parties to the Open Skies Treaty</p>
    <p>For information: Observer States</p>
  </div>
</div>

<hr>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2 col-sm-offset-10">
    <p align="right">OSCC.DEL/31/12Corr.1 <br/>16 July 2012 <br/>OSCC+ <br/>ENGLISH only</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>PERMANENT MISSION OF GEORGIA <br/>TO THE OSCE AND OTHER INTERNATIONAL ORGANISATIONS IN VIENNA</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Dear Colleagues,</p>
      <div class="col-sm-12">
        <p>In my current capacity as the Chairman of the Open Skies Consultative Commission, I would like to inform you that the meeting of the OSCC scheduled for July 16,2012 is postponed. Additional information will be provided in due course.</p>
        <p>Sincerely, Paata Gaprindashvili <br/>Chairman of the Open <br/>Skies Consultative Commission</p>
      </div>
    <p>To: Permanent Representatives of States Parties to the Open Skies Treaty</p>
    <p>For information: Observer States</p>
  </div>
</div>

<hr>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2 col-sm-offset-10">
    <p align="right">OSCC.DEL/32/12 <br/>18 July 2012 <br/>OSCC+ <br/>ENGLISH only</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>PERMANENT MISSION OF GEORGIA <br/>TO THE OSCE AND OTHER INTERNATIONAL ORGANISATIONS IN VIENNA</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Dear Colleagues,</p>
      <div class="col-sm-12">
        <p>In my Current capacity as the Chairman of the Open Skies Consultative Commission, I would like to inform you that an informal meeting of the OSCC will be held on Monday, 23 July 2012, at 10 a.m. in the Ratsaal.</p>
        <p>Sincerely, Paata Gaprindashvili <br/>Chairman of the Open <br/>Skies Consultative Commission</p>
      </div>
    <p>To: Permanent Representatives of States Parties to the Open Skies Treaty</p>
    <p>For information: Observer States</p>
  </div>
</div>

<hr>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2 col-sm-offset-10">
    <p align="right">OSCC.DEL/38/12 <br/>19 September 2012 <br/>OSCC+ <br/>ENGLISH only</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
<p>FROM THE HEAD OF DELEGATION <br/>Ambassador Dominic Schroeder</p>
<p>UK Delegation to the OSCE <br/>Jauresgasse 12 <br/>1030 Vienna <br/>Austria</p>
<p>Tel: (+43) (1) 716 13 3302 <br/>Fax: (+43) (1) 716 13 3900 <br/>Email: Dominic.Schroeder@fco.gov.uk <br/>www.fco.gov.uk</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>United Kingdom Delegation to the OSCE</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Dear Colleagues,
      <div class="col-sm-12">
        <p>In my capacity as Chairman of the 59th session of the Open Skies Consultative Commission, I would like to inform you that the OSCC meeting scheduled for the 24th September has been postponed.</p>
        <p>I am grateful for your continued patience and support while we seek to resume regular Plenary meetings.</p>
        <p>All Delegations will be informed of the date of our first meeting in due course.</p>
        <p>Yours sincerely,</p>
        <p>Paul Eason on behalf of Dominic Schroeder
        <br/>Chairman of the Open Skies Consultative Commission
        <br/>UNITED KINGDOM DELEGATION
        <br/>VIENNA
        <br/>19 September 2012</p>
      </div>
  </div>
</div>

<hr>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2 col-sm-offset-10">
    <p align="right">OSCC.DEL/41/12 <br/>16 October 2012 <br/>OSCC+ <br/>ENGLISH only</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>FROM THE HEAD OF DELEGATION <br/>Ambassador Dominic Schroeder</p>
    <p>UK Delegation to the osce <br/>Jauresgasse 12 <br/>1030 Vienna <br/>Austria</p>
    <p>Tel: (+43) (1)716 13 3302 <br/>Fax: (+43) (1) 716 13 3900 <br/>Email: Dominic.Schroeder@fco.gov.uk <br/>www.fco.gov.uk</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>United Kingdom Delegation to the OSCE</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
<p>The Coordinator of the OSCC Meeting on Active Quota Distribution 2013 has requested an Extraordinary meeting in order to expedite a decision on flights for 2013.1 As permitted by the Open Skies Treaty and under the Rules of Procedure, I hereby schedule such a meeting at 10.00 am on Monday 22 October 2012 in the Ratsaal. This Extraordinary meeting will focus purely on the pressing issue of the distribution of active quotas for observation flights in the year 2013 (OSCC.DD/3/12/Rev1/Corr.1 dated 16 October 2012).</p>
<p>The regular Opens Skies Consultative Commission meeting provisionally scheduled for the same day is postponed.</p>
<p>Ambassador Dominic Schroeder <br/>Head of UK Delegation to the OSCE</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2 col-sm-offset-10">
    <p align="left">OSCC.DEL/41/12 <br/>16 October 2012 <br/>OSCC+ <br/>ENGLISH only</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>THE PERMANENT REPRESENTATIVE OF THE FEDERAL REPUBLIC OF GERMANY <br/>TO THE ORGANISATION FOR SECURITY AND COOPERATION IN EUROPE VIENNA</strong></p>
 </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Vienna, 12 October 2012 <br/>Ambassador Rudiger Ludeking</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>To the Chairman of the Open Skies Consultative Commission <br/>Ambassador Dominic Schroeder Permanent Representative of the United Kingdom to the OSCE Vienna</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Dear Ambassador, Dear Dominic,</p>
      <div class="col-sm-12">
        <p>As you are aware, on the 4th and 5th October 2012 my Delegation coordinated the Annual Review of the Open Skies Quota Distribution for flights to be conducted in 2013, in accordance with the Open Skies Treaty Article III, Section 1, paragraph 7, The work was satisfactorily concluded and, on your behalf my Staff are in the process of preparing a Draft Decision.</p>
        <p>I understand that currently there are some challenges in taking forward the routine business of the OSCC and appreciate your ongoing efforts in that regard. In the event that this situation persists or further delays ensue, I hereby request, in accordance with Annex L, paragraph 3 and the Rules of Procedure Section III, paragraph 2, that you convene an Extraordinary Meeting to adopt the Quota Distribution draft decision.</p>
        <p>My request is guided by the interest, which I trust is shared by all, to provide in a timely fashion for the smooth and effective functioning of the Open Skies Treaty also in 2013.</p>
        <p>Yours sincerely,</p>
      </div>
  </div>
</div>

<hr>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2 col-sm-offset-10">
    <p align="right">OSCC.DEL/56/12 <br/>13 December 2012 <br/>OSCC+ <br/>ENGLISH only</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>FROM THE HEAD OF DELEGATION <br/>Ambassador Dominic Schroeder</p>
    <p>UK Delegation to the OSCE <br/>Jauresgasse 12 <br/>1030 Vienna <br/>Austria</p>
    <p>Tel: (+43) (1) 716 13 3302 <br/>Fax: (+43) (1) 716 13 3900 <br/>Email: Dominic.Schroeder@fco.gov.uk <br/>www.fco.gov.uk</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>United Kingdom Delegation to the OSCE <br/>13 December 2012</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Dear Colleagues,</p>
      <div class="col-sm-12">
        <p>Delegations are aware that the Indicative Schedule for the UK Chairmanship of the Open Skies Consultative Commission allows for a Plenary on 17 Dec 121. It is my view that we have gone as far as we can under this chairmanship to resolve the impasse relating to the agenda and working method of the OSCC. As a result I have decided not to convene another meeting.</p>
        <p>I am nevertheless aware of the important business waiting to be addressed by the OSCC. Looking ahead to 2013, alongside the annually recurring decisions, there will be a mounting need to adopt a number of proposals to keep the Treaty relevant and effective, especially those concerning sensors and certification. The Informal Working Groups and the Commission have other issues in need of attention, including discussions on ways to better share assets and make the Treaty more manageable in challenging financial times, and the use of digital sensors. From my perspective as outgoing Chairman I foresee a critical period for such business in 2013. Rather like the Quota decision, potentially serious risks entail if routine technical business remains blighted.</p>
        <p>For these reasons, I hope a way through our difficulties will be found and I am ready to lend my support to these efforts. I am grateful for the flexibility and support shown to the UK Delegation during its Chairmanship, but I urge all parties to consider what further they might do to avoid undermining the Treaty. I wish the Greek Delegation every success in its upcoming Chairmanship and I hope 2013 will prove to be a productive year.</p>
        <p>Yours sincerely,</p>
        <p>Dominic Schroeder <br/>Chairman of the Open Skies Consultative Commission</p>
      </div>
  </div>
</div>
