<div id="2014"></div>

<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p>Open Skies Consultative Commission</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">OSCC.INF/3/14 <br/>13 January 2014 <br/>OSCC+ <br/>ENGLISH only</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Chairmanship: Italy</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>Contact List for the 63rd Session <br/>of the Open Skies Consultative Commission</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>1. Vittorio ROCCO di TORREPADULA <br/>Permanent Representative <br/>Head of the Italian Delegation <br/>Chairman of the Commission <br/>vittorio.rocco@esteri.it</p>
    <p>2. Raffaele FESTA <br/>First Secretary <br/>Deputy Head of the Italian Delegation <br/>Plenary Meetings <br/>raffaele.festa@esteri.it</p>
    <p>3. Roberto AZZOLIN <br/>Air Force Brigadier General <br/>Senior Military Advisor <br/>Chair of the Sharing Assets Informal Working Group <br/>Liaison Officer with the Italian Verification Centre <br/>vienna.dat@smd.difesa.it</p>
    <p>4. Marco CENTRITTO <br/>Army Colonel <br/>Senior Military Advisor <br/>Relations with the other OSCC Informal Working Groups <br/>vienna.dat2@smd.difesa.it</p>
    <p>5. Filippo FAZZINI <br/>Personal Assistant to the Ambassador <br/>Administrative Secretary of the Chairmanship <br/>segrosce.vienna@esteri.it</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Italian Delegation to the OSCE <br/>Lugeck, 1-2 <br/>Top 10, 5th Floor <br/>1010 VIENNA <br/>Tel. 532 162937</p>
  </div>
</div>

<hr>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p>Open Skies Consultative Commission</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">OSCC.INF/2/14/Rev.1 <br/>27 January 2014 <br/>OSCC+ <br/>ENGLISH only</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Chairmanship: Italy</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>Work Programme of the 63rd Session of the Open Skies Consultative Commission <br/>(OSCC) <br/>Chairmanship: Italy <br/>(13 January 2014 – 27 April 2014)</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
<p>Items for the 63rd Session of the Open Skies Consultative Commission</p>
  <div class="col-sm-12">
    <p>1. Issues Relating to the Treaty Paragraph 4 A of Article X (Compliance with the Provisions of the Treaty)</p>
    <p>2. Issues Relating to the Treaty Paragraph 4 B of Article X (Implementation of the Treaty)</p>
    <p>3. Issues Relating to the Treaty Paragraph 4 C and D of Article X and Paragraphs 3, 4, and 5 of Article XVII (Accession to the Treaty)</p>
    <p>4. Issues Relating to the Treaty Paragraph 5 of Article X (Proposals of Amendments to the Treaty and Decisions and Recommendations of Administrative or Technical Nature)</p>
    <p>5. Review of the progress by the Informal Working Groups</p>
    <p>6. Discussion on the modernization of the Treaty on Open Skies</p>
  </div>
<div class="row">
  <div class="col-sm-12 text-center">
<p><strong>Provisional Schedule of Meetings for the 63rd Session of the Open Skies Consultative <br/>Commission (OSCC) with the proposed items to be discussed during the meetings <br/>Chairmanship: Italy <br/>(13 January 2014 – 27 April 2014)</strong></p>
  </div>
</div>
<div class="row">
  <div class="col table-responsive">
    <table class="table table-striped">
      <tr>
        <td>63.1. Meeting (27 January 2014)</td>
        <td>63.2. Meeting (24 February 2014)</td>
      </tr>
      <tr>
        <td>
          <p>Approval of the Work Programme for the 63rd Session</p>
          <p>Current implementation issues</p>
          <p>Issues Relating to the Treaty Paragraph 4 A of Article X (Compliance with the Provisions of the Treaty)</p>
          <p>Review of the progress by the Informal Working Groups (as appropriate)</p>
        </td>
        <td>
          <p>Current implementation issues</p>
          <p>Issues Relating to the Treaty Paragraph 5 of Article X (Proposals of Amendments to the Treaty and Decisions and Recommendations of Administrative or Technical Nature)</p>
          <p>Review of the progress by the Informal Working Groups (as appropriate)</p>
        </td>
      </tr>
      <tr>
        <td>63.3. Meeting (24 March 2014)</td>
        <td>63.4. Meeting (7 April 2014)</td>
      </tr>
      <tr>
        <td>
          <p>Current implementation issues</p>
          <p>Issues Relating to the Treaty Paragraph 4 C and D of Article X and Paragraphs 3, 4, and 5 of Article XVII (Accession to the Treaty)</p>
        </p>Review of the progress by the Informal Working Groups (as appropriate)</p>
        </td>
        <td>
          <p>Current implementation issues</p>
          <p>Issues Relating to the Treaty Paragraph 4 B of Article X (Implementation of the Treaty)</p>
          <p>Discussion on the modernization of the Treaty on Open Skies</p>
          <p>Review of the progress by the Informal Working Groups (as appropriate)</p>
          <p>Proposal for the Work Programme for the 64th Session and the starting date of the 64th Session</p>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
<p>Terms of references:</p>
  <div class="col-sm-12">
    <p>Open Skies Consultative Commission (OSCC):</p>
      <div class="col-sm-12">
        <p>&mdash; to promote the objectives and facilitate the implementation of the provisions of this Treaty – Article X of the Treaty on Open Skies para 1.</p>
      </div>
    <p>Responsibilities of the Chairman:</p>
      <div class="col-sm-12">
        <p>(a) to inform all States Parties of the date, time and location of meetings, as well as of proposals made by States Parties concerning the programme of the sessions;</p>
        <p>(b) to chair the meetings;</p>
        <p>(c) to keep a list of speakers and maintain a Journal, which shall be handed from Chairman to Chairman and which shall be available only to the States Parties;</p>
        <p>(d) to distribute to all States Parties copies of the Journal and attached texts;</p>
        <p>(e) to propose to the Commission the suspension or adjournment of the meeting, and the adjourning or closure of the debate on the item under discussion;</p>
        <p>(f) to seek resolution of administrative questions relating to the organisation of the work of the Commission;</p>
        <p>(g) to circulate to all States Parties a list of contact points of States Parties valid for the period between sessions; and</p>
        <p>(h) to fulfil other duties, as agreed by the Commission.</p>
        <p>&mdash; Section I para 1. of Decision Number Six to the Treaty On Open Skies</p>
      </div>
    <p>Consensus:</p>
      <div class="col-sm-12">
        <p>The OSCC shall take decisions or make recommendations by consensus. Consensus shall be understood to mean the absence of any objection by any State Party to the taking of a decision or the making of a recommendation. – Article X of the Treaty on Open Skies para 2.</p>
      </div>
    <p>Right to raise any issue:</p>
      <div class="col-sm-12">
        <p>Each State Party shall have the right to raise before the Open Skies Consultative Commission, and have placed on its agenda, any issue relating to this Treaty, including any issue related to the case when the observed Party provides an observation aircraft. – Article X of the Treaty on</p>
        <p>Open Skies para 2.</p>
        <p>Each State Party shall have the right to include additional items in the work programme of any session. The State Party requesting such an inclusion should inform the Chairman of those items, where possible no later than 30 days before the beginning of a regular session or seven days before the beginning of an extraordinary session. – Section III para 3. of Decision Number Six to the Treaty On Open Skies</p>
        <p>The provisions of paragraphs 1 and 2 of this Section are without prejudice to the right of each State Party to raise before the Commission, and have placed on its agenda, any issue relating to the Treaty. – Section IV para 3. of Decision Number Six to the Treaty On Open Skies</p>
      </div>
    <p>Establish a work programme:</p>
      <div class="col-sm-12">
        <p>Before the end of each session, the Commission shall seek to establish a provisional work programme and the starting date for the next regular session. – Section III para 1. of Decision Number Six to the Treaty On Open Skies</p>
      </div>
    <p>Approval of the work programme and the agenda</p>
      <div class="col-sm-12">
        <p>The Commission shall, as the first item of the agenda of the first meeting of a session, consider and approve the work programme of that session and the agenda of that meeting. – Section IV para 1. of Decision Number Six to the Treaty On Open Skies</p>
      </div>
    <p>Provisional agenda for the next meeting:</p>
      <div class="col-sm-12">
        <p>Before the end of each meeting, the Chairman shall propose a provisional agenda for review by the Commission at the start of the next meeting of the session. – Section IV para 2. of Decision Number Six to the Treaty On Open Skies</p>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p>Open Skies Consultative Commission</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">Annex 1</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Chairmanship: Italy</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>Draft Agenda for the 1st Plenary meeting of the 63rd Session <br/>of the Open Skies Consultative Commission <br/>Monday 27 January 2014 at 10 a.m. in the Ratsaal</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>1. Approval of
      <div class="col-sm-12">
        <p>&mdash; the Work Programme of the 63rd Session,</p>
        <p>&mdash; the Agenda of the 63.1. Meeting</p>
      </div>
    <p>2. Current implementation issues</p>
    <p>3. Issues Relating to the Treaty Paragraph 4A of Article X (Compliance with the Provisions of the Treaty)</p>
    <p>4. Review of the progress by the Informal Working Groups</p>
    <p>5. Provisional agenda for review by the Commission at the start of the next meeting of the session</p>
    <p>6. Any other business</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p>Open Skies Consultative Commission</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">Annex 2</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Chairmanship: Italy</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>Draft Agenda for the 2nd Plenary meeting of the 63rd Session of the Open Skies Consultative Commission <br/>Monday 24 February 2014 at 10.00 a.m. in the Ratsaal</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>1. Approval of the Agenda of the 63.2. Meeting</p>
    <p>2. Current implementation issues</p>
    <p>3. Issues Relating to the Treaty Paragraph 5 of Article X (Proposals of Amendments to the Treaty and Decisions and Recommendations of Administrative or Technical Nature), including:</p>
      <div class="col-sm-12">
        <p>&mdash; Discussion on Establishing an Ad-hoc Informal Working Group to Develop a Standard Template for OSCC Agendas (OSCC.DEL/10/13/Rev.1, 11 March 2013)</p>
      </div>
    <p>4. Review of the progress by the Informal Working Groups</p>
    <p>5. Any other business</p>
    <p>6. Provisional agenda for review by the Commission at the start of the next meeting of the session</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p>Open Skies Consultative Commission</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">Annex 3</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Chairmanship: Italy</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>Draft Agenda for the 3rd Plenary meeting of the 63rd Session of the Open Skies Consultative Commission <br/>Monday 24 March 2014 at 10.00 a.m. in the Ratsaal</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>1. Approval of the Agenda of the 63.3. Meeting</p>
    <p>2. Current implementation issues</p>
    <p>3. Issues Relating to the Treaty Paragraph 4 C and D of Article X and Paragraphs 3, 4,  and 5 of Article XVII (Accession to the Treaty)</p>
      <div class="col-sm-12">
        <p>&mdash; OSCC.DEL/31/02 of 6 June 2002 on written requests to accede to the Treaty</p>
      </div>
    <p>4. Review of the progress by the Informal Working Groups</p>
    <p>5. Provisional agenda for review by the Commission at the start of the next meeting of  the session</p>
    <p>6. Any other business</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p>Open Skies Consultative Commission</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">Annex 4</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Chairmanship: Italy</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>Draft Agenda for the 4th Plenary meeting of the 63rd Session of the Open Skies Consultative Commission <br/>Monday 7 April 2014 at 10.00 a.m. in the Ratsaal</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>1. Approval of the Agenda of the 63.4. Meeting</p>
    <p>2. Current implementation issues</p>
    <p>3. Issues Relating to the Treaty Paragraph 4 B of Article X (Implementation of the Treaty)</p>
    <p>4. Review of the progress by the Informal Working Groups</p>
    <p>5. Discussion on the modernization of the Open Skies Treaty (OSCC.RC/39/10, 9 June 2010)</p>
    <p>6. Proposal for the Work Programme for the 64th Session and the starting date of the 64th Session</p>
    <p>7. Any other business</p>
  </div>
</div>

<hr>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p>Open Skies Consultative Commission</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">OSCC.INF/9/14/Rev.1 <br/>13 May 2014 <br/>OSCC+ <br/>ENGLISH only</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>Work Programme of the 64th Session of the Open Skies Consultative Commission <br/>(OSCC) <br/>Chairmanship: Latvia <br/>(28 April 2014 – 29 August 2014)</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Items for the 64th Session of the Open Skies Consultative Commission</p>
      <div class="col-sm-12">
        <p>1. Issues Relating to the Treaty Paragraph 4 A of Article X (Compliance with the Provisions of the Treaty)</p>
        <p>2. Issues Relating to the Treaty Paragraph 4 B of Article X (Implementation of the Treaty)</p>
        <p>3. Issues Relating to the Treaty Paragraph 4 C and D of Article X and Paragraphs 3, 4, and 5
        of Article XVII (Accession to the Treaty)</p>
        <p>4. Issues Relating to the Treaty Paragraph 5 of Article X (Proposals of Amendments to the Treaty and Decisions and Recommendations of Administrative or Technical Nature)</p>
        <p>5. Review of the progress by the Informal Working Groups</p>
        <p>6. Discussion on the modernization of the Treaty on Open Skies</p>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>Schedule of Meetings for the 64th Session of the Open Skies Consultative Commission <br/>(OSCC) with the proposed items to be discussed during the meetings <br/>Chairmanship: Latvia <br/>(28 April 2014 – 29 August 2014)</strong></p>
  </div>
</div>
<div class="row">
  <div class="col table-responsive">
    <table class="table table-striped">
      <tr>
        <td>64.1. Meeting (12 May 2014)</td>
        <td>64.2. Meeting (26 May 2014)</td>
      </tr>
      <tr>
        <td>
          <p>Approval of the Work Programme for the 64th Session</p>
          <p>Current implementation issues</p>
          <p>Issues Relating to the Treaty Paragraph 4 A of Article X (Compliance with the Provisions of the Treaty)</p>
          <p>Review of the progress by the Informal Working Groups (as appropriate)</p>
        </td>
        <td>
          <p>Current implementation issues</p>
          <p>Issues Relating to the Treaty Paragraph 5 of Article X (Proposals of Amendments to the Treaty and Decisions and Recommendations of Administrative or Technical Nature)</p>
          <p>Review of the progress by the Informal Working Groups (as appropriate)</p>
        </td>
      </tr>
      <tr>
        <td>64.3. Meeting (16 June 2014)</td>
        <td>64.4. Meeting (7 July 2014)</td>
      </tr>
      <tr>
        <td>
          <p>Current implementation issues</p>
          <p>Issues Relating to the Treaty Paragraph 4 C and D of Article X and Paragraphs 3, 4, and 5 of Article XVII (Accession to the Treaty)</p>
          <p>Review of the progress by the Informal Working Groups (as appropriate)</p>
        </td>
        <td>
          <p>Current implementation issues</p>
          <p>Issues Relating to the Treaty Paragraph 4 B of Article X (Implementation of the Treaty)</p>
          <p>Discussion on the modernization of the Treaty on Open Skies</p>
          <p>Review of the progress by the Informal Working Groups (as appropriate)</p>
          <p>Proposal for the Work Programme for the 65th Session and the starting date of the 65th Session</p>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Terms of references:</p>
      <div class="col-sm-12">
        <p>Open Skies Consultative Commission (OSCC):</p>
          <div class="col-sm-12">
            <p>&mdash; to promote the objectives and facilitate the implementation of the provisions of this Treaty – Article X of the Treaty on Open Skies para 1.</p>
          </div>
        <p>Responsibilities of the Chairman:</p>
          <div class="col-sm-12">
            <p>(a) to inform all States Parties of the date, time and location of meetings, as well as of proposals made by States Parties concerning the programme of the sessions;</p>
            <p>(b) to chair the meetings;</p>
            <p>(c) to keep a list of speakers and maintain a Journal, which shall be handed from Chairman to Chairman and which shall be available only to the States Parties;</p>
            <p>(d) to distribute to all States Parties copies of the Journal and attached texts;</p>
            <p>(e) to propose to the Commission the suspension or adjournment of the meeting, and the adjourning or closure of the debate on the item under discussion;</p>
            <p>(f) to seek resolution of administrative questions relating to the organisation of the work of the Commission;</p>
            <p>(g) to circulate to all States Parties a list of contact points of States Parties valid for the period between sessions; and</p>
            <p>(h) to fulfil other duties, as agreed by the Commission.</p>
            <p>&mdash; Section I para 1. of Decision Number Six to the Treaty On Open Skies</p>
          </div>
        <p>Consensus:</p>
          <div class="col-sm-12">
            <p>The OSCC shall take decisions or make recommendations by consensus. Consensus shall be understood to mean the absence of any objection by any State Party to the taking of a decision or the making of a recommendation. – Article X of the Treaty on Open Skies para 2.</p>
          </div>
        <p>Right to raise any issue:</p>
          <div class="col-sm-12">
            <p>Each State Party shall have the right to raise before the Open Skies Consultative Commission, and have placed on its agenda, any issue relating to this Treaty, including any issue related to the case when the observed Party provides an observation aircraft. – Article X of the Treaty on Open Skies para 3.</p>
            <p>Each State Party shall have the right to include additional items in the work programme of any session. The State Party requesting such an inclusion should inform the Chairman of those items, where possible no later than 30 days before the beginning of a regular session or seven days before the beginning of an extraordinary session. – Section III para 3. of Decision Number Six to the Treaty On Open Skies</p>
            <p>The provisions of paragraphs 1 and 2 of this Section are without prejudice to the right of each State Party to raise before the Commission, and have placed on its agenda, any issue relating to the Treaty. – Section IV para 3. of Decision Number Six to the Treaty On Open Skies</p>
          </div>
        <p>Establish a work programme:</p>
          <div class="col-sm-12">
            <p>Before the end of each session, the Commission shall seek to establish a provisional work programme and the starting date for the next regular session. – Section III para 1. of Decision Number Six to the Treaty On Open Skies</p>
          </div>
        <p>Approval of the work programme and the agenda</p>
          <div class="col-sm-12">
            <p>The Commission shall, as the first item of the agenda of the first meeting of a session, consider and approve the work programme of that session and the agenda of that meeting. – Section IV para 1. of Decision Number Six to the Treaty On Open Skies</p>
          </div>
        <p>Provisional agenda for the next meeting:</p>
          <div class="col-sm-12">
            <p>Before the end of each meeting, the Chairman shall propose a provisional agenda for review by the Commission at the start of the next meeting of the session. – Section IV para 2. of Decision Number Six to the Treaty On Open Skies</p>
          </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p>Open Skies Consultative Commission</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">Annex 1</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Chairmanship: Latvia</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>Draft Agenda for the 1st Plenary meeting of the 64th Session <br/>of the Open Skies Consultative Commission <br/>Monday 12 May 2014 at 10 a.m. in the Ratsaal</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>1. Approval of</p>
      <div class="col-sm-12">
        <p>&mdash; the Work Programme of the 64th Session,</p>
        <p>&mdash; the Agenda of the 64.1. Meeting</p>
      </div>
    <p>2. Current implementation issues</p>
    <p>3. Issues Relating to the Treaty Paragraph 4A of Article X (Compliance with the Provisions of the Treaty)</p>
    <p>4. Review of the progress by the Informal Working Groups</p>
    <p>5. Provisional agenda for review by the Commission at the start of the next meeting of the session</p>
    <p>6. Any other business</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p>Open Skies Consultative Commission</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">Annex 2</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Chairmanship: Latvia</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>Draft Agenda for the 2nd Plenary meeting of the 64th Session <br/>of the Open Skies Consultative Commission <br/>Monday 26 May 2014 at 10 a.m. in the Ratsaal</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>1. Approval of the Agenda of the 64.2. Meeting</p>
    <p>2. Current implementation issues</p>
    <p>3. Issues Relating to the Treaty Paragraph 5 of Article X (Proposals of Amendments to the Treaty and Decisions and Recommendations of Administrative or Technical Nature), including:</p>
      <div class="col-sm-12">
        <p>&mdash; Discussion on Establishing an Ad-hoc Informal Working Group to develop a standard template for OSCC Agendas (OSCC.DEL/10/13 Rev.1, 11 March 2013)</p>
      </div>
    <p>4. Review of the progress by the Informal Working Groups</p>
    <p>5. Any other business</p>
    <p>6. Provisional agenda for review by the Commission at the start of the next meeting of the session</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p>Open Skies Consultative Commission</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">Annex 3</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Chairmanship: Latvia</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>Draft Agenda for the 3rd Plenary meeting of the 64th Session <br>of the Open Skies Consultative Commission <br/>Monday 16 June 2014 at 10 a.m. in the Ratsaal</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>1. Approval of the Agenda of the 64.3. Meeting</p>
    <p>2. Current implementation issues</p>
    <p>3. Issues Relating to the Treaty Paragraph 4 C and D of Article X and Paragraphs 3, 4, and 5 of Article XVII (Accession to the Treaty)</p>
      <div class="col-sm-12">
        <p>&mdash; OSCC.DEL/31/02 of 6 June 2002 on written requests to accede to the Treaty</p>
      </div>
    <p>4. Review of the progress by the Informal Working Groups</p>
    <p>5. Provisional agenda for review by the Commission at the start of the next meeting of the session</p>
    <p>6. Any other business</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p>Open Skies Consultative Commission</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">Annex 4</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Chairmanship: Latvia</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>Draft Agenda for the 4th Plenary meeting of the 64th Session <br/>of the Open Skies Consultative Commission <br/>Monday 7 July 2014 at 10 a.m. in the Ratsaal</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>1. Approval of the Agenda of the 64.4. Meeting</p>
    <p>2. Current implementation issues</p>
    <p>3. Issues Relating to the Treaty Paragraph 4 B of Article X (Implementation of the Treaty)</p>
    <p>4. Review of the progress by the Informal Working Groups</p>
    <p>5. Discussion on the modernization of the Open Skies Treaty (OSCC.RC/39/10, 9 June 2010)</p>
    <p>6. Proposal for the Work Programme for the 65th Session and the starting date of the 65th Session</p>
    <p>7. Any other business</p>
  </div>
</div>

<hr>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p>Open Skies Consultative Commission</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">OSCC.INF/15/14/Rev.1 <br/>16 September 2014 <br/>OSCC+ <br/>ENGLISH only</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Chairmanship: Lithuania</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>Work Programme of the 65th Session of the Open Skies Consultative Commission (OSCC) <br/>Chairmanship: Lithuania <br/>(15 September 2014 – 12 January 2015)</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Items for the 63rd Session of the Open Skies Consultative Commission</p>
      <div class="col-sm-12">
        <p>1. Issues Relating to the Treaty Paragraph 4 A of Article X (Compliance with the Provisions of the Treaty)</p>
        <p>2. Issues Relating to the Treaty Paragraph 4 B of Article X (Implementation of the Treaty)</p>
        <p>3. Issues Relating to the Treaty Paragraph 4 C and D of Article X and Paragraphs 3, 4, and 5 of Article XVII (Accession to the Treaty)</p>
        <p>4. Issues Relating to the Treaty Paragraph 5 of Article X (Proposals of Amendments to the Treaty and Decisions and Recommendations of Administrative or Technical Nature)</p>
        <p>5. Review of the progress by the Informal Working Groups</p>
        <p>6. Discussion on the modernization of the Treaty on Open Skies</p>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>Provisional Schedule of Meetings for the 65th Session of the Open Skies Consultative Commission <br/>(OSCC) with the proposed items to be discussed during the meetings <br/>Chairmanship: Lithuania <br/>(15 September 2014 – 12 January 2015)</strong></p>
  </div>
</div>
<div class="row">
  <div class="col table-responsive">
    <table class="table table-striped">
      <tr>
        <td>65.1. Meeting (15 September 2014)</td>
        <td>65.2. Meeting (27 October 2014)</td>
      </tr>
      <tr>
        <td>
          <p>Approval of the Work Programme for the 65th Session</p>
          <p>Current implementation issues</p>
          <p>Issues Relating to the Treaty Paragraph 4 A of Article X (Compliance with the Provisions of the Treaty)</p>
          <p>Issues Relating to the Treaty Paragraph 5 of Article X (Proposals of Amendments to the Treaty and Decisions and Recommendations of Administrative or Technical Nature)</p>
          <p>Review of the progress by the Informal Working Groups (as appropriate)</p>
        </td>
        <td>
          <p>Current implementation issues</p>
          <p>Issues Relating to the Treaty Paragraph 5 of Article X (Proposals of Amendments to the Treaty and Decisions and Recommendations of Administrative or Technical Nature)</p>
          <p>Review of the progress by the Informal Working Groups (as appropriate)</p>
        </td>
      </tr>
      <tr>
        <td>65.3. Meeting (17 November 2014)</td>
        <td>65.4. Meeting (15 December 2014)</td>
      </tr>
      <tr>
        <td>
          <p>Current implementation issues</p>
          <p>Issues Relating to the Treaty Paragraph 4 C and D of Article X and Paragraphs 3, 4, and 5 of Article XVII (Accession to the Treaty)</p>
          <p>Review of the progress by the Informal Working Groups (as appropriate)</p>
        </td>
        <td>
          <p>Current implementation issues</p>
          <p>Issues Relating to the Treaty Paragraph 4 B of Article X (Implementation of the Treaty)</p>
          <p>Discussion on the modernization of the Treaty on Open Skies</p>
          <p>Review of the progress by the Informal Working Groups (as appropriate)</p>
          <p>Proposal for the Work Programme for the 66th Session and the starting date of the 66th Session</p>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Terms of references:</p>
      <div class="col-sm-12">
    <p>Open Skies Consultative Commission (OSCC):</p>
      <div class="col-sm-12">
        <p>&mdash; to promote the objectives and facilitate the implementation of the provisions of this Treaty – Article X of the Treaty on Open Skies para 1.</p>
      </div>
    <p>Responsibilities of the Chairman:</p>
      <div class="col-sm-12">
        <p>a. to inform all States Parties of the date, time and location of meetings, as well as of proposals made by States Parties concerning the programme of the sessions;</p>
        <p>b. to chair the meetings;</p>
        <p>c. to keep a list of speakers and maintain a Journal, which shall be handed from Chairman to Chairman and which shall be available only to the States Parties;</p>
        <p>d. to distribute to all States Parties copies of the Journal and attached texts;</p>
        <p>e. to propose to the Commission the suspension or adjournment of the meeting, and the adjourning</p>
        <p>or closure of the debate on the item under discussion;</p>
        <p>f. to seek resolution of administrative questions relating to the organisation of the work of the Commission;</p>
        <p>g. to circulate to all States Parties a list of contact points of States Parties valid for the period between sessions; and</p>
        <p>h. to fulfil other duties, as agreed by the Commission.</p>
        <p>&mdash; Section I para 1. of Decision Number Six to the Treaty On Open Skies</p>
      </div>
    <p>Consensus:</p>
      <div class="col-sm-12">
        <p>The OSCC shall take decisions or make recommendations by consensus. Consensus shall be understood to mean the absence of any objection by any State Party to the taking of a decision or the making of a recommendation. – Article X of the Treaty on Open Skies para 2.</p>
      </div>
    <p>Right to raise any issue:</p>
      <div class="col-sm-12">
        <p>Each State Party shall have the right to raise before the Open Skies Consultative Commission, and have placed on its agenda, any issue relating to this Treaty, including any issue related to the case when the observed Party provides an observation aircraft. – Article X of the Treaty on Open Skies para 3.</p>
        <p>Each State Party shall have the right to include additional items in the work programme of any session. The State Party requesting such an inclusion should inform the Chairman of those items, where possible no later than 30 days before the beginning of a regular session or seven days before the beginning of an extraordinary session. – Section III para 3. of Decision Number Six to the Treaty On Open Skies</p>
        <p>The provisions of paragraphs 1 and 2 of this Section are without prejudice to the right of each State Party to raise before the Commission, and have placed on its agenda, any issue relating to the Treaty. – Section IV para 3. of Decision Number Six to the Treaty On Open Skies</p>
      </div>
    <p>Establish a work programme:</p>
      <div class="col-sm-12">
        <p>Before the end of each session, the Commission shall seek to establish a provisional work programme and the starting date for the next regular session. – Section III para 1. of Decision Number Six to the Treaty On Open Skies</p>
      </div>
    <p>Approval of the work programme and the agenda</p>
      <div class="col-sm-12">
        <p>The Commission shall, as the first item of the agenda of the first meeting of a session, consider and approve the work programme of that session and the agenda of that meeting. – Section IV para 1. of Decision Number Six to the Treaty On Open Skies</p>
      </div>
    <p>Provisional agenda for the next meeting:</p>
      <div class="col-sm-12">
        <p>Before the end of each meeting, the Chairman shall propose a provisional agenda for review by the  Commission at the start of the next meeting of the session. – Section IV para 2. of Decision Number Six to the Treaty On Open Skies</p>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p>Open Skies Consultative Commission</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">Annex 1</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Chairmanship: Lithuania</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>Draft Agenda for the 1st Plenary meeting of the 65th Session <br/>of the Open Skies Consultative Commission <br/>Monday 15 September 2014 at 10 a.m. in the Ratsaal</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>1. Approval of</p>
      <div class="col-sm-12">
        <p>&mdash; the Work Programme of the 65th Session,</p>
        <p>&mdash; the Agenda of the 65.1. Meeting</p>
      </div>
    <p>2. Current implementation issues</p>
    <p>3. Issues Relating to the Treaty Paragraph 4A of Article X (Compliance with the Provisions of the Treaty)</p>
    <p>4. Issues Relating to the Treaty Paragraph 5 of Article X (Proposals of Amendments to the Treaty and Decisions and Recommendations of Administrative or Technical Nature):</p>
      <div class="col-sm-12">
        <p>&mdash; Decision on Extending Revision Three of Decision Number Seventeen to the Treaty on Open Skies: The format in which data is to be recorded and exchanged on recording media other than photographic film (OSCC.DD/3/14, 8 September 2014)</p>
      </div>
    <p>5. Review of the progress by the Informal Working Groups</p>
    <p>6. Provisional agenda for review by the Commission at the start of the next meeting of the session</p>
    <p>7. Any other business</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p>Open Skies Consultative Commission</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">Annex 2</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Chairmanship: Lithuania</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>Draft Agenda for the 2nd Plenary meeting of the 65th Session <br/>of the Open Skies Consultative Commission <br/>Monday (27 October 2014) at 10 a.m. in the Ratsaal</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>1. Approval of the Agenda of the 65.2. Meeting</p>
    <p>2. Current implementation issues</p>
    <p>3. Issues Relating to the Treaty Paragraph 5 of Article X (Proposals of Amendments to the Treaty and Decisions and Recommendations of Administrative or Technical Nature), including:</p>
      <div class="col-sm-12">
        <p>&mdash; Draft Decision on the Distribution of Active Quotas for Observation Flights in the Year 2015</p>
      </div>
    <p>4. Review of the progress by the Informal Working Groups</p>
    <p>5. Provisional agenda for review by the Commission at the start of the next meeting of the session</p>
    <p>6. Any other business</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p>Open Skies Consultative Commission</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">Annex 3</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Chairmanship: Lithuania</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>Draft Agenda for the 3rd Plenary meeting of the 65th Session <br/>of the Open Skies Consultative Commission <br/>Monday (17 November 2014) at 10 a.m. in the Ratsaal</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>1. Approval of the Agenda of the 65.3. Meeting</p>
    <p>2. Current implementation issues</p>
    <p>3. Issues Relating to the Treaty Paragraph 4 C and D of Article X and Paragraphs 3, 4, and 5 of Article XVII (Accession to the Treaty)</p>
      <div class="col-sm-12">
        <p>&mdash; OSCC.DEL/31/02 of 6 June 2002 on written requests to accede to the Treaty</p>
      </div>
    <p>4. Review of the progress by the Informal Working Groups</p>
    <p>5. Provisional agenda for review by the Commission at the start of the next meeting of the session</p>
    <p>6. Any other business</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p>Open Skies Consultative Commission</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">Annex 4</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Chairmanship: Lithuania</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>Draft Agenda for the 4th Plenary meeting of the 65th Session <br/>of the Open Skies Consultative Commission <br/>Monday (15 December 2014) at 10 a.m. in the Ratsaal</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>1. Approval of the Agenda of the 65.4. Meeting</p>
    <p>2. Current implementation issues</p>
    <p>3. Issues Relating to the Treaty Paragraph 4 B of Article X (Implementation of the Treaty)</p>
    <p>4. Review of the progress by the Informal Working Groups</p>
    <p>5. Discussion on the modernization of the Open Skies Treaty (OSCC.RC/39/10, 9 June 2010)</p>
    <p>6. Proposal for the Work Programme for the 66th Session and the starting date of the 66th Session</p>
    <p>7. Any other business</p>
  </div>
</div>

<hr>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p>Open Skies Consultative Commission</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">OSCC.DEL/12/14 <br/>12 December 2014 <br/>OSCC+ <br/>ENGLISH only</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Chairmanship: Lithuania</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>STATEMENT ON QUOTA DECISION BY THE CHAIRPERSON OF <br/>THE OPEN SKIES CONSULTATIVE COMMISSION</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>In adopting the decision on the quota distribution for 2015, all States Parties affirm that it is their practice for the lead State Party on a joint flight to assume responsibility for all Treaty-based requirements.</p>
    <p>All States Parties reaffirm their commitment to reimburse expenses in accordance with Decision 2/09.</p>
  </div>
</div>

<hr>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p align="left"><a href="#top">Back to the list</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p>Open Skies Consultative Commission</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">OSCC.INF/21/14/Rev.1 <br/>17 December 2014 <br/>OSCC+ <br/>ENGLISH only</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>Draft Work Programme of the 66th Session of the Open Skies Consultative Commission (OSCC) <br/>Chairmanship: Luxembourg <br/>(12 January 2015 – 27 March 2015) <br/>Items for the 66th Session of the Open Skies</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Consultative Commission</p>
      <div class="col-sm-12">
        <p>1. Issues Relating to the Treaty Paragraph 4 A of Article X (Compliance with the Provisions of the Treaty)</p>
        <p>2. Issues Relating to the Treaty Paragraph 4 B of Article X (Implementation of the Treaty)</p>
        <p>3. Issues Relating to the Treaty Paragraph 4 C and D of Article X and Paragraphs 3, 4, and 5 of Article XVII (Accession to the Treaty)</p>
        <p>4. Issues Relating to the Treaty Paragraph 5 of Article X (Proposals of Amendments to the Treaty and Decisions and Recommendations of Administrative or Technical Nature)</p>
        <p>5. Review of the progress by the Informal Working Groups</p>
        <p>6. Discussion on the modernization of the Treaty on Open Skies</p>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>Provisional Schedule of Meetings for the 66th Session of the Open Skies Consultative Commission <br/>(OSCC) with the proposed items to be discussed during the meetings <br/>Chairmanship: Luxembourg <br/>(12 January 2015 – 27 March 2015)</strong></p>
  </div>
</div>
<div class="row">
  <div class="col table-responsive">
    <table class="table table-striped">
      <tr>
        <td>66.1. Meeting (19 January 2015)</td>
        <td>66.2. Meeting (16 February 2015)</td>
      </tr>
      <tr>
        <td>
          <p>Approval of the Work Programme for the 66th Session</p>
          <p>Current implementation issues</p>
          <p>Issues Relating to the Treaty Paragraph 4 A of Article X (Compliance with the Provisions of the Treaty)</p>
          <p>Issues Relating to the Treaty Paragraph 5 of Article X (Proposals of Amendments to the Treaty and Decisions and Recommendations of Administrative or Technical Nature)</p>
          <p>Review of the progress by the Informal Working Groups (as appropriate)</p>
        </td>
        <td>
          <p>Current implementation issues</p>
          <p>Issues Relating to the Treaty Paragraph 5 of Article X (Proposals of Amendments to the Treaty and Decisions and Recommendations of Administrative or Technical Nature)</p>
          <p>Review of the progress by the Informal Working Groups (as appropriate)</p>
        </td>
      </tr>
      <tr>
        <td>66.3. Meeting (2 March 2015)</td>
        <td>66.4. Meeting (23 March 2015)</td>
      </tr>
      <tr>
        <td>
          <p>Current implementation issues</p>
          <p>Issues Relating to the Treaty Paragraph 4 C and D of Article X and Paragraphs 3, 4, and 5 of Article XVII (Accession to the Treaty)</p>
          <p>Review of the progress by the Informal Working Groups (as appropriate)</p>
        </td>
        <td>
          <p>Current implementation issues</p>
          <p>Issues Relating to the Treaty Paragraph 4 B of Article X (Implementation of the Treaty)</p>
          <p>Discussion on the modernization of the Treaty on Open Skies</p>
          <p>Review of the progress by the Informal Working Groups (as appropriate)</p>
          <p>Proposal for the Work Programme for the 67th Session and the starting date of the 67th Session</p>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Terms of references:</p>
      <div class="col-sm-12">
        <p>Open Skies Consultative Commission (OSCC):</p>
          <div class="col-sm-12">
            <p>&mdash; to promote the objectives and facilitate the implementation of the provisions of this Treaty – Article X of the Treaty on Open Skies para 1.</p>
          </div>
        <p>Responsibilities of the Chairman:</p>
          <div class="col-sm-12">
            <p>a. to inform all States Parties of the date, time and location of meetings, as well as of proposals made by States Parties concerning the programme of the sessions;</p>
            <p>b. to chair the meetings;</p>
            <p>c. to keep a list of speakers and maintain a Journal, which shall be handed from Chairman to Chairman and which shall be available only to the States Parties;</p>
            <p>d. to distribute to all States Parties copies of the Journal and attached texts;</p>
            <p>e. to propose to the Commission the suspension or adjournment of the meeting, and the adjourning or closure of the debate on the item under discussion;</p>
            <p>f. to seek resolution of administrative questions relating to the organisation of the work of the Commission;</p>
            <p>g. to circulate to all States Parties a list of contact points of States Parties valid for the period between sessions; and</p>
            <p>h. to fulfil other duties, as agreed by the Commission.</p>
            <p>&mdash; Section I para 1. of Decision Number Six to the Treaty On Open Skies</p>
          </div>
        <p>Consensus:</p>
          <div class="col-sm-12">
            <p>The OSCC shall take decisions or make recommendations by consensus. Consensus shall be understood to mean the absence of any objection by any State Party to the taking of a decision or the making of a recommendation. – Article X of the Treaty on Open Skies para 2.</p>
          </div>
        <p>Right to raise any issue:</p>
          <div class="col-sm-12">
            <p>Each State Party shall have the right to raise before the Open Skies Consultative Commission, and have placed on its agenda, any issue relating to this Treaty, including any issue related to the case when the observed Party provides an observation aircraft. – Article X of the Treaty on Open Skies para 3.</p>
            <p>Each State Party shall have the right to include additional items in the work programme of any session. The State Party requesting such an inclusion should inform the Chairman of those items, where possible no later than 30 days before the beginning of a regular session or seven days before the beginning of an extraordinary session. – Section III para 3. of Decision Number Six to the Treaty On Open Skies</p>
            <p>The provisions of paragraphs 1 and 2 of this Section are without prejudice to the right of each State Party to raise before the Commission, and have placed on its agenda, any issue relating to the Treaty. – Section IV para 3. of Decision Number Six to the Treaty On Open Skies</p>
          </div>
        <p>Establish a work programme:</p>
          <div class="col-sm-12">
            <p>Before the end of each session, the Commission shall seek to establish a provisional work programme and the starting date for the next regular session. – Section III para 1. of Decision Number Six to the Treaty On Open Skies</p>
          </div>
        <p>Approval of the work programme and the agenda</p>
          <div class="col-sm-12">
            <p>The Commission shall, as the first item of the agenda of the first meeting of a session, consider and approve the work programme of that session and the agenda of that meeting. – Section IV para 1. of Decision Number Six to the Treaty On Open Skies</p>
          </div>
        <p>Provisional agenda for the next meeting:</p>
          <div class="col-sm-12">
            <p>Before the end of each meeting, the Chairman shall propose a provisional agenda for review by the Commission at the start of the next meeting of the session. – Section IV para 2. of Decision Number Six to the Treaty On Open Skies</p>
          </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p>Open Skies Consultative Commission</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">Annex 1</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Chairmanship: Luxembourg</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>Draft Agenda for the 1st Plenary meeting of the 66thSession <br/>of the Open Skies Consultative Commission <br/>Monday 19 January 2015 at 10 a.m. in the Ratsaal</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>1. Approval of</p>
      <div class="col-sm-12">
        <p>&mdash; the Work Programme of the 66th Session,</p>
        <p>&mdash; the Agenda of the 66.1. Meeting</p>
      </div>
    <p>2. Current implementation issues</p>
    <p>3. Issues Relating to the Treaty Paragraph 4A of Article X (Compliance with the Provisions of the Treaty)</p>
    <p>4. Issues Relating to the Treaty Paragraph 5 of Article X (Proposals of Amendments to the Treaty and Decisions and Recommendations of Administrative or Technical Nature):</p>
      <div class="col-sm-12">
        <p>Decision on Extending Revision Three of Decision Number Seventeen to the Treaty on Open Skies: The format in which data is to be recorded and exchanged on recording media other than photographic film;</p>
        <p>Decision on the Distribution of Active Quotas for Observation Flights in the Year 2015</p>
      </div>
    <p>5. Review of the progress by the Informal Working Groups</p>
    <p>6. Provisional agenda for review by the Commission at the start of the next meeting of the session</p>
    <p>7. Any other business</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p>Open Skies Consultative Commission</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">Annex 2</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Chairmanship: Luxembourg</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>Draft Agenda for the 2nd Plenary meeting of the 66th Session <br/>of the Open Skies Consultative Commission <br/>Monday (16 February 2015) at 10 a.m. in the Ratsaal</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>1. Approval of the Agenda of the 66.2. Meeting</p>
    <p>2. Current implementation issues</p>
    <p>3. Issues Relating to the Treaty Paragraph 5 of Article X (Proposals of Amendments to the Treaty and Decisions and Recommendations of Administrative or Technical Nature)</p>
    <p>4. Review of the progress by the Informal Working Groups</p>
    <p>5. Provisional agenda for review by the Commission at the start of the next meeting of the session</p>
    <p>6. Any other business</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p>Open Skies Consultative Commission</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">Annex 3</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Chairmanship: Luxembourg</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>Draft Agenda for the 3rdPlenary meeting of the 66th Session <br/>of the Open Skies Consultative Commission <br/>Monday (2 March 2015) at 10 a.m. in the Ratsaal</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>1. Approval of the Agenda of the 66.3. Meeting</p>
    <p>2. Current implementation issues</p>
    <p>3. Issues Relating to the Treaty Paragraph 4 C and D of Article X and Paragraphs 3, 4, and 5 of Article XVII (Accession to the Treaty)</p>
      <div class="col-sm-12">
        <p>&mdash; OSCC.DEL/31/02 of 6 June 2002 on written requests to accede to the Treaty</p>
      </div>
    <p>4. Review of the progress by the Informal Working Groups</p>
    <p>5. Provisional agenda for review by the Commission at the start of the next meeting of the session</p>
    <p>6. Any other business</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p>Open Skies Consultative Commission</p>
  </div>
  <div class="col-sm-2 col-sm-offset-8">
    <p align="right">Annex 4</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Chairmanship: Luxembourg</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <p><strong>Draft Agenda for the 4th Plenary meeting of the 66thSession <br/>of the Open Skies Consultative Commission <br/>Monday (23 March 2015) at 10 a.m. in the Ratsaal</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>1. Approval of the Agenda of the 66.4. Meeting</p>
    <p>2. Current implementation issues</p>
    <p>3. Issues Relating to the Treaty Paragraph 4 B of Article X (Implementation of the Treaty)</p>
    <p>4. Review of the progress by the Informal Working Groups</p>
    <p>5. Discussion on the modernization of the Open Skies Treaty (OSCC.RC/39/10, 9 June 2010)</p>
    <p>6. Proposal for the Work Programme for the 67thSession and the starting date of the 67th Session</p>
    <p>7. Any other business</p>
  </div>
</div>

<hr>
<br/>
