<!-- DECISION 10/10 -->
<div id="decision_10_10"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a>
      <br/><a href="#attachment10/10">Attachment:"Interpretative Statement under Paragraph 3, Section V, of the Rules of Procedure and Working Methods of the Open Skies Consultative Commission"</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right"> OSCC.DEC/10/10
      <br>18 October 2010
      <br>OSCC++
      <br>Original:ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>4th Meeting of the 53rd Session</strong><br> OSCC(53) Journal No. 171, Agenda item 3</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 10/10 <br/> DISTRIBUTION OF ACTIVE QUOTAS FOR OBSERVATION FLIGHTS IN THE YEAR 2011</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <P>In accordance with Article III, Section I, paragraphs 5, 7 and 10; Annex A, Section II, paragraph 2; and Annex L, Section II, of the Treaty on Open Skies and OSCC Decision No. 12/04, the Open Skies Consultative Commission has decided on the following distribution of active quotas for observation flights for the year 2011:</P>
        <div class="col-sm-12">
          <p>-<strong>The Federal Republic of Germany</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>- Six (6) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one (1) shared with the French Republic, one (1) shared with the United States of America, one (1) shared with the Hellenic Republic and the Italian Republic, one (1) shared with Romania, and one (1) shared with the Republic of Latvia,</p>
              <p>- One (1) observation flight over the territory of Ukraine, shared with the French Republic,</p>
              <p>- One (1) observation flight over the territory of Georgia, shared with the Republic of Turkey, and</p>
              <p>- One (1) observation flight over the territory of Bosnia and Herzegovina, shared with the Republic of Hungary, the French Republic and the Republic of Croatia;</p>
            </div>
          <p>-<strong>The United States of America</strong>shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>- Sixteen (16) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one (1) shared with the Czech Republic, one (1) shared with the French Republic, one (1) shared with the Federal Republic of Germany, one (1) shared with the Italian Republic, one (1) shared with Romania, one (1) shared with United Kingdom of Great Britain and Northern Ireland, one (1) shared with the Kingdom of Norway and one (1) shared with the Republic of Estonia and the Kingdom of Sweden,</p>
              <p>- One (1) observation flight over the territory of Ukraine, shared with Canada, and</p>
              <p>- One (1) observation flight over the territory of the Kingdom of Sweden, shared with Republic of Belarus and the Russian Federation group of States Parties;</P>
            </div>
          <p>-<strong>The Republic of Belarus and the Russian Federation group of States Parties</strong>
          shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>- Two (2) observation flights over the territory of the Federal Republic of Germany,</p>
              <p>- Six (6) observation flights over the territory of the United States of America,</p>
              <p>- One (1) observation flight over the territory of the Benelux group of States Parties,</p>
              <p>- One (1) observation flight over the territory of Bosnia and Herzegovina,</p>
              <p>- One (1) observation flight over the territory of the Republic of Bulgaria,</p>
              <p>- One (1) observation flight over the territory of Canada,</p>
              <p>- One (1) observation flight over the territory of the Republic of Croatia,</p>
              <p>- One (1) observation flight over the territory of the Kingdom of Denmark,</p>
              <p>- Two (2) observation flights over the territory of the Kingdom of Spain,</p>
              <p>- One (1) observation flight over the territory of the Republic of Estonia,</p>
              <p>- One (1) observation flight over the territory of the Republic of Finland,</p>
              <p>- Two (2) observation flights over the territory of the French Republic,</p>
              <p>- One (1) observation flight over the territory of Georgia, shared with the United Kingdom of Great Britain and Northern Ireland,</p>
              <p>- Three (3) observation flights over the territory of the United Kingdom of Great Britain and Northern Ireland,</p>
              <p>- Two (2) observation flights over the territory of the Hellenic Republic,</p>
              <p>- One (1) observation flight over the territory of the Republic of Hungary,</p>
              <p>- Two (2) observation flights over the territory of the Italian Republic, of which one (1) shared with the Kingdom of Sweden,</p>
              <p>- One (1) observation flight over the territory of the Republic of Latvia,</p>
              <p>- One (1) observation flight over the territory of the Republic of Lithuania,</p>
              <p>- One (1) observation flight over the territory of the Kingdom of Norway,</p>
              <p>- Two (2) observation flights over the territory of the Republic of Poland,</p>
              <p>- One (1) observation flight over the territory of the Portuguese Republic,</p>
              <p>- One (1) observation flight over the territory of Romania,</p>
              <p>- One (1) observation flight over the territory of the Slovak Republic,</p>
              <p>- One (1) observation flight over the territory of the Republic of Slovenia,</p>
              <p>- One (1) observation flight over the territory of the Kingdom of Sweden, shared with the United States of America,</p>
              <p>- One (1) observation flight over the territory of the Czech Republic, and</p>
              <p>- Two (2) observation flights over the territory of the Republic of Turkey;</p>
            </div>
          <p>-<strong>The Kingdom of Belgium, the Grand Duchy of Luxembourg and the Kingdom of the Netherlands, referred to as the Benelux group of States Parties</strong>, shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>- One (1) observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties;</p>
            </div>
          <p>-<strong>Bosnia and Herzegovina</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>- One (1) observation flight over the territory of Ukraine, shared with the Republic of Turkey;</p>
            </div>
          <p>-<strong>The Republic of Bulgaria</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>- One (1) observation flight over the territory of Bosnia and Herzegovina, shared with the Kingdom of Spain;</p>
            </div>
          <p>-<strong>Canada</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>- Four (4) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one (1) shared with the Republic of Hungary,</p>
              <p>- One (1) observation flight over the territory of Bosnia and Herzegovina, shared with the Republic of Turkey,</p>
              <p>- One (1) observation flight over the territory of Ukraine, shared with the United States of America, and</p>
              <p>- One (1) observation flight over the territory of Georgia, shared with the French Republic and the Italian Republic;</p>
            </div>
          <p>-<strong>The Republic of Croatia</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>- One (1) observation flight over the territory of Bosnia and Herzegovina, shared with the Republic of Hungary, the Republic of France and the Federal Republic of Germany, and</p>
              <p>- One (1) observation flight over the territory of Ukraine, shared with Romania;</p>
            </div>
          <p>-<strong>The Kingdom of Denmark</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>- Two (2) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one (1) shared with Romania and one (1) shared with the Republic of Turkey;</p>
            </div>
          <p>-<strong>The Kingdom of Spain</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>- One (1) observation flight over the territory of Bosnia and Herzegovina, shared with the Republic of Bulgaria,</p>
              <p>- One (1) observation flight over the territory of Georgia, shared with the Hellenic Republic,</p>
              <p>- One (1) observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties, and</p>
              <p>- One (1) observation flight over the territory of Ukraine, shared with the Czech Republic;</p>
            </div>
          <p>-<strong>The Republic of Estonia</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>- One (1) observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties, shared with the Kingdom of Sweden and the United States of America;</p>
            </div>
          <p>-<strong>The Republic of Finland</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>- One (1) observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties;</p>
            </div>
          <p>-<strong>The French Republic</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>- One (1) observation flight over the territory of Bosnia and Herzegovina, shared with the Republic of Hungary, the Republic of Croatia and the Federal Republic of Germany,</p>
              <p>- Four (4) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one (1) shared with the Federal Republic of Germany, and one (1) shared with the United States of America,</p>
              <p>- Two (2) observation flights over the territory of Ukraine, of which one (1) shared with the Federal Republic of Germany, and</p>
              <p>- One (1) observation flight over the territory of Georgia, shared with the Italian Republic and Canada,</p>
            </div>
          <p>-<strong>The United Kingdom of Great Britain and Northern Ireland</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>- Four (4) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one (1) shared with the United States of America, and one (1) shared with Romania, and</p>
              <p>- One (1) observation flight over the territory of Georgia, shared with the Republic of Belarus and the Russian Federation group of States Parties;</p>
            </div>
          <p>-<strong>The Hellenic Republic</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>- One (1) observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties, shared with the Federal Republic of Germany and the Italian Republic, and</p>
              <p>- One (1) observation flight over the territory of Georgia, shared with the Kingdom of Spain;</p>
            </div>
          <p>-<strong>The Republic of Hungary</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>- One (1) observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties, shared with Canada,</p>
              <p>- Two (2) observation flights over the territory of Ukraine, of which one (1) shared with the Italian Republic, and</p>
              <p>- One (1) observation flight over the territory of Bosnia and Herzegovina, shared with the Federal Republic of Germany, the Republic of Croatia and the Republic of France;</p>
            </div>
          <p>-<strong>The Italian Republic</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>- Three (3) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one (1) shared with the Federal Republic of Germany and the Hellenic Republic, and one (1) shared with the United States of America,</p>
              <p>- One (1) observation flight over the territory of Georgia, shared with Canada and the French Republic, and</p>
              <p>- One (1) observation flight over the territory of Ukraine, shared with the Republic of Hungary;</p>
            </div>
          <p>-<strong>The Republic of Latvia</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>- One (1) observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties, shared with the Federal Republic of Germany;</p>
            </div>
          <p>-<strong>The Kingdom of Norway</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>- Four (4) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one (1) shared with the United States of America, one (1) shared with the Kingdom of Sweden and one (1) shared with the Republic of Turkey;</p>
            </div>
          <p>-<strong>The Republic of Poland</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>- Two (2) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, and</p>
              <p>- One (1) observation flight over the territory of Ukraine, shared with the Slovak Republic;</p>
            </div>
          <p>-<strong>Romania </strong>shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>- Four (4) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one (1) shared with the Federal Republic of Germany, one (1) shared with the Kingdom of Denmark, one (1) shared with the United Kingdom of Great Britain and Northern Ireland and one (1) shared with the United States of America, and</p>
              <p>- One (1) observation flight over the territory of Ukraine, shared with the Republic of Croatia;</p>
            </div>
          <p>-<strong>The Slovak Republic</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>- One (1) observation flight over the territory of Ukraine, shared with the Republic of Poland;</p>
            </div>
          <p>-<strong>The Kingdom of Sweden</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>- Two (2) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one (1) shared with the Kingdom of Norway, and one (1) shared with the United States of America and the Republic of Estonia,</p>
              <p>- One (1) observation flight over the territory of Ukraine,</p>
              <p>- One (1) observation flight over the territory of the Italian Republic shared with the Republic of Belarus and the Russian Federation group of States Parties, and</p>
              <p>- One (1) observation flight over the territory of Romania;</p>
            </div>
          <p>-<strong>The Czech Republic</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>- One (1) observation flight over the territory of Ukraine, shared with the Kingdom of Spain, and</p>
              <p>- One (1) observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties, shared with the United States of America;</p>
            </div>
          <p>-<strong>The Republic of Turkey</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>- Three (3) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one (1) shared with the Kingdom of Denmark, and one (1) shared with the Kingdom of Norway,</p>
              <p>- One (1) observation flight over the territory of Bosnia and Herzegovina, shared with Canada,</p>
              <p>- One (1) observation flight over the territory of Georgia, shared with the Federal Republic of Germany, and</p>
              <p>- Three (3) observation flights over the territory of Ukraine, of which one (1) is shared with Bosnia and Herzegovina;</p>
            </div>
          <p>-<strong>Ukraine</strong> shall have the right to conduct:</p>
            <div class="col-sm-12">
              <p>- One (1) observation flight over the territory of the Federal Republic of Germany,</p>
              <p>- One (1) observation flight over the territory of the Hellenic Republic,</p>
              <p>- One (1) observation flight over the territory of the Republic of Bulgaria,</p>
              <p>- One (1) observation flight over the territory of the Kingdom of Denmark,</p>
              <p>- One (1) observation flight over the territory of the French Republic,</p>
              <p>- One (1) observation flight over the territory of the Republic of Hungary,</p>
              <p>- One (1) observation flight over the territory of the United Kingdom of Great Britain and Northern Ireland,</p>
              <p>- One (1) observation flight over the territory of the Italian Republic,</p>
              <p>- One (1) observation flight over the territory of the Republic of Poland,</p>
              <p>- One (1) observation flight over the territory of Romania,</p>
              <p>- One (1) observation flight over the territory of the Slovak Republic, and</p>
              <p>- One (1) observation flight over the territory of the Republic of Turkey.</p>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <P>* * * * * </P>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <P>This decision takes effect on the date of its adoption and will be issued in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic. </P>
    </div>
  </div>

<hr>
<br/>

  <div class="row">
    <div class="col-sm-2">
      <p align="left">  <a name="attachment10/10" href="#10/10">Back to Decision 10/10</a></p>
    </div>
    <div class="col-sm-12">
      <P align="right"> OSCC.DEC/10/10
      <br/>18 October 2010
      <br/>Attachment
      <br/>OSCC+
      </br>Original: ENGLISH </P>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <P><strong>INTERPRETATIVE STATEMENT UNDER PARAGRAPH 3, SECTION V, OF THE RULES OF PROCEDURE AND WORKING METHODS OF THE OPEN SKIES CONSULTATIVE COMMISSION</strong></P>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <P>By the delegation of Georgia:</P>
      <P>"Georgia wishes to reaffirm its commitment to the Open Skies Treaty and is joining consensus on the Decision pertaining to the annual distribution of active quotas so that the States Parties can continue implementation of the Treaty in 2011.</P>
      <P>With respect to the distribution of active quotas, Georgia has decided not to request an observation flight over the territory of the Russian Federation in 2011 on account of ongoing concerns with the compliance issue raised by Romania and the United States in May 2010 in connection with their flight near the internationally recognized border of Georgia with the Russian Federation.</P>
      <P>Georgia does not accept Russia's interpretation of the Treaty 'with respect to flights within 10 kilometres of a non-State Party' as applied to the Abkhaz segment of the Georgian-Russian State border during that observation mission and reserves the right to take all necessary legitimate measures if such violations take place in the future.</P>
      <P>Georgia urges all States Parties to the Treaty that future observation flights be conducted in accordance with the Treaty and with respect for Georgia's territorial integrity within its internationally recognized borders.</P>
      <P>Georgia wishes to reserve the right to propose revisions to the said Decision in the future, with the approval of the Commission, if circumstances warrant.</P>
      <P> Thank you."</P>
    </div>
  </div>

<hr>
