<!-- DECISION 8/10 -->
<div id="decison_8_10"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#to8/10">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/8/10
      <br>12 July 2010
      <br>OSCC++
      <br>Original:ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>4th Meeting of the 52nd Session</strong> <br>OSCC(52) Journal No. 167, Agenda item 3</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 8/10 <br/>REVISION TWO OF DECISION NUMBER SEVENTEEN TO THE TREATY ON OpEN SKIES <br/>The format in which data is to be recorded and exchanged on recording media other than photographic film</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The Open Skies Consultative Commission, pursuant to the provisions of Article IX, Section I, paragraph 1, of the Treaty on Open Skies, has decided as follows:</p>
        <div class="col-sm-12">
          <p>SECTION I. DEFINITION OF TERMS</p>
            <div class="col-sm-12">
              <p>The following definitions shall apply to terms used in this decision.</p>
              <p>The term "encoding techniques" means special techniques for processing data intended for storage on recording media which would permit the extraction from such data of more information than could be extracted without use of such processing. Error-correcting techniques that are commercially available are not considered encoding techniques. Additionally, lossless compression techniques that are open, non-proprietary, international standards that are commercially available are not considered encoding techniques.</p>
              <p>The term "recording format" means the technical data specific to the recording process, which describes the way in which information is transferred to the recording media.</p>
              <p>The term "phase and amplitude information" also known as "complex raw data" or "radioholograms", shall mean the data produced by the SAR before the data is processed to form an image. The phase and amplitude information is represented by the complex expression <i>Ae<sup>j&#947;</sup></i>. This expression is equal to the for <i>A * (jSin(&#947;) + Cos(&#947;))</i>.</p>
              <p>The term "uncorrected phase and amplitude information" means the phase and amplitude information prior to correction with micro-navigational data.</p>
              <p>The term "corrected phase and amplitude information" means the result of using the micro-navigational data to correct the uncorrected phase and amplitude information.</p>
              <p>The term "initial phase information" as used in Article IX, Section III, paragraphs 4 and 5, means either the uncorrected or corrected phase and amplitude information whichever is recorded on the aircraft. If both are recorded, the initial phase information shall be the uncorrected phase information. The term "initial phase and amplitude information" will be considered synonymous with "initial phase information."</p>
              <p>The terms "sinusoidal" and "cosinusoidal" mean the sine and cosine portion of the expression A * (jSin(&#947;) + Cos(&#947;)).</p>
              <p>The term "logical format" means the arrangement convention for data and data bits on a digital recording medium. "Logical format" is synonymous with the term "digital data format".</p>
              <p>The term "OSDDEF" (Open Skies Digital Data Exchange Format) means the agreed-upon logical format for the exchange of digital data.</p>
              <p>The term "slant range" means the distance from the location of the center of the antenna and a radar scatterer on the ground.</p>
              <p>The term "azimuth" means the direction parallel to the aircraft track.</p>
              <p>The term "image" means an array of image elements, corresponding to the same number of scene elements, which cover a contiguous area on the ground.</p>
              <p>The term "radar image" means a two dimensional (slant range and azimuth) array of processed radar amplitude samples, generated from the corrected phase and amplitude information.</p>
              <p>The term "data annotation format" means the structure of the annotation data on the recording medium.</p>
              <p>The term "direct-access medium", or "random-access medium", means a storage medium in which data locations are found by going directly to their physical location on the medium. In this decision, a direct-access medium will be referred to as a "disk", for brevity.</p>
              <p>The term "optical disk" means a commercially available ROM storage medium with a capacity of no less than 4.37 GB, whose recording format is an extension of the ISO 9660 Standard, and for which there exist commercially available pC-compatible drivers. External readers and recorders must be compatible with at least one of the following interface standards: USB, IEEE 1394 ("Firewire"), or eSATA.</p>
              <p>The term "peripheral bus" means a scheme for connecting peripheral devices such as hard drives, optical disks and various other storage devices to a central processing unit.</p>
              <p>The term "file system" means a scheme for naming, storing and retrieving files on a direct-access storage medium.</p>
              <p>The term "standardized exchange medium" means a random-access medium with a USB, IEEE 1394 ("Firewire") or eSATA peripheral bus and FAT32 or NTFS file system.</p>
              <p>The term "primary signal data" means the signal data that is first recorded on the aircraft, whether digital or analogue. For sideways-looking synthetic aperture radars, the primary signal data is equivalent to the initial phase and amplitude information.</p>
              <p>The term "ancillary data" means any data, in addition to the primary signal data that is recorded at the same time as the primary signal data which is used to correct, calibrate, combine, or annotate the primary signal data.</p>
              <p>The term "original data" means all the data included in the primary signal data and ancillary data.</p>
              <p>The term "intermediate data" includes all data obtained in the process of conversion of the original data on the aircraft or at the ground-based data processing unit, and each subsequent intermediate recording before conversion to OSDDEF and recording on the standardized exchange medium.</p>
              <p>The term "digital imagery product" means the result of applying the ancillary data to digitize, correct, calibrate, combine, or annotate the primary signal data in order to prepare the data for conversion to OSDDEF.</p>
              <p>For digital video sensors and digital infrared line-scanning-devices, the digital imagery products are defined by the sensor configuration. The digital imagery product shall be in the form of a processed image, requiring no additional processing for display.</p>
              <p>For sideways-looking synthetic aperture radars, there are two digital imagery products: (1) the initial phase and amplitude information; and (2) the radar image.</p>
              <p>The term "Open Skies digital imagery product" means the result of converting the digital imagery product or products of a sensor into OSDDEF and placed on a standard exchange medium. Data in addition to that required for annotation may be included in the OSDDEF file; the purpose and format of any such supplementary data must be documented. The OSDDEF file shall include the ancillary data.</p>
              <p>The term "provisional information" means the data included in the primary signal data, ancillary data, and intermediate data.</p>
              <p>The term "erasure of provisional information" means erasure of information from all provisional information media by means of software or hardware.</p>
              <p>The term "destruction of provisional information medium" means any method that renders the information medium unfit for reading or recovery of the data recorded thereon.</p>
            </div>
          <p>SECTION II. FORMATS FOR RECORDING AND EXCHANGING DATA</p>
            <div class="col-sm-12">
              <p>1. pursuant to Article IV, paragraph 10, and Annex B, Section I, paragraph 7, of the Treaty, States parties shall provide technical information on their recording equipment, media and formats used for recording both the primary signal data and ancillary data. The State party which provides the aircraft shall provide all other States parties with a complete description of the recording formats and media. portions of this information which are readily available as international standards and provide the required data in sufficient detail may be omitted as long as they are properly referenced.</p>
              <p>2. The original data collected by video cameras, infrared line-scanning devices or sideways-looking synthetic aperture radars shall be recorded without the use of encoding techniques; these sensors shall not include any devices for wireless access to data or the wireless transfer of data to the on-board systems of the aircraft or to any other systems, or the possibility for unsanctioned copying of information.</p>
              <p>3. The original data collected shall be recorded to removable storage media. These data shall not be maintained in any internal storage device after the sensor has been disconnected from the onboard power source and the removable storage medium has been disconnected. Such removable storage media may be presented to the observing State party by the observed State party upon mutual agreement.</p>
              <p>4. The creation of digital imagery products from the original data for video cameras and infrared line-scanning devices are specified in the digital imagery processing decision. Data from video cameras, infrared line-scanning devices and sideways-looking synthetic aperture radars shall be exchanged as Open Skies digital imagery products.</p>
              <p>5. This paragraph specifies the agreed Open Skies digital imagery product, consisting of a combination of an agreed file system, a peripheral bus and a digital data format exchanged on direct-access media:</p>
                <div class="col-sm-12">
                  <p>(A) The digital data format for exchange shall be OSDDEF. The process of creating the Open Skies digital imagery product from the sensor's digital imagery product shall not involve any changes to the image data values.</p>
                  <p>(B) For digital data exchanged on a standardized exchange medium:</p>
                    <div class="col-sm-12">
                      <p>(1) The file system for exchange shall be FAT32 or NTFS; </p>
                      <p>(2) The peripheral bus shall be USB, IEEE 1394 ("Firewire"), or eSATA. permitted versions of these buses shall include but not be limited to USB 2.0 and IEEE1394b;</p>
                      <p>(3) For each sensor configuration requiring the exchange of digital data, the capacity of the medium shall be the minimum of 1000 Gigabytes or the storage required to hold all of the digital data for the entire observation, demonstration or certification flight for that sensor configuration;</p>
                    </div>
                  <p>(C) The provisions of paragraph 5(B) of Section II of this decision notwithstanding, if the digital data for an entire observation, demonstration or certification flight for a single sensor configuration will fit within the capacity of no more than five optical disks the State party providing the aircraft may use optical disks as the standardized exchange medium.</p>
                </div>
            </div>
          <p>SECTION III. DUpLICATING AND ERASURE REQUIREMENTS</p>
            <div class="col-sm-12">
              <p>1. After the data collected by the sensor has been converted to the Open Skies digital imagery product, all the provisional information shall be erased or the media containing the provisional information shall be destroyed, pursuant to the provisions of this decision. Such erasure or destruction shall be accomplished in a verifiable manner. Unless otherwise agreed, these procedures shall be performed in the presence of at least two officials of the observed State party and at least two officials of the observing State party.</p>
                <div class="col-sm-12">
                  <p>(A) Software and hardware used to erase or destroy the provisional information shall be available for purchase by any State party.</p>
                  <p>(B) Documentation of the software and hardware used to erase or destroy provisional information shall be provided at the time of the distribution of preliminary flight test data.</p>
                </div>
              <p>2. The State party producing the duplicates shall do so in a manner that does not alter or destroy any part of the Open Skies digital imagery product.</p>
              <p>3. The State party providing storage media to be used for the transfer or exchange of data shall check that the storage medium is free of viruses or other data or programs not needed for the use of the data exchanged. The State party receiving the storage media shall have the right to confirm that the storage medium is free of viruses or malicious software.</p>
            </div>
          <p>SECTION IV. CONDUCT OF CERTIFICATION FLIGHT</p>
            <div class="col-sm-12">
              <p>1. The State party certifying a sensor configuration with Open Skies digital imagery products shall provide a description of their device or program used for the erasure or destruction of provisional information. </p>
              <p>2. When conducting certification of the observation aircraft and its sensors, the State party conducting the certification shall demonstrate the technological processes of conversion and transfer of the original data at the ground-based data processing unit to OSDDEF, recording on the standardized exchange medium and devices or programs for the erasure of the provisional information.</p>
              <p>3. States parties taking part in certification shall verify the technological processes of conversion and transfer of the original data at the ground-based data processing unit to OSDDEF, recording on the standardized exchange medium, duplicating capability of the certifying State party and the effectiveness of the demonstrated devices or programs for erasure in order to ascertain the inability to replay or recover any image from the recording medium, which has been erased.</p>
              <p>4. Each State party taking part in certification shall have the right to demonstrate any other method of the erasure of provisional information. The procedure of such demonstration shall be agreed with the States parties taking part in and conducting the certification.</p>
                <div class="col-sm-12">
                  <p>(A) After an observation or demonstration flight is completed, the observed State party shall have the right to choose software or hardware to carry out the procedure of the erasure of provisional information, or the destruction of</p>
                  <p> provisional information medium in case the erasure is impossible, if such procedures have been demonstrated in accordance with paragraph 4 of this Section and verified in accordance with paragraph 3 of this Section.</p>
                  <p>(B) If the procedure selected by the observed State party under subparagraph (A) of paragraph 4 of this Section requires the destruction of media or other additional costs not required under the procedure specified by the certifying State party under paragraph 3 of this Section, the cost of replacing such media shall be borne by the observed State party.</p>
                </div>
            </div>
          <p>SECTION V. PROCEDURES AFTER AN OBSERVATION FLIGHT</p>
            <div class="col-sm-12">
              <p>1. In the event that the observing State party provides the observation aircraft, the observing State party shall process the recording media, unless otherwise agreed.</p>
              <p>2. In the event that the observed State party provides the observation aircraft, the observing State party shall have the right to determine whether the observing State party or the observed State party shall process the recording media.</p>
              <p>3. The processing, transfer, conversion, erasure or destruction of the provisional information collected by video cameras, infrared line-scanning devices or sideways-looking synthetic aperture radars shall be completed within the following timelines:</p>
                <div class="col-sm-12">
                  <p>(A) In the event that the original recording medium is processed at a facility provided by the observing State party, no later than ten days after the departure of the observation aircraft from the territory of the observed State party. The observing State party is responsible for the quality, entirety and completeness of all processes described in this decision;</p>
                  <p>(B) In the event that the original recording medium is processed at a facility provided by the observed State party, no later than seven days after the completion of the observation flight. The observed State party shall be responsible for the quality, entirety and completeness of all processes described in this decision.</p>
                </div>
              <p>4. pursuant to Article IX, Section IV, of the Treaty, each State party shall have the right to request and receive from the observing State party copies of data collected by sensors during an observation flight. Such copies shall be in the form of the Open Skies digital imagery product:</p>
                <div class="col-sm-12">
                  <p>(A) In the case of sideways-looking synthetic aperture radars, and in the event that the observing State party provided the observation aircraft, the observing State party shall retain both of the Open Skies digital imagery products (initial phase information and the radar image). Each State party may request either the initial phase information or the radar image as an Open Skies digital imagery product;</p>
                  <p>(B) In the case of sideways-looking synthetic aperture radars, and in the event that the observed State party provides the observation aircraft:</p>
                    <div class="col-sm-12">
                      <p>(1) If the observing State party did not request and receive the initial phase and amplitude information, it shall not be required to provide the initial phase and amplitude information to other States parties. In this case, data shall be exchanged in the form of digital radar images as an Open Skies digital imagery product;</p>
                      <p>(2) If the observing State party did not request and receive the digital radar images as Open Skies digital imagery products, it shall not be required to provide the digital radar images to other States parties. In this case, data shall be exchanged in the form of initial phase and amplitude information as an Open Skies digital imagery product.</p>
                    </div>
                </div>
              <p>5. The State party that does not provide the observation aircraft shall have the right to verify the erasure or destruction of all provisional information and shall have the right to compare the duplicate copy to the original Open Skies digital imagery product.</p>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * * </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p> This decision shall not affect the exchange of data using the S-VHS pAL format for analogue video sensor configurations certified before 1 January 2006.</p>
      <p> This decision shall enter into force immediately. It shall remain in force for five years from the date of adoption. The States parties shall, within the Open Skies Consultative Commission and during the period when this decision is in force, conclude a follow on agreement on the format in which data is to be recorded and exchanged on recording media other than photographic film, which shall enter into force upon the expiration of this decision.</p>
      <p> Decided in Vienna, in the Open Skies Consultative Commission, on 12 July 2010, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
