<!-- DECISION 1/10 -->
<div id="decision_1_10"></div>

  <div class="row">
    <div class="col-sm-2">
        <p align="left"><a href="#top">Back to Decisions List</a></p>
      </div>
      <div class="col-sm-2 col-sm-offset-8">
        <p align="right">OSCC.DEC/1/10
        <br>25 January 2010
        <br>OSCC++
        <br>Original:ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>1st Meeting of the 51st Session</strong> <br>OSCC(51) Journal No. 161, Agenda item 3 </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 1/10 <br/>PROLONGING THE WORK OF THE INFORMAL WORKING GROUP <br/>ON SENSORS INTO THE YEAR 2010</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <P>The Open Skies Consultative Commission agrees to extend the application of OSCC Decision No. 1/09, for the work of the Informal Working Group on Sensors (IWGS), into the year 2010. </P>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <P>* * * * *</P>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <P>Decided in Vienna, in the Open Skies Consultative Commission, on 25 January 2010, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</P>
    </div>
  </div>

<hr>
