<!-- DECISION 1/08 -->
<div id="decision_1_8"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/1/08
      <br>21 January 2008
      <br>OSCC+
      <br>Original: ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>1st Meeting of the 45th Session</strong> <br>OSCC(45) Journal No. 139, Agenda item 3</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong> DECISION No. 1/08 <br>PROLONGING THE WORK OF THE INFORMAL <br>WORKING GROUP ON SENSORS INTO THE YEAR 2008 </strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p> Guided by the OSCC Decision on the Informal Working Groups of the Open Skies Consultative Commission (OSCC.XXVI.JOUR/72, Annex 2 of 29 October 2001), Decision No. 1/05 of 31 January 2005, Decision No. 14/05 of 12 December 2005, and Decision No. 1/07 of 29 January 2007, the Informal Working Group on Sensors (IWGS), on the instructions of the Open Skies Consultative Commission, is working on Revision One to Decision Number Fourteen and the new digital image processing decision.</p>
      <p> Revision One to Decision Number Fourteen is being written to integrate modern commercial digital aerial cameras into the protocols and restrictions of the Treaty on Open Skies. Additionally, digital imaging processing complexities which come as integral components of modern cameras have to be addressed in the digital image processing decision.</p>
      <p> Additionally, several data exchange formats, which are insufficient for modern sensor systems, must be updated. Also, technical experts have identified problems with Decision Number Seven, the Synthetic Aperture Radar decision, which require review and updating.</p>
      <p>Taking into consideration the work described above, the Open Skies Consultative Commission agrees to prolong the work of the Informal Working Group on Sensors during the year 2008.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p> Decided in Vienna, in the Open Skies Consultative Commission, on 21 January 2008, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
