<!-- Decision 25/06/2001-->
<div id="decision_25_1"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top"> Back to Decisions List </a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC. XXVI.JOUR/70 <br/>25 June 2001 </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>OSCC DECISION <br/>TO THE TREATY ON OPEN SKIES <br>OSCC DECISION ON THE <br/>WORKING MODALITIES OF THE OSCC</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Bearing in mind the experience gathered during its provisional implementation and recognizing the existence of a number of issues requiring consideration to ensure successful implementation of the Treaty after its entry into force, the States Parties agree on the following: </p>
        <div class="col-sm-11 col-sm-offset-1">
          <p>1. The OSCC activities shall be organized in one session during the period until 31 December 2001. </p>
          <p>2. The OSCC will meet at least once during this session but not more than once per month. </p>
          <p>3. Informal working groups will resume activities after the deposit of the instruments of ratification by all the States Parties whose individual allocation of passive quotas as set forth in Annex A is eight or more.</p>
          <p>4. The first meetings of the informal working groups will be held before the entry into force of the Treaty on Open Skies. </p>
          <p>5. In order to prepare these meetings, preliminary consultations on the number of the informal working groups, chairmanships, agenda and issues to be addressed, will be conducted beginning from September 2001.</p>
        </div>
    </div>
  </div>

<hr>
