<!-- DECISION -->
<div id="decision_13_1"></div>

  <div class="row">
    <div class="col-sm-2">
      <p><a href="#top">Back to Decisions List </a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.XXVI.JOUR/74<br/>17 December 2001 </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 ytext-center text-center">
      <p><strong>OSCC DECISION <br/>TO THE TREATY ON OPEN SKIES <br>RULES OF PROCEDURE AND <br/>WORKING METHODS OF THE OPEN SKIES CONSULTATIVE COMMISSION </strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>In view of the entry into force of the Treaty on Open Skies on 1 January 2002, and bearing in mind the experience gathered during the period of the provisional implementation of the Treaty, the Open Skies Consultative Commission (OSCC) decides the following rules of procedure and working methods of the OSCC, pursuant to Article X and Annex L of the Treaty on Open Skies, the OSCC decision number six to the Treaty of 16 July 1993 (OSCC/I/Dec.6), and the OSCC decision of 25 June 2001 (OSCC.DD/3/01/Rev.1): </p>
        <div class="col-sm-11 col-sm-offset-1">
          <p>- The sessions of the OSCC shall last from the end of an OSCE recess to the end of the following recess (winter, spring and summer), which means a duration of about four months; </p>
          <p>- The chairmanship of the OSCC shall be assumed by States Parties in rotation, determined by alphabetical order in the French language. Each chairmanship shall serve from the opening of a session until the opening of the following session, unless otherwise agreed; </p>
          <p>- While in session, the OSCC shall meet formally at least once, but no more than once per month. Informal meetings of the OSCC will be convened by the OSCC chairmanship when needed. </p>
          <p>- Decisions of the OSCC shall be recorded in the Journal by the OSCC Chairperson. Each decision shall be attached to the Journal; it shall also be published as a separate document with an OSCC decision number, starting on 1 January and finishing on 31 December of each calendar year; </p>
        </div>
      <p>The provisions of the present decision shall enter into force on 1 January 2002. </p>
    </div>
  </div>

<hr>
