
<!-- Decision 29/10/2001-->
<div id="decision_29_1"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top"> Back to Decisions List </a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right" >OSCC.XXVI.JOUR/72 <br/>29 October 2001 </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>OSCC DECISION <br/>TO THE TREATY ON OPEN SKIES <br>OSCC DECISION ON THE <br/>INFORMAL WORKING GROUPS OF THE <br/>OPEN SKIES CONSULTATIVE COMMISSION</p></strong>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>In accordance with the OSCC decision of 25 June 2001: </p>
        <div class="col-sm-12">
          <p>- Informal Working groups will resume activities after the deposit of instruments of ratification by all the States Parties whose individual allocation of passive quotas as set forth in Annex A is eight or more. </p>
          <p>- The first meetings of the informal Working groups will be held before the entry into force of the Treaty on Open Skies. </p>
          <p>- In order to prepare these meetings, preliminary consultations on the number of the Working groups, chairmanships, agenda and issues to be addressed, have been conducted since September 2001. The Open Skies Consultative Commission decides to establish the following Informal </p>
          <p>Working Groups: </p>
            <div class="col-sm-12">
              <p><strong>1. Informal Working Group on Certification:</strong></p>
              <p>This IWG will deal with: </p>
                <div class="col-sm-11 col-sm-offset-1">
                  <p>-  planning and organization of the certification process;</p>
                  <p>- C-130 H unique certification for the Pod group;</p>
                  <p>- joint certification;</p>
                  <p>- OS format 25 (regarding signature);</p>
                  <p>- sensors aspects related to certification (Hmin, calibration target);</p>
                  <p>- other specific issues related to certification, and agreed by the OSCC.</p>
                </div>
              <p><strong>2. Informal Working Group on Sensors:</strong></p>
              <p>This IWG will start its activities after the OSCC has approved its working programme.</p>
              <p><strong>3. Informal Working Group on Rules and Procedures:</strong></p>
              <p>This IWG will deal with:</p>
                <div class="col-sm-11 col-sm-offset-1">
                  <p>- flights rules and procedures;</p>
                  <p>- mission planning procedures;</p>
                  <p>- protection of the information gathered during OS flights;</p>
                  <p>- financial aspects of OS missions;</p>
                  <p>- other specific issues related to the OS flights, and agreed by the OSCC.</p>
                </div>
              <p>This IWG will start its activities in December 2001.</p>
            </div>
        </div>
    </div>
  </div>

<hr>
