
<!-- DECISION 12/17/2001 -->
<div>
<div id="decision_12_1"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top"> Back to Decisions List </a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.XXVI.JOUR/74
      <br/>17 December 2001</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>OSCC DECISION <br/>TO THE TREATY ON OPEN SKIES <br>PROVISIONS FOR THE INITIAL CERTIFICATION PERIOD</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The Open Skies Consultative Commission, in accordance with Annex D, Section I, paragraph 4, of the Treaty on Open Skies has decided as follows: </p>
      <p><strong>SECTION I. PROVISIONS</strong></p>
        <div class="col-sm-12">
          <p>1. The initial certification period shall begin at the time of entry into force,on 1&nbsp;January&nbsp;2002, and end on 31 July 2002.</p>
          <p>2. During the initial certification period, observation quota flights shall be conducted in accordance with the Treaty and shall be conducted only on an agreed bilateral basis.</p>
          <p>3.  During the initial certification period, the initial certification schedule shall be as follows:</p>
            <div class="col-sm-11 col-sm-offset-1">
              <p>- From 15 to 29 April 2002, the Federal Republic of Germany will host a joint certification event at Nordholz NAS, GE. Participants will be the Republic of Belarus and the Russian Federation group of States Parties, the Republic of Hungary and Ukraine.</p>
              <p>- From 8 to 15 May 2002, the United States of America will host a certification event at Wright-Patterson AFB, USA.</p>
              <p>- From 19 to 26 June 2002, the French Republic will host a unique certification event for the Pod Group (Kingdom of Belgium, Canada, Kingdom of Spain, French Republic, Hellenic Republic, Italian Republic, Grand Duchy of Luxembourg, Kingdom of Norway, Kingdom of the Netherlands, Portuguese Republic) at Orl&eacute;ans Br&eacute;cy AFB, FR.</p>
              <p>- From 8 to 16 July 2002, the United Kingdom will host a joint certification event with the Republic of Bulgaria at Brize Norton AFB, GB.</p>
            </div>
        </div>
      <p>SECTION II. REVIEW CLAUSE </p>
        <div class="col-sm-12">
          <p>The provisions of this Decision shall be re-examined on the basis of practical experience if so requested by a State Party before 31 July 2002. </p>
          <p>This Decision shall enter into force simultaneously with the Treaty on Open Skies and shall terminate at the end of the initial certification period. </p>
          <p>Decided in Vienna, in the Open Skies Consultative Commission, on 17&nbsp;December&nbsp;2001, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic. </p>
        </div>
    </div>
  </div>

<hr />
