<div id="decision_1_16"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/1/16
      <br>18 April 2016
      <br>OSCC+
      <br>Original: ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Open Skies Consultative Commission <br/>1st Meeting of the 70th Session <br/>OSCC(70)Journal No. 233, Agenda item 4</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No.1/16 OSCC SCALE OF DISTRIBUTION FOR 2016</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The Open Skies Consultative Commission (OSCC),</p>
        <div class="col-sm-12">
          <p>Pursuant to the provisions of paragraph 4(D) of Article X and paragraph 9 of Section I of Annex L of the Treaty on Open Skies and in accordance with the provisions and Annexes of Decision Number Ten to the Treaty on Open Skies of 16 July 1993 (OSCC/III/Dec.10),</p>
          <p>Pursuant to Decision No. 1/13 on the OSCC scale of distribution for 2013–2015,</p>
          <p>Decides to extend the application of the 2013–2015 scale of distribution for the common expenses associated with the operation of the OSCC, as established by OSCC Decision No. 1/13, for the period from 1 January 2016 to 31 December 2016.</p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>This decision will take effect on the date of its adoption and will be issued in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
<br/>
