<div id="decision_3_16"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/3/16
      <br>21 November 2016
      <br>OSCC+
      <br>Original: ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Open Skies Consultative Commission <br/>3rd Meeting of the 71st Session <br/>OSCC(71) Journal No. 239, Agenda item 5</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 3/16 PER DIEM EXPENSES IN OSCC DECISION No. 2/09</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Taking into consideration the practical experience of implementation of the Treaty on Open Skies, the Open Skies Consultative Commission (OSCC) reviewed the provisions of Section V, paragraph 2, of OSCC Decision No. 2/09 on the distribution of costs arising under the Treaty on Open Skies.</p>
      <p>The OSCC review confirmed the current maximum daily per person sum of 150 euros to be reimbursed by the observing party for meals and accommodation provided to its personnel during certifications and observation flights will be the cost rate until the end of 2017.</p>
      <p>Thus the OSCC hereby decides that Decision No. 2/09 remains in effect and requires no changes. The OSCC notes that the cost rates in this decision will be reviewed again in 2017.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 21 November 2016 in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
  </div>

<hr>
<br/>
