<div id="decision_01_16"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.GAL/5.16
      <br>6 April 2016
      <br>OSCC+
      <br>Original:ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Open Skies Consultative Commission <br/>Conference Services</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>INDEX OF DECISIONS (Nos. 1/02-15/15) <br/>ADOPTED BY THE OPEN SKIES CONSULTATIVE COMMISSION SINCE 2002</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col table-responsive">
      <table class="table table-striped">
        <tr>
          <td>DECISION</td>
          <td>NUMBER</td>
          <td>DATE</td>
        </tr>
        <tr>
          <td colspan="3">2002</td>
        </tr>
        <tr>
          <td>OSCC Decision No. 1/02 to the Treaty on Open Skies</td>
          <td>1/02</td>
          <td>21 January</td>
        </tr>
        <tr>
          <td>Accession of the Republic of Finland to the Treaty on Open Skies</td>
          <td>2/02/Corr.1</td>
          <td>21 January</td>
        </tr>
        <tr>
          <td>Accession of the Kingdom of Sweden to the Treaty on Open Skies</td>
          <td>3/02/Corr.1</td>
          <td>21 January</td>
        </tr>
        <tr>
          <td>Provisions for the use of a standard “Signature Page to the Certification Report”</td>
          <td>4/02</td>
          <td>18 February</td>
        </tr>
        <tr>
          <td>Provision for the use of “PG” as a unique identifier for pod group sensor configurations</td>
          <td>5/02</td>
          <td>18 February</td>
        </tr>
        <tr>
          <td>Procedures for allocation of observation flight reference numbers</td>
          <td>6/02</td>
          <td>18 February</td>
        </tr>
        <tr>
          <td>Revision 1 of Decision Number One to the Treaty on Open Skies</td>
          <td>7/02</td>
          <td>18 March</td>
        </tr>
        <tr>
          <td>Guidelines for accession to the Treaty on Open Skies</td>
          <td>8/02/Rev.1</td>
          <td>22 April</td>
        </tr>
        <tr>
          <td>Protection of data collected during observation flights and transfer of recording media containing this data</td>
          <td>9/02/Corr.1</td>
          <td>13 May</td>
        </tr>
        <tr>
          <td>Revision 1 of Decision Number Eighteen to the Treaty on Open Skies</td>
          <td>10/02</td>
          <td>10 June</td>
        </tr>
        <tr>
          <td>Revision 2 of Decision Number One to the Treaty on Open Skies</td>
          <td>11/02</td>
          <td>10 June</td>
        </tr>
        <tr>
          <td>Allocation of a Passive Quota to Sweden</td>
          <td>12/02</td>
          <td>22 July</td>
        </tr>
        <tr>
          <td>Allocation of observation flight reference numbers</td>
          <td>13/02</td>
          <td>22 July</td>
        </tr>
        <tr>
          <td>Revision 1 of Decision Number Twenty to the Treaty on Open Skies</td>
          <td>14/02</td>
          <td>22 July</td>
        </tr>
        <tr>
          <td>Provision on calibration targets</td>
          <td>15/02</td>
          <td>22 July</td>
        </tr>
        <tr>
          <td>Mission Plan Submission and Review</td>
          <td>16/02</td>
          <td>22 July</td>
        </tr>
        <tr>
          <td>Accession of the Republic of Lithuania to the Treaty on Open Skies</td>
          <td>17/02/Corr.1</td>
          <td>22 July</td>
        </tr>
        <tr>
          <td>Accession of the Republic of Croatia to the Treaty on Open Skies</td>
          <td>18/02</td>
          <td>22 July</td>
        </tr>
        <tr>
          <td>Accession of Bosnia and Herzegovina to the Treaty on Open Skies</td>
          <td>19/02/Corr.1</td>
          <td>22 July</td>
        </tr>
        <tr>
          <td>Accession of the Republic of Latvia to the Treaty on Open Skies</td>
          <td>20/02</td>
          <td>22 July</td>
        </tr>
        <tr>
          <td>Scale of distribution for the common expenses associated with the operation of the Open Skies Consultative Commission</td>
          <td>21/02</td>
          <td>9 September</td>
        </tr>
        <tr>
          <td>Procedures for transit necessary during a segment of an Open Skies observation flight</td>
          <td>22/02</td>
          <td>16 December</td>
        </tr>
        <tr>
          <td>Allocation of a passive quota to Finland</td>
          <td>23/02</td>
          <td>16 December</td>
        </tr>
        <tr>
          <td>Revision 2 of Decision Number Twenty to the Treaty on Open Skies</td>
          <td>24/02</td>
          <td>16 December</td>
        </tr>
        <tr>
          <td>Revision 1 of OSCC Decision No. 6/02 to the Treaty on Open Skies</td>
          <td>25/02</td>
          <td>16 December</td>
        </tr>
        <tr>
          <td colspan="3">2003</td>
        </tr>
        <tr>
          <td>Revision 3 of Decision Number Twenty to the Treaty on Open Skies</td>
          <td>1/03</td>
          <td>27 January</td>
        </tr>
        <tr>
          <td>Amendment 1 To Decision Number Six to the Treaty on Open Skies</td>
          <td>2/03</td>
          <td>24 February</td>
        </tr>
        <tr>
          <td>Open Skies Aircraft Status</td>
          <td>3/03/Rev.1</td>
          <td>24 February</td>
        </tr>
        <tr>
          <td>Correction to Annex G, Section I, Paragraph 7</td>
          <td>4/03/Rev.1</td>
          <td>24 February</td>
        </tr>
        <tr>
          <td>Accession of the Republic of Slovenia to the Treaty on Open Skies</td>
          <td>5/03</td>
          <td>24 February</td>
        </tr>
        <tr>
          <td>Scale of distribution for the common expenses associated with the operation of the Open Skies Consultative Commission</td>
          <td>6/03</td>
          <td>24 March</td>
        </tr>
        <tr>
          <td>Scale of distribution for the common expenses associated with the operation of the Open Skies Consultative Commission</td>
          <td>7/03</td>
          <td>24 March</td>
        </tr>
        <tr>
          <td>Allocation of a passive quota to Georgia</td>
          <td>8/03</td>
          <td>7 April</td>
        </tr>
        <tr>
          <td>Revision 2 of Decision No. 6/02 to the Treaty on Open Skies</td>
          <td>9/03/Corr.1</td>
          <td>5 May</td>
        </tr>
        <tr>
          <td>Accession of the Republic of Estonia to the Treaty on Open Skies</td>
          <td>10/03</td>
          <td>5 May</td>
        </tr>
        <tr>
          <td>Supplement 1 to Decision Number One to the Treaty on Open Skies</td>
          <td>11/03</td>
          <td>16 June</td>
        </tr>
        <tr>
          <td>Mechanism and a timetable of the distribution of active quotas</td>
          <td>12/03</td>
          <td>21 July</td>
        </tr>
        <tr>
          <td>Certification of Italian observation aircraft C-130 J</td>
          <td>13/03</td>
          <td>21 July</td>
        </tr>
        <tr>
          <td>Right of an observed party to provide its own observation aircraft for an observation flight</td>
          <td>14/03</td>
          <td>21 July</td>
        </tr>
        <tr>
          <td>Distribution of active quotas to Sweden</td>
          <td>15/03</td>
          <td>21 July</td>
        </tr>
        <tr>
          <td>Distribution of active quotas to Finland</td>
          <td>16/03</td>
          <td>21 July</td>
        </tr>
        <tr>
          <td>Revision 3 of Decision Number One to the Treaty on Open Skies</td>
          <td>17/03</td>
          <td>29 September</td>
        </tr>
        <tr>
          <td>Redistribution of active quotas for observation flights 2004</td>
          <td>18/03</td>
          <td>27 October</td>
        </tr>
        <tr>
          <td>Allocation of a passive quota to Latvia</td>
          <td>19/03</td>
          <td>24 November</td>
        </tr>
        <tr>
          <td>Revision of the OSCC scale of distribution due to the accession of Bosnia and Herzegovina</td>
          <td>20/03</td>
          <td>24 November</td>
        </tr>
        <tr>
          <td>Revision 3 of Decision No. 6/02 to the Treaty on Open Skies</td>
          <td>21/03</td>
          <td>12 December</td>
        </tr>
        <tr>
          <td>Revision 4 of Decision Number Twenty to the Treaty on Open Skies</td>
          <td>22/03</td>
          <td>12 December</td>
        </tr>
        <tr>
          <td>Redistribution of costs in 2002</td>
          <td>23/03</td>
          <td>12 December</td>
        </tr>
        <tr>
          <td colspan="3">2004</td>
        </tr>
        <tr>
          <td>The allocation of a passive quota to Bosnia and Herzegovina</td>
          <td>1/04</td>
          <td>16 February</td>
        </tr>
        <tr>
          <td>Revision Four of Decision No. 6/02 to the Treaty on Open Skies</td>
          <td>2/04</td>
          <td>16 February</td>
        </tr>
        <tr>
          <td>Changes to Open Skies airfields and associated maximum flight distances</td>
          <td>3/04</td>
          <td>29 March</td>
        </tr>
        <tr>
          <td>The First Review Conference on the implementation of the Treaty on Open Skies</td>
          <td>4/04</td>
          <td>29 March</td>
        </tr>
        <tr>
          <td>Dates and venue of an OSCC seminar to examine use of the Open Skies regime for environmental and ecological purposes</td>
          <td>5/04</td>
          <td>29 March</td>
        </tr>
        <tr>
          <td>Distribution of active quotas for observation flights 2004</td>
          <td>6/04</td>
          <td>26 April</td>
        </tr>
        <tr>
          <td>Rules of Procedure and working methods for the 2005 Review Conference of the States Parties under Article XVI of the Treaty on Open Skies</td>
          <td>7/04</td>
          <td>21 June</td>
        </tr>
        <tr>
          <td>Revision of the OSCC scale of distribution due to the accession of Slovenia</td>
          <td>8/04</td>
          <td>20 September</td>
        </tr>
        <tr>
          <td>The allocation of a passive quota to the Republic of Slovenia</td>
          <td>9/04</td>
          <td>20 September</td>
        </tr>
        <tr>
          <td>Revision 5 to Decision No. 6/02 to the Treaty on Open Skies</td>
          <td>10/04</td>
          <td>20 September</td>
        </tr>
        <tr>
          <td>Revision 5 of Decision Number Twenty to the Treaty on Open Skies</td>
          <td>11/04</td>
          <td>20 September</td>
        </tr>
        <tr>
          <td>Mechanism and a timetable of the distribution of active quotas</td>
          <td>12/04</td>
          <td>20 September</td>
        </tr>
        <tr>
          <td>Preliminary agenda of the First Review Conference on the implementation of the Treaty on Open Skies</td>
          <td>13/04/Rev.1</td>
          <td>24 January 2005</td>
        </tr>
        <tr>
          <td>Distribution of active quotas for observation flights in the year 2005</td>
          <td>14/04/Rev.3</td>
          <td>26 September</td>
        </tr>
        <tr>
          <td>Certification of new models of C-130 aircraft</td>
          <td>15/04</td>
          <td>22 October</td>
        </tr>
        <tr>
          <td>Allocation of a passive quota to the Republic of Croatia</td>
          <td>16/04</td>
          <td>22 November</td>
        </tr>
        <tr>
          <td>Revision 6 of Decision No. 6/02 to the Treaty on Open Skies</td>
          <td>17/04/Corr.1</td>
          <td>22 November</td>
        </tr>
        <tr>
          <td>Revision 6 of Decision Number Twenty to the Treaty on Open Skies</td>
          <td>18/04</td>
          <td>22 November</td>
        </tr>
        <tr>
          <td>Revision of the OSCC scale of distribution due to the accession of Croatia</td>
          <td>19/04</td>
          <td>13 December</td>
        </tr>
        <tr>
          <td colspan="3">2005</td>
        </tr>
        <tr>
          <td>Work programme of the Informal Working Group on Sensors</td>
          <td>1/05</td>
          <td>31 January</td>
        </tr>
        <tr>
          <td>On the conduct of transit flights and flights to the point of entry and from the point of exit</td>
          <td>2/05</td>
          <td>31 January</td>
        </tr>
        <tr>
          <td>Revision 7 of Decision Number Twenty to the Treaty on Open Skies</td>
          <td>3/05</td>
          <td>23 May</td>
        </tr>
        <tr>
          <td>Revision of the OSCC scale of distribution due to the accession of Estonia</td>
          <td>4/05</td>
          <td>23 May</td>
        </tr>
        <tr>
          <td>Allocation of a passive quota to the Republic of Lithuania</td>
          <td>5/05</td>
          <td>13 June</td>
        </tr>
        <tr>
          <td>Revision 7 of Decision No. 6/02 to the Treaty on Open Skies</td>
          <td>6/05</td>
          <td>13 June</td>
        </tr>
        <tr>
          <td>Revision 8 of Decision Number Twenty to the Treaty on Open Skies</td>
          <td>7/05</td>
          <td>13 June</td>
        </tr>
        <tr>
          <td>Revision of the OSCC scale of distribution due to the accession of Lithuania</td>
          <td>8/05</td>
          <td>13 June</td>
        </tr>
        <tr>
          <td>Allocation of a passive quota to the Republic of Estonia</td>
          <td>9/05</td>
          <td>18 July</td>
        </tr>
        <tr>
          <td>Revision 8 of Decision No. 6/02 to the Treaty on Open Skies</td>
          <td>10/05</td>
          <td>18 July</td>
        </tr>
        <tr>
          <td>Distribution of active quotas for observation flights 2006</td>
          <td>11/05</td>
          <td>24 October</td>
        </tr>
        <tr>
          <td>Standardization of logical formats for the exchange of digital data among States Parties</td>
          <td>12/05</td>
          <td>12 December</td>
        </tr>
        <tr>
          <td>Revision 1 of Decision Number Seventeen to the Treaty on Open Skies</td>
          <td>13/05</td>
          <td>12 December</td>
        </tr>
        <tr>
          <td>Prolongation of the Informal Working Group on Sensors’ work to revise Decision Number Fourteen and Decision Number Fifteen to the Treaty on Open Skies</td>
          <td>14/05</td>
          <td>12 December</td>
        <tr>
          <td colspan="3">2006</td>
        </tr>
        <tr>
          <td>Revision of the OSCC scales of distribution for 2005–2007 due to the revision of the OSCE Standard Scale of Contributions for 2005–2007</td>
          <td>1/06</td>
          <td>27 March</td>
        </tr>
        <tr>
          <td>Procedures for counting quotas and the allocation of costs in cases where the observation aircraft is provided by the observing State Party and the observation flight does not commence</td>
          <td>2/06</td>
          <td>25 September</td>
        </tr>
        <tr>
          <td>Distribution of active quotas for observation flights in the year 2007</td>
          <td>3/06</td>
          <td>23 October</td>
        </tr>
        <tr>
          <td colspan="3">2007</td>
        </tr>
        <tr>
          <td>Prolonging the work of the Informal Working Group on Sensors into the year 2007</td>
          <td>1/07</td>
          <td>29 January</td>
        </tr>
        <tr>
          <td>Revision 1 of Decision No. 3/06 to the Treaty on Open Skies on the distribution of active quotas for observation flights in the year 2007</td>
          <td>2/07</td>
          <td>26 March</td>
        </tr>
        <tr>
          <td>Revision 2 of Decision No. 3/06 to the Treaty on Open Skies on the distribution of active quotas for observation flights in the year 2007</td>
          <td>3/07</td>
          <td>21 May</td>
        </tr>
        <tr>
          <td>Revision 1 of Decision Number Fifteen to the Treaty on Open Skies on the methodology for calculating the minimum height above ground level at which each infra-red line-scanning device configuration installed on an observation aircraft may be operated during an observation flight</td>
          <td>4/07</td>
          <td>17 September</td>
        </tr>
        <tr>
          <td>Methodology for determining the minimum height above ground level at which each sensor configuration whose resolution depends upon height above ground level may be operated during an observation flight</td>
          <td>5/07</td>
          <td>17 September</td>
        </tr>
        <tr>
          <td>Revision 4 of Decision Number One to the Treaty on Open Skies on the distribution of costs arising under the Treaty on Open Skies</td>
          <td>6/07/Corr.1</td>
          <td>17 September</td>
        </tr>
        <tr>
          <td>Distribution of active quotas for observation flights in the year 2008</td>
          <td>7/07</td>
          <td>29 October</td>
        </tr>
        <tr>
          <td>Continuing the application of the current OSCC scales of distribution</td>
          <td>8/07/Corr.1</td>
          <td>10 December</td>
        </tr>
        <tr>
          <td>Amendment 1 to Revision 4 of Decision Number One to the Treaty on Open Skies</td>
          <td>9/07</td>
          <td>10 December</td>
        </tr>
        <tr>
          <td colspan="3">2008</td>
        </tr>
        <tr>
          <td>Prolonging the work of the Informal Working Group on Sensors into the year 2008</td>
          <td>1/08</td>
          <td>21 January</td>
        </tr>
        <tr>
          <td>Revision 1 of Decision No. 7/07 on the distribution of active quotas for observation flights in the year 2008</td>
          <td>2/08</td>
          <td>5 May</td>
        </tr>
        <tr>
          <td>Revision 2 to Decision No. 7/07 on the distribution of active quotas for observation flights in the year 2008</td>
          <td>3/08</td>
          <td>2 June</td>
        </tr>
        <tr>
          <td>The OSCC scales of distribution for 2008 and 2009</td>
          <td>4/08</td>
          <td>14 July</td>
        </tr>
        <tr>
          <td>Revision 3 to Decision No. 7/07 on the distribution of active quotas for observation flights in the year 2008</td>
          <td>5/08</td>
          <td>14 July</td>
        </tr>
        <tr>
          <td>Revision 4 to Decision No. 7/07 on the distribution of active quotas for observation flights in the year 2008</td>
          <td>6/08</td>
          <td>22 September</td>
        </tr>
        <tr>
          <td>Revision 5 to Decision No. 7/07 on the distribution of active quotas for observation flights in the year 2008</td>
          <td>7/08</td>
          <td>27 October</td>
        </tr>
        <tr>
          <td>Distribution of active quotas for observation flights in the year 2009</td>
          <td>8/08</td>
          <td>27 October</td>
        </tr>
        <tr>
          <td>Alternate airfields</td>
          <td>9/08</td>
          <td>15 December</td>
        </tr>
        <tr>
          <td colspan="3">2009</td>
        </tr>
        <tr>
          <td>Prolonging the work of the Informal Working Group on Sensors into the year 2009</td>
          <td>1/09</td>
          <td>23 February</td>
        </tr>
        <tr>
          <td>Revision 5 of Decision Number One to the Treaty on Open Skies on the distribution of costs arising under the Treaty on Open Skies</td>
          <td>2/09</td>
          <td>23 March</td>
        </tr>
        <tr>
          <td>Revision 1 to Decision No. 8/08 on the distribution of active quotas for observation flights in the year 2009</td>
          <td>3/09</td>
          <td>23 March</td>
        </tr>
        <tr>
          <td>Second Review Conference on the implementation of the Treaty on Open Skies</td>
          <td>4/09</td>
          <td>13 July</td>
        </tr>
        <tr>
          <td>Rules of Procedure and working methods for the 2010 Review Conference of the States Parties under Article XVI of the Treaty on Open Skies</td>
          <td>5/09</td>
          <td>14 September</td>
        </tr>
        <tr>
          <td>Informal Working Group on planning the Review Conference on the implementation of the Treaty on Open Skies (IWGPRC)</td>
          <td>6/09</td>
          <td>14 September</td>
        </tr>
        <tr>
          <td>Revision 2 to Decision No. 8/08 on the distribution of active quotas for observation flights in the year 2009</td>
          <td>7/09</td>
          <td>6 October</td>
        </tr>
        <tr>
          <td>Distribution of active quotas for observation flights in the year 2010</td>
          <td>8/09</td>
          <td></td>
        </tr>19 October
        <tr>
          <td>Continuing the application of the current OSCC scale of distribution</td>
          <td>9/09</td>
          <td>14 December</td>
        </tr>
        <tr>
          <td colspan="3">2010</td>
        </tr>
        <tr>
          <td>Prolonging the work of the Informal Working Group on Sensors into the year 2010</td>
          <td>1/10</td>
          <td>25 January</td>
        </tr>
        <tr>
          <td>OSCC scale of distribution for 2010</td>
          <td>2/10</td>
          <td>25 January</td>
        </tr>
        <tr>
          <td>Rules of Procedure and working methods of the Open Skies Consultative Commission and its Informal Working Groups</td>
          <td>3/10</td>
          <td>22 February</td>
        </tr>
        <tr>
          <td>Allocation of observation flight reference numbers</td>
          <td>4/10</td>
          <td>22 March</td>
        </tr>
        <tr>
          <td>Revision 1 of Decision No. 8/09 on the distribution of active quotas for observation flights in the year 2010</td>
          <td>5/10</td>
          <td>17 May</td>
        </tr>
        <tr>
          <td>Revision 1 to Decision Number Fourteen to the Treaty on Open Skies on the methodology for calculating the minimum height above ground level at which each video camera with real time display installed on an observation aircraft may be operated during an observation flight</td>
          <td>6/10</td>
          <td>17 May</td>
        </tr>
        <tr>
          <td>Preliminary agenda of the Second Review Conference on the implementation of the Treaty on Open Skies</td>
          <td>7/10/Corr.1</td>
          <td>1 June</td>
        </tr>
        <tr>
          <td>Revision two of Decision Number Seventeen to the Treaty on Open Skies on the format in which data is to be recorded and exchanged on recording media other than photographic film</td>
          <td>8/10</td>
          <td>12 July</td>
        </tr>
        <tr>
          <td>Digital imagery processing</td>
          <td>9/10</td>
          <td>12 July</td>
        </tr>
        <tr>
          <td>Distribution of active quotas for observation flights in the year 2011</td>
          <td>10/10</td>
          <td>18 October</td>
        </tr>
        <tr>
          <td colspan="3">2011</td>
        </tr>
        <tr>
          <td>OSCC scale of distribution for 2011</td>
          <td>1/11</td>
          <td>14 March</td>
        </tr>
        <tr>
          <td>Revision 1 of OSCC Decision No. 10/10 on distribution of active quotas for observation flights in the year 2011</td>
          <td>2/11</td>
          <td>11 April</td>
        </tr>
        <tr>
          <td>Prolonging the methodology for determining the minimum height above ground level at which each sensor configuration whose resolution depends upon height above ground level may be operated during an observation flight</td>
          <td>3/11</td>
          <td>24 October</td>
        </tr>
        <tr>
          <td>New version of the Open Skies Format 17 on request for copies (duplicates) of data collected by sensors during an observation flight</td>
          <td>4/11</td>
          <td>24 October</td>
        </tr>
        <tr>
          <td>New version of the Open Skies Format 38 on inspection of sensor aperture covers/inhibiting devices</td>
          <td>5/11</td>
          <td>24 October</td>
        </tr>
        <tr>
          <td>New version of the Open Skies Format 40 on technical information on digital video cameras installed on designated aircraft</td>
          <td>6/11</td>
          <td>24 October</td>
        </tr>
        <tr>
          <td>Distribution of active quotas for observation flights in the year 2012</td>
          <td>7/11</td>
          <td>24 October</td>
        </tr>
        <tr>
          <td>Review of per diem expenses in OSCC Decision No. 2/09</td>
          <td>8/11</td>
          <td>24 October</td>
        </tr>
        <tr>
          <td colspan="3">2012</td>
        </tr>
        <tr>
          <td>New version of the Open Skies Format 8 on designation/addition of an observation aircraft type or model and its installed sensors (one message per aircraft type or model)</td>
          <td>1/12</td>
          <td>27 February</td>
        </tr>
        <tr>
          <td>New version of the Open Skies Format 26 on information on designation of sites</td>
          <td>2/12</td>
          <td>27 February</td>
        </tr>
        <tr>
          <td>OSCC scale of distribution for 2012</td>
          <td>3/12</td>
          <td>27 February</td>
        </tr>
        <tr>
          <td>Distribution of active quotas for observation flights in the year 2013</td>
          <td>4/12</td>
          <td>26 November</td>
        </tr>
        <tr>
          <td colspan="3">2013</td>
        </tr>
        <tr>
          <td>OSCC scale of distribution for 2013–2015</td>
          <td>1/13</td>
          <td>16 September</td>
        </tr>
        <tr>
          <td>Review of per diem expenses in OSCC Decision No. 2/09 and Decision No. 8/11</td>
          <td>2/13</td>
          <td>16 September</td>
        </tr>
        <tr>
          <td>Establishing an Informal Working Group on Sharing Assets</td>
          <td>3/13</td>
          <td>16 September</td>
        </tr>
        <tr>
          <td>Commercial availability of sensors acquired for the purpose of the Open Skies Treaty</td>
          <td>4/13</td>
          <td>16 September</td>
        </tr>
        <tr>
          <td>Exchange of imagery collected by sideways looking synthetic aperture radar during an observation flight</td>
          <td>5/13</td>
          <td>16 September</td>
        </tr>
        <tr>
          <td>Annotation of data collected during an observation period</td>
          <td>6/13</td>
          <td>16 September</td>
        </tr>
        <tr>
          <td>Revision 1 of Decision No. 12/05 on standardization of logical formats for the exchange of digital data among States Parties</td>
          <td>7/13</td>
          <td>16 September</td>
        </tr>
        <tr>
          <td>Infrared sensor technology</td>
          <td>8/13</td>
          <td>16 September</td>
        </tr>
        <tr>
          <td>Revision 3 of Decision Number Seventeen to the Treaty on Open Skies on the format in which data is to be recorded and exchanged on recording media other than photographic film</td>
          <td>9/13</td>
          <td></td>
        </tr>16 September
        <tr>
          <td>Distribution of active quotas for observation flights in the year 2014</td>
          <td>10/13</td>
          <td>21 October</td>
        </tr>
        <tr>
          <td colspan="3">2014</td>
        </tr>
        <tr>
          <td>Revision 1 of Decision No. 10/13 on the distribution of active quotas for observation flights in the year 2014</td>
          <td>1/14</td>
          <td>7 July</td>
        </tr>
        <tr>
          <td>Extending Revision 3 of Decision Number Seventeen to the Treaty on Open Skies: the format in which data is to be recorded and exchanged on recording media other than photographic film</td>
          <td>2/14</td>
          <td>15 September</td>
        </tr>
        <tr>
          <td>Extending Revision 3 of Decision Number Seventeen to the Treaty on Open Skies: the format in which data is to be recorded and exchanged on recording media other than photographic film</td>
          <td>3/14</td>
          <td>27 October</td>
        </tr>
        <tr>
          <td>Extending Revision 3 of Decision Number Seventeen to the Treaty on Open Skies: the format in which data is to be recorded and exchanged on recording media other than photographic film</td>
          <td>4/14</td>
          <td>17 November</td>
        </tr>
        <tr>
          <td>Revision 1 of Decision No. 5/07 on the methodology for determining the minimum height above ground level optical panoramic and framing film cameras may be operated during an observation flight</td>
          <td>5/14</td>
          <td>15 December</td>
        </tr>
        <tr>
          <td>Third Review Conference on the implementation of the Treaty on Open Skies</td>
          <td>6/14</td>
          <td>15 December</td>
        </tr>
        <tr>
          <td>Rules of Procedure and working methods for the 2015 Review Conference of the States Parties under Article XVI of the Treaty on Open Skies</td>
          <td>7/14</td>
          <td>15 December</td>
        </tr>
        <tr>
          <td>Extending Decision No. 9/13 on Revision 3 of Decision Number Seventeen to the Treaty on Open Skies: the format in which data is to be recorded and exchanged on recording media other than photographic film</td>
          <td>8/14</td>
          <td>15 December</td>
        </tr>
        <tr>
          <td colspan="3">2015</td>
        </tr>
        <tr>
          <td>Extending Decision No. 9/13 on Revision 3 of Decision Number Seventeen to the Treaty on Open Skies: the format in which data is to be recorded and exchanged on recording media other than photographic film</td>
          <td>1/15</td>
          <td>19 January</td>
        </tr>
        <tr>
          <td>Distribution of active quotas for observation flights in the year 2015</td>
          <td>2/15</td>
          <td>19 January</td>
        </tr>
        <tr>
          <td>Extending Decision No. 9/13 on Revision 3 of Decision Number Seventeen to the Treaty on Open Skies: the format in which data is to be recorded and exchanged on recording media other than photographic film</td>
          <td>3/15</td>
          <td>2 March</td>
        </tr>
        <tr>
          <td>Certification process for digital sensors</td>
          <td>4/15</td>
          <td>27 March</td>
        </tr>
        <tr>
          <td>Revision 2 to Decision Number Fourteen to the Treaty on Open Skies on the methodology for calculating the minimum height above ground level at which each video camera with real time display installed on an observation aircraft may be operated during an observation flight</td>
          <td>5/15</td>
          <td>27 March</td>
        </tr>
        <tr>
          <td>The continued implementation of Revision 3 of Decision Number Seventeen to the Treaty on Open Skies: the format in which data is to be recorded and exchanged on recording media other than photographic film</td>
          <td>6/15</td>
          <td>27 March</td>
        </tr>
        <tr>
          <td>Revision 1 to Decision Two to the Treaty on Open Skies on the additional non-destructive testing equipment</td>
          <td>7/15</td>
          <td>20 April</td>
        </tr>
        <tr>
          <td>Revision 4 of Decision Number Seventeen to the Treaty on Open Skies on the format in which data is to be recorded and exchanged on recording media other than photographic film</td>
          <td>8/15</td>
          <td>20 April</td>
        </tr>
        <tr>
          <td>Preliminary agenda of the Third Review Conference on the implementation of the Treaty on Open Skies</td>
          <td>9/15/Corr.1</td>
          <td>11 May</td>
        </tr>
        <tr>
          <td>Revision 1 of OSCC Decision No. 6/11 on Open Skies Format 40 on technical information on digital video cameras installed on designated aircraft</td>
          <td>10/15</td>
          <td>22 June</td>
        </tr>
        <tr>
          <td>Open Skies Format 41 on technical information for requesting additional categories of non-destructive inspection equipment</td>
          <td>11/15</td>
          <td>22 June</td>
        </tr>
        <tr>
          <td>Open Skies Format 42 on technical information on non-destructive inspection equipment to be used on a pre-flight inspection, media processing, or certification events</td>
          <td>12/15</td>
          <td>22 June</td>
        </tr>
        <tr>
          <td>Revision 1 of Decision No. 2/15 on the distribution of active quotas for observation flights in the year 2015</td>
          <td>13/15</td>
          <td>22 June</td>
        </tr>
        <tr>
          <td>Revision 2 of Decision No. 2/15 on the distribution of active quotas for observation flights in the year 2015</td>
          <td>14/15</td>
          <td>21 September</td>
        </tr>
        <tr>
          <td>Distribution of active quotas for observation flights in the year 2016</td>
          <td>15/15</td>
          <td>16 November</td>
        </tr>
      </table>
    </div>
  </div>

<hr>
<br/>
