<!-- DECISION 8/04 -->
<div id="decision_8_4"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right"> OSCC.DEC/8/04
      <br/>20 September 2004
      <br/>OSCC++
      <br/>Original:ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>1st Meeting of the 35th Session</strong> <br>OSCC(35) Journal No. 104, Agenda item 4(a)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION NO. 8/04 <br>REVISION OF THE OSCC SCALE OF DISTRIBUTION <br/>DUE TO THE ACCESSION OF SLOVENIA</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p> The Open Skies Consultative Commission (OSCC),</p>
        <div class="col-sm-12">
          <p> 1. Pursuant to the provisions of Annex L, paragraph 9 of the Treaty on Open Skies, OSCC.DEC/8/02/Rev.1, dated 22 April 2002, and OSCC/III/Dec.10, dated 16 July 1993,</p>
          <p> 2. Further to the deposit of Slovenia's instrument of accession on 27 July 2004, which makes Slovenia liable for OSCC costs sixty days after that date, effective at the beginning of the next OSCE budget quarter following OSCC agreement on the redistribution of costs,</p>
        </div>
      <p> Decides to redistribute OSCC costs and agrees on the following scale of distribution for the common expenses associated with the operation of the OSCC, which shall be effective as of 1 October 2004 (in percentages):</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <table class="table table-responsive table-striped">
        <tr>
          <td>France</td>
          <td>10.1043</td>
        </tr>
        <tr>
          <td>Germany</td>
          <td>10.1043</td>
        </tr>
        <tr>
          <td>Italy</td>
          <td>10.1043</td>
        </tr>
        <tr>
          <td>United Kingdom</td>
          <td>10.1043</td>
        </tr>
        <tr>
          <td>United States of America</td>
          <td>9.9933</td>
        </tr>
        <tr>
          <td>Russian Federation</td>
          <td>9.0500</td>
        </tr>
        <tr>
          <td>Canada</td>
          <td>6.0515</td>
        </tr>
        <tr>
          <td>Spain</td>
          <td>4.4415</td>
        </tr>
        <tr>
          <td>Netherlands</td>
          <td>4.2194</td>
        </tr>
        <tr>
          <td>Belgium</td>
          <td>3.9418</td>
        </tr>
        <tr>
          <td>Sweden</td>
          <td>3.9418</td>
        </tr>
        <tr>
          <td>Norway</td>
          <td>2.4983</td>
        </tr>
        <tr>
          <td>Denmark</td>
          <td>2.2762</td>
        </tr>
        <tr>
          <td>Finland</td>
          <td>2.2762</td>
        </tr>
        <tr>
          <td>Poland</td>
          <td>1.5545</td>
        </tr>
        <tr>
          <td>Turkey</td>
          <td>1.1104</td>
        </tr>
        <tr>
          <td>Ukraine</td>
          <td>0.9700</td>
        </tr>
        <tr>
          <td>Greece</td>
          <td>0.9438</td>
        </tr>
        <tr>
          <td>Portugal</td>
          <td>0.9438</td>
        </tr>
        <tr>
          <td>Hungary</td>
          <td>0.7773</td>
        </tr>
        <tr>
          <td>Romania</td>
          <td>0.7773</td>
        </tr>
        <tr>
          <td>Czech Republic</td>
          <td>0.7439</td>
        </tr>
        <tr>
          <td>Bulgaria</td>
          <td>0.6107</td>
        </tr>
        <tr>
          <td>Luxembourg</td>
          <td>0.6107</td>
        </tr>
        <tr>
          <td>Belarus</td>
          <td>0.5200</td>
        </tr>
        <tr>
          <td>Slovakia</td>
          <td>0.3664</td>
        </tr>
        <tr>
          <td>Bosnia and Herzegovina</td>
          <td>0.2110</td>
        </tr>
        <tr>
          <td>Iceland</td>
          <td>0.2110</td>
        </tr>
        <tr>
          <td>Latvia</td>
          <td>0.2110</td>
        </tr>
        <tr>
          <td>Slovenia</td>
          <td>0.2110</td>
        </tr>
        <tr>
          <td>Georgia</td>
          <td><u>0.1200</u></td>
        </tr>
        <tr>
          <td>Total</td>
          <td>100.0000</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p> * * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p> Decided in Vienna, in the Open Skies Consultative Commission, on 20 September 2004, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
