<!-- DECISION TEN -->
<div id="decision_10"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top"> Back to Decisions List </a></p>
      <ul class="list-unstyled">
        <li><a href="#totenAnnexA">Annex A</a></li>
        <li><a href="#totenAnnexB">Annex B</a></li>
      </ul>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC/III/Dec.10<br/>16 July 1993</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION TEN <br/>TO THE TREATY ON OPEN SKIES <br/>SCALE OF DISTRIBUTION FOR THE COMMON EXPENSES <br/>ASSOCIATED WITH THE OPERATION OF THE <br/>OPEN SKIES CONSULTATIVE COMMISSION</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-left">
      <P> The Open Skies Consultative Commission, pursuant to the provisions of Annex L, paragraph 9 of the Treaty on Open Skies, has decided as follows:</P>
        <div class="col-sm-12">
          <P>1. The scale of distribution for the common expenses associated with the operation of the Open Skies Consultative Commission (hereafter referred to as the "scale of distribution of the Open Skies Consultative Commission") is based on the scale of distribution adopted in Helsinki on 10 July 1992, by the participating States to the CSCE (hereafter referred to as the "Helsinki scale"). The special regime established by this Decision takes into account present economic conditions and is limited in scope and in time. It does not constitute a precedent for any other CSCE or CSCE related body.</P>
          <P>2. Taking into account the fact that not all participating States to the CSCE are Parties to the Treaty, States Parties have to make an additional contribution to their contribution to the "Helsinki scale", in order to cover the existing shortfall.</P>
            <div class="col-sm-12">
              <P> (A) As a rule, this additional contribution will be proportional to the "Helsinki scale". Nevertheless, any State Party may provide a higher additional contribution.
              <P> (B) However, taking into account their present economic situation, those countries listed in Annex A to this Decision will be exempted from the proportional contribution mentioned in subparagraph (A) and will only make an ad hoc additional contribution, agreed by the States Parties.</P>
              <P> (C) The special regime established in subparagraph (B) will last as long as the economic situation of the countries listed in Annex A to this Decision so requires. The special regime will thus be subject to review every year.</P>
            </div>
          <P>3. As long as only participating States to the CSCE are Parties to the Treaty, and provided that there remains a shortfall to be covered, the financial contribution to the scale of distribution of the Open Skies Consultative Commission of any State Party will have to be superior to its contribution to the "Helsinki scale".</P>
          <P>4. In case of accession to the Treaty of participating States to the CSCE, their financial contributions to the scale of distribution of the Open Skies Consultative Commission will be calculated according to the principles established in paragraphs 1 and 2. In that case, the financial contributions to the scale of distribution of the Open Skies Consultative Commission of the other States Parties will be reduced in due</P>
          <P>proportion. This provision does not apply to those countries listed in Annex A to this Decision, as long as the special regime established in paragraph 2, subparagraph (B) grants them the benefit of financial contributions to the scale of distribution of the Open Skies Consultative Commission lower than those of other States Parties which bear an identical contribution to the "Helsinki scale".</P>
          <P>5. In case of accession to the Treaty of non-participating States to the CSCE, their financial contributions to the scale of distribution of the Open Skies Consultative Commission as well as the scale of distribution of the Open Skies Consultative Commission will be agreed on an ad hoc basis by the Open Skies Consultative Commission.</P>
          <P>6. As of 1 January 1993, the scale of distribution of the Open Skies Consultative Commission is agreed as follows (in percentages):</P>
            <div class="col-sm-11 col-sm-offset-1">
              <P> France 10.82</P>
              <P> Germany 10.82</P>
              <P> Italy 10.82</P>
              <P> United Kingdom 10.82</P>
              <P> United States of America 10.82</P>
              <P> Russian Federation 9.05</P>
              <P> Canada 6.55</P>
              <P> Spain 5.10  (*)</P>
              <P> Belgium 4.27</P>
              <P> Netherlands 4.27</P>
              <P> Denmark 2.465</P>
              <P> Norway 2.465</P>
              <P> Ukraine 1.77</P>
              <P> Poland 1.685</P>
              <P> Turkey 1.20</P>
              <P> Greece 0.84</P>
              <P> Hungary 0.84</P>
              <P> Romania 0.84</P>
              <P> Czech Republic 0.805</P>
              <P> Belarus 0.71</P>
              <P> Bulgaria 0.66</P>
              <P> Luxembourg 0.66</P>
              <P> Portugal 0.66</P>
              <P> Slovak Republic 0.40</P>
              <P> Iceland 0.24</P>
              <P> Georgia 0.21</P>
              <P> Kyrgyzstan 0.21</P>
            </div>
          <P> (*) This percentage reflects the agreement of Spain to provide a higher additional contribution.</P>
      </div>
    </div>
  </div>
<hr>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a name="totenAnnexA" href="#ten"> Back to Decision Ten </a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>ANNEX A</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-left">
      <P> List of countries to which the special regime established in paragraph 2, subparagraph (B) of the Decision on the scale of distribution of the Open Skies Consultative Commission may apply:</P>
        <div class="col-sm-11 col-sm-offset-1">
          <P>Armenia</P>
          <P>Azerbaijan</P>
          <P>Belarus</P>
          <P>Georgia</P>
          <P>Kazakhstan</P>
          <P>Kyrgyzstan</P>
          <P>Moldova</P>
          <P>Russian Federation</P>
          <P>Tajikistan</P>
          <P>Turkmenistan</P>
          <P>Ukraine</P>
          <P>Uzbekistan</P>
        </div>
    </div>
  </div>
<hr>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a name="totenAnnexB" href="#ten"> Back to Decision Ten </a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>ANNEX B <br/>OPEN SKIES CONSULTATIVE COMMISSION CHAIRMAN'S STATEMENT ON THE DECISION ON THE SCALE OF DISTRIBUTION FOR THE COMMON EXPENSES ASSOCIATED WITH THE OPERATION OF THE OPEN SKIES CONSULTATIVE COMMISSION</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <P>1. The financial contribution to the scale of distribution of the OSCC of each State Party to the Treaty, except those which benefit from the special regime established in paragraph 2, subparagraph (B) of the above-mentioned Decision, those that provide higher additional contributions and those which are not participating States to the CSCE, is calculated as follows (in percentages):</P>
        <div class="col-sm-12">
          <P> OS<SUB>i</SUB> = K x H<SUB>i</P></SUB>
            <div class="col-sm-11 col-sm-offset-1">
              <P>where: i = State Party to which the present paragraph applies</P>
              <P>  OS<SUB>i</SUB> = financial contribution of State Party i</P>
              <P>  H<SUB>i</SUB> = contribution to the "Helsinki scale" of State Party i</P>
              <P>  K = correction coefficient</P>
            </div>
        </div>
      <P>2. The financial contribution to the scale of distribution of the OSCC of a State Party that provides a higher additional contribution is calculated as follows (in percentages):</P>
        <div class="col-sm-12">
          <P> OS<SUB>m</SUB> = H<SUB>m</SUB> + E<SUB>m</P>
            <div class="col-sm-11 col-sm-offset-1">
              </SUB><blockquote><P>where: m = State Party to which the present paragraph applies</P>
              <P>  OS<SUB>m</SUB> = financial contribution of State Party m</P>
              <P>  H<SUB>m</SUB> = contribution to the "Helsinki scale" of State Party m</P>
              <P>  E<SUB>m</SUB> = additional contribution of State Party m</P>
            </div>
        </div>
      <P>3. The financial contribution to the scale of distribution of the OSCC of a State Party to which the special regime established in paragraph 2, subparagraph (B) of the above-mentioned Decision applies is calculated as follows (in percentages):</P>
        <div class="col-sm-12">
          <P> OS<SUB>j</SUB> = H<SUB>j</SUB> + A<SUB>j</P></SUB>
            <div class="col-sm-11 col-sm-offset-1">
              <P>where: j = State Party to which the present paragraph applies</P>
              <P>  OS<SUB>j</SUB> = financial contribution of State Party j</P>
              <P>  H<SUB>j</SUB> = contribution to the "Helsinki scale" of State Party j</P>
              <P>  A<SUB>j</SUB> = ad hoc additional contribution of State Party j</P>
            </div>
        </div>
      <P>4. Coefficient K is determined from the formula:</P>
        <div class="col-sm-12">
          <P>where: </p>
            <div class="col-sm-12">
              <p>&#8721;H<SUB>i</SUB> = sum of contributions to "Helsinki scale" of States Parties i - see paragraph 1 above.</P>
              <p>&#8721;OS<SUB>m</SUB> = sum of contributions to the scale of distribution of the OSCC of States Parties m - see paragraph 2 above.</P>
              <p>&#8721;OS<SUB>j</SUB>  = sum of contributions to the scale of distribution of the OSCC of States Parties j - see paragraph 3 above.</P>
            </div>
        </div>
      </div>
    </div>

<hr />
