<!-- DECISION ONE -->
<div id="decision_1"></div>

<br/>
<hr/>
  <div class="row">
    <div class="col-sm-2">
        <p align="left"><a href="#top"> Back to Decisions List </a><br/>
          <a href="#oneAnnex">Annex</a></p>
      </div>
      <div class="col-sm-2 col-sm-offset-8">
        <p align="right">  OSCC/I/Dec.1<br/> 10 December 1992  </p>
      </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 text-center">
      <p align="center"><strong>DECISION ONE TO THE TREATY ON OPEN SKIES ON</p>
      <P>DISTRIBUTION OF COSTS ARISING UNDER <br/>THE TREATY ON OPEN SKIES</p>
        <p> AS DECIDED IN THE OPEN SKIES CONSULTATIVE COMMISSION ON <br/>29 JUNE 1992 AND ADOPTED BY THE COMMISSION'S DECISION OF <br/>10 DECEMBER 1992 </strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-left">
      <p>The States Parties to the Treaty on Open Skies, pursuant to the provisions of Annex L, Section I, paragraph 9 of the Treaty on Open Skies, have agreed as follows:</P>
      <p>The following provisions shall govern the distribution of costs arising under the Treaty on Open Skies, hereinafter referred to as the Treaty: </P>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>SECTION I. DISTRIBUTION OF COSTS OF OBSERVATION FLIGHTS CONDUCTED ON AN OBSERVATION AIRCRAFT OF THE OBSERVING PARTY</strong></P>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-left">
      <p>1. Unless otherwise specified in this Decision, or agreed between the states Parties involved, an observing Party using its own observation aircraft shall reimburse the observed Party for the costs of only the following goods and services related to the observation aircraft: </P>
        <div class="col-sm-11 col-sm-offset-1 text-left">
          <p>(A) Fuel, oil, hydraulic fluid, oxygen, de-icing fluid and water requested in the course of the observation mission;
          <p>(B) Ground technical and commercial servicing requested by the flight crew of the observing Party; and </P>
          <p>(C) Additional services provided by the observed Party pursuant to Article VI, Section I, paragraph 17 (D) of the Treaty. </P>
        </div>
      <p>2. The costs for the goods defined in paragraph 1 (A) of this Section and Section II, paragraph 4 of this Decision, and consumed during a demonstration flight requested by the observed Party pursuant to Annex F, Section III of the Treaty shall be met by the observed Party unless the demonstration flight results in the cancellation of the observation flight in accordance with the provisions of Article VIII and Annex F of the Treaty. In this case the Observing Party shall meet such costs of the demonstration flight. </P>
      <p>3. In the event that the observing Party takes the original film negative on its own observation aircraft or transport aircraft to the processing location, it shall upon request of the observed Party, and provided the availability of seats, transport free of charge personnel of the observed Party verifying the film processing to the film developing location. In such case the observing Party assumes no liability for transporting such passengers. </P>
      <p>4. Costs resulting from a deviation or curtailment of an observation flight in accordance with Article VIII, Section II, paragraph 5 (C) of the Treaty, shall be met by the observed Party. All other costs connected with a deviation from the flight plan of the observation flight, as defined in Section I, paragraph 1 (A) of this Decision, shall be paid by the observing Party. </P>
      <p>5. The costs of recording media, transportation of the media to the location of their processing, chemicals expended in processing, and duplication for the observed Party shall be borne by the observing Party. </P>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>SECTION II. DISTRIBUTION OF COSTS OF OBSERVATION FLIGHTS CONDUCTED ON OBSERVATION AIRCRAFT PROVIDED BY THE OBSERVED PARTY PURSUANT TO ARTICLE VI, SECTION I, PARAGRAPH 1 OF THE TREATY </strong></P>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-left">
      <p>1. In the event that the observing Party uses its own transport aircraft as a means of transport, it shall pay for the goods and services defined in Section I, paragraph 1 of this Decision that the observing Party requests for its transport aircraft during the period of its presence on the territory of the observed Party. </P>
      <p>2. Unless otherwise specified in this Decision, or agreed between the States Parties involved, an observed Party exercising its right to provide an observation aircraft shall be reimbursed by the observing Party for the costs of only the following goods and services related to the observation aircraft: </P>
        <div class="col-sm-11 col-sm-offset-1 text-left">
          <p>(A) Fuel, oil, hydraulic fluid, oxygen, de-icing fluid and water consumed in the course of the observation mission; and</p>
          <p>(B) Additional services provided by the observed Party Pursuant to Article VI, Section I, paragraph 17 (D) of the Treaty.</P>
        </div>
      <p>3. The costs for the goods defined in Paragraphs 2 (A) and paragraph 4 of this Section, and consumed during a demonstration flight requested by the observing Party pursuant to Annex F, Section III of the Treaty shall be met by the observing Party unless the demonstration flight results in the cancellation of the flight in accordance with the provisions of Article VIII and Annex F of the Treaty. In this event, the observed Party shall not charge the observing Party for the demonstration flight. </P>
      <p>4. The costs of recording media used in the observation flight and for producing duplicates for the observed Party as well as the costs of the chemicals expended in processing and duplication for the observed Party shall be borne by the observing Party. </P>
      <p>5. If the observing Party exercises its right to process the recording media, it shall pay the costs of transporting them to its processing facility. If the observing Party waives its right to process the recording media, and they are thus processed by the observed Party, the observed Party shall pay for their transportation to its processing facility and to the point of exit used by the observing Party. </P>
      <p>6. Costs connected with a deviation or curtailment of an observation flight in accordance with Article VIII, Section II, paragraph 5 (A), 5 (B), or 5 (C) of the Treaty shall be met by the observed Party. All other costs as defined in paragraph 2 (A) of this Section, connected with a deviation from the flight plan of the observation flight, shall be paid by the observing Party. </P>
      <p>7. The observed Party shall cover the costs connected with the travel, if applicable, of flight representatives from the nearest point of entry to the Open Skies airfield where the observation flight begins and from the Open Skies airfield where the observation flight ends to the nearest point of exit, unless the transport aircraft of the observing Party is used for that purpose. </P>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>SECTION III. REIMBURSEMENT OF COSTS FOR USE OF OBSERVATION AIRCRAFT DESIGNATED BY A THIRD STATE PARTY </strong></P>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-left">
      <p>Reimbursement for the use by an observing Party of an observation aircraft designated by a third State Party shall be fair and reasonable and be established in accordance with the arrangements of the States Parties concerned. </P>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>SECTION IV. COSTS ARISING FROM CERTIFICATION OF OBSERVATION AIRCRAFT AND SENSORS AND ADDITIONAL FLIGHTS </strong></P>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-left">
      <p>1. Except for the provisions of Section V, paragraph 2 of this Decision, the costs arising from the certification of an observation aircraft and sensors pursuant to the provisions of Annex D of the Treaty, including the costs of one valid in-flight examination, shall be met by the State Party or Group of States Parties designating the observation aircraft. </P>
      <p>2. If additional flights are agreed among the States Parties involved, the costs shall be met by those States Parties requesting such flights. These additional flights shall not interfere with the certification process and shall be without prejudice to the provisions of Annex D of the Treaty. </P>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>SECTION V. GENERAL RULES </strong></P>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-left">
      <p>1. Travel expenses of flight crew and flight representatives of the observing Party to the point of entry and from the point of exit shall be borne by the observing Party with the exception of travel expenses specified in Section II, paragraph 7 of this Decision. </P>
      <p>2. The arrangements agreed to in the following subparagraphs A and B regarding the payment by the observing Party for meals and accommodation shall not be a precedent for other existing or future arms control agreements. </P>
        <div class="col-sm-11 col-sm-offset-1 text-left">
          <p>(A) Travel expenses for representatives of the States Parties at the certification process, as well as costs for their meals and accommodation up to the equivalent of 75 ECUs per person per day, shall be met by the State Party which they represent.
          <p>(B) Unless otherwise agreed, the observed Party shall not charge more than the equivalent of 75 ECUs in a convertible currency per person per day for meals and accommodation provided to the personnel of the observing Party. </P>
        </div>
      <p>3. Costs of additional services provided by the observed Party pursuant to Article VI, Section I, paragraph 17 (D) of the Treaty shall be met by the observing Party regardless of which State Party provides the observation aircraft. </P>
      <p>4. Fees shall not be charged either to a transiting State Party or to an observing State Party for the use of navigational aids and for air traffic control services, airport landing, takeoff, ground handling, parking and security for all open Skies transit, transport, and observation flights. This provision shall be re-examined on the basis of practical experience if so requested by a State Party one year after entry into force of the Treaty. </P>
      <p>5. The observed Party shall cover the costs of its personnel participating in the preparation and conduct of an observation flight over its territory. </P>
      <p>6. Unless otherwise agreed, the observed Party shall charge for the goods and services defined in Section I, paragraph 1, and Section II, paragraphs 1 and 2 of this Decision, using prices set at the lowest available commercial rate, not including taxes, at Cologne Airport in the Federal Republic of Germany, as of 1 January of the current year and of every year thereafter. A price list for such items shall be distributed to all States Parties by the depositaries no later than 31 January each year. </P>
      <p>7. Unless otherwise agreed, an observed Party exercising its right to provide an observation aircraft shall charge the observing Party for goods defined in Section II, paragraph 4 of this Decision, a price not exceeding that for such goods at the lowest available commercial rate, not including taxes, existing in Canada, as of 1 January of each year, from any company whose products are used by a certified Canadian observation aircraft, or, if there be no such aircraft, by an observation aircraft certified by the United States. A price list for such goods shall be distributed to all States Parties by the Depositaries no later than 31 January each year. </P>
      <p>8. States Parties shall cover the costs of emergency medical treatment on their territory provided to personnel of other States Parties performing activities in accordance with the provisions of the Treaty. </P>
      <p>9. No later than 30 days after completion of an observation flight the observed Party shall transmit a bill in a convertible currency to the observing Party clearly itemising the costs incurred during that observation flight. For all costs not mentioned in paragraphs 2, 3, 7 and 8 of this Section which are customarily charged in the local currency, this bill shall also identify the price in the currency of the observed Party as well as the exchange rate prevailing at the date the expense was incurred. For the purposes of this Section the personnel of a third State Party participating in the conduct of an observation flight shall be considered as personnel of the observing Party. </P>
      <p>10. Unless otherwise agreed, at the end of each calendar year the States Parties will exchange requests for payment in a convertible currency. Following this exchange, the total costs of goods and services provided by the States Parties shall be compared by the States Parties to determine if actual reimbursement is required. Following this review, any State Party that is in debt to any other State Party shall pay its debt to that State Party no later than 1 March of the following year - unless the debt is still under discussion - in a convertible currency at the rate of exchange between the convertible currency used for billing and the one used for actual payment prevailing on the date of exchange of accounts. This rule shall also apply to observing Parties using an observation aircraft of a third State Party. </P>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>SECTION VI. COSTS ARISING FROM DATA SHARING </strong></P>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-left">
      <p>Duplicates of sensor output collected during an observation flight shall be provided by the observing Party at a fair and reasonable price, which will be determined on a bilateral basis. After one year of practical implementation of the Treaty, the Open Skies Consultative Commission shall review the necessity for new provisions to calculate such costs. </P>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <P>* * * *</P>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-left">
      <p>This Decision shall enter into force simultaneously with the Treaty on Open Skies and shall have the same duration as the Treaty.</P>
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 10 December 1992, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic. </P>
    </div>
  </div>

<hr />

<!-- One Annex -->
  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a name="oneAnnex" href="#one"> Back to Decision One</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC/I/Dec.1<br/>10 December 1992<br/>Annex <br/>15 March 1999</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>ANNEX TO DECISION NUMBER ONE TO THE TREATY ON OPEN SKIES</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-left">
        <p>The Open Skies Consultative Commission, due to the substitution of the currency unit denomination "euro" for the currency unit denomination "ECU" effective 1 January 1999, has decided to modify Decision Number One to the Treaty on Open Skies of 10 December 1992, Section V, paragraph 2, subparagraphs (A) and (B), to read as follows:</p>
        <div class="col-sm-11 col-sm-offset-1">
          <p>(A) Travel expenses for representatives of the States Parties at the certification process, as well as costs for their meals and accommodation up to the equivalent of 75 euro per person per day, shall be met by the State Party which they represent.</p>
          <p>(B) Unless otherwise agreed, the observed Party shall not charge more than the equivalent of 75 euro in a convertible currency per person per day for meals and accommodation provided to the personnel of the observing Party.</p>
        </div>
    </div>
  </div>

<hr/>
