<!-- DECISION 13/05 -->
<div id="decision_13_5"></div>

	<div class="row">
		<div class="col-sm-2">
			<p align="left"><a href="#top">Back to Decisions List</a></p>
		</div>
		<div class="col-sm-2 col-sm-offset-8">
			<p align="right">OSCC.DEC/13/05
			<br/>12 December 2005
			<br/>OSCC+
			<br/>Original:ENGLISH</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<p><strong>Open Skies Consultative Commission</strong><br>
			<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</u>
			<br><strong>4th Meeting of the 38th Session</strong> <br> OSCC(38) Journal No. 117, Agenda item 3(a)</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 text-center">
			<p><strong>DECISION No. 13/05 <br>REVISION ONE OF DECISION NUMBER SEVENTEEN <br>TO THE TREATY ON OPEN SKIES <br/>The format in which data is to be recorded and exchanged on <br>recording media other than photographic film</strong></p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<p>The Open Skies Consultative Commission, pursuant to the provisions of Article&nbsp;IX, Section I, paragraph 1, of the Treaty on Open Skies and Section&nbsp;II, paragraph 6 (C),of Decision Number Seventeen, has decided as follows:</p>
			<p>SECTION  I. DEFINITION OF TERMS</p>
				<div class="col-sm-12">
					<p>The following definitions shall apply to terms used in this decision.</p>
					<p>The term "encoding techniques" means special techniques for processing data intended for storage on recording media which would permit the extraction from such data of more information than could be extracted without use of such processing. Error-correcting techniques that are commercially available are not considered encoding techniques. Additionally, lossless compression techniques that are open, nonproprietary, international standards that are commercially available are not considered encoding techniques.</p>
					<p>The term "recording format" means the technical data specific to the recording process, which describes the way in which information is transferred to the recording media</p>
					<p>The term "initial phase information", also known as "complex raw data" or "radioholograms", shall mean the data recorded by the SAR on a recording medium before the data is processed to form an image. The initial phase information is a complex number of the form (<i>Ae <sup>j</sup></i>). This expression is equal to the form <i>A</i> (<i>j</i> Sin() + Cos()).</p>
					<p>The terms "sinusoidal" and "cosinusoidal" mean the sine and cosine portion of the expression <i>A</i> (<i>j</i>Sin() + Cos()).</p>
					<p>The term "cartridge format" means the technical data specific to the size, the form and the mechanical characteristics of a cartridge or an open reel and the transport mechanism connected to it.</p>
					<p>The term "signal format" means the technical data for digital and analogue signals recorded on a magnetic tape.</p>
					<p>The term "logical format" means the arrangement convention for data and data bits on a digital recording medium. "Logical format" is synonymous with the term "digital data format".</p>
					<p>The term "OSDDEF" (Open Skies Digital Data Exchange Format) means the agreed&#8209;upon logical format for the exchange of digital data.</p>
					<p>The term "image element" means a digitized signal representing the detected energy projected to the ground.</p>
					<p>The term "slant range" means a distance perpendicular to the aircraft track in a specified slant plane.</p>
					<p>The term "azimuth" means the direction parallel to the aircraft track.</p>
					<p>The term "radar image" means a two&#8209;dimensional (slant range and azimuth) array of processed radar amplitude samples, generated from initial phase information.</p>
					<p>The term "data annotation format" means the structure of the annotation data on the recording medium. </p>
					<p>The term "direct-access medium", or "random-access medium", means a storage medium in which data locations are found by going directly to their physical location on the medium. In this decision, a direct-access medium will be referred to as a "disk", for brevity.</p>
					<p>The term "DVD" means a commercially available 12 cm diameter optical disk medium for digital data with a capacity of no less than 4.5 gigabytes, whose recording format is an extension of ISO 9660 Standard, and for which there exist commercially available PC&#8209;compatible drivers. DVD reading and recording hardware can be either internal or external. External readers and recorders must be compatible with USB or IEEE 1394 ("Firewire"), or both, interface standards. </p>
					<p>The term "peripheral bus" means a scheme for connecting peripheral devices such as hard drives, CD&#8209;ROMs/DVDs and various other storage devices to a central processing unit.</p>
					<p>The term "file system" means a scheme for naming, storing and retrieving files on a direct-access storage medium.</p>
					<p>The term "image" means an array of image elements, corresponding to the same number of scene elements, which cover a contiguous area on the ground.</p>
					<p>The term "standardized exchange medium" means a random-access medium with a USB or IEEE 1394 ("Firewire") peripheral bus and FAT32 file system. </p>
					<p>The term "standardized exchange configuration" means an entire commercially available combination of a standardized exchange medium and a digital data format specified in Section II, paragraph 8 (A), of this decision.</p>
				</div>
			<p>SECTION II. FORMATS FOR RECORDING AND EXCHANGING DATA</p>
				<div class="col-sm-12">
					<p>1. The original data collected by video cameras, infrared line&#8209;scanning devices or sideways&#8209;looking synthetic aperture radars shall be recorded without the use of encoding techniques.</p>
					<p>2. When using sensors that record on media other than photographic film, and the data collected by the sensor is converted from one format or medium to another, and the original medium is erased or destroyed pursuant to the provisions of this decision, such erasure or destruction shall be accomplished in a verifiable manner which is agreed by both the observing and observed States Parties. Unless otherwise agreed, these procedures shall be performed in the presence of at least two officials of the observed State Party and at least two officials of the observing State Party.</p>
					<p>3. The processing, transfer, conversion, erasure or destruction of the original data collected by video cameras, infrared line&#8209;scanning devices or sideways&#8209;looking synthetic aperture radars shall be completed within the following timelines:</p>
						<div class="col-sm-12">
							<p>(A) In the event that the original recording medium is processed at a facility provided by the observing State Party, no later than ten days after the departure of the observation aircraft from the territory of the observed State Party. The observing State Party is responsible for the quality, entirety and completeness of all processes described in this decision;</p>
							<p>(B) In the event that the observed State Party provided the observation aircraft, the observing State Party shall have the right to determine whether the observing State Party or the observed State Party shall process the recording media;</p>
								<div class="col-sm-12">
									<p>(1) If the observed State Party provides the facility, no later than seven days after the completion of the observation flight. The observed State Party shall be responsible for the quality, entirety and completeness of all processes described in this decision. If the quality of the processing is not considered to be satisfactory by one State Party and the States Parties involved are unable, after making every effort, to resolve the dispute as to whether failure or inadequacy of the data collected during the observation flight was due to sensor operation, to processing or to some other factor, the observed State Party shall assume responsibility and the observation flight shall not count against the quotas of either State Party;</p>
									<p>(2) If the observing State Party provides the facility, the provisions of paragraph 3 (A) apply.</p>
								</div>
						</div>
					<p>4. If any data is recorded on recording media other than photographic film, then the following apply:</p>
						<div class="col-sm-12">
							<p>(A) In the case of analogue recording of data from video cameras or infrared line&#8209;scanning devices, the original data shall be recorded on any commercially available analogue medium in any signal, recording or cartridge format. Following an observation, certification or demonstration flight, the analogue data shall be converted to a standardized exchange configuration. Following conversion from analogue to digital format, the original analogue medium shall be erased. If erasure is not possible, then the non-standardized medium shall be destroyed. &#1058;he data in the standardized exchange configuration shall then be considered the original. First generation duplicates shall be exchanged in a standardized exchange configuration;</p>
							<p>(B) In the case of video cameras, or infrared line&#8209;scanning devices which record in digital formats, the original data shall be recorded without the use of encoding techniques on any storage device in any format selected by the State Party which provides the observation aircraft. In the case that the original data is not recorded on a standardized exchange medium, following the observation, certification or demonstration flight, the State Party providing the observation aircraft shall copy all of the original data from the non-standardized medium to a standardized exchange medium. Following conversion from a non&#8209;standardized medium to a standardized exchange medium, the original non&#8209;standardized medium shallcbe erased. If erasure is not possible, then the non&#8209;standardized mediumcshall be destroyed. &#1058;he data on the standardized exchange medium shallcthen be considered an original. </p>
							<p>The observing State Party or the observed State Party receiving the first generation duplicate from the State Party which provides the observation aircraft may require that the duplicate consist of the same data as the original recording, both on a standardized exchange medium and in a standardized exchange configuration;</p>
							<p>(C) In the case of sideways&#8209;looking synthetic aperture radar, data shall be exchanged as either initial phase information or as a radar image. The data shall be exchanged in digital form;</p>
								<div class="col-sm-12">
									<p>(1) The initial phase information shall be digitally recorded without the use of encoding techniques on any storage device in any format selected by the State Party providing the observation aircraft. In the case that the initial phase information is not recorded in a standardized exchange configuration, following the observation, certification or demonstration flight, the State Party providing the aircraft shall copy all of the initial phase information from a non-standardized medium to a standardized exchange medium.Following conversion from a non-standardized medium to a standardized exchange medium, the original non&#8209;standardized medium shall be erased. If erasure is not possible, then the original shall be destroyed. &#1058;he data on the standardized exchange medium shall then be considered the original. The initial phase information shall be exchanged as digital data with sinusoidal and cosinusoidal components of the initial phase information.</p>
									<p>A State Party receiving a first generation duplicate of the initial phase information from the State Party which provides the observation aircraft may require that the duplicate consist of the same data as the original recording, both on a standardized exchange medium and in a standardized exchange configuration;</p>
									<p>(2) Radar image data shall be exchanged in a standardized digital exchange configuration. Each image element must correspond with the actual range and azimuth properties of the radar. Techniques for combining range elements or azimuth elements, such as incoherent integration, shall not be employed;</p>
									<p>(3)In the event that the observing State Party did not provide the observation aircraft and does not possess the initial phase information, it shall not be required to provide the initial phase information to other States Parties. In this case, data shall be exchanged in the form of digital radar images in a standardized exchange configuration.</p>
								</div>
						</div>
					<p>5. In the event that only one original set of data is made during an observation flight:</p>
						<div class="col-sm-12">
							<p>(A) If the observation aircraft is provided by the observing State Party, the observing State Party shall have the right to retain the original set on the standardized exchange medium;</p>
								<div class="col-sm-12">
									<p>(1) If the data is recorded in a standardized exchange configuration, the observed State Party shall have the right to receive a first generation duplicate copy in the same standardized exchange configuration as that in which the data was originally recorded;</p>
									<p>(2) If the data is not recorded in a standardized exchange configuration and has not been converted to a standardized exchange configuration, the complete set of data shall be transferred to a standardized exchange medium. Following conversion from a non-standardized medium to a standardized exchange medium, the original non-standardized medium shall be erased. If erasure is not possible, then the original shall be destroyed. &#1058;he data on the standardized exchange medium shall then be considered the original. The observed State Party shall have the right to receive both a first generation duplicate copy on a standardized exchange medium in the same logical format as that in which the data was originally collected and a first generation duplicate copy in the standardized exchange configuration;</p>
								</div>
							<p>(B) If the observation aircraft is provided by the observed State Party, the observed State Party shall have the right to receive a first generation duplicate copy;</p>
								<div class="col-sm-12">
									<p>(1) In the event that the data is recorded in a standardized exchange configuration, the observing State Party shall have the right to receive the original set of data;</p>
									<p>(2) In the event that the data is not recorded in a standardized exchange configuration and has not been converted to a standardized exchange configuration, the complete set of data shall be transferred to a standardized exchange medium. Following conversion from a non&#8209;standardized medium to a standardized exchange medium, the original non-standardized medium shall be erased. If erasure is not possible, then the original shall be destroyed. &#1058;he data on the standardized exchange medium shall then be considered the original. The observing State Party shall have the right to receive both the complete set of data on the standardized exchange medium in the same logical format as that in which the data was originally collected, and a first generation duplicate copy in the standardized exchange configuration.</p>
								</div>
						</div>
					<p>6. In the event that two original sets of data are made during an observation flight:</p>
						<div class="col-sm-12">
							<p>(A) If the observation aircraft is provided by the observing State Party, then:</p>
								<div class="col-sm-12">
									<p>(1) If the data is recorded in a standardized exchange configuration, the observed State Party shall have the right to select either of the two sets of recording media, and the set not selected by the observed State Party shall be retained by the observing State Party;</p>
									<p>(2) If the data is not recorded in a standardized exchange configuration and has not been converted to a standardized exchange configuration, all original data shall be transferred to standardized exchange media.Following conversion from a non-standardized medium to a standardized exchange medium, the original non-standardized medium shall be erased. If erasure is not possible, then the original shall be destroyed. &#1058;he data on the standardized exchange medium shall then be considered the original. The observed State Party shall have the right to select either of the two original sets of standardized exchange media as well as a duplicate copy in the standardized exchange configuration. Of the two sets of originals recorded on a standardized exchange medium, the set that is not selected by the observed State Party shall be retained by the observing State Party;</p>
								</div>
							<p>(B) If the observation aircraft is provided by the observed State Party, then:</p>
								<div class="col-sm-12">
									<p>(1) If the data is recorded in a standardized exchange configuration, the observing State Party shall have the right to select either of the two sets of recording media, and the set not selected shall be retained by the observed State Party;</p>
									<p>(2) If the data is not recorded in a standardized exchange configuration and has not been converted to a standardized exchange configuration, then all original data shall be transferred to standardized exchange media. Following conversion from a non-standardized medium to a standardized exchange medium, the original non-standardized medium shall be erased. If erasure is not possible, then the original shall be destroyed. &#1058;he data on the standardized exchange medium shall then be considered an original. The observing State Party shall have the right to receive both the initial data recorded on a standardized exchange medium and a first generation duplicate copy in a standardized exchange configuration. Of the two original sets of data on standardized exchange media, the set that is not selected by the observing State Party shall be retained by the observed State Party.</p>
								</div>
						</div>
					<p>7. Pursuant to Article IX, Section IV, of the Treaty, each State Party shall have the right to request and receive from the observing State Party copies of data collected by sensors during an observation flight;</p>
						<div class="col-sm-12">
							<p>(A) Unless otherwise agreed, in the event that the data was originally recorded in a standardized exchange configuration, such copies shall be in the form of first generation duplicates produced from the original data collected by the sensor during the observation flight, in that same standardized exchange configuration;</p>
							<p>(B) Unless otherwise agreed, in the event that the data was not originally recorded in a standardized exchange configuration, and has not been converted to a standardized exchange configuration in accordance with Section II, paragraph 4, of this decision, such copies shall be provided in one of the forms described in subparagraphs (1) and (2) of this paragraph;</p>
								<div class="col-sm-12">
									<p>(1) If the observation aircraft was provided by the observing State Party, the requesting State Party shall have the right to receive a first generation duplicate either in the standardized exchange medium in the same format as that in which it was originally collected or in the standardized exchange configuration, by choice of the requesting State Party;</p>
									<p>(2) If the observation aircraft was provided by the observed State Party, the requesting State Party shall have the right to receive a first generation duplicate of the data in the standardized exchange configuration. For the purposes of this paragraph, a first generation duplicate of the data received by the observing State Party from the observed State Party shall be considered as satisfying the requirement to provide a duplicate of the original data collected by the sensor, as set forth in Article IX, Section IV, of the Treaty.</p>
								</div>
						</div>
					<p>8. This paragraph specifies the agreed standardized exchange configurations, consisting of a combination of an agreed file system, a peripheral bus and a digital data format exchanged on direct-access media;</p>
						<div class="col-sm-12">
							<p>(A) For digital recordings and analogue recordings converted to digital:</p>
								<div class="col-sm-12">
									<p>(1) The digital data format for exchange shall be OSDDEF. The process of creating the OSDDEF file shall not involve any changes to the image data values;</p>
									<p>(2) For digital data exchanged on direct-access media ("disks"):</p>
										<div class="col-sm-12">
											<p>(a) The file system for exchange shall be FAT32;</p>
											<p>(b) The peripheral bus shall be USB or IEEE 1394 ("Firewire") Permitted versions of these buses shall include but not be limited to USB 2.0 and IEEE1394b;</p>
											<p>(c) For each sensor configuration requiring the exchange of digital data, the capacity of the medium shall be the minimum of 80 Gigabytes or the storage required to hold all of the digital data for the entire observation, demonstration or certification flight for that sensor configuration;</p>
										</div>
									<p>(3) The provisions of Section II, paragraph 8 (A) (2), of this decision notwithstanding, if the digital data for an entire observation, demonstration or certification flight for a single sensor configuration will fit within the capacity of no more than five DVDs, the State Party providing the aircraft may use FAT32 data DVDs as the standardized exchange configuration;</p>
								</div>
							<p>(B) The Open Skies Consultative Commission"s Informal Working Group on Sensors shall annually evaluate exchange media and exchange configurations that are candidates for addition or deletion from the list given in subparagraph (A) above.</p>
						</div>
					<p>9. Pursuant to Article IV, paragraph 10, and Annex B, Section I, paragraph 7, of the Treaty, States Parties shall provide technical information on their recording equipment, media and formats used for recording both the imagery and annotation data. The State Party which provides the aircraft shall provide all other States Parties with a complete description of the recording format and medium in sufficient detail to allow the other States Parties to extract from the output signal all of the data originally recorded. Portions of this information which are readily available as international standards and provide the required data in sufficient detail may be omitted as long as they are properly referenced.</p>
				</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 text-center">
			<p>* * * * *</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<p>This decision shall not affect the exchange of data using the S-VHS PAL format for analog video sensor configurations certified before 1 January 2006.</p>
			<p>This decision shall enter into force on 1 January 2006 and remain in force until 31 December 2009. The States Parties shall, within the Open Skies Consultative Commission and during the period when this decision is in force, conclude a follow&#8209;on agreement on the format in which data is to be recorded and exchanged on recording media other than photographic film, which shall enter into force upon the expiration of this decision.</p>
			<p>Decided in Vienna, in the Open Skies Consultative Commission, on 12 December 2005, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
		</div>
	</div>

<hr>
