<!-- DECISION 8/05 -->
<div id="decision_8_5"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/8/05
      <br/>13 June 2005
      <br/>OSCC+
      <br/>Original: ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>3rd Meeting of the 37th Session</strong> <br>OSCC(37) Journal No. 112, Agenda item 3(d)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 8/05 <br>REVISION OF THE OSCC SCALE OF DISTRIBUTION <br/>DUE TO THE ACCESSION OF LITHUANIA</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p> The Open Skies Consultative Commission (OSCC),</p>
        <div class="col-sm-12">
          <p> 1. Pursuant to the provisions of paragraph 4 (D) of Article X and paragraph 9 of Section I of Annex L of the Treaty on Open Skies, OSCC/III/Dec.10 of 16 July 1993 and Section 5 of OSCC.DEC/8/02/Rev.1 of 22 April 2002,</p>
          <p> 2. Further to the deposit of Lithuania's instrument of accession on 9 May 2005, which makes Lithuania liable for OSCC costs sixty days after that date, effective at the beginning of the next OSCE budget quarter following OSCC agreement on the redistribution of costs,</p>
        </div>
      <p> Decides to redistribute OSCC costs and agrees on the following scale of distribution for the common expenses associated with the operation of the OSCC, which shall be effective as of 1 October 2005 (in percentages):</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 col-sm-offset-5">
      <p>France 10.0332</p>
      <p>Germany 10.0332</p>
      <p>Italy 10.0332</p>
      <p>United Kingdom 10.0332</p>
      <p>United States of America 9.9230</p>
      <p>Russian Federation 9.0500</p>
      <p>Canada 6.0089</p>
      <p>Spain 4.4102</p>
      <p>Netherlands 4.1897</p>
      <p>Belgium 3.9141</p>
      <p>Sweden 3.9141</p>
      <p>Norway 2.4808</p>
      <p>Denmark 2.2602</p>
      <p>Finland 2.2602</p>
      <p>Poland 1.5436</p>
      <p>Turkey 1.1026</p>
      <p>Ukraine 0.9700</p>
      <p>Greece 0.9372</p>
      <p>Portugal 0.9372</p>
      <p>Hungary 0.7718</p>
      <p>Romania 0.7718</p>
      <p>Czech Republic 0.7387</p>
      <p>Bulgaria 0.6064</p>
      <p>Luxembourg 0.6064</p>
      <p>Belarus 0.5200</p>
      <p>Slovakia 0.3638</p>
      <p>Bosnia and Herzegovina 0.2095</p>
      <p>Croatia 0.2095</p>
      <p>Estonia 0.2095 </p>
      <p>Iceland 0.2095 </p>
      <p>Latvia 0.2095 </p>
      <p>Lithuania 0.2095 </p>
      <p>Slovenia 0.2095 </p>
      <p>Georgia 0.1200</p>
      <p>Total 100.0000</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p> * * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 13 June 2005, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
