<!-- DECISION 9/05 -->
<div id="decisin_9_5"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/9/05
      <br/>18 July 2005
      <br/>OSCC+
      <br/>Original: ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>4th Meeting of the 37th Session</strong> <br>OSCC(37) Journal No. 113, Agenda item 3(a)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 9/05 <br/>ALLOCATION OF A PASSIVE QUOTA <br>TO THE REPUBLIC OF ESTONIA</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p> The Open Skies Consultative Commission (OSCC),</p>
      <p> In accordance with the provisions of the Treaty on Open Skies and, notably, Article III, Section I, paragraph 2; Article X, paragraph 4 (D); Article XVII, paragraph 4; the contents of Annex A, Section I, to the Treaty; and with the procedures outlined in Section 3 of OSCC Decision No. 8/02/Rev.1,</p>
      <p> Decides:</p>
        <div class="col-s -12">
          <p> To allocate a passive quota of four to the Republic of Estonia.</p>
        </div>
      <p> This decision enters into force on the day of its adoption by the OSCC and shall have the same duration as the Treaty on Open Skies.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p> * * * * * </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 18 July 2005, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
      <p> Decided in Vienna, in the Open Skies Consultative Commission, on 13 June 2005, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
