<!-- DECISION 10/13 -->
<div id="decision_10_13"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/10/13
      <br>21 October 2013
      <br> OSCC+
      <br>Original:ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong>
      <br><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>3rd Meeting of the 62nd Session</strong> <br> OSCC(62) Journal No. 201, Agenda item 2(a)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 10/13 DISTRIBUTION OF ACTIVE QUOTAS FOR OBSERVATION FLIGHTS IN THE YEAR 2014</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>In accordance with Article III, Section I, paragraphs 5, 7 and 10; Annex A, Section II, paragraph 2; and Annex L, Section II, of the Treaty on Open Skies and OSCC Decision No. 12/04, the Open Skies Consultative Commission has decided on the following distribution of active quotas for observation flights for the year 2014:</p>
      <p>&mdash;<strong>The Federal Republic of Germany</strong> shall have the right to conduct:
        <div class="col-sm-12">
          <p>&mdash; Six (6) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one (1) shared with the French Republic, one (1) shared with the United States of America, one (1) shared with the Republic of Latvia, one (1) shared with Romania, one (1) shared with Sweden and one (1) shared with the Hellenic Republic and the Italian Republic,</p>
          <p>&mdash; Two (2) observation flights over the territory of Ukraine, of which one (1) shared with the French Republic, and one (1) shared with Romania,</p>
          <p>&mdash;  One (1) observation flight over the territory of Georgia, shared with the Republic of Turkey,</p>
          <p>&mdash; One (1) observation flight over the territory of Bosnia and Herzegovina, shared with Hungary, the French Republic and the Republic of Croatia, and</p>
          <p>&mdash; One (1) observation flight over the territory of Kingdom of Sweden, shared with the Republic of Belarus and the Russian Federation group of States Parties;</p>
        </div>
      <p>&mdash;<strong>The United States of America</strong> shall have the right to conduct:</p>
        <div class="col-sm-12">
          <p>&mdash; Sixteen (16) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which two (2) shared with the Kingdom of Norway, one (1) shared with Canada, one (1) shared with the Czech Republic, one (1) shared with the Federal Republic of Germany, one (1) shared with the French Republic, one (1) shared with the Italian Republic, one (1) shared with Romania, one (1) shared with Turkey, one (1) shared with the United Kingdom of Great Britain and Northern Ireland, and</p>
          <p>&mdash; One (1) observation flight over the territory of Ukraine, shared with Canada;</p>
          <p>&mdash; Five (5) observation flights over the territory of the United States of America,</p>
          <p>&mdash; Three (3) observation flights over the territory of the Federal Republic of Germany,</p>
          <p>&mdash; Three (3) observation flights over the territory of the French Republic,</p>
          <p>&mdash; Three (3) observation flights over the territory of the Republic of Poland,</p>
          <p>&mdash; Two (2) observation flights over the territory of the United Kingdom of Great Britain and Northern Ireland,</p>
          <p>&mdash; Two (2) observation flights over the territory of the Hellenic Republic,</p>
          <p>&mdash; Two (2) observation flights over the territory of the Italian Republic,</p>
          <p>&mdash; Two (2) observation flights over the territory of the Kingdom of Spain,</p>
          <p>&mdash; Two (2) observation flights over the Republic of Turkey,</p>
          <p>&mdash; One (1) observation flight over the territory of the Benelux group of States Parties,</p>
          <p>&mdash; One (1) observation flight over the territory of Bosnia and Herzegovina, shared with the United Kingdom of Great Britain and Northern Ireland,</p>
          <p>&mdash; One (1) observation flight over the territory of the Republic of Bulgaria,</p>
          <p>&mdash; One (1) observation flight over the territory of Canada,</p>
          <p>&mdash; One (1) observation flight over the territory of the Republic of Croatia,</p>
          <p>&mdash; One (1) observation flight over the territory of the Kingdom of Denmark,</p>
          <p>&mdash; One (1) observation flight over the territory of the Republic of Estonia,</p>
          <p>&mdash; One (1) observation flight over the territory of the Republic of Finland,</p>
          <p>&mdash; One (1) observation flight over the territory of Hungary,</p>
          <p>&mdash; One (1) observation flight over the territory of the Republic of Latvia,</p>
          <p>&mdash; One (1) observation flight over the territory of the Republic of Lithuania,</p>
          <p>&mdash; One (1) observation flight over the territory of the Kingdom of Norway,</p>
          <p>&mdash; One (1) observation flight over the territory of the Portuguese Republic, shared with the Kingdom of Sweden,</p>
          <p>&mdash; One (1) observation flight over the territory of Romania,</p>
          <p>&mdash; One (1) observation flight over the territory of the Slovak Republic,</p>
          <p>&mdash; One (1) observation flight over the territory of the Republic of Slovenia,</p>
          <p>&mdash; One (1) observation flight over the territory of the Czech Republic, and</p>
          <p>&mdash; One (1) observation flight over the territory of the Kingdom of Sweden, shared with the Federal Republic of Germany;</p>
        </div>
      <p>&mdash;<strong>Bosnia and Herzegovina</strong> shall have the right to conduct:</p>
        <div class="col-sm-12">
          <p>&mdash; One (1) observation flight over the territory of Ukraine, shared with the Republic of Turkey;</p>
        </div>
      <p>&mdash;<strong>The Republic of Bulgaria</strong> shall have the right to conduct:</p>
        <div class="col-sm-12">
          <p>&mdash; One (1) observation flight over the territory of Ukraine shared with Georgia;</p>
        </div>
      <p>&mdash;<strong>Canada</strong> shall have the right to conduct:</p>
        <div class="col-sm-12">
          <p>&mdash; Five (5) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one (1) shared with Hungary and one (1) shared with the United States of America,</p>
          <p>&mdash; One (1) observation flight over the territory of Bosnia and Herzegovina, shared with the Republic of Turkey,</p>
          <p>&mdash; One (1) observation flight over the territory of Georgia, shared with the French Republic and the Republic of Italy, and</p>
          <p>&mdash; One (1) observation flight over the territory of Ukraine, shared with the United States of America;</p>
        </div>
      <p>&mdash;<strong>The Republic of Croatia</strong> shall have the right to conduct:</p>
        <div class="col-sm-12">
          <p>&mdash; One (1) observation flight over the territory of Bosnia and Herzegovina, shared with Hungary, the French Republic and the Federal Republic of Germany;</p>
        </div>
      <p>&mdash;<strong>The Kingdom of Denmark</strong> shall have the right to conduct:</p>
        <div class="col-sm-12">
          <p>&mdash; One (1) observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties;</p>
        </div>
      <p>&mdash;<strong>Finland</strong> shall have the right to conduct:</p>
        <div class="col-sm-12">
          <p>&mdash; Two (2) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one (1) shared with the Kingdom of Norway and one (1) shared with the Kingdom of Sweden;</p>
        </div>
      <p>&mdash;<strong>The French Republic</strong> shall have the right to conduct:</p>
        <div class="col-sm-12">
          <p>&mdash; Three (3) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one (1) shared with the Federal Republic of Germany, and one (1) shared with the United States of America,</p>
          <p>&mdash; Two (2) observation flights over the territory of Ukraine, of which one (1) shared with the Federal Republic of Germany,</p>
          <p>&mdash; One (1) observation flight over the territory of Bosnia and Herzegovina, shared with Hungary, the Republic of Croatia and the Federal Republic of Germany, and</p>
          <p>&mdash; One (1) observation flight over the territory of Georgia, shared with Canada and the Republic of Italy;</p>
        </div>
      <p>&mdash;<strong>Georgia</strong> shall have the right to conduct:</p>
        <div class="col-sm-12">
          <p>&mdash; One (1) observation flight over the territory of the Ukraine, shared with the Republic of Bulgaria;</p>
        </div>
      <p>&mdash;<strong>The United Kingdom of Great Britain and Northern Ireland</strong> shall have the right to conduct:</p>
        <div class="col-sm-12">
          <p>&mdash; Four (4) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one (1) shared with the United States of America, and one (1) shared with Romania, and</p>
          <p>&mdash; One (1) observation Flight over the territory of Bosnia and Herzegovina, shared with Republic of Belarus and the Russian Federation group of States Parties;</p>
        </div>
      <p>&mdash;<strong>The Hellenic Republic</strong> shall have the right to conduct:</p>
        <div class="col-sm-12">
          <p>&mdash; One (1) observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties, shared with the Federal Republic of Germany and the Italian Republic;</p>
        </div>
      <p>&mdash;<strong>Hungary</strong> shall have the right to conduct:</p>
        <div class="col-sm-12">
          <p>&mdash; Two (2) observation flights over the territory of the Republic of Belarus and
          the Russian Federation group of States Parties, one (1) shared with Canada, and one (1) shared with the Italian Republic and the Republic of Slovenia,</p>
          <p>&mdash; One (1) observation flight over the territory of Ukraine, shared with the Italian Republic, and</p>
          <p>&mdash; One (1) observation flight over the territory of Bosnia and Herzegovina, shared with the Federal Republic of Germany, the Republic of Croatia and the French Republic;</p>
        </div>
      <p>&mdash;<strong>The Italian Republic</strong> shall have the right to conduct:</p>
        <div class="col-sm-12">
          <p>&mdash; Three (3) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one (1) shared with the United States of America, one (1) shared with the Federal Republic of Germany and the Hellenic Republic, and one (1) shared with Hungary and the Republic of Slovenia,</p>
          <p>&mdash; One (1) observation flight over the territory of Bosnia and Herzegovina, shared with the Republic of Slovenia,</p>
          <p>&mdash; One (1) observation flight over the territory of Georgia, shared with Canada and the French Republic, and</p>
          <p>&mdash; One (1) observation flight over Ukraine, shared with Hungary;</p>
        </div>
      <p>&mdash;<strong>The Republic of Latvia</strong> shall have the right to conduct:</p>
        <div class="col-sm-12">
          <p>&mdash; One (1) observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties, shared with the Federal Republic of Germany;</p>
        </div>
      <p>&mdash;<strong>The Kingdom of Norway</strong> shall have the right to conduct:</p>
        <div class="col-sm-12">
          <p>&mdash; Four (4) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which two (2) shared with the United States of America, one (1) shared with Finland, and one (1) shared with the Republic of Turkey;</p>
        </div>
      <p>&mdash;<strong>The Republic of Poland</strong> shall have the right to conduct:</p>
        <div class="col-sm-12">
          <p>&mdash; Two (2) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, and</p>
          <p>&mdash; One (1) observation flight over the territory of Ukraine, shared with the Slovak Republic;</p>
        </div>
      <p>&mdash;<strong>The Portuguese Republic</strong> shall have the right to conduct:</p>
        <div class="col-sm-12">
          <p>&mdash; One (1) observation flight over the territory of Ukraine, shared with Romania;</p>
        </div>
      <p>&mdash;<strong>Romania</strong> shall have the right to conduct:</p>
        <div class="col-sm-12">
          <p>&mdash; Three (3) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one (1) shared with the United States of America, one (1) shared with the Federal Republic of Germany, and one (1) shared with the United Kingdom of Great Britain and Northern Ireland, and</p>
          <p>&mdash; Three (3) observation flights over the territory of Ukraine, of which one (1) shared with the Federal Republic of Germany and one (1) shared with the Portuguese Republic;</p>
        </div>
      <p>&mdash;<strong>The Slovak Republic</strong> shall have the right to conduct:</p>
        <div class="col-sm-12">
          <p>&mdash; One (1) observation flight over the territory of Ukraine, shared with the Republic of Poland;</p>
        </div>
      <p>&mdash;<strong>The Republic of Slovenia</strong> shall have the right to conduct:</p>
        <div class="col-sm-12">
          <p>&mdash; One (1) observation flight over the territory of Bosnia and Herzegovina, shared with the Italian Republic, and</p>
          <p>&mdash; One (1) observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties, shared with Hungary and the Italian Republic;</p>
        </div>
      <p>&mdash;<strong>The Kingdom of Sweden</strong> shall have the right to conduct:</p>
        <div class="col-sm-12">
          <p>&mdash; Two (2) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one (1) shared with the Federal Republic of Germany, and one (1) shared with Finland,</p>
          <p>&mdash; One (1) observation flight over the territory of Portugal shared with Republic of Belarus and the Russian Federation group of States Parties,</p>
          <p>&mdash; One (1) observation flight over the territory of the Republic of Slovenia, and</p>
          <p>&mdash; One (1) observation flight over the territory of Ukraine, shared with the Czech Republic;</p>
        </div>
      <p>&mdash;<strong>The Czech Republic</strong> shall have the right to conduct:</p>
        <div class="col-sm-12">
          <p>&mdash; One (1) observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties, shared with the United States of America, and</p>
          <p>&mdash; One (1) observation flight over the territory of Ukraine, shared with the Kingdom of Sweden;</p>
        </div>
      <p>&mdash;<strong>The Republic of Turkey</strong> shall have the right to conduct:</p>
        <div class="col-sm-12">
          <p>&mdash; Four (4) observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one (1) shared with the United States of America, and one (1) shared with the Kingdom of Norway,</p>
          <p>&mdash; Two (2) observation flights over the territory of Ukraine, of which one (1) shared with Bosnia and Herzegovina,</p>
          <p>&mdash; One (1) observation flight over the territory of Bosnia and Herzegovina, shared with Canada, and</p>
          <p>&mdash; One (1) observation flight over the territory of Georgia, shared with the Federal Republic of Germany;</p>
        </div>
      <p>&mdash;<strong>Ukraine</strong> shall have the right to conduct:</p>
        <div class="col-sm-12">
          <p>&mdash; One (1) observation flight over the territory of the Federal Republic Germany,</p>
          <p>&mdash; One (1) observation flight over the territory of the Republic of Bulgaria,</p>
          <p>&mdash; One (1) observation flight over the territory of Finland,</p>
          <p>&mdash; One (1) observation flight over the territory of the Georgia,</p>
          <p>&mdash; One (1) observation flight over the territory of the Hellenic Republic,</p>
          <p>&mdash; One (1) observation flight over the territory of Hungary,</p>
          <p>&mdash; One (1) observation flight over the territory of the Italian Republic,</p>
          <p>&mdash; One (1) observation flight over the territory of the Republic of Poland,</p>
          <p>&mdash; One (1) observation flight over the territory of the Romania,</p>
          <p>&mdash; One (1) observation flight over the territory of the Slovak Republic,</p>
          <p>&mdash; One (1) observation flight over the territory of the Czech Republic, and</p>
          <p>&mdash; One (1) observation flight over the territory of the Republic of Turkey.</p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>This decision takes effect on the date of its adoption and will be issued in each of the six languages specified in the Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 col-sm-offset-10">
      <p align="right">OSCC.DEC/10/13
      <br>21 October 2013
      <br>Annex</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <img src="../img/dec_10_13_Annex.gif" class="img-responsive" />
    </div>
  </div>

<hr>
