<!-- DECISION 9/13 -->
<div id="decision_9_13"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC DEC. 9/13
      <br/>16 September 2013
      <br>OSCC+
      <br>Original:ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong>
      <br><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>2nd Meeting of the 62nd Session</strong> <br> OSCC(62) Journal No. 200, Agenda item 3(i)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 9/13 <br/> REVISION THREE OF DECISION NUMBER SEVENTEEN TO THE TREATY ON OPEN SKIES <br>The format in which data is to be recorded and exchanged on recording media other than photographic film</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The Open Skies Consultative Commission, pursuant to the provisions of Article IX, Section I, paragraph 1, of the Treaty on Open Skies, has decided as follows:</p>
      <p>SECTION I. DEFINITION OF TERMS</p>
        <div class="col-sm-12">
          <p>The following definitions shall apply to terms used in this decision.</p>
          <p>The term "encoding techniques" means special techniques for processing data intended for storage on recording media which would permit the extraction from such data of more information than could be extracted without use of such processing. Error-correcting techniques that are commercially available are not considered encoding techniques. Additionally, lossless compression techniques that are open, non-proprietary, international standards that are commercially available are not considered encoding techniques.</p>
          <p>The term "recording format" means the technical data specific to the recording process, which describes the way in which information is transferred to the recording media.</p>
          <p>The term "logical format" means the arrangement convention for data and data bits on a digital recording medium. "Logical format" is synonymous with the terms "digital data format" and "file format."</p>
          <p>The term "OSDDEF" (Open Skies Digital Data Exchange Format) means the agreed-upon logical format for the exchange of digital data.</p>
          <p>The term "image" means an array of image elements, corresponding to the same number of scene elements, which cover a contiguous area on the ground.</p>
          <p>The term "direct-access medium", or "random-access medium", means a storage medium in which data locations are found by going directly to their physical location on the medium. In this decision, a direct-access medium will be referred to as a "disk", for brevity.</p>
          <p>The term "optical disk" means a commercially available ROM storage medium with a capacity of no less than 4.37GB, whose recording format is an extension of the ISO 9660 Standard, and for which there exist commercially available PC-compatible drivers. External readers and recorders must be compatible with at least one of the following interface standards: USB, IEEE 1394 ("Firewire"), or eSATA.</p>
          <p>The term "peripheral bus" means a scheme for connecting peripheral devices such as hard drives, optical disks and various other storage devices to a central processing unit.</p>
          <p>The term "file system" means a scheme for naming, storing and retrieving files on a direct-access storage medium.</p>
          <p>The term "standardized exchange medium" means a random-access medium with a USB, IEEE 1394 ("Firewire") or eSATA peripheral bus and FAT32 or NTFS file system.</p>
          <p>The term "removable storage media" means internal data storage that can be removed or external data storage that can be disconnected from the sensor or computing equipment without loss of the information stored. Storage media that require disassembly of the sensor or computing equipment are not considered removable storage media and shall be termed non-removable storage media.</p>
          <p>The term "primary signal data" means the signal data that is first recorded on the aircraft, whether digital or analogue.</p>
          <p>The term "ancillary data" means any data, in addition to the primary signal data that is recorded at the same time as the primary signal data which is used to correct, calibrate, combine, or annotate the primary signal data.</p>
          <p>The term "original data" means all the data included in the primary signal data and ancillary data.</p>
          <p>The term "intermediate data" includes all data obtained in the process of conversion of the original data on the aircraft or at the ground-based data processing unit, and each subsequent intermediate recording before conversion to OSDDEF and recording on the standardized exchange medium.</p>
          <p>The term "digital imagery product" means the result of applying the ancillary data to digitize, correct, calibrate, combine, or annotate the primary signal data in order to prepare the data for conversion to OSDDEF. The digital imagery product shall be in the form of a processed image, requiring no additional processing for display.</p>
          <p>The term "Open Skies digital imagery product" means the result of converting the digital imagery product or products of a sensor into OSDDEF. The Open Skies digital imagery product shall be used for the exchange of flight test data and observation flight data, the analysis of flight test data, certification data and, unless otherwise agreed, demonstration flight data.</p>
          <p>The term "associated log file" means a non-image file containing information not entirely included in the Open Skies Digital Imagery Product. No data in any associated log file shall provide information at a greater precision than is permitted under the Decision on Annotation of Data Collected during an Observation Period. No data in any associated log file shall provide information that would permit any additional processing of the Open Skies digital imagery product. The format of an associated log file is not required to be OSDDEF.</p>
          <p>The term "data to be exchanged" means the file or files that are exchanged on the standardized exchange media. The data to be exchanged shall include the Open Skies digital imagery product files, the media annotation files, and any required OSDDEF Interface Control Documents, and, if applicable, any associated log files specified for the sensor configuration. If any associated log file is to be erased or destroyed, it shall not be considered part of the data to be exchanged. The standardized exchange media shall include the data to be exchanged.</p>
          <p>The term "duplication" refers to the process chosen to provide two or more identical copies of the data to be exchanged on standardized exchange media. This may be achieved either by copying a master copy of the data to be exchanged onto separate standardized exchange media, or by producing identical copies of the data to be exchanged on standardized exchange media simultaneously.</p>
          <p>The term "provisional information" means the data included in the primary signal data, ancillary data, and intermediate data and any data used to create associated log files, if applicable.</p>
          <p>The term "erasure of provisional information" means the deletion of the information from all provisional information media by means of software or hardware without the possibility of recovery after the transfer of all data to be exchanged to the standardized exchange media.</p>
          <p>The term "destruction of provisional information medium" means any method that renders the information medium unfit for reading or recovery of the data recorded thereon.</p>
        </div>
      <p>SECTION II. FORMATS FOR RECORDING AND EXCHANGING DATA</p>
        <div class="col-sm-12">
          <p>1. Pursuant to Article IV, paragraph 10, and Annex B, Section I, paragraph 7, of the Treaty, States Parties shall provide technical information on their recording equipment, media and formats used for recording both the primary signal data and ancillary data. The State Party, which provides the aircraft, shall provide all other States Parties with a complete description of the recording formats and media. Portions of this information, which are readily available as international standards and provide the required data in sufficient detail, may be omitted as long as they are properly referenced.</p>
          <p>2. The original data collected by video cameras, infrared imaging devices or sideways looking synthetic aperture radars shall be recorded without the use of encoding techniques; these sensors shall not include any devices for wireless access to data or the wireless transfer of data to the on-board systems of the aircraft or to any other systems, or the possibility for unsanctioned copying of information.</p>
          <p>3. The original data collected shall be recorded to removable storage media. These data shall not be maintained on any non-removable storage medium after the sensor has been disconnected from the on-board power source and the removable storage medium has been disconnected. Such removable storage media may be presented to the observing State Party by the observed State Party upon mutual agreement.</p>
          <p>4. The creation of digital imagery products from the original data for video cameras and infrared imaging devices are specified in the digital imagery processing decision; the creation of digital imagery products for side-ways looking synthetic aperture radars is described in Decision Seven. Data from video cameras, infrared imaging devices and sideways-looking synthetic aperture radars shall be exchanged as Open Skies digital imagery products.</p>
          <p>5. The process of creating the Open Skies digital imagery product from the sensor's digital imagery product shall not involve any changes to the image data values.</p>
          <p>6. The capacity of the standardized exchange medium shall be the minimum of 1000 Gigabytes or the storage required to hold all of the digital data for the entire observation, demonstration or certification flight. If the digital data for an entire observation, demonstration or certification flight for a single sensor configuration will fit within the capacity of no more than five optical disks the State Party providing the aircraft may use optical disks as the standardized exchange medium.</p>
        </div>
      <p>SECTION III. PROCEDURES PERFORMED FOR THE PURPOSES OF CERTIFICATION</p>
        <div class="col-sm-12">
          <p>1. A State Party certifying a sensor configuration with Open Skies digital imagery products shall provide a description of all the files that are part of the data to be exchanged for each sensor configuration.</p>
          <p>2. The State Party certifying a sensor configuration shall provide information on the original data format and storage media used in the configuration to record primary signal data and ancillary data including: the manufacturer name, type, model number of the storage medium, the description of media interfaces and their file system.</p>
          <p>3. The unsanctioned copying of any information is strictly prohibited; the certifying State Party shall provide technical information describing the methods preventing unauthorized copying of information when transporting removable storage media, and during its processing. This shall include the procedures used to ensure the physical and data integrity of all of the provisional information from the time the primary signal data is recorded on the aircraft until the erasure or destruction of the provisional information. The procedures described in this paragraph shall be used during an observation flight, and, unless otherwise agreed, at a demonstration flight.</p>
          <p>4. The certifying State Party shall configure their ground-based processing system in such a way to allow for uninhibited access to all cabling, hardware, and software, or combination thereof.</p>
            <div class="col-sm-12">
              <p>(A) Wherever possible, removable storage media shall be used for ground processing and the storage of provisional information. The processing equipment shall not include any devices for wireless access to data or the wireless transfer of data to any other systems. The processing equipment shall be physically disconnected from any other networks or devices not directly responsible for the processing, duplication, erasure or verification of the certification data.</p>
              <p>(B) Any provisional information contained on any non-removable storage medium shall be verifiably erased after the data to be exchanged have been transferred to standardized exchange media, duplicated and verified.</p>
            </div>
          <p>5. The State Party certifying a sensor configuration with Open Skies digital imagery products shall provide the description of the procedures and a description of the hardware, algorithms, software, or combination thereof used for:</p>
            <div class="col-sm-12">
              <p>(A) The production of the data to be exchanged;</p>
              <p>(B) The erasure or destruction of provisional information, including the procedure for the verification of erasures;</p>
              <p>(C) The duplication of the data to be exchanged, including the procedure for the verification of the accuracy of duplication;</p>
              <p>(D) The reading and interpretation of any associated log files. This information shall include the type and model of all hardware elements and version numbers of all software elements.</p>
            </div>
          <p>6. The software and hardware described under paragraph 5 of this section shall either be distributed or be available for purchase by all States Parties, either separately or as part of the purchase of the processing, erasing, and duplicating equipment.</p>
          <p>7. The process for producing the duplicates shall do so in a manner that does not alter or destroy any part of data to be exchanged.</p>
          <p>8. When conducting certification of the observation aircraft and its sensors, the State Party conducting the certification shall demonstrate:</p>
            <div class="col-sm-12">
              <p>(A) The technological processes of preparing the data to be exchanged and the reading and interpretation of any associated log files included in the data to be exchanged;</p>
              <p>(B) The duplication of the information on the standardized exchange medium and the procedures for verification of the accuracy of the duplication, and;</p>
              <p>(C) The devices or programmes for the erasure or destruction of the provisional information;</p>
              <p>(D) The procedures for verification of erasure or destruction.</p>
            </div>
          <p>9. States Parties taking part in certification shall verify the technological processes of conversion of the original data to OSDDEF and of production of all other data to be exchanged, recording on the standardized exchange medium, duplicating capability of the certifying State Party and the effectiveness of the demonstrated devices or programmes for erasure in order to ascertain the inability to replay or recover any image from the recording medium, which has been erased. States Parties taking part in the certification shall also have the right to ascertain that the ground processing equipment is in accordance with Section III, paragraph 4.</p>
          <p>10. If the certifying State Party intends to perform all or part of the processing after an observation flight on the aircraft rather than at the location of the ground-based processing facility, any differences in equipment and procedures should be demonstrated during certification.</p>
          <p>11. If the certifying State Party subsequently makes any changes to the procedures described in this section, then notification of the said changes and updated technical information shall be made no later than 90 days prior to use. These changes may require on the ground demonstration of the software and hardware or their combination, or a demonstration flight, in order to confirm the results obtained at certification. The certifying State Party shall notify other State Parties of the time and location of such demonstration no later than 30 days prior to the first use of these procedures.</p>
        </div>
      <p>SECTION IV. PROCEDURES AFTER AN OBSERVATION OR DEMONSTRATION FLIGHT</p>
        <div class="col-sm-12">
          <p>1. In the event that the observing State Party provides the observation aircraft, the observing State Party shall process the recording media, unless otherwise agreed.</p>
          <p>2. In the event that the observed State Party provides the observation aircraft, the observing State Party shall have the right to determine whether the observing State Party or the observed State Party shall process the recording media.</p>
          <p>3. Unless otherwise agreed, the procedures for producing data to be exchanged, erasure or destruction of the provisional and duplication of the standardized media shall be performed in the presence of at least two officials of the observed State Party and at least two officials of the observing State Party.</p>
          <p>4. The State Party processing the media shall configure their processing system in such a way to allow for uninhibited access to all cabling, hardware, and software, or combination thereof.</p>
            <div class="col-sm-12">
              <p>(A) Wherever possible, removable storage media shall be used for processing and the storage of provisional information. The processing equipment shall not include any devices for wireless access to data or the wireless transfer of data to any other systems. The processing equipment shall be physically disconnected from any other networks or devices not directly responsible for the processing, duplication, erasure or verification of the observation or demonstration flight data.</p>
              <p>(B)  Any provisional information, contained on any non-removable storage medium shall be verifiably erased after the data to be exchanged have been transferred to standardized exchange media, duplicated and verified.</p>
            </div>
          <p>5. States Parties monitoring the processing shall have the right to ascertain that the processing equipment is in accordance with Section IV, paragraph 4.</p>
          <p>6. The State Party providing removable storage media or standardized exchange media shall ensure that the storage media are blank and free of viruses or malicious software. The State Party receiving the storage media shall have the right to confirm that the storage medium is blank and free of viruses or malicious software.</p>
          <p>7. Unless otherwise agreed, the observing State Party shall perform the duplication of the data to be exchanged.</p>
            <div class="col-sm-12">
              <p>(A) The duplicates shall be on standardized exchange media of identical type, capacity, peripheral bus, and file system.</p>
              <p>(B) Both the observing and observed State Parties shall have the right to verify the accuracy of the duplication. The State Party which provided the aircraft shall use the verification procedures demonstrated at certification or as changed pursuant to Section III, paragraph 11 of this decision.</p>
              <p>(C) The process selected for verification of the duplication shall not alter any of the files included on either copy of the data to be exchanged;</p>
              <p>(D) If the observed State Party and observing State Party are both satisfied that the data is unchanged and identical on each copy of the data to be exchanged; then the State Party monitoring the processing shall choose which copy it wishes to retain.</p>
              <p>(E) If either the observed State Party or the observing State Party is not satisfied by the duplication and verification processes; the standardized exchange media shall be erased and new copies of the data to be exchanged shall be placed on them, and the process of verification repeated, or by mutual agreement, the State Party monitoring the process shall choose which copy it wishes to retain.</p>
            </div>
          <p>8. After the production of the data to be exchanged, its placement on standardized exchange media, duplication and verification, all the provisional information shall be erased or the media containing the provisional information shall be destroyed or purchased in accordance with paragraph 9(C) below, pursuant to the provisions of this decision. In all cases, the initial phase information of sideways-looking synthetic aperture radars shall be verifiably erased.</p>
          <p>9. The observed State Party shall have the right to perform the erasure or destruction of the provisional information.</p>
            <div class="col-sm-12">
              <p>(A) In the event that the aircraft is supplied by the observed State Party, the erasure or destruction of provisional information can be omitted.</p>
              <p>(B) The observed State Party shall have the right to specify that all or only some of the removable storage media containing provisional information are erased; as mutually agreed, selected removable storage media may be erased by the observing State Party.</p>
              <p>(C) The observed State Party shall have the right to purchase and retain, or if mutually agreed, replace with removable storage media of the same type and model, the removable storage media containing the provisional information instead of erasing or destroying those media.</p>
              <p>(D) If the observed State Party exercises its right to perform the erasure or destruction of all or a portion of the provisional information, then:</p>
                <div class="col-sm-12">
                  <p>(1) The observed State Party may choose to use the procedures demonstrated by the State Party that certified the sensor configuration, or procedures of its own choice.</p>
                  <p>(2) If the procedure chosen by the observed State Party results in the destruction or damage of any equipment owned by the observing State Party, the additional costs shall be borne by the observed State Party, unless the destruction was part of the erasure procedure specified by the State Party certifying the sensor configuration.</p>
                </div>
              <p>(E) If the observed State Party does not exercise its right to purchase or replace, or perform the erasure or destruction, the provisional information shall be erased or destroyed by the observing State Party pursuant to the conditions of subparagraphs 9(B). The observing State Party shall use those procedures demonstrated at Certification or as changed pursuant to Section III, paragraph 11 of this decision. The observed State Party has the right to verify the erasure or destruction of the storage media.</p>
            </div>
          <p>10. The State Party monitoring the processing shall have the right to ascertain that the data to be exchanged is in conformance with the sensor configuration certified and complies with the Treaty on Open Skies and relevant decisions.</p>
          <p>11. Unless otherwise agreed the processing, transfer, conversion, duplication, and erasure or destruction of the provisional information collected by video cameras, infrared imaging devices or sideways looking synthetic aperture radars shall be completed as quickly as possible and within the following timelines:</p>
            <div class="col-sm-12">
              <p>(A) In the event that the original recording medium is processed at a facility outside the territory of the observed State Party, chosen by the observing State Party, within fifteen days after the departure of the observation aircraft from the territory of the observed State Party. The observing State Party is responsible for the quality, entirety and completeness of all processes described in this decision;</p>
              <p>(B) In the event that the original recording medium is processed at a facility within the territory of the observed State Party at the request of the observing State Party, within seven days after the beginning of processing. The observing State Party is responsible for the quality, entirety and completeness of all processes described in this decision;</p>
              <p>(C) In the event that the observation aircraft was provided by the observed State Party and the observing Party exercises its right to process the data, the observed Party shall bear no responsibility for the quality of the processing of the original data. If the quality of the processed data to be exchanged is inadequate and the States Parties involved are unable, after making every effort, to resolve a dispute over whether failure or inadequacy in the quality of the data collected during the observation flight was due to sensor operation, to processing, or to some other factor, the observing State Party shall assume responsibility and the observation flight shall count against the quotas of both States Parties.</p>
            </div>
          <p>12. Pursuant to Article IX, Section IV, of the Treaty, each State Party shall have the right to request and receive from the observing State Party copies of data collected by sensors during an observation flight. Such copies shall be in the form of the Open Skies digital imagery product.</p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>This decision shall not affect the exchange of data using the S-VHS PAL format for analogue video sensor configurations certified before 1 January 2006.</p>
      <p>This decision shall enter into force immediately and OSCC Decision No. 8/10 shall be rescinded on the date of adoption of this decision. It shall remain in force for one year from the date of adoption. The States Parties shall, within the Open Skies Consultative Commission and during the period when this decision is in force, conclude a follow on agreement on the format in which data is to be recorded and exchanged on recording media other than photographic film, which shall enter into force upon the expiration of this decision. Prior to the certification of infrared (IR) or synthetic aperture radar (SAR) sensors, when so requested by any State Party, the Open Skies Consultative Commission shall convene promptly to re-examine this decision on the basis of practical experience and to consider any amendments to this decision that a State Party wishes to propose.</p>
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 16 September 2013, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
