<!-- DECISION 6/13 -->
<div id="decision_6_13"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/6/13
      <br>16 September 2013
      <br>OSCC+
      <br>Original:ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>   2nd Meeting of the 62nd Session </strong> <br>OSCC(62) Journal No. 200, Agenda item 3(f)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 6/13 <br/>ANNOTATION OF DATA COLLECTED DURING AN OBSERVATION PERIOD</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Understanding that the Treaty on Open Skies and OSCC Decision Number Eight require that certain information shall be annotated on data collected by all sensors during an observation flight, while OSCC Decision Number Nine and OSCC Decision Number Seventeen make provision for additional information which is chosen by the State Party, this decision clarifies and revises certain aspects of data annotation.</p>
      <p>SECTION I. REQUIRED ANNOTATION OF DATA COLLECTED DURING AN OBSERVATION PERIOD</p>
        <div class="col-sm-12">
          <p>Annex B and Appendix 1 to Annex B provide lists of items that shall be provided for each sensor category in an observation flight. Table 1, given in the annex to this decision provides both the minimum required reporting precision and the maximum allowable reporting precision for those items. Table 2, given in the annex to this decision, supplements the list of Table 1 requirements and contains additional required information items and their minimum and maximum reporting precision values. Table 2 will be applicable only to sensors certified after the adoption of this decision.</p>
          <p>States Parties may wish to propose additional required annotation items and such items may be added to Table 2 by decision of the OSCC. If annotation items are added to Table 2 by an OSCC decision, these additions shall only be applicable to the certification of sensors that occurs after the date of any such decision.</p>
        </div>
      <p>SECTION II. OPTIONAL ANNOTATION OF DATA COLLECTED DURING AN OBSERVATION PERIOD</p>
        <div class="col-sm-12">
          <p>OSCC Decision Number Nine and OSCC Decision Number Seventeen provide States Parties with the right to annotate additional or supplementary non-image data. Supplementary data shall not allow any additional processing of the Open Skies Digital Imagery Product.</p>
            <div class="col-sm-12">
              <p>1. The purpose, source, and format of any such data shall be described and, for systems recording digitally, shall be compatible with the applicable OSDDEF decision.</p>
              <p>2. This description shall be included in the Certification Technical Document provided by the certifying State Party 60 days prior to certification. Within 30 days of receipt, reviewing States Parties may submit comments for clarification to the certifying State Party by means of an Open Skies Format 35 with "ALL STATES PARTIES" designated on the "To" line.</p>
              <p>3. If, after certification, a State Party wishes to add any annotation in addition to that described prior to certification, or to change the purpose, source, or format of the annotation described at certification, this change shall be subject to a 90-day prior notification to all States Parties, in accordance with Article IV, paragraph 12. The notification shall include the purpose, source, and format of the proposed change in annotation in conformance with paragraph 1 above. States Parties may provide comments for clarification using the procedures identified in paragraph 2 above. Objections to the annotation may require a recertification of the affected sensor configuration.</p>
            </div>
        </div>
      <p>OSCC Decision Number Nine notwithstanding, any field in an OSDDEF file containing a measured value of any item found in Table 1 must have a precision that is consistent with the limits given in the table.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>This decision shall not affect the annotation of sensor systems certified before 1 January 2012.</p>
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 16 September 2013, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 col-sm-offset-10">
      <p align="right">
      OSCC.DEC/6/13<br/>
      16 September 2013<br/>
      Annex<br/></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>Table 1: Treaty Annex B items with indicated minimum and maximum precisions</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col table-responsive">
      <table class="table table-striped">
        <tr>
          <th>Field</th>
          <th>Minimum Precision </th>
          <th>Maximum Precision</th>
        </tr>
        <tr>
          <td>Date and Time </td>
          <td>Minute </td>
          <td>0.1 seconds</td>
        </tr>
        <tr>
          <td>Altitude </td>
          <td>5 characters (metres or feet)</td>
          <td>1 metre or 1 foot</td>
        </tr>
        <tr>
          <td>Location of the Observation Aircraft<br/> (latitude and longitude)</td>
          <td>minute or 0.01 degree </td>
          <td>1 second or 0.0001 degrees</td>
        </tr>
        <tr>
          <td>True Heading.</td>
          <td>1 degree</td>
          <td>0.1 degree</td>
        </tr>
        <tr>
          <td>Roll Angle</td>
          <td>1 degree</td>
          <td>0.1 degree</td>
        </tr>
        <tr>
          <td>Pitch Angle</td>
          <td> 1 degree</td>
          <td>0.1 degree</td>
        </tr>
        <tr>
          <td>Drift Angle</td>
          <td>1 degree</td>
          <td>0.1 degree</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Table entries describe the precision of the indicated annotation field; for example, the maximum allowed precision of the date and time is to the nearest 0.1 second. Annotated values shall be rounded to a precision chosen by the State Party, which is consistent with the table. Annotation variables not described in Table 1 are described in Appendix 1 to Annex B of the Treaty on Open Skies.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>Table 2: Required annotation items, in addition to those items specified in Treaty Annex B with indicated minimum and maximum precisions</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col table-responsive">
      <table class="table table-striped">
        <tr>
          <th>OSDDEF Field Name (< 30 characters)</th>
          <th>Description</th>
          <th>Minimum Precision</th>
          <th>Maximum Precision</th>
        </tr>
        <tr>
          <td>FOCALRATIO</td>
          <td>The focal ratio is defined as the ratio of the focal length to diameter of the entrance pupil of the lens, or f-number.<br/> Not applicable to SAR. If not applicable or not available, default value 0</td>
          <td>0.1</td>
          <td>0.1</td>
        </tr>
        <tr>
          <td>EXPOSURE </td>
          <td>Not applicable to SAR. If not applicable or not available, default value 0</td>
          <td>0.01 sec</td>
          <td>0.00001 sec</td>
        </tr>
        <tr>
          <td>IID</td>
          <td>Frame or line number increasing monotonically</td>
          <td>1</td>
          <td>1</td>
        </tr>
      </table>
    </div>
  </div>

<hr>
