<!-- DECISION 8/13 -->
<div id="decision_8_13"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC DEC. 8/13
      <br>16 September 2013
      <br>OSCC+
      <br>Original:ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong>
      <br><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>2nd Meeting of the 62nd Session</strong> <br> OSCC(62) Journal No. 200, Agenda item 3(h)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 8/13 <br/> INFRARED SENSOR TECHNOLOGY</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Recognizing that infrared imaging devices include both line-scanning technology and focal plane array technology,</p>
      <p>Agreeing that infrared line-scanning devices and infrared focal plane array devices operate in the same electromagnetic spectrum,</p>
      <p>The term "infrared imaging device" means a sensor capable of receiving and visualizing thermal electromagnetic radiation emitted in the invisible infrared part of the optical spectrum by objects due to their temperature and in the absence of artificial illumination.</p>
      <p>In accordance with Article IV, paragraph 3 and Article X, paragraph 5 of the Treaty on Open Skies, the Open Skies Consultative Commission has decided on the application of Article IV, paragraph 1(C) of the Treaty on Open Skies as follows:</p>
        <div class="col-sm-12">
          <p>1. Infrared imaging devices consisting of line-scanning devices and/or focal plane array devices shall be considered sensors amongst the categories defined in Article IV, paragraph 1;</p>
          <p>2. The sensors included in paragraph 1 shall be subject to the restrictions given in Article IV, paragraph 2(C);</p>
          <p>3. The infrared imaging device shall be mounted in the observation aircraft with its central optical axis perpendicular to the long axis of the aircraft.</p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 16 September 2013 in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>


<hr>
