<!-- Decision 7/14-->
<div id="decision_7_14"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/7/14
      <br>15 December 2014
      <br>OSCC+
      <br>Original:ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong> 4nd Meeting of the 65th Session</strong> <br>OSCC(65) Journal No. 214, Agenda item 3(b)  </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 7/14 <br/>RULES OF PROCEDURE AND WORKING METHODS FOR THE 2015 REVIEW CONFERENCE OF THE STATES PARTIES UNDER ARTICLE XVI OF THE TREATY ON OPEN SKIES</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>I. Background</strong></p>
        <div class="col-sm-12">
          <p>These rules of procedure and working methods apply to the Third Review Conference (RC), as called for in Article XVI of the Treaty on Open Skies, which entered into force on 1 January 2002, hereafter referred to as the Treaty. In accordance with OSCC Decision No. x/14, the third RC will be convened from 8 to10 June 2015.</p>
        </div>
      <p><strong>II. Duties of the Depositaries</strong></p>
        <div class="col-sm-12">
          <p>Consistent with the provisions contained in Article XVI, paragraph 3, of the Treaty, the Depositaries shall convene the conference of the States Parties to review the implementation of the Treaty.</p>
        </div>
      <p><strong>III. Chairmanship</strong></p>
        <div class="col-sm-12">
          <p>1. States Parties shall assume the chairmanship of all conferences in rotation, determined by alphabetical order in the French language, unless otherwise agreed. The chairperson of the third RC shall be a representative of the Republic of Belarus.</p>
          <p>2. The responsibilities of the chairperson shall include the following:</p>
            <div class="col-sm-12">
              <p>(a) To chair the meetings of the RC;</p>
              <p>(b) To co-ordinate with the OSCE Secretariat the provision of assistance in conducting meetings of the conference, including distribution of RC documents, speaker lists, and recording of the proceedings in a journal;</p>
              <p>(c) To propose to the States Parties the suspension, adjournment or termination of the conference;</p>
              <p>(d) To propose the adjourning or closure of the debate on the item under discussion;</p>
              <p>(e) To seek resolution of administrative questions relating to the organization of the work of the conference in co-ordination with the Secretariat;</p>
              <p>(f) To declare the list of speakers closed, with the consent of the States Parties. The chairperson shall, however, accord the right of reply to any representative if, following closure of the list, he or she is so requested;</p>
              <p>(g) To give the floor immediately to any representative who raises a point of order in the course of a meeting. A representative raising a point of order shall not speak on thec substance of the matter under discussion;</p>
              <p>(h) To perform other duties, as agreed by the States Parties.</p>
            </div>
        </div>
      <p><strong>IV. Meetings of the Conference</strong></p>
        <div class="col-sm-12">
          <p>1. The RC shall be composed of the representatives of the States Parties at a high level. States Parties may organize their delegations to include advisers and experts as deemed necessary by each State Party.</p>
          <p>2. The OSCE Chairperson-in-Office shall be invited to attend as an observer.</p>
          <p>3. In accordance with standing OSCC rules and procedures, States participating in the Organization for Security and Co-operation in Europe (OSCE), but that are not parties to the Treaty on Open Skies, may attend the RC as observers and shall be entitled to the same rights as at OSCC meetings.</p>
          <p>4. The OSCC could also consider extending invitations to representatives of other international institutions to attend the RC as observers.</p>
          <p>5. Decisions shall be taken by consensus. Should amendments to the Treaty be proposed, such amendments shall be considered by all the States Parties in accordance with Article XVI of the Treaty.</p>
          <p>6. Representatives at the RC shall be seated in alphabetical order of the States Parties in the French language.</p>
          <p>7. The official languages of the RC shall be English, French, German, Italian, Russian and Spanish. Statements in any of the official languages shall be interpreted into the other official languages.</p>
          <p>8. The States Parties shall determine the meeting schedule for the RC.</p>
        </div>
      <p><strong>V. Agenda for the Conference</strong></p>
        <div class="col-sm-12">
          <p>1. The States Parties, as the first item of business, shall adopt the agenda without prejudice to the right of each State Party to raise before the RC, and have placed on its agenda, any issue relating to the purpose of the RC.</p>
          <p>2. In order to facilitate the preparations for the RC, the OSCC shall provide States Parties with a preliminary agenda before 3 March 2015.</p>
        </div>
      <p><strong>VI. Journal</strong></p>
        <div class="col-sm-12">
          <p>1. The journal shall record the date, the time of opening and the time of closing of each meeting of the RC; the State Party in the chair; the agenda of the meeting; and the States Parties whose representatives took the floor under each agenda item.</p>
          <p>2. The journal will also record decisions and recommendations agreed by the States Parties. The text of such decisions and recommendations shall be attached to the journal.</p>
          <p>3. Interpretative statements, formal proposals and related documents on matters of substance shall be recorded in the journal and their texts attached to it at the request of the originator, if submitted in writing to the chairperson.</p>
        </div>
      <p><strong>VII. Financial and Administrative Issues</strong></p>
        <div class="col-sm-12">
          <p>Standing OSCC rules of procedure and working methods concerning financial and administrative issues will be followed.</p>
        </div>
      <p><strong>VIII. Future Conferences</strong></p>
        <div class="col-sm-12">
          <p>The rules of procedure and working methods developed for the 2015 Review Conference may serve as a basis, as appropriate, for the proceedings at future conferences of States Parties, as described in Articles XVI and XV of the Treaty.</p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Done in Vienna in the Open Skies Consultative Commission on 15 December 2014, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
