<!-- DECISION 4/07 -->
<div id="decisin_4_7"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a name="4/07" href="#top">Back to Decisions List</a>
      <br><a href="#to4/07.1">Annex 1</a>
      <br><a href="#to4/07.2">Annex 2</a>
      <br><a href="#to4/07.3">Annex 3</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/4/07
      <br/>17 September 2007
      <br/>OSCC+
      <br/>Original: ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>1st Meeting of the 44th Session</strong> <br>OSCC(44) Journal No. 135, Agenda item 3</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 4/07 <br>REVISION ONE OF DECISION NUMBER FIFTEEN TO <br>THE TREATY ON OPEN SKIES <br/>Methodology for calculating the minimum height above ground level at which each infra-red line-scanning device configuration installed on an observation aircraft may be operated during an observation flight</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>SECTION I. DEFINITION OF TERMS</p>
        <div class="col-sm-12">
          <p>The following definitions shall apply to terms used in this Decision.</p>
          <p>The term "line-scanning" means a process that generates a single continuous image due to the motion of the aircraft either by means of a single or limited number of detector elements scanned across the aircraft track by means of the mechanical motion of optical elements or by means of a limited number of lines of detector elements scanned along the track by the aircraft motion.</p>
          <p>An infra-red line-scanning device certified under this Decision shall not be designed with the intention of providing best ground resolution at a location other than nadir.</p>
          <p>The term "flight test" means a flight conducted to collect data in order to establish ground resolution as a function of height above ground level for one or more sensor configuration.</p>
          <p>The term "flight test data" means data collected during flight tests prior to certification in order to establish ground resolution as a function of height above ground level for one or more sensor configuration.</p>
          <p>The term "signal recorder" means an analogue or digital data recording device capable of storing data collected by an infra-red line-scanning device configuration.</p
          <p>The term "ground element" means the area on the ground that is projected on a single detector element.</p>
          <p>The term "image element" means a digitally processed signal that is stored in the memory and corresponds to one ground element.</p>
          <p>The term "equivalent scheme of image generation" means a scheme showing the relationship between ground points and the location of the corresponding image points.</p>
          <p>The term "effective focal length" (f<sub>e</sub>) means the ratio of the length of a short straight line segment dw located at nadir in the image, orientated along the axis of best ground resolution to the angular dimension d&theta; corresponding to that line segment as it is projected to the ground.</p>
          <p align=center>f<sub>e</sub> = dw<sub>best</sub>/d&theta; |<sub>&theta; = 0</sub></p>
          <p>For infra-red line-scanning devices that record on photographic film, dw and f<sub>e</sub> are expressed in millimetres. For infra-red line-scanning devices that are recorded digitally, dw and f<sub>e</sub> are expressed in pixels.</p>
          <p>The term "infra-red line-scanning device configuration" means a specified combination of:</p>
            <div class="col-sm-12">
              <p>(a) Sensor type and model;</p>
              <p>(b) Spectral bandwidth;</p>
              <p>(c) Instantaneous field of view;</p>
              <p>(d) ffective focal length;</p>
              <p>(e) Filter name, if applicable;</p>
              <p>(f) Film type, if applicable;</p>
              <p>(g) Data recording media type and format, if applicable;</p>
              <p>(h) Type and model of data recording equipment, if applicable;</p>
              <p>(i) Window designation;</p>
              <p>(j) Sensor installation;</p>
              <p>(k) Scan angles measured relative to the vertical axis of the aircraft fuselage in degrees right and left;</p>
              <p>(l) Number of image elements per scan (if applicable);</p>
              <p>(m) Number and arrangement of individual sensing elements;</p>
              <p>(n) Digital sampling scheme;</p>
              <p>(o) Number of gray levels (if applicable);</p>
            </div>
          <p>that is to be certified.</p>
          <p>The term "video display" means a monitor used for the analysis of data from sensors recording on other than photographic film, including any associated image processing electronics that is capable of displaying, from data in analogue or digital format, the data collected by an infra-red line-scanning device.</p>
          <p>The term "grey level" means the numerical value of the signal recorded for an image element on an integer scale between zero and at least 255 but not more than 65535.</p>
          <p>The term "radiant temperature" means the equivalent temperature of a black body radiating the same power per unit area over the spectral bandwidth of the infra-red line&#8209;scanning device configuration being certified as the given body being measured.</p>
          <p>The term "phase correction" means a technique to reduce scan line misalignments in the image caused by correctable time base errors in the recording medium, correctable motion compensation errors, or other errors that are induced by the infra-red line-scanning device. The phase correction approach shall be based on a relative movement of scan lines on the image along the across-track direction without changing the relative location of image elements within the scan line.</p>
          <p>The symbol "&Delta;T<sub>i</sub>" is used to describe the radiant temperature difference of a bar group measured on the ground during a flight test, certification or demonstration flight.</p>
          <p>The symbol "H<sub>i</sub>" is used to describe the height above ground of the aircraft during a specified pass over the calibration target.</p>
          <p>The symbol "L<sub>i</sub>" denotes the width of each bar in a specific bar group.</p>
          <p>The term "spiral" means a series of aircraft passes above the calibration target at successively higher or lower heights above ground.</p>
          <p>The symbol "L<sub>a</sub>" denotes the Treaty specified resolution of 0.5 metres.</p>
          <p>The term "H<sub>observer, spiral, colour, L</sub>" is the height above ground level determined by an observer ("observer") performing visual analysis for a particular spiral ("spiral"), target surface treatment ("colour") and bar group of width "L".</p>
          <p>The term "H <sub>spiral, colour, L</sub>" is the average of the heights H <sub>observer, spiral, colour, L</sub> of all observers for which the heights H <sub>observer, spiral, colour, L</sub> have been determined.</p>
          <p>The term "high temperature range" of an infra-red line scanning device configuration means a range of radiant temperature differences over which the ground resolution of the infra-red line scanning device configuration does not significantly depend on the radiant temperature difference value (as shown in annex 3).</p>
          <p>The symbol, "&Delta;t<sub>1</sub>", denotes the lowest radiant temperature difference included in the high temperature range specified by the State Party offering the infra-red line-scanning device configuration for certification.</p>
          <p>The symbol, "&Delta;t<sub>2</sub>", denotes the highest radiant temperature difference included in the high temperature range specified by the State Party offering the infra-red line-scanning device configuration for certification.</p>
          <p>The term "H<sub>min</sub>" means the minimum height above ground level at which an infra-red line-scanning device configuration installed on an observation aircraft may be operated during an observation flight, for which the resolution is no better than L<sub>a</sub>.</p>
          <p>The term "H<sub>min-expected</sub>" means the H<sub>min</sub> estimate established from the flight test data provided before certification.</p>
          <p>The term "H<sub>min-at-certification</sub>" means the H<sub>min</sub> estimate established from the data gathered in the in-flight examination at the time of certification.</p>
          <p>The term "H<sub>min-demonstration</sub>" means the H<sub>min</sub> estimate established from the data gathered in a demonstration flight.</p>
          <p>The term "H<sub>min-calculated</sub>" means the H<sub>min</sub> estimate established from the data gathered in a single spiral.</p>
          <p>The term "H<sub>min-flight</sub>" means the value of the minimum height above ground at which the infra-red line-scanning device configuration may be operated in the case of an observation flight following a demonstration flight.</p>
          <p>The term "measured temperature" of a bar or a region (such as the background) means the average radiant temperature of that bar or region as determined by the procedures described in annex 1.</p>
        </div>
      <p>SECTION II. CALIBRATION TARGETS</p>
        <div class="col-sm-12">
          <p>1. Calibration targets for use in measuring the ground resolution of an infra-red line&#8209;scanning device configuration shall be constructed from rectangular aluminium panels of uniform thickness of at least five millimetres, painted or subjected to some uniform surface treatment. No more than two pieces of aluminium shall be used to construct each bar.</p>
            <div class="col-sm-12">
              <p>(A) A bar group shall consist of three bars with radiant temperature alternating between hot and cold bars.</p>
              <p>(B) Within a bar group, all bars shall have the same length and width and the length to width ratio shall be not less than 4:1 and not more than 5:1.</p>
              <p>(C) A bar group can be constructed in either of two ways. It may be formed by placing two aluminium bars of the same paint or surface treatment on the background, with the background representing the middle bar. Alternately, three aluminium bars may be used, with the middle bar having a different paint or surface treatment. The target shall be placed on a flat, horizontal, and thermally uniform background, where the temperature variations are small within the calibration target region. In order to provide a sufficient range of values of the radiant temperature difference, a thin underlayment may be placed under the outer bars.</p>
              <p>(D) A designated set of bar groups shall consist of three bar groups with bar widths of 40 cm, 50 cm, and 60 cm using the same paint or surface treatment.</p>
              <p>(E) Each bar group in a designated set of bar groups shall be separated from any other neighboring bar group in that set of bar groups by at least one metre and no more than 1.5 metres. Designated sets of bar groups shall be separated by at least one metre. Within the designated set of bar groups, the bars shall be regularly spaced and arranged in an orderly manner.</p>
              <p>(F) A calibration target shall consist of from three to seven designated sets of bar groups with different paint or surface treatments for flight test data and certification and one to seven sets with different paint or surface treatments for a demonstration.</p>
              <p>(G) The arrangement of bar groups within a designated set of bar groups and the arrangement of designated sets of bar groups shall not be changed during any spiral. The physical arrangement of the bar groups shall not be changed between spirals on the same day; however, a designated set of bar groups may be replaced with another set if the physical arrangement is not changed.</p>
            </div>
          <p>2. In addition to the calibration target, additional elements shall be included in the vicinity of the calibration target to provide information about possible image distortion produced by the sensor configuration.</p>
          <p>3. Additional elements may be included in the vicinity of the calibration target to provide information for determining the axis of best resolution of the sensor configuration.</p>
          <p>4. The calibration target and any other test objects shall be laid on the ground not less than two hours before the first pass over the target.</p>
        </div>
      <p>SECTION III. DATA TO BE SUPPLIED BEFORE CERTIFICATION</p>
        <div class="col-sm-12">
          <p>1. The State Party offering an infra-red line-scanning device configuration for certification shall provide a general system description. This description shall include a description of the equivalent scheme of image generation as well as the layout of the individual infra-red sensing elements and a description of their size. In addition, the State Party shall provide technical data or flight test data on the axis that provides the best resolution.</p>
          <p>2. The State Party offering an infra-red line-scanning device configuration for certification shall provide flight test data, describing the performance of the infra-red line&#8209;scanning device configuration from a lower temperature difference, &Delta;t<sub>1</sub>, to a higher temperature difference, &Delta;t<sub>2</sub>. This data should be approximately uniformly distributed between &Delta;t<sub>1</sub> and &Delta;t<sub>2</sub> and approximately uniformly distributed among the 40 cm, 50 cm, and 60 cm bars.</p>
            <div class="col-sm-12">
              <p>(A) The lower temperature difference, &Delta;t<sub>1</sub>, shall be greater than or equal to three degrees Celsius.</p>
              <p>(B) If &Delta;t<sub>2</sub> - &Delta;t<sub>1</sub> < 8 degrees, the State Party shall provide additional flight test data in the region between &Delta;t<sub>2</sub> and &Delta;t<sub>1</sub> + 8 degrees. However, this data shall not be used in the determination of H<sub>min-expected</sub> and is not required to be uniformly distributed. The number of additional data points in this region shall be determined by the State Party conducting the certification.</p>
              <p>(C) The digital images, or high-resolution scans of images of at least 2400 dpi for sensor configurations that record on photographic film, that were used for the establishment of H<sub>min-expected</sub> shall be provided, along with the original radiometer images that provided the temperature measurements. The digital images shall include the full width of the sensor scan and include all calibration targets and those additional elements included under Section II, paragraph 2 of this Decision.</p>
            </div>
          <p>3. The State Party offering the infra-red line-scanning device configuration for certification shall provide flight test data analysed in accordance with the following qualifications:</p>
            <div class="col-sm-12">
              <p>(A) The flight test data shall include at least 16 complete spirals;</p>
              <p>(B) A complete spiral must include at least six values of H<sub>spiral, colour, L</sub> for flight test data and certification, and at least three values of H<sub>spiral, colour, L</sub> for demonstration flights, with at least one value of H<sub>spiral, colour, L</sub> from each of the bar group sizes of 40 cm, 50 cm and 60 cm in the high temperature region of the infra-red line&#8209;scanning device being offered for certification. There is no requirement that every designated set of bar groups provide a value of H<sub>spiral, colour, L</sub> as long as the above requirements are met;</p>
              <p>(C) These flights shall be performed under clear atmospheric daytime conditions. The State Party conducting the flight test shall document the atmospheric conditions in accordance with table 2a of annex 2 to this Decision. If possible, flights shall not begin until at least two hours after local sunrise and shall terminate at least one hour before local sunset;</p>
              <p>(D) Flight test data beyond that required in paragraph 2 may be provided to support the definition of the high temperature region; however, flight test data outside of the range &Delta;t<sub>1</sub> to &Delta;t<sub>2</sub> shall not used to determine the value of H<sub>min&#8209;expected</sub>.</p>
            </div>
          <p>4. The value of H<sub>min</sub> shall be determined for the orientation of the calibration target that provides the best resolution.</p>
        </div>
      <p>SECTION IV. CONDUCT OF A FLIGHT TEST, CERTIFICATION OR DEMONSTRATION FLIGHT</p>
        <div class="col-sm-12">
          <p>1. The State Party offering an infra-red line scanning device configuration for certification shall determine the calibration target temperatures in accordance with annex 1 of this Decision.</p>
          <p>2. If a demonstration flight is requested, the State Party on whose territory the demonstration flight is to be conducted is responsible for providing a calibration target and associated equipment satisfying the requirements of this Decision.</p>
          <p>3. All sensor controls and regulating systems shall be set to achieve the best ground resolution for each sensor configuration to be certified. All flight parameters (as described in annex 2) shall be flown to achieve the best ground resolution during all flight tests, certification and demonstration flights.</p>
          <p>4. The State Party that is offering the sensor for certification, conducting a flight test, or providing the sensor for a demonstration flight shall choose the heights of flight above ground level.</p>
            <div class="col-sm-12">
              <p>(A) The spacing between successive passes shall be no greater than 12.5 per cent of the value of the height above ground of the lower pass.</p>
              <p>(B) The heights above ground level of the spiral shall be chosen in accordance with the technical data of the infra&#8209;red line-scanning device or experimental research in such a manner that all bar groups are resolved at the lowest altitude and none of the bar groups are resolved at the highest altitude of the spiral. This requirement applies to the planning of a spiral and not to the analysis of the data resulting from the spiral. Resolution is defined in Section V, paragraph 4. During a certification, if all 60 cm bar groups are resolved by any group of observers at the height of the highest pass and time permits on the same day of the flight, then the spiral should be repeated, increasing the height of the highest pass.</p>
              <p>(C) If a flight includes more than one spiral, the passes associated with each spiral shall be clearly indicated. If an upward spiral is followed by a downward spiral, then there shall be two passes at the highest height, the first associated with the upward spiral and the second with the downward spiral. If a downward spiral is followed by an upward spiral, then there shall be two passes at the lowest height, the first associated with the downward spiral and the second with the upward spiral.</p>
            </div>
          <pB>5. Annex 2 describes the data that shall be recorded and provided for each pass over the calibration target. The provisions of annex 2 supersede the provisions of Decision Twelve, paragraph 2, for infra-red targets.</p>
        </div>
      <p>SECTION V. ANALYSIS OF DATA COLLECTED DURING A FLIGHT TEST, CERTIFICATION OR DEMONSTRATION FLIGHTS</p>
        <div class="col-sm-12">
          <p>1. The ground resolution of an infra-red line-scanning device configuration shall be determined by visual analysis.</p>
          <p>2. At least ten trained observers shall examine the images of the calibration target for flight test data. For certifications, at least ten trained observers, representing the States Parties taking part in the certification, shall examine the images of the calibration target. The State Party offering a sensor configuration for certification shall have the right to provide a minimum of two of the trained observers at certification. For demonstration flights, unless otherwise agreed, at least ten trained observers, representing the States Parties taking part in the demonstration flight, shall examine the images of the calibration target.</p>
          <p>3. If any height above ground is repeated during a spiral, only one image, the best available image at that height shall be forwarded by the State Party conducting the flight to the observers for visual analysis.</p>
          <p>4. A bar group is resolved by an observer if:</p>
            <div class="col-sm-12">
              <p>(A) The observer can distinguish each of the outer bars from the adjacent background; that is, the observer perceives a visual difference between the grey level on the video display or the density of the photographic film between each outer bar and the adjacent background over the entire length of the bar; and</p>
              <p>(B) The observer can distinguish the middle bar from the outer bars, that is, the observer perceives a visual difference between the grey level on the video display or the density of the photographic film between the middle bar and the outer bars over the entire length of the bars.</p>
            </div>
          <p>5. Calibration target acceptability requirements are as follows:</p>
            <div class="col-sm-12">
              <p>(A) The difference between the average measured temperatures of each of the two outer bars of the bar group being considered shall be no greater than 20 per cent of the temperature difference between the hot and cold bars or one degree Celsius, whichever is greater;</p>
              <p>(B) The difference between the average measured temperatures of each hot and each cold bar must be within the high temperature region of the sensor;</p>
              <p>(C) For bar groups with an aluminium middle bar, the average measured temperature of each outer bar must differ by at least 2&Delta;t<sub>1</sub>/3 from the average measured temperature of the adjacent background. In addition, one of the following conditions must apply:</p>
                <div class="col-sm-12">
                  <p>(1) The absolute value of the measured temperature difference between the middle bar and the background is less than the absolute value of the measured temperature difference between the outer bars and the background; or</p>
                  <p>(2) The sign of the measured temperature difference between the middle bar and the background shall not be the same as the sign of the measured temperature difference between the outer bars and the background.</p>
                </div>
            </div>
          <p>6. Image acceptability criteria are as follows:</p>
            <div class="col-sm-12">
              <p>(A) The image of the calibration target shall be located within 20 degrees of nadir;</p>
              <p>(B) The image of the calibration target shall be orientated within 20 degrees of the orientation that provides the best resolution;</p>
              <p>(C) The image is not acceptable if the sensor exhibits a malfunction that makes proper determination of ground resolution impossible or a malfunction/physical obstruction which reduces ground resolution at the time of the formation of the image. An example of a malfunctioning sensor would be a sensor exhibiting "image doubling";</p>
              <p>(D) Geometrical distortion of less than 20 per cent will be deemed to have no effect on resolution.</p>
            </div>
          <p>7. Visual analysis shall be performed on one image for each altitude flown over the calibration target for each spiral.</p>
          <p>8. An observer bar group resolution altitude, H<sub>observer, spiral, colour, L</sub> cannot be assigned to an observer if:</p>
            <div class="col-sm-12">
              <p>(A) That observer never resolves that bar group for any height flown in the spiral;</span></p>
              <p>(B) That observer resolves that bar group at the highest height flown in the spiral;</span></p>
              <p>(C) There is no pass higher than the highest pass at which that observer resolves that bar group which satisfies the target acceptability requirements of paragraph 5 and the image acceptability requirements of paragraph 6.</p>
            </div>
          <p>9. The value  H<sub>observer, spiral, colour, L</sub>, assigned to an observer is the average of: the highest resolved height as determined by the visual analysis and the first unresolved height higher than the highest resolved height that satisfies the target acceptability requirements of paragraph 5 and the image acceptability requirements of paragraph 6.</p>
          <p>10. If the number of observers that have an assigned H<sub>observer, spiral, colour, L</sub> is greater than or equal to 80 per cent of the number of observers, then H<sub>spiral, colour, L</sub>, shall be the average of the values H<sub>observer, spiral, colour, L</sub>. Otherwise, H<sub>spiral, colour, L</sub>, is not defined for that bar group.</p>
          <p>11. The value, H<sub>min-calculated</sub>, associated with a spiral is determined by:</p>
          <p>H<sub>min-calculated<</sub> = (1/N) S H<sub>spiral, colour, L</sub> L<sub>a</sub>/L, where L is the corresponding bar width, and N is the number of values H<sub>spiral, colour, L</sub> available in the spiral.</p>
          <p>12. H<sub>min-expected</sub> shall be calculated by averaging the values of H<sub>min-calculated</sub> from each of the different spirals provided in the pre-certification flight test data.</p>
          <p>13. H<sub>min-at-certification</sub> shall be calculated by averaging the values of H<sub>min-calculated</sub> from each of the different spirals provided by the in-flight examination.</span></p>
          <p>14. H<sub>min-demonstration</sub> shall be calculated by averaging the values of H<sub>min-calculated</sub> from each of the different spirals provided in the demonstration flight data.</p>
          <p>15. The procedures in this Decision shall be acceptable for infra-red line-scanning devices recording images on any medium.</p>
          <p>16. In the case of data collected on photographic film.</p>
            <div class="col-sm-12">
              <p>(A) Prior to the analysis of data collected during a flight test, certification or demonstration flight, the film processing equipment shall be calibrated according to the procedures specified in Annex K, Section II to the Treaty on Open Skies.</p>
              <p>(B) The height above ground for each pass at which each bar group of the calibration target was resolved (and not resolved) shall be determined from a visual analysis of the original film.</p>
            </div>
          <p>17. Specifications of procedures for performing visual analysis of digital imagery shall be defined in a future OSCC Decision (Decision on Digital Image Processing) and Revision One to Decision Sixteen.</p>
          <p>18. For each configuration to be certified, the in-flight examination shall consist of at least four complete spirals, unless prevented by <i>force majeure</i>, in which case it shall consist of at least one complete spiral as defined in Section III, paragraph 3.</p>
          <p>19. There shall be at least one complete spiral as defined in Section III, paragraph 3, accomplished at a demonstration flight, unless otherwise agreed.</p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>A State Party wishing to use a form of infra-red calibration target other than that described in Section II (such as active targets or calibration targets with different dimensions) may present to the OSCC for approval an appropriate calibration target design, H<sub>min</sub> methodology, and supporting data in the form of a proposed annex to this Decision.</p>
      <p>The procedures in this decision shall be acceptable for any IRLS operating between 7.0 and 15 microns. The procedures herein are considered also acceptable for infra-red line&#8209;scanning devices operating as low as 3.0 microns if the State Party certifying such an IRLS presents data in their Flight Test Database (additional to that data specified in Section III) sufficient to verify reasonable performance in the shorter wavelengths (3.0 to 7.0 microns). A State Party wishing to certify an infra-red line-scanning device which operates in a range of wavelengths outside the 3.0 to 15.0 micron region shall present data to the OSCC demonstrating that the calibration target and methodology of this Decision are applicable, or provide an alternative calibration target design, corresponding methodology and supporting data in the form of a proposed annex to this Decision.</p>
      <p>This Decision shall enter into force immediately. It shall remain in force until 31 December 2010. The State Parties shall, within the Open Skies Consultative Commission and during the period this Decision is in force, conclude a follow-on agreement on the determination of minimum height above ground at which an infra-red line-scanning device configuration may be operated, which shall enter into force upon the expiration of this Decision.</p>
      <p>Decided in  Vienna, in the Open Skies Consultative Commission, on 17 September 2007, in each of the languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<br/>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a name="to4/07.1" href="#4/07">Back to Decision 4/07</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/4/07
      <br/>17 September 2007
      <br/>Annex 1</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>GROUND MEASUREMENTS OF TARGET TEMPERATURES WITH AN IMAGING RADIOMETER</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>1. An imaging radiometer with a minimum of 160 x 120 pixels shall be used for measuring target temperatures.</p>
      <p>2. Radiometer images shall be taken at least every 60 seconds starting 15 minutes before the first pass of the first spiral and continue until five minutes after the last pass of the last spiral.</p>
      <p>3. Radiometer images shall be used to measure the radiant temperature of each bar of the target.</p>
      <p>4. Radiometer images shall be used to show that there are no obvious distortions or temperature gradients within the images of the bars.</p>
      <p>5. The area of the bar used for calculating the temperature shall contain as much of the bar as practical excluding the pixels closest to the edge of the bar and include a minimum total of ten pixels for each bar of the target.</p>
      <p>6. The radiometer shall be mounted above the infrared target at a height in such a way that the line of sight angle of any group of bars of the test object would not exceed 45 degrees as opposed to the vertical when measured.</p>
      <p>7. The combination of the radiometer and lens used to make radiant temperature measurements shall have a current "certificate of calibration" based on the radiometer manufacturer's recommendation. If multiple radiometers are used to measure target temperatures, a cross calibration shall be accomplished before and after each day's flying activities. Any biases shall be noted in the data package provided with the radiometer data.</p>
      <p>8. The radiometer used to measure target temperatures shall be in focus and operate in approximately the same region of the infrared spectrum as the IRLS being evaluated.</p>
    </div>
  </div>

<br/>
<!-- Annex 2 -->

<div class="row">
  <div class="col-sm-2">
      <p align="left"><a name="to4/07.2" href="#4/07">Back to Decision 4/07</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/4/07
      <br/>17 September 2007
      <br/>Annex 2</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DATA TO BE PROVIDED FOR FLIGHT TESTS CERTIFICATION AND DEMONSTRATION FLIGHTS</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>1. This annex contains example logs used to record various data to be collected during flight tests, certification, and demonstration flights. These include the various tests, processing and analyses used to calculate H<sub>min</sub> and to verify image acceptability and to record the atmospheric conditions. These forms may be tailored for specific aircraft, sensors and/or operational configurations. Electronic versions of these logs are available on the OSCE secure website.</p>
      <p>2. Table 1 is an example of a table that records the actual aircraft flight parameters such as the altitude above ground level, airspeed, aircraft attitude, etc. This data should be recorded once per pass, as close as possible to when the test target is being imaged. If more precise data is obtained electronically, this may be substituted for the manual form after flight.</p>
      <p>3. Table 2a is an example of a table that records weather data at the target site. Data shall be recorded at least once per hour.</p>
      <p>Table 2b is used to provide information on the shadows over each target group. These shadows may be caused by clouds, the device used to mount the temperature measuring device, or imaging or mapping radiometer (boom or bucket truck), or some other condition.</p>
      <p>Figures 2c, 2d, and 2e are examples of target layout description diagrams, which are used to identify the names of each bar group, location of the weather station, direction of flight, true heading (orientation) of the target layout, and other descriptors of relevance. To further describe the target area, colour photos of the target array shall be taken from a boom at least once per day and at least once for each change in target configuration. The names used for the bar groups in these figures shall be applied consistently through the data documentation.</p>
      <p>4. Table 3 will be the record of target temperature data from the imaging radiometer. For automatic recording imaging systems, the target data will be collected at least every 60 seconds in the native format of the imaging radiometer. Imagery from the radiometric device shall be made available to all inspectors. The columns for measurements of the background near the outer bars are only required for those calibration targets using an aluminium middle bar.</p>
      <p>5. Table 4 is used to record distortion measurements and target location parameters derived from images of the target for each pass of the sensor over the calibration target.</p>
      <p>6. Table 5 is used to record film processing parameters, which are provided for each roll of imagery processed.</p>
      <p>7. Table 6 is used to record visual analysis of the imagery and a summary of image acceptability and target acceptability.</p>
      <p>8. Table 7 shows the parameters and results of the H<sub>min</sub> calculations.</p>
      <p>9. Certifying States Parties are encouraged to use these standardized forms and to provide the filled in forms in both hardcopy and electronic format, however, additional fields should be added if they provide important data relevant to the sensor configuration being certified or tested. As it may become desirable to automate the analysis of this data at some point, State Parties are further encouraged to not delete unused fields from this form, but to merely leave these blank</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm- 12 text-center">
      <p><a href="../PDFs/Decision4-07-Annex2.pdf" target="_blank"> Click to view Annex 2 with Tables and Pictures</a></p>
    </div>
  </div>

<br/>
<!-- Annex 3 -->

  <div class="row">
    <div class="col-sm-2">
      <p><a name="to4/07.3" href="#4/07">Back to Decision 4/07</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/4/07
      <br/>17 September 2007
      <br/>Annex 3</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>ESTABLISHING THE HIGH TEMPERATURE REGION</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The State Party shall provide a graph showing all of the provided flight test data, including any measurement pairs outside of the high temperature region, as a function of the temperature difference as measured on the ground as well as an Excel spread sheet representing the data graphed. The data shall include separate entries for each spiral, each target, each bar group size, and each observer included in the flight test data. See example given in figure A3.1 and table A3.1. Table A3.1 may include data from all values of temperature and whether or not the specific data satisfies all the criteria of Section V, paragraphs 4 and 5, and from both successful and unsuccessful spirals.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <img width=401 height=241 src="../img/dec_4_7_A3_1_graph.gif" class="img-responsive" />
      <p>Figure A3.1 Flight Test Data</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>Table A3.1 Flight Test Data</p>
    </div>
  </div>
<div class="row">
  <div class="col table-responsive">
    <table class="table table-striped">
        <tr>
          <td><b>&Delta;T</b></td>
          <td><b>H La/L</b></td>
          <td><b>Observer</b></td>
          <td><b>bar</b></td>
          <td><b>Target Name</b></td>
          <td><b>Spiral File Name</b></td>
        </tr>
        <tr>
          <td>10.95</td>
          <td>4125</td>
          <td>Igor</td>
          <td>40</td>
          <td>GEBKC</td>
          <td>File 1</td>
        </tr>
        <tr>
          <td>9.60</td>
          <td>3000</td>
          <td>Mark</td>
          <td>40</td>
          <td>GEBKC</td>
          <td>File 1</td>
        </tr>
        <tr>
          <td>9.60</td>
          <td>3000</td>
          <td>Abraham</td>
          <td>40</td>
          <td>GEBKC</td>
          <td>File 1</td>
        </tr>
        <tr>
          <td>8.85</td>
          <td>2250</td>
          <td>John</td>
          <td>40</td>
          <td>GEDGC</td>
          <td>File 1</td>
        </tr>
        <tr>
          <td>9.15</td>
          <td>2500</td>
          <td>James</td>
          <td>40</td>
          <td>GEDGC</td>
          <td>File 1</td>
        </tr>
        <tr>
          <td>9.60</td>
          <td>3000</td>
          <td>Ivan</td>
          <td>40</td>
          <td>GEDGC</td>
          <td>File 1</td>
        </tr>
        <tr>
          <td>9.30</td>
          <td>2750</td>
          <td>Paul</td>
          <td>40</td>
          <td>GEBKC</td>
          <td>Files 2</td>
        </tr>
        <tr>
          <td>9.15</td>
          <td>2500</td>
          <td>Junia</td>
          <td>40</td>
          <td>GEBKC</td>
          <td>File 2</td>
        </tr>
        <tr>
          <td>9.15</td>
          <td>2500</td>
          <td>Priscilla<</td>
          <td>40</td>
          <td>GELGC</td>
          <td>Files 2</td>
        </tr>
        <tr>
          <td>9.15</td>
          <td>2500</td>
          <td>Timothy</td>
          <td>40</td>
          <td>GELGC</td>
          <td>Files 2</td>
        </tr>
        <tr>
          <td>11.25</td>
          <td>3000</td>
          <td>Rebekah</td>
          <td>50</td>
          <td>GEBKC</td>
          <td>Files 3</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Second, given a specific value of &Delta;t<sub>2</sub>, the State Party shall provide a graph showing the value of H<sub>min-expected</sub>(&Delta;t<sub>1</sub>)as a function of different choices of &Delta;t<sub>1</sub>. See the example given in figure A3.2. If necessary, several graphs for differing values of &Delta;t<sub>2</sub> should be given.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><img width=351 height=240 src="../img/dec_4_7_A3_2_graph.gif" class="img-responsive" /></p>
      <p>Figure A3.2 H<sub>min</sub> value as a function of choice of &Delta;t<sub>1</sub></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The State Party may include other graphs and analysis to support the specification of the high temperature region. Several examples are described below.</p>
      <p>Given a specific value of &Delta;t<sub>2</sub>, a linear fit may be made for each possible choice of &Delta;t<sub>1</sub>. This provides a value of the slope of the regression line, m(&Delta;t<sub>1</sub>) and an R<sup>2</sup> coefficient, R<sup>2</sup> (&Delta;t<sub>1</sub>). The State Party may provide a graph of R<sup>2</sup> (&Delta;t<sub>1</sub>) as a function of different choices of &Delta;t<sub>1</sub>. See the example given in figure A3.3.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><img width=377 height=241 src="../img/dec_4_7_A3_3_graph.gif" class="img-responsive" /></p>
      <p>Figure A3.3 R<sup>2</sup> value versus &Delta;t<sub>1</sub></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>As another example, the State Party may provide a graph showing the projected H<sub>min</sub> trend ratio |m(&Delta;t<sub>1</sub>)*(&Delta;t<sub>2</sub> - &Delta;t<sub>1</sub> )/H<sub>min-expected</sub>(&Delta;t<sub>1</sub>)| as a function of different choices of &Delta;t<sub>1</sub>. See the example given in figure A3.4.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><img width=414 height=240 src="../img/dec_4_7_A3_4_graph.gif" class="img-responsive" /></p>
      <p align=center>Figure A3.4 |m(&Delta;t<sub>1</sub>)*(&Delta;t<sub>2</sub> - &Delta;t<sub>1</sub>)/H<sub>min-expected</sub>(&Delta;t<sub>1</sub>)| versus &Delta;t<sub>1</sub></p>
    </div>
  </div>

<hr>
