<!-- DECISION 9/07 -->
<div id="decision_8_7"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top"> Back to Decisions List </a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/9/07
      <br>10 December 2007
      <br>OSCC+
      <br>Original: ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>4th Meeting of the 44th Session</strong> <br>OSCC(44) Journal No. 138, Agenda item 4 </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong> DECISION No. 9/07 <br>AMENDMENT ONE TO REVISION FOUR OF DECISION NUMBER ONE TO THE TREATY ON OPEN SKIES</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>1. Due to a general rise in costs in the OSCE area since 2002, the Open Skies Consultative Commission has decided to review the maximum daily per person sum, reimbursed by the States Parties for meals and accommodation, provided to their representatives during certifications and observation flights and to amend Revision Four of Decision Number One to the Treaty on Open Skies, Section V, paragraph 2, subparagraphs (A) and (B) of 17 September 2007, to read as follows:</p>
        <div class="col-sm-12">
          <p>(A) Travel expenses for representatives of the States Parties at the certification process, as well as costs for their meals and accommodation up to the equivalent of EUR 150 per person per day shall be met by the State Party, which they represent.</p>
          <p>(B) Unless otherwise agreed, the observed Party shall, charge costs of no more than the equivalent of EUR 150 in a convertible currency per person per day for meals and accommodation provided to the personnel of the observing Party. In the event multiple occupancy accommodations are provided, the rate shall be reduced to 80 per cent of this amount for those personnel provided such accommodations.</p>
        </div>
      <p>2. Accommodation referred to in 1 (A) and (B) above, should be based on a single occupancy room in a hotel or another facility regularly involved in providing such services. The level of service in the place of accommodation should be at least the equivalent of a 3 star hotel according to customary classification of that State and located no further than 60 km from the Open Skies airfield or entry/exit point being used by the observing Party. On the basis of normal traffic conditions, the transfer between the hotel and Open Skies airfield should normally not exceed 1 hour.</p>
      <p>3. The maximum daily per person sum, reimbursed by the observing Party for meals and accommodation provided to its personnel during certifications and observation flights, shall be reviewed every two years from the date of this Decision.</p>
      <p>4. When reviewing the maximum daily per person sum, reimbursed for meals and accommodation provided to the observing Party's personnel, the States Parties will proceed from the understanding that the observed Party is obliged to meet the costs, relating to participation in preparing and conducting an observation flight over its territory, incurred by its own personnel.</p>
      <p>5. This decision shall enter into force on 1 January 2008 and supersedes OSCC Decision No. 7/02 of 18 March 2002 and OSCC Decision No. 11/02 of 10 June 2002.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 10 December 2007 in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
