<!-- DECISION 4/05 -->
<div id="decision_4_5"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/4/05
      <br/>23 May 2005
      <br/>OSCC+</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>2nd Meeting of the 37th Session</strong> <br>OSCC(37) Journal No. 111, Agenda item 3(d)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 4/05 <br>REVISION OF THE OSCC SCALE OF DISTRIBUTION <br>DUE TO THE ACCESSION OF ESTONIA</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>The Open Skies Consultative Commission (OSCC),</p>
        <div class="col-sm-12">
          <p>1. Pursuant to the provisions of paragraph 4 &#40;D&#41; of Article X and paragraph 9 of Section I of Annex L of the Treaty on Open Skies, OSCC/III/Dec.10 of 16 July 1993 and Section 5 of OSCC.DEC/8/02/Rev.1 of 22 April 2002, </p>
          <p>2. Further to the deposit of Estonia&rsquo;s instrument of accession on 24 March 2005, which makes Estonia liable for OSCC costs sixty days after that date, effective at the beginning of the next OSCE budget quarter following OSCC agreement on the redistribution of costs,</p>
        </div>
      <p>Decides to redistribute OSCC costs and agrees on the following scale of distribution for the common expenses associated with the operation of the OSCC, which shall be effective as of 1 July 2005 &#40;in percentages&#41;:</p>
    </div>
  </div>
<div class="row">
  <div class="col table-responsive">
    <table class="table table-striped">
        <tr>
          <td>France</td>
          <td>10.057</td>
        </tr>
        <tr>
          <td>Germany</td>
          <td>10.057</td>
        </tr>
        <tr>
          <td>Italy</td>
          <td>10.057</td>
        </tr>
        <tr>
          <td>United Kingdom</td>
          <td>10.057</td>
        </tr>
        <tr>
          <td>United States of America</td>
          <td>9.946</td>
        </tr>
        <tr>
          <td>Russian Federation</td>
          <td>9.050</td>
        </tr>
        <tr>
          <td>Canada</td>
          <td>6.023</td>
        </tr>
        <tr>
          <td>Spain</td>
          <td>4.421</td>
        </tr>
        <tr>
          <td>Netherlands</td>
          <td>4.200</td>
        </tr>
        <tr>
          <td>Belgium</td>
          <td>3.923</td>
        </tr>
        <tr>
          <td>Sweden</td>
          <td>3.923</td>
        </tr>
        <tr>
          <td>Norway</td>
          <td>2.487</td>
        </tr>
        <tr>
          <td>Denmark</td>
          <td>2.265</td>
        </tr>
        <tr>
          <td>Finland</td>
          <td>2.265</td>
        </tr>
        <tr>
          <td>Poland</td>
          <td>1.547</td>
        </tr>
        <tr>
          <td>Turkey</td>
          <td>1.105</td>
        </tr>
        <tr>
          <td>Ukraine</td>
          <td>0.970</td>
        </tr>
        <tr>
          <td>Greece</td>
          <td>0.939</td>
        </tr>
        <tr>
          <td>Portugal</td>
          <td>0.939</td>
        </tr>
        <tr>
          <td>Hungary</td>
          <td>0.774</td>
        </tr>
        <tr>
          <td>Romania</td>
          <td>0.774</td>
        </tr>
        <tr>
          <td>Czech Republic</td>
          <td>0.740</td>
        </tr>
        <tr>
          <td>Bulgaria</td>
          <td>0.608</td>
        </tr>
        <tr>
          <td>Luxembourg</td>
          <td>0.608</td>
        </tr>
        <tr>
          <td>Belarus</td>
          <td>0.520</td>
        </tr>
        <tr>
          <td>Slovakia</td>
          <td>0.365</td>
        </tr>
        <tr>
          <td>Bosnia and Herzegovina</td>
          <td>0.210</td>
        </tr>
        <tr>
          <td>Croatia</td>
          <td>0.210</td>
        <tr>
          <td>Estonia</td>
          <td>0.210</td>
        </tr>
        <tr>
          <td>Iceland</td>
          <td>0.210</td>
        </tr>
        <tr>
          <td>Latvia</td>
          <td>0.210</td>
        </tr>
        <tr>
          <td>Slovenia</td>
          <td>0.210</td>
        </tr>
        <tr>
          <td>Georgia</td>
          <td>0.120</td>
        </tr>
        <tr>
          <td>Total</td>
          <td>100.000</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 23 May 2005, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
