<!-- DECISION 1/05 -->
<div id="decision_1_5"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/1/05
      <br/>31 January 2005</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>1st Meeting of the 36th Session</strong> <br>OSCC(36) Journal No. 108, Agenda item 3(c)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong> DECISION No. 1/05 <br>WORK PROGRAMME OF THE INFORMAL WORKING GROUP <br>ON SENSORS</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>In accordance with the OSCC Decision of 29 October 2001, the OSCC decides that the Informal Working Group on Sensors (IWGS) will resume its work during the 36th Session of the OSCC under the United States Chairmanship with the following work programme:</p>
        <div class="col-sm-12">
          <p>&mdash; OSCC Decisions Nos. 14 and 15 (12 October 1994) contain review clauses requiring action prior to the end of 2005. Decisions Nos. 14 and 15 shall remain in force during the period from entry into force of the Treaty until 31 December of the third year following the year during which entry into force takes place. While these Decisions remain in effect, States Parties need to reach subsequent agreements on determining the minimum height above ground level at which video cameras with real time display and infrared line-scanning devices may be operated. Thus, the OSCC should adopt new Decisions that will enter into force at the time Decisions Nos. 14 and 15 become invalid;</p>
          <p>&mdash; OSCC Decision No. 17 (12 October 1994) on the format in which data is to be recorded and exchanged on recording media other than photographic film also requires review prior to 31 December 2005. The OSCC will review the list of agreed formats with a view to making additions and/or deletions to the list of agreed formats. In conjunction with review of Decision No. 17, the OSCC should also review the Draft Decision on Standardization of Logical Formats for Digital Data Exchange, previously tabled in November 1996.</p>
        </div>
      <p>Other issues may be addressed in conjunction with these topics as required and agreed by the IWGS.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p> Decided in Vienna, in the Open Skies Consultative Commission, on 31 January 2005, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
