<!-- DECISION 6/05 -->
<div id="decision_6_5"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/6/05
      <br/>13 June 2005
      <br/>OSCC+
      <br/>Original: ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>3rd Meeting of the 37th Session</strong> <br>OSCC(37) Journal No. 112, Agenda item 3(b)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 6/05 <br>REVISION SEVEN OF DECISION No. 6/02 <br>TO THE TREATY ON OPEN SKIES</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p> In accordance with Decision No. 6/02 of 18 February 2002, and in particular with paragraph 6 thereof, and in accordance with Decision No. 8/02/Rev.1, Section 6, the Open Skies Consultative Commission has decided to revise and adopt the attached Annex to reflect the allocation of Observation Flight Reference Numbers for the Republic of Lithuania.</p>
      <p> This decision shall enter into force upon entry into force of the Treaty on Open Skies for the Republic of Lithuania and shall have the same duration as the Treaty.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p> * * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p> Decided in Vienna, in the Open Skies Consultative Commission, on 13 June 2005, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
<!--6-05 Annex-->

  <div class="row">
    <div class="col-sm-2 col-sm-offset-10">
      <p align="right">OSCC.DEC/6/05
      <br/>13 June 2005
      <br/>Annex</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>OPEN SKIES OBSERVATION FLIGHT REFERENCE NUMBERS</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <td>STATE PARTY</td>
          <td>FULL <br>PASSIVE QUOTA</td>
          <td>75% <br>PASSIVE QUOTA</td>
          <td>min 25% <br>BUT not < 2</td>
          <td>OBSERVATION FLIGHT <br>REFERENCE NUMBER</td>
          <td>TRAINING FLIGHT <brREFERENCE NUMBER</td>
        </tr>
        <tr>
          <td>Russian Federation (RU)/ <br>Belarus (BY) Group of <br>States Parties</td>
          <td>42</td>
          <td>31</td>
          <td>53</td>
          <td>001 - 053</td>
          <td>501 - 553</td>
        </tr>
        <tr>
          <td>Germany (DE)</td>
          <td>12</td>
          <td>9</td>
          <td>15</td>
          <td>054 - 068</td>
          <td>554 - 568</td>
        </tr>
        <tr>
          <td>United States of America (US)</td>
          <td>42</td>
          <td>31</td>
          <td>53</td>
          <td>069 - 121</td>
          <td>569 - 621</td>
        </tr>
        </thead>
        <tr>
          <td>Benelux (BX)</td>
          <td>6</td>
          <td>4</td>
          <td>8</td>
          <td>122 - 129</td>
          <td>622 - 629</td>
        </tr>
        <tr>
          <td>Bulgaria (BG)</td>
          <td>4</td>
          <td>3</td>
          <td>6</td>
          <td>130 - 135</td>
          <td>630 - 635</td>
        </tr>
        <tr>
          <td>Canada (CA)</td>
          <td>12</td>
          <td>9</td>
          <td>15</td>
          <td>136 - 150</td>
          <td>636 - 650</td>
        </tr>
        <tr>
          <td>Denmark (DK)</td>
          <td>6</td>
          <td>4</td>
          <td>8</td>
          <td>151 - 158</td>
          <td>651 - 658</td>
        </tr>
        <tr>
          <td>Spain (ES)</td>
          <td>4</td>
          <td>3</td>
          <td>6</td>
          <td>159 - 164</td>
          <td>659 - 664</td>
        </tr>
        <tr>
          <td>France (FR)</td>
          <td>12</td>
          <td>9</td>
          <td>15</td>
          <td>165 - 179</td>
          <td>665 - 679</td>
        </tr>
        <tr>
          <td>Georgia (GE)</td>
          <td>4</td>
          <td>3</td>
          <td>6</td>
          <td>180 - 185</td>
          <td>680 - 685</td>
        </tr>
        <tr>
          <td>United Kingdom (GB)</td>
          <td>12</td>
          <td>9</td>
          <td>15</td>
          <td>186 - 200</td>
          <td>686 - 700</td>
        </tr>
        <tr>
          <td>Greece (GR)</td>
          <td>4</td>
          <td>3</td>
          <td>6</td>
          <td>201 - 206</td>
          <td>701 - 706</td>
        </tr>
        <tr>
          <td>Hungary (HU)</td>
          <td>4</td>
          <td>3</td>
          <td>6</td>
          <td>207 - 212</td>
          <td>707 - 712</td>
        </tr>
        <tr>
          <td>Iceland (IS)</td>
          <td>4</td>
          <td>3</td>
          <td>6</td>
          <td>213 - 218</td>
          <td>713 - 718</td>
        </tr>
        <tr>
          <td>Italy (IT)</td>
          <td>12</td>
          <td>9</td>
          <td>15</td>
          <td>219 - 233</td>
          <td>719 - 733</td>
        </tr>
        <tr>
        <td colspan="6" align="center">*</td>
        </tr>
        <tr>
          <td>Norway (NO)</td>
          <td>7</td>
          <td>5</td>
          <td>9</td>
          <td>240 - 248</td>
          <td>740 - 748</td>
        </tr>
        <tr>
          <td>Poland (PL)</td>
          <td>6</td>
          <td>4</td>
          <td>8</td>
          <td>249 - 256</td>
          <td>749 - 756</td>
        </tr>
        <tr>
          <td>Portugal (PT)</td>
          <td>2</td>
          <td>1</td>
          <td>4</td>
          <td>257 - 260</td>
          <td>757 - 760</td>
        </tr>
        <tr>
          <td>Romania (RO)</td>
          <td>6</td>
          <td>4</td>
          <td>8</td>
          <td>261 - 268</td>
          <td>761 - 768</td>
        </tr>
        <tr>
          <td>Slovak Republic (SK)</td>
          <td>4</td>
          <td>3</td>
          <td>6</td>
          <td>269 - 274</td>
          <td>769 - 774</td>
        </tr>
        <tr>
          <td>Czech Republic (CZ)</td>
          <td>4</td>
          <td>3</td>
          <td>6</td>
          <td>275 - 280</td>
          <td>775 - 780</td>
        </tr>
        <tr>
          <td>Turkey (TR)</td>
          <td>12</td>
          <td>9</td>
          <td>15</td>
          <td>281 - 295</td>
          <td>781 - 795</td>
        </tr>
        <tr>
          <td>Ukraine (UA)</td>
          <td>12</td>
          <td>9</td>
          <td>15</td>
          <td>296 - 310</td>
          <td>796 - 810</td>
        </tr>
        <tr>
          <td>Sweden (SE)</td>
          <td>7</td>
          <td>5</td>
          <td>9</td>
          <td>311 - 319</td>
          <td>811 - 819</td>
        </tr>
        <tr>
          <td>Finland (FI)</td>
          <td>5</td>
          <td>3</td>
          <td>7</td>
          <td>320 - 326</td>
          <td>820 - 826</td>
        </tr>
        <tr>
          <td>Latvia (LV)</td>
          <td>4</td>
          <td>3</td>
          <td>6</td>
          <td>327 - 332</td>
          <td>827 - 832</td>
        </tr>
        <tr>
          <td>Bosnia and Herzegovina (BA)</td>
          <td>4</td>
          <td>3</td>
          <td>6</td>
          <td>333 - 338</td>
          <td>833 - 838</td>
        </tr>
        <tr>
          <td>Slovenia (SI)</td>
          <td>4</td>
          <td>3</td>
          <td>6</td>
          <td>339 - 344</td>
          <td>839 - 844</td>
        </tr>
        <tr>
          <td>Republic of Croatia (HR)</td>
          <td>4</td>
          <td>3</td>
          <td>6</td>
          <td>345 - 350</td>
          <td>845 - 850</td>
        </tr>
        <tr>
          <td>Republic of Lithuania (LT)</td>
          <td>4</td>
          <td>3</td>
          <td>6</td>
          <td>351 - 356</td>
          <td>851 - 856</td>
        </tr>
        <tr>
          <td>Acceding State</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* The Kyrgyz Republic is removed from the list since it is not a State Party to the Treaty</p>
      <p>&#40;Effective date will be amended, as per paragraph 6, with each additional allocation.&#41;</p>
    </div>
  </div>

<hr>
