<!-- DECISION 2/05 -->
<div id="decision_2_5"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/2/05
      <br/>31 January 2005</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p align="left"><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <p align="left"><strong>1st Meeting of the 36th Session</strong> <br>OSCC(36) Journal No. 108, Agenda item 3(d)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 2/05 <br>ON THE CONDUCT OF TRANSIT FLIGHTS AND FLIGHTS TO <br>THE POINT OF ENTRY AND FROM THE POINT OF EXIT</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>For the purpose of exercising the rights granted to an observing Party under the Treaty and implementing the obligations of the States Parties envisaged by the provisions of Article VII of the Treaty,</p>
      <p>Considering the practical experience of conducting transit and observation flights gained during the implementation of the Treaty,</p>
      <p>Recognizing the necessity for refueling and overnight stops during certain transit flights and flights over an observed Party en route to a point of entry or departing from a point of exit,</p>
      <p>Desiring to supplement the provisions of OSCC Decision Number One, the Open Skies Consultative Commission decides as follows:</p>
        <div class="col-sm-12">
          <p>1. Each State Party shall, if requested by another State Party, within 30 days designate at least one transit airfield for landing in the course of transit flights provided for by Article VII, paragraph 3 of the Treaty, and notify all other States Parties by means of an OSF 26 notification in the remarks section;</p>
          <p>2. Each State Party shall have the right to change its designated transit airfield(s) notifying all other States Parties of such changes no later than 30 days before such changes become effective;</p>
          <p>3. Transit airfields may coincide with the POE, Open Skies airfields and refueling airfields designated by a State Party;</p>
          <p>4. States Parties shall notify, in accordance with paragraph 2 of Article VII of the Treaty, plans for refuelling transit stops using the OSF 16 notification and, if an overnight stop is required, shall so indicate in the remarks section of the OSF 16. Nothing in this Decision precludes voluntary informal consultations between transiting and transited States Parties that result in advance notice in excess of that required by this Decision and States Parties are encouraged to do so when circumstances increase the difficulty of securing adequate accommodations consistent with the requirements of the transiting Party.</p>
          <p>The OSF 16 notification shall indicate the transit airfield, date and estimated time of arrival and departure of the observation/transport aircraft and the amount of fuel required and, if an overnight stop has been indicated in the remarks section, the notification shall also indicate the necessity for accommodation and meals, the number of rooms to be booked as well as all other relevant information.</p>
          <p>For the purpose of providing assistance to the transiting Party during the refuelling transit stops, the transited Party shall have the right to designate an escort team. The transiting Party shall be responsible for the costs of accommodations and meals of not more than two members of the escort team;</p>
          <p>5. The OSCC recommends that the transiting Party reach bilateral agreement(s) with the relevant State Party that is requested to provide transit airfield services. Such bilateral agreements should include the following: the date of arrival and departure of the observation/transport aircraft, the method of payment by the transiting Party for goods and services, the prices for the provided fuel, meals and accommodation for the personnel of the transiting Party and the escort team designated in accordance with paragraph 4 of this Decision, as well as the procedure for reimbursement of expenses for the rooms booked for the accommodation of the personnel of the transiting Party and the escort team in case of cancellation of the transit stop. A State Party may notify the minimum number of days required in order to prepare appropriate services in case an overnight stop is necessary. In case the transiting Party requests an overnight stop later than the minimum number of days before the overnight stop, notified by the transited State Party, the latter shall not be responsible for the provision of accommodation and meals for the personnel of the transiting Party for such an overnight stop.</p>
          <p>In cases where no bilateral agreement exists, the transited State Party shall set the method of payment for goods and services, meals, and accommodations: delayed payment, cash or credit card.</p>
          <p>The prices for goods and services, meals, and accommodations, whether established by agreement or by the transited State Party in the absence of agreement, shall be established in accordance with the mechanism for establishing prices contained in OSCC Decision Number One or in accordance with commercial prices at the time when the goods and services are provided;</p>
          <p>6. The operational limit of some observation/transport aircraft will require that the observing Party make a stop in the course of conducting the flight from the border of the observed Party to the point of entry when arriving and from the point of exit to the border of the observed Party when departing. A State Party shall, within 30 days of a request by another State Party, designate one or more airfields for making such stops and notify all other States Parties by means of an OSF 26 notification in the remarks section. These airfields may coincide with the POE, Open Skies airfields and refueling airfields designated by the States Parties.</p>
          <p>A State Party shall have the right to change these designated airfield(s) by notifying all other States Parties of such changes no later than 30 days before such changes become effective;</p>
          <p>7. For the purpose of providing assistance to the observing Party in the conduct of flights in accordance with paragraph 6 of this Decision the observed Party shall have the right to designate an escort team. The observing State Party shall be responsible for the costs of accommodations and meals of not more than four members of the escort team;</p>
          <p>8. The conduct of stops in accordance with paragraph 6 of this Decision shall be made on the basis of notification, accomplished by means of a notation in the "Remarks" section of the OSF 12 notification used to notify the observation flight. State Parties are encouraged to reach prior agreement regarding the use of airfields designated pursuant to paragraph 6 of this Decision. Such agreements should include the date of arrival and departure of the observation or transport aircraft, the amount of fuel required, method of payment by the observing Party for goods and services either by delayed payment or in cash or by credit card, the prices for the provided fuel, meals and accommodations for the personnel of the observing Party and the escort team designated in accordance with paragraph 7 of this Decision, as well as a procedure for reimbursement of expenses for the hotel rooms booked for the accommodation of the personnel of the observing Party and the escort team in cases where the stop is cancelled. A State Party may notify the minimum number of days required in order to prepare appropriate services in case an overnight stop is necessary. In case the observing Party requests an overnight stop later than the minimum number of days before the overnight stop, notified by the observed State Party, the latter shall not be responsible for the provision of accommodation and meals for the personnel of the observing Party for such an overnight stop.</p>
          <p>In cases where no bilateral agreement exists, the observed State Party shall set the method of payment for goods and services, meals, and accommodations: delayed payment, cash or credit card.</p>
          <p>The prices for goods and services, meals, and accommodations, whether established by agreement or by the observed Party in the absence of agreement, shall be established in accordance with the mechanism for establishing prices contained in OSCC Decision Number One or in accordance with commercial prices at the time when the goods and services are provided;</p>
          <p>9. In the case of stops described in paragraphs 4 and 6 of this Decision, upon landing of the observation aircraft and prior to its departure from the airfield, the observed Party, in accordance with paragraphs 10 and 19 of Section I of Article VI of the Treaty, or the transited State Party, in accordance with paragraph 3 of Article VII of the Treaty, shall inspect the covers for sensor apertures or other devices that inhibit the operation of sensors. During such stops border and customs procedures may be conducted;</p>
          <p>10. The provisions of paragraph 4, Section V of OSCC Decision Number One shall apply to the flights of observation/transport aircraft conducted in accordance with paragraph 6 of this Decision;</p>
          <p>11. In the spirit of mutual co-operation, openness and transparency strongly identified with the Open Skies Treaty, States Parties are encouraged voluntarily to exchange information on their plans to make transit flights. This information should inform other States Parties of the possible number of landings at transit airfields in its territory during the next 12 months. Ideally, this voluntary exchange would take place as soon as possible after completion of the quota distribution process. Such an exchange is purely to assist in long-term planning and is not binding on any State Party;</p>
          <p> 12. The provisions of this Decision shall be re-examined on the basis of practical experience if so requested by a State Party after one year from the time this Decision enters into force;</p>
          <p> 13. This Decision enters into force on the day of its adoption by the OSCC and shall have the same duration as the Treaty.</p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p> Decided in Vienna, in the Open Skies Consultative Commission on 31 January 2005, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
