<!-- DECISION 14/05 -->
<div id="decision_14_5"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">
      <br>OSCC.DEC/14/05
      <br>12 December 2005
      <br>OSCC+
      <br>Original: ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>4th Meeting of the 38th Session</strong> <br>OSCC(38) Journal No. 117, Agenda item 3(c)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 14/05 <br>PROLONGATION OF THE INFORMAL WORKING GROUP ON <br/>SENSORS' WORK TO REVISE DECISION NUMBER FOURTEEN AND DECISION NUMBER FIFTEEN TO THE TREATY ON OPEN SKIES</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Guided by Decision No. 1/05 of 31 January 2005, the Informal Working Group on Sensors, on the instructions of the Open Skies Consultative Commission, has been working to revise Decision Number Fourteen and Decision Number Fifteen to the Treaty on Open Skies.</p>
      <p>Taking into consideration that the work to revise Decision Number Fourteen and Decision Number Fifteen requires additional time, the Open Skies Consultative Commission agrees to prolong this work into the year of 2006 and to reaffirm the work programme of the Informal Working Group on Sensors established in Decision No. 1/05, with a view to conclude the work not later than 31 July 2006.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 12 December 2005, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
