<!-- DECISION 14/04r2-->
<div id="decision_14_4_r1"></div>

  <div class="row">
    <div class="col-sm-2">
      <p align="left"><a href="#top">Back to Decisions List</a></p>
    </div>
    <div class="col-sm-2 col-sm-offset-8">
      <p align="right">OSCC.DEC/14/04/Rev.2
      <br/>18 July 2005
      <br/>OSCC+
      <br/>Original: ENGLISH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Open Skies Consultative Commission</strong><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u><br>
      <strong>1st Meeting of the 36th Session</strong> <br>OSCC(36) Journal No. 108, Agenda item 3(b)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><strong>DECISION No. 14/04/Rev.2 <br/>TO THE TREATY ON OPEN SKIES <br/>Distribution of active quotas for observation flights in the year 2005</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>In accordance with Article III Section I, paragraphs 5, 7 and 10, Annex A, Section II, paragraph 2, and Annex L, Section II of the Treaty on Open Skies, the Open Skies Consultative Commission has decided on the following distribution of active quotas for observation flights for the year 2005:</p>
        <div class="col-sm-12">
          <p>- <b>The Federal Republic of Germany</b> shall have the right to conduct three observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one shared with the French Republic and one shared with the Kingdom of Spain and the Republic of Latvia, one observation flight over the territory of Bosnia and Herzegovina, shared with the Republic of Turkey, one observation flight over the territory of the Republic of Croatia, shared with the Republic of Bulgaria; one observation flight over the territory of Georgia, shared with the Republic of Turkey, and one observation flight over the territory of Ukraine, shared with the French Republic;</p>
          <p>- <b>The United States of America</b> shall have the right to conduct eight observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one shared with the Republic of Bulgaria, one shared with the Republic of Turkey and one shared with Romania, and one observation flight over the territory of Ukraine, shared with Canada;</p>
          <p>- <b>The Republic of Belarus and the Russian Federation group of States Parties</b> shall have the right to conduct two observation flights over the territory of the Federal Republic of Germany, two observation flights over the territory of the United States of America, one observation flight over the territory of the Republic of Bulgaria, one observation flight over the territory of the Republic of Croatia, shared with the Italian Republic, one observation flight over the Kingdom of Denmark, one observation flight over the territory of the Kingdom of Spain, one observation flight over the territory of Finland, two observation flights over the territory of the French Republic, one observation flight over the territory of Georgia, shared with the United Kingdom of Great Britain and Northern Ireland, two observation flights over the territory of the United Kingdom of Great Britain and Northern Ireland, one observation flight over the territory of the Hellenic Republic, one observation flight over the territory of the Republic of Hungary, two observation flights over the territory of the Italian Republic, one observation flight over the territory of the Republic of Latvia, one observation flight over the territory of the Republic of Lithuania, one observation flight over the territory of the Kingdom of Norway, one observation flight over the territory of the Republic of Poland, one observation flight over the territory of the Portuguese Republic, one observation flight over the territory of Romania, one observation flight over the territory of the Slovak Republic, one observation flight over the territory of the Republic of Slovenia, one observation flight over the territory of the Kingdom of Sweden, one observation flight over the territory of the Czech Republic, and two observation flights over the territory of the Republic of Turkey;</p>
          <p>- <b>The Kingdom of Belgium, the Grand Duchy of Luxembourg and the Kingdom of the Netherlands, referred to as the Benelux</b>, shall have the right to conduct one observation flight over the territory of the Republic of Belarus and the Russian&nbsp;Federation group of States Parties, one observation flight over the territory of Bosnia and Herzegovina and one observation flight over the territory of Georgia, shared with the Hellenic Republic and the Kingdom of Spain;</p>
          <p>- <b>The Republic of Bulgaria</b> shall have the right to conduct one observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties, shared with the United States of America, one observation flight over the territory of Bosnia and Herzegovina, and one observation flight over the territory of the Republic of Croatia, shared with the Federal Republic of Germany;</p>
          <p>- <b>Canada</b> shall have the right to conduct two observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one shared with the Kingdom of Norway, one observation flight over the territory of the Republic of Croatia, shared with the Republic of Hungary, and one observation flight over the territory of Ukraine, shared with the United States of America;</p>
          <p>- <b>The Kingdom of Spain</b> shall have the right to conduct one observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties, shared with the Federal Republic of Germany and the Republic of Latvia, one observation flight over the territory of Georgia, shared with the Benelux group of States Parties and the Hellenic Republic, and one observation flight over the territory of Ukraine, shared with the Czech Republic;</p>
          <p>- <b>The Republic of Finland</b> shall have the right to conduct one observation flight over the territory of the Federal Republic of Germany, one observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties, and one observation flight over the territory of the Kingdom of Sweden;</p>
          <p>- <b>The French Republic</b> shall have the right to conduct three observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one shared with the Federal Republic of Germany and one with the Portuguese Republic and Georgia, and one observation flight over the territory of Ukraine, shared with the Federal Republic of Germany;</p>
          <p>- <b> Georgia</b> shall have the right to conduct one observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties, shared with the French Republic and with the Portuguese Republic;</p>
          <p>- <b>The United Kingdom of Great Britain and Northern Ireland</b> shall have the right to conduct three observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, one observation flight over the territory of Georgia, shared with the Republic of Belarus and the Russian Federation group of States Parties, and one observation flight over the territory of Ukraine;</p>
          <p>- <b>The Hellenic Republic</b> shall have the right to conduct one observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties, one observation flight over the territory of Georgia, shared with the Benelux group of States Parties and the Kingdom of Spain, and one observation flight over the territory of Ukraine, shared with the Italian Republic;</p>
          <p>- <b>The Republic of Hungary</b> shall have the right to conduct one observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties, one observation flight over the territory of the Republic of Croatia, shared with Canada, and one observation flight over the territory of Ukraine;</p>
          <p>- <b>The Italian Republic</b> shall have the right to conduct two observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, one observation flight over the territory of the Republic of Croatia, shared with the Republic of Belarus and the Russian Federation group of States&nbsp;Parties, and one observation flight over the territory of Ukraine, shared with the Hellenic Republic;</p>
          <p>- <b>The Republic of Latvia</b> shall have the right to conduct one observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties, shared with the Federal Republic of Germany and with the Kingdom of Spain, and one observation flight over the territory of the Kingdom of Sweden;</p>
          <p>- <b>The Kingdom of Norway</b> shall have the right to conduct two observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one shared with Canada;</p>
          <p>- <b>The Republic of Poland</b> shall have the right to conduct two observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties;</p>
          <p>- <b>The Portuguese Republic</b> shall have the right to conduct one observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties, shared with the French Republic and with Georgia;</p>
          <p>- <b>Romania</b> shall have the right to conduct one observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties, shared with the United States of America, and one observation flight over the territory of Ukraine;</p>
          <p>- <b>Slovakia</b> shall have the right to conduct one observation flight over the territory of the Republic of Belarus and the Russian Federation group of States Parties;</p>
          <p>- <b>The Kingdom of Sweden</b> shall have the right to conduct one observation flight over the territory of the Republic of Belarus and the Russian Federation group of States&nbsp;Parties, and one observation flight over the territory of the Republic of Poland;</p>
          <p>- <b>The Czech Republic</b> shall have the right to conduct one observation flight over the territory of Ukraine, shared with the Kingdom of Spain;</p>
          <p>- <b>The Republic of Turkey</b> shall have the right to conduct three observation flights over the territory of the Republic of Belarus and the Russian Federation group of States Parties, of which one shared with the United States of America, one observation flight over the territory of Bosnia and Herzegovina, shared with the Federal Republic of Germany, one observation flight over the territory of Georgia, shared with the Federal Republic of Germany, and two observation flights over the territory of Ukraine;</p>
          <p>- <b>Ukraine</b> shall have the right to conduct one observation flight over the territory of Benelux, as referred to in Article XIV of the Treaty, one observation flight over the territory of the Republic of Bulgaria, one observation flight over the territory of the Kingdom of Spain, one observation flight over the territory of Finland, one observation flight over the territory of the Republic of Hungary, one observation flight over the territory of the Republic of Poland, one observation flight over the territory of Romania, one observation flight over the territory of Slovakia, and one observation flight over the territory of the Republic of Turkey.</p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>* * * * *</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Decided in Vienna, in the Open Skies Consultative Commission, on 18 July 2005, in each of the six languages specified in Article XIX of the Treaty on Open Skies, all texts being equally authentic.</p>
    </div>
  </div>

<hr>
