<style>



.Din {
    color: green;
}
.Tpara {
    text-indent: 48px;
}
.DecTxt {
    text-indent: 48px;
}
.DecLstTxt {
    text-indent: 38px;
}
.Numflt {
    float: left;
    color: red;
}
.BQNumFlt {
    float: left;
    margin-left: 48px;
}
.BQTxt {
    text-indent: 30px;
    margin-left: 48px;
    border: ;
    padding-left: ;
}
.BQNumFltTb2 {
    float: left;
    margin-left: 96px;
}
.BQTxtTb2 {
    text-indent: 30px;
    margin-left: 96px;
    border: ;
    padding-left: ;
}
.Eq {
    margin-left: 96px;
}
.EqFlt {
    float: left;
    margin-left: 48px;
}
.BQTxtNoNdnt {
    text-indent: 0px;
    margin-left: 96px;
    border: ;
    padding-left: ;
}
.QTBQTxt {
    text-indent: ;
    margin-left: 96px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.QTLstTxt {
    margin-left: 38px;
    margin-bottom: 0px;
}
.QTNumflt {
    float: left;
    margin-top: 1em;
}
.OneTab{
  float: left;
  clear: both;
  margin-left: 48px;
}
.TwoTab{
  float: left;
  clear: both;
  margin-left: 96px;
}
.ThreeTab{
  float: left;
  clear: both;
  margin-left: 144px;
}
.FourTab{
  float: left;
  clear: both;
  margin-left: 192px;
}
.FiveTab{
  float: left;
  clear: both;
  margin-left: 240px;
}
.SixTab{
  float: left;
  clear: both;
  margin-left: 288px;
}
.SevenTab{
  float: left;
  clear: both;
  margin-left: 336px;
}
.EightTab{
  float: left;
  clear: both;
  margin-left: 384px;
}
.NineTab{
  float: left;
  clear: both;
  margin-left: 432px;
}
</style>
